[2022-09-11 01:12] daspartho commented on #198
Hi @patil-suraj
I'd be happy to work on any additional files that require changes.

[2022-09-11 04:34] sidthekidder commented on #338
Added some code for the LMS Discrete scheduler similar to the DDIM scheduler test. Though I still haven't understood some parts of this scheduler, so the `test_full_loop_no_noise` [is failing](https://github.com/huggingface/diffusers/runs/8289643421?check_suite_focus=true) and I'm not sure how to fix it. The value of the [residual var here](https://github.com/huggingface/diffusers/pull/467/files#d

[2022-09-11 07:43] boyjunqiang opened #468 "How can I transfer the self-trained model folder to a single ckpt model file?"
I trained a model in local PC following this instruction: diffusers\examples\textual_inversion\README.md

The output of the self-trained model is a folder：

![Pasted Graphic 4](https://user-images.githubusercontent.com/49113/189517271-2f3196b2-b985-42b2-bed1-211ac2b46c17.png)

I can use StableDiffusionPipeline.from_pretrained(“THE OUTPUT OF MODEL FOLDER PATH”) to inference.

BUT, the origin stable

[2022-09-11 10:18] abesmon commented on #462
what's your PyTorch version? I've tried just now on 1.13.0.dev20220909 and can't reproduce problems. Everything seems ok:
![fantasy_landscape](https://user-images.githubusercontent.com/16459467/189522412-8aad9b85-5691-490b-96d4-dd6b89a0fd8e.png)

[2022-09-11 12:01] Inkorak commented on #468
For now, this cannot be done. The only way is to write your own diffusers to comp-vis format converter.

[2022-09-11 12:04] FahimF commented on #462
Failed with PyTorch 1.13.0.dev20220908 but works with 1.13.0.dev20220911. So must have been a PyTorch issue. Closing ticket.

[2022-09-11 12:04] #462 closed

[2022-09-11 13:48] Vijayabhaskar96 commented on #460
Here is the [Colab Notebook](https://colab.research.google.com/drive/1gPEaEojk1OqYc7JGLSS964KCBrNwKC_C?usp=sharing). replicating the error.

[2022-09-11 14:31] SkyTNT commented on #460
This is my PR trying to fix this issues: #440

[2022-09-11 15:22] leszekhanusz commented on #307
@Inkorak
With a few changes I was able to [make it work](https://github.com/leszekhanusz/diffusion-ui-backend/blob/upgrade_to_diffusers_0_3_0/src/diffusionui/pipelines/pipeline_stable_diffusion.py).

[2022-09-11 15:54] brurpo commented on #436
Thanks for the explanation!
Its really easy to customize it for yourself if you need to anyway!
Thanks again!

[2022-09-11 15:54] leszekhanusz commented on #438
@allo- I made the PR #469 to fix the boundary problem

[2022-09-11 16:09] leszekhanusz commented on #436
Because I think it's interesting for many people [I am going to maintain a unified pipeline](https://github.com/leszekhanusz/diffusion-ui-backend/tree/main/src/diffusionui/pipelines).

to install:
[code]

to use:
[code]

then use this pipeline for either text-to-image, image-to-image or inpainting.

[2022-09-11 16:09] leszekhanusz commented on #307
Because I think it's interesting for many people [I am going to maintain a unified pipeline](https://github.com/leszekhanusz/diffusion-ui-backend/tree/main/src/diffusionui/pipelines).

to install:
[code]

to use:
[code]

then use this pipeline for either text-to-image, image-to-image or inpainting.

[2022-09-11 20:42] trapbuilder2 opened #470 "Cannot install diffusers through PIP, conflicting dependencies"
### Describe the bug

pip install --upgrade diffusers
Collecting diffusers
  Using cached diffusers-0.3.0-py3-none-any.whl (153 kB)
Collecting regex!=2019.12.17
  Using cached regex-2022.9.11-cp37-cp37m-win32.whl (250 kB)
Collecting Pillow
  Using cached Pillow-9.2.0-cp37-cp37m-win32.whl (2.8 MB)
Requirement already satisfied: importlib-metadata in c:\users\ryans\appdata\local\programs\python\pyth

[2022-09-11 21:16] Birch-san commented on #452
yes, I tried making the same change in CompVis `attention.py`, on MPS backend:
https://github.com/Birch-san/stable-diffusion/commit/d2d533dbc3fe2e430a3ab9feaf23aa28a8b8178f

and inference speed dropped from ~1.25s/it to ~1.82s/it.
8 step sample regressed from ~10.7s to ~14.5s.

also, a different picture is generated. same seed each time.

einsum:
![00093 s68673924heun8_kns_ek](https://user-images.

[2022-09-11 21:34] natolambert commented on #470
Can you provide more info on your environment? I've seen errors like this in the past when I have an old version of PyTorch installed or something of the likes.

[2022-09-11 21:51] trapbuilder2 commented on #470
I don't believe I've ever installed PyTorch. I don't know how to check my environment, but I assume it is as close to factory settings as can be. I believe this is the first time I've run PIP on this machine, but if there's a way to check something pertinent to this issue then please tell me how

[2022-09-11 21:59] natolambert commented on #470
Gotcha, thanks this helps. I can think about it a little, hmm.

[2022-09-11 22:19] natolambert commented on #444
Okay the power of 3 thing seems fixed in #466, I need to check the number of iterations though before merged.

@sausix

[2022-09-11 22:34] natolambert commented on #444
Okay, looks good to me, will close this issue as we will merge #466 shortly.

[code]

[2022-09-11 22:35] sausix commented on #444
@natolambert Thank for fixing quickly.
Will test it tommorrow too. Found some other non 3 related iterations yesterday.

[2022-09-12 02:39] FahimF commented on #358
Just updating that this issue might have been due to something in the PyTorch nightlies. I could not generate valid images via img2img either and then updated PyTorch nightly (and did a clean install) and that issue went away. So I tested for this one and this one's gone too ...

[2022-09-12 06:11] patil-suraj commented on #452
how are you using the seeds ? `diffusers` pipelines uses the `torch.Generator` objects for seeds.  To get reproducible results we need to reinit the `torch.Generator` with the same seed as using the same generator multiple times advances the rng state.

The correct way to check this would be running this same block multiple times.

[code]

[2022-09-12 07:23] pcuenca commented on #358
Actually I could reproduce this issue using the img2img pipeline as you said with the `LMSDiscreteScheduler`. I created a PR that we should merge soon :)

[2022-09-12 07:25] FahimF commented on #358
Cool 😄 I did see that you had a PR but just letting you know just in case I sent you on a wild-goose chase. I really have no idea what happened but at least two bugs I had 3 days ago have disappeared with the PyTorch nightly from yesterday.

[2022-09-12 07:31] pcuenca commented on #358
That's interesting, PyTorch must have merged some fixes maybe? We'll have to test again in case they are falling back to CPU and performance degrades. Thanks!

[2022-09-12 07:33] FahimF commented on #358
Sure thing 😄 If you need any additional info, please let me know but the nightly build that I'm running where I don't have the issues is:
torch                         1.13.0.dev20220911
torchaudio                    0.13.0.dev20220911
torchvision                   0.14.0.dev20220911

[2022-09-12 08:39] patil-suraj commented on #444
The offsetting is very specific to latnet/stable diffusion model, it's not used by other models like the original ddpm models.
Also we should indeed update the latent diffusion pipeline to add the offset there. Feel free to open a PR if you want :)

[2022-09-12 08:41] patil-suraj commented on #465
cc @patrickvonplaten @anton-l

[2022-09-12 08:52] patrickvonplaten opened #474 "Can I adapt existing UNet Blocks?"
**What API design would you like to have changed or added to the library? Why?**

In diffusers, we add Downsample2D  (for the non-final block), [see here](https://github.com/huggingface/diffusers/blob/8eaaa546d89f836b716e92348786d878f883ee86/src/diffusers/models/unet_2d.py#L114). This could be a conv layer or avg. pool layer. However, in guided-diffusion, it uses Res block for downsampling (contro

[2022-09-12 08:54] patrickvonplaten commented on #474
In general, it's always safest to add a new block if the current block is logically different to what you need. Given that blocks are retrieved via "name-matching" e.g. you look up the block name in the config and according to the name you pick the correct block class from https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_blocks.py, it doesn't really hurt to add one more

[2022-09-12 09:12] ydshieh commented on #474
Thanks @patrickvonplaten.

To @patil-suraj (for a continuation on our Slack discussion)

In `diffusers`, `DownBlock2D` have some `ResBlock`, then a `downsampling` layer (`Downsample2D`), which is conv layer or average pooling layer.

In `guided-diffusion`, the `resblock_updown` is used to specify what the `downsampling` layer should be. Before the downsampling, it already has the necessary Res blo

[2022-09-12 09:26] ydshieh commented on #474
Let me know if I missed some details and made the wrong claim above.

[2022-09-12 10:22] patrickvonplaten opened #475 "JAX Integration"
## JAX Integration

This issue will be used as a tracker to integrate Stable Diffusion in JAX natively to `diffusers`. This will enable many cool use cases noteably running stable diffusion on a google colab.

### General design:

We will make loosen the forced PyTorch dependency and instead force the user to either install PyTorch or JAX. Then we will mirror the following "base" classes to be JAX

[2022-09-12 10:26] patil-suraj commented on #475
Yes, let's only work with `flax.linen.Module`, adding the wrapper indeed creates some confusion when using these models as submodules in other models.

[2022-09-12 10:30] patil-suraj commented on #475
For 4. we could adapt this https://github.com/patil-suraj/stable-diffusion-jax/blob/main/stable_diffusion_jax/convert_diffusers_to_jax.py#L94

[2022-09-12 10:33] mishig25 commented on #475
Yes, I'd like to take point 2 and happy to discuss the details 👍

[2022-09-12 10:34] pcuenca commented on #475
We also need to create a Flax notebook after all is done. I wrote a draft that uses @patil-suraj's repo.

[2022-09-12 10:35] pcuenca commented on #475
Sure, I'll get started with `3`.

[2022-09-12 10:39] kashif commented on #475
I am gonna do `5`

[2022-09-12 10:42] gradjitta commented on #322
@patrickvonplaten That sounds good. Would it be OK if I started working on it 15th of this month?

[2022-09-12 10:54] Nash2325138 opened #476 "What are the original NSFW concepts used in the safety checker?"
It looks like the safety checker uses some NSFW concept embeddings generated from CLIP to filter out unsafe content.
I wonder if we can get the original concepts in text instead of in CLIP embeddings?

Because I want to know if those concepts already cover what I want to filter, if not, I can generate my extra NSFW concepts embeddings from CLIP and use them in the safety checker.

Thanks in advanc

[2022-09-12 11:03] patrickvonplaten commented on #475
Asked Flax team about design here: https://github.com/google/flax/discussions/2454

[2022-09-12 11:27] jonatanklosko commented on #444
@patil-suraj I'm happy to send a PR, but it seems to me that `offset` would make more sense as scheduler configuration field, rather than argument to `set_timestamps`, as mentioned in https://github.com/huggingface/diffusers/issues/465#issuecomment-1242818476, wdyt?

[2022-09-12 11:29] rokbok opened #477 "off-by-one error in pndm scheduler"
There appears to be an off-by-one error on this line:
https://github.com/huggingface/diffusers/blob/25a51b63ca75e1351069bee87a0fb3df5abb89c3/src/diffusers/schedulers/scheduling_pndm.py#L338

I got `IndexError: index 1000 is out of bounds for dimension 0 with size 1000`

Repro script:
[code]

[2022-09-12 11:41] trapbuilder2 commented on #470
Note: I reinstalled Python and now experience this error:

pip install --upgrade diffusers
Fatal error in launcher: Unable to create process using '"C:\Users\[redacted]\AppData\Local\Programs\Python\Python37-32\python.exe"  "C:\Users\[redacted]\AppData\Local\Programs\Python\Python37-32\Scripts\pip.exe" install --upgrade diffusers': The system cannot find the file specified.

I installed the 64 bit

[2022-09-12 12:28] patrickvonplaten commented on #307
Very cool @leszekhanusz !

[2022-09-12 12:30] patrickvonplaten commented on #444
Let's close the issue only when the PR is in main :-)

[2022-09-12 12:32] patrickvonplaten commented on #465
@jonatanklosko, that's a very good idea. I think it makes indeed a lot of sense to move `offset` directly to the config as this is not a parameter one would change really for the same model.

[2022-09-12 12:33] patrickvonplaten commented on #465
@jonatanklosko would you like to open a PR for it (maybe with some deprecation cycle?)

[2022-09-12 12:35] pcuenca opened #478 "4. Add automatic conversion PT <=> Flax script."

[2022-09-12 12:36] patrickvonplaten commented on #465
Just to summarize, I think by having both:

``steps_offset`` and ``set_alpha_to_one`` in the config as you suggested @jonatanklosko we should enable all use cases that we need. We should then indeed document this nicely.

@jonatanklosko very cool summary here, let me know if you need any help :-)

[2022-09-12 12:37] patrickvonplaten commented on #322
Sure!

[2022-09-12 12:38] jonatanklosko commented on #465
@patrickvonplaten there's also https://github.com/huggingface/diffusers/issues/465#issuecomment-1242816683, do you think removing `1 - self._offset` makes sense?

[2022-09-12 12:38] patrickvonplaten commented on #474
This sounds reasonable to me @ydshieh :-)
Should we see in a PR how it could look like - I think we can just add a new `unet_block` for this

[2022-09-12 12:40] trapbuilder2 commented on #470
The installation never completed, but it seems to be running fine now. Issue closed

[2022-09-12 12:40] #470 closed

[2022-09-12 12:49] rashmimarganiatgithub commented on #280
@qsh-zh, thanks for pointing out on PNDM codebase and for clarifying my doubt.

[2022-09-12 12:57] patrickvonplaten commented on #465
Yes I think it makes sense to adapt the code here a bit to allow all the following options:

1. final prev_timestep gives `timesteps[0]` and final timestep gives `timesteps[1]` (compvis) => `set_alpha_to_one=False` and `offset=1`
2. final prev_timestep gives `1` and final timestep fives `timesteps[1]` => `set_alpha_to_one=True` and `offset=1`
4. final prev_timestep gives `1` and final timestep fiv

[2022-09-12 12:57] patrickvonplaten commented on #465
So we can essentially merge the DDIM `alpha_to_one` logic into PNDM and move the offset logic more to init. Hope this makes sense :-)

[2022-09-12 12:59] patrickvonplaten commented on #452
Just to be sure, performance degradation is only noticeable for MPS here no?

[2022-09-12 13:01] patrickvonplaten commented on #452
Can someone from PyTorch or Apple help us here a bit? I'm not sure we have the know-how to dive into core-operations of PyTorch to figure out what is faster. Are there some common gotcha's on how to use PyTorch for MPS?

[2022-09-12 13:02] patrickvonplaten commented on #338
@anton-l can you help here?

[2022-09-12 13:03] patrickvonplaten commented on #176
Think @ydshieh is actually working on this one

[2022-09-12 13:05] anton-l commented on #338
Hi @sidthekidder, checking your PR, will comment there soon! :hugs:

[2022-09-12 13:13] patrickvonplaten commented on #205
Very cool! Should we make it a community notebook (and add it under https://github.com/huggingface/diffusers/tree/main/examples/community - it'd be the first one :partying_face: )

[2022-09-12 13:14] patrickvonplaten commented on #281
Hey @piEsposito,

Do we need both arguments here? Could we maybe just add `device_map` for now ?

[2022-09-12 13:16] piEsposito commented on #281
@patrickvonplaten `device_map` would automatically imply that `low_cpu_mem_usage` is `True`, and `low_cpu_mem_usage` needs a device map, we can stick to `device_map` only.

I can update the PR branch asap if you think that makes sense.

[2022-09-12 13:20] jonatanklosko commented on #465
By `timesteps[n]` you probably meant `alphas_cumprod[n]` in the list of cases above, no?

Also here:

[code]

I don't see why we need to add the offset. For example, at timestamp `101`, prev timestamp would be `1`, so we want to take `alphas_cumprod[1]` rather than `alphas_cumprod[1 + self._offset]`.

[2022-09-12 13:20] patrickvonplaten commented on #281
@patil-suraj btw if you're very busy - happy to take this one!

[2022-09-12 13:28] ydshieh commented on #176
Well I am working on `blended-diffusion`, which uses [OpenAI/guided-diffusion](https://github.com/openai/guided-diffusion), which itself is based on [OpenAI/improved-diffusion](https://github.com/openai/improved-diffusion).

When I searched `GLIDE`, I found [OpenAI/glide-text2im](https://github.com/openai/glide-text2im).

Probably they will turn out to have the same origin, but I am a bit overwhel

[2022-09-12 13:44] ydshieh commented on #474
I was thinking to add a new block type in my PR for [blended-diffusion](https://github.com/huggingface/diffusers/pull/362), which  is far from being ready.

My idea is to add something called `GuidedDiffusionDownBlock` in

https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_blocks.py

and use `down_block_type == "GuidedDiffusionDownBlock"` in [get_down_block](https://githu

[2022-09-12 14:24] rashmimarganiatgithub commented on #146
I can do this if no one has taken this up yet.

[2022-09-12 14:41] piEsposito commented on #281
@patrickvonplaten just did it. If the direction I'm going is right I can make the Pipeline abstractions pass it too and then create the proper tests and work on code quality.

[2022-09-12 14:58] ydshieh opened #482 "Some methods mix the usage of numpy and torch"
### Describe the bug

Here are what I find in `resnet.py` (not checking other files at this moment).

Goal: replace this with pure torch methods

- [FirUpsample2D._upsample_2d](https://github.com/huggingface/diffusers/blob/f4781a0b27ffb3ea61ecd25b0b87305e0960304e/src/diffusers/models/resnet.py#L137)
- [FirDownsample2D. _downsample_2d](https://github.com/huggingface/diffusers/blob/f4781a0b27ffb3ea6

[2022-09-12 15:32] natolambert opened #484 "PNDMSchedulerTest::test_full_loop_no_noise uses time index rather than time_step in `step`"
### Describe the bug

One can see the usage of the `PNDMScheduler` in the `PNDMPipeline` (Or stable diffusion for that matter), and it looks like this, with timesteps passed into the scheduler

https://github.com/huggingface/diffusers/blob/f4781a0b27ffb3ea61ecd25b0b87305e0960304e/src/diffusers/pipelines/pndm/pipeline_pndm.py#L97-L101

Though, in the `test_scheduler` file it is backwards. This may

[2022-09-12 15:46] natolambert commented on #477
We are discussing this in #444 and is being solved in #466 soon!

[2022-09-12 16:56] apcode commented on #305
This is still not working for me. I followed the above comment to uninstall the old diffusers then install from git.

[code]

[2022-09-12 17:42] ari-holtzman opened #486 "Invisible Watermarking and Inclusion as Default"
Hi all,

Love the work y’all are doing!

The original [CompVis Stable Diffusion repo](https://github.com/CompVis/stable-diffusion) includes invisible watermarking so that images generated don’t end-up polluting newly scraped training data with automatically generated results, [as is already happening for text data.](https://arxiv.org/abs/2104.08758).

It'd be great to include invisible watermarkin

[2022-09-12 19:41] rokbok commented on #477
Thanks for the heads-up

[2022-09-12 19:41] #477 closed

[2022-09-12 20:44] stancld opened #487 "`StableDiffusionPipeline` does not work on M1 CPU"
### Describe the bug

When trying to run `StableDiffusionPipeline` locally on my M1 Mac (used CPU), I obtain torch type mismatch. Is it expected to be able to run the example on CPU?

### Reproduction

The example from `README.md`

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.3.0
- Platform: macOS-12.5-arm64-arm-64bit
- Python version: 3.8.12
- PyTorch version (GPU?): 1.12.1

[2022-09-12 21:15] pcuenca commented on #452
Yes.

[2022-09-12 21:45] TomPham97 commented on #476
I'm not sure if this is what you're looking for, but here's [how to disable CompVis's stable diffusion safety models](https://www.reddit.com/r/StableDiffusion/comments/wv2nw0/tutorial_how_to_remove_the_safety_filter_in_5/).

[2022-09-12 21:52] pcuenca commented on #460
Oh, I see, I didn't understand it initially; it works for me because I have both packages installed.

Thanks @Vijayabhaskar96 and @SkyTNT, what do you think @anton-l ?

[2022-09-12 22:03] pcuenca commented on #487
Hi @stancld, thanks for writing!

You don't need the `autocast` line in this case, can you try without it? The README file was written for the most common case, we should try to make it clearer. Meanwhile, please refer to the documentation specific for Apple silicon: https://huggingface.co/docs/diffusers/optimization/mps.

[2022-09-12 23:52] st-howard opened #488 "Diffusion Pipeline numpy_to_pil fails for grayscale/single channel images"
### Describe the bug

This is my first time creating an issue and I'm just starting to use the diffusers library. Really enjoying it! Also, apologies if I'm using the `DiffusionPipeline` incorrectly.

I'm trying to follow along the [unconditional image generation example notebook](https://github.com/huggingface/diffusers/blob/main/docs/source/training/overview.mdx), but substitute the butterfly da

[2022-09-13 00:06] Birch-san commented on #452
pretty much the same way as CompVis `txt2img` works out-of-the-box:

https://github.com/Birch-san/stable-diffusion/blob/18bb5f8fad9148b162b61a4b94d9cadba3cae721/scripts/txt2img_fork.py#L711

I run `--n_iter 1 --n_samples 1 --seed 68673924`. the program terminates. I run it again with the same parameters. it produces the same image each time.
the problem is that changing `einsum()` to `matmul()` pr

[2022-09-13 03:18] yuananf opened #489 "Is it possible to convert the onnx model to fp16 model?"
The torch example gives parameter ```revision="fp16"```, can onnx model do the same optimization? Current onnx inference(using CUDAExecutionProvider) is slower than torch version, and used more gpu memory than torch version(12G vs 4G).

[2022-09-13 03:31] PhilippeNguyen opened #490 "Memory Issues: Compvis/Stable-Diffusion works, diffusers does not"
### Describe the bug

Hi, I've been able to run the stable diffusion scripts from [https://github.com/CompVis/stable-diffusion](https://github.com/CompVis/stable-diffusion) perfectly fine.
However, the [basic text to image example given on the readme of the diffusers page ](https://github.com/huggingface/diffusers/blob/main/README.md#text-to-image-generation-with-stable-diffusion) does not work. I

[2022-09-13 04:53] stancld commented on #487
Hi @pcuenca,

Thank you very much the prompt reply - Yes, I can confirm running the pipeline without `autocast` clause works fine! :] (Actually, not sure if the script is expected to run on cpu with autocast clause -- so, please, feel free to close this issue as resolved O:] )

Also thank you for the reference to the MPS-related docs! 👍

[2022-09-13 07:08] Inkorak opened #491 "Script for converting SD weights from compvis to diffusers"
It is desirable to have a script for converting SD weights from compvis to diffusers and vice versa. People are already finetuning models, but they do it on different bases. Examples: [for diffusers](https://huggingface.co/hakurei/waifu-diffusion), [for compvis](https://huggingface.co/naclbit/trinart_stable_diffusion_v2)

Therefore, it would be nice to be able to convert them.

[2022-09-13 07:34] Nash2325138 commented on #476
@TomPham97 thanks for the your suggestion. I took a look at your link, but I am not searching for how to disable it.
What I want instead is to know the original NSFW concepts (in text) they are using in the safety checker. So I can add more concepts to match based on my needs

[2022-09-13 07:48] pcuenca commented on #487
Glad it worked! We'll improve the README soon, thanks a lot!

[2022-09-13 07:48] #487 closed

[2022-09-13 07:57] pcuenca commented on #409
Closing this snow. @kritonpc please, reopen if it wasn't resolved :)

[2022-09-13 07:57] #409 closed

[2022-09-13 08:33] batrlatom commented on #36
This is the middle of the road, but it is necessary to be able to use tensorrt (through the torch_tensorrt library). Check out this implementation. Converting to torchscript and layer fusion increases the speed by 50%, which is pretty cool. Do you want to try adding it to the official library? https://github.com/cloneofsimo/sd-various-ideas/blob/main/create_jit.ipynb

[2022-09-13 08:51] pcuenca commented on #452
I was trying to isolate a a reproducible test case to report in a PyTorch issue but couldn't, the following two functions behave similarly.

[code]

[code]

I don't know if there's something else we are doing that is preventing the mps graphs from being cached.

[2022-09-13 09:23] pcuenca commented on #358
Hi @FahimF, actually the branch in #450 fixes the other issue. I'll close this one and reopen #239 instead.

[2022-09-13 09:23] #358 closed

[2022-09-13 10:29] juno-hwang opened #497 "Typo in StableDiffusionInpaintPipeline.disable_attention_slicing() method"
### Describe the bug

To enable/disable attention slicing, one need to use enable/disable_attention_slicing() method.

but in StableDiffusionInpaintPipeline class, there is misspelling in disable_attention_slicing() method.

`self.enable_attention_slice(None)` should be replaced as `self.enable_attention_slicing(None)`.

### Reproduction

_No response_

### Logs

[code]

### System Info

Google Co

[2022-09-13 11:32] pcuenca commented on #497
Thanks @juno-hwang! The same thing happens in the `img2img` pipeline, will fix it.

[2022-09-13 11:52] patrickvonplaten commented on #434
@anton-l could you take a look here?

[2022-09-13 11:55] patrickvonplaten commented on #81
I think we've mentioned a couple of times to remove the `init_git_repo` functionality from the unconditional training script. Also see: https://github.com/huggingface/diffusers/pull/266#discussion_r960542231

@anton-l could you please adapt the unconditional training script accordingly?

[2022-09-13 12:25] #497 closed

[2022-09-13 13:05] patrickvonplaten commented on #176
Ah yeah true - thanks for the info @ydshieh . So I guess there is overlap but there are not identical

[2022-09-13 13:05] patrickvonplaten commented on #474
Yes this sounds very nice!

[2022-09-13 13:06] patrickvonplaten commented on #281
Perfect - reviewing today!

[2022-09-13 13:14] patrickvonplaten commented on #465
Yes very good point! The PR looks very nice

[2022-09-13 13:16] patrickvonplaten commented on #305
Hey @apcode,

Could you run `diffusers-cli env` and show what versions you're using ? E.g. what Python version, what torch version, on what platform etc...

[2022-09-13 13:17] patrickvonplaten commented on #452
@pcuenca - let's ask the PyTorch team here

[2022-09-13 14:19] c-goldschmidt opened #499 "Example unconditional training script does not work"
### Describe the bug

When running the [example unconditional training script](https://github.com/huggingface/diffusers/blob/main/examples/unconditional_image_generation/train_unconditional.py)
on GPU using `--mixed_precision=fp16`, the autocasting of accelerate will break:

[code]

This happens due to the fact that in `accelerate.utils.operations.recursively_apply` the "Mapping" class is handled

[2022-09-13 14:22] apcode commented on #305
[code]

[2022-09-13 15:06] patrickvonplaten commented on #239
Should we maybe open a new issue here stating that this concerns mostly "mps"?

[2022-09-13 15:16] danielpatrickhug commented on #205
Sure! I'll make a pull request to add the notebook to the community folder. The notebook is completely self-contained and should operate on the free version of google Colab - I've only tested it twice on the free version. I'll do my best to keep it up to date as the diffusers library updates.

[2022-09-13 15:20] apcode commented on #305
upgraded to transformers==4.21.3 still happens.

[2022-09-13 15:32] patrickvonplaten commented on #380
Is this issues still relevant? Think you are right indeed and we can remove such parameters

[2022-09-13 15:34] patrickvonplaten commented on #122
Closing due to inactivity

[2022-09-13 15:34] #122 closed

[2022-09-13 15:35] patrickvonplaten commented on #135
Closing as this is no longer relevant

[2022-09-13 15:35] #135 closed

[2022-09-13 15:35] #138 closed

[2022-09-13 15:36] patrickvonplaten commented on #144
We're currently adding JAX with see https://github.com/huggingface/diffusers/issues/475 . We don't plan on adding TF in anytime soon.

[2022-09-13 15:36] #144 closed

[2022-09-13 15:41] patrickvonplaten commented on #149
Hey @taki0112,

I think `use_conv=False` is correct here since the integration tests for those models all pass: https://huggingface.co/models?arxiv=arxiv:2011.13456

Closing this for now. Please ping me or re-open if you find a bug due to `use_conv`

[2022-09-13 15:42] anton-l commented on #490
@patrickvonplaten we might need a better test for peak VRAM consumption to verify this, wdyt?

[2022-09-13 15:42] patrickvonplaten commented on #150
Could we open a new issue about adding "majesty-diffusion" to not loose track here. Closing this one as "Reading model from a local file" was answered above.

[2022-09-13 15:42] #150 closed

[2022-09-13 15:43] patrickvonplaten commented on #151
Closing now @richardrl - please ping us if your question hasn't been answered well enough in your opinion.

[2022-09-13 15:43] #151 closed

[2022-09-13 15:43] patrickvonplaten commented on #174
Closing due to inactivity

[2022-09-13 15:43] #174 closed

[2022-09-13 15:43] patrickvonplaten commented on #175
PR was merged, so closing this one :-)

[2022-09-13 15:43] #175 closed

[2022-09-13 15:45] patrickvonplaten commented on #177
This is indeed still missing - opening a PR now

[2022-09-13 15:47] anton-l commented on #489
Hi @yuananf! At the moment the onnx pipeline is less optimized than its pytorch counterpart, so all computation happens in `float32` and there's overhead due to cpu-gpu tensor copies in the inference sampling loop.
For now only the CPU runtime offers a significant speedup over pytorch, but we're working with the onnxruntime team on a GPU revamp. If you see something obvious that could improve perf

[2022-09-13 15:51] patrickvonplaten commented on #180
That's a good point and I don't really have a good answer. Think it'll be hard to change now though given backwards breaking compability

[2022-09-13 15:52] patrickvonplaten commented on #181
@sam598 does this solve your questions here?

[2022-09-13 15:52] patrickvonplaten commented on #193
Closing due to inactivity

[2022-09-13 15:52] #193 closed

[2022-09-13 15:53] patrickvonplaten commented on #200
ping again to @anton-l and @patil-suraj here

[2022-09-13 15:54] patrickvonplaten commented on #215
Closing due to inactivity

[2022-09-13 15:54] #233 closed

[2022-09-13 15:54] patrickvonplaten commented on #235
Closing due to inactivity

[2022-09-13 15:54] #235 closed

[2022-09-13 15:55] #244 closed

[2022-09-13 15:55] patrickvonplaten commented on #251
Closing due to inactivity

[2022-09-13 15:55] #251 closed

[2022-09-13 15:56] patrickvonplaten commented on #255
cc @patil-suraj could you take a look here? Also cc @anton-l

[2022-09-13 15:57] patrickvonplaten commented on #267
Closing due to inactivity. @LucasSilvaFerreira please leave a message if question wasn't answered

[2022-09-13 15:57] #267 closed

[2022-09-13 15:57] patrickvonplaten commented on #272
cc @anton-l

[2022-09-13 15:58] patrickvonplaten commented on #275
Closing since questions seem to be answered. @BIGJUN777 please re-ping if you had more questions

[2022-09-13 15:58] #275 closed

[2022-09-13 15:59] patrickvonplaten commented on #282
@krrishdholakia does it still not work on CPU? cc'ing our in-painting authors here: @patil-suraj and @anton-l

[2022-09-13 15:59] patrickvonplaten commented on #283
This is also related to: https://github.com/huggingface/diffusers/issues/336

[2022-09-13 16:01] patrickvonplaten commented on #304
The problem seems to be "module 'PIL.Image' has no attribute 'Resampling'" . Could you maybe try updating PIL to 9.1.0?

[2022-09-13 16:02] patrickvonplaten commented on #305
Okey sorry, next try.

Could you update `huggingface_hub` by running:

[code]

[2022-09-13 16:02] patrickvonplaten commented on #311
Cool design taken -> we'll have framework-dependent schedulers :-)

[2022-09-13 16:04] patrickvonplaten commented on #369
cc @patil-suraj - are we planning on supporting this soon or rather not?

[2022-09-13 16:04] samedii commented on #263
Sorry forgot to close

[2022-09-13 16:04] #263 closed

[2022-09-13 16:04] patrickvonplaten commented on #374
cc @anton-l @patil-suraj again

[2022-09-13 16:08] apcode commented on #305
`huggingface-hub==0.9.1`

Still no joy.  I appreciate the help btw

[2022-09-13 16:08] #389 closed

[2022-09-13 16:09] patrickvonplaten commented on #398
Related to: https://github.com/huggingface/diffusers/issues/336

[2022-09-13 16:09] #405 closed

[2022-09-13 16:09] patrickvonplaten commented on #411
Gently ping here to update the notebook cc @patil-suraj

[2022-09-13 16:10] #435 closed

[2022-09-13 16:14] pcuenca opened #501 "MPS: scheduler indices must be in the same device as the indexed tensor"
Continuation of #239, but specific for `mps`. /cc @FahimF. Being fixed in #450.

[2022-09-13 16:15] #239 closed

[2022-09-13 16:19] patrickvonplaten commented on #447
Thanks for opening this issue - that's a good comment indeed!

Cc @anton-l @patil-suraj here

[2022-09-13 16:19] patrickvonplaten commented on #454
cc @anton-l

[2022-09-13 16:20] patrickvonplaten commented on #454
Probably related to: https://github.com/huggingface/diffusers/issues/336

[2022-09-13 16:23] patrickvonplaten commented on #458
Hey @keturn that's an interesting idea! The problem though is that we have to maintain backward compatibility with the tuples tensor, so `tuples[0]` output has to match `StableDiffusionPipelineOutput[0]`.

We could deprecate the `output_type` function argument and maybe just add a new `.images_array` variable?

Also cc @anton-l @patil-suraj

[2022-09-13 16:24] patrickvonplaten commented on #459
Hey @deepdiffuser, I think we could easily add such a pipeline under the https://github.com/huggingface/diffusers/tree/main/examples/community folder. Would you like to give it a try? Would love to advertise it!

[2022-09-13 16:25] patrickvonplaten commented on #463
Related to https://github.com/huggingface/diffusers/issues/146

[2022-09-13 16:27] patrickvonplaten commented on #468
Interesting!

cc @apolinario @patil-suraj

Which webui tool are you using @boyjunqiang ? Maybe we could see if we could integrate `diffusers` into the codebase or alternatively we could add some conversion scripts here.

[2022-09-13 16:28] patrickvonplaten commented on #476
Personally I'd be fine with exposing the names by now but we'd have to sync with Stability AI on this one. Will ask! cc @mmitchellai @yjernite @apolinario here

[2022-09-13 16:29] patrickvonplaten commented on #482
Thanks a lot for opening this, we should indeed make those pure PyTorch functions

[2022-09-13 16:30] patrickvonplaten commented on #484
Oh good point! Thanks for pointing this out @natolambert - we should fix the tests here. They are wrong

[2022-09-13 16:32] patrickvonplaten commented on #486
Hey @ari-holtzman,

Very good point - thanks for bringing this up here! I wonder whether it would be ok to add this optionally with a flag so that we don't break backwards compatibility. cc @apolinario @mmitchellai - ok if we don't make the watermark the default? It would really hurt the library in terms of backwards compatibility if we'd have to do this

[2022-09-13 16:34] anton-l commented on #458
Agree with @patrickvonplaten regarding the matching tuples, but returning a PIL image by default won't work either (ONNX restriction to only have lists or tensors in the output).
But having an `as_pil()` function in the dataclass instead could work, although breaking the "returning PIL by default" design.

[2022-09-13 16:34] rickyars commented on #405
Can you elaborate? What was the fix?

[2022-09-13 16:41] patrickvonplaten commented on #490
Hmm, I just verified again and the code above should definitely work with 8GB of RAM.

@PhilippeNguyen could you try doing the following on your computer:

[code]

and then run this test:

[code]

As you can see here: https://github.com/huggingface/diffusers/blob/b56f102765707ce34c7016409a8b901942edb977/tests/test_pipelines.py#L1102

This test makes sure that VRAM is below 4GB.

@PhilippeNguyen co

[2022-09-13 16:43] patrickvonplaten commented on #491
Agree! It'd be nice to add such a script - we already have a CompVis->Diffusers one: https://github.com/huggingface/diffusers/blob/main/scripts/convert_ldm_original_checkpoint_to_diffusers.py but it'd be nice to clean this up a bit. Would be nice to add the other direction too.

[2022-09-13 17:05] natolambert commented on #484
I would've done it directly, but the systems I use (m1 mac and a GCP machine) always fail on that specific test anyways, so I can't update the numbers that easily.

[2022-09-13 17:09] patrickvonplaten commented on #484
Ok happy to take care of it!

[2022-09-13 17:10] 1blackbar commented on #411
Can You guys open up vector numbers so we can change them ? I got much better results with 2 and still great editability
https://github.com/rinongal/textual_inversion/issues/35

[2022-09-13 17:11] 1blackbar commented on #411
Can You guys open up vector numbers so we can change them ? I got much better results with 2 and still great editability
https://github.com/rinongal/textual_inversion/issues/35

[2022-09-13 17:18] #177 closed

[2022-09-13 17:55] 1blackbar commented on #441
I mean iyou should be able to just type in your tokenized acces code, if you really want peope to use it , its just doesnt work unless its not in conda, works in windows terminal but i dont want to run it under that.

[2022-09-13 18:01] 1blackbar commented on #441
this in readme would save A LOT of time for a lot of people

[2022-09-13 18:46] meg-huggingface commented on #476
Agree this would be good to know; inquiring with StabilityAI/CompVis if it makes sense to share.

[2022-09-13 19:54] keturn commented on #374
Not completely.

My primary familiarity with asynchronous APIs in Python is through [Twisted](https://twisted.org/), and I get the feeling that is not a common API among your target audience in this day and age.

I imagine you want something framework-agnostic, but with an eye toward being convenient in Jupyter notebooks, so I'd look to see if there's established precedent for successful async api

[2022-09-13 22:06] PhilippeNguyen commented on #490
Thanks for the quick response, the tests worked and because of it I realized what the problem was.
So despite what the code snippet above says, I was actually running model with use_auth_token=False, and pointing to the directory where I downloaded the model locally. Switching this to True and using the huggingface cache gets the model working with ~4GB VRAM usage (according to nvidia-smi).

So th

[2022-09-13 22:06] #490 closed

[2022-09-13 22:35] patrickvonplaten commented on #490
@PhilippeNguyen note that you can also download the `fp16` weights locally:

[code]

And then load the weights locally there with `torch_dtype=torch.float16`

[2022-09-13 22:49] patrickvonplaten commented on #441
We need to make this indeed even clearer in the README then!
@pcuenca @anton-l @patil-suraj - ideas what we can do here?

It's written in Quickstart: https://huggingface.co/docs/diffusers/quicktour and some other places - but I'm wondering if we should make it the "default" way of using diffusers, by putting it first in most readmes. Wdyt?

[2022-09-13 23:13] patrickvonplaten commented on #305
Hmm that's weird I'm pretty sure it should work with `huggingface_hub==0.9.1`. Also tried reproducing it myself and I'm not able to.

Could you maybe try uninstalling `huggingface_hub` both with:

[code]
and
[code]
and then re-installing it (just to make sure we don't have multiple version of `huggingface-hub` used).

Also gently pinging @Wauplin and @LysandreJik here in case they've seen this hub

[2022-09-13 23:44] hysts commented on #491
I was thinking of opening an issue similar to this one. I successfully converted [this fine-tuned SD model](https://huggingface.co/naclbit/trinart_stable_diffusion) to diffusers some days ago, but spent quite some time trying to figure out how. I found and used [this conversion script](https://github.com/huggingface/diffusers/blob/ldm-txt2im-conv-script/scripts/convert_ldm_txt2img_original_checkpo

[2022-09-14 01:42] yuananf commented on #489
Thank you for your response!

[2022-09-14 06:09] jamestiotio commented on #459
I am a proponent of adding this to the official examples.

Looking through the [original Stable Diffusion repository](https://github.com/CompVis/stable-diffusion), it seems that their implementation provides the parameters `callback` and `img_callback` [here](https://github.com/CompVis/stable-diffusion/blob/main/ldm/models/diffusion/ddim.py#L156-L157), [here](https://github.com/CompVis/stable-diff

[2022-09-14 06:53] freckletonj opened #507 "Textual Inversion Broken: it updates entire `embeddings` weights, loss diverges"
### Describe the bug

The weights of the entire `text_encoder` evolve over the course of training, thus breaking the `text_encoder`. I'm not sure why yet, but this in turn breaks Inversion.

To demonstrate it,

1.) save a random token id and it's embedding, outside the main loop:

[code]

2.) Inside the loop, assert that it's not changing:

[code]

The assertion passes until an entire batch comple

[2022-09-14 07:37] yuananf commented on #489
To avoid data copy between cpu and gpu, onnxruntime provided IOBinding feature. https://onnxruntime.ai/docs/api/python/api_summary.html#data-on-device

[2022-09-14 08:19] rashmimarganiatgithub commented on #146
@patrickvonplaten  here I found some pretrained weights: [link](https://github.com/krasserm/super-resolution).

[2022-09-14 08:19] pcuenca commented on #441
I think it's a bit too much to put it first, as most people that visit the github project won't have the weights. I'd maybe do the following in the README file:

- Keep the first example the way it is, as it covers the most usual case.
- Just below it, add a section about downloading weights and using them locally. **This will be updated** when we have #491, as so many people seem to be getting th

[2022-09-14 08:25] pcuenca commented on #146
Hi @rashmimarganiatgithub, thanks for the pointer! However, I think those methods are not using diffusion techniques. For the diffusers repo we would be interested to showcase super-resolution models based on diffusion, such as the upscaling steps performed in [Imagen](https://www.assemblyai.com/blog/how-imagen-actually-works/), for instance. Would you agree with that @patrickvonplaten?

[2022-09-14 08:34] rashmimarganiatgithub commented on #146
@pcuenca, Please check the updated links, I was still updating the link. In the updated link under [pretrained-ldms](https://github.com/CompVis/latent-diffusion#pretrained-ldms) you can find the weight for super-resolution contributed by open image community

[2022-09-14 12:08] Wauplin commented on #305
Hi here :wave: I can confirm that `EntryNotFoundError` is new in `huggingface_hub` so latest released version must be installed (v0.9.1). @apcode could you run the following snippet to be sure that the imported lib is indeed the one we think ?

[code]

(and I agree with @patrickvonplaten for a complete uninstall/reinstall, just in case. I don't what else could be wrong :grimacing: ).

[2022-09-14 13:53] GreenLandisaLie opened #510 "SD ONNX remaining pipelines"
It has caught my attention that you guys already made an onnx pipeline for SD but it seems to be txt2img.
To my knowledge no one has done it for img2img and inpaint yet.
Is that possible? If so, I'd like to request that feature.
Thanks for everything you have been doing so far!

[2022-09-14 14:13] anton-l commented on #510
@GreenLandisaLie yes, for sure! We're still testing things with onnx, but if you or someone else want to submit a PR for img2img pipelines already - happy to integrate it :)

[2022-09-14 15:14] freckletonj commented on #507
I closed because I mistakenly thought this wasn't actually a bug. I still think it is.

[2022-09-14 16:13] JunnYu commented on #507
that is caused by  "**weight_decay**"，when "weight_decay=0" that is right。
<img width="744" alt="image" src="https://user-images.githubusercontent.com/50394665/190207167-3b16b5da-469f-408d-932f-c74c7b7efa23.png">

*here is a small demo*
[code]
# WEIGHT_DECAY = 0.01 error
<img width="442" alt="image" src="https://user-images.githubusercontent.com/50394665/190206282-fae494d3-68d5-4d07-b986-1041523a8

[2022-09-14 16:34] sjkoelle commented on #441
I am also stuck on this... is it the case that only local paths in the huggingface cache are valid for from_pretrained?

[code]

[2022-09-14 16:38] patrickvonplaten commented on #507
@patil-suraj could you take a look here?

[2022-09-14 17:25] UglyStupidHonest opened #514 "pipe.enable_attention_slicing()o throwing a error"
### Describe the bug

When I activate the pipe=pipe.enable_attention_slicing() for low memory

I get "TypeError: 'NoneType' object is not callable"

I'm using a model I trained with textual inversion does that impact that function ?

### Reproduction

_No response_

### Logs

_No response_

### System Info

diffusers-0.3.0,Ubuntu 20.04.4 LTS, rtx 3090

[2022-09-14 17:57] pcuenca commented on #514
Hi!

There was a mistake in the documentation that was fixed later, you don't have to assign the result of the function. Please, try the following instead:

pipe.enable_attention_slicing()

Does that work for you?

[2022-09-14 18:20] UglyStupidHonest commented on #514
Works indeed thank you so much!!

[2022-09-14 18:24] apcode commented on #305
[code]

That's quite a different version installed. So I tried:
[code]

[2022-09-14 18:45] patrickvonplaten commented on #459
A PR would be great @jamestiotio ! Thanks a lot for offering to do this.

Think then we could also see better what the best place is :-) Note that we follow this philosophy for diffusion pipelines: https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines#contribution

[2022-09-14 19:22] allo- opened #515 "Cannot load custom pipeline modules defined in the main script"
### Describe the bug

`pipeline_util.register_modules` tries to retrieve `__module__` from pipeline modules and crashes for modules defined in the main class because the module `__main__` does not contain a `.`

### Reproduction

Create a pipeline with an own safetychecker class, e.g.:

[code]

create a pipe with that module:

[code]

### Logs

[code]
[code]

[2022-09-14 20:13] patrickvonplaten commented on #305
Ahh, I don't think we have `huggingface_hub` released on conda forge maybe? cc @LysandreJik here as well

[2022-09-14 20:30] patrickvonplaten commented on #441
Thanks for the issue @sjkoelle ! I think the problem is the following, your directory `"/home/ubuntu/stable-diffusion-v1-4"` doesn't exist.

What does this line give you:

[code]

If you pass a path to a local checkpoint, you don't need to set `local_files_only=True` because this if statement should be True:
https://github.com/huggingface/diffusers/blob/83a7bb2aba2d897ab95d96fb03eda10a624080e7/src

[2022-09-14 21:37] ExponentialML commented on #441
To prevent running around in circles on this issue, this problem will remain unresolved until there is provided option to load a custom model / path (ckpt, pt, etc.) into the Diffusers pipeline.

As it stands currently, if you don't download it the HF way, you'll have to do some digging to get it working. You can run it locally, but it consists of messing with blobs in the `.cache` directory. Howe

[2022-09-14 22:01] sjkoelle commented on #441
Hmmm, yes it is a file not a folder, so false.  Thanks for the quick response, and also your ExponentialML which addresses the question behind the question.

[2022-09-14 22:03] SimplyLinn opened #519 "logging.remove_handler() has a faulty assertion, doesn't allow registered handlers to be removed"
### Describe the bug

in `utils/logging.py` there the function remove_handler seems to have a faulty assertion in it.

[code]

That line seems to have a `not` that shouldn't be there. (the `not in` to be precise)

Normally I'd just do a PR to remove it, but as I'm not that familiar with the codebase, nor Python in general, and don't yet have a solid grasp of what these things actually do (I'm just

[2022-09-15 01:15] Hritikbansal opened #520 "Multiplying the Latents by Sigmas during LMS Scheduler"

[2022-09-15 03:40] #520 closed

[2022-09-15 03:41] Hritikbansal commented on #520
Figured out my mistake so removing the issue to avoid confusion.

[2022-09-15 04:07] ayan4m1 commented on #459
Just tagging on to this, I don't think I solved the problem the same way you're all discussing, but this is how I got that functionality: https://github.com/ayan4m1/diffusers/commit/fc2d3ddafa4a0c711e332848a6ae873f079797a8

[2022-09-15 06:04] wareya commented on #489
It's possible to convert individual `.onnx` things to fp16 with this script from onnxconverter: https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/auto_mixed_precision_model_path.py. I need to do this to get 512x512 stable diffusion to fit in VRAM on my GPU (an 8gb rx 480), giving me 2 seconds per iteration instead of 16. However the process for doing this is very c

[2022-09-15 08:10] Wauplin commented on #305
Hmm,  `huggingface_hub` is released on conda-forge but there seem to be older versions on the main channel as well (see https://anaconda.org/search?q=huggingface_hub).

@LysandreJik is there a way to deprecate/yank/delete those old versions to avoid confusion ?

![Screenshot](https://user-images.githubusercontent.com/11801849/190350457-cbd8690f-e84b-4249-8e0c-54aa8b244780.png)

[2022-09-15 11:52] LysandreJik commented on #305
Ah indeed, it seems the main + anaconda channels have not upgraded. Let me take a look.

[2022-09-15 12:23] LysandreJik commented on #305
It's unlikely that we'll get these versions to upgrade as the anaconda main channel tries to have all their supported packages be compatible with one another; so spending time to get them to upgrade is likely a waste of time given that we would need to do so every time there is an update in one of our libraries.

I'd favor educating users to use `conda-forge` as is done currently in the README whe

[2022-09-15 12:46] Wauplin commented on #305
Thanks for investigating @LysandreJik !
Do you think we can completely remove it from the main channel or this is not something we don't have a hand on ?

[2022-09-15 13:06] LysandreJik commented on #305
That's not something we have a hand on: that's managed by the anaconda team. IIUC they handle package versions so that there will never be dependency issues and dependency conflicts. If they were to remove support for `huggingface_hub`, then they'd likely have a myriad of dependency issues, so I'd say that it's very unlikely to happen.

[2022-09-15 13:40] Wauplin commented on #305
Ok, too bad :'(

[2022-09-15 14:35] #410 closed

[2022-09-15 14:57] patrickvonplaten opened #522 "[Community] Add dropout to Flax UNet"
### Describe the bug

Flax UNet currently doesn't support dropout

### Reproduction

_No response_

### Logs

_No response_

### System Info

Main

[2022-09-15 14:58] patrickvonplaten opened #523 "Flax<>PT conversion script"
### Describe the bug

We need to match the weight naming and add a Flax<>PyTorch conversion script.

### Reproduction

_No response_

### Logs

_No response_

### System Info

main

[2022-09-15 15:43] ciaobnsr opened #524 "on the textual inversion training colab, a way to output .bin file before the training is fully completed"
since the training usually takes few hours, and for different datasets, objects or styles, you can adapt with different training parameters, is there a way to output the .bin -let's say- every 1000 steps or so?

that would be very useful to check if the training is going in a good direction and maybe you can economize your gpu/usage if you are happy with the results.
it's very frustrating when you

[2022-09-15 21:19] GeorvityLabs opened #525 "Issue with diffusers training notebook when trying to load images from local disk"
### Describe the bug

![Screenshot from 2022-09-16 02-47-27](https://user-images.githubusercontent.com/58555432/190510599-c6731a78-bad7-4f30-8223-52a7c25a75e3.png)

### Reproduction

https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/training_example.ipynb

^notebook i used

### Logs

_No response_

### System Info

Ubuntu 20.04

[2022-09-15 21:21] GeorvityLabs commented on #525
any thoughts on how this could be fixed @tmabraham

[2022-09-15 21:23] GeorvityLabs commented on #525
@anton-l any suggestions on a fix for this

[2022-09-15 21:34] GeorvityLabs commented on #525
^ here I am loading images from local disk , but since the format changes, it's giving this error .
what would be a potential fix ?

[2022-09-15 22:03] keturn opened #526 "include input parameters in PipelineOutput"
It's useful to be able to associate a pipeline result with the parameters that generated it. It provides a record for the experimenter themselves, other people looking to learn from them, those interested in reproducible results, and community-wide surveys.

Current pipelines have a number of values they set by default when they are not provided, so the only way for an application to know _all_ th

[2022-09-16 02:45] freckletonj commented on #507
I've confirmed this problem does not seem to exist in: https://github.com/nicolai256/Stable-textual-inversion_win

[2022-09-16 05:42] tdeboissiere commented on #489
@wareya could you share the details of your scripts / conversion process ?

[2022-09-16 06:15] wareya commented on #489
First, get the full-precision onnx model locally from the onnx exporter (`convert_stable_diffusion_checkpoint_to_onnx.py`). For example:

`python convert_stable_diffusion_checkpoint_to_onnx.py --model_path="CompVis/stable-diffusion-v1-4" --output_path="./stable_diffusion_onnx" --height=512 --width=512`

Then modify `pipeline_stable_diffusion_onnx.py` to call out to `auto_convert_mixed_precision_mo

[2022-09-16 07:48] GeorvityLabs commented on #525
fixed the issue , in the
change
dataset = load_dataset(config.dataset_name, data_dir="path")
to
dataset = load_dataset(config.dataset_name, data_dir="path",split="train")

[2022-09-16 07:48] #525 closed

[2022-09-16 08:53] patil-suraj commented on #507
That's a great catch @freckletonj and @JunnYu, taking a look.

[2022-09-16 09:19] patil-suraj commented on #507
You are right @JunnYu ! The weight_decay indeed updates the whole `embeddings`. Will send a fix soon.

[2022-09-16 09:31] sidthekidder commented on #277
Thanks for the context above @exo-pla-net! I'm planning to try and implement the `sample_euler_ancestral` sampler in a new scheduler. I read the `schedulers/scheduling_karras_ve.py` implementation that's similar to `sample_euler` so I'll structure my code similarly.

A question - since the Algorithm 2 euler implementation is also spread across the [pipelines/stochatic_karras_ve/pipeline_stochastic

[2022-09-16 09:36] patil-suraj commented on #491
Hey @hysts ! We just merged the new conversion script, you can find it here https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py

[2022-09-16 09:48] hysts commented on #491
Cool! Thank you so much!

[2022-09-16 11:39] mishig25 opened #528 "Question about flax model output classes"
For example here, it is using `from dataclasses import dataclass`
https://github.com/huggingface/diffusers/blob/d8b0e4f433778f9d4555cfab642e43db3aff4833/src/diffusers/models/unet_2d_condition_flax.py#L22-L23

But transformers equivalents use `@flax.struct.dataclass`. For example [here](https://github.com/huggingface/transformers/blob/21f6f58721dd9154357576be6de54eefef1f1818/src/transformers/models

[2022-09-16 11:48] patil-suraj commented on #528
Good catch @mishig25 !

We should indeed use `@flax.struct.dataclass` here for flax outputs as you said it works well with JAX.

[2022-09-16 12:04] pcuenca commented on #528
My mistake, I used `flax.struct.dataclass` for the schedulers but blindly copied the code here from the PyTorch version. Thanks a lot @mishig25, I'll fix it :)

[2022-09-16 12:04] mishig25 commented on #528
perfect!

[2022-09-16 12:12] gadicc commented on #36
[PhotoRoom](https://www.photoroom.com/) made an awesome blog post on exactly how do this: [Making stable diffusion 25% faster using TensorRT](https://www.photoroom.com/tech/stable-diffusion-25-percent-faster-and-save-seconds/).  They explain exactly what's happening, give all the sample code, and even performance metrics between the two models.  They also reference the recent ONNX work in #284.  H

[2022-09-16 13:15] #482 closed

[2022-09-16 13:17] patrickvonplaten commented on #319
Any progress here @unography ? Do you already have an open PR :-) Otherwise let's maybe open it again to the community

[2022-09-16 13:25] JoaoLages opened #529 "Allow gradient calculation in `DiffusionPipeline.__call__`"
Nowadays the gradient calculation is disabled when calling the `DiffusionPipeline` object (example in [here](https://github.com/huggingface/diffusers/blob/c0493723f7851c4a5cc05ef55d3320bd9ab7718d/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L93)).
IMO, this makes the framework less flexible to work with some use cases. For example, [this framework](https://github.com/JoaoL

[2022-09-16 13:33] pcuenca commented on #475
I did some changes in @patil-suraj's repo to easier jit the safety checker, they could be useful when we migrate it to `diffusers`: https://github.com/patil-suraj/stable-diffusion-jax/pull/11

[2022-09-16 15:02] patil-suraj commented on #200
We should at least have following tests IMO

- check if it takes expected input and output shape is also as expected.

Integration test for different configurations, listing out the important ones
- `conv_shortcut`
- `up` and `down`
- `use_nin_shortcut`
- `kernel`

[2022-09-16 15:35] #370 closed

[2022-09-16 17:38] JoaoLages opened #536 "Add `output_attentions` option to `DiffusionPipeline.__call__`"
In the same way that `transformers` has this option for generate/forward methods (example in [here](https://github.com/huggingface/transformers/blob/5e636eee4af48ccd03b4d9c1a1e6f7a1b92a643f/src/transformers/generation_utils.py#L927)), we could have the same option in `DiffusionPipeline.__call__`.

I started the implementation in [here](https://github.com/JoaoLages/diffusers/tree/add-output-attenti

[2022-09-16 18:11] patrickvonplaten opened #539 "TypeError: snapshot_download() got an unexpected keyword argument 'allow_patterns'"
### Describe the bug

TypeError: snapshot_download() got an unexpected keyword argument 'allow_patterns'

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.4.0.dev0
- Platform: Linux-5.3.0-64-generic-x86_64-with-glibc2.17
- Python version: 3.8.12
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Huggingface_hub version: 0.8.1
- Transformers version:

[2022-09-16 18:12] patrickvonplaten commented on #539
Since: https://github.com/huggingface/diffusers/pull/512 a new `huggingface_hub` version is required:

[code]

[2022-09-16 18:12] #539 closed

[2022-09-16 18:12] piEsposito opened #540 "Reduce Stable Diffusion memory usage by keeping unet only on GPU."
**Is your feature request related to a problem? Please describe.**
Stable Diffusion is not compute heavy on all its steps. If we keep the diffusion unet on fp16 on GPU and everything else on CPU, we could reduce the GPU usage to 2.2GB while having a non-so-big impact on performance. It should democratize Stable Diffusion even further.

Only other thing that would need to be done is move the tensor

[2022-09-16 18:53] AmanKishore opened #541 "Diffusers on SageMaker"
**Is your feature request related to a problem? Please describe.**
I'd like to run inference with stable diffusion through an API request!

**Describe the solution you'd like**
Either an Inference API or Sagemaker integration!

**Additional context**
Similar to https://huggingface.co/inference-endpoints
or
https://github.com/aws/sagemaker-huggingface-inference-toolkit

[2022-09-17 03:11] boyjunqiang commented on #468
It's very exciting news!  We use this webui tool (https://github.com/AUTOMATIC1111/stable-diffusion-webui) for our workflow.

[2022-09-17 03:38] tanayvarshney opened #542 "unet export to onnx issue"
### Describe the bug

Trying to export the unet model to onnx. Used [this script](https://github.com/huggingface/diffusers/blob/main/scripts/convert_stable_diffusion_checkpoint_to_onnx.py)

`.onnx` file created successfully but export wasn't successful:
[code]

Error:
[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

Python 3.8.13
Pytorch 1.13
ONNX 1.12.0
transform

[2022-09-17 04:11] mrsalehi opened #543 "DDP Warning: Grad strides do not match bucket view strides warning"
### Describe the bug

During fine tuning the diffusion model with accelerate on multiple GPUs I got the following warning (it does not happen on a single gpu):
[code]
It turns out this warning can occur when a tensor is permuted without calling `contiguous()` on it (Pytorch [issue #47163](https://github.com/pytorch/pytorch/issues/47163) is relevant). As I further investigated, this is happening wh

[2022-09-17 10:47] MajorTal commented on #541
+1
I'd like to run pipeline.deploy() which is the standard HuggingFace way of deploying.

[2022-09-17 12:07] #465 closed

[2022-09-17 12:26] #514 closed

[2022-09-17 12:27] patrickvonplaten commented on #476
Also cc @natolambert here :-)

[2022-09-17 12:29] #444 closed

[2022-09-17 20:45] patrickvonplaten commented on #519
Hey @SimplyLinn,

I think you caught a bug here indeed! Just confirming with @LysandreJik (since this code is more or less copy-pasted from `transformers`). The `not in` should be changed to `in` just like @SimplyLinn says no?

[2022-09-17 20:47] patrickvonplaten commented on #484
Waiting here until the schedulers are all in PyTorch / Numpy respectively at which point we have to update the tests anyway

[2022-09-17 20:49] patrickvonplaten commented on #146
True - thanks for the pointer @rashmimarganiatgithub,

There is indeed one super-resolution checkpoint under: https://ommer-lab.com/files/latent-diffusion/sr_bsr.zip
=> do we know if it's a good one?

[2022-09-17 20:51] patrickvonplaten commented on #374
IMO we can be a bit more lenient here with the safety checker since it's intermediate results (also cc @natolambert).

However, I think such a pipeline would be best implemented as a community pipeline and not into the official pipeline :-)

[2022-09-17 20:53] patrickvonplaten commented on #515
Haha, I'm not really sure whether we want to help here given the goal of this implementation.
A bit more effort into hiding its purpose could have helped ;-)

[2022-09-17 21:04] Birch-san commented on #452
here's why my `einsum()` returned a different image than `matmul()`:
https://github.com/pytorch/pytorch/issues/85224

it's because the first invocation of `einsum()` returns an incorrect result, the first time you invoke it. on nightly builds of pytorch, but not on stable.
the matmul seems to be the more correct output. I expect subsequent samples to produce the same result as `matmul()`.
if this

[2022-09-17 21:07] patrickvonplaten commented on #441
Hey @ExponentialML,

Thanks a lot for the feedback here - I think we haven't done a great job at showing how to easily download this model and run it locally. It's literally as easy as doing:

[code]

Followed by:

[code]

-> no need for an authentication token or cache or whatsoever. It's also explained here: https://huggingface.co/docs/diffusers/quicktour

Given that you're not the first to ment

[2022-09-17 21:10] patrickvonplaten opened #547 "[Documentation] Better documentation that shows how to load stable diffusion locally"
### Describe the bug

We've gotten much feedback about the bad UX of either having to pass an `auth_token` to `from_pretrained(...)` or about the cache being to complicated to figure out how to load the model locally => we need to improve the documentation here.

E.g. - see: https://github.com/huggingface/diffusers/issues/441#issuecomment-1250140603

This includes, but is not limited to, adding do

[2022-09-17 21:11] patrickvonplaten commented on #520
Another good example of why we need a better UX here: https://github.com/huggingface/diffusers/issues/336

[2022-09-17 21:13] patrickvonplaten commented on #525
@anton-l could you check here whether we should update the training colab?

[2022-09-17 21:13] patrickvonplaten commented on #524
cc @patil-suraj

[2022-09-17 21:35] allo- commented on #515
My script is using the Pipelines without safetychecker since weeks, I saw no point in hiding it. I think it's 700 MB for something that only benefits one when one wants to provide a public service. *shrugs*

My current issue is, that I need to reload the model to change between generation/img2img/inpainting and I'd like to re-use the already loaded nets, so one can change the pipeline from a promp

[2022-09-17 21:59] Birch-san commented on #372
I found that this mitigation works, but I assume it only works if you're consistent in the size of `x` and `context` that you submit to `CrossAttention` (e.g. same image dimensions, number of samples, number of conditions).

it's not a cheap mitigation. unless we get lucky and there's a fast-path for zeroes or something.

[2022-09-18 02:15] FahimF commented on #501
Since #450 is merged to the main branch, I installed the code from the main branch and ran a bunch of tests on all the Stable Diffusion pipelines and schedulers that I currently use under `mps`. I can confirm that all of them work correctly and that there are no issues :smile:

Here's what I can confirm works:
Pipelines: `StableDiffusionPipeline` and `StableDiffusionImg2ImgPipeline`
Schedulers: `L

[2022-09-18 04:33] keturn commented on #336
When I originally looked at this, I was under the impression that there were some differences between whether sigmas or timesteps were computed up front and where some multiplication happened, but I figured that was solvable with a little algebra and a little refactoring without changing the overall design too much.

But when [hlky got me looking at why _some_ samplers weren't behaving](https://di

[2022-09-18 05:25] FahimF opened #548 "Apple MPS image generation times take much longer with 0.4.0"
### Describe the bug

It used to take about 90 seconds to generate a 768 x 512 image with diffusers 0.3.0. I checked out the main branch with 0.4.0dev0 today and the time has increased to about 600 seconds and that too for only 20 steps, as opposed to 75 steps initially. It feels as if this build uses both the CPU and GPU and relies more on the CPU but is mostly based on gut feel, the fact that th

[2022-09-18 08:51] Harrietofthesea commented on #405
I just had the same issue, and after a bit of investigation it seems like the issue was being caused by entering an unrecognisable word in the 'initializer_token' field. I was entering a non-english word, and it was interpreting it as two separate words (tokens) because it didn't recognise it. So using a known single English word was the solution for me. Give that a go?

[2022-09-18 12:37] leszekhanusz opened #551 "Merging Stable diffusion pipelines just makes sense"
[Following the Philosophy](https://github.com/huggingface/diffusers/issues/307), it has been decided to keep different pipelines for Stable Diffusion for txt-to-img, img-to-img and inpainting.

Here is the result:

* PR #549 : **code duplicated 4 times (onnx included)**
* PR #537 : **modification only applied to txt-to-img pipeline**
* PR #521 : **code duplicated 4 times (onnx included)**
* PR #51

[2022-09-18 13:01] leszekhanusz commented on #551
I just noticed that in PR #549, the code was not duplicated exactly the same way. Sometimes multiplying by `batch_size`, sometimes not.

Proof again than duplicating code is never good and introduce bugs.

[2022-09-18 13:55] zledas commented on #551
I'm new here, but I also noticed, that most of the code is just duplicated, which is very hard when you want to make changes to all three :(

[2022-09-18 15:19] shirayu commented on #551
Good suggestion. I agree with you.

[2022-09-18 16:52] sgrigory opened #553 "`test_ddpm_ddim_equality` fails if manual seed changed to 4"
### Describe the bug

Test `PipelineTesterMixin::test_ddpm_ddim_equality` in `test_pipelines.py` fails if `generator` is set to `torch.manual_seed(4)` instead of `torch.manual_seed(0)`.

So the fact that the test passes for seed equal 0 is most likely accidental, and the difference be fluctuate above or below `0.1`, depending on the seed. This is probably also why `PipelineTesterMixin::test_ddpm_d

[2022-09-18 17:35] #528 closed

[2022-09-19 02:04] torrinworx opened #556 "Image output tiling for seamless textures with Stable Diffusion"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to create seamless textures with Stable Diffusion, a crucial feature that is missing.

**Describe the solution you'd like**
Something similar to this pull on the sd-webui repo: https://github.com/sd-webui/stable-diffusion-webui/pull/911

A simple argument in the `StableDiffusionPipeline` that would enable

[2022-09-19 03:38] AbdullahAlfaraj opened #557 "diffusers DDIM gives worst results than Deforum DDIM"
### Describe the bug

diffusers DDIM gives worst results than Deforum DDIM when using small inference steps of size 8.
My understanding is that ddim is a very fast sampler, and
should yield a decent result even at a low step size like 8 or 16.
it's possible that I didn't set up the scheduler correctly. So, I've included the code below.

as for the deforum code you could try it on colab: https://co

[2022-09-19 06:49] 345ishaan commented on #319
Hi, I will be happy to contribute / collaborate on this :)

[2022-09-19 06:50] 345ishaan commented on #318
Hi, I will be happy to contribute / collaborate on this :)

[2022-09-19 11:19] anton-l opened #560 "`UNet2DOutput` becomes nested when wrapped with `accelerate`"
### Describe the bug

When either `UNet2DModel` or `UNet2DConditionModel` are prepared with `accelerate`, their outputs become nested, i.e. to get the `sample` you have to do `outputs.sample['sample']` instead of just `outputs.sample`.

However, it works as expected with `return_dict=False`.

Linked to #499 #434

cc @patrickvonplaten @patil-suraj @sgugger

### Reproduction

* Regular outputs:

[co

[2022-09-19 11:28] shirayu opened #562 "StableDiffusionInpaintPipeline does not work with LMSDiscreteScheduler"
### Describe the bug

`StableDiffusionInpaintPipeline` does not work with `LMSDiscreteScheduler`

### Reason
- This seems to be because of the absence of special operations for `LMSDiscreteScheduler` as performed in `StableDiffusionImg2ImgPipeline`

https://github.com/huggingface/diffusers/blob/429dace10a356a776f935fc11e16d5b321b496f3/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffus

[2022-09-19 11:46] anton-l commented on #551
Hi @leszekhanusz you raise an important question, as the number of Stable Diffusion pipelines is rising, and we don't have a robust [copy mechanism](https://huggingface.co/blog/transformers-design-philosophy) like the one in `transformers` yet.

Inviting @patil-suraj @patrickvonplaten @pcuenca to discuss possible solutions here :)

In the meantime, I'll address the mismatching pipeline issues manu

[2022-09-19 12:16] patrickvonplaten commented on #551
We can just add copy-mechanism, we have in Transformers.

Quite strongly against creating a unified pipeline as it makes it impossible down the road to define classes like `AutoPipelineForText2Image`.

Also note that default values cannot be coherently defined anymore. In text2image we use 50 inference steps in image2image just 30 => I don't want to clutter the code with `if type == ...` statement

[2022-09-19 13:28] sgugger commented on #560
Copying my internal answer here for posterity :-)

Basically a dictionary in Python can be instantiated form kwargs:
[code]
or a dict
[code]
More genertlly any kind of iterator that produces key value pairs. Some classes only support the second kind, so in Accelerate when we treat the output of the models and have to reconstruct them, we use this way (specifically `type(output)(processed_dict)`

N

[2022-09-19 13:36] pcuenca opened #567 "Save training `dtype` as part of the configuration"
It'd be interesting to know the type that was used to train. However, as pointed out by @patrickvonplaten and @patil-suraj:

* It needs to be saved as a string; `jnp.bfloat16` etc. cannot be serialized.
* We need to decide the naming to make it clear what it means.

Context: https://github.com/huggingface/diffusers/pull/565#issuecomment-1251024861

[2022-09-19 14:03] shirayu opened #571 "Typo checking at regular intervals"
**Is your feature request related to a problem? Please describe.**

Currently, the typo check with GitHub Actions runs manually. (#483)
It is nice to run nightly/weekly typo-fixing PRs as @anton-l suggested.
He may already be working towards implementing it, but as just a reminder I make this issue.

**Additional context**
- Related to #483, #568

[2022-09-19 14:18] Vaibhavs10 commented on #318
Working on this here: https://github.com/huggingface/diffusers/pull/569
Feel free to peek in @345ishaan <3

[2022-09-19 14:27] unography commented on #319
Hi @patrickvonplaten, unfortunately, I've been unable to spend time on this right now due to some other commitments, we can open this up again to the community

[2022-09-19 14:39] anton-l commented on #58
Closing this as the Glide example has been deprecated.
A fully functional example is expected after Glide is re-added to the library.

[2022-09-19 14:39] #58 closed

[2022-09-19 14:58] rashmimarganiatgithub commented on #280
@@qsh-zh, is this [sampler.py](https://github.com/qsh-zh/deis/blob/main/th_deis/sampler.py) only file which contains all sampler logic for th_deis, is there any dev doc/paper to understand about all the sampler functions?

[2022-09-19 15:00] anton-l commented on #571
Thanks for the tracking issue @shirayu!
Will post an update here as soon as I get to it :)

[2022-09-19 15:16] pcuenca opened #576 "Remove `torch` dependency from Flax implementations"
**Is your feature request related to a problem? Please describe.**

The following line fails unless PyTorch is installed:
[code]

This is because `modeling_utils.py` imports `torch`. Since Flax implementations are separate (schedulers, models and pipelines use their own code), it should be possible to use Flax without PyTorch.

**Describe the solution you'd like**
Be able to import flax components

[2022-09-19 15:33] anton-l commented on #434
Updated the notebook in https://github.com/huggingface/notebooks/commit/c0cff8483653cda8e7d0a65043bb1f467269cd27
A more flexible/permanent fix is in https://github.com/huggingface/diffusers/pull/570

[2022-09-19 15:33] #434 closed

[2022-09-19 17:02] leszekhanusz commented on #551
I've read your blog post and you make some good points but some of it seems to contradict you:

Here we have a single model (Stable diffusion) which has 3 different pipelines (ignoring onnx for now) in different files doing more or less the same thing.
We could argue that having all the code in a single pipeline is actually following your single model file policy.

Did you look at what the code lo

[2022-09-19 17:31] LysandreJik commented on #519
This was added by @philschmid in https://github.com/huggingface/transformers/pull/10633; I think the `not` should indeed be removed, but would like confirmation from Philipp before doing so

[2022-09-19 21:12] XavierXiao opened #579 "Textual Inversion got error of cannot find config.json file"
### Describe the bug

When I follow every step described [here](https://github.com/huggingface/diffusers/tree/main/examples/textual_inversion), I got the following error:
[code]
I can use inference Pipeline with no issue. It should be related to token issue, as I can use the colab with `notebook_login`
### Reproduction

[code]
### Logs
[code]
### System Info

- `diffusers` version: 0.3.0
- Platfor

[2022-09-20 02:00] ezhang7423 commented on #437
Hypothetically if we were to retrain a latent diffusion model with more than one autoencoder, would you need a different scaling factor for each autoencoder to get approximately unit variance?

[2022-09-20 04:33] 345ishaan commented on #318
Thanks, @Vaibhavs10. I will checkout soon. Given you already have a headstart, happy to sync if you need any help on any task.

[2022-09-20 06:08] WASasquatch commented on #304
I wasn't able to reproduce this on my account again, and I suspect it's because I deleted images, and this, cleared up space that was taken. I think there was a issue with modules and stuff not actually fully installed cause GDrive let's you install past quota then starts deleting files.

[2022-09-20 06:08] #304 closed

[2022-09-20 08:31] CristoJV opened #582 "LMSDiscreteScheduler support for Inpaint Pipeline"
Currently there is no support for the LMSDiscreteScheduler in the StableDiffusionInpaintPipeline

[2022-09-20 13:01] qsh-zh commented on #280
@rashmimarganiatgithub  you can check the paper, https://arxiv.org/abs/2204.13902

[2022-09-20 14:51] CristoJV opened #586 "Update Pillow library"
### Describe the bug

Compatibility error when installing Pillow library > 9.1

|Deprecated | Use Instead|
|----------------|----------|
|Image.LANCZOS | Image.Resampling.LANCZOS|
|Image.NEAREST | Image.Resampling.NEAREST|
|Image.BILINEAR| Image.Resampling.BILINEAR|

Here the [link](https://pillow.readthedocs.io/en/stable/deprecations.html)

### Reproduction

pip install pillow==9.1
[code]

### Lo

[2022-09-20 15:31] anton-l commented on #582
Support for K-LMS is coming in https://github.com/huggingface/diffusers/pull/587

[2022-09-20 15:31] anton-l commented on #562
Support for K-LMS is coming in https://github.com/huggingface/diffusers/pull/587

[2022-09-20 16:31] anton-l commented on #586
Hi @CristoJV! I wasn't able to reproduce the error locally with PIllow 9.2.0 installed, and it looks like the deprecation will come with version 10.0, which is not released yet. Could you please verify your `PIL.__version__`?
Capping the Pillow version at 10.0 in the meantime: https://github.com/huggingface/diffusers/pull/588

[2022-09-20 16:51] okalldal commented on #551
Another aspect to this from a user experience perspective is that right now naively loading all pipelines via from_pretrained takes three times the GPU memory. If you want to use all three in the same script or gradio interface you have to either load the models separately and init the pipelines via the initializer manually or juggle the pipelines in and out of your GPU memory.

[2022-09-20 17:10] #341 closed

[2022-09-20 17:10] #272 closed

[2022-09-20 17:10] #562 closed

[2022-09-20 17:10] #582 closed

[2022-09-20 17:25] leszekhanusz commented on #551
@okalldal [it's possible to merge all the existing pipelines into a single one](https://github.com/leszekhanusz/diffusion-ui-backend/blob/eebb607244c183efb0eab2b5f3c367549ab0f56b/src/diffusionui/pipelines/pipeline_stable_diffusion.py#L26). Available [here](https://github.com/leszekhanusz/diffusion-ui-backend/tree/main/src/diffusionui/pipelines).

[2022-09-20 17:27] sgrigory opened #590 "Typo in noise level formula in Karras scheduler"
### Describe the bug

Comparing the formula for noise levels in `KarrasVeScheduler`

https://github.com/huggingface/diffusers/blob/a45dca077c636cd60199bab888da4ecfcc206d18/src/diffusers/schedulers/scheduling_karras_ve.py#L107-L113

with [Karras, Tero, et al.](https://arxiv.org/abs/2206.00364) (VE column of Table 1), it seems to me that there is `**2` missing, and the correct formula should be

[co

[2022-09-20 18:16] patrickvonplaten opened #592 "[Debugging] Stable Diffusion"
To quickly debug new functionality for stable diffusion you can use this dummy model:

For PyTorch:

[code]

For Flax:

[code]

[2022-09-20 19:02] batrlatom opened #593 "hight res stable diffusion gives repeated images"
### Describe the bug

I have tried to run SD on 1024x1024 and 1664x1664x resolutions, but the result is that I get almost always repeated objects in the generated picture. Is there any simple way to repair it?

For example, results of:
1024x1024 generation is: https://ibb.co/4RKhS6y
1664x1664 resolution is: https://ibb.co/bLbmHtp

### Reproduction

_No response_

### Logs

_No response_

### Syste

[2022-09-20 19:12] patrickvonplaten commented on #592
@pcuenca @kashif @patil-suraj @mishig25 this could be useful

[2022-09-20 22:06] keturn opened #596 "clip-guided stable diffusion correctness"
### Describe the bug

the clip-guided pipeline uses these text-embeddings:

https://github.com/huggingface/diffusers/blob/2345481c0e21f1bd84c0d85b866b57d34506d836/examples/community/clip_guided_stable_diffusion.py#L285-L288

defined earlier as:

https://github.com/huggingface/diffusers/blob/2345481c0e21f1bd84c0d85b866b57d34506d836/examples/community/clip_guided_stable_diffusion.py#L234-L237

which

[2022-09-20 22:42] Oragi commented on #579
I had to git clone the CompVis/stable-diffusion-v1-4 repo and make this change to get mine to work (using a local path as --pretrained_model_name_or_path) :

[code]
to
[code]

Seems like the subfolder="" parameter isn't working?

[2022-09-21 03:36] jdk514 opened #597 "train_unconditional.py fails on call to evaluate()"
### Describe the bug

On the first attempt to call `evaluate()` in the train_loop() function, the DDPMPipeline fails due to an incompatible output form the model.

This raises an AttributeError: 'dict' object has no attribute 'shape'

![image](https://user-images.githubusercontent.com/3916001/191408604-a4335643-6fb3-439e-adaa-b5d4189bcc71.png)

### Reproduction

Currently encountered when running

[2022-09-21 03:40] Luvata commented on #369
Some people [1] claimed that using more than one token to represent the learnt concept help improve the inversion performance
(Ctrl-F `num_vectors`). But I guess to implement that, the current pipeline would change a lot
[reddit #1](https://www.reddit.com/r/StableDiffusion/comments/wz88lg/i_got_stable_diffusion_to_generate_competentish/)

[2022-09-21 03:55] Stable777 opened #598 "INVALID_ARGUMENT : Got invalid dimensions for input: latent_model_input // Whenever I modify the prompt height and weight from 512x512"
Hi
I read the instruction mentioning changing the "create_onnx.py" file, but that one is nowhere to be found?
So I went ahead and modified save_onnyx.py aswell as dml_onny.py, is that correct?
Anyway, the error message I am facing is:
`File "C:\Users\...\Desktop\StableDif2\amd_venv\lib\site-packages\onnxruntime\capi\onnxruntime_inference_collection.py", line 200, in run
    return self._sess.run(o

[2022-09-21 04:01] Stable777 commented on #598
Solution:
Went  modifying dml_onnx AND save_onnx aswell!

[2022-09-21 04:42] vanakema opened #599 "Implement Deepspeed with the DiffusionPipeline"
**Is your feature request related to a problem? Please describe.**
Trying to train Stable Diffusion on your local box using the Dreambooth method causes out-of-memory issues on an RTX 3090. I'd like to be able to train such a model without having to have an A100 80GB

**Describe the solution you'd like**
Implement Deepspeed integration with the DiffusionPipeline class

**Describe alternatives you'

[2022-09-21 08:14] mishig25 opened #604 "[FLAX-PT conversion] test"
Snippet from @patil-suraj that should become test for testing `from_pt=True` conversion

[code]

cc: @patil-suraj @younesbelkada

[2022-09-21 08:56] pcuenca opened #606 "[Community] Flax: load scheduler using same dtype as pipeline"
Follow up to https://github.com/huggingface/diffusers/pull/600#discussion_r976064534

[2022-09-21 09:07] rav-en commented on #593
would the cause be because the model was trained with only 512x512?

im also getting the same issue btw. i just stick with 512 and upscale.

[2022-09-21 09:38] patrickvonplaten commented on #593
Hmm, I don't have too much experience with high res images yet

[2022-09-21 10:24] rashmimarganiatgithub commented on #146
@patrickvonplaten, I didn't test it yet. These weights are from models trained on Openimages datast with 600 categories so I assume it is good.

[2022-09-21 12:11] anton-l commented on #598
Hi @Stable777! Your issue doesn't seem to be related to the `huggingface/diffusers` repository, you'll need to ping @harishanand95 at https://github.com/harishanand95/diffusers :)

[2022-09-21 12:11] #598 closed

[2022-09-21 13:14] younesbelkada commented on #604
Since https://github.com/huggingface/diffusers/pull/594 has been merged the test should now pass with
[code]

[2022-09-21 13:41] anton-l commented on #529
Hi @JoaoLages! I feel like `torch.no_grad` is a good default for pipelines, as they're intended only for inference by design. Additional functionality would require implementing a custom pipeline, indeed.

For your use case, however, there's a neat python trick to unwrap the nograd-decorated method and keep its contents: `pipeline.__call__ = pipeline.__call__.__wrapped__`. Could you check if it wo

[2022-09-21 13:45] anton-l commented on #542
Hi @tanayvarshney! The exported UNet is indeed >2GB due to the protobuf size limits, but the directory of the exported model contains external weight tensors. So while this fails the `onnx` check, `onnxruntime` is able to load the model just fine :)

P.S. I'm preparing an update for the onnx exporting script that will save the UNet in fp16, which should fit into 2GB.

[2022-09-21 13:47] JoaoLages commented on #529
I tried that in an early stage but [it is not possible to override `__call__` afaik](https://stackoverflow.com/questions/60062100/is-it-possible-to-override-a-class-call-method)

[2022-09-21 13:53] anton-l commented on #540
The linked PR is now closed:

But there might be a less intrusive way to keep the pipeline balanced between CPU and GPU (maybe using an `accelerate` wrapper), so I'm keen to keep this issue open for now :)

[2022-09-21 14:05] patrickvonplaten commented on #36
Cool also linking this to our current speed-up PRs:
- https://github.com/huggingface/diffusers/pull/532
- https://github.com/huggingface/diffusers/pull/371
- https://github.com/huggingface/diffusers/pull/511

[2022-09-21 14:08] patrickvonplaten commented on #29
Let's close this for now and discuss on PR once we go multi-modality

[2022-09-21 14:09] patrickvonplaten commented on #200
Not super urgent IMO - but let's not forget. Assigning @anton-l here (hope that's ok - no need to do it asap, but it'd be nice to do it eventually).

Will also be very helpful to compare JAX against PyTorch

[2022-09-21 14:11] patrickvonplaten commented on #536
I guess that's just how it is - if we store tensors we need for memory. Also what is the main use case to store attentions in `diffusers`? In Transformers it was mainly done to be able to analyse relationships between words - what would be the use case here?

[2022-09-21 14:12] anton-l commented on #556
Hi @torrinworx! As the https://github.com/sd-webui/stable-diffusion-webui/pull/911 PR suggests, you can make the Stable Diffusion models tile-able by patching the `torch.nn.Conv2d` before inference:

[code]

Native support for tiling in `diffusers` is unlikely to come, as it would either be hacky, or complicate the model the model design with additional arguments :)

[2022-09-21 14:13] JoaoLages commented on #536
Mainly to analyze relationships between the generated image and the input text.

[2022-09-21 14:18] anton-l commented on #557
Hi @AbdullahAlfaraj! Because each diffusion model is trained using a specific noise schedule, the default parameters for `DDIMScheduler()` are not compatible with SD. To make it work, please refer to the [pipeline's Readme](https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines/stable_diffusion#text-to-image-with-ddim-scheduler):

[code]

[2022-09-21 16:50] shirayu commented on #556
FYI:
In my app, I toggle to be tile-able or not after pipe loading by change ``padding_mode`` in each layer.

1. [First, save conv layers and their original padding modes](https://github.com/shirayu/purepale/blob/7681818c740fc738f2f02cfb86a2852e334c94ef/purepale/pipes.py#L66-L77)
2. [Change padding mode on each generation](https://github.com/shirayu/purepale/blob/7681818c740fc738f2f02cfb86a2852e33

[2022-09-21 17:03] shirayu commented on #593
That is a commonly reported problem when creating highres images.
One option is to create a low-resolution image first and then use img2img to create a high-resolution image.

I have not tried this yet, but this recently implemented `Highres. fix` feature in [AUTOMATIC1111/sable-diffusion-webui](https://github.com/AUTOMATIC1111/stable-diffusion-webui) may be more helpful.

https://github.com/AUTOM

[2022-09-21 20:22] AbdullahAlfaraj commented on #557
thanks @anton-l , that seems to solve it.

[2022-09-21 20:22] #557 closed

[2022-09-21 21:47] harishanand95 commented on #598
Hi @Stable777, Please follow this new approach if you face any further issues and report any issues in either https://github.com/harishanand95/diffusers or in the gist. Thanks!
https://gist.github.com/harishanand95/75f4515e6187a6aa3261af6ac6f61269

[2022-09-21 22:02] #586 closed

[2022-09-21 22:06] exo-pla-net opened #612 "Latents / seeds are a mess. Make it easier to replicate a generated image using a seed."
**Problem:**

We often generate images with a batch_size >1.

However, images in the batch (after the first image) by default have an **seed that is unknown to the user**, so all but the first image in a batch can't be directly replicated.

To get around this, the [docs ](https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines#examples)suggest that we manually feed in latents.

[2022-09-21 22:19] leszekhanusz commented on #612
For img2img and inpainting you have to provide a generator instead of latents.
You can [take a look on how I did](https://github.com/leszekhanusz/diffusion-ui-backend/blob/c980af79fc83d75bb08de62209238be9e6a1f490/src/diffusionui/gradio_interface.py#L12) it in diffusion-ui-backend.

In my case you either don't provide a seed or you need to provide a list of seeds (comma separated).
Once the images

[2022-09-21 22:58] exo-pla-net commented on #612
@leszekhanusz Looking at your code, it appears that you're only using batch_size of 1. The problem of unknown seeds only appears when batch_size > 1.

(Why not just keep batch_size at 1? Because generating a batch of 4 images is much faster than generating 4 different images.)

[2022-09-21 23:20] leszekhanusz commented on #612
Yes, currently the only way with batch_size > 1 is to regenerate the full batch with the same seed and know the index of the image you want.
The generator is used at different places in the pipelines in img2img so I'm not really sure if there is a way to modify the pipeline to be able to set the latents deterministically at those different places for a specific image in the batch.

[2022-09-22 10:19] allo- commented on #438
Outpainting still doesn't seem to work for me. A black boundary with a mask stays black with 1.0 and 0.1 and fades into the image with values like 0.8.

[2022-09-22 12:59] CrazyBoyM opened #615 "Is there any outpainting pipe demo?"
I would like to use it to  outpainting images, can you help me

[2022-09-22 13:34] patrickvonplaten commented on #526
Hey @keturn,

Nice issue and sorry to reply so late here!

Are you talking only about default values for the `__call__` function about the pipeline or all config attributes?
I don't really see why not setting defaults or returning the defaults would help here to be honest. Also note that both inputs and outputs should ideally only be `tensors` or fields that influence the output and outputs should

[2022-09-22 13:41] patrickvonplaten commented on #468
@patil-suraj @anton-l let's try to make the library easier to use with stable-diffusion-webui

[2022-09-22 13:42] patrickvonplaten commented on #541
cc @philschmid - could this make sense?

[2022-09-22 13:46] patrickvonplaten commented on #452
Interesting!

[2022-09-22 13:48] patrickvonplaten commented on #515
Ok, let me make a nice community pipeline for all stable diffusion in one early next week since it's requested a lot! Regarding the safety checker that's another topic IMO.

[2022-09-22 13:48] patrickvonplaten commented on #372
cc @pcuenca :-)

[2022-09-22 13:50] patrickvonplaten commented on #336
Thanks a lot for the input here. We're thinking about a nice design with @anton-l and will share very soon!

[2022-09-22 13:55] philschmid commented on #541
@AmanKishore you can already use `diffusers` on sagemaker with the Hugging Face inference toolkit and a `inference.py` + a `requirements.txt`. Here is an example on how to do this: https://github.com/huggingface/notebooks/blob/main/sagemaker/17_custom_inference_script/sagemaker-notebook.ipynb

[2022-09-22 14:02] allo- commented on #515
Someone had a UnifiedPipeline, but I saw the comment that it would be easier/cleaner to leave them separated?

The problem here wouldn't really require a unified pipeline. Loading `.from_pretrained` works without problems, it's only the constructor that has the check in there.

Regarding optimization that would require modification of the pipeline: Did you consider moving the text_encoder calls ou

[2022-09-22 14:32] patrickvonplaten commented on #553
Interesting!

[2022-09-22 14:34] patrickvonplaten commented on #567
Thanks for opening this issue - let's keep it in mind when improving JAX over time

[2022-09-22 14:53] loretoparisi opened #617 "AutoencoderKL: [W NNPACK.cpp:51] Could not initialize NNPACK! Reason: Unsupported hardware."
### Describe the bug

When on macOS Apple M1 Silicon,

[code]

I have tried to move the model to `cpu`:

[code]

but I get the same error `[W NNPACK.cpp:51] Could not initialize NNPACK! Reason: Unsupported hardware`,
while when using `mps` I get

[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.4.0.dev0
- Platform: Darwin-21.6.0-x86_64-i38

[2022-09-22 15:00] patrickvonplaten commented on #319
No worries! @345ishaan would you be interested in giving it a go?

[2022-09-22 15:00] patrickvonplaten commented on #576
Very much agree on this one! Can look into it tomorrow

[2022-09-22 15:01] patrickvonplaten commented on #519
Cool thanks for the feedback! @SimplyLinn would you like to open a PR to fix it? :-)

[2022-09-22 15:36] MajorTal commented on #541
How do I add "diffusers" there? I'm guessing that's what the requirements.txt is for? It's not in the example...
Also, how do I download the data? I need to plug in my access token somehow, just git+lfs is not enough.
Where do I send the pipeline to Cuda? This should happen in the model_fn()?
Thank you!

[2022-09-22 15:57] patrickvonplaten commented on #551
Very good points here! Thanks a lot for writing all of this down. I still don't agree with most of it here though :sweat_smile:
Writing my thoughts down a final time before giving in haha.

Clear no. Single model file policy means exactly to not build one model that fits it all but to have multiple modeling files. This was misunderstood. This was written for `transformers` so it cannot be applied

[2022-09-22 16:25] patrickvonplaten commented on #551
Also here a twitter poll: https://twitter.com/PatrickPlaten/status/1572980566579941381

[2022-09-22 16:27] patrickvonplaten commented on #596
cc @patil-suraj might be good to take a look soon since we just released it :-)

[2022-09-22 16:27] patrickvonplaten commented on #579
Gently pinging @patil-suraj

[2022-09-22 16:28] patrickvonplaten commented on #369
+1

[2022-09-22 16:33] johnowhitaker commented on #551
I think I'm on team 'three classes'.
If you want to do a quick demo of one application, easy to just load, say, text2img.
If you want multiple your example is very helpful, it'd be nice to document what the sub_models are and how to avoid loading duplicates like you do there.
I also think a lot of people trying more complex things won't be loading three pipelines, they'll be defining their own sam

[2022-09-22 16:39] patrickvonplaten commented on #146
Cool - thanks for letting me know! Also cc @patil-suraj @anton-l FYI in you think it could make sense to test it out

[2022-09-22 16:52] JoaoLages commented on #551
I understand the '3 classes' arguments but, as @leszekhanusz mentioned, having the code duplicated for all of them is very error-prone.
IMO, the solution proposed by @leszekhanusz of having the backbone class is what I thought of.

To exemplify:
[code]

This way we would still keep the 3 classes separated and the code would be way easier to maintain.
Do you guys see any disadvantages in this solut

[2022-09-22 16:55] patrickvonplaten commented on #604
Thanks for putting it here!

[2022-09-22 17:08] #448 closed

[2022-09-22 17:22] patrickvonplaten commented on #543
Hey @mrsalehi,

Could you provide maybe a fully reproducible code snippet maybe? :-) Happy to look into it then!

[2022-09-22 18:05] patrickvonplaten commented on #551
Yes! People now need to switch between multiple files `CoreStableDiffusionPipeline` and `StableDiffusionInpaintPipeline` . Maintaining different files is really not that big of a problem and much less of a concern in OSS than in industry settings

[2022-09-22 18:16] JoaoLages commented on #551
If that's a problem, the `CoreStableDiffusionPipeline` subclasses could be all in the same file.
This solution is better to avoid adding/removing functionality in one of the pipelines but not in the others, that's the way I see it.

[2022-09-22 18:40] okalldal commented on #551
As you say @patrickvonplaten it is not really difficult to get the pipelines to share the same models now either. The non hack way that already works is to just load each model separately via subdirectory instead of from a pipeline. Maybe a simple example for documentation is enough for most end-users in this regard and merging the pipelines are overkill. It's just that one tends to get spoiled by

[2022-09-22 21:15] keturn commented on #551
That hasn't been my experience.

but there is a _lot_ in this thread I could potentially ramble about, let me see if I can find a few things to focus on.

As for txt2img, img2img, and inpaint: I wouldn't want the interface for those three different tasks to all be squished in to one function. But classes are collections of data and methods, and
+ these three tasks have the same set of data that ne

[2022-09-22 22:12] keturn commented on #526
This is a stepping stone toward being able to record a metadata file with all the information needed to reproduce, as discussed at https://github.com/invoke-ai/InvokeAI/discussions/689#discussion-4402574

Some of that the caller knows (because they specified it),
some of it they can extract from the pipeline configuration.
But if, for example, the caller doesn't specify `num_inference_steps`, the

[2022-09-23 04:28] 345ishaan commented on #319
@patrickvonplaten Yes, happy to start with this. Do you have any documentation / suggestions / reference CLs on how to quickstart?

[2022-09-23 05:52] Arkitecc commented on #277
I'm very much looking forward to this, if anyone is able to get this down definitely tag me.

[2022-09-23 06:25] Hafiidz commented on #380
To add, I keep getting this warning/log with default example txt2img and img2img pipe. `{'trained_betas'} was not found in config. Values will be initialized to default values.`

[2022-09-23 08:16] Karbo123 commented on #515
I have the same problem here, when I want to create my own pipeline which is defined in the training script like this:
[code]
Any workaround for this problem? since I don't want to change the diffusers' source codes.

[2022-09-23 08:38] Karbo123 commented on #515
Just found a simple solution, but not sure what the side effect is:
[code]

[2022-09-23 09:57] pcuenca commented on #551
There are several topics being discussed here.

If we want to prevent the problem that people may load modules in inefficient ways, I think the best course of action would be to document how to do it with a snippet similar to @patrickvonplaten's (loved it lol). And fully address the very reasonable concerns that were raised about potential interdependencies. I think this would also make it clearer

[2022-09-23 10:04] allo- commented on #515
I guess that can work, as long as you don't need logic from the other pipelines, e.g., the `__call__` method with a base and mask image.

I guess in general there are three steps and three similar use-cases:
- Process the prompt (the result can be used with several seeds)
- Diffuse using the prompt and a seed (you can use different seeds, base images, masks)
- SafetyChecker

And the pipelines spli

[2022-09-23 10:15] Karbo123 commented on #515
Yeah, my provided solution isn't actually good, because I found that if I want to `pipeline.save_pretrained(...)`, it could cause an error. Maybe I just need to extract the logic into another class using `scheduler` or related utils only, and save checkpoint using `torch.save` or something like that to aviod using pipeline.

[2022-09-23 10:27] allo- commented on #515
The problem with pipeline modifications is, that it seems that the project still changes quite a lot in the pipelines. I started with a script that contained a `diffuse` method itself which had roughly the content of the `__call__` method and changed to use the Pipeline to get the new features and bugfixes in the meantime.
I think the next larger change may be that the schedulers are replaced and

[2022-09-23 10:27] pcuenca opened #621 "Flax: trickle down `norm_num_groups`"
`FlaxEncoder` receives it [here](https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/vae_flax.py#L326), but then it's ignored.

`FlaxResnetBlock2D` uses a [hardcoded value](https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/vae_flax.py#L99).

Discovered by @younesbelkada in https://github.com/huggingface/diffusers/pull/589#discussion_r975796548

[2022-09-23 14:05] jalexs82 opened #624 "NameError: name 'ort' is not defined"
I just got this error. The very recent update to onnx_utils.py appears to be buggy. Does not function at all for me.

[2022-09-23 14:22] dblunk88 commented on #624
same here

[2022-09-23 14:51] garrett361 commented on #336
@keturn I'm curious about the link you shared: [hlky got me looking at why some samplers weren't behaving](https://discord.com/channels/879548962464493619/1020832171352658061/1020869069806764112)

However, when I try to follow it, I'm met with an error message from Discord: `You find yourself in a strange place. You don't have access to any text channels, or there are none in this server`.  Could

[2022-09-23 15:01] natolambert commented on #380
I think I have updated all the unused parameters throughout documentation changes.

RE @Hafiidz 's point, I think that is because the config on the hub is missing the entry? I'm not 100% sure. Future model versions will likely address this.

[2022-09-23 17:39] pcuenca commented on #624
Fixed in https://github.com/huggingface/diffusers/pull/626. Thanks for reporting!

[2022-09-23 18:00] natolambert commented on #590
Hi @sgrigory - great catch! This scheduler isn't used in any big spaces / demos yet, so do you want to make a PR to change this? If not, I can easily do so (there may need to be a couple updated tests too) 🤗

[2022-09-23 20:27] sgrigory commented on #590
@natolambert - thanks, sure, here is the PR: https://github.com/huggingface/diffusers/pull/627 . I've fixed one affected test I found, please let me know if you see any others which need adjustments

[2022-09-24 11:52] FinnFrotscher commented on #579
might be related, I get something similar.
[code]

leads to:
[code]

[2022-09-24 15:04] MajorTal commented on #541
I managed to get it to work - thanks for the tips!
I still think it should be built in to the general HuggingFace library, and deployed with a simple pipe.deploy().

[2022-09-24 16:24] #590 closed

[2022-09-25 14:31] isamu-isozaki commented on #524
HI! I implemented this for my project and I'm happy to make a pr here if you want! It can also log images at fixed intervals

[2022-09-25 14:33] isamu-isozaki commented on #369
HI! I implemented this for my project in a bit of a hacky way but I can make a pr for it if you want! Basically, I transformed the placeholder token to n other placeholder tokens combined.

[2022-09-25 18:07] isamu-isozaki commented on #507
Hi! I fixed this in my project by setting the adam's weight decay to 0 then doing something like
[code]

[2022-09-25 18:31] isamu-isozaki commented on #507
Hi. I was able to do this by something like
[code]
where grad mask is the mask for the gradient

[2022-09-25 19:44] isamu-isozaki commented on #507
Actually the above is wrong with accelerate since it'll do that update multiple times.

[2022-09-25 20:16] Stable777 commented on #598
Thanks for the new method @harishanand95 , but it has the same problem, I can't make anything highter than 512x768.

[2022-09-26 02:56] Karbo123 opened #639 "Parameter Initialization doesn't match with Latent Diffusion Model"
### Describe the bug

Thanks for releasing this great work, it really makes using diffusion a easy thing!

But later when I tried to train a `UNet2DConditionModel` from scratch, I found the parameter initialization method is a little different from the official implementation.

For example,
https://github.com/huggingface/diffusers/blob/57b70c599c048fd764b14ff0e276bdf08ae2cd48/src/diffusers/models/

[2022-09-26 03:42] tasercake opened #640 "Incorrect type annotations on `StableDiffusionPipeline`"
### Describe the bug

`StableDiffusionPipeline::__call__` has some parameters annotated as `Optional` when they really aren't (i.e. they shouldn't be `None`)

A potential fix would be to just remove the `Optional` annotation on these parameters, as in this commit: https://github.com/tasercake/diffusers/commit/7a5c37a95f62e3b2923076f9becb4c2780fd425b

Alternatively, we could handle `None` values at

[2022-09-26 05:28] jamespeterthornton commented on #551
+1 for factoring out shared functionality. Duplicate code is an issue, and it means there is work to be done in order to achieve good code quality here. This is a core best practice in software engineering.

[2022-09-26 06:19] 345ishaan commented on #319
Update: I was getting familiarized with the paper and author's code. I also checked how other models are integrated into diffuser's pipeline for inference only mode, so plan to do the same for VQ-Diffusion as next step using original code impln.

[2022-09-26 06:39] julien-c commented on #541
cc @jeffboudier for visibility

[2022-09-26 22:09] isamu-isozaki commented on #524
I think I did it here https://github.com/huggingface/diffusers/pull/645

[2022-09-27 00:21] jamespeterthornton commented on #551
I wanted to better understand where the current approach is coming from, so I went back and re-read the blog post in more detail. There is is a reasonable motivation behind the original philosophy (making model code easily understandable for developers new to the library) but this case highlights two core issues:

1. The philosophy does not adequately emphasize the drawbacks of duplicate code. It

[2022-09-27 09:03] patrickvonplaten commented on #612
Hey @exo-pla-net,

Sorry you are right that we are maybe a bit too technical here. Would this google: https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines#tweak-prompts-reusing-seeds-and-latents colab help you?

We should indeed think more about how to make better docs

[2022-09-27 09:05] patrickvonplaten commented on #615
cc @anton-l @patil-suraj @pcuenca - I think this would indeed be a good idea no?

[2022-09-27 09:14] #447 closed

[2022-09-27 09:27] pcuenca commented on #615
Yes, it'd be very cool!

How would it work though? Manipulating the latents as in the current in-painting process, assuming they have a strong correlation with the image geometry?

[2022-09-27 10:04] 2132660698 commented on #579
try this:
pip install transformers==4.22.1

[2022-09-27 10:15] #491 closed

[2022-09-27 10:27] pcuenca commented on #319
That's awesome, @345ishaan! Let us know if you need any help :)

[2022-09-27 10:28] patrickvonplaten commented on #380
@Hafiidz,

That's good feedback, I think we should relax the warning to a logger.info statement to make for better user experience. @anton-l do you have a spare minute to take a look here?

[2022-09-27 11:42] patrickvonplaten commented on #639
Hey @Karbo123 that's a very nice issue - I think we should follow CompVis initialization here. Would you like to open a PR for it? :-)

[2022-09-27 11:43] patrickvonplaten commented on #639
Also cc'ing @patil-suraj as he's working with fine-tuning

[2022-09-27 11:43] patrickvonplaten commented on #640
Good point! Would you like to open a PR to add it? :-)

[2022-09-27 12:11] patrickvonplaten commented on #551
Very nice ideas in this thread here!

To me the main concern seems to be about not factoring out shared functionality and code. I also agree that this could help in better understand differences
Happy to factor out the code that all pipelines share into a function and then make sure this stays identical for the other pipelines.

Big +1 on @pcuenca that pipelines are rather supposed to be examples.

[2022-09-27 12:27] Narsil commented on #374
Cancelable and asynchronous are not linked (as far as I understand) to generator and yielding.

Cancelable and asynchronous:
- I think this is meant to me used in async context like webservers. Pytorch itself is not async, so I don't think this library (or any that depend on pytorch) should ever try to create artifical asynchronous behavior (it's asking for trouble IMO). If you want to handle this

[2022-09-27 14:01] jalexs82 opened #646 "'PNDMScheduler' object has no attribute 'set_format'"
### Describe the bug

Getting this error from pipeline_stable_diffusion.py

### Reproduction

_No response_

### Logs

_No response_

### System Info

On colab notebook: https://colab.research.google.com/github/WASasquatch/easydiffusion/blob/main/Stability_AI_Easy_Diffusion.ipynb

[2022-09-27 14:36] segments-tobias opened #647 "tensor_format in new Dreambooth example"
### Describe the bug

Hi! After merging the Dreambooth example script, PR #534 was merged, but the `tensor_format` wasn't removed from the Dreambooth script. This gives an error when running the script.

@patil-suraj @patrickvonplaten

### Reproduction

_No response_

### Logs

_No response_

### System Info

NA

[2022-09-27 14:58] Wauplin commented on #313
Hey there :wave: @osanseviero pointed this issue to me (as well as https://github.com/huggingface/diffusers/issues/81). In general, I'd be glad to help in integrating more `huggingface_hub` in `diffusers` when needed. This issue seems a very good start.

To come back to @patrickvonplaten message:

1. That's definitely what `push_to_hub` is meant to be. Since v0.9, `hfh` has a new "http-based push-

[2022-09-27 16:14] WASasquatch commented on #646
Same issue.

[2022-09-27 16:39] patil-suraj commented on #647
Hey @segments-tobias  it's removed now cf #649

[2022-09-27 16:40] patrickvonplaten commented on #646
You are totally right - we messed it up here! Very sorry about this :pray:

Here the fix: https://github.com/huggingface/diffusers/pull/651

[2022-09-27 16:51] WASasquatch commented on #646
I commented out the offending line of code for now, and things seem to be working without error or loss of quality for now.

[2022-09-27 17:30] i-am-epic commented on #198
Hi @patil-suraj , @patrickvonplaten
I would like to help with other files for better variable name changes.

[2022-09-27 17:40] UglyStupidHonest opened #656 "Error for the 16gb gpu dreambooth training"
### Describe the bug

I can train without the prior preservation fine if I try to train with it I get
“UNet2DConditionModel' object has no attribute 'enable_gradient_checkpointing'”

I also get an error that prior_loss_weight is a unrecognized argument

### Reproduction

_No response_

### Logs

_No response_

### System Info

Ubuntu, python 3.10 ,

[2022-09-27 18:31] pcuenca opened #657 "Handle `kwargs` and not serializable values as configuration attributes"
Context: #655.

A `kwargs` argument was added to schedulers in https://github.com/huggingface/diffusers/commit/d7dcba4a130a2eeecd46fc1d2ed244f54fd2a8f6 just to display a deprecation warning. `kwargs` was interpreted as a configurable attribute, but it could not be serialized. This broke:
- Pipeline loading, via `__repr__` in the warning message.
- Pipeline saving.

We just added a quick fix, but t

[2022-09-27 19:15] keturn commented on #374
You are correct that we've muddied the discussion here with several different concepts with their own concerns.

The original request was for cancellation support: the ability to interrupt work on a task that's in-progress, allowing the process to move on to other work. Use cases might be things like:
- the client disconnected, so the result is no longer deliverable.
- the intermediate outputs loo

[2022-09-27 19:29] williamberman commented on #319
Hello, super sorry wasn't aware someone was already working on this! I ported the VQVAE for the ITHQ dataset. Would love to help contribute if possible :)

I put up a draft PR https://github.com/huggingface/diffusers/pull/658 for the VQVAE with docs on how to compare it against VQ-diffusion. Is the standard to wait until the whole pipeline is complete before merging anything, or is it ok to increm

[2022-09-27 19:40] jamespeterthornton commented on #551
@patrickvonplaten, awesome! Sounds good to me. Thank you for making these updates, and I'll make sure to follow the advice regarding examples / `schedulers` and `models` as well. Looking forward to checking out the refactored pipelines.

[2022-09-27 20:05] #647 closed

[2022-09-27 20:42] fffiloni commented on #615
I am working on it.
In fact you’d only need to work with img2img
stay tuned

[2022-09-27 20:50] exo-pla-net commented on #612
Hi @patrickvonplaten, I'm afraid I wasn't very clear about the issue.

The issue is that the latents can only be specified in txt2img, not img2img. Therefore, in img2img, the "seed" of all the images after the first, when batch_size >1, are unknowable.

Without looking under the hood to see the feasibility of this, I am proposing that when batch_size > 1, the generator should make its latents from

[2022-09-28 01:24] MatthewWaller opened #660 "Running revision="fp16", torch_dtype=torch.float16 on mps M1"
### Describe the bug

I'm using the following code:

[code]

But I always get the error: `RuntimeError: "LayerNormKernelImpl" not implemented for 'Half'`

Is there a way around this error? Seems like the values aren't getting cast right, or this layer isn't getting the message.

### Reproduction

[code]

### Logs

[code]

### System Info

python 3.9
torch==1.13.0.dev20220917
diffusers==0.3.0

[2022-09-28 01:54] ben-heil commented on #656
The `enable_gradient_checkpointing` code in `UNet2DConditionModel` is currently part of the dev version of `diffusers`. If you clone the repo and run `pip install .` you can get the updated version

I'd guess that will fix your second issue as well, but I haven't run into it so I'm not sure

[2022-09-28 03:18] ajundo commented on #596
Using the predicted x_0 for CLIP is reasonable, feeding x_{t-1} makes no sense. x_{t-1} have no semantic information and the gradient is kind of noise.

[2022-09-28 03:49] UglyStupidHonest commented on #656
Thank you ! Now I saw it actually says to do exactly that to make sure everything runs in the examples :) So I should have seen that haha. Does not fix the prior loss thing for me but I will investigate further!

[2022-09-28 03:51] isamu-isozaki commented on #369
I made a pr for what I mean (here)[https://github.com/huggingface/diffusers/pull/661]! It might make it a bit verbose so I'm thinking it might be better to inherit the tokenizer then do things but it does work.

[2022-09-28 04:44] JustAnOkapi opened #663 "accelerate config"
removed

[2022-09-28 04:44] #663 closed

[2022-09-28 05:06] 345ishaan commented on #319
Hmm ok, if you have crossed the finish line, then go ahead! I was mostly working on adding the implentation to diffusers in inference mode. If you need any help further, happy to collaborate.

Going forward, what is the best way to avoid such overlaps? I thought it was via proposing/updating through issues.

[2022-09-28 05:16] williamberman commented on #319
@345ishaan definitely not over the finish line, just ported the autoencoder for one of the models! Happy to collaborate :)

[2022-09-28 07:21] hafriedlander commented on #646
This API change will have also broken all custom schedulers, since most of them rely on set_format to convert from numpy to tensor. Might need a stronger warning? (I didn't see this in my console, and it took me a while to track down the issue).

[2022-09-28 07:25] hafriedlander commented on #646
Actually, I'll suggest a different fix. Put the old behaviour back into scheduling_utils - you don't use it in the core schedulers at all, so it won't matter, and it'll mean any custom schedulers will still work.

[2022-09-28 07:50] 345ishaan commented on #319
SG! I will check your CL. Do you want to chat over discord?

[2022-09-28 13:23] patil-suraj commented on #579
Hey @XavierXiao , @Oragi ! IAs pointed out by @2132660698 if you upgrade transformers version. to `>=4.22.1` this should work. Because the `subfolder` argument isn't available in previous versions. I will update the minimum version in example requirements.

@FinnFrotscher It looks like you are using the compvis checkpoint, you should clone the diffusers checkpoint to use it with this library. http

[2022-09-28 13:35] isamu-isozaki commented on #524
@patil-suraj Np! Glad to help.

[2022-09-28 13:39] patil-suraj commented on #507
Working on the fix, should ready by end of the week, sorry to get back to this only now!

[2022-09-28 15:17] BakingBrains opened #666 "How to resume from checkpoint."
I followed Colab for training. May I know how to resume the training.

Thanks and regards

[2022-09-28 15:28] patil-suraj commented on #596
That's a great catch @keturn ! Sorry to come back to this only now, will send a fix right away.

[2022-09-28 15:41] #596 closed

[2022-09-28 15:42] patil-suraj commented on #596
Also updated the colab notebook https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/CLIP_Guided_Stable_diffusion_with_diffusers.ipynb#scrollTo=-bzXx-2EhlQY

[2022-09-28 15:53] patil-suraj commented on #369
Hey @isamu-isozaki, thanks a lot! How are the results with your approach, this is different from the way it's done in the offical repo no ?

[2022-09-28 15:55] Maki9009 opened #668 "[dreambooth] RuntimeError when trying to Train on a Tesla T4 on Colab."
### Describe the bug

just right when it starts running the training it crashes with out of memory error. When i set it to fp16, i get a unscale_() was already called for error.. I'm not sure how to run this on a 16gb GPU?

### Reproduction

Tesla T4, using 12 training images and i set the step count 1200 and max 100 regulation images.

### Logs

[code]

### System Info

DreamBooth Diffuser.

[2022-09-28 16:21] isamu-isozaki commented on #369
@patil-suraj Hi! Yup the approach is a bit different in how the tokens are assigned but you can get the same result by having one token for initializing token. In my experiments, having more token do produce better results. For example, I was just doing fast experiments with 5e-4 with batch size 1 and for the default one token example I got something like

![media_images_samples_12059_dcfd44f36abc

[2022-09-28 16:22] MatthewWaller opened #669 "Simplify CrossAttention to run on Apple Neural Engine"
**Is your feature request related to a problem? Please describe.**
I'm trying to convert portions of unet into CoreML. However, CrossAttention fails to compile to the Apple Neural Engine.

**Describe the solution you'd like**
My best guess after a lot of experimentation on converting CrossAttention in many respects is that there are too many reshapes and transposes.

Is there a way to simplify
[co

[2022-09-28 16:25] isamu-isozaki commented on #369
I'll double check the original implementation again but for this one, you can have each placeholder token start with a different initial value. So you can describe your subject not just with one token but with a sentence.

The main problem for this implementation is that it makes the prompt quite verbose. For example, for the picture below, the prompt was
"A picture of <frida>_0 <frida>_1 <frida>_

[2022-09-28 17:03] pcuenca commented on #313
Hi @Wauplin!

That would be awesome! I think @anton-l might be the most knowledgeable person about this area in `diffusers`, but he's off this week.

We currently have some basic `push_to_hub` and `init_git_repo` [functions](https://github.com/huggingface/diffusers/blob/main/src/diffusers/hub_utils.py) that are used from [the example training script](https://github.com/huggingface/diffusers/blob/m

[2022-09-28 18:50] keturn commented on #612
I'm afraid that the full explanation of the current behavior is even worse than this:

There's a category of schedulers described as _stochastic:_ they _add_ noise during inference steps. DDIM is one of these https://github.com/huggingface/diffusers/blob/c16761e9d94a3374710110ba5e3087cb9f8ba906/src/diffusers/schedulers/scheduling_ddim.py#L277

The way the current implementation is written means th

[2022-09-28 19:18] keturn commented on #612
What do you do about it? You could, as exo-pla-net suggested, have a generator for each entry in the batch. But currently, schedulers are blissfully unaware of the batch width, and having to shove that loop over the generators and concatenating the results would be no fun to add to every scheduler (or other place that needs noise).

In response to that, you could write some sort of meta-generator

[2022-09-28 20:27] keturn commented on #612
My favorite idea for this so far is to use a coordinate-based noise system.

A [`torch.Generator`](https://pytorch.org/docs/stable/generated/torch.Generator.html#torch.Generator) is a one-dimensional function, and it has internal state that advances its position every time it's called.

A coordinate-based function would look more like this:
[code]
for use like
[code]
to say "give me the three-dime

[2022-09-28 21:27] exo-pla-net commented on #612
Thanks for the thorough analysis, @keturn.

Given:
- Batches are crucial for fast image generation.
- Seeds are currently broken/inaccessible in batches.
- Knowing seeds are crucial for exploring the seed space of a prompt and tweaking promising seeds, so **batches are broken**.
- Hugging Face has the clout to drive the wide adoption of a better alternative.

I think it makes sense for a better no

[2022-09-28 23:45] tianleiwu commented on #489
Example script to convert FP32 to FP16:

[code]

To get best performance, please set providers like the following:
[code]
See https://onnxruntime.ai/docs/performance/tune-performance.html#convolution-heavy-models-and-the-cuda-ep for more info.

*Latency (Seconds per Query) for GPU*
Stable Diffusion Pipeline (text to 512x512 image) | T4 | V100 | A100
-- | -- | -- | --
PyTorch   FP16 | 12.8 | 5.1 |

[2022-09-29 02:10] ajundo commented on #596
Afaik, this is correct because the conditional diffusion is conditional on predicted x_t rather than predicted x_0。

[2022-09-29 04:43] Neklioz opened #671 "converted models using convert_original_stable_diffusion_to_diffusers.py are not identical"
### Describe the bug

I have some ckpt files and I converted them using this script, while using it, there was a warning:

[code]

I tried the generated model and it's not even similar to the original.

As an example I used [this one](https://huggingface.co/BumblingOrange/Emilia) as I had some outputs identical to the original character "Emilia from Re:Zero"

[Here](https://imgur.com/a/MIHZcF4) yo

[2022-09-29 06:54] tasercake commented on #640
I'd be happy to!

Which approach do you think would be better – removing the `Optional` annotations, or using default values when `None` is passed?

[2022-09-29 08:38] apolinario opened #672 "Convert `diffusers` model weights to the `original CompVis` ckpt format"
There is a conversion script that converts the CompVis ckpt to diffusers available [here](https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py), but the other way around does not exist yet.

As some Stable Diffusion UIs and utilities are built on top of the CompVis codebase, it would be useful to be able to use diffusers tools back on those.

[2022-09-29 09:04] Narsil commented on #374
You are entirely correct ! In my day-to-day I tend to see memory allocations being the issue more often than not, but you are entirely correct it's lazy work in general.

It's more that some calls within (Like printings, fetching values, or moving data from devices) ARE blocking because they need to wait on the GPU to finish to deliver the final data.

I tend to err on the other side that NO libra

[2022-09-29 09:16] #579 closed

[2022-09-29 11:05] rashmimarganiatgithub commented on #672
@patrickvonplaten, can I take this or is someone working on this?

[2022-09-29 11:34] apolinario commented on #672
Hi @rashmimarganiatgithub , feel free to take this! Currently there is no one working on this as far as we are aware of!

[2022-09-29 12:13] patil-suraj commented on #369
Cool, thanks for the explanation!
I'm also thinking about how to support the original implementation in `diffusers`. Will have something working soon!

[2022-09-29 12:25] rsomani95 opened #673 "(Textual Inversion) Initialise Vector For New Token From Multiple Existing Tokens"
I'd like to propose an idea analagous to https://github.com/huggingface/diffusers/issues/369.

The current fine tuning script for textual inversion initialises the new `placeholder_token`'s embedding with an existing `initializer_token` (and enforces that the init token is exactly one token).

https://github.com/huggingface/diffusers/blob/84b9df57a7c78e1cd9c132d286341451a4e6a80b/examples/textual_i

[2022-09-29 12:43] Revist opened #674 "Can pretrained autoencoder stage be used for any new dataset training?"
In the latent diffusion paper authors mention that:
"A notable advantage of this approach is that we need to train the universal autoencoding stage only once and can therefore reuse it for multiple DM trainings or to explore possibly completely different tasks."
Does that mean that we do not have to retrain autoencoder stage for image <-> latent space encoding / decoding when we want to train DM o

[2022-09-29 13:12] patil-suraj commented on #673
Hi! For such general question it would be best to use the discord!

Also, note that `tokenizer.encode` only converts the text into integer tokens, it does not give the embeddings.

To get the embeddings we will need to call the token emebedding layer, get embeddings for the tokens and then average them.

[code]

This will give the embeddings of the tokens which you can then average.

[2022-09-29 13:20] patil-suraj commented on #198
Hey @i-am-epic @daspartho , there are still some places with single letter variables in `resenet.py` , feel free to work on those! I'm listing them down here.

https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/resnet.py#L37
https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/resnet.py#L54
https://github.com/huggingface/diffusers/blob/main/src/diffusers/mod

[2022-09-29 13:25] isamu-isozaki commented on #673
@rsomani95 Hi! Yup, that's interesting. One way I tackled this problem in [/pull/661](https://github.com/huggingface/diffusers/pull/661) was I increased the number of placeholder tokens to equal the number of tokens in the initializer token so that if you put in a white dog, it'll assign one placeholder token to white and one placeholder token to dog.

I haven't tested with the averaging strategy

[2022-09-29 13:25] patil-suraj commented on #639
Thanks a lot for the issue! We should definitely follow CompVis initialization here. Feel free to open a PRm happy to help with it!

[2022-09-29 13:26] isamu-isozaki commented on #369
@patil-suraj Sounds good! Let me know if you need any help.

[2022-09-29 13:44] ryanrussell opened #675 "LDM Bert `config.json` path"
### Describe the bug

### Problem
There is a reference to an LDM Bert that 404's
[code]

I was able to locate a `config.json` at `https://huggingface.co/valhalla/ldm-bert/blob/main/config.json`

Is this the correct `config.json`?

#### Notes for reviewer
Happy to send a PR if needed to update, feel free to do on your own if it's faster/easier :)

### Reproduction

na

### Logs

[code]

### System

[2022-09-29 13:53] Wauplin commented on #313
@pcuenca ok so there is definitely some good stuff existing for pushing to the Hub and improvements that would be welcomed :)

Thanks for the explanation about the different parts of the pipeline ! I guess one way of implementing some community pipelines would be to adapt the `model_index.json` to not only define the library+model type for each component but also an optional `model_id` to tell whe

[2022-09-29 15:10] rsomani95 commented on #673
@patil-suraj Thanks for the clarification. Didn't know re. Discord, will join and continue the conversation there.

@isamu-isozaki I saw your PR, and I think that's a great idea. Will try it out and share any interesting findings (or not). Re. averaging embeddings -- I think that makes sense, maybe a more straightforward path is to just add more tokens and train for longer.

[2022-09-29 16:09] i-am-epic commented on #198
Hi @patil-suraj,
Thank you for pointing out the changes; I'll work on it.
I'm not sure my naming analogy is perfect.
correct me with better naming convention,
x as parameter in forward function will be input_tensor and it returns output_tensor (and based on upscale, downscale or padding x can be upscale_input,downscale_input, padded_input).

[2022-09-29 16:18] daspartho commented on #198
Opened a PR for the issue :) #676

[2022-09-29 16:40] i-am-epic commented on #198
@daspartho no issues it would had been my first contribution.

[2022-09-29 17:01] daspartho commented on #198
Hi! @i-am-epic,
You could work on this one. Happy first contribution :)
https://github.com/huggingface/diffusers/blob/f10576ad5c9dbd17c59e0af12a26583e3a540e20/src/diffusers/models/resnet.py#L329

[2022-09-29 17:32] patrickvonplaten commented on #646
Hey @hafriedlander,

It's now a deprecated functionality but that works again. Is this good for you? Since we only support Pytorch models at the moment, I don't ever see a use case when one would need a numpy scheduler.

Does this work for you? Please let me know if it's there are some inconveniences (and which ones) with the behavior currently and whether you can transition your code to not use `

[2022-09-29 17:39] errnoh commented on #468
Duplicate of this issue that's gaining some velocity: https://github.com/huggingface/diffusers/issues/672 (should eventually at least solve the initial problem this ticket was about)

[2022-09-29 18:35] patrickvonplaten commented on #668
Heey @Maki9009,

Thanks for raising the issue. Gently pinging @patil-suraj here

[2022-09-29 18:36] patrickvonplaten commented on #669
Hey @MatthewWaller,

Generally yes I think we can do this, we would have to see a PR though. Would you like to open a PR for this one? :-)

[2022-09-29 18:36] patrickvonplaten commented on #669
Also cc @pcuenca

[2022-09-29 18:42] MatthewWaller commented on #669
yeah, giving it a shot now. I want to make sure the einsum I'm using will convert with coremltools though. Will check back in!

[2022-09-29 18:47] patrickvonplaten commented on #612
Throwing in another idea here. What do you think about changing the function argument:

[code]

to

[code]

which in short means that we allow to pass a list of generators for which then one is applied for each batch dimension. `We can easily check that if `isinstance(generator, list)` then the length has to match the batch dimension. This should solve all reproducibility issues no?

What do you t

[2022-09-29 18:48] patrickvonplaten commented on #489
Nice! @anton-l do you want to take a look here?

[2022-09-29 18:49] patrickvonplaten commented on #671
Hey @Neklioz,

Thanks for the issue! Taking a look hopefully tomorrow

[2022-09-29 18:50] patrickvonplaten commented on #640
IMO removing `Optional` is the better choice here

[2022-09-29 18:59] patrickvonplaten commented on #374
Also cc @pcuenca here since it's similar to the PR that's about to be merged: https://github.com/huggingface/diffusers/pull/521

[2022-09-29 19:05] patrickvonplaten commented on #674
cc @patil-suraj here. IMO we don't need to retrain the VAE as it's been trained very well already!

[2022-09-29 19:11] patrickvonplaten commented on #675
Yes this seems wrong, let's update it (cc @patil-suraj )

[2022-09-29 19:52] devilismyfriend commented on #672
Please do :) a lot of folks want to do this due to dreambooth working better on diffusers but the various existing webuis don't use diffusers

[2022-09-30 02:14] WASasquatch commented on #646
Are these changes also related to this when trying to do inpaint on pndm?

[code]

[2022-09-30 05:58] i-am-epic commented on #198
Opened new  PR #677
Please do verify, thanks.

[2022-09-30 09:52] #675 closed

[2022-09-30 09:55] patil-suraj commented on #674
Yes, that's right. In stable/latent diffusion only the unet model is trained, rest (vae and text encoder) are kept frozen. They both are trained separately. And as Patrick mentioned they are well trained, so it's require to train those when fine-tuning stable diffusion.

[2022-09-30 10:02] Revist commented on #674
So you mean the autoencoder will work fine even if I supply some images from different resolution / distribution (e.g. it has not seen images with cats and I supply images with cats)?

[2022-09-30 10:17] errnoh opened #684 "Training memory optimizations not working on AMD hardware"
### Describe the bug

[Dreambooth training example](https://github.com/huggingface/diffusers/tree/main/examples/dreambooth) has a section about training on 16GB GPU. As Radeon Navi 21 series models all have 16GB available this in theory would increase the amount of hardware that can train models by a really large margin.

Problem is that at least out of the box neither of the optimizations `--grad

[2022-09-30 10:29] kabachuha commented on #672
Just reminding for any aspiring devs that there is already .ckpt -> diffusers .bin script in this repo https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py

Someone will just have to reverse all the operations

[2022-09-30 10:38] patil-suraj commented on #666
Hi @BakingBrains ! We haven't yet added the checkpoint saving and resuming features to the training scripts yet. It's on my todo list. Feel free to open a PR if you are interested, would be very happy to help :)

[2022-09-30 11:49] patil-suraj commented on #668
Thanks for the issue, did you use `mixed_precision` for training ?

[2022-09-30 12:43] pcuenca opened #685 "Can't import `diffusers` with Flax but without PyTorch"
### Describe the bug

I discovered this when testing #659. It is currently possible to `import diffusers` without any of PyTorch and Flax; the dummy classes are loaded. But when Flax is installed and PyTorch isn't, then importing fails.

This is because of two reasons:

- `modeling_flax_utils.py` imports `load_state_dict`. This is so we can perform the weight conversion from a PyTorch checkout.
-

[2022-09-30 12:59] patil-suraj commented on #668
Can reproduce the issue. Note that this is not an OOM but an issue with gradient clipping when doing gradient accumulation.
fix is here #686

[2022-09-30 13:02] patil-suraj commented on #674
It might not give best results for all resolutions. And for out of distribution, since it's trained on a huge dataset think it can handle most of the cases.

[2022-09-30 13:08] patil-suraj commented on #656
Are you share you ran all the cells ? In particular, the `prior_loss_weight` is defined in this cell https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/sd_dreambooth_training.ipynb#scrollTo=8i_vLTBxAXpE, so make sure you run those.

[2022-09-30 14:03] UglyStupidHonest commented on #656
Hey ! I ran this locally so just ran the
accelerate launch train_dreambooth.py
Is there a comma missing here ? Thats why it cant find , Im not sure Im a bit of a newbie haha

parser.add_argument("--prior_loss_weight", type=float, default=1.0, help="The weight of prior preservation loss.")

parser.add_argument(
        "--num_class_images",
        type=int,
        default=100,
        help=(

[2022-09-30 16:40] patil-suraj commented on #656
Could you post the command that you  used to launch ?

[2022-09-30 17:04] williamberman commented on #319
@cientgu @zzctan

Could I have some help parsing q_posterior?

https://github.com/microsoft/VQ-Diffusion/blob/3c98e77f721db7c787b76304fa2c96a36c7b00af/image_synthesis/modeling/transformers/diffusion_transformer.py#L235-L267

I believe it's computing equation 11 in log space, but I still have a few questions. I understand it's adapted from https://github.com/ehoogeboom/multinomial_diffusion/blob/9d

[2022-09-30 17:05] RiverDong opened #692 "Is there a example of fine-tuning diffusion model?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-30 17:06] RiverDong commented on #692
Also I am wondering what's the hardware requirement and number of samples suggested to fine-tune a diffusion model. Thank you!

[2022-09-30 18:20] AmericanPresidentJimmyCarter commented on #672
That looks like it is for a tensorflow checkpoint, not pytorch?

[2022-10-01 10:11] umarfm commented on #597
@anton-l @jdk514 did any of you manage to run it with:

!pip install git+https://github.com/huggingface/diffusers.git

It still shows the same error to me:

AttributeError: 'dict' object has no attribute 'shape'

PS: I am running it for only 5 epochs!

[2022-10-01 14:44] gau-nernst commented on #499
I am facing the same error. After installing the latest diffusers from GitHub

[code]

The original issue `AttributeError: 'dict' object has no attribute 'size'` is gone, but another issue appears

[code]

[2022-10-01 14:54] gau-nernst commented on #499
After applying #686, the problem is resolved.

[2022-10-01 19:19] 345ishaan commented on #319
@williamberman I will be able to take some tasks today and tomorrow. I just checked your CL, it seems like you ported the vq-vae encoder there. Do you want to chat over discord to split tasks? My username is 345ishaan#9676

[2022-10-01 19:42] williamberman commented on #319
pinged you in discord @345ishaan!

[2022-10-01 20:44] Kitenite commented on #541
Came across the same problem, this is big help. Thank you both :)

[2022-10-02 03:22] Gonzih commented on #684
Not related to AMD, I have the same error on google colab, seems like `UNet2DConditionalModel` does not implement `ModelMixin` class which provides `enable_gradient_checkpointing` method

Seems like checkpointing was only recently implemented in the codebase and I assume wasn't released yet

[2022-10-02 03:24] Gonzih commented on #684
Method was added in this commit  (10 days ago) https://github.com/huggingface/diffusers/commit/e7120bae955949355e50a4c2adef8353790fda0d

And latest release was 23 days ago.

Installing from master should solve the issue.

`pip install git+https://github.com/huggingface/diffusers.git`

[2022-10-02 16:01] hopibel commented on #684
The `use_8bit_adam` potentially is, as bitsandbytes includes a C extension which wraps some CUDA functions, i.e, doesn't run through pytorch-rocm

[2022-10-02 16:39] Gonzih commented on #684
@hopibel thanks for clarification, updated my original comment

[2022-10-02 16:41] loboere opened #696 "CUDA out of memory when i want to train dreambooth"
### Describe the bug

I'm using T4 with colab free , when I start training it tells me cuda error, it happens when I activate prior_preservation.

![image](https://user-images.githubusercontent.com/15265895/193465676-026575bb-0336-4ed1-9def-6a88c6599793.png)

Run training

[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

T4 with colab free

[2022-10-02 17:56] #459 closed

[2022-10-02 18:14] Duemellon opened #698 "Any Webui for local Dreambooth yet? I mean, to use DB to train."
Although I'm trying my best to dive into the who PY scene I'm at a loss. Has anyone made a Webui for DB training on your local yet? If so, where is it at? If not, is anyone working on  one?

[2022-10-02 19:15] allo- opened #699 "Add support for negative prompts"
**Is your feature request related to a problem? Please describe.**
Some forks stable diffusion added [support for negative prompts](https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Negative-prompt).

I tested this in the `StableDiffusionPipeline` and it seems to work that way with diffusers as well. I currently don't see a way to implement it without creating an own Pipeline, so it wou

[2022-10-02 20:19] gadicc commented on #671
Thaks, all.  Here's another example with even greater differences.

Checkpoint is any of the `epoch06` files from https://huggingface.co/hakurei/waifu-diffusion-v1-3/tree/main:

Here's how it looks with original SD code:

![image](https://user-images.githubusercontent.com/381978/193474172-521a2f6f-d241-4389-b334-6824c562a3ff.png)

Prompt: 1girl, animal ears, blonde hair, brown shirt, closed mouth,

[2022-10-02 22:57] jachiam commented on #672
https://gist.github.com/jachiam/8a5c0b607e38fcc585168b90c686eb05

I think this works

I got it to do a conversion on my machine and then generated a reasonable image with the converted weights

[2022-10-02 23:50] jachiam commented on #672
I have now opened a PR to incorporate the conversion script into Diffusers

[2022-10-02 23:51] jachiam commented on #468
I have a fix in PR #701

[2022-10-03 01:15] Magicalore commented on #672
Hey can you actually use this on your PC?

[2022-10-03 04:01] jachiam commented on #672
Yes.

[2022-10-03 07:58] neverix opened #702 "Reverse sampling for schedulers"
### Model/Pipeline/Scheduler description

Some of the samplers (e.g. DDIM) are fully reversible. A simple API addition of `reverse_step()` or a mixin can be implemented. This will allow interpolating between images not generated by diffusion models.

### Open source status

- [X] The model implementation is available
- [ ] The model weights are available (Only relevant if addition is not a schedul

[2022-10-03 08:54] #668 closed

[2022-10-03 09:01] patil-suraj commented on #499
Thanks for reporting @gau-nernst ! Would you like to open a PR to apply this fix to the `train_unconditional.py` script ?

[2022-10-03 09:12] pcuenca opened #704 "[Community] Accept latents as optional input in other pipelines"
The Stable Diffusion pipeline accepts latents as an optional input for reproducibility purposes, see #247.

In conversation with @tmabraham, he suggested extending this feature to other pipelines too. In addition to reproducibility efforts, this could come in handy for a potential integration with the `fastai` library.

[2022-10-03 10:31] AlphaJuliettOmega commented on #551
I've been away from Python for a while so I hope these two questions aren't too painful to answer.

1. Why not a base Pipeline class that the other three can extend, that can contain duplicated code?
My reasoning is that you could then look at each of the three pipeline files and the code inside them would be what makes them different to a Base/basic pipeline.

I see there is [already a base class

[2022-10-03 12:29] NouamaneTazi opened #706 "How to make Stable Diffusion work with DDIM"
It seems that using DDIM with the `StableDiffusionPIpeline` gives odd results
[code]
gives results like this
![pic_2022-10-03_10-37-31](https://user-images.githubusercontent.com/29777165/193576558-d3f4ae04-5254-465c-90d9-568cf5979444.png)

![pic_2022-10-03_10-37-27](https://user-images.githubusercontent.com/29777165/193576551-4d0130ec-45c7-44ab-9ac5-b291fe70038b.png)

How could we make SD work wit

[2022-10-03 14:23] #685 closed

[2022-10-03 15:07] skirsten commented on #696
I am getting the same error on a RTX 3090 (24GB) using the example script with `diffusers.git@688031c592a08832387761971f1e6ca504a5900b`:
[code]

[2022-10-03 15:13] roiniti commented on #672
Download the file, download pytorch and
`python .\convert_diffusers_to_sd.py --model_path "path to the folder with folders" --checkpoint_path "path to the output file"`
The model_path is the folder with the logs, tokenizer, text_encoder... folders and you need to specify the name of the output file with the .ckpt extension (or just rename it later) for example:
`python .\convert_diffusers_to_sd.py

[2022-10-03 15:22] ethancohen123 commented on #163
Hey,
Has it been released yet ?
By looking at #356 it seems like the code is for finetunning. Is it planned to have a training pipeline from scratch (or maybe it can be easily modified from the code) on my data for example ? Im working with custom data that are not natural images and texts and I also want to explore best latent conditionning (pretrained conditionned encoder, clip pretrained betwee

[2022-10-03 15:39] errnoh commented on #684
@Gonzih thanks! That does indeed solve the issue with gradient checkpointing and actually gets really close to being able to train with AMD gpus. Dreambooth example actually starts this time, even though it still runs out of memory during the first iteration on 512x512, with this optimization current maximum without running out of memory with the example command is 384x384.

That said, there seems

[2022-10-03 15:43] ethancohen123 commented on #163
Perfect, thank you very much for your reactivity :)
When you say load random models is it like with the transformers library where you define the config for the model and then model= model_from_diffusers(config) ?

[2022-10-03 15:53] ethancohen123 commented on #163
Also yo you have any idea on the different performance of stable diffusion based on way the conditiioning is incorporated (clip based vs scratch based vs pretrained text based for example ) ? I was not able to find such experiments in the research paper

[2022-10-03 17:44] natolambert opened #709 "[Documentation] "r" as method docstring for forward"
### Describe the bug

As seen [here](https://github.com/huggingface/diffusers/blame/688031c592a08832387761971f1e6ca504a5900b/src/diffusers/models/unet_2d.py#L173), the forward docstrings of the UNet classes have "r" as the method description. Why is this?

https://github.com/huggingface/diffusers/blob/688031c592a08832387761971f1e6ca504a5900b/src/diffusers/models/unet_2d.py#L173-L180

I think @kash

[2022-10-03 17:45] kashif commented on #709
@natolambert my bad I believe co-pilot is to blame! Let me fix it.

[2022-10-03 20:51] patrickvonplaten commented on #646
Hey @WASasquatch,

Would you mind opening a new issue for this?

[2022-10-03 21:22] dhruvrnaik commented on #475
@patrickvonplaten are there any open items for Jax/Flax integration? I'd love to contribute

[2022-10-03 22:43] errnoh commented on #684
408x408 with https://github.com/ShivamShrirao/diffusers/tree/main/examples/dreambooth using `--output_dir=$OUTPUT_DIR   --with_prior_preservation --prior_loss_weight=1.0   --train_batch_size=1   --gradient_accumulation_steps=1 --learning_rate=5e-6 --lr_scheduler="constant" --lr_warmup_steps=0   --num_class_images=1500 --max_train_steps=800 --gradient_checkpointing --mixed_precision="fp16" --sample

[2022-10-03 22:59] feffy380 commented on #684
The latter, assuming bitsandbytes isn't doing anything weird with. In theory one might be able to just compile a rocm version with hipcc, but the python code has some hardcoded checks for cuda libraries so it probably isn't that straightforward

[2022-10-04 00:57] affableroots opened #712 "Dreambooth broken, possibly because of ADAM optimizer, possibly more."
I think Huggingface's Dreambooth is the only popular SD implementation that also uses Prior Preservation Loss, so I've been motivated to get it working, but the results have been terrible, and the entire model degrades, regardless of: # timesteps, learning rate, PPL turned on/off, # instance samples, # class regularization samples, etc. I've read the paper, and found that they actually unfreeze ev

[2022-10-04 06:35] osanseviero commented on #712
cc @patil-suraj @apolinario

[2022-10-04 07:27] Hans120791 opened #713 "Error during training"
Hey... I keep receiving this error every time i try training. Could you please help me resolve it. The only changes i make to the code is changing the input and output directory and removing the 8bit adam flag as i get assigned an a100

Caching latents: 100% 12/12 [00:01<00:00,  6.91it/s]
Steps:   0% 0/1000 [00:00<?, ?it/s]Traceback (most recent call last):
  File "train_dreambooth.py", line 657,

[2022-10-04 07:29] #713 closed

[2022-10-04 08:23] errnoh commented on #684
There's quite recent issue on `bitsandbytes` about rocm support: https://github.com/TimDettmers/bitsandbytes/issues/47

[2022-10-04 08:27] MistApproach commented on #672
Thanks for all the contribution in this topic so far!

I was able to convert my trained model to .ckpt using above script.
However, when trying to load this model using stable-diffusion-webui i get this error:

[code]

[2022-10-04 08:47] patrickvonplaten commented on #698
Hey @Duemellon,

What is the "who PY scene"?

I don't think we're planning on creating a Webui to train Dreambooth. There might already be a very-easy-to-use Google colab out there though (cc @patil-suraj @apolinario )

[2022-10-04 08:50] patrickvonplaten commented on #699
Hey @allo-,

Thanks a lot for the feature request - it looks indeed like a very cool feature! I don't think we'll have a `UnifiedPipeline` anytime soon. Could you open a PR maybe just on `StableDiffusionPipeline` that showcases how you could implement the feature?

This would be extremely useful :-)

[2022-10-04 08:52] allo- commented on #699
I'll do later. I think duplicating the code into the other (torch) pipelines isn't hard either.

You are okay with me just adding another optional argument to `__call__`?

[2022-10-04 08:52] jachiam commented on #672
@MistApproach, would I be right in guessing you did textual inversion for your model, or something like that? It looks like you have one more text embedding than the stable-diffusion-webgui expects. I don't have a fix for this ready to go but if it's a persistent issue and you can walk me through how you made your model, I might understand it and be able to fix.

[2022-10-04 09:10] patrickvonplaten commented on #684
We will release a new `diffusers` version very soon!

[2022-10-04 09:43] Flova opened #714 "Parallel dataloader for unconditional diffusion example"
**Is your feature request related to a problem? Please describe.**
The loading of the samples is sequential and without prefetching n the `train_unconditional.py` script.
This results in an underutilization of the GPU if large images and/or "slow" IO are used.

**Describe the solution you'd like**
Adding a parameter, which sets the `num_workers` parameter of the PyTorch dataloader, solves this iss

[2022-10-04 11:15] patrickvonplaten commented on #468
Looking!

[2022-10-04 11:49] Duemellon commented on #698
This would be for running Dreambooth locally so it generates a reusable & shareable CKPT. Doesn't have to be part of AUTOMATIC1111, just some webui to allow for input & processing

The "PY scene" is me trying to sound _cool_ by asking if anyone who uses Python scripting has one.

1 - Command line entries are archaic. We moved past those for the typical user in the late 80s. Syntax errors, bad prom

[2022-10-04 11:58] fabmeyer commented on #593
Sadly this problem even exists when using the web GUI version, [Dream Studio by Stability AI](https://beta.dreamstudio.ai), where you have to pay for your credits. They offer resolution up to 1024p but it's not much of use if some of the pictures get split...

[2022-10-04 12:09] patrickvonplaten commented on #468
Merged! Thank you!

[2022-10-04 12:11] patrickvonplaten commented on #702
Hey @neverix,

Could you maybe write down a code example with `diffusers` API that shows that behavior (or open a PR maybe?). This would really help us with quickly seeing the necessary changes

[2022-10-04 12:12] patrickvonplaten commented on #499
Also cc @anton-l for `train_unconditional.py`

[2022-10-04 12:13] patrickvonplaten commented on #704
Yes - I think we could/should definitely add this!

[2022-10-04 12:15] patrickvonplaten commented on #551
Will wait with the refactor here until the schedulers API is updated: https://github.com/huggingface/diffusers/issues/336

[2022-10-04 12:17] patrickvonplaten commented on #706
BTW, we should maybe consider adding some functionality to allow for this: https://github.com/huggingface/diffusers/pull/356#discussion_r986777859

[2022-10-04 12:20] patrickvonplaten commented on #696
cc @patil-suraj

[2022-10-04 12:35] patrickvonplaten commented on #699
Actually, sorry I just noticed there is already another PR open about this: https://github.com/huggingface/diffusers/pull/549 -> is there anything else we should support in your opinion? Or does this PR cover all of the use cases you were thinking about?

[2022-10-04 12:49] allo- commented on #699
It looks fine to me. Two things I would have considered in my PR (but I didn't look at the other objects in detail, yet):

- Shouldn't the negative prompt have the same truncation warning as the positive one?
- Change the truncation warnings to
  - "The following part of your **prompt** was truncated because CLIP can only handle sequences up to"
  - "The following part of your **negative_prompt**

[2022-10-04 13:06] #709 closed

[2022-10-04 13:21] #281 closed

[2022-10-04 13:23] MistApproach commented on #672
@jachiam, you are absolutely right - i took SD vanilla model and trained new token using diffusers textual_inversion.py. While this works out of the box using StableDiffusionPipeline i now need to glue my model with front-end. Having no prior experience in ML i find the glueing process a bit overwhelming.
I would appreciate any pointers on what would be the best way of achieve what i'm trying to d

[2022-10-04 13:25] patrickvonplaten commented on #714
cc @anton-l

[2022-10-04 13:32] patrickvonplaten commented on #698
I'm not really sure we can act on this issue as formulated now @Duemellon - I don't really know what exactly is expected here

[2022-10-04 13:43] fffiloni commented on #615
NEW Outpainting demo on huggingface : [StableDiffusion Infinity](https://huggingface.co/spaces/lnyan/stablediffusion-infinity) by [Inyan](https://huggingface.co/lnyan)

![outpainting-demo](https://user-images.githubusercontent.com/7447007/193835116-4820ebee-b20a-44f3-93c1-5f1f332fd691.jpeg)

[2022-10-04 13:54] gau-nernst commented on #499
After applying your fix at #686 (before it was merged), the problem is resolved. So I think it should be good now.

[2022-10-04 13:56] Duemellon commented on #698
A separate webui? Just some stand alone item that allows someone who is unfamiliar with the Python & command prompt format to pick the path for reference images through a webUI & location of image to train, slider for steps, picklist for class, etc.

I know this is about the AUTOMATIC1111 webui but I was also asking if anyone knows of anyone who's working on a WebUI for local Dreambooth training.

[2022-10-04 14:11] CrazyBoyM commented on #615
thanks. it is a nice work,

[2022-10-04 15:38] Thomas-MMJ opened #720 "traced UNet from documentation fails with RuntimeError: expected scalar type Half but found Float"
### Describe the bug

when running the traced UNet example from

https://github.com/huggingface/diffusers/blob/main/docs/source/optimization/fp16.mdx

the error - RuntimeError: expected scalar type Half but found Float

occurs in the section

[code]

### Reproduction

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.3.0
- Platform: Windows-10-10.0.22000-SP0
- Python version: 3.8

[2022-10-04 15:45] #720 closed

[2022-10-04 15:46] Thomas-MMJ commented on #720
using the development version it works, so this is for the unleased version

[2022-10-04 17:04] #499 closed

[2022-10-04 17:33] allo- commented on #699
I guess there is nothing more to do here.

[2022-10-04 17:33] #699 closed

[2022-10-04 17:36] affableroots commented on #712
If I understand correctly, [this paper](https://arxiv.org/pdf/2208.12242.pdf) says they finetune the entire model, although in my experiments I agree and have kept the VAE frozen.

![image](https://user-images.githubusercontent.com/114898764/193882644-69ef9105-f4da-4d49-a78b-05e9f68f2ec4.png)

-------------

RE JoePenna, quoted from his readme:

--------------

RE my params, I've tried ~50ish perm

[2022-10-04 18:20] elcejo opened #722 "¿Can i save all images of generation process?"
I would like to save each image generated at each step of the image generation process.
¿Is possible?

[2022-10-04 18:31] patrickvonplaten commented on #698
Marking this as a Good First Issue because I think it exceeds the responsibility of `diffusers`

[2022-10-04 19:07] AmericanPresidentJimmyCarter commented on #551
It's odd seeing this entire discourse and having gone through the entire thing myself, and one of the things that kept me away from ever using `diffusers`. Yes, the unified "Pipeline" makes sense, and after having gyrated between `diffusers` and `CompVis`, but being frustrated by the ability to add new samplers to `diffusers` and many SoTA features/optimizations coming out for `CompVis` I just wro

[2022-10-04 19:10] Marcophono2 opened #723 "Fast generation of smaller images with the option to generate the large 512x512 version later"
Hello!

I am afraid that there could be two technical reasons that my request could not be solved. But may be I am wrong.
As everybody knows not every generated image is really good. And the generation time for a 512x512px image is rather long. (3 seconds on a A100, okay, but who have one..) So I think it would be senseful to generate a few smaller images first, i.E. 128x128px. They are large enou

[2022-10-04 19:45] jslegers commented on #712
I've been using [ShivamShrirao's fork](https://github.com/ShivamShrirao/diffusers/blob/main/examples/dreambooth/DreamBooth_Stable_Diffusion.ipynb) of this repo for several days now. With [my own Google Colab notebook](https://colab.research.google.com/github/jslegers/diffusers/blob/main/examples/dreambooth/DreamBooth_Stable_Diffusion.ipynb) (which adds additional configuration options & streamline

[2022-10-04 20:19] NielsRogge commented on #692
Progress can be found here: https://github.com/huggingface/diffusers/pull/356

[2022-10-04 20:23] NielsRogge commented on #672
@MistApproach the reason you're getting the size mismatch is because the textual inversion method simply adds one addition token to CLIP's text embedding layer. The default embedding matrix consists of 49408 text tokens for which the model learns an embedding (each embedding being a vector of 768 numbers).

So to make sure the checkpoint works in the original CompVis repos, you'll need to update t

[2022-10-04 20:23] #672 closed

[2022-10-04 21:09] piEsposito opened #725 "add device map and accelerate to DiffusionPipeline abstraction to reduce memory footprint when loading model"
**Is your feature request related to a problem? Please describe.**
As a follow up for #281 we could add the device map and the possibility to load weights using `accelerate` to `DiffusionPipeline` abstraction for smaller memory footprint when loading models.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
- Load models by hand every time
- Have a larger me

[2022-10-04 22:13] patrickvonplaten commented on #722
Hey @elcejo that's definitely possible - either with the callback feature we introduced recently https://github.com/huggingface/diffusers/pull/521 or by simply unrolling your pipeline look:
- See how to write an unrolled loop here: https://huggingface.co/blog/stable_diffusion
- and how to get the images here: https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/diffus

[2022-10-04 22:19] patrickvonplaten commented on #723
Hey @Marcophono2,

Sorry I don't fully understand the issue here. Is the issue about generating 128x128 images faster?

[2022-10-04 22:26] patrickvonplaten commented on #621
Good point! Not sure how urgent at is but let's make sure we don't forget about it

[2022-10-04 23:16] Marcophono2 commented on #723
Sorry @patrickvonplaten , obviously I should have taken a bit more time to form my text.
Yes, one question is if it is possible to generate 128x128 pixel images significantly faster.

The second question was if it is possible in any way to use the seed of a 128x128 image to make a 512x512 image with the same motive. Or in other words: The higher quality image from the 128x128 pixel image.

Best re

[2022-10-04 23:19] wangyu-ustc opened #726 "[Community] Move the number "0.18215" from the image2image process to VAE config"
## There is a magic number "0.18215" in the repository

In the file `src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_img2img.py`, there is a number "0.18215" in line 220 and line 342, which is strange since it does occur in the original [repo](https://github.com/CompVis/stable-diffusion/blob/69ae4b35e0a0f6ee1af8bb9a5d0016ccb27e36dc/scripts/img2img.py#L48). Is there someone  clar

[2022-10-04 23:59] affableroots commented on #712
@jslegers Thanks for the follow up! I've had results look fairly similar, but I think everythings still degrading at least on my end. For instance:

* "a photo of" type prompts look a bit overcooked for the trained instance, as well as out-of class instances (unless my lr is low enough to not learn the instance)
* How do results look for random actors, compared to pre-training? Mine tend to degrad

[2022-10-05 00:05] affableroots commented on #712
Oh, another symptom that I think indicates something is wrong, is I have not been able to **overtrain**. What I mean is, given a very high lr and/or high step count, everything sort of degrades without looking like my new instance. Faces look melted, and drift away from their priors, eg actors faces are no longer their faces, and they probably "melt" and become very indistinct, as faces. I notice

[2022-10-05 02:04] WASasquatch opened #728 "IMG2IMG -> ValueError: At least one stride in the given numpy array is negative"
### Describe the bug

I am getting the following error with IMG2IMG

`ValueError: At least one stride in the given numpy array is negative, and tensors with negative strides are not currently supported. (You can probably work around this by making a copy of your array  with array.copy().) `

The help topics online all seem to suggest the same fix with copying the array to fix the memory allocation

[2022-10-05 02:53] jslegers commented on #712
Fir my use case, I noticed that the diversity with the class "man" started declining significiantly. At some point, all random class images generated during the training process look identical.

I haven't really looked much into the degrading of my "environment", though, as I was too focused to trying to fix my likeness. But it does indeed appear to be degrading as training increases.

Is this tha

[2022-10-05 03:04] affableroots commented on #712
Thank you for running that again! It seems we have similar results, though, your generalization attempts do look better than what I've been achieving, even given the stock params from the readme. And yes, that's the overcooking I'm talking about. That seems specifically like certain latent values are... clipping, if that's the right term.

Ya imagine that's impossible if the entire latent space is

[2022-10-05 03:34] jslegers commented on #712
Probably.

I guess I better just start all over with the original SD model and play around with different image files & config settings to reproduce at minimum the quality I achieved to far than continue tinkering with existing models...

[2022-10-05 04:39] WASasquatch commented on #726
It's a constant used to scale the `latents` so it can be decoded back into a image.

[code]

[2022-10-05 04:50] guaneec commented on #726
I think the constant is defined in the [model config file from CompVis/stable-diffusion](https://github.com/CompVis/stable-diffusion/blob/main/configs/stable-diffusion/v1-inference.yaml#L17).

[2022-10-05 05:18] pcuenca commented on #726
There's more explanation about it in #437.

[2022-10-05 09:31] patil-suraj commented on #712
@affableroots In the paper by all layers they mean all layers of the unet model trained, the rest i.e the text encode is kept frozen.

Looking at the discussion and also from my experiments the model does run into overfitting and catastrophic forgetting. To me this seems likely as we finetune the whole model with few images. For now I don't know any way to avoid this, I am going to discuss this wi

[2022-10-05 09:44] patil-suraj commented on #692
Hey @RiverDong ! The PR should be ready to merge today. I will post the hardware requirements and other information in the readme.

[2022-10-05 09:55] pink-red opened #730 "DreamBooth doesn't learn locally, but learns in Colab"
### Describe the bug

I'm having issues with DreamBooth, but only locally — the model doesn't seem to learn the instance. However, it does work in Colab ([this one](https://colab.research.google.com/github/ShivamShrirao/diffusers/blob/main/examples/dreambooth/DreamBooth_Stable_Diffusion.ipynb#scrollTo=jjcSXTp-u-Eg)).

### Reproduction

Since I can't run the example on my GPU (not enough VRAM), I'v

[2022-10-05 10:09] MistApproach commented on #672
@NielsRogge, thanks for the explanation, appreciate it! Here's what i did with my trained model:
[code]
Then  i have converted resulting diffusers model to checkpoint using @jachiam script. Unfortunately, both CompVis and stable-diffusion-webui still throw the very same error.

[2022-10-05 10:10] patil-suraj commented on #696
Hi @loboere , thanks for the issue! The T4 GPU has less than 16GB VRAM so it does not fit dreambooth training with prior preservation. It should fit without prior preservation. This example should work fine on P100/V100 colab, try resetting the colab and see if you get a P100.

@skirsten Could you post the training arguments  that you are using ?
You should enable `gradient_checkpointing`, and `us

[2022-10-05 10:13] patrickvonplaten commented on #576
Think this has been solved by now - thanks to your PR @pcuenca

[2022-10-05 10:13] #576 closed

[2022-10-05 10:14] patrickvonplaten commented on #657
I think the solution we have for now is good enough actually - what do you think @pcuenca ?

[2022-10-05 10:25] patrickvonplaten commented on #723
Thanks for clarifying.

We have multiple efforts to speed up the generation as summarized here: https://huggingface.co/docs/diffusers/main/en/optimization/fp16#memory-and-speed
I cannot think of a way that allows us to especially speed up the 128x128 compared to 512x512.

Regarding the 2nd question, I sadly don't think that's possible as the random seed creates the initial latents and if the size

[2022-10-05 10:31] Marcophono2 commented on #723
Thank you very much @patrickvonplaten ! Not good to read this but good that my estimation was correct. ;)

Best regards
Marc

[2022-10-05 10:37] patrickvonplaten commented on #728
Hey @WASasquatch ,

Could you add a reproducible code-snippet?

[2022-10-05 10:40] patrickvonplaten commented on #730
@patil-suraj could you take a look here?

[2022-10-05 10:42] kashif commented on #728
fixed I believe by #717 or #724

[2022-10-05 10:45] patrickvonplaten commented on #728
Cool, let me try it out :-)

[2022-10-05 10:55] patil-suraj commented on #730
Thanks for the issue, does the same example (with exactly the same arguments) works on colab ?

[2022-10-05 11:09] pcuenca commented on #621
Maybe appropriate for hacktoberfest?

[2022-10-05 12:32] RiverDong commented on #692
This is really amazing!!! Looking forward to be the one of first person to try that out. Thank you!

[2022-10-05 12:36] piEsposito commented on #725
@patrickvonplaten, the PR is open and ready for review. Thanks!

[2022-10-05 12:41] #336 closed

[2022-10-05 12:42] DominikDoom opened #732 "[Feature Request] Dreambooth - Save intermediate checkpoints"
**Is your feature request related to a problem? Please describe.**
Dreambooth can drastically change its output quality between step counts, including to the worse if the chosen learning rate is too high for the step count or amount of training / regularization images. This implementation only saves the model after training is finished, which requires full reruns to compare different step counts a

[2022-10-05 14:10] affableroots commented on #712
I appreciate your attention on this @patil-suraj!

[2022-10-05 15:07] Renaldas111 opened #736 "HFValidationError( '.ggingface_hub.utils._validators.HFValidationError: Repo id must use alphanumeric chars or '-', '_', '.', '--' and '..' are forbidden, '-' and '.' cannot start or end the name, max length is 96: 'CompVis/stable-diffusion-v1-4"
Tried to install Dreambooth according to Nerdy Rodent video (https://www.youtube.com/watch?v=w6PTviOCYQY)

I am absolutely new to Linux, and failed on last step running the training.
As I understood, something wrong with:
export MODEL_NAME="CompVis/stable-diffusion-v1-4"  and    --pretrained_model_name_or_path=$MODEL_NAME

Traceback (most recent call last):
  File "/home/renaldas/github/diffusers/

[2022-10-05 15:21] neverix commented on #702
Yep, here's a [notebook](https://colab.research.google.com/drive/1AUyvCKIaoH71gFNK5nkiF4z7jvwynFTy) with the draft for the implementation

[2022-10-05 15:59] pink-red commented on #730
@patil-suraj, yes, I use the same arguments in both cases.

Also, logs from Colab (works):

[code]

Logs from dockerized version of the same script that the Colab version uses, executed locally (doesn't work):

[code]

I can't really see anything out of the ordinary in the logs, sadly.

[2022-10-05 17:21] jslegers commented on #712
I suspect overfitting issues and other related issues can be reduced by finetuning your number of training steps, class prompt, number of variety of class images generated, quality and variety of your input images, etc.

I've been experimenting with various strategies : use just a handful of pics, use many pics, auto-generate the class picks, choose class pics myself, do only 250 training steps pe

[2022-10-05 17:23] NouamaneTazi commented on #706
@anton-l it works, thanks!

[2022-10-05 17:23] #706 closed

[2022-10-05 18:11] pink-red commented on #730
Hmm, it might have been a problem with the fork after all. I've just tried #735 and it worked just as good as the Colab version. Maybe I'm remembering wrong about results of the CPU run. I will run the script on the CPU again and see if it works after all. I'll post what happened in a few hours.

[2022-10-05 20:44] Desm0nt opened #743 "Can't convert ckpt model to diffusers with convert_original_stable_diffusion_to_diffusers"
### Describe the bug

 I have some ckpt files and try to convert it to diffusers in google colab.
with this command

`!python /content/diffusers/scripts/convert_original_stable_diffusion_to_diffusers.py --checkpoint_path /content/gdrive/MyDrive/Waifu_6e.ckpt --dump_path /content/stable-diffusion-alt`

But got this error:
[code]
It works fine with the same model 2 days ago.

### Reproduction

_No r

[2022-10-05 23:21] affableroots commented on #712
While we're exploring the tuning of DB from all angles, I'll mention some recently decent results. I'm using my modified Dreambooth + Textual Inversion:

* 5 new tokens+embeddings
* 2000 steps
* lr5e-5 for text embeddings
* lr5e-6 for unet
* weight decay=0.0
* prior loss weight=0.1
* # class images=1500

I will say that faces are still getting cooked, so, I'm going to play with this some more.

My

[2022-10-06 01:35] WASasquatch commented on #728
It is fixed. It should be reproducible in any use of img2img as it's a pipe breaking error globally.

[2022-10-06 01:35] #728 closed

[2022-10-06 02:06] skirsten commented on #696
I played around with some of the settings and they indeed fix the "CUDA out of memory" problem:

| args                                                                                              | performance                  |
| ------------------------------------------------------------------------------------------------- | ---------------------------- |
| `--gradient_accumulation_steps=1`

[2022-10-06 05:59] briansemrau commented on #743
Make sure you haven't modified StableDiffusionPipeline.py to remove the safety checker. Setting the safety checker as a dummy function confuses the script, because it can't figure out what kind of model it is.

Ideally the `convert_original_stable_diffusion_to_diffusers` script should be modified to avoid failing in this case.

[2022-10-06 06:10] WASasquatch opened #745 "CLIP model support for pipelines"
I am not sure if this has been considered, or already on the roadmap, but I'd love to be able to just throw a CLIP model ID at a pipe and have it download, and use said model.

I see HF has the capability to do this, and I have seen the clip guided diffusion example Colab, but it seems to be just implemented for text2img and not all the pipelines.

I tried searching PRa and issues and repo from an

[2022-10-06 07:59] LowinLi opened #746 "StableDiffusionImg2ImgPipeline can't load by onnx revision"
### Describe the bug

when load StableDiffusionImg2ImgPipeline through from_pretrained by revision="onnx". an Exception raised:

[code]

### Reproduction

from diffusers import StableDiffusionImg2ImgPipeline

pipe = StableDiffusionImg2ImgPipeline.from_pretrained(
    "CompVis/stable-diffusion-v1-4", revision="onnx", use_auth_token=token, provider="CPUExecutionProvider"
)

### Logs

[code]

### Sys

[2022-10-06 11:27] patil-suraj commented on #255
This is now fixed in #505

[2022-10-06 11:27] #255 closed

[2022-10-06 12:38] jslegers opened #752 "Support for multiple fine-tuned concepts & classes on one model with Dreambooth"
**Is your feature request related to a problem? Please describe.**
I'd like to add multiple people and/or objects to a single model and finetune my model for that. For example, I'd like to add an entire family, together with their pets and their car, and this with as little degradation of my overall model as humanly possible.

**Describe the solution you'd like**
I'd like to add multiple people an

[2022-10-06 17:44] pink-red commented on #730
Yes, it was a problem with the fork. Training on the CPU works perfectly fine. Sorry for the trouble, you guys are doing amazing work!

[2022-10-06 17:44] #730 closed

[2022-10-06 18:05] WASasquatch opened #756 "ValueError: The deprecation tuple ('tensor_format' ..."
### Describe the bug

I am getting the following error

[code]

When running diffusers

What does this even mean? And why wasn't there a deprecation period warning of its usage before it's arbitrarily (on users end) removed? It's breaking my whole system, and 'tesnfor_format' isn't even named in my code or the stacktrace.

### Reproduction

Not sure where to start, don't know what "tensor_format"

[2022-10-06 18:14] pcuenca commented on #756
Hello! I believe you must be running the `main` branch of the repo, is that correct? We just released version `0.4.0`, which should work fine. `main` just became `0.5.0.dev0`, hence the deprecation error.

You can install it using `pip` for now:
[code]

Nevertheless, we'll review these deprecations to try to make `main` work. Would you mind sharing a link to the Colab you are using, if possible?

[2022-10-06 18:52] pcuenca commented on #756
The released version does have negative prompts and everything else that was in main as of 5 hours ago, so it should work.

Could you please try to install it to verify?

(And actually, `main` should still be `0.4.1.dev0`, so it should work. We'll investigate what might have gone wrong).

[2022-10-06 18:56] WASasquatch commented on #756
Oh really? I was install via

**dev** (for concepts)
`!pip3 install -qq diffusers["training"] transformers ftfy`  (for some reason `diffusers["training"]` doesn't work with subprocess command. :(

**main** (public)
`subprocess.run(['pip', '-q', 'install', '-U', 'git+https://github.com/huggingface/diffusers.git'], stdout=subprocess.PIPE).stdout.decode('utf-8')`

but both seem to be checking out 0.5

[2022-10-06 18:56] allo- opened #757 "Implement attention splicing for textual inversion"
**Is your feature request related to a problem? Please describe.**
Textual inversion requires a lot of (V)RAM and could possibly benefit from attention splicing.

**Describe the solution you'd like**
Implement attention splicing for textual inversion

**Describe alternatives you've considered**
I tried to use `unet.set_attention_slice(unet.config.attention_head_dim // 2)`, but it didn't seem to do

[2022-10-06 19:06] anton-l commented on #756
The main branch is now back to `0.4.1.dev0`, sorry for the errors!

[2022-10-06 19:07] WASasquatch opened #758 "ImportError: cannot import name 'PROTOCOL_TLS' from 'urllib3.util.ssl_'"
### Describe the bug

When I import accelerate after installing it, and urllib3 (which was verified via `urllib3.__version__`) I get the following error *only one time*. When I run the cell again, the error is gone. Is there in order to these installations preferred?

[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.5.0.dev0
- Platform: Li

[2022-10-06 19:19] WASasquatch commented on #756
Awesome, I just noticed, though I'm getting a strange error where the StableDiffusionPipeline is telling me it requires the transformers library. But it's installed, and verified with pip freeze and importing... o.O

[2022-10-06 19:28] allo- opened #759 "Make saving the full model optional for textual inversion"
**Is your feature request related to a problem? Please describe.**
The resulting `.bin` file from the textual inversion script can be loaded with a few lines of code into the standard model. Saving a full model only to have an additional token is a waste of space (and possibly VRAM and CPU/GPU time).

**Describe the solution you'd like**
Add a flag to only optionally run these lines:

https://gith

[2022-10-06 19:38] anton-l commented on #758
@WASasquatch looks like you've resolved it? https://github.com/huggingface/diffusers/issues/756#issuecomment-1270571541

[2022-10-06 19:54] WASasquatch commented on #758
This wasn't, unfortunately. Still getting it on every install, but only first time around. After that, it appears to be able to import the 'missing' module just fine. I tried switching around the order of installs, even moving urllib3 before diffusers, transformers and accelerate.

[2022-10-06 19:55] WASasquatch commented on #758
This wasn't, unfortunately. Still getting it on every install, but only first time around. After that, it appears to be able to import the 'missing' module just fine. I tried switching around the order of installs, even moving urllib3 before diffusers, transformers and accelerate.

[2022-10-07 00:56] merfi commented on #541
@MajorTal can you share your solution, I'm facing the same issue

[2022-10-07 02:05] jncasey opened #760 "StableDiffusionPipeline producing unexpected output with MPS device using diffusers==0.4.0"
### Describe the bug

I tried testing the potential speed updates of diffusers 0.4.0 on my M1 mac using an existing StableDiffusionPipeline-based script, and I found that a large image that would take ~3 min to generate in diffusers 0.3.0 was estimated to take more than 10x as long.

Since my existing script had a lot going on (e.g. large resolutions, attention slicing), I tried to diagnose the pr

[2022-10-07 02:14] jslegers commented on #712
Any chance you can make your modified script available for the rest of us, so we can test it ourselves?

[2022-10-07 03:56] affableroots commented on #712
@jslegers Forgive the mess: https://gist.github.com/affableroots/a36a74287c8eb2da438a459795b158d6
I flew through it to clean it up and haven't tested again since, so, hopefully I didn't mess anything up but let me know if so!

This is TI + Unet unfreezing + Prior Preservation Loss. Text embeddings can learn at a different rate than unet. Hit me up with any questions, and good luck!

[2022-10-07 06:25] nanlliu opened #761 "DreamBooth fails when training with 8bit adam optimizer."
### Describe the bug

Seems that 8bit adam optimizer fails when training dreambooth.

The command I used:

python train_dreambooth.py \
--pretrained_model_name_or_path="CompVis/stable-diffusion-v1-4"  \
--instance_data_dir=$instance_folder \
--class_data_dir=$class_folder \
--output_dir=$model_checkpoints_folder \
--with_prior_preservation --prior_loss_weight=1.0 \
--instance_prompt="a photo of sk

[2022-10-07 06:26] pcuenca commented on #760
Hi @jncasey, thanks for reporting this!

From the details you describe it looks like one of the last-minute optimizations we did for the release is not compatible with `mps`, so it's  falling back to the CPU and that's why it's slower. It's probably the reason why it fails to generate images, I'll test and work on a fix today.

I do apologize for the trouble, I tested on my Mac a few hours before

[2022-10-07 06:29] pcuenca opened #762 "CI testing on `mps`"
We should add a couple of simple tests that use the `mps` device to detect issues like #760.

I'm not familiar with how the CI system is set up or how to trigger a test in a M1 mac, perhaps @anton-l can provide some ideas?

[2022-10-07 06:34] pcuenca commented on #760
(For reference, I believe this is what's affecting `mps`: https://github.com/huggingface/diffusers/pull/741#discussion_r988907920)

[2022-10-07 07:17] apolinario opened #763 "Change from error to warning when moving an fp16 pipeline to CPU"
https://github.com/huggingface/diffusers/commit/6c64741933c64df276b5ede21f62777dbe079cfd introduced an error moving an fp16 pipeline to CPU, which makes sense as it cannot run on CPU; however I would suggest changing it to a warning as it broke my use-case that I think is a legitimate one

This is the use-case that broke:
- Load a bunch of different pipelines running different models on CPU (RAM),

[2022-10-07 08:34] #763 closed

[2022-10-07 09:06] patil-suraj commented on #757
Hi @allo- ! the attention slicing is mostly meant to be used for inference, it won't help much for training.
Also the textual inversion training fits on 16GB GPU and we are working on couple of other things to reduce it a bit further.
cf #687

[2022-10-07 09:08] patil-suraj commented on #759
Hi, thanks for the issue! Would you like to open a PR to add an argument to specify not to save the whole model ?

[2022-10-07 09:12] patil-suraj commented on #758
Thanks for the issue, but it doesn't seem to be related to diffuser, it seems to be coming from `accelerate` and then some sagemaker stuff. Could you please open an issue on [accelerate repo ](https://github.com/huggingface/accelerate/)

[2022-10-07 09:13] allo- commented on #757
With batch size 1 it fits into 12 GB for me, but when the GPU is used for other things as well, it becomes complicated. A workaround is to learn smaller sizes. 480 leaves more room in GPU RAM and still yields acceptable results. But every optimization is welcome!

Next thing I wanted to try is, if fp16 trained embeddings work on fp32 models. I guess it works (better than the other way round) as th

[2022-10-07 09:15] allo- commented on #759
Yes.

I've got some code to load learned embeddings to continue training as well. I wonder if I should put it into the same pull requests. It's basically the load function from the textual inversion notebook, I think.

[2022-10-07 09:16] patil-suraj commented on #752
Thanks a lot for the issue!

For now we want to keep the script simple so users can extend it on their own, also quite a few users have been reporting issues with dreambooth dreaming so I would like to not add anything extra until those issues are resolved. But happy to help you to give some pointers on how to modify the script so we can add multiple concepts.

[2022-10-07 09:21] #757 closed

[2022-10-07 09:23] patil-suraj commented on #746
Hi, thanks for the issue! The `StableDiffusionImg2ImgPipeline` only works with PyTorch models, it doesn't support `onnx`. For `onnx` you should use `StableDiffusionOnnxPipeline`, but note that it does not implement imag2image, but should be easy to modify to add imahe2image in it.

We will need to pass `init_image` as in the `StableDiffusionImg2ImgPipeline` and prepare the initial latents, think y

[2022-10-07 09:26] CrazyBoyM opened #765 "How to add Undesired Content with the txt2img pipe"
With Undesired Content, you can list anything you want the AI to avoid in future generations.
But，how to add the uc like prompt with the piep? can you help me

[2022-10-07 09:35] patil-suraj commented on #745
Hi, thanks for the issue!

It may not be possible to support clip guidance in all pipelines as we want to keep the pipelines simple so any user can modify it according to their needs. `pipelines` are meant to be an example of how a certain task can be done, so they may not support all the functionality. We encourage users to take the pipelines and modify it according to their needs.

Also, we just

[2022-10-07 09:37] patil-suraj commented on #743
Thanks for the issue! @briansemrau answer seems right! We have verified the script with the orginal `.ckpt` file and works as expected, please check if you have not modified anything.

[2022-10-07 09:43] patil-suraj commented on #761
Hi, thanks for the issue!

I just ran the script with 8-bit optimizer and it works for me. From the log it seems you have modified the script, make sure your modifications are right. unfortunately it's hard to say anything without looking at the code.

[2022-10-07 09:45] patil-suraj commented on #759
Let's do one PR at a time, let's add the option to not save the whole model.

[2022-10-07 09:48] patil-suraj commented on #757
`fp16` embeddings should work fine with f32 model.

[2022-10-07 10:11] siraxe commented on #765
I think with 0.4 this works now
![image](https://user-images.githubusercontent.com/27487254/194530054-e3500fc4-6514-455a-a083-20c89ad35b6a.png)

[2022-10-07 10:18] allo- commented on #759
Later then. I also still have the use_auth_token code in my copy of the script and so on and should merge and test it with diffusers git before.

[2022-10-07 10:21] hafriedlander commented on #646
Hi. Sorry for delay on replay. I am using the additional schedulers Hlky put together at https://github.com/huggingface/diffusers/compare/main...hlky:diffusers:main

However I consider this solved now for two reasons:
- I just copied the old scheduling_utils.py into my server and changed my schedulers to reference that
- Hlky is going to update his schedulers to the new 0.4.0 syntax anyway, at whi

[2022-10-07 10:39] omer-dor commented on #597
In evaluate function, this worked for me:
I changed .sample
![image](https://user-images.githubusercontent.com/84913922/194534755-832c188e-8b79-4070-94c9-83c925b9631f.png)

to .images

![image](https://user-images.githubusercontent.com/84913922/194534890-82dad4b2-daa0-4a2d-9675-9b3e237a31e2.png)

[2022-10-07 11:01] pcuenca commented on #760
Hi @jncasey! #766 will replace the slow operation (once it's approved and released), but I had to upgrade my PyTorch nightly version to the latest one (`1.14.0.dev20221007`) to fix the broken images issue. Would it be possible for you to do the same, following the instructions [here](https://pytorch.org/get-started/locally/)?

Thank you!

[2022-10-07 11:04] pcuenca commented on #363
Removing the `stale` label, as I think this is still being worked on by the PyTorch team. Not sure whether there's a solution or we are facing a fundamental size limitation in the MPS engine. I'll review the latest comments in the PyTorch issues.

[2022-10-07 12:07] CrazyBoyM commented on #765
thanks a lot.

[2022-10-07 12:07] #765 closed

[2022-10-07 13:10] MushroomFleet opened #770 "Colab Cannot Start Training"
### Describe the bug

Import Libraries Fails

screenshot:
https://i.gyazo.com/ea42aead7543ac9847412ccc554dffda.png

Think it needs updating, cannot proceed to begin training due to failure Importing

### Reproduction

just start the Colab, it will fail on importing libraries. You can proceed but Training is not possible

### Logs

_No response_

### System Info

Colab

[2022-10-07 13:37] MalumaDev opened #771 "BF16 doesn't work with dreambooth"
### Describe the bug

Using bf16 with the dreambooth script throw an exception

### Reproduction

_No response_

### Logs

[code]

### System Info

- `diffusers` version: 0.4.0.dev0
- Platform: Linux-5.15.0-47-generic-x86_64-with-glibc2.35
- Python version: 3.10.0
- PyTorch version (GPU?): 1.12.1 (True)
- Huggingface_hub version: 0.9.1
- Transformers version: 4.22.2
- Using GPU in script?: Yes (30

[2022-10-07 13:43] patrickvonplaten commented on #702
Sorry, I still don't fully understand the use case.
The images that is output after:

[code]

is very blurred -> it doesn't seem like the `reverse_step` function works correctly here?

[2022-10-07 13:45] patrickvonplaten commented on #540
Hey @piEsposito,

I'm wondering whether we could maybe try to just write a community pipeline for this: https://github.com/huggingface/diffusers/tree/main/examples/community

[2022-10-07 13:49] patrickvonplaten commented on #696
Thanks for this very nice table @skirsten !

[2022-10-07 13:54] piEsposito commented on #540
@patrickvonplaten I can do that and write the context for moving models between devices within the pipeline. That way we don't get blocked by the issue on `accelerate`.

How does that sound?

[2022-10-07 14:51] CrazyBoyM opened #773 "Support for load hypernet finetune .pt file"
does the txt2img pipe support load a finetune .pt file to improve the output performance of checkpoint model ?

[2022-10-07 15:11] nanlliu commented on #761
I added some comments at the end of the file. in terms of code, I didn't change a bit.

[2022-10-07 15:51] allo- commented on #757
After disabling it again, it seems it made at least some difference to enable attention slicing on unet.
At least when I commented the line I got a OOM crash on the next run. It could of course be coincidence but the last runs before it was fine (while still being near the limit of my VRAM). When it saves some memory, it could be useful to (optionally) enable it.

[2022-10-07 16:08] WASasquatch commented on #756
I am still wondering, though what is  'tensor_format', where is this error coming from? How can I "safely" remove it, if it's not actually being referenced anywhere?

[2022-10-07 16:42] tcapelle commented on #760
I was expecting faster performance with the new optimization, but the exported CoreML version of the Unet (after tracing) is roughly the same on my machine.
<img width="550" alt="image" src="https://user-images.githubusercontent.com/18441985/194604737-8bdf4134-88b3-428e-98f1-6d0e8cee6611.png">

More info here [http://wandb.me/mac_diffusion](https://t.co/9h68uUdBve)

[2022-10-07 16:45] patrickvonplaten commented on #756
Essentially, we're just removing the `set_format` function since it was a no-op.

[2022-10-07 16:57] patrickvonplaten commented on #761
Hey @nanlliu,

I think this is related to your PyTorch setup - does this maybe help: https://discuss.pytorch.org/t/runtimeerror-set-sizes-and-strides-is-not-allowed-on-a-tensor-created-from-data-or-detach-in-convert-model-to-nnapi/150634 ?

[2022-10-07 17:04] patrickvonplaten commented on #770
Hey @MushroomFleet,

Could you please post a reproducible code snippet?

[2022-10-07 17:04] patrickvonplaten commented on #771
Interesting! @patil-suraj should we maybe add a "if-else" statement for this?

[2022-10-07 17:06] patrickvonplaten commented on #540
Sounds great!

[2022-10-07 17:07] patrickvonplaten commented on #773
Hey @CrazyBoyM,

Sorry I don't understand the question here

[2022-10-07 17:20] nanlliu commented on #761
@patrickvonplaten much appreciated! i think its just due to version mixups since i kinda use pip and conda interchangably.
thanks! i will close the ticket!

[2022-10-07 17:20] #761 closed

[2022-10-07 17:30] CrazyBoyM commented on #773
sorry for my poor english. it is mean hypernetwork and text inversion, just like a option in the webui version of staable diffusion, load a single finetune file to improve the base model.

[2022-10-07 18:40] Marcophono2 opened #775 "Still problem with fp16 and without autocast"
### Describe the bug

Hello!
There was often discussed about this issue and as far as I understand it is meanwhile fixed. But I stll get a

`RuntimeError: expected scalar type Half but found Float`

when I try to run the model with fp16 but without autocast.

My code:

[code]

I am on GPU (3090) and have the latest build 0.4.1
I tried it with different schedulers but if I do not use autocast I get

[2022-10-07 19:03] jorgemcgomes opened #776 "Stable-diffusion Image-to-image pipeline is broken for batch_size > 1"
### Describe the bug

When multiple images are passed to the `init_image` argument as a tensor, `init_latents` will have the same dimension 0 as `init_images`. But this line is further duplicating the `init_latents` by the batch size, which results in a mismatched tensor size.

https://github.com/huggingface/diffusers/blob/f3983d16eed57e46742d217363d8913bef7f748d/src/diffusers/pipelines/stable_dif

[2022-10-07 19:18] pcuenca commented on #760
HI @jncasey, the change in #766 has not been released yet, it may help with performance as the operation should not be moved to the CPU. However, it looks like the version of PyTorch has had a big impact. I haven't observed that in my system, so I'm not sure what could be going on.

[2022-10-07 19:25] pcuenca commented on #760
Hi @tcapelle! Your analyses on this matter are always very interesting, I have yet to try your most recent one on my system. I'm slightly surprised about your findings of `mps`-PyTorch vs Tensorflow, even considering that PyTorch is a pre-release. I suspect that memory might be a factor, but we should find out for sure as my computer has 64 GB.

Regarding the problems mentioned in this issue, I'd

[2022-10-07 19:31] jncasey commented on #760
Thanks, @pcuenca. That certainly seems to be the case. I'll keep poking around this weekend and report back if I can figure anything out. Thankfully, I've got access to another machine with a 3090, so the I can work around the mps issues.

[2022-10-07 19:37] pcuenca commented on #775
Hi @Marcophono2, could you please try to upgrade `transformers`?

[2022-10-07 21:10] Marcophono2 commented on #775
Thanks @pcuenca , I updated the transformers to ver. 4.22.2 now but still the same. No errors but still no speed up. The same time for 50 steps than not adding the fp16 addons: 8.24it/s

[code]

I can see that in BOTH CASES, with and without fp16 setting, the used GPU RAM is the same:

GPU memory occupied: 7209 MB.
100%|______________________________________________________________________________

[2022-10-07 21:13] Marcophono2 commented on #775
In the yaml environment file which is delivered tother with the last diffusers' version 0.4.1 there was that old transformers version no. included. May be I should update anything else too?

name: ldm
channels:
  - pytorch
  - defaults
dependencies:
  - python=3.8.5
  - pip=20.3
  - cudatoolkit=11.3
  - pytorch=1.11.0
  - torchvision=0.12.0
  - numpy=1.19.2
  - pip:
    - albumentations==0.4.3

[2022-10-07 23:41] Marcophono2 commented on #775
What the ..... It is working now!! I changed thousand times my code, at the end I came back to the code I posted here and now it works! 14.46it/s - that is nice! :-) But why does it suddenly work? Now the VRAM is also only filled with 4.5 GB. Strange. I will completely re-start my instance to see what happens then.

Best regards
Marc

[2022-10-08 01:02] jncasey commented on #760
Okay, here are a few more data points. I haven't yet tried #766 yet, but I've done some methodical (if not totally scientific) tests using the simple script in the first post, comparing `diffusers 0.3.0` and `0.4.1`, and using my original `torch 1.13.0.dev20220911`, the latest `1.14.0.dev20221007`, and `1.13.0.dev20221006` (to compare 1.13 and 1.14 nightlies from similar dates). These were all run

[2022-10-08 02:43] cprivitere commented on #489
I tried @tianleiwu 's script and all my results, while twice as fast, are very washed out. I'm also getting a lot of all black box results. This was on an AMD card using the DML provider on windows. The non converted-to-fp16 files work fine.

[2022-10-08 03:59] pcuenca opened #778 "Add `v`-prediction"
Like in the Imagen Video paper. According to Katherine Crowson it's more stable and faster: https://twitter.com/rivershavewings/status/1578193039423852544?s=21&t=oIToMoHbtU1U8VH3q4Mzng

[2022-10-08 04:04] Marcophono2 commented on #775
unet is a speed monster!

[2022-10-08 04:04] #775 closed

[2022-10-08 06:47] neverix commented on #702
Haha, I forgot to flip the timesteps in the version I saved. It works fine if you do.

![image](https://user-images.githubusercontent.com/46641404/194693991-db247c3f-4ae1-4df8-a4a7-f1d99571ec00.png)

![image](https://user-images.githubusercontent.com/46641404/194693997-3d849ceb-de5e-430a-ab3f-6a24d8ab7a4e.png)

[2022-10-08 11:09] MushroomFleet commented on #770
It's a Colab and i included a screenshot. You just run the colab and it
will fail to import libraries. There no code from my part ;)

On Fri, Oct 7, 2022 at 6:04 PM Patrick von Platen ***@***.***>
wrote:

[2022-10-08 11:13] MushroomFleet commented on #770
===================================BUG REPORT===================================
Welcome to bitsandbytes. For bug reports, please submit your error trace to: https://github.com/TimDettmers/bitsandbytes/issues
For effortless bug reporting copy-paste your error into this form: https://docs.google.com/forms/d/e/1FAIpQLScPB8emS3Thkp66nvqwmjTEgxp8Y9ufuWTzFyr9kJ5AoI47dQ/viewform?usp=sf_link
============