[2022-10-28 19:03] pcuenca commented on #606
I agree, let's open it up! Is it a "good first issue" though?

[2022-10-28 19:11] dblunk88 commented on #993
That being said, diffusers has been going away from autocast. Devs, any fix for that without using autocast?

[2022-10-28 19:54] pcuenca opened #1049 "Update docs to include Euler schedulers"
Reference: #1019. We should at least add them here: https://huggingface.co/docs/diffusers/api/schedulers

[2022-10-28 20:42] pcuenca commented on #463
My thought exactly :)

[2022-10-28 21:04] camenduru opened #1050 "something wrong with Tesla T4 ¯\_(ツ)_/¯"
### Describe the bug

I tested `nitrosocke/mo-di-diffusion` vs `moDi-v1-pruned.ckpt`
like [00:29<00:00, 1.88it/s] vs [00:10<00:00,  4.68it/s]
#
test video with colab t4 side by side:
https://www.youtube.com/watch?v=VfjITfEXRNY

or am I doing something wrong? 👻🎃

### Reproduction

_No response_

### Logs

_No response_

### System Info

colab t4

[2022-10-28 21:26] camenduru commented on #1050
problem not the model I tested with pc 🔍
`nitrosocke/mo-di-diffusion` vs `moDi-v1-pruned.ckpt` with pc nvidia 1070
[00:24<00:00,  2.08it/s] vs [00:23<00:00,  2.17it/s]

[2022-10-28 21:43] Lewington-pitsos commented on #914
@patrickvonplaten hey I noticed that it looks like you just made a PR recently fixing this issue. I was waiting on someone to approve my database PR before submitting mine.

Is there some way I can get in contact with the team more easily so that we can avoid doubling up like this in future?

[2022-10-28 22:04] petekay commented on #1014
this has something to do with the classes, if you already have some, it should not trigger an error. I found it out, after i deleted the content of the classes folder (without any new git pulls, etc.), everything was identical (same machine, env, session, etc.).

[2022-10-28 22:15] WASasquatch commented on #1050
I'd imagine you would get radically different timing with different architecture. For rexample T4 is Turing, and 1070 is Pascal.

[2022-10-28 22:30] camenduru commented on #1050
@WASasquatch thanks for the imagination 👍 please watch the video

https://www.youtube.com/watch?v=VfjITfEXRNY

[2022-10-28 23:03] camenduru commented on #1050
![Screenshot 2022-10-29 015755](https://user-images.githubusercontent.com/54370274/198748501-d4b89a9e-ac82-4e5c-ad42-e9c438f66509.jpg)

[2022-10-28 23:05] camenduru commented on #1050
![Screenshot 2022-10-29 020444](https://user-images.githubusercontent.com/54370274/198748692-9c4b3097-f05d-4687-aaea-197509d7752d.jpg)

[2022-10-28 23:09] camenduru commented on #1050
[code]

[code]

[2022-10-28 23:31] camenduru commented on #1050
![Screenshot 2022-10-29 022955](https://user-images.githubusercontent.com/54370274/198750399-c3709164-4169-4720-b3ad-7777eeca4432.jpg)

[2022-10-28 23:41] camenduru commented on #1050
![Screenshot 2022-10-29 023917](https://user-images.githubusercontent.com/54370274/198750905-dc63c6c5-6120-4b00-9999-44937c97cfe5.jpg)

[2022-10-28 23:42] camenduru commented on #1050
[code]
[code]

[2022-10-29 01:14] irgolic commented on #374
How about something simple like https://github.com/huggingface/diffusers/pull/1053? Alternatively, I've found the fix for my use case: raising a custom exception through the `callback` and catching it outside the `pipe()` call.

[2022-10-29 02:59] vsfh opened #1054 "[Community] train example of sde_ve and karras_ve"
Great project!

I notice I cannot find the train example of sde_ve and karras_ve whose schedulers and pipeline has been implemented in this repo. You know its loss and set of sigma is tricky so I hope I can get your official implement.

Thanks.

[2022-10-29 04:49] WASasquatch commented on #1050
Have you also considered that you're using PNDM by default with diffusers, vs PLMS?

[2022-10-29 05:07] kyleliang919 opened #1055 "No LatentDiffusionPipeline on the latest branch"
### Describe the bug

Latent diffusion is not found even after pip install the latestest dev branch

### Reproduction

git clone https://github.com/huggingface/diffusers.git
cd diffusers && pip install -e .

then  run
[code]

### Logs

[code]

### System Info

diffuser version: '0.7.0.dev0'

[2022-10-29 06:28] A-Polyana commented on #1014
okay i will check it after full classes image

[2022-10-29 06:37] r0boTrIP opened #1056 "mps support under unet_2d_condition.py"
### Describe the bug

mps doesn't support float64. my hacky solution was manually setting timesteps to torch.float32 (line 277)
[code]

### Reproduction

**CODE MODIFIED FROM https://gist.github.com/karpathy/00103b0037c5aaea32fe1da1af553355**
[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.6.0
- Platform: macOS-13.0-arm64-arm-64bit
- Python version: 3.11.0
- PyTorch version (GP

[2022-10-29 07:21] patrickvonplaten commented on #1005
Hey @mihail911,

At the moment one can indeed not set the number of inference steps higher than the number of training steps for **discrete schedulers**. We could make changes to allow for this, but it wouldn't make much sense - if the model has only been trained to handle steps for 0-1000 then it won't be able to correct understand steps above 1000.
Therefore I don't think denoising for more step

[2022-10-29 07:29] patrickvonplaten commented on #1009
@patil-suraj could take a look here?

[2022-10-29 07:30] A-Polyana commented on #1014
if in classeses no images
[code]

if in classeses in images(--num_class_images=10)
i saw this massge after train
Steps:  80%|████████████████████████████████████████████▊           | 8/10 [00:17<00:02,  1.31s/it, loss=0.501, lr=5e-6][2022-10-29 16:22:26,037] [INFO] [stage_1_and_2.py:1763:step] [deepspeed] OVERFLOW! Rank 0 Skipping step. Attempted loss scale: 16777216.0, reducing to 8388608.0
Steps

[2022-10-29 07:37] patrickvonplaten commented on #905
Agree @vvvm23 !

[2022-10-29 07:44] patrickvonplaten commented on #1021
Agree

[2022-10-29 09:18] C43H66N12O12S2 commented on #952
@Marcophono2 To build xformers for Lovelace, you need to modify torch/utils/cpp_extension.py to include CUDA arch `"8.9"`

PyTorch 1.13 regressed performance on my machine, so you may be losing performance there.

[2022-10-29 11:06] camenduru commented on #1050
@WASasquatch good question. PNDM and PLMS same thing check https://arxiv.org/abs/2202.09778 also same exact image with different scheduler is a 🦄 maybe we can consider, colab using Python 3.7.15 vs my pc Python 3.10.6

[2022-10-29 12:25] ulmewennberg commented on #920
Awesome, @patil-suraj and @patrickvonplaten! Some questions so far on the implementation:

"For inpainting, the UNet has 5 additional input channels (4 for the encoded masked-image and 1 for the mask itself)"

1. Should I add noise to all the 9 input channels? Or perhaps not add it to the mask?
2. The output has only 4 channels. How do I compute the loss between a 4-dimensional noise_pred and a 9-

[2022-10-29 12:26] shunk031 commented on #878
Hi, I have built a pipeline with diffusers based on the reference implementation. Here is my implementation of the Structured Diffusion Guidance: https://github.com/shunk031/training-free-structured-diffusion-guidance.

However, I am not confident in my implementation because some parts of the published implementation are missing (e.g., sampler; a new argument, `skip`, has been added, but the deta

[2022-10-29 12:36] shunk031 commented on #1009
There is a similar issue: https://github.com/huggingface/diffusers/issues/507 👀

[2022-10-29 15:52] WASasquatch commented on #1050
I don't think they're the exact same thing. PLMS is Katherine Crowson's
implementation, and PNDM is implemented by Zhejiang University and
influenced by DDIM, but not exactly DDIM.

On Sat, Oct 29, 2022 at 4:06 AM camenduru ***@***.***> wrote:

--
Sincerely,
*Jordan S. C. Thompson *

[2022-10-29 15:56] irgolic commented on #374
On the topic of asynchronous pipelines, what I'd like to see is a way to yield (`asyncio.sleep(0)`) at callback time.

IIRC, that will implicitly allow cancelling the pipeline in an async way. When `pipeline_task` yields to another coroutine, and the other coroutine calls `pipeline_task.cancel()`, an `asyncio.CancelledError` will be raised the next time control returns to `pipeline_task`.

[2022-10-29 16:36] camenduru commented on #1050
@WASasquatch thanks for the information ♥ python 3.7 not the problem maybe only Tesla T4  I wish I could test with more GPUs

![Screenshot 2022-10-29 192338](https://user-images.githubusercontent.com/54370274/198842512-af565ec1-6ffa-4c07-8721-b644cb4eb085.jpg)

[2022-10-29 17:21] WASasquatch opened #1057 "safety_checker and pipe checking and how to disable warning safety checker"
### Describe the bug

When disabling safety checker, diffusers spits out a wall of text, every time. This is an annoyance. We get it, you don't want people making boobies and stuff. Turn it off.

Additionally, when using non-standard safety checker class for better functionality, I get

[code]
And the program fails.

Why are you checking pipe types and stuff? What real purpose does this serve besi

[2022-10-29 18:29] thedarkzeno commented on #920
@ulmewennberg I'm also working on it myself, from the inpainting pipeline it seem to only use noise on the image latents

[2022-10-29 18:39] pcuenca commented on #452
Addressed in #926.

[2022-10-29 18:39] #452 closed

[2022-10-29 19:09] #660 closed

[2022-10-29 23:57] camenduru commented on #1050
I finally found the answer to life, universe and everything 🎉🎊🦄🎇

[2022-10-29 23:57] #1050 closed

[2022-10-30 02:43] mihail911 commented on #1005
Hey @patrickvonplaten - thanks for the response! I figured that was probably the reasoning, but just wanted to clarify if there was any harder constraint preventing this in the implementation. Either way, what you said makes sense.

[2022-10-30 02:43] #1005 closed

[2022-10-30 02:57] Campfirecrucifix opened #1059 "Fp16 mixed precision requires a GPU"
Wrong repo sorry.

[2022-10-30 03:06] AkiKagura opened #1060 "Failed to load safety-checker on scripts/convert_original_stable_diffusion_to_diffusers.py"
### Describe the bug

Trying to change my ckpt model into diffusers model but failed for lacking the cache of safety-checker

### Reproduction

Clone the code of diffusers from GitHub, then get into directory of diffusers and execute the following command:
`python3 scripts/convert_original_stable_diffusion_to_diffusers.py --checkpoint_path /Users/hime/Downloads/mkmkgen.ckpt --dump_path  /Users/him

[2022-10-30 03:17] AkiKagura commented on #1060
Also, that is the result when I haven't change any code besides at convert_original_stable_diffusion_to_diffusers.py line673:`checkpoint = torch.load(args.checkpoint_path)`->`checkpoint = torch.load(args.checkpoint_path, map_location='cpu')` for CUDA is not supported on Mac

[2022-10-30 03:20] #1059 closed

[2022-10-30 04:32] gau-nernst opened #1061 "Update Textual Inversion example instruction to Stable Diffusion v1.5"
### Describe the bug

Currently the Textual Inversion example uses Stable Diffusion v1.5 in the command, but the instructions say Stable Diffusion v1.4

https://github.com/huggingface/diffusers/blob/95414bd6bf9bb34a312a7c55f10ba9b379f33890/examples/textual_inversion/README.md?plain=1#L32

https://github.com/huggingface/diffusers/blob/95414bd6bf9bb34a312a7c55f10ba9b379f33890/examples/textual_invers

[2022-10-30 07:53] orydatadudes opened #1062 "[Dreambooth] can't repeate paper results"
thank you for you great work
Using dog images (Dog toy example data ) I am trying to reconstruct the results showed in the paper
what i did?
follow the following instructors i fine tuned stable-diffusion-v1-5 using 120 others dogs images (randomly chosen from Stanford Dogs Dataset ), i also fine tuned the text model:

accelerate launch train_dreambooth.py \
  --pretrained_model_name_or_path=$MODEL

[2022-10-30 09:38] vtushevskiy opened #1064 "LMSDiscreteScheduler.add_noise() returns error"
### Describe the bug

WHen I try to run the code:
[code]
I have error:
[code]
What may be the reason?

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Huggingface_hub version: 0.10.0
- Transformers version: 4.23.1

[2022-10-30 10:46] shirayu opened #1066 "HuggingFaceDocBuilderDev makes documents for PR in forks"
### Describe the bug

HuggingFaceDocBuilderDev makes documents for PR in forks like this https://github.com/shirayu/diffusers/pull/1
The URL is ``https://moon-ci-docs.huggingface.co/docs/diffusers/pr_1/en/index``.

### Reproduction

See https://github.com/shirayu/diffusers/pull/1

### Logs

_No response_

### System Info

None

[2022-10-30 12:49] OzzyD opened #1067 "ValueError: The tokenizer already contains the token ... Please pass a different `placeholder_token` that is not already in the tokenizer."
Just a quick question regarding tokens:

I have a model trained on a new token and wish to add more detail and add extra run cycles to it. I get the above advice/error

How do I go about fixing this issue, or am I best to retrain from scratch?

[2022-10-30 13:01] A-Polyana opened #1068 "ERROR:torch.distributed.elastic.multiprocessing.api:failed?"
Hello
I've found some problems it`s Before Make Classes, After Finish train

If make Classes Image
[code]

After Finish Train
[code]

I Use this sh file with WSL2 ubuntu 22.04 and DeepSpeed
[code]
If I don't want to see torch.distributed.elastic.multiprocessing.api:failed) error, is there any correction?

[2022-10-30 14:13] FBehrad opened #1070 "Stable diffusion inpainting new version faces a bug"
### Describe the bug

I used to use [stable diffusion inpainting legacy](https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint_legacy.py). When I used num_images_per_prompt = 2, the model generated two similar images, while I expected to get two different outputs.
Then, I cloned the [new version of the stable diffusion inpaint

[2022-10-30 15:07] sgrigory commented on #553
@anton-l, I've double-checked and it seems that with the latest version of the code the situation is the same: by passing `use_clipped_model_output=True` one can make DDIM and DDPM pipelines compatible. Here is a PR with proposed changes: #1069 . Please have a look and let me know, I might be missing something.
The tests in questions were not executed in the CI yet, but I ran them on colab - see t

[2022-10-30 15:33] pcuenca commented on #657
Sounds good.

[2022-10-30 15:33] #657 closed

[2022-10-30 17:51] Marcophono2 commented on #952
@C43H66N12O12S2 Interesting! But I think there is more necessary than adding

        ('Lovelace', '8.9+PTX'),

and

    supported_arches = ['3.5', '3.7', '5.0', '5.2', '5.3', '6.0', '6.1', '6.2',
                        '7.0', '7.2', '7.5', '8.0', '8.6', '8.9']

:) But what exactly?
I installed everything again and stay with PyTorch 1.12 now as you recommended.

[2022-10-30 17:53] C43H66N12O12S2 commented on #952
After you modify the file, set `TORCH_CUDA_ARCH_LIST=“8.9”` env variable.

This is how I compile my Windows wheels.

[2022-10-30 18:44] Marcophono2 commented on #952
@C43H66N12O12S2 Okay. But shouldn't it be the other way round? PyTorch must be new compiled with that added environment parameter, is that correct? But then the cpp_extension.py file will be overwritten.

[2022-10-30 18:45] Marcophono2 commented on #952
@C43H66N12O12S2 And also I think I need cuda 11.8 for the SD project then, or not?

[2022-10-30 18:46] C43H66N12O12S2 commented on #952
No, PyTorch (and the official releases) is fine. Modification of cpp_extension.py is necessary because PyTorch has a hardblock on any cuda arch not on their list.

You need 11.8 nvcc to compile CUDA 8.9, yes. Not for inference.

[2022-10-30 18:49] Marcophono2 commented on #952
@C43H66N12O12S2 Okay. That sounds easier than awaited. :)
Can you tell me where in the environment I have to add it? Or now to add it to a command?

[2022-10-30 18:51] C43H66N12O12S2 commented on #952
In Linux, `TORCH_CUDA_ARCH_LIST="8.9" pip wheel -e .` inside cloned xformers repo *should* work.

[2022-10-30 18:57] Marcophono2 commented on #952
Great Thanks a lot, @C43H66N12O12S2 ! I have a good feeling that this will bring me a big step forward! :+1:

[2022-10-30 18:58] adhikjoshi commented on #939
We can pass array of maybe downloaded models, which loads.

If i want to load 3 custom trained models, it's not possible, as far i know (tell me if i can)

If we can do it easily, it would be awesome.

[2022-10-30 19:02] RyannDaGreat commented on #468
Could someone please explain why diffusers chose to use a complex file structure to hold their models? I'm confused by this design choice...wouldn't using pytorch's built-in save function to make .ckpt files from a nn.Module be way simpler?

[2022-10-30 19:24] adhikjoshi opened #1072 "Best Way To Load Multiple Fine-Tuned Models?"
### Describe the bug

I am trying to load upto 4 fine-tuned models using pipeline,

Here is what my code looks like,

[code]

And as you have imagined, it's painfully slow and memory inefficient way to do.

How can i load multiple fine-tuned models like `custom_pipeline="stable_diffusion_mega"` Or Pass array path and it loads memory efficiently?

Or Like,

[code]

### Reproduction

_No response_

[2022-10-30 21:08] WASasquatch commented on #1072
Try using `joblib` and cache each pipe to disk. It will cache the pipe, model, and plotted memory to disk, and they load in ~2 seconds (1second on my system, 2 seconds on colabs). So switching to each type is very quick.

[2022-10-30 21:33] WASasquatch commented on #1050
I should note that it seems Colab has altered T4s, performance spontaneously changed for me with guided diffusion, and training with OpenAI right before the new compute credits system. Likewise the P100 got slower for some reason, by a lot.

[2022-10-30 23:49] Marcophono2 commented on #952
@C43H66N12O12S2 I was too optimistical. I think I did it all correct (not really sure of course) but I get a large error output.

My setup:

I installed the branch from @MatthieuTPHR
-> https://github.com/MatthieuTPHR/diffusers/archive/refs/heads/memory_efficient_attention.zip

and I installed xformers as you mentioned. If I then start a little test program

[code]
with

USE_MEMORY_EFFICIENT_ATTEN

[2022-10-30 23:55] C43H66N12O12S2 commented on #952
It looks like you made some errors while compiling and the resulting xformers lacks any SASS code for 8.9

As for performance issues with the 4090, you could try following my advice inside the thread posted earlier by Nouamane.

[2022-10-31 01:39] Marcophono2 commented on #952
@C43H66N12O12S2 , @NouamaneTazi DAMN!! Just replacing the cuDNN stuff in the torch lib directory brought a 100% speed up mega punch!!! From 9.5 to 17.5it/s. You made an old man happy and smile for the first time since two weeks!!
I already used this great trick in the AUTOMATIC111 webUI version successfully but thought, whyever, this isn't possible for Linux. Now I must implement that xFormers thi

[2022-10-31 02:57] Marcophono2 commented on #952
@C43H66N12O12S2 , @NouamaneTazi  Now at 25it/s! :-)))
Still no xFormers. I only let build again uunet weights and added it to the pipeline.
flax is similar fast by the way.

[2022-10-31 07:28] duongna21 commented on #463
@patil-suraj @pcuenca I can spend time implementing SR example this weekend (PyTorch & Flax).

[2022-10-31 08:02] dingjingzhen opened #1074 "How to save jax models"
I use a model trained by pytorch, how can I convert it to jax for inference

[2022-10-31 08:09] dingjingzhen opened #1075 "Using jax inference"
How to generate multiple images with a single prompt when I use jax to accelerate txt2img

[2022-10-31 08:50] zcswdt opened #1076 "about stable-diffusion-v1-5"
### Model/Pipeline/Scheduler description

How to download model stable-diffusion-v1-5 to the local disk

![image](https://user-images.githubusercontent.com/43515926/198968357-f705264c-b039-4d4b-bd88-66eb2097174b.png)

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if addition is not a scheduler).

### Provide useful links fo

[2022-10-31 12:32] patrickvonplaten commented on #902
Small update here:
- 1.) We now know that we cannot guarantee reproducibility (only loosely "close" reproducibility) because of https://github.com/pytorch/pytorch/issues/87992 => therefore we can never really guarantee that the exact same images are generated across devices
- 2.) I checked and I cannot reproduce difference of this code:
[code]
between 0.3.0 and 0.7.0dev using a V100
- 3.) The aggr

[2022-10-31 12:44] adhikjoshi opened #1080 "How to run dreambooth accelerate from python file"
### Describe the bug

I tried to finetune model, works fine.

Now i want to make a python script which accepts parameters from Flask and start training,

What i found is that, i have to pass all parameters as command like

`accelerate launch --config_file=$ACCELERATE_CONFIG train_dreambooth.py \`

But i want to access this as python function, where i can pass parameters to function and start train

[2022-10-31 13:07] C43H66N12O12S2 commented on #952
You can try env variable without quotes, like this `TORCH_CUDA_ARCH_LIST=8.9 pip wheel -e .`

If that fails as well, no idea.

[2022-10-31 13:09] ydshieh commented on #902
Just curious:

What kind of difference you are checking/looking here, @patrickvonplaten ?

[2022-10-31 13:49] enn-nafnlaus opened #1082 "Dreambooth: RuntimeError: CUDA error: CUBLAS_STATUS_EXECUTION_FAILED when calling `cublasLtMatmul"
### Describe the bug

Hi - I've spent a couple days trying to get Dreambooth to run, and can't get past this:

_Steps:   0%|                                                                                                                                                                                                        | 0/800 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "/scratch

[2022-10-31 14:25] kleiti opened #1083 "[Community] FP16 ONNX produces incorrect output"
### Describe the bug

#932 enabled conversion of the main branch FP32 model (git clone https://huggingface.co/CompVis/stable-diffusion-v1-4 -b main) to ONNX FP16. While it runs fine with OnnxStableDiffusionPipeline using DMLExecutionProvider (onnxruntime-directml==1.13.1), the produced image is just a black square.

Conversion was done with:
convert_stable_diffusion_checkpoint_to_onnx.py --model_p

[2022-10-31 15:03] #567 closed

[2022-10-31 15:03] #536 closed

[2022-10-31 15:03] #519 closed

[2022-10-31 15:03] #443 closed

[2022-10-31 15:03] #441 closed

[2022-10-31 15:03] #436 closed

[2022-10-31 15:03] #283 closed

[2022-10-31 15:03] #36 closed

[2022-10-31 16:17] theahura opened #1084 "[Feature Request] Documentation around multiple pipelines reusing model weights"
**Is your feature request related to a problem? Please describe.**
If I have a StableDiffusionPipeline, a StableDiffusionImg2ImgPipeline, and a StableDiffusionInpaintPipeline, these will all load separate weights to the GPU even though they are all using the same model. This makes creating applications that use the full breadth of SD difficult to create.

**Describe the solution you'd like**
It se

[2022-10-31 18:32] patrickvonplaten commented on #1015
Hey @camenduru it should be as easy as doing:

[code]

[2022-10-31 18:33] patrickvonplaten commented on #1015
We should add better docs for this though and an automated converter tool sounds like a great idea indeed!

[2022-10-31 18:33] patrickvonplaten commented on #1036
@patil-suraj could you take a look here? :-)

[2022-10-31 19:24] camenduru opened #1088 "train_dreambooth_flax.py 😭"
### Describe the bug

I tried CompVis/stable-diffusion-v1-4 flax and bf16 branches with train_dreambooth_flax.py but not working and I can generate images with this code in same vm

[code]
From error log:

[code]

https://github.com/huggingface/diffusers/blob/7fb4b882b9618005035fdd70d78b312bbcd2a5ef/examples/dreambooth/train_dreambooth_flax.py#L370

### Reproduction

[code]
[code]

### Logs

[code

[2022-10-31 21:59] camenduru commented on #1015
@patrickvonplaten ✨ thanks I converted https://huggingface.co/nitrosocke/mo-di-diffusion to flax but how to push to flax branch I opened PR but PR going to main branch 🆘

[2022-10-31 22:13] camenduru commented on #1015
and I converted like this
[code]
should I put this to `bf16` branch or `flax` branch ?

[2022-10-31 23:32] stromal commented on #1036
@patil-suraj  Awesome work I love everything with colab!

[2022-10-31 23:41] BigFatMan312312 commented on #938
how can you use this, is their any easier way because the way that is on it does not work

[2022-11-01 00:25] thedarkzeno commented on #920
I made a pull request [here](https://github.com/huggingface/diffusers/pull/1091)
But it's not passing the tests, can someone guide me to fix it?
It's my first contribution, not sure how to do it right
@ulmewennberg @patil-suraj

[2022-11-01 00:25] camenduru commented on #1015
I also converted waifu-diffusion ✨ haru will add [here](https://huggingface.co/hakurei/waifu-diffusion) 🎉

[2022-11-01 02:52] dblunk88 opened #1092 "Euler & Attention Slicing"
### Describe the bug

Whenever I try to use the new implementation of Euler and enable attention slicing, it throws me the below error

### Reproduction

_No response_

### Logs

[code]

### System Info

diffusers: latest github version

accelerate: 0.13.2

torch: 1.12.1+cu116

10 GPUs

[2022-11-01 05:09] toyxyz commented on #931
Oh I understand! Which one is suitable for Dreambooth, Ema or Non Ema?

[2022-11-01 05:09] CrazyBoyM commented on #1068
I got the same problem when use 'accelerate config' with deepseed option.

[2022-11-01 05:16] A-Polyana commented on #1068
I think it's related to this code
`valueError: Pipeline <class 'diffusers.pipelines.stable_diffusion.pipeline_stable_diffusion.StableDiffusionPipeline'> expected {'unet', 'text_encoder', 'safety_checker', 'scheduler', 'vae', 'tokenizer', 'feature_extractor'}, but only {'unet', 'text_encoder', 'safety_checker', 'scheduler', 'vae', 'tokenizer'} were passed.`

I'm sad that I can't solve it cuz I'm no

[2022-11-01 05:26] CrazyBoyM opened #1093 "fall to train textual inversion with DeepSpeed"
### Describe the bug

When I try the demo in https://github.com/huggingface/diffusers/blob/main/docs/source/training/text_inversion.mdx

at the step:
[code]
when i choice the option with use DeepSpeed with yes

it will borken with this error each time(with different device test, T4 and A5000 ):
[code]
but with the use DeepSpeed option with NO, it works well! I think maybe there is a bug in the tex

[2022-11-01 06:10] rexroth0619 commented on #946
Hi team, thanks for coming in.

I ended up figuring it out myself. Since I'm running a docker container on runpod, bitsandbytes weren't able to find CUDA under the normal installed directory /usr, since it's installed in the base conda environment (under /opt/conda/lib). By directing it to that folder the code was able to run.

[2022-11-01 07:08] 0xdevalias opened #1094 "Explore potential speed benefits from implementing kernl (Up to 12X faster GPU inference)"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Explore whether implementing kernl would provide speedups for Stable Diffusion.

- https://github.com/ELS-RD/kernl
  - > Kernl lets you run PyTorch transformer models several times faster on GPU with a single line of code, and is designed to be easily hackable.
- https://www.reddit.com/r/Ma

[2022-11-01 10:30] #640 closed

[2022-11-01 13:24] maddyonline commented on #782
`pip install --upgrade diffusers` solved it for me.

[2022-11-01 13:26] allo- commented on #782
The general command is: `pip install --upgrade -r diffusers/requirements.txt` to get all packages to (at least) the version needed by diffusers.
Installing from pypi does this automatically, but a `git pull` doesn't.

[2022-11-01 15:03] #529 closed

[2022-11-01 15:03] #526 closed

[2022-11-01 15:53] philschmid commented on #541
Hey,
I also created a nice end-to-end example on how to deploy Stable Diffusion on to Amazon SageMaker: https://www.philschmid.de/sagemaker-stable-diffusion

It covers:

1. [Create Stable Diffusion inference script](https://www.philschmid.de/sagemaker-stable-diffusion#1-create-stable-diffusion-inference-script)
2. [Create SageMaker model.tar.gz artifact](https://www.philschmid.de/sagemaker-stable-

[2022-11-01 16:28] natolambert commented on #1074
Hi @dingjingzhen, I have an idea but am not 100% sure. This seems like a functionality not directly supported by the library. What has been done in the past is to utilize scripts and utils (that are present in the library [here](https://github.com/huggingface/diffusers/blob/0902449ef82d8f1700643ae65b20316519ac20ec/src/diffusers/modeling_flax_pytorch_utils.py)) to save a new jax-version of the mode

[2022-11-01 16:29] natolambert commented on #1076
Hi @zcswdt -- you need to get the model directly from the hub (https://huggingface.co/runwayml/stable-diffusion-v1-5). This involves making an account, accepting the conditions / license, and then downloading directly or using the git interface.

[2022-11-01 16:31] natolambert commented on #1054
Hi @vsfh yeah you are right that this is not filly supported yet. It would be a great issue for a community member to verify. We definitely have some checks when developing it that it matches up, but I don't think any of the core maintainers have done any deep testing.

[2022-11-01 17:02] zetyquickly opened #1097 "Dreambooth and DeepSpeedCPUAdam"
Hello,

I was playing with a Dreambooth example and noticed a mention that about deepspeed optimizer

Whenever I change `torch.optim.AdamW` to `deepspeed.ops.adam.DeepSpeedCPUAdam` explicitly it actually gives a speedup.

I am wondering whether it's possible to perform this switch using `accelerate launch train_dreambooth.py` parameters or set up? Or there's no such API, and this was mentioned for

[2022-11-01 20:57] CitizenRoby opened #1098 "convert_original_stable_diffusion_to_diffusers.py issue"
### Describe the bug

Hi, I tried to convert my ckpt from novelai leak file with convert_original_stable_diffusion_to_diffusers python script, but I always get an error.

### Reproduction

convert_original_stable_diffusion_to_diffusers.py --checkpoint_path="D:\IA\stable-diffusion-webui\models\Stable-diffusion\nai-sfw.ckpt" --dump_path="D:\IA\stable-diffusion-amd\test\output"

Tbh, I'm not comforta

[2022-11-01 21:25] MarkRich commented on #522
Hello @patrickvonplaten !

I assume this issue is still relevant? If so happy to help with it. Just for clarity: the task is to address the comments that patil had here: https://github.com/huggingface/diffusers/pull/502#pullrequestreview-1109050359, correct? i.e. that the flax UNet model does not actually perform dropout since it was originally intended just for inference?

[2022-11-02 02:26] #1098 closed

[2022-11-02 05:11] Li-En-Good opened #1099 "No class name for dreambooth"
### Describe the bug

It might come from the latest update?

Traceback (most recent call last):
  File "/dreambooth/infer.py", line 5, in <module>
    pipe = StableDiffusionPipeline.from_pretrained(model_id, torch_dtype=torch.float16).to("cuda")
  File "/lib/python3.10/site-packages/diffusers/pipeline_utils.py", line 452, in from_pretrained
    if class_name.startswith("Flax"):
AttributeError: 'No

[2022-11-02 05:27] Li-En-Good commented on #1099
downgraded and still wouldn't work

[2022-11-02 08:27] chinoll opened #1100 "Low probability of throwing 'CLIPTextTransformer' object has no attribute 'device' exception"
### Describe the bug

When running a pipeline, there is a probability that an exception will be thrown.
[code]
lpw module is [lpw_stable_diffusion](https://github.com/huggingface/diffusers/blob/main/examples/community/lpw_stable_diffusion.py)

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-5.4.0-122-generic-x86_64-with-glib

[2022-11-02 08:55] camenduru commented on #1074
https://github.com/huggingface/diffusers/issues/1015#issuecomment-1297504201

[2022-11-02 09:07] LuChengTHU opened #1101 "Add DPM-Solver scheduler"
**Is your feature request related to a problem? Please describe.**

Add the state-of-the-art training-free fast sampler DPM-Solver, which has analytic coefficients and can greatly accelerate stable-diffusion: https://github.com/LuChengTHU/dpm-solver

**Describe the solution you'd like**

Add the support for DPM-Solver.

**Describe alternatives you've considered**

Check this repo: https://github.c

[2022-11-02 09:36] patil-suraj commented on #782
for `examples` it's recommended to install from `main` or clone the repo and install from source. Will actually add version checks in example scripts which will raise an error if correct version is not installed.

[2022-11-02 10:05] patrickvonplaten commented on #1046
Thanks for the issue. I think it'll be quite difficult, technically, trying to ensure that one can load multiple custom pipelines into one given that they all define their own `step` function and also rely on different weights, e.g. clip guided diffusion relies on more weight parameters than stable diffusion text2image. The best I can think of at the moment is doing something like:

[code]

In the

[2022-11-02 10:23] patrickvonplaten commented on #993
Looking into it!

[2022-11-02 10:30] patrickvonplaten commented on #993
I cannot reproduce the error - the code snippet runs fine for me. My version is:

[code]

@ParadoxZW could you maybe try to upgrade `transformers` to the newest version - the problem seems to come from `transformers` here actually and not `diffusers`:

[code]

Also @dblunk88 is 100% right, we do **not** recommend using `autocast` anymore - instead one should use "pure" FP16 as is done in the code

[2022-11-02 10:30] patrickvonplaten commented on #1049
@patil-suraj feel free to clone when your PR is merged :-)

[2022-11-02 10:33] patil-suraj commented on #1049
fixed in #1089

[2022-11-02 10:33] #1049 closed

[2022-11-02 10:35] patil-suraj commented on #946
Glad you were able to fix this!

[2022-11-02 10:44] patil-suraj commented on #398
As discussed offline with @patrickvonplaten , re-opening this issue:

It has become a common practice to use different schedulers with SD but right now there isn't a clean way to change `scheduler` in a loaded pipeline. Also, it's not recommended to set
`pipeline.scheduler` directly as it could lead to silent errors cf https://github.com/huggingface/diffusers/pull/1089#discussion_r1010756888

We w

[2022-11-02 10:49] patrickvonplaten commented on #914
Thanks a mille @Lewington-pitsos for making this very important improvement-of-life PR! Leaving this issue open as we still need to apply the same changes to:
- https://github.com/huggingface/diffusers/blob/main/tests/pipelines/stable_diffusion/test_stable_diffusion_img2img.py
and
- https://github.com/huggingface/diffusers/blob/main/tests/pipelines/stable_diffusion/test_stable_diffusion.py

[2022-11-02 10:58] #1055 closed

[2022-11-02 11:00] patrickvonplaten commented on #1014
cc @patil-suraj here

[2022-11-02 11:11] patrickvonplaten commented on #1057
Thanks for the issue.

Two things in this issue:

1) Remove the logger warning. We won't do this for now as we consider the potential upsides (warning people of problems) to outweigh the downsides. You can however simple disable the warning yourself if you want - it's as easy as setting the logging level to the highest "error" level as explained here: https://huggingface.co/docs/diffusers/api/logg

[2022-11-02 11:12] patrickvonplaten commented on #1057
2. Passing a costum safety checker. Here I will need a complete code sample to reproduce the error. Could you add a code snippet that leads to your error message?

[2022-11-02 11:14] patrickvonplaten commented on #1060
Hey @AkiKagura,

Could you upload your checkpoint `/Users/hime/Downloads/mkmkgen.ckpt` somewhere on the Hub: https://huggingface.co/ so that I can reproduce the error? :-) Thank you!

[2022-11-02 11:15] patrickvonplaten commented on #1061
cc @patil-suraj

[2022-11-02 11:18] patrickvonplaten commented on #1062
Hey @orydatadudes,

Note that the official weights and code of dreambooth: https://dreambooth.github.io/ has never really been open-sourced. So we cannot expect to be able to reproduce 1-to-1 the same results as in the paper. The best article we have for dreambooth at the moment can be found here: https://github.com/huggingface/blog/pull/603 (it'll soon be available here: https://huggingface.co/bl

[2022-11-02 11:18] patrickvonplaten commented on #1064
cc @anton-l could you take a look here?

[2022-11-02 11:57] pcuenca commented on #946
Awesome @rexroth0619! Can you please close the issue if this is fully resolved? :)

[2022-11-02 12:09] pcuenca commented on #1074
Exactly, thanks @camenduru!

In addition, @dingjingzhen, you can use a PyTorch model by using the `from_pt` argument when you load the pipeline, as @camenduru shows here in the first line of his snippet: https://github.com/huggingface/diffusers/issues/1015#issuecomment-1297752984

This will convert the weights on the fly. Then you can save them in Flax format if you need to (second line of the sni

[2022-11-02 12:11] dingjingzhen commented on #1074
@pcuenca Thank you for the great work that has solved my problem

[2022-11-02 12:12] patil-suraj commented on #920
Hey @ulmewennberg !

The noise is added to the target image that we want the model to generate.

We add noise to the target encoded image which has 4 channels, and the loss is simply computed against that noise.

Hope this makes it clear.

[2022-11-02 12:13] patil-suraj commented on #920
Thanks for the PR @thedarkzeno ! will take a look.

[2022-11-02 12:14] pcuenca commented on #1099
Hi @Li-En-Good, thanks for opening this issue! Can you please provide a reproducibility snippet? In particular, what is `model_id`? Are you downloading the model from Hugging Face Hub, or is it a directory in your computer?

Thanks a lot!

[2022-11-02 12:16] patil-suraj commented on #920
Hey @thedarkzeno and @ulmewennberg , actually not sure if I understand this. What's the goal of doing dream booth with in-painting ? How would it work ?

[2022-11-02 12:17] pcuenca commented on #1074
Awesome! Glad to know :)

[2022-11-02 12:17] #1074 closed

[2022-11-02 12:18] patrickvonplaten commented on #1072
Good question - at the moment the most memory efficient and fastest way to load the models is via `devcice_map="auto"`:

[code]

This should cut loading time by 80-90% . Soon we'll have this enabled by default (cc @patil-suraj )

[2022-11-02 12:22] patil-suraj commented on #1036
Hey @stromal as said by @dblunk88 it looks like a auth issue. If you are using the colab then make sure to run `Login` cell first before loading the `pipeline`. If you are running locally you can also do
```huggingface-cli login```

[2022-11-02 12:30] patrickvonplaten commented on #468
Good question @RyannDaGreat,

I'm sorry that the file structure appears to be complex. I've tried to make as as intuitive as possible but seemed to have failed here a bit :sweat_smile:

In short the logic is the following:
- 1. Diffusion Pipelines consists of multiple independently trained `nn.Modules`, *e.g.* VAE , the Unet, the Text-encoder are often/usually all trained independently. This has t

[2022-11-02 12:31] patrickvonplaten commented on #939
Also related: https://github.com/huggingface/diffusers/issues/1046

[2022-11-02 12:50] patil-suraj commented on #1072
@adhikjoshi ,

If you only fine-tuned the `unet`, then I would say the second option would be much efficient along with the `device_map=auto`. For example if you have multiple fine-tune `unets`

[code]

This will avoid loading the vae and text encoder multiple times since they are fixed.

[2022-11-02 13:03] patil-suraj commented on #1061
fixed in #1103

[2022-11-02 13:03] #1061 closed

[2022-11-02 13:15] ulmewennberg commented on #920
@patil-suraj the goal is to be able to for example take perform image-inpainting using custom concepts.

[2022-11-02 13:25] AkiKagura commented on #1060
Yes! there is.
https://huggingface.co/AkiKagura/mkgen-diffusion/tree/main/mkgen.ckpt

Thank you so much😊

[2022-11-02 13:28] patil-suraj commented on #1014
Hey @A-Polyana

The first error that you posted

[code]

it has been resolved in this commit https://github.com/huggingface/diffusers/commit/eceeebdf9147fa8daa6acaa69088def0f60315a2

from the other logs I see the error is

[code]

this means that the safety checker is not saved in the model that you are passing to the script. Make sure to either
- save safety_checker in the model
- or modify the s

[2022-11-02 13:50] #553 closed

[2022-11-02 13:51] patrickvonplaten commented on #1070
Hey @FBehrad,

Could you add a reproducible code snippet? I'm not 100% sure what code you ran :sweat_smile:

Thanks!

[2022-11-02 13:57] patrickvonplaten commented on #1067
Hey @OzzyD,

Could you post a reproducible code snippet as well as your environment information? :-)

[2022-11-02 14:06] shirayu commented on #1066
Hi, @patrickvonplaten , @sgugger

I would like to know what happens if more than one person creates a PR with the same number.
If a PR with a certain number already exists in the doc, will it be overwritten if another person creates a PR with the same number in a different repository?

[2022-11-02 14:09] anton-l commented on #1064
@vtushevskiy could you post a reproducible code snippet please? Looks like you have duplicate timesteps in the scheduler, but I can't say for sure without an example :)

[2022-11-02 14:11] sgugger commented on #1066
Probably yes

[2022-11-02 14:21] shirayu commented on #1066
OK. If so, they can be overwritten by others unintentionally.
Anyway I got it.
Thank you.

[2022-11-02 14:21] #1066 closed

[2022-11-02 14:23] Marcophono2 commented on #952
@C43H66N12O12S2 No, it dis still not work. But after a new setup I am at 28it/s including Euler_a. Probably the PyTorch Nightly (1.4.) gave an extra punch. Meanwhile I am not sure if xFormers would really be able to give still more improvement!? Is xFormers undependigly from unet? Or is it kind of another "version" of the unet implementation from the technical point of view?

P.S.: Is this only a

[2022-11-02 14:26] patil-suraj commented on #920
I see, thanks!

[2022-11-02 15:04] #311 closed

[2022-11-02 15:04] #305 closed

[2022-11-02 15:09] A-Polyana commented on #1014
yep! Now work`s well all! with deepSpeed

[2022-11-02 15:43] A-Polyana commented on #1014
Ty for all butThere's still a little problem
runwayml/stable-diffusion-v1-5 Model well working
But Other Model Not work :(
[code]
Maybe I do upgrade safety_checker in the model
It was built around the same time as the stable-diffusion-v1.4 model

[2022-11-02 15:52] patrickvonplaten commented on #1075
Hey for now you could simply duplicate your prompt:

[code]

For more information you could maybe have a look at the blog post :-)
https://huggingface.co/blog/stable_diffusion_jax

[2022-11-02 15:54] patrickvonplaten commented on #1080
cc @patil-suraj could you take a look here?

[2022-11-02 15:55] patrickvonplaten commented on #1082
I'm not sure 12GB is enough for dreambooth, maybe @patil-suraj knows better here

[2022-11-02 15:56] patrickvonplaten commented on #1083
@anton-l could you take a look here?

[2022-11-02 15:58] patrickvonplaten commented on #542
@anton-l any updates here? Can we close this?

[2022-11-02 16:03] patrickvonplaten commented on #1088
cc @duongna21 since related to: https://github.com/huggingface/diffusers/pull/1001 and also cc @patil-suraj

[2022-11-02 16:03] anton-l commented on #1083
Hi @kleiti! Does it still produce a black image when trying other promts?
If it does, could you try initializing it with `pipe = OnnxStableDiffusionPipeline.from_pretrained("fp16_sd14", provider="DmlExecutionProvider", safety_checker=None)`? Might be a bug in the safety checker conversion if the black image persists for other prompts.
I don't have a windows machine set up for testing yet, so I'm n

[2022-11-02 16:07] patrickvonplaten commented on #1015
I'd put it on a flax branch :-)

[2022-11-02 16:09] anton-l commented on #542
https://github.com/huggingface/diffusers/pull/932 enabled an FP16 conversion, so it should be possible to manually convert and use the checkpoints with size-sensitive onnx tools now. Feel free to ping me here if you have any issues with that workflow!
Hardware-independent FP16 checkpoints are still WIP, as they require still-unreleased onnxruntime updates.

[2022-11-02 16:09] #542 closed

[2022-11-02 16:11] enn-nafnlaus commented on #1082
I'm following the instructions for Dreambooth in 10G, using the various memory-saving optimizations.

[2022-11-02 16:51] LuChengTHU opened #1106 "PNDM repeatedly calls the unet model"
### Describe the bug

https://github.com/huggingface/diffusers/blob/0b61cea347e9b464fb03506cb78a49d38e1c74ee/src/diffusers/schedulers/scheduling_pndm.py#L168-L175

plms_timesteps uses a repeated time step at the second and the third step, which leads to the pipeline computing the unet once again:

https://github.com/huggingface/diffusers/blob/cbcd0512f04064bb25206ad844ebc4a9a022cad1/src/diffusers/

[2022-11-02 17:06] patrickvonplaten commented on #1015
Hey @camenduru,

Thanks for opening the issue on the Hub. I answered there: https://huggingface.co/nitrosocke/mo-di-diffusion/discussions/8#6362a3672c0bb59ecc191a07 . Please ping me if you need my help going forward :-)
If ok for the author of the repo, I'd open a branch directly on main actually. Flax and PyTorch weights can live in the same repo branch side-by-side.

[2022-11-02 17:07] patrickvonplaten commented on #1092
Hey @dblunk88,

Could you copy-paste a fully reproducible code snippet below? :-)

[2022-11-02 17:08] patrickvonplaten commented on #931
Good question! I think the non-ema are better, but let's ask the experts here cc @patil-suraj @pcuenca :-)

[2022-11-02 17:08] patrickvonplaten commented on #1068
@patil-suraj could you take a look here?

[2022-11-02 17:09] patrickvonplaten commented on #1093
cc @patil-suraj

[2022-11-02 17:13] patrickvonplaten commented on #1094
Very interesting! cc @NouamaneTazi @Narsil @patil-suraj here

[2022-11-02 17:14] patrickvonplaten commented on #1094
I'm not sure the diffusers team has time for this, but we'd definitely be interested in exploring this option, but we'd need some benchmark numbers :-)

[2022-11-02 17:21] patrickvonplaten commented on #1054
This would definitely be a nice addition to `diffusers` :-) Will mark this as a community issue / good first issue

[2022-11-02 17:23] patrickvonplaten commented on #1097
Think we could allow to do this easier from the dreambooth training script - what do you think @patil-suraj ? :-)

[2022-11-02 17:25] patrickvonplaten commented on #1084
Hey @theahura,

That's a good point - we should definitely add this somewhere to the docs. Where do you think would be the best place to discover it for newcomers? Somewhere under `"using-diffusers"` ? here: https://huggingface.co/docs/diffusers/main/en/using-diffusers/

[2022-11-02 17:28] patrickvonplaten commented on #1100
Hey @chinoll,

Could you provide a reproducible code snippet for this?

[2022-11-02 17:29] Li-En-Good commented on #1099
Hi @pcuenca! It is a directory from my computer.

I am doing the same thing as provided here:
https://github.com/huggingface/diffusers/tree/main/examples/dreambooth#inference

`from diffusers import StableDiffusionPipeline`
`import torch`
`model_id = "path-to-your-trained-model"`
`pipe = StableDiffusionPipeline.from_pretrained(model_id, torch_dtype=torch.float16).to("cuda")`
`prompt = "A photo of

[2022-11-02 17:29] WASasquatch commented on #1072
Wouldn't that be a bad idea since it's not compatible with CPU devices, and likely others?

[2022-11-02 17:53] BasToTheMax opened #1109 "Only half of my cpu cores are being used?"
### Describe the bug

Only about half of my cpus are used.
I have 8 cores, but only 4 are used. Is there way to fix this?
![image](https://user-images.githubusercontent.com/55401336/199564591-b57f9212-6346-4062-b2cc-a11c67fea030.png)
![image](https://user-images.githubusercontent.com/55401336/199564675-cee7a67b-53cc-4e89-a690-1f393d2ed95d.png)

### Reproduction

My code:
[code]

### Logs

[code]

[2022-11-02 18:32] theahura commented on #1084
I personally was looking in the README, and I think it's basically one paragraph. It would fit right below the section where you describe the different pipelines (e.g. img2img, inpaint):
[code]

[2022-11-02 18:33] theahura commented on #1084
I _believe_ these weights can also be reused in community pipelines? but not 100% sure

[2022-11-02 19:32] #1064 closed

[2022-11-02 19:32] vtushevskiy commented on #1064
Can't reproduce. Now error doesn't appear

[2022-11-02 20:01] Klaudioz commented on #736
I just got that issue .. few hours ago I didn't have any issues running this command:

[code]

I don't know if huggingface is having issues right now

[2022-11-02 20:17] Kenoubi commented on #1070
@FBehrad, if you want to use the new inpainting pipeline, you have to use the finetuned model for inpainting (runwayml/stable-diffusion-inpainting).  The other models do not have the right number of channels in the U-Net to work with the new inpainting pipeline.  I'm pretty sure this is why your code didn't work.

[2022-11-02 20:26] averad commented on #1083
@anton-l

Windows 11
Python 3.10.8
Diffusers 0.6.0

Input
`pipe = OnnxStableDiffusionPipeline.from_pretrained(
    model,
    provider="DmlExecutionProvider",
    safety_checker=None,
)`

Output (Error)
`pipe = OnnxStableDiffusionPipeline.from_pretrained(
  File "D:\ai\sd_env\lib\site-packages\diffusers\pipeline_utils.py", line 474, in from_pretrained
    raise ValueError(
ValueError: None is of t

[2022-11-02 20:28] Kenoubi commented on #1067
@OzzyD I assume you are running https://github.com/huggingface/diffusers/blob/main/examples/textual_inversion/textual_inversion.py (or the Colab notebook with mostly the same code.)  You can just comment out that check, although in that case you should also comment out `token_embeds[placeholder_token_id] = token_embeds[initializer_token_id]` as this would essentially restart the training from scra

[2022-11-02 20:50] MatthewWaller opened #1111 "A checkpoint trained only on non-copyrighted images."
**Is your feature request related to a problem? Please describe.**
I would like to be able to respect the copyright of artists whose work was used to train the model.

**Describe the solution you'd like**
I'm not sure if this is exactly the place, but if possible, I would like a checkpoint that is trained only on non-copyrighted images. I think this might be the only solution 😔

**Describe alterna

[2022-11-02 21:16] Narsil commented on #1094
@OlivierDehaene Played with it and saw same or even slightly worse performance on some hardware.

Not to diminish the acomplishments of `kernl`, I am a big fan of putting kernel writing in the hands of users, and being able to tinker with it.
I am just saying running some benchmarks would be necessary. It would be awesome if we manage to expose a simple script.

[2022-11-02 21:36] averad commented on #489
Ran the FP32 to FP16 @tianleiwu provided and was able to convert a Onnx FP32 Model to Onnx FP16 Model.

Windows 11
AMD RX580 8GB
Python 3.10
Diffusers 0.6.0

When attempting to load the FP16 Model the following error is received when using the OnnxStableDiffusionPipeline.from_pretrained:

`onnxruntime_inference_collection.py", line 384, in _create_inference_session
    sess = C.InferenceSession(se

[2022-11-02 23:43] ulmewennberg commented on #920
@patil-suraj yep, this is correct

[2022-11-02 23:53] averad commented on #791
@muhademan how much Vram and System ram do you have? Generating a 512x768 image takes more than 8GB of Vram and 16GB of System Ram using Onnx and DmlExecutionProvider.

@GreenLandisaLie when you encounter the reported issue and open Task Manager what is the GPU VRAM and System RAM usage? I believe a 4GB Card w/16 GB of System ram would be near the bare minimum and would at times run into a out of

[2022-11-03 00:03] duongna21 commented on #1088
Will check it soon

[2022-11-03 01:07] RobertLucian commented on #1070
@FBehrad I've also been stuck with this exact error for a while until I realized I wasn't initializing the model correctly. I was doing

[code]

Instead of

[code]

[2022-11-03 01:20] RyannDaGreat commented on #468
Thank you @patrickvonplaten, your reasoning makes sense! Being able to break it down into modular chunks is appealing. A single .ckpt is bulky, I agree. Being able to swap out just the u-net sounds like it could save a lot of harddrive space when fine-tuning the models.
I just wish Huggingface would stick to a single format though - many other codebases just use a single .ckpt file (like huggingfa

[2022-11-03 02:29] Inkorak opened #1112 "[Community] Add aspect ratio bucketing"
Add the possibility of finetuning SD and dreambooth using [aspect ratio bucketing](https://github.com/NovelAI/novelai-aspect-ratio-bucketing).  Instead of using crops, training with aspect ratio bucketing can greatly improve the quality of outputs. NovelAI has released this method under MIT license, so adding it should not be a problem.

[2022-11-03 06:30] vvvm23 commented on #841
I had the same experience developing my own. There doesn't seem to be a way to specify using a local pipeline file. This is definitely something that could be useful - not just for development!

[2022-11-03 07:22] vvvm23 commented on #905
Hi @patrickvonplaten

The above pull request should implement what we want for PIL image inputs.
However, during development I noticed that the reference implementation (`diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py`) doesn't seem to support `torch.Tensor` inputs despite the docstrings saying otherwise. It should fail [here](https://github.com/huggingface/diffusers/blo

[2022-11-03 08:07] Abhinay1997 commented on #877
Update:- I've reached a point in the solution where validation of the checkpoints is complete and the individual interpolation steps being complete. The only thing that needs to be done is returning a DiffusionPipeline object with the updated weights.

Should be done by the weekend.

[2022-11-03 08:09] chinoll commented on #1100
[code]

[2022-11-03 08:15] #946 closed

[2022-11-03 08:19] kleiti commented on #1083
It does, and if I add safety_checker=None, I see the same issue @averad mentions above.

To go around that, I commented out safety_checker and feature_extractor in model_index.json and pipeline_onnx_stable_diffusion.py, but that didn't help. Still outputs black image.

Glad to hear about your intention of doing Windows testing.

[2022-11-03 08:25] chinoll commented on #1100
NVIDIA DRIVER VERSION:NVIDIA-SMI 460.106.00   Driver Version: 460.106.00   CUDA Version: 11.2

[2022-11-03 08:37] htoyryla commented on #1064
I have been struggling with the same error in my custom pipeline. Found out that it was because I was passing the timesteps index instead of the actual timesteps.

This gives the error (where t_index is an integer index into scheduler.timesteps):

[code]

This works:

[code]

diffusers 0.6.0
python 3.9.12
transformers  4.21.0
pytorch  1.11.0  py3.9_cuda11.3_cudnn8.2.0_0
Ubuntu 20.04 5.15.0-52-gene

[2022-11-03 09:42] htoyryla commented on #1064
Now I see it. This line https://github.com/huggingface/diffusers/blob/ad9d7ce4763f8fb2a9e620bff017830c26086c36/src/diffusers/schedulers/scheduling_lms_discrete.py#L255 converts the timesteps into Float, so that the branch handling the int/index case is not run.

[2022-11-03 09:59] OlivierDehaene commented on #1094
I played a bit with their Linear, LayerNorm and FlashAttention implementations with our optimized BLOOM deployement:
- I didn't see gains with their Linaer and LayerNorm but maybe I did something wrong I didn't have the time to investigate more.
- Flash Attention is awesome as always and their implementation adds support for arbitrary masks not just causal masks which is great :)

[2022-11-03 12:39] pcuenca opened #1117 "Create tests for multiple negative prompts"
As discussed in https://github.com/huggingface/diffusers/pull/1035#issuecomment-1301919727 and https://github.com/huggingface/diffusers/pull/1002#pullrequestreview-1157249188.

[2022-11-03 17:22] kovtcharov opened #1125 "Runtime error when running Stable Diffusion Mega pipeline (inpaint)"
When attempting to execute the Stable Diffusion Mega [pipeline](https://github.com/huggingface/diffusers/tree/main/examples/community#stable-diffusion-mega) snippet, the following runtime error was triggered.

This seems to be a datatype mismatch, a workaround was found by commenting out `torch_dtype` and `revision` of the pipeline.

### Reproduction

Execute the Stable Diffusion mega pipeline fou

[2022-11-03 17:31] averad commented on #967
@anton-l @patrickvonplaten only schedular that currently works out of the box with the Onnx Pipeline is PNDMScheduler. Is there a fix for this in Diffusers 0.7.0 beta?

[2022-11-03 18:14] dblunk88 commented on #1092
Pulled newest version and not getting the error. Closing.

[2022-11-03 18:14] #1092 closed

[2022-11-03 19:07] averad commented on #1076
@zcswdt

**Downloading stable-diffusion-v1-5 and stable-diffusion-inpainting to local disk:**
You will need to go to: https://huggingface.co/runwayml/stable-diffusion-v1-5 and https://huggingface.co/runwayml/stable-diffusion-inpainting. Review and accept the usage/download agreements before completing the following steps.

stable-diffusion-v1-5 uses 5.10 GB
stable-diffusion-inpainting uses 5.10 GB

[2022-11-03 19:11] anton-l commented on #967
Sorry for missing this, will be fixed in 0.7.1 in a couple of days!

[2022-11-03 20:14] averad commented on #967
@anton-l you and your team members are the best, thank you.

[2022-11-03 20:21] keturn commented on #1100
I've seen similar errors, and it looked like the relevant part was around here:

[code]

because `pipe.device` is very loosely defined. It just kinda rummages around until it finds _something_ that might be relevant and throws it back:

https://github.com/huggingface/diffusers/blob/bde4880c9cceada20b387d3110061c65249dabcc/src/diffusers/pipeline_utils.py#L228-L234

and, ya know, Python dictionaries

[2022-11-03 20:45] keturn commented on #1100
and [torch.nn.Module](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module) doesn't actually have a `.device`, so line 231's `isinstance` there is only half-useful. That property is provided by the [transformers `ModuleUtilsMixin`](https://github.com/huggingface/transformers/blob/d447c460b16626c656e4d7a9425f648fe69517b3/src/transformers/modeling_utils.py#L676) or maybe [d

[2022-11-03 21:05] keturn commented on #1111
huggingface _hosts_ a lot of models (some of which are diffusion models), but as far as I know they haven't much been in the business of training them. This would be more a project of [Stability.ai](https://stability.ai) or [Runway ML](https://research.runwayml.com/) or perhaps [EleutherAI](https://www.eleuther.ai/) or the forthcoming Stability Conglomerate Foundation thing we've heard rumors of.

[2022-11-03 21:07] MatthewWaller commented on #1111
Good point. This probably isn’t the forum for this.

[2022-11-03 21:07] #1111 closed

[2022-11-03 21:24] entrpn commented on #1088
The fix is to set the sample_batch_size to the device count before creating the sample_loader. This is because the default sample_batch_size is 4 which is less than the number of devices for TPUv3-8.

[code]

[2022-11-03 21:36] averad opened #1127 "Diffusers 0.7.0 - Torch Accelerator - "import OnnxStableDiffusionPipeline" results in Traceback Error (DmlExecutionProvider)"
### Intro

Diffusers provides a Stable Diffusion pipeline compatible with the ONNX Runtime. This allows you to run Stable Diffusion on any hardware that supports ONNX (including CPUs), and where an accelerated version of PyTorch is not available.

### Describe the bug
Calling "from diffusers import OnnxStableDiffusionPipeline" results in Traceback Error when using diffusers 0.7.0
Diffusers 0.7.0 n

[2022-11-03 23:09] duongna21 commented on #1088
@entrpn You are right. Will be fixed by #1129.

[2022-11-03 23:14] camenduru commented on #1088
@entrpn @duongna21 thanks ♥ also we can add to readme --mixed_precision="bf16" then we just need 16GB card like v3-8

[2022-11-03 23:33] camenduru commented on #1088
650/650 [10:20<00:00,  1.05it/s] 🤯 🚀

[code]

[code]

[2022-11-03 23:33] #1088 closed

[2022-11-04 06:32] kovtcharov commented on #1125
Also tried it with the latest version of pytorch, same issue:
[code]

[2022-11-04 11:40] Revist commented on #1062
Same here, I checked and when you want to generate "a bucket" it works fine, results for "a dog" are somewhat strange (i get some strange colors)
<img width="515" alt="Screenshot 2022-11-04 at 12 40 17" src="https://user-images.githubusercontent.com/26026957/199964211-952d3fd9-5117-4369-87fc-27a83a3d02a0.png">

[2022-11-04 11:46] Revist commented on #1062
Here the guy claims to have reproduced the results:
https://github.com/XavierXiao/Dreambooth-Stable-Diffusion

[2022-11-04 12:14] #621 closed

[2022-11-04 12:56] patil-suraj commented on #1094
Interesting, as said by other would be cool to see some benchmarks. Also flash attention is now supported through `xformers` cf #532

[2022-11-04 15:41] #1127 closed

[2022-11-04 16:00] averad commented on #967
@anton-l I installed diffusers 0.7.1 and tested the following schedulers using the Onnx pipeline

[code]

Log ()
[code]

[2022-11-04 16:04] patrickvonplaten commented on #1125
Hey @kovtcharov,

Thanks a lot for the bug! It should be solved in #1137 :-)

[2022-11-04 16:13] patrickvonplaten commented on #1060
Hey @AkiKagura,
I don't seem to be able to access https://huggingface.co/AkiKagura/mkgen-diffusion/tree/main/mkgen.ckpt I'm afraid

[2022-11-04 16:26] patrickvonplaten commented on #1106
Hey @LuChengTHU,

Yes this is expected, PNDM needs some higher order scheduler steps in the beginning (1 to be exact when `skip_prk=True`)  which is why we have 51 model evaluations instead of 50 - it's the same in the original implementation.

See how for the very first step we have two model evaluations here: https://github.com/CompVis/stable-diffusion/blob/69ae4b35e0a0f6ee1af8bb9a5d0016ccb27e36

[2022-11-04 16:28] patrickvonplaten commented on #1072
It is compatible with CPU devices. Feel free to try it out

[2022-11-04 16:29] averad opened #1138 "safety_checker=None returns None is of type: <class 'NoneType'>, but should be <class 'diffusers.onnx_utils.OnnxRuntimeModel'> (OnnxStableDiffusionPipeline)"
### Describe the bug

safety_checker=None is not accepted by OnnxStableDiffusionPipeline.from_pretrained due to how its passed to pipeline_utils.py

### Reproduction

[code]

### Logs

[code]

### Workaround

After initializing OnnxStableDiffusionPipeline.from_pretrained call:

`pipe.safety_checker = None`

### System Info

- `diffusers` version: 0.7.1
- Platform: Windows-10-10.0.22621-SP0
- Pytho

[2022-11-04 16:31] patrickvonplaten commented on #1084
Cool! Would you like to open a PR to add it to the docs? :-)

[2022-11-04 16:33] patrickvonplaten commented on #736
Could you try upgrading the `huggingface_hub` library?:

[code]

[2022-11-04 16:35] averad commented on #1083
Opened [Issue#1138](https://github.com/huggingface/diffusers/issues/1138) for the OnnxStableDiffusionPipeline safety_checker=None issue.

[2022-11-04 16:59] Lime-Cakes opened #1139 "[Community] Attention Slice/Flash Attention for JAX implementation of unet_2d_condition"
**Is your feature request related to a problem? Please describe.**
Currently, the base pytorch implementation of unet_2d_condition have attention slice feature and can be enabled/set through set_attention_slice. However, JAX's implementation doesn't have this feature. Attention slicing allows saving a lot of vram when running. Alternatively, options like flash attention would save even more.

**De

[2022-11-04 17:04] patrickvonplaten commented on #468
Note that the single `.ckpt` file doesn't come from HF that's the original format stable diffusion used

[2022-11-04 17:06] patrickvonplaten commented on #841
True it'd make sense to allow this! Could you maybe open a seperate issue for it? I'll try to have a look into it soon :-)

[2022-11-04 17:07] dblunk88 opened #1140 "Hypernetworks"
**Is your feature request related to a problem? Please describe.**
Support for hypernetworks since they seem to yield great results. An example can be seen here:
https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/modules/hypernetworks/hypernetwork.py

**Describe the solution you'd like**
A diffusers hypernetwork implementation.

**Describe alternatives you've considered**
Switchin

[2022-11-04 17:08] patrickvonplaten commented on #1112
Cool! I'm not sure I'll have time for this anytime soon, but let's see if the community is interested or maybe @patil-suraj ?

[2022-11-04 17:10] WASasquatch commented on #1072
Well, I have, hence the error-ing method I cited which gets triggered, which cannot be a half-float on CPU.

[2022-11-04 17:11] patrickvonplaten commented on #905
There might very well be a bug in the official inpainting pipeline - feel free to open a PR to solve it :-)

[2022-11-04 17:29] vvvm23 commented on #905
#1128 will fix that. I haven't made one for this pipeline yet though.

[2022-11-04 17:35] patrickvonplaten commented on #1100
Hmmm, I actually cannot think of a better way at the moment to implement `.device` and I'm also not able to reproduce the error.
In general, it's always good to use the device of the previous tensor input instead of `pipe.device` . Only for the very first random noise that's created we have to rely on the weights of the pipeline and there I'd suggest to rely on the weights that will first deal wit

[2022-11-04 17:35] vvvm23 opened #1141 "Add support for local files in custom pipelines"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to pass a local pipeline file to `DiffusionPipeline` as a custom pipeline. This makes the development process when adding custom pipelines quite difficult, as it requires pushing to `main` first or clearing the cache (see [this comment](https://github.com/huggingface/diffusers/issues/841#issuecomment-12927

[2022-11-04 17:36] vvvm23 commented on #841
See #1141 for further discussion

[2022-11-04 17:49] teddybee commented on #1127
Actually the issue is still exist for me with 0.71:
`
NOTE: Redirects are currently not supported in Windows or MacOs.
Traceback (most recent call last):
  File "D:\Python\stablediffusion-api\backend\test2.py", line 3, in <module>
    from diffusers import StableDiffusionPipeline
  File "D:\Python\stablediffusion-api\backend\.venv\lib\site-packages\diffusers\__init__.py", line 20, in <module>

[2022-11-04 18:21] averad commented on #1127
@teddybee you need to remove the accelerate package

[2022-11-04 18:38] patrickvonplaten commented on #515
Sorry a very delayed update here, but the above code now works with `diffusers=0.7.1`:

[code]

should not yield any errors.

[2022-11-04 18:38] #515 closed

[2022-11-04 19:18] teddybee commented on #1127
@averad Thank you, its working now.

[2022-11-04 20:57] camenduru opened #1144 "Please implement train_text_to_image_flax.py --report_to"
Hi, @duongna21 is it possible to send data to wandb?

https://github.com/huggingface/diffusers/blob/bde4880c9cceada20b387d3110061c65249dabcc/examples/text_to_image/train_text_to_image_flax.py#L177

https://github.com/huggingface/diffusers/blob/bde4880c9cceada20b387d3110061c65249dabcc/examples/text_to_image/train_text_to_image.py#L303

[2022-11-04 22:24] dblunk88 commented on #277
Awesome work!! That is amazing. Should I leave this open until all of them are migrated or should I close the issue?

[2022-11-04 22:24] dblunk88 commented on #277
@Arkitecc

[2022-11-04 23:03] WASasquatch commented on #1057
This only seems to stop **one** of the safety checker warnings, others and futurewarning are still coming through such as:

[code]

[2022-11-05 05:55] camenduru opened #1145 "[Flax] 🚨 0.7.0 not working 🚨"
### Describe the bug

![Screenshot 2022-11-05 083749-x](https://user-images.githubusercontent.com/54370274/200104662-894bbbce-b435-48fc-af87-b539595fc898.jpg)

### Reproduction

_No response_

### Logs

_No response_

### System Info

TPU v3-8

[2022-11-05 05:57] camenduru commented on #1145
I am still testing...

[2022-11-05 06:05] XodrocSO commented on #952
@Marcophono2  Can you give a breakdown of what you had to do to get this working for people lacking too much sleep?

[2022-11-05 06:18] kovtcharov commented on #1125
Excellent, thank you for being on top of this!

[2022-11-05 06:46] camenduru commented on #1145
`0.7.0 🦆 💀  😢 `

![Screenshot 2022-11-05 092325](https://user-images.githubusercontent.com/54370274/200106625-49093699-8181-4648-97eb-1100cb33547e.jpg)

[2022-11-05 07:31] camenduru commented on #1145
Maybe related 17 hours ago [Jaxlib release v0.3.24](https://github.com/google/jax/releases/tag/jaxlib-v0.3.24) also this new version using more memory 😭

[2022-11-05 08:47] FBehrad commented on #1070
Thank you so much for your quick response.
I was loading wrong weights which caused this problem. Using "runwayml/stable-diffusion-inpainting" solved my problem.

[2022-11-05 08:47] #1070 closed

[2022-11-05 09:00] batrlatom opened #1146 "encrypted neural networks?"
### Model/Pipeline/Scheduler description

Hi,
there is influx of profile pics apps and many will come in the near future. I think that user privacy should be main concern for such apps. Some services are just deleting model after the train, others leave it on the server.I am thinking ... is there any reliable way to protect the network from theft and stealibg user's identity? Is encryption of the

[2022-11-05 10:03] patrickvonplaten commented on #1145
Thanks for notifying us here so quickly! I'm not on my computer at the moment - but will try to fix it by tonight!

Could you double check at which commit of main results start to become incorrect?
I suspect that we messed up something between 0.6.0 and 0.7.0 here - also @pcuenca @patil-suraj here

[2022-11-05 11:11] camenduru commented on #1145
accelerate sus

[2022-11-05 12:09] pcuenca commented on #1145
Thanks @camenduru! I'm not at my computer either, but will look into it later today.

[2022-11-05 12:20] KevinGoodman commented on #994
FYI, In another new paper [UPainting: Unified Text-to-Image Diffusion
Generation with Cross-modal Guidance](https://arxiv.org/pdf/2210.16031.pdf),I found similar operation:
![image](https://user-images.githubusercontent.com/43786278/200119571-47c89fc5-a9e8-482f-88c5-16d96ed5e314.png)

[2022-11-05 12:37] Marcophono2 commented on #952
Sure, @XodrocSO . Aside from the fact that this RP meanwhile supports Euler too, I can simple tell how I increased my performance for my 4090 (which is now a bit > 30it/s, whyever, and 19.5it/s on a 3090).
The most important thing is to update the cudnn files. I must search for the description and the direct download link first again, so let me ask you first: You are talking about 4090 support und

[2022-11-05 12:44] camenduru commented on #1145
🚓🚔🚨 https://github.com/huggingface/diffusers/commit/0b61cea347e9b464fb03506cb78a49d38e1c74ee 🚨🚔🚓

[2022-11-05 15:02] #656 closed

[2022-11-05 15:02] #615 closed

[2022-11-05 15:03] #163 closed

[2022-11-05 15:43] adhikjoshi commented on #1072
What's your configuration of hardware/system which allow you to load in 1s?

CPU/Ram/nvme?

[2022-11-05 16:46] dblunk88 opened #1148 "DPM-Solver++"
**Describe the solution you'd like**
A new Sampler based on the paper: https://arxiv.org/abs/2206.00927

"DPM-Solver (and the improved version DPM-Solver++) is a fast dedicated high-order solver for diffusion ODEs with the convergence order guarantee. DPM-Solver is suitable for both discrete-time and continuous-time diffusion models without any further training. Experimental results show that DPM-

[2022-11-05 17:47] WASasquatch commented on #1140
This is a really cool feature, and would be awesome in diffusers.

[2022-11-05 18:23] pcuenca commented on #1145
Thanks, @camenduru, fix incoming!

[2022-11-05 18:37] pcuenca commented on #1145
@camenduru We have a fix candidate. We'll probably merge it soon, but meanwhile if you want to give it a go, you can install diffusers from the PR branch like this:

[code]

If you do test it, we'd appreciate if you'd let us know how it goes :)

[2022-11-05 20:19] XodrocSO commented on #952
@Marcophono2 Windows and 4090 basically, Thanks!

[2022-11-05 21:17] #1145 closed

[2022-11-05 21:46] patrickvonplaten commented on #1145
Hey @camenduru,

Thanks a mille for spotting the bug. We've just pushed a patch release that should fix your bug in https://github.com/huggingface/diffusers/releases/tag/v0.7.2

Could you just try to run:

[code]

and try your code example again? It should work now I think

[2022-11-05 21:53] jenkspt commented on #1148
Looks like the DPM-Solver author is already on it: #1101

[2022-11-05 22:38] camenduru commented on #1145
thanks @pcuenca and @patrickvonplaten ♥ it is working 🎉

[2022-11-05 23:46] 0xdevalias commented on #1094
I've also heard DeepSpeed MII be talked about when it comes to speed improvements of things. Unsure whether there are any things that can be understood/taken from that to improve things here:

[2022-11-06 01:14] dblunk88 commented on #1148
whoops! Didn't see that. Closing this since it's a duplciate

[2022-11-06 01:14] #1148 closed

[2022-11-06 01:42] Thomas-MMJ commented on #1094
Here is what the krnl dev, said in response to a question someone in the reddit thread asked if they would be of benefit for accelerating yolov5,

[2022-11-06 02:05] Thomas-MMJ commented on #1094
Note that there are triton implementations of convolution here,

https://github.com/pytorch/pytorch/tree/c7c09722ad5ee25c5891f863e5bbd1575ad77970/torch/_inductor/triton_ops

[2022-11-06 04:22] AkiKagura commented on #1060
So sorry! @patrickvonplaten
https://huggingface.co/AkiKagura/mkgen-diffusion/tree/main/ ,this site is correct, and the mkgen.ckpt file in it is that model.

[2022-11-06 05:40] dblunk88 opened #1152 "CLIP Guided with DDIM support"
I wanted to test out the CLIP guided pipeline and noticed it does not support ETA. DDIM with ETA on the CLIP guided pipeline might yield some good results.

[2022-11-06 07:13] john-sungjin opened #1153 "Why does train_text_to_image.py perform so differently from the CompVis script?"
I posted about this on the forum but didn't get any useful feedback - would love to hear from someone who knows the in and outs of the diffusers codebase!

https://discuss.huggingface.co/t/discrepancies-between-compvis-and-diffuser-fine-tuning/25556

To summarize the post: the `train_text_to_image.py` script and original CompVis repo perform very differently when fine-tuning on the same dataset wi

[2022-11-06 07:45] rorepmezzz opened #1154 "Why does the performance get worse after I converted stable diffusion checkpoint to diffuses?"
I fine tuned a stable diffusion model and saved the check point which is ~14G. And then I used the script in this repo [convert_original_stable_diffusion_to_diffusers.py](https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py) to convert it to diffusers, which is great since it's much more convenient for usage.

However, when I test txt2img usi

[2022-11-06 07:50] rorepmezzz commented on #1154
I also tried to convert diffuser back to the original stable diffusion, and resulting a 4GB cpkt, which is much more smaller than my original checkpoint. Seems something is lost during the conversion.

I converted stable diffusion to diffusers by

python convert_original_sd_to_diffusers.py --checkpoint_path '$ckptpath' --scheduler_type 'ddim' --dump_path '$outputpath'

[2022-11-06 14:22] hhhyxnh commented on #672
`RuntimeError:` File C:\Users\Welcome\Desktop\ckpt cannot be opened.`

I'm running into an error that seems simple but I can't seem to fix it

[2022-11-06 14:23] renzixilef opened #1156 "Training doesnt work"
Hi,

im having problems with executing the training file. My bug report says:

The following values were not passed to `accelerate launch` and had defaults used instead:
        `--num_cpu_threads_per_process` was set to `12` to improve out-of-box performance
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
usage: train_dreambooth.py [-h] --pr

[2022-11-06 14:45] #1144 closed

[2022-11-06 14:56] camenduru commented on #1156
@renzixilef try without '--use_auth_token'

[2022-11-06 15:03] #673 closed

[2022-11-06 15:03] #671 closed

[2022-11-06 15:15] renzixilef commented on #1156
Its still not working. Now i get this bug report:

The following values were not passed to `accelerate launch` and had defaults used instead:
        `--num_cpu_threads_per_process` was set to `12` to improve out-of-box performance
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
Traceback (most recent call last):
  File "/home/leoai/github/di

[2022-11-06 15:18] allo- commented on #759
Closing here and leaving the pull request open.

[2022-11-06 15:18] #759 closed

[2022-11-06 18:26] Thomas-MMJ opened #1158 "pytest tests/test_config.py tests interfere with each other"
### Describe the bug

If I run

`pytest ./tests/test_config.py::ConfigTester::test_load_ddim_from_pndm`

It passes but if I run,

`pytest ./tests/test_config.py`

it fails with,

[code]

### Reproduction

run

`pytest ./tests/test_config.py::ConfigTester::test_load_ddim_from_pndm`

no fail,

then run,

`pytest ./tests/test_config.py`

fail.

### Logs

[code]
[code]

[2022-11-06 18:29] elricwan opened #1159 "Stitching images & Generating larger images"
**Is your feature request related to a problem? Please describe.**
For diversity diffusion model applications, include Conditional image generation & Image in-painting & Stitching images & Generating larger images, would you mind providing some examples for training or inference?

Thank you!

[2022-11-06 18:41] Thomas-MMJ opened #1160 "the pytest test_local_custom_pipeline hangs/freezes the testing - have to ctrl-c"
### Describe the bug

running

`pytest -v -k "not test_local_custom_pipeline" tests/test_pipelines.py`

the hanging test is skipped, and all of the other tests either pass or are skipped due to slowness

`pytest -v tests/test_pipelines.py`

hangs on test_local_custom_pipeline, and I have to ctrl-c

### Reproduction

Run,

`pytest -v tests/test_pipelines.py::CustomPipelineTests::test_local_custom_p

[2022-11-06 19:07] jorahn opened #1161 "Convert Flax trained model to PyTorch"
**Is your feature request related to a problem? Please describe.**
I'm using the new Flax pipeline for dreambooth training and want to be able to use the trained model on systems that don't run jax.

**Describe the solution you'd like**
Add from_flax parameter to PyTorch model.from_pretrained() functions like Flax models have from_pt parameters in .from_pretrained() to enable cross-compatibility.

[2022-11-06 21:53] petekay opened #1165 "prompt endoftext bug - results with prompt > max-length are way better then prompt with length <= max-length"
### Describe the bug

Hi I trained a personal model (key: `smnb`, class: `person`) with dreambooth, and i found, that I can't replicate the results with automatic1111 on the one side and huggingface/transformers + notebook on the other side.

the fascinating thing is, that if I use exactly max_words + 1, then my prompt is shortened with the word but also with the endoftext-token, and this creates

[2022-11-06 22:03] dhruvrnaik opened #1166 "[TPU] Textual Inversion Training hangs when saving model"
### Describe the bug

I am running the `textual_inversion.py` on a v3-8 TPU VM, and the script hangs at the model saving (save_progress) step.
Any clue why that may be happening?

### Reproduction

_No response_

### Logs

_No response_

### System Info

TPU VM - tpu-vm-pt-1.10
- `diffusers` version: 0.7.1
- Platform: Linux-5.11.0-1021-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch v

[2022-11-06 22:16] averad commented on #1165
I noticed this today and can confirm prompts with <|endoftext|> removed have better results than prompts that include <|endoftext|> in the 20 or so tests I completed.

[2022-11-06 22:47] camenduru commented on #1166
hi @dhruvrnaik,
- please use diffusers>=0.7.2 `pip install -U diffusers`
- if it is possible always use tpu-vm-base then install pytorch (1.13.0) without cuda support
- jax 0.3.24 has some memory issue please use jax[tpu]==0.3.23
- `pip install -U "jax[tpu]==0.3.23" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html `

maybe that helps 👀

[2022-11-06 23:01] camenduru commented on #1161
Good idea 🤩 maybe like this: https://github.com/huggingface/transformers/blob/main/src/transformers/modeling_flax_pytorch_utils.py#L242-L352

[2022-11-07 00:42] averad commented on #1165
# Cat Tests
I completed some tests using seed '168895681900500' and prompt cat or cat<|endoftext|> or cat,

## Findings:
- <|endoftext|> has no weight in sequences up to 77 tokens (See Test_1 - Test_3)
- When <|endoftext|> is truncated from the end of of a 77 token prompt the resulting image changes (See Test_4 - Test_5)

### Test_1: Cat
[code]
![11062022-160057](https://user-images.githubusercont

[2022-11-07 03:34] dhruvrnaik commented on #1166
@camenduru I tried all of the above but still facing the same issue. Might move on to using flax for this if it continues to cause issues.

[2022-11-07 03:41] universewill opened #1168 "What is "class images" mean for dreambooth training?"
What is "class images" mean for dreambooth training?
If instance images meaning the subject i want to train on ， what does "class images" mean?

[2022-11-07 06:05] Marcophono2 commented on #952
So sorry for the delay, @XodrocSO. In the night to yesterday I was so clever to crash my Linux system after a total useless and riskful installation of a classifier to my SD environment which overwrote a lot of packages and depencies so that my wonderful optimized SD was crashing from > 30 it/s to 1.5it/s. On a 4090. OH-MY-GOD! And of course I had no backup. Okay, a helpful backup must have been a

[2022-11-07 07:19] Lewington-pitsos commented on #1158
I am on a windows machine, I have just attempted to replicate this bug on commit `b4a1ed85440d4d9c1cafbe118ca6c034000c85f9` and failed. Both `pytest tests/test_config.py::ConfigTester::test_load_ddim_from_pndm` and `pytest tests\test_config.py` pass. I have confirmed this multiple times.

[code]

[2022-11-07 07:28] Lewington-pitsos commented on #1168
It depends on what interface you are using to run dreambooth.

That said when I read [https://colab.research.google.com/github/ShivamShrirao/diffusers/blob/main/examples/dreambooth/DreamBooth_Stable_Diffusion.ipynb#scrollTo=jjcSXTp-u-Eg](this dreambooth colab) it has a variable called `num_class_images` which refers to the number of class images that will be created.

For instance, if you are trai

[2022-11-07 10:01] universewill commented on #1168
Thanks for your reply.

So i only need to config the "num_class_images" parameter and the training process will generate the so called "class images" by itself? No need for me to provide "dog" class images if i want to train on my dog instance images?

Do i get this right?

[2022-11-07 11:40] Mystfit commented on #920
I'm also receiving the same exact same error using the latest 0.7.2 diffusers library, StableDiffusionInpaintPipeline, and the latest runwayml/stable-diffusion-inpainting model. Is there anything I have to change on my end to fix this?

[2022-11-07 12:35] Thomas-MMJ commented on #1158
Both b4a1ed8 and the more recent e86a280 fail.

Here it passes all tests on some runs, and fails between 1 and 3 tests on some runs,

For instance as of commit,

tests/test_config.py ...........                                                                                 [100%]
tests/test_config.py .....FF....                                                                                 [100%

[2022-11-07 12:59] Thomas-MMJ commented on #1158
Ok uninstalling 'pytest-randomly' and the tests consistently pass.  (pytest-randomly is installed for deepspeed testing).

[code]

Here are some orders that fail,

pytest  -v --disable-warnings ./tests/test_config.py::ConfigTester::test_register_to_config ./tests/test_config.py::ConfigTester::test_save_load_from_different_config_comp_schedulers ./tests/test_config.py::ConfigTester::test_save_load

[2022-11-07 14:33] C43H66N12O12S2 commented on #952
@Marcophono2 You say you're using Manjaro. Gnome version? If so, IIRC that uses zsh by default. Maybe that's why my command didn't work.

Try launching that command from bash, like this
`bash`
`TORCH_CUDA_ARCH_LIST=8.9 pip wheel -e .`

[2022-11-07 14:47] anton-l commented on #510
Implemented in https://github.com/huggingface/diffusers/pull/552

[2022-11-07 14:47] #510 closed

[2022-11-07 15:38] Marcophono2 commented on #952
Interesting point, @C43H66N12O12S2 . I have the KDE edition. I tried what you wrote but got this error output:

[code]

[2022-11-07 16:17] hadaev8 opened #1176 "AdamW degrades word embeddings in textual inversion training"
### Describe the bug

Text embeddings intended to be frozen/unchanged, but it doesn't happen.
First embedding trains against real embeddings, but as training go on, word embeddings decays to zero.

### Reproduction

Not sure if really a bug.

### Logs

_No response_

### System Info

Example on colab.
Code here too.

[2022-11-07 18:12] jorahn commented on #1161
Thanks, I'll give it a try

[2022-11-07 19:07] MatthewWaller opened #1181 "Training a model from scratch, not fine-tuning."
**Is your feature request related to a problem? Please describe.**
For philosophical/ethical reasons, I would like to try my hand at create a version of stable diffusion that uses only public domain images.

**Describe the solution you'd like**
I would like an example in the training scripts that show how to get a version of Stable Diffusion started training from scratch.

**Describe alternatives

[2022-11-07 19:22] patrickvonplaten commented on #547
Should be closed by https://github.com/huggingface/diffusers/pull/1174

[2022-11-07 19:22] #547 closed

[2022-11-07 19:26] patrickvonplaten commented on #726
Think we can have this be a config parameter that is overrideable and a `Union[int, str]` with the string describing a more complex squashing function that can be implemented down the road.

Marking this for now as a community feature as it seems like no one finds the time to open a PR here - in case you're interested @neverix - we'd be more than happy to review a PR :-)

[2022-11-07 19:31] patrickvonplaten commented on #1139
Very interesting! Will mark this as a community feature as I don't think we'll find the bandwidth anytime soon to solve this community feature

[2022-11-07 19:34] patrickvonplaten commented on #1141
Yes very much agree! I'll try to tackle it this week - in case anybody is interested I'm more than happy to help someone guide to merge a PR here.

[2022-11-07 19:53] patrickvonplaten commented on #1127
Note that from `diffusers==0.7.2` onward `accelerate` is not a hard dependency anymore. It is nevertheless surprising to get a 'SIGILL' issue when running on Windows or Mac.

@anton-l could you maybe check if you can reproduce this error with `accelerate` is installed?
E.g. do you also get this error when running:

[code]

?

Also @pcuenca @anton-l, we should not get this error when having acceler

[2022-11-07 19:56] patrickvonplaten commented on #277
Think we can leave it open in case someone is interested in adding even more schedulers :-)

[2022-11-07 19:57] #1125 closed

[2022-11-07 20:06] #905 closed

[2022-11-07 20:11] anton-l commented on #1127
@patrickvonplaten the Windows API does not implement `signal.SIGKILL` (see available signals [here](https://learn.microsoft.com/en-us/previous-versions/xdkz3x12(v=vs.140)#remarks)), so the access to `signal.SIGKILL` imported by `torch.distributed` imported by `accelerate` causes the error.

The quick solution is to not import `accelerate` if the platform is Win.

[2022-11-07 20:21] pcuenca commented on #1127
@patrickvonplaten It works on macOS with accelerate versions 0.13.2 and 0.14 from `main` (replacing `"cuda"` with `"mps"`). Tested with `diffusers 0.7.2` and `main`.

[2022-11-07 20:36] patrickvonplaten commented on #1140
Very much agree - we should definitely add this. In general there are multiple features that come out recently that require to modify the attentions for each layer - maybe we could support all of them in one go:
- https://github.com/cloneofsimo/paint-with-words-sd
- Hypernetworks
- am I missing one more @patil-suraj ?

[2022-11-07 20:36] patrickvonplaten commented on #1140
@patil-suraj maybe if you already have a good idea here on how to implement hypernetworks you could share here?

[2022-11-07 20:42] patrickvonplaten commented on #1152
cc @patil-suraj here

[2022-11-07 20:45] patrickvonplaten commented on #1153
Thanks a lot for posting the question here @john-sungjin!

Sorry for the moment we try to keep everything on GitHub. From the discussion it seems like many people are encountering your issue so let's maybe spend some time to figure out what's going on. @patil-suraj do you think you might have some time soon to look into it? If not I can try to allocate time (or maybe cc @anton-l)

[2022-11-07 20:48] patrickvonplaten commented on #1154
Hey @rorepmezzz,

I'm guessing you are not extracting the EMA weights but the final fine-tuned weights and you're using the EMA weights with CompVis.

Could you try running the following conversion command instead:

[code]

And check if the results are better this way in `diffusers`? Would be great if you could give me feedback, really curious to find out what's going on there

[2022-11-07 20:49] patrickvonplaten commented on #672
Does the following issue maybe help in terms of what command should be run?
https://github.com/huggingface/diffusers/issues/1154

[2022-11-07 20:56] patrickvonplaten commented on #1127
Gotcha - thanks @anton-l ! So I guess the solution is to relax [this](https://github.com/huggingface/diffusers/blob/ac4c695d97779cc4d0c92585f8e87ad39aa4aeb2/src/diffusers/pipeline_utils.py#L403) warning to a `logger.info` if the platform is windows no?

Maybe also cc @sgugger in case this is relevant for `accelerate`

[2022-11-07 20:59] patrickvonplaten commented on #1156
Hey @renzixilef,

Could you provide us with a reproducible code snippet? Also BTW it's really helpful to format code with markdown using

Normal text here

\`\`\`
Code here
\`\`\`

Normal text here

In then looks as follows:

[code]

which is much more readable

[2022-11-07 21:00] patrickvonplaten commented on #1159
Hey @elricwan,

Sorry I don't understand the feature request here a 100%. Could you clarify a bit what exactly you wish to see and in what form (doc page, code example, ...)

[2022-11-07 21:02] patrickvonplaten commented on #1160
Interesting! I'm not able to reproduce it sadly - I'm wondering what the issue could be here. I tried on:

[code]

@anton-l any luck reproducing this issue maybe?

[2022-11-07 21:18] sgugger commented on #1127
The cause is in torch 1.13, not Accelerate. Downgrading PyTorch to 1.12 should fix the issue.

[2022-11-07 21:52] elricwan commented on #1159
Hi Patrick, thanks for the quick response. I am looking for the code example. And the detailed descriptions for those application are from here:
https://blog.ml6.eu/potential-applications-of-discrete-diffusion-models-e185276cf9af

Thank you!

[2022-11-07 22:13] florian-ivadolabs opened #1183 "MPS device not properly tested in EulerAncestralDiscreteScheduler"
### Describe the bug

When the device set to mps, str(device) can return "mps:0".
The proper way to test the device would be device.type == "mps".
The wrong test is used in EulerAncestralDiscreteScheduler preventing to run the right code:
[code]
`if str(device) == "mps"` should be replaced by `if device.type == "mps":`

### Reproduction

Run twice an inference with the same seed and the EulerAnces

[2022-11-07 22:54] pythoninoffice commented on #917
@anton-l Thanks for the answer and apologies for my slow response!
A quick follow-up question - is there any way to convert an existing model into a finetuned one, so that we can use it for `OnnxStableDiffusionInpaintPipeline`? Thanks!

[2022-11-07 23:12] Thomas-MMJ commented on #1160
I'll close this for now, my environment may be subtly borked

[2022-11-07 23:58] XodrocSO commented on #952
Ouch @Marcophono2 , sounds like quite the headache!  Thanks for the info!

[2022-11-08 02:03] superhero-7 commented on #543
hi @mrsalehi , could you tell me how you fixed the warning more specifically? And maybe provide your code,that would be great!
I add .contiguous,but it didn't work,here is my code in the class SpatialTransformer:
`    def forward(self, x, context=None):
        # note: if no context is given, cross-attention defaults to self-attention
        b, c, h, w = x.shape
        x_in = x
        x = self.

[2022-11-08 02:26] Thomas-MMJ commented on #1160
So instead of running it as a test, I ran it as regular code,

it is infinite looping in a while loop, when doing

`local_custom_pipeline_path = get_tests_dir("fixtures/custom_pipeline")
`
in the while loop of

[code]

[2022-11-08 02:39] Thomas-MMJ commented on #1160
If I cd to tests and run it, it works just fine, it is when ran from ./diffusers that it infinite loops.

[2022-11-08 02:44] Thomas-MMJ commented on #1160
closing - fresh checkout and it works, so perhaps a bad cached

[2022-11-08 02:44] #1160 closed

[2022-11-08 03:34] Lewington-pitsos commented on #1168
that's correct, unless you are using a very rare training process the class images will be generated for you. Again in future discord is a much better place to ask these questions, and if you could close this issue that would be mad cool!

[2022-11-08 04:15] Jarfeh commented on #684
This still doesn't seem to have been resolved.

[2022-11-08 06:07] #1168 closed

[2022-11-08 06:29] aurotripathy opened #1185 "Results are not reproducible"
### Describe the bug

Disappointed that the results are not reproducible (others way the same as well).
In my case, the output image is very similar to one of the input image.

My steps:
[code]
[code]

Get the seeding dog images as instructed

install `bitsandbytes`
[code]
Run the finetune script

[code]
Run the inference script

[code]

### Reproduction

_No response_

### Logs

[code]

### Syste

[2022-11-08 09:34] renzixilef commented on #1156
Hi @patrickvonplaten,

thanks for your tips, i am new to this platform so this is really helpful.
Since my last post i already made it work properly. I am not completely sure what the problem was, but I think xformers was not installed corretly. Not sure if this can cause this issue tho. I'vecompletely reset my Linux Distro and tried it from scratch so it could be some kind of other mistake I made

[2022-11-08 09:34] #1156 closed

[2022-11-08 10:05] Revist commented on #1185
Duplicate of https://github.com/huggingface/diffusers/issues/1062

[2022-11-08 10:20] patil-suraj commented on #1153
Thanks for posting the detailed issue @john-sungjin !

As you said, the implementation is very similar to the compvis one. The one difference that I'm aware of is that, in the compvis script, for example the Pokemon fine-tuning script, the model is initialised from the `sd-v1-4-full-ema.ckpt` checkpoint, so it loads the non-ema weights for training and ema weights for doing ema. While in diffusers

[2022-11-08 10:28] NielsRogge opened #1188 "[Community] Add pipeline for CLIPSeg x Stable Diffusion"
### Model/Pipeline/Scheduler description

We've just added [CLIPSeg](https://huggingface.co/docs/transformers/main/en/model_doc/clipseg) to the 🤗 Transformers library, making it possible to use CLIPSeg in a few lines of code as shown in [this notebook](https://github.com/NielsRogge/Transformers-Tutorials/blob/master/CLIPSeg/Zero_shot_image_segmentation_with_CLIPSeg.ipynb). The model is a minimal e

[2022-11-08 11:47] patil-suraj commented on #1152
Thanks for the issue, PR is here #1190

[2022-11-08 11:52] aungkhant0911 commented on #1140
@patrickvonplaten unrelated: would be nice to have Google's Prompt2Prompt feature. https://prompt-to-prompt.github.io/

[2022-11-08 11:52] anton-l commented on #1083
https://github.com/huggingface/diffusers/pull/1173 didn't help, keeping the issue open. Can't reproduce at the moment without a DirectML setup (works well on cuda and cpu though).

[2022-11-08 11:56] patil-suraj commented on #1140
This one also https://github.com/google/prompt-to-prompt

It would cool to have these, haven't looked deeply into it, will assign some time for it soon and reply here :)

[2022-11-08 12:03] pcuenca commented on #1183
Will be fixed by #1169.

[2022-11-08 12:13] pcuenca commented on #1183
@florian-ivadolabs Should be fixed now. Thanks a lot!

[2022-11-08 12:13] #1183 closed

[2022-11-08 12:24] patil-suraj commented on #1062
As Patrick said, the original code and model on which dream booth was trained in the paper are not available. So it might not be possible to get exact reproducible results.

If you are getting the same results as your input image, that likely means it's overfitting, so we could try different things here
- reduce the number of steps or LR
- use prior preservation
- train the text encoder

Also note

[2022-11-08 12:25] patil-suraj commented on #1185
Answered here https://github.com/huggingface/diffusers/issues/1062#issuecomment-1307128786

[2022-11-08 13:29] patil-suraj commented on #920
@Mystfit

The `StableDiffusionInpaintPipeline` should work with `runwayml/stable-diffusion-inpainting` model. Could you please post a code snippet so we could take a look ?

[2022-11-08 13:38] patil-suraj commented on #994
Thanks @KevinGoodman , will take a look at this. Have you tried modifying the pipeline like this and see if it gives good results ? Curious to see the results :)

[2022-11-08 13:39] #967 closed

[2022-11-08 13:39] #1138 closed

[2022-11-08 13:47] KevinGoodman commented on #994
No, unfortunately I haven't got time to compare them but I think they should be on par with each other. For my use case, my prompts are generally long and quite complicated, and it seems that the CLIP-guided method implemented here does not bring much benefit as I hope

[2022-11-08 13:54] Revist commented on #1062
@patil-suraj Thank you

[2022-11-08 14:09] bonlime commented on #993
upgrading `transformers` worked for me

[2022-11-08 14:47] patil-suraj commented on #994
I see, will look into implementing this when I get some time :) But if anyone here is interested feel free to open a PR

[2022-11-08 15:01] apolinario opened #1195 "Memory efficient attention not working with fp16 weights"
### Describe the bug

Following the example code with available in the `0.7.0` release
[code]

I'm getting the following error:
[code]

### System Info

diffusers==0.7.2
pytorch==1.12.1

[2022-11-08 15:03] #646 closed

[2022-11-08 15:04] #363 closed

[2022-11-08 15:35] NouamaneTazi commented on #1195
Could it be related to this issue? https://github.com/huggingface/diffusers/pull/532#issuecomment-1290278995
Can you try updating the xformers library?

[2022-11-08 15:45] dblunk88 commented on #1188
nice! This could be combined with inpainting to potentially (more accurately) replace existing things in an image.

[2022-11-08 16:10] rorepmezzz commented on #1154
Hi

[2022-11-08 16:13] rorepmezzz commented on #1154
Hi @patrickvonplaten Thanks a lot for the suggestions. I tried adding "--extract_ema", but the output images doesn't have too much difference from the pervious way. I also tried to convert diffusers back to sd, and then I could only generate random nosies with 200 steps in SD==

Is there any other possible reasons?

[2022-11-08 16:15] #1195 closed

[2022-11-08 17:36] WASasquatch opened #1197 "OpenAI Diffusion Pipeline"
**Is your feature request related to a problem? Please describe.**
It would be cool to be able to use the many OpenAI Guided Diffusion models within diffusers itself.

**Describe the solution you'd like**
An OpenAIGuidedDiffusionPipeline class to load and handle OpenAI Guided Diffusion Models

**Describe alternatives you've considered**
Simply using old Disco Diffusion or my fork DiscoStream

**Ad

[2022-11-08 18:21] WASasquatch commented on #1188
I still love the idea of this, but the detection and mask creation is still an inherent problem. Sure it looks nice in your example against a white background, but anything else, and the masking is clearly visible in the diffusions in painting in anomalies with it's boundary. This needs some sort of algorithm to create curved points between edges.

[2022-11-08 18:59] hamzafar opened #1199 "Download stable_diffusion on aws"
### Describe the bug

Hi,

I want to run stable diffusion model on aws. and I am downloading model on aws with following code:
`git lfs install`
`git clone https://huggingface.co/runwayml/stable-diffusion-v1-5`

However during downloading 'stable-diffusion-v1-5' the downloading interrupts and gives following error:
`Errors logged to /home/ubuntu/stable-diffusion-v1-4/.git/lfs/objects/logs/20221108

[2022-11-08 19:06] hamzafar commented on #1199
Hi,
I am trying to use model from the machine. something like this:
`StableDiffusionPipeline.from_pretrained(
"/home/ubuntu/stable-diffusion-v1-5",
)`

[2022-11-08 20:13] pcuenca commented on #1199
Hi @hamzafar!

You need to:
- Accept the license for the model you are trying to download. Please, go to the [model page](https://huggingface.co/runwayml/stable-diffusion-v1-5), read the terms and click "accept" if you agree.
- Be logged in before downloading. To do that, I think the easiest would be to run the following commands:

[code]

After that, git clone should work. Please, let us know how

[2022-11-08 21:00] Mystfit commented on #920
I think I've tracked down the cause of the error in my case. I'm using the StableDiffusionLongPromptWeightingPipeline (`lpw_stable_diffusion`) custom pipeline to add prompt weighting support and it doesn't seem to play well with the inpainting model or pipeline.

[2022-11-08 23:27] aurotripathy commented on #1185
@patil-suraj, @Revist:
Thanks for the guidance.
If I use _just_ the [prior-preservation](https://github.com/huggingface/diffusers/tree/main/examples/dreambooth#training-with-prior-preservation-loss) script
 I'm able to reproduce the result (something close).

![new_1](https://user-images.githubusercontent.com/1825684/200697157-014a1faa-c736-4c1a-a22b-11dbef50f60a.png)

If I extend the fine-tuning

[2022-11-09 01:02] MonkeeMan1 opened #1202 "Obtaining the image iterations before final image has been generated StableDiffusionPipeline.pretrained()"
Hey all. I am currently using the StableDiffusionPipeline to generate AI images with a discord bot which I use with my friends. I was wondering if it was possible to get a preview of the image being generated before it is finished?

For example, if an image takes 20 seconds to generate, since it is using diffusion it starts off blury and gradually gets better and better. What I want is to save the

[2022-11-09 01:27] AIXiaoBaiDemon commented on #1153
I had the same problem, looking forward to your experiment。

[2022-11-09 01:59] felgryn opened #1204 "[Community] Can we composite Dreambooth network training?"
Very impressed with Dreambooth capabilities. I have what i think is a feature request - or perhaps a clarification on what is and is not possible in training networks with Dreambooth. In particular, i was wondering if there was a way to composite two networks to enable embedding of two instances (e.g. an sks dog >and< an sqs cat). I tried the plain vanilla training one network with an instance pro

[2022-11-09 04:38] #966 closed

[2022-11-09 05:57] aurotripathy commented on #1185
@entrpn, thank you.
Would you be willing to share your setting for fine-tuning the `text encoder`(which ones)?
That would be helpful.

[2022-11-09 06:30] harishprabhala opened #1205 "converting SD model to onnx"
### Describe the bug

Hi - I am trying to convert stable-diffusion-v1.4 to onnx using the below code.

python convert_stable_diffusion_checkpoint_to_onnx.py --model_path="CompVis/stable-diffusion-v1-4" --output_path="./stable_diffusion_onnx" --fp16="True"

The output I am getting is a model.onnx (430MB) and weights.pb (1.6GB) file. I am looking to get a proper unet.onnx file with the converted onn

[2022-11-09 07:22] 0xdevalias opened #1207 "AttributeError: /opt/conda/bin/python: undefined symbol: cudaRuntimeGetVersion"
### Describe the bug

[code]

### Reproduction

[code]

[code]

[code]

[code]

[code]

[code]

### Logs

[code]
[code]
# diffusers-cli env

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `diffusers` version: 0.7.2
- Platform: Linux-5.15.0-52-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.13
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Huggi

[2022-11-09 07:25] 0xdevalias commented on #1207
Just found this issue, so maybe it's an issue with `bitsandbytes`:

- https://github.com/TimDettmers/bitsandbytes/issues/85

[2022-11-09 08:48] patrickvonplaten commented on #1154
Hmmm, interesting usually converting CompVis checkpoints works pretty well.

Could you maybe upload your CompVis checkpoint to a repo on the Hub and I'll try to convert it?

[2022-11-09 09:31] patrickvonplaten commented on #1047
Hey @dblunk88,

Thanks a lot for the issue - I think you're right about a lot of things here - especially 5.) Related PR: #1177
The weighs are actually by themselves already over 1.7GB in half precision so I think it's close to impossible to get lower than 2GB VRAM => so 2.8GB which prob includes 800MB for just starting the CUDA kernels makes sense!

A bit of False advertisement here - sorry!

[2022-11-09 10:21] binmakeswell opened #1212 "Community Integration: Making AIGC cheaper, faster, and more efficient."
**Is your feature request related to a problem? Please describe.**
AIGC has recently risen to be one of the hottest topics in AI. Unfortunately, large hardware requirements and training costs are still a severe impediment to the rapid growth of the AIGC industry. The Stable Diffusion v1 version of the model requires 150,000 A100 GPU Hours for a single training session.

**Describe the solution you

[2022-11-09 10:46] #1152 closed

[2022-11-09 11:11] patil-suraj commented on #1185
@aurotripathy as I said in the comment I linked, for dream booth we need to tune hyperparams to get the best results. Also, training text encoder is usually helpful for more culex concepts like faces. I don't think this is an issue with training script. I would suggest to try different setting and pick what works best for your use-case.

[2022-11-09 11:14] teticio commented on #841
HI there

I am considering adding `AudioDIffusionPipeline` and `LatentAudioDiffusuonPipeline` from https://github.com/teticio/audio-diffusion/blob/main/audiodiffusion/__init__.py. I found that I was forced to make two separate pipelines as one registers different modules in the constructor. As they share a common codebase, in my implementation I have made `LatentAudioDiffusuonPipeline` inherit fro

[2022-11-09 11:41] FBehrad opened #1213 "Does RePaintPipeline work with Stable diffusion?"
Hello,
First of all, thank you so much for adding RePaintPipeline. This pipeline works much better than stable diffusion inpainting when I use DDPMs (such as ddpm-ema-bedroom-256 and ddpm-bedroom-256) . However, when I  use CompVis/stable-diffusion-v1-4, some bugs appear. For example, I get the following error:

`TypeError: set_timesteps() takes from 2 to 3 positional arguments but 5 were given
`

[2022-11-09 11:46] nokunato commented on #1188
Hi novice here, but can't seem to use diffusers when making use of this CLIPseg. Is there anyway around this. The command down below doesn't seem to run when using "from transformers import CLIPSegProcessor, CLIPSegForImageSegmentation". Help

device = "cuda"
pipe = StableDiffusionInpaintPipeline.from_pretrained(
    "CompVis/stable-diffusion-v1-4",
    revision="fp16",
    torch_dtype=torch.float

[2022-11-09 11:58] chinoll opened #1214 "CLIPTextModel does not work at half precision"
### Describe the bug

RuntimeError exception thrown when using CLIPTextModel.How should I use fp16?
[code]

### Reproduction

[code]

### Logs

_No response_

### System Info

- `diffusers` version: 0.7.2
- Platform: Linux-5.4.0-122-generic-x86_64-with-glibc2.31
- Python version: 3.10.6
- PyTorch version (GPU?): 1.12.1 (True)
- Huggingface_hub version: 0.10.1
- Transformers version: 4.19.2
- Using

[2022-11-09 12:42] #146 closed

[2022-11-09 13:19] patil-suraj commented on #463
Reopening this issue as it's related to training super-res model.

[2022-11-09 13:20] patil-suraj commented on #463
Also, thanks to @duongna21 a super resolution model is now available in `diffusers`

[code]

[2022-11-09 13:21] patil-suraj commented on #146
Thanks to @duongna21 the latent diffusion super resolution model is now available in `diffusers`

[code]

[2022-11-09 13:50] hamzafar commented on #1199
Hi @pcuenca,

Would this also work if I accept the license from my laptop chrome. And run logging in commands on AWS machine through putty and then do git clone on AWS server?

Looking forward hearing from you.

[2022-11-09 14:06] Revist commented on #1213
Hi @FBehrad,

The thing is you should supply repaint scheduler to the pipeline not LMSDescrete. In the pr https://github.com/huggingface/diffusers/pull/974 there was discussion about making repaint usable with all schedulers, but long story short for now it works only with DDIM (and because DDIM generalizes DDPM) and DDPM.

Take a look here https://github.com/huggingface/diffusers/blob/main/tests/

[2022-11-09 14:26] patil-suraj commented on #1112
Cool, won't really have time for this, but if someone is interested in contributing I would be happy to help :)

[2022-11-09 14:38] patil-suraj commented on #1097
It's not possible to switch optimizer with accelerate API. Also, the `deepspeed` support is very experimental so I would suggest the users to  just modify the script for advanced `deepspeed` use-cases.

[2022-11-09 14:41] patil-suraj commented on #1093
Thanks for the issue! The textual_inversion script doesn't support `deepspeed` and it's a bit tricky to support it because the way we modify grads. So at the moment there is no plan to support `deepspeed` in textual inversion as the script can already run on free colab GPUs.

[2022-11-09 14:53] patil-suraj commented on #1068
Hi, this issue has been fixed in recent `diffusers` versions, which allows `safety_checker=None`, could you please update your diffusers version `pip install -U diffusers`. That should fix it.

[2022-11-09 15:02] patil-suraj commented on #1080
You could use the `notebook_launcher` function for this , https://huggingface.co/docs/accelerate/v0.11.0/en/launcher#accelerate.notebook_launcher, for example import the `main` function from the script and launch it using the `notebook_launcher`

[2022-11-09 15:04] patil-suraj commented on #1014
Just answered here https://github.com/huggingface/diffusers/issues/1068#issuecomment-1308883358

[2022-11-09 15:06] pcuenca commented on #1199
Yes, you only need to accept the license once and you can do it in your laptop. But you have to be logged in in the machine where you'll download the weights.

[2022-11-09 15:16] patil-suraj commented on #1082
Are you using deepspeed for training ?

[2022-11-09 15:39] enn-nafnlaus commented on #1082
Yes, I am - thanks for the tip; will try it out as soon as a (currently running) hypernetwork training run completes and frees up the card!  :)

[2022-11-09 16:38] lukovnikov opened #1220 "FID on CIFAR10 does not match literature"
### Describe the bug

I used the unconditional training script from examples to train a model on CIFAR10, using default parameters (except using 1024 steps). After around 250k updates (batch size 128, 4 GPUs), the samples look decent but when doing sampling with DDIM with 128 steps and eta=0, the sampled images give a FID of 17.0, which is worse than the number reported in literature (for example,

[2022-11-09 16:44] theahura commented on #146
Thanks a ton! Out of curiosity, is there info on the required GPU size to run this for different resolutions?

[2022-11-09 16:47] patil-suraj commented on #146
Haven't tried this extensively, but on a 16GB GPU I was able to do `128x128` -> `1024x1024`

[2022-11-09 16:51] theahura commented on #1084
Sure thing, see: https://github.com/huggingface/diffusers/compare/main...theahura:diffusers:patch-1

[2022-11-09 17:33] aurotripathy commented on #1185
Thank you @patil-suraj
Lots of good thoughts (for a newbie, me)
Closing this.

[2022-11-09 18:46] patrickvonplaten commented on #1060
IT seems like you have managed to upload a diffusers model no? I can see that the diffusers folder structure is present :-)

[2022-11-09 18:53] patrickvonplaten commented on #1158
Cool seems like it's figured out! I also cannot reproduce this error

[2022-11-09 18:58] patrickvonplaten commented on #1166
It seems like you're using TPU/XLA with PyTorch - we haven't tested Pytorch/XLA extensively yet sadly and I'm not sure if we'll find time for this anytime soon.

I think what's happening here though is that the model tries to save the same weights to the same file location simultaniously on all 8 devices.

IMO you will have to add functionality similar to the one here for PyTorch/XLA: https://gith

[2022-11-09 19:03] patrickvonplaten commented on #1176
cc @patil-suraj

[2022-11-09 19:06] patrickvonplaten commented on #1161
Let me know how it goes @jorahn - curious to hear if it works :-)

[2022-11-09 19:12] patrickvonplaten commented on #1165
1.) Very good find the cut-off indeed does not behave as it should!
We should always add a EOS to the end. Will open a PR to fix this!

2.) Interesting, not sure if this mean we should change anything

[2022-11-09 19:41] #1158 closed

[2022-11-09 19:57] treksis commented on #1153
same problem

[2022-11-09 20:34] dhruvrnaik commented on #1166
I have tried using `accelerator.save` (https://github.com/huggingface/accelerate/blob/main/src/accelerate/utils/other.py) and it's equivalent - `xm.save` which are supposed to only save the model on the rank=0 device.

It was easier to just shift to using the flax script @camenduru created.

[2022-11-09 20:38] patrickvonplaten commented on #1181
Hey @MatthewWaller,

Yes at the moment, it might maybe be best to have a look at the CompVis repo. We don't yet have a script to train stable diffusion from scratch

[2022-11-09 20:41] patrickvonplaten commented on #684
@patil-suraj could you take a look here?

[2022-11-09 20:58] patrickvonplaten commented on #1159
Hey @elricwan,

Sorry we don't have the model that is featured in the blog you linked above yet.

[2022-11-09 21:02] patrickvonplaten commented on #1140
@aungkhant0911 - we're also always happy about community contributions :-)

[2022-11-09 21:09] #785 closed

[2022-11-09 21:11] patrickvonplaten commented on #1197
This sounds indeed like a good idea! Would be more than happy to guide the community to add this model :-)

[2022-11-09 21:16] patrickvonplaten commented on #1204
cc @patil-suraj and the wider community :-)

[2022-11-09 21:18] patrickvonplaten commented on #1205
Gently pinging @anton-l here

[2022-11-09 21:31] patrickvonplaten commented on #1207
Hey @0xdevalias,

Yes indeed I think this is a bitsandbytes issue

[2022-11-09 21:38] exo-pla-net opened #1228 "Improve Dreambooth example documentation"
The current [Dreambooth example](https://github.com/huggingface/diffusers/tree/main/examples/dreambooth) is difficult to follow.

We're told to:

accelerate config

However, "accelerate config" asks utterly baffling questions (to a neophyte), like

or

Darned if I know! I'm here to *learn* from this example. As such, the example should at the very least give opinionated statements: "Unless you kno

[2022-11-09 21:40] 0xdevalias commented on #1207
In my exploration yesterday (https://github.com/huggingface/diffusers/issues/1207#issuecomment-1308381591) I found that it's less of a `bitsandbytes` issue, and more of a 'the example docs in this repo don't mention a required dependency of `bitsandbytes` when telling you to install it, and without that, the example code isn't runnable.

So as suggested above:

[2022-11-09 21:44] 0xdevalias commented on #1207
Just opened a PR to fix the docs:

- https://github.com/huggingface/diffusers/pull/1229

[2022-11-09 21:46] patrickvonplaten commented on #1214
Hey @chinoll,

I think you have to write:

[code]

instead of `.to(...dtype=dtype)`

[2022-11-09 21:50] patrickvonplaten commented on #1212
Hey @binmakeswell,

This sounds great - I think we'd be very interested in having a better integration here! Also cc @patil-suraj @thomwolf

[2022-11-09 21:52] patrickvonplaten commented on #841
Hey @teticio,

Thanks for the feedback - there is an open issue about this here: https://github.com/huggingface/diffusers/issues/1141 - I'll try to look into it next week :-)

[2022-11-09 21:53] patrickvonplaten commented on #1213
cc @anton-l

[2022-11-09 21:58] patrickvonplaten commented on #1220
Note that we never verified that training gives the same results. We made sure that the denoising process pass matches 1-to-1 however it's sadly too time-consuming to test a whole training run. There could be many reasons here. Some possible reasons:
- Our dropout layers are slightly different
- Hyper-parameters for training don't match 1-to-1
- ...

[2022-11-09 22:09] enn-nafnlaus commented on #1082
Hey, I think that solved that problem  :)   Now I'm getting:

_Traceback (most recent call last):
  File "/home/stablediffusion/.conda/envs/diffusers/lib/python3.9/site-packages/PIL/ImageFile.py", line 242, in load
    s = read(self.decodermaxblock)
  File "/home/stablediffusion/.conda/envs/diffusers/lib/python3.9/site-packages/PIL/PngImagePlugin.py", line 936, in load_read
    cid, pos, length =

[2022-11-09 22:10] patrickvonplaten commented on #1228
cc @patil-suraj

[2022-11-09 22:10] mar-muel opened #1231 "K-LMS scheduler in Flax"
### Describe the bug

Hello everyone! So far very happy with the Flax implementation, great work!

However, I've been struggling to get K-LMS working. Here's what I've tried so far:

[code]

But this is still failing with
[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.7.2
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.10
- Python ve

[2022-11-09 22:34] muellerzr commented on #1228
@patrickvonplaten I can probably assist on this, as this is a fair point as more libraries start using Accelerate that we should template's how to quickly write configs for users to use that are relevant to them. One option is we have a `write_basic_config` function in accelerate that creates a config file based on all the GPUs available and let's you set the mixed precision mode: https://huggingf

[2022-11-09 22:54] zetyquickly opened #1232 "Dreambooth: cosine_with_restarts learning rate schedule won't restart"
### Describe the bug

Hello,

During log observation of a three dreambooth training logs found that `--lr_scheduler="cosine_with_restarts" lead to a cosine-alike lr change on a tensorboard.

<img width="386" alt="Screen Shot 2022-11-09 at 2 50 45 PM" src="https://user-images.githubusercontent.com/25350960/200959317-3239dc33-4ac9-42bb-8d60-fd46b78f4b9f.png">

### Reproduction

Training finishes suc

[2022-11-09 22:58] exo-pla-net commented on #1228
Speaking on behalf of all grug-brained developers, I'd indeed be eminently happy with the CLI option @muellerzr 🧠

More broadly, deep-diving into things like mixed-precision is probably only appropriate after a user is confident and comfortable with basic Dreamboothing.

My *dream* tutorial would be a Colab notebook, with all the settings and non-obvious lines of code commented on. I could then qu

[2022-11-09 23:48] muellerzr commented on #1228
In that case, you can definitely go ahead with the above method I think and you'll be fine for now in a Colab notebook, and the CLI option will come quite soon!

[2022-11-10 00:41] elricwan commented on #1159
Thanks

[2022-11-10 00:41] #1159 closed

[2022-11-10 03:11] mrsalehi commented on #543
Hi @superhero-7 .
It seems like they have changed the source code entirely. If I'm not mistaken, they have changed `SpatialTransformer` class to `Transformer2DModel` in commit `ef2ea33c3bc061fffa8bc4ccd640306ca1a1847d`. I have no experience with this modified code but if the code on master branch still gives this warning, may be you could look into the forward pass of the new class? For example I

[2022-11-10 03:54] junshutang commented on #858
hi~ @patrickvonplaten I still have the same Error: AttributeError: 'StableDiffusionPipeline' object has no attribute 'named_children'.
I have tried to update the version of accelerate/transformers/diffusers, and my environment: diffusers=0.7.2, torch=1.10.0+cu113, transformers = 4.24.0, accelerate=0.15.0.dev0.
Can you help me fix it out?

[2022-11-10 05:00] camenduru opened #1238 "[Flax] Crazy Loss 😱"
### Describe the bug

https://github.com/huggingface/diffusers/blob/2e980ac9a0c03200cbe52e78e23f648d17e97b9c/examples/dreambooth/train_dreambooth_flax.py#L617

https://github.com/huggingface/diffusers/blob/2e980ac9a0c03200cbe52e78e23f648d17e97b9c/examples/text_to_image/train_text_to_image_flax.py#L525

I am getting loss like this  `accelerator.log({"training_loss": train_metric["loss"]}, step=epoc

[2022-11-10 05:07] camenduru commented on #1161
+1 curious

[2022-11-10 05:31] ghpkishore opened #1239 "Accept License while downloading as a y/n option in cmd terminal"
**Is your feature request related to a problem? Please describe.**
When I wanted to "git clone https://huggingface.co/runwayml/stable-diffusion-v1-5", it failed cause I hadn't accepted the permission in HF for the repo.

**Describe the solution you'd like**
Instead of asking me to go to the web to accept it, wouldn't it be simpler to have to accept license in the cmd itself. This way, anyone, irre

[2022-11-10 06:09] #1238 closed

[2022-11-10 06:55] camenduru commented on #1185
That would be helpful.

@aurotripathy maybe helps https://wandb.ai/psuraj/dreambooth/reports/Dreambooth-Training-Analysis--VmlldzoyNzk0NDc3

[2022-11-10 07:21] chinoll commented on #1214
@patrickvonplaten not work

[2022-11-10 07:22] jorahn commented on #1161
Ok, so I have a lokal version, that works for this:

[code]
The pipeline doesn't work yet:
[code]
This leads to `OSError: Error no file named diffusion_pytorch_model.bin found in directory output-flax/unet.`. I'll try to put this into a PR so you can take a look at it and maybe help to figure out what's missing.

[2022-11-10 09:15] htoyryla commented on #1202
I am not using the standard pipelines, but in my own code I have started to store intermediate (denoised) results and I often find that the final one is not the best, as during the final steps the image may develop too details, even cluttered sometimes.

Here's roughly what I do to get a gradually evolving estimate of the final image.

[code]

[2022-11-10 09:20] teticio commented on #841
Thanks @patrickvonplaten ! Regarding the issue of inheritance, do you have a recommendation for how to approach this?

[2022-11-10 09:44] manuelbrack opened #1242 "Safe Latent Diffusion"
### Model/Pipeline/Scheduler description

We have just released a [paper](https://arxiv.org/abs/2211.05105) introducing Safe Latent Diffusion (SLD) for text2image diffusion models.
SLD mitigates the well known issue that models like Stable Diffusion that are trained on unfiltered, web-crawled datasets tend to suffer from inappropriate degeneration. For instance SD may _unexpectedly_ generate nudit

[2022-11-10 09:47] ajundo commented on #1202
A modified pipeline with callback function `callback(i, t, latents, noise_pred)` is enough. you also need to calculate the predicted x_0 by yourself like above, or use this detailed code if you are confused with the coefficients and variables.
[code]
Hope it helps.

[2022-11-10 10:19] pcuenca commented on #1231
Hi @mar-muel! Thanks a lot for reporting this. I've been trying it out and it looks like the K-LMS scheduler has not been adapted to the new scheduler API yet, so it can't currently be used as an alternative for stable diffusion, sadly.

In any case, the process to replace an scheduler in a Flax pipeline might not be very straightforward. This is the method I use, where I'm using your code as a te

[2022-11-10 10:32] hadaev8 commented on #1176
@duongna21
Im sure fixed it in my codebase by using adam.
Not ideal way to fix it, if you want weight decay, easier to apply it manually on new embedding.

[2022-11-10 10:35] patrickvonplaten commented on #1242
Hey @manuelbrack,

This is a super cool contribution - amazing to see that you found a strong practical solution to this extremely difficult problem!
We'd love to include your work natively in `diffusers` - I think it should be as simple as adding a `pipeline_stable_diffusion_safe` to
https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines

You could essentially in a first pass

[2022-11-10 10:40] pcuenca commented on #1099
Hi @Li-En-Good, sorry for being so slow to answer here. I have two suspicions here:

- Are you using a diffusers-style repo (a folder with several components inside) and not a single-file checkpoint?
- If you are using a diffusers repo, maybe there's a missing component inside?

It'd be really helpful if you could look inside the contents of your model directory. You can do it from a Linux termina

[2022-11-10 11:43] patil-suraj commented on #1228
Thanks for the issue, will add some basic config options in the doc :)

Here you go!
https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/sd_dreambooth_training.ipynb

[2022-11-10 11:49] patil-suraj commented on #1212
This is very cool @binmakeswell ! Would be very happy to integrate diffusers in colossalAI examples!

[2022-11-10 12:46] patil-suraj commented on #1082
It look likes there's some currupted image in the dataset

[2022-11-10 12:49] patil-suraj commented on #684
I'm not really familiar with AMD GPUs, maybe @NouamaneTazi has some ideas here :)

[2022-11-10 14:03] AkiKagura commented on #1060
Actually, they are two models trained in different ways that is … I am still having this problem🥲

[2022-11-10 14:06] manuelbrack commented on #1242
Hi

[2022-11-10 14:11] manuelbrack commented on #1242
Hi @patrickvonplaten

Thanks for the quick response and nice feedback. Your suggestion sounds great, I will make a PR to add ```pipeline_stable_diffusion_safe``` to https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines.

In a first step this will ofc only include the PyTorch implementation and no dedicated pipelines for onnx or flax, but I guess we can add this from the initia

[2022-11-10 15:20] LordReigns commented on #1197
Hello @patrickvonplaten ,

I am a first time contributor here. Interested in this issue. If no one assigned to , happy to work on it. 😄

[2022-11-10 16:39] jpiabrantes opened #1246 "[Dreambooth Example] Attempting to unscale FP16 gradients."
### Describe the bug

I had the training script working fine but then I updated diffusers to 0.7.2 and now I get the following error:

[code]

Any ideas, or do I need to downgrade?

### Reproduction

_No response_

### Logs

_No response_

### System Info

diffusers 0.7.2
python 3.7.12
accelerate 0.14.0

[2022-11-10 19:39] averad commented on #1138
Tested and confirmed working using the current main repo, thank you

[2022-11-10 20:28] plambe commented on #1197
This would be really neat

[2022-11-10 20:29] averad opened #1249 "AttributeError: 'numpy.ndarray' object has no attribute 'device' [OnnxPipeline] [Schedulers DDPM, Euler, Euler-A]"
### Describe the bug

[PR 636](https://github.com/huggingface/diffusers/pull/636) and [PR 944](https://github.com/huggingface/diffusers/pull/944) added the [Euler ](https://moon-ci-docs.huggingface.co/docs/diffusers/pr_1244/en/api/schedulers#diffusers.EulerDiscreteScheduler) and [Euler-A](https://moon-ci-docs.huggingface.co/docs/diffusers/pr_1244/en/api/schedulers#diffusers.EulerAncestralDiscreteS

[2022-11-10 21:00] GaidamakUA opened #1251 "RePaintPipeline always returns black image when pipe.to("mps") is called"
### Describe the bug

When I try to do the inpainting with RePaintPipeline on the MPS backend it only returns black image. It works fine with CPU, but very slow.

### Reproduction

[code]

### Logs

_No response_

### System Info

- `diffusers` version: 0.7.2
- Platform: macOS-12.6-arm64-arm-64bit
- Python version: 3.9.12
- PyTorch version (GPU?): 1.13.0.dev20221002 (False)
- Huggingface_hub versi

[2022-11-10 21:55] dblunk88 commented on #1197
Would be amazing!

[2022-11-10 22:05] batrlatom commented on #1146
Yes, it is related to dreambooth. And the problem could be that if you have a service with a bunch of models, somebody hacks you and leaks all models online. I am thinking if such developers can somehow protect user's privacy for example by encrypting the model and then asking user for a password for each generation. I know that it is not so much related to the SD, it's not a pipeline or so. But m

[2022-11-10 22:36] elricwan opened #1252 "[In-paint] How to generate mask example?"
HI there, given a image, is there a effective way to generate mask example that covers the main object? Thank you.

[2022-11-10 23:41] averad commented on #1252
photopea (Photo editor) or imagemagick (Code) can generate an image mask.

[2022-11-11 01:36] exo-pla-net commented on #1228
Wonderful, @patil-suraj -- this will confidently get me started. Making my humble dreams come true. Thanks!

[2022-11-11 01:58] duongna21 commented on #1140
Happy to work on prompt-to-prompt.

[2022-11-11 04:33] WASasquatch opened #1253 "Caching Pipes"
### Describe the bug

It used to possible to cache stable Diffusion pipes to load them faster, and more efficiently. But development in diffusers has got in the way of this working smoothly.

It would be awesome If this method of multi-pipe handling with pickle or joblib could still be viable, and a fast option. Initially, before checking HF model conf, a pipe could load in 2 seconds. Now it takes

[2022-11-11 04:34] binmakeswell commented on #1212
Thanks for your enthusiastic response and we look forward to working together!

How do you expect it to be carried out?
Take our collaboration with [Lightning](https://github.com/Lightning-AI/lightning) for example, we communicated in slack for details, provided [documentation](https://pytorch-lightning.readthedocs.io/en/latest/advanced/model_parallel.html#colossal-ai) and eventually did a [joint

[2022-11-11 08:29] 0xdevalias commented on #895
FYI, it looks like that PR has been merged now:

- https://github.com/huggingface/diffusers/pull/958

And the implementation is available here:

- https://github.com/huggingface/diffusers/tree/main/examples/community#imagic-stable-diffusion

Can this issue be closed now?

[2022-11-11 08:33] #895 closed

[2022-11-11 10:55] unography commented on #1188
Hi @patrickvonplaten , I added a PR for this here - https://github.com/huggingface/diffusers/pull/1250

[2022-11-11 11:12] pcuenca commented on #1199
Closing for now, please reopen if necessary :)

[2022-11-11 11:12] #1199 closed

[2022-11-11 12:17] innat opened #1254 "How to - Image2Image with (Image + Text) Guided!"
I've an **image with target object**. And I like to generate new image with **text-guided background** with the **target object** in a natural view.  In short

- An image with target object (i.e. car).
- Complex backgrouond removed by **Model A**.
- Then pass it to **Model B** with **text / prompt**.
- Generate **new images <ins>with different poses</ins> of the target object** with **new backgrou

[2022-11-11 13:11] camenduru opened #1255 "cannot import name 'DPMSolverMultistepScheduler' from 'diffusers'"
### Describe the bug

because python3.7 ? 🙄

https://github.com/huggingface/diffusers/blob/045157a46fb16a21a5f37a5f3f3ad710895b680b/scripts/convert_original_stable_diffusion_to_diffusers.py#L33

[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

colab-t4

[2022-11-11 13:54] pcuenca commented on #1255
@camenduru I think you need to install `diffusers` from github, since the current PyPi release still doesn't include that class:

[code]

[2022-11-11 15:36] camenduru commented on #1255
thanks ❤

[2022-11-11 15:36] #1255 closed

[2022-11-11 16:22] jpiabrantes commented on #1246
A bit more info. This happens on a fresh install when I set the `--gradient_checkpointing` (otherwise the model does not fit on my GPU)

[2022-11-11 18:00] WASasquatch commented on #1188
I wonder if CLIPSeg can be improved with Guassian Blur and SVG Tracing, producing a two tone mask that has curved tracing based on Gaussian smoothing. Has this been suggested to CLIPSeg? I really want something like this in diffusers, but also want it to be complementary with art and fidelity.

[2022-11-11 19:42] elricwan commented on #1252
Thanks

[2022-11-11 19:42] #1252 closed

[2022-11-11 21:24] fboulnois opened #1257 "Standardize on `init_image` for img2img, inpaint, and others"
**What API design would you like to have changed or added to the library? Why?**

[img2img](https://github.com/huggingface/diffusers/blob/3d98dc763a645423f992b3546c4d9cdd97eb9d04/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_img2img.py#L312) currently uses the `init_image` parameter, whereas  [inpaint](https://github.com/huggingface/diffusers/blob/3d98dc763a645423f992b3546c4d9

[2022-11-11 22:49] WASasquatch opened #1260 "Cannot import name 'DPMSolverMultistepScheduler' from 'diffusers'"
### Describe the bug

I'm trying to install diffusers on my new Windows 11 computer, and it's failing on `DPMSolverMultistepScheduler`, which I thought was merged?

### Reproduction

[code]

and then try

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.7.2
- Platform: Windows-10-10.0.22000-SP0
- Python version: 3.9.13
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Huggingface_h

[2022-11-11 23:27] averad commented on #1260
DPMSolverMultistepScheduler wasn't merged into the 0.7.2 patch it is included in the current 0.8.0dev0 files

[2022-11-12 03:21] WASasquatch commented on #1260
Oh that's so strange. On colab, I just `pip installed diffusers[torch]` and been using it. Is there some sort of auto package selection?

[2022-11-12 06:43] IdiotSandwichTheThird opened #1261 "Xformers attention backwards pass not working in diffusers | RuntimeError: p.gQ_strideM() == grad_q.stride(1) INTERNAL ASSERT FAILED at "*/mem_eff_attention/attention_backward_generic.cu":180,"
### Describe the bug

I've been trying to use xformers for training in dreambooth, as well as training with waifu diffusion. It crashes before finishing even 1 iteration, with the message in the logs in both instances.

Xformers appears to be working perfectly fine for inference,
`100%|███████████████████████████████████████████| 51/51 [00:03<00:00, 13.33it/s]
pipe.enable_xformers_memory_efficient

[2022-11-12 08:26] Fairywang9 opened #1262 "train a diffusion model on rectangle images"
### Describe the bug

How to train the pictures with Rectangle ,I tried 128*128, and it is fine,but 128*256 input then there are error of tuple size, does anyone know how to solve it?
I just use the diffusers_training_example on colab
![image](https://user-images.githubusercontent.com/56218499/201465424-9bbbbec7-12be-46f0-8350-cd37dedfbb99.png)

What I change:
1.
@dataclass
class TrainingConfig:

[2022-11-12 12:38] The-Ramosian opened #1263 "cannot import name 'StableDiffusionSafetyChecker' from 'diffusers.pipelines.stable_diffusion"
### Describe the bug

Whenever you run the convert_original_stable_diffusion_to_diffusers.py in google colab it results in the error
cannot import name 'StableDiffusionSafetyChecker' from 'diffusers.pipelines.stable_diffusion

### Reproduction

run the code on google colab

### Logs

[code]

### System Info

Google CoLab

[2022-11-12 16:00] rorepmezzz commented on #1154
@patrickvonplaten That's so great! Please take a look when you have time. And sorry for replying late, didn't get a chance to look git before...

My cpkt is in this repo: ringhyacinth/tattoo-alpha-test,
checkpoint: epoch=000105_new.ckpt
yaml config: tattoo.yaml

I'm struggling on this conversion issue for several days, since I really want to use the nice API in the hub. Please let me know if you c

[2022-11-12 16:33] sudo-carson commented on #1083
For me, it generates an image properly on CPU, but a black image on CUDA (with safety checker disabled). Seems the float16 unet is outputting all NaN on GPU.

I found 2 similar issues from onnxruntime:
https://github.com/microsoft/onnxruntime/issues/6328
https://github.com/microsoft/onnxruntime/issues/11384 - fixed with `auto_convert_mixed_precision`

Maybe the unet needs to be converted with [`au

[2022-11-12 17:06] sausax opened #1264 "Why is noise scheduler in train_dreambooth.py hard coded to "CompVis/stable-diffusion-v1-4" ?"
I noticed that the noise scheduler in the train_dreambooth.py is hardcoded to "CompVis/stable-diffusion-v1-4" here
https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py#L475

The script also takes a command line parameter for pretrained_model https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py#L32

Is it required for the n

[2022-11-12 21:24] daniel5984 opened #1265 "How to convert Flax model to .ckpt ?"

[2022-11-12 21:38] IdiotSandwichTheThird commented on #1261
The issue appears to be xformers based after all, see https://github.com/facebookresearch/xformers/issues/517

[2022-11-12 21:38] #1261 closed

[2022-11-12 23:20] G-force78 opened #1266 "Unable to run prompt"
### Describe the bug

Error message when running prompt
NameError                                 Traceback (most recent call last)
[<ipython-input-45-c30b32863e43>](https://localhost:8080/#) in <module>
     18 prompt_ids = pipeline.prepare_inputs(prompt)
     19 prompt_ids = shard(prompt_ids)
---> 20 images = pipeline(prompt_ids, p_params, prng_seed, num_inference_steps, jit=True).images
     21

[2022-11-12 23:35] patrickvonplaten commented on #556
@anton-l, I think we can allow to adapt the conv mode with a nice diffusers API here no?

[2022-11-13 00:45] entrpn commented on #1185
@aurotripathy take a look at this project. https://github.com/entrpn/serving-model-cards/tree/main/training-dreambooth. That's what I used for the results above.

[2022-11-13 08:01] buttercutter opened #1267 "Schedulers do not work well for text-guided image-to-image generation"
For https://lablab.ai/t/stable-diffusion-img2img , it seems that only [LMSDiscreteScheduler](https://huggingface.co/docs/diffusers/api/schedulers#diffusers.LMSDiscreteScheduler) works well in [generating different variations of the pictures sketches](https://colab.research.google.com/drive/1LMDWu5TUUGjjTnis7wkYP1TY77DxaRa7#scrollTo=0O0Iy1zK0q-8&line=4&uniqifier=1), that is my observation so far

B

[2022-11-13 11:47] gadicc commented on #1246
Same here, but it's my first time trying to train.

@jpiabrantes I guess it will help if one of us can bisect this (i.e. find the exact commit where the bug was introduced) :sweat_smile:   What were you using before 0.7.2?  0.7.1?

[2022-11-13 12:25] G-force78 commented on #1266
Ah missed the last line when copying the code!

#@title Load the model
#@markdown It's safe to ignore the warning messages, everything is okay
pipeline, params = FlaxStableDiffusionPipeline.from_pretrained(
    "runwayml/stable-diffusion-v1-5", revision="bf16", dtype=jax.numpy.bfloat16)
p_params = replicate(params)

[2022-11-13 12:25] #1266 closed

[2022-11-13 15:02] #723 closed

[2022-11-13 15:02] #722 closed

[2022-11-13 15:03] #476 closed

[2022-11-13 17:32] patrickvonplaten opened #1268 "[RFC] Proposal to change API of `ConfigMixin` and `SchedulerMixin`."
There are a couple of API problems currently related to the `from_config` method. This is a proposal to change the behavior of `from_config` and add a new `load_config` method instead.

## 1. Loading schedulers

Currently one has to load schedulers as follows:

[code]

We've received numerous feedback now (e.g. from @thomwolf, @keturn, @Narsil) that this is weird. Why do we pass a `model_id` to th

[2022-11-13 19:26] adamfils2 commented on #1154
I'm facing the same issue.
My weights are 'weight type (torch.cuda.HalfTensor)'

[2022-11-13 21:01] DevonPeroutky opened #1271 "Unable to correctly install dependencies for Dreambooth example on GCP user or managed notebooks"
### Describe the bug

I am attempting to simply run the [Dreambooth training example](https://github.com/huggingface/diffusers/tree/main/examples/dreambooth) on a GCP Vertex AI workbench notebook. I have tried their managed notebook and user-managed notebooks with the same issue. However, I can not seem to get the dependencies to align correctly.

I installed the dependencies, as instructed via:
[

[2022-11-13 21:08] spuliz opened #1272 "--mixed_precision="fp16" works only with accellerate config"
### Describe the bug

when setting the parameters   --mixed_precision="fp16"  the system prompts the message "--mixed_precision is set to its default value to no" despite of declaring the parameters. The message disappear if I launch accelerate config and set mixed precision from there.

### Reproduction

_No response_

### Logs

_No response_

### System Info

Tesla T4, 15109 MiB, 15109 MiB - Col

[2022-11-13 21:22] zetyquickly opened #1273 "[Dreambooth] Training script mean loss calculation question"
Hello,

I was playing with Dreambooth training and noticed a thing [here](https://github.com/huggingface/diffusers/blob/0025626cd9feca260e05f295f272af4f7b9ce44a/examples/dreambooth/train_dreambooth.py#L606)

Why did the author use this way of calculation mean of the loss? Is there any particular technical need to do so comparing to [this](https://github.com/huggingface/diffusers/blob/0025626cd9fec

[2022-11-13 22:54] #551 closed

[2022-11-13 22:54] patrickvonplaten commented on #551
Closing this issue now as https://github.com/huggingface/diffusers/pull/1269 finishes off the 4 points above.

- We have a nice "all components" function with a doc example here: https://huggingface.co/docs/diffusers/api/diffusion_pipeline#diffusers.DiffusionPipeline.components
- We've addded more docs to the Stable Diffusion Tips section: https://huggingface.co/docs/diffusers/api/pipelines/stable

[2022-11-14 01:35] WASasquatch commented on #1084
https://huggingface.co/docs/diffusers/main/en/api/diffusion_pipeline#diffusers.DiffusionPipeline.components

[2022-11-14 02:22] sudo-carson commented on #1083
I've been converting the models via Colab as my system doesn't have enough VRAM, and interestingly, testing the float16 model on Colab yields correct results, but using the model on my system yields NaN. Could this issue be related to [this comment](https://github.com/huggingface/diffusers/issues/542#issuecomment-1300787315) then?

[2022-11-14 02:43] keturn commented on #937
And testing is logistically difficult for another reason that I'm rediscovering with this PR for InvokeAI: we have to do secret token management in order for tests to be able to run with the only known useful diffusion model.

and secrets management + public PRs really don't mix well on GitHub.

I suspect you've worked around that problem here by self-hosting your test runners, but are there any o

[2022-11-14 03:36] keturn commented on #937
Ah, crowsonkb pointed out that earlier latent diffusion models were released under MIT or Apache licenses, e.g. https://huggingface.co/CompVis/ldm-text2im-large-256

That might be _close enough_ for some purposes. Though I see LDMTextToImagePipeline uses an entirely different text encoder, which our app is sensitive to, so it'd still really help to have a release compatible with the StableDiffusio

[2022-11-14 03:38] 0xdevalias commented on #1212
Would love to see a simple integration between diffusers and ColossalAI!

Here's a collection of related issues I found/opened on various StableDiffusion / Dreambooth related projects about this:

- https://github.com/hpcaitech/ColossalAI/issues/1935
- https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/4606
- https://github.com/d8ahazard/sd_dreambooth_extension/issues/174
- https://git

[2022-11-14 03:44] 0xdevalias commented on #1228
While it's not the 'proper solution for this issue I raised on accelerate, it will certainly help me to have a programmatic solution, given the current CLI doesn't really allow configuration to be done in a non-interactive way (eg. in a jupyter notebook)

- https://github.com/huggingface/accelerate/issues/822

[2022-11-14 06:24] ghpkishore opened #1274 "num_images_per_prompt=num_samples FAILS after latest commit in SD pipelines"
### Describe the bug

This used to wwork:

images = pipe(
    prompt=prompt,
    image=image,
    mask_image=mask_image,
    guidance_scale=guidance_scale,
    generator=generator,
    num_images_per_prompt=num_samples,
    num_inference_steps =50,
    height=height,
    width=width,

).images

Now it doesn't.

### Reproduction

Ue the RUNWAYML inpainting notebook. IT fails in that!

https://colab

[2022-11-14 06:30] ghpkishore commented on #1274
Marking @patrickvonplaten as the latest commits were made by you.

[2022-11-14 06:56] alexisrolland commented on #612
I support the requirement expressed by @exo-pla-net. Knowing the exact seed used to generate each image in a batch seems to be a basic/mandatory feature to provide reproducibility at image level. The sequential seed idea raised in the previous message seems good enough to me as a solution. This is exactly what is done in the Stable Diffusion WebUI.

[2022-11-14 07:08] njucckevin commented on #895
Is there someone try the effect with this code? I failed to achieve the effect in the paper (for example, let a doy playing with a toy) with the Imagic Stable Diffusion.

[2022-11-14 07:09] ghpkishore commented on #1274
This is where the error is : Inside the def prepare_latents function, the batchsize is not multiplied by the num_images_per_prompt. This was present in the code which got removed:

latents_shape = (batch_size * num_images_per_prompt, num_channels_latents, height // 8, width // 8)  [THIS IS THE CORRECT CODE]

shape = (batch_size, num_channels_latents, height // 8, width // 8) [THIS IS THE ONE IN TH

[2022-11-14 07:27] ghpkishore commented on #1274
mask = mask.repeat(batch_size, 1, 1, 1)

Here the batch_size is not multiplied by number of prompts. and hence the repeat only does it for batch_size. My understanding is that this is the error.

[2022-11-14 07:56] ghpkishore commented on #1274
It has to do something with num_samples because the error keeps changing with num_samples.

[2022-11-14 10:49] ghpkishore commented on #1274
Marking @patil-suraj @pcuenca Incase you guys can resolve this quickly

[2022-11-14 12:57] patil-suraj commented on #1268
Agree with changing the behaviour of `from_config` to address all these 3 use-cases!

QQ: Do we want to change the behaviour of `from_config` completely or deprecate the current behaviour and add support for this new logic ?

Thanks a lot for the really great feedback @keturn

[2022-11-14 13:40] BurguerJohn opened #1276 "During inpainting, scaling latent before concat break some schedulers."
### Describe the bug

In pipeline_stable_diffusion_inpaint.py there is this two lines:
[code]
It seen to break some schedulers, setting scale first should fix it:

[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

Windows

[2022-11-14 13:48] FBehrad commented on #1213
Thank you for your quick response.

[2022-11-14 15:55] theahura commented on #845
keeping this thread open -- hasn't been resolved yet. I'd be fine opening a PR but haven't had time to do so

[2022-11-14 16:46] zepmck opened #1280 "DDPM pipeline with black and white 1-channel image 'L""
I am trying to generate synthetic images starting from a black and white 1-channel training data set using the DDPMPipeline.

This is my UNet2D model

[code]

However, during the evaluation of the model I get the following error:

[code]

Any idea why this happens?

Thanks!

[2022-11-14 18:02] keturn commented on #1268
Makes sense to me! Decoupling `load_config` from instantiation (and loading all the _weights_) sounds like a good move.

The phrase `from_pretrained` is an awkward fit for the schedulers—they have a config, but they are not _trained,_ and do not have weights from training—but I don't mind overlooking that for the goal of giving all these ConfigMixin-children-of-Pipeline the same interface.

…

Thi

[2022-11-14 18:32] himmetozcan opened #1281 "what is the meaning of parameter: "num_class_images""
What is the `num_class_images `parameter used for? I see that in some examples it is 50, sometimes it is 200. In the source code it is said that: "Minimal class images for prior preservation loss. If not have enough images, additional images will be sampled with class_prompt."
I still do not fully grasp it. For example if I have 20 images to train, what should I select this "`num_class_images`"?

[2022-11-14 19:36] jenkspt commented on #1280
I'm assuming you're using `diffusers==0.5.1` from the [training notebook](https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/training_example.ipynb). Version `0.5.1` `numpy_to_pil` method of `DiffusionPipeline` doesn't handle grayscale images. This has been added in the latest diffusers version: [https://github.com/huggingface/diffusers/blob/v0.7.2/src/diffusers/pip

[2022-11-14 19:37] jenkspt commented on #1280
Related to #1025 and #488

[2022-11-14 19:51] jsw-zorro opened #1284 "Increase the batch size cause longer sample time"
### Describe the bug

I tried to use the DDPMPipeline to generate images and test the model's inference time.
However, I found when I increased the batch size, the sampling time takes longer time. For example, when I set the number of steps as 51, and batch size at 2, the total sample time is `4.72`s on the RTX 2080 GPU. However, when I increase the batch size to 4, the total sample time comes to

[2022-11-14 20:16] jenkspt commented on #1262
This is the culprit: https://github.com/huggingface/diffusers/blob/c9b34637039b8b7374ae15c70aa93289bc5b6ccd/src/diffusers/pipelines/ddpm/pipeline_ddpm.py#L97-L103

Given that the `UNet2DModel` docstring says that `sample_size` can be a tuple
https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_2d.py#L46

I can open a pull request to fix this.

[2022-11-14 21:03] #1274 closed

[2022-11-14 22:19] natolambert opened #1287 "Update UNet1D Tests to not use Mish"
**Is your feature request related to a problem? Please describe.**
Currently the `UNet1DTests` heavily rely on mish because they were based on a re-implementation of a model. This is not needed generally, so it would be good to add another 1d model just for tests so we can delete a lot of the tests that look like this.

[code]

[2022-11-14 23:06] 0xdevalias opened #1288 "Explore NVIDIA/TransformerEngine for speed/efficiency"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

- https://github.com/NVIDIA/TransformerEngine
  - > A library for accelerating Transformer models on NVIDIA GPUs, including using 8-bit floating point (FP8) precision on Hopper GPUs, to provide better

[2022-11-14 23:51] WASasquatch commented on #845
Probably reasons they do not implement safety features like this in any DCC art tools, and leave it to individual interpretation and complaint, and ultimately law enforcement.

What exactly is the hold up here? Have we decided what we want the safety checker to do? Allow a flag to be disabled, which disables blacking out a image? Replace black-out with Discord Beta Era Gaussian blur? Another idea?

[2022-11-15 00:32] thealanreis commented on #551
It's possible to implement enable_xformers_memory_efficient_attention for Mega?

[2022-11-15 01:49] theahura commented on #845
I was ok with @patrickvonplaten's proposal, and thought it neatly solved everyones concerns. See: https://github.com/huggingface/diffusers/issues/845#issuecomment-1280541219

Patrick offers implementing 'blurred image' as a default, but I would rather the options be "enabled", "warn_only", "none", where:
- "on" == "black out images and give a boolean array indicating which ones were NSFW",
- "warn

[2022-11-15 03:14] adhikjoshi opened #1290 "DreamArtist : One-Shot Text-to-Image Generation For Diffusers"
**Is your feature request related to a problem? Please describe.**
There is new, One-Shot Text-to-Image for Texual Inversion

[Twitter Link](https://twitter.com/nearcyan/status/1591885331837898753)

There is implementation for Automatic1111, can we have same for diffusers?

[Github Code](https://github.com/7eu7d7/DreamArtist-stable-diffusion)

**Describe the solution you'd like**

DreamArtist for

[2022-11-15 05:45] ElliotQi commented on #463
@patil-suraj Hi, How is it going? There's an unofficial repo with much attention: https://github.com/Janspiry/Image-Super-Resolution-via-Iterative-Refinement

[2022-11-15 10:42] patil-suraj commented on #463
Haven't really started anything yet, thanks for sharing the repo.

[2022-11-15 10:45] patil-suraj commented on #551
Hey @thealanreis yes! Should look very similar to how it's done in the `StableDiffusionPipeline`. Would you like to take a shot at this ? Happy to help :)

[2022-11-15 10:54] patil-suraj commented on #1268
This is totally possible, for example in imagen they use cosine schedule for the first two model (base 64x64 and SR256x256) and linear schedule for the SR1024 model.  And in this case the pipeline can just have multiple schedulers, each with it's own setting.

[2022-11-15 10:55] G-force78 commented on #1265
I would like to know how to convert a ckpt for use with JAX and TPU in the flaxpipeline.

[2022-11-15 11:13] pcuenca commented on #1268
I agree it's useful for consistency. I've convinced myself that `from_pretrained` actually means "from this particular trained model repo".

---

I like the general approach a lot, it's more consistent and allows us to access configurations independently of weight loading. A couple of minor points.

[code]

Could we make it so the subfolder is optional? In this case we know we are loading a UNet c

[2022-11-15 11:43] patil-suraj commented on #1268
Not sure if it could be made completely optional, for example in case a pipeline has two unets (like in cascaded diffusion), we will need to provide the `subfolder` to specify which `unet` we want.

[2022-11-15 11:46] patil-suraj commented on #612
@patrickvonplaten I like the idea of passing multiple `generators`, but this could be still a bit complex for users. What about a think wrapper like this

[code]

[2022-11-15 11:49] G-force78 opened #1295 "Unable to run multiple prompts in stable diffusion fast jax.ipynb"
### Describe the bug

Adding multiple prompt lines as described in the blog https://huggingface.co/blog/stable_diffusion_jax

prompt_ids = pipeline.prepare_inputs(prompts)
prompt_ids = shard(prompt_ids)
images = pipeline(prompt_ids, p_params, rng, jit=True).images
images = images.reshape((images.shape[0], ) + images.shape[-3:])
images = pipeline.numpy_to_pil(images)
image_grid(images, 2, 4)

resul

[2022-11-15 11:53] #1207 closed

[2022-11-15 13:33] patrickvonplaten opened #1296 "Paella"
### Model/Pipeline/Scheduler description

Fast Text-Conditional Discrete Denoising on Vector-Quantized Latent Spaces

abs: https://arxiv.org/abs/2211.07292
github: https://github.com/dome272/Paella

t2i model requiring less than 10 steps to sample high-fidelity images

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if additi

[2022-11-15 14:19] nbanyan opened #1297 "train_dreambooth.py: Option to delete the previous step saves when using --save_interval to save google drive space."
Storage space can be an issue when training models, especially when using a Google collab and saving the model to a google drive so it isn't lost when the collab disconnects.  It would help if there was an option to delete the previous step saves (or only keep the most recent N saves).

Proposed Example:
[code]
Would save the model every 500 steps, but only keep the two most recent models, so that

[2022-11-15 15:02] #770 closed

[2022-11-15 15:03] #758 closed

[2022-11-15 15:03] #756 closed

[2022-11-15 15:53] NathanSiemers opened #1298 "Changes ~ 14 Nov 2022 have broken stablediffusionimg2img pipeline (at least mps, maybe more)"
### Describe the bug

A very recent update to diffusers has broken the stable diffusion img2img pipeline with the libs and archs below (mps).  Have not yet tested other architectures.  Likely from changes in pipeline_stable_diffusion_img2img.py .

I'm using nightly torch updates.  I rolled torch back from 14 Nov to 12 Nov (when I think the combination of diffusers and torch was working) and did no

[2022-11-15 16:00] NathanSiemers commented on #1298
image (hopefully not a dumb problem, but I've used it before with success).
![ihc](https://user-images.githubusercontent.com/10751479/201966732-a6d6eb92-3187-4143-bbe3-4324a8c60517.png)

[2022-11-15 17:15] #1268 closed

[2022-11-15 18:40] allo- opened #1300 "Examples contain hardcoded model names"
### Describe the bug

Commit [c18941b](https://github.com/huggingface/diffusers/commit/c18941b01ad0ea6b07d020f353d81153c632a374) introduced hardcoded model names in the example scripts. Most of them should probably be replaced by `args.pretrained_model_name_or_path`.

### Reproduction

Run one of the scripts with a model in a local folder and the commandline option `--pretrained_model_name_or_path

[2022-11-15 21:11] patrickvonplaten commented on #937
That's a very good question - we also ran into this problem with @anton-l :sweat_smile:

In short, for public PRs we don't test any models that require the auth_token verification. The reason here is that
Public PRs cannot have access to the GitHub secret token of our github repo which means that the PRs fail (please correct me if I'm wrong @anton-l)

 when we merge to "main", we always have acces

[2022-11-15 21:14] patrickvonplaten commented on #937
Honestly what I would do in your case is to clone the weights of stable diffusion under your repository on the Hub hf.co/invokeAI (you can do this easily with https://huggingface.co/spaces/osanseviero/repo_duplicator) and then not add a request access requirement there. Note that the CreativeML license doesn't force you to add a request access and 90% of stable diffusion models on the Hub don't ha

[2022-11-15 21:50] patrickvonplaten commented on #1300
Hey @allo-,

You are very right! Would you like to open a PR to change it ? :-) Otherwise happy to do it !

[2022-11-15 21:54] allo- commented on #1300
I don't think I can test all places from the commit.
In the other PR, the test suite seems to fail as well in code unrelated to my changes. At least I've got quite a few bot mails about it.

How is the test coverage for the places changed in this commit (and maybe the previous ones. I had a look at the history of textual_inversion to find when it changed)?

[2022-11-15 21:56] patrickvonplaten commented on #1232
@patil-suraj could you take a look here? :-)

[2022-11-15 22:00] keturn opened #1301 "method to prepare offline cache"
`.from_pretrained()` can work in offline mode by loading from the cache, but we lack a method to explicitly populate that cache.

I'd like something along the lines of `.cache_pretrained_for_offline()` that fetches all the files necessary for `.from_pretrained()` but doesn't actually load the weights.

Use cases would include:
- something you do in an installation step or a "prepare for offline us

[2022-11-15 22:01] patrickvonplaten commented on #1239
Interesting, I think this is actually not a very bad idea - @Wauplin maybe do you think this could make sense?

[2022-11-15 22:09] patrickvonplaten commented on #1214
Actually I just ran your code snippet:

[code]

and it works just fine

[2022-11-15 22:10] patrickvonplaten commented on #1161
Will try to help with the PR!

[2022-11-15 22:12] patrickvonplaten commented on #1176
Gently ping here again @patil-suraj :-)

[2022-11-15 22:48] karimul opened #1302 "NCSNPP checkpoint conversion script"
I tried to convert the cifar10 ncsnpp original checkpoint [here](https://drive.google.com/drive/folders/1b0gy_LLgO_DaQBgoWXwlVnL_rcAUgREh) to the diffusers model using `convert_ncsnpp_original_checkpoint_to_diffusers.py` but found an error:

`Traceback (most recent call last):
  File "convert_ncsnpp_original_checkpoint_to_diffusers.py", line 171, in <module>
    converted_checkpoint = convert_ncsn

[2022-11-15 23:35] MeixiChenTracy commented on #1062
@Revist
Hi, I'm pretty new to this so I might ask stupid questions, please forgive me:

I tried both implementations, and found this guy's implementation working far more stable than the implementation here, i.e. no annoying parameter tuning. Do you know why there's a difference like this?

Is it probably because he starts with a set of hyperparameters that already works generally well, so when I

[2022-11-16 00:28] virtualramblas commented on #782
This worked for me too on MacOS, Silicon M1.

[2022-11-16 01:36] zetyquickly commented on #1232
Let me clarify a little, there's no restarts

[2022-11-16 02:19] Pie31415 commented on #1290
Very interested in this issue. I would like to take this on with some guidance if possible :) .

[2022-11-16 03:28] StrugglingForBetter opened #1304 "How to train text guided image to image stable diffusion?"
This repository has https://github.com/huggingface/diffusers/tree/main/examples/text_to_image to do text to image training method? How to do image to image finetuning or training with text guided? Is there any example?

[2022-11-16 04:50] NathanSiemers commented on #1298
Discovered: Code fails with error when num_inference_steps is set to 1.
Succeeds when num_inference_steps > 1.
This is still a new bug, worrisome as diffusers docs recommend running a first num_inference_steps=1 step to make sure model is initialized properly on some architectures.  Probably a bug introduced recently by not properly handling the data structure of this special case.

[2022-11-16 07:29] patrickvonplaten commented on #1298
Does it work for num inference steps larger than 1then?

[2022-11-16 07:29] patrickvonplaten commented on #1298
Note that PNDM cannot work with just one inference step

[2022-11-16 08:47] cian0 commented on #1246
Same bug, I tried the fix here by changing the pytorch source directly and set allow fp16 = True , the training went through but the model only outputted black images

https://github.com/facebookresearch/fairscale/issues/834

[2022-11-16 09:09] patrickvonplaten opened #1305 "Direct Inversion: Optimization-Free Text-Driven Real Image Editing with Diffusion Models"
### Model/Pipeline/Scheduler description

https://arxiv.org/abs/2211.07825

Could be cool to try to build a pipeline with this :-)

### Open source status

- [ ] The model implementation is available
- [ ] The model weights are available (Only relevant if addition is not a scheduler).

### Provide useful links for the implementation

Will weights, code be open-sourced cc @adham-elarabawy maybe? :-

[2022-11-16 09:18] julien-c commented on #1239
this would be in `huggingface_hub` only (not through git) because there's no way to hook that into git command-line (AFAIK)

So not sure it would solve your use case @ghpkishore?

[2022-11-16 09:21] adham-elarabawy commented on #1305
Yes. Releasing diffusers-integrated codebase for the paper later this week.

[2022-11-16 09:26] Wauplin commented on #1239
Agree with @julien-c that such a method would be integrated in the `huggingface_hub` library. We could have a `accept_terms` method to display the relevant information and prompt for relevant details.

Currently the goal of a gated repo is also to share your contact information with the owner of the model: "_This repository is publicly accessible, but you have to accept the conditions to access it

[2022-11-16 10:52] ghpkishore commented on #1239
@julien-c yes, a solution where cmd interface for accepting terms is good enough. I understand the need for prior account setup to share info to model owners.  Will close this issue.

[2022-11-16 10:52] #1239 closed

[2022-11-16 11:31] patrickvonplaten opened #1308 "[Design discussion] Diffusers schedulers/samplers & 2nd Order Schedulers"
This issue is just used to collect PRs, issues, progress on 2nd order schedulers for Stable Diffusion as the community has asked a lot about this. We'll try to allocate time this or next week to think about a fitting API and will propose it here!

Currently, I'm most excited about the idea of "lying" about the timestamps in some sense as described here: https://github.com/huggingface/diffusers/pul

[2022-11-16 12:57] patrickvonplaten opened #1310 "K-Diffusion + Stable Diffusion Pipeline"
### Model/Pipeline/Scheduler description

It would be really nice to have a pipeline that integrates well with k-diffusion so that all schedulers be used out of the box will all checkpoints compatible with diffusers.

diffusers is starting to have many variations of stable diffusion but does not yet have all the samplers/schedulers of Katherine's amazing k-diffusion library. Would be cool to combi

[2022-11-16 15:03] #784 closed

[2022-11-16 15:04] #486 closed

[2022-11-16 15:25] gadicc commented on #1246
As per the linked issue above, I think the actual issue seems to be in PyTorch?

In [`PyTorch/torch/cuda/amp/grad_scaler.py#L279`](https://github.com/pytorch/pytorch/blob/c7a6be4b9c3aacea72db827877b169f465e41578/torch/cuda/amp/grad_scaler.py#L279) we have:

[code]

Here's are some relevant parts from [`_unscale_grads_`](https://github.com/pytorch/pytorch/blob/c7a6be4b9c3aacea72db827877b169f465e415

[2022-11-16 15:39] eeyrw opened #1314 "Meet error when enabling xformers on windows and doing loss backward"
### Describe the bug

Get error when I enable xformers of UNet and try to do backward:
[code]

### Reproduction

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.7.2
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.7.7
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Huggingface_hub version: 0.10.1
- Transformers version: 4.24.0
- Using GPU in script?: Yes
- Using distri

[2022-11-16 16:04] patil-suraj commented on #752
Sorry to be so late here, don't have much time to work on it at the moment, but will revisit next week. But if someone wants to open a PR to add this, would be happy to help :)

[2022-11-16 16:08] Pirog17000 opened #1315 "ImportError: cannot import name 'PIL_INTERPOLATION' from 'diffusers.utils'"
### Describe the bug

Hour ago been able to generate images. Now, I see this string in log.

### Reproduction

Basically, try to generate an image, like, NOW

### Logs

[code]
[code]

[2022-11-16 16:23] GreenLandisaLie opened #1316 "[ONNX] Support for nightly versions of the directml package"
Self explanatory title.
The latest nightly version has improved my inference speeds considerably and I know others who use it as well but currently it fails to import because import_utils.py does not list "ort_nightly_directml" as a onnx candidate.

[2022-11-16 17:13] hardik-a-joshi commented on #1315
getting same error

[2022-11-16 17:22] plambe commented on #1315
Me too, in a google colab notebook that worked 24 hours ago

[2022-11-16 17:27] patrickvonplaten commented on #1315
Sorry that's on me! Fixing with @pcuenca now

[2022-11-16 17:29] patrickvonplaten commented on #1315
Reverting the change now for all community pipelines sorry!

[2022-11-16 17:37] patrickvonplaten commented on #1315
https://github.com/huggingface/diffusers/pull/1317

[2022-11-16 17:41] leopoldmaillard opened #1318 "Right set of UNet hyperparameters when training DDPM"
Hi there !
I am currently training a DDPM model on a custom image dataset following the cool [unconditional_image_generation](https://github.com/huggingface/diffusers/blob/main/examples/unconditional_image_generation/train_unconditional.py) example script.

Since I don't have the compute to perform comprehensive hyperparameter tuning of my architecture, I was wondering if there are any common intu

[2022-11-16 17:44] pcuenca commented on #1315
Should be fixed now, can you please try again @Pirog17000, @stevenhales, @hardik-a-joshi, @plambe?

Sorry about that!

[2022-11-16 17:48] adhikjoshi commented on #1315
Everyone who had issue, reinstall new diffusers

pip install git+https://github.com/HuggingFace/diffusers.git

It will fix error,

[2022-11-16 17:49] plambe commented on #1315
It is fixed and thanks for the rapid reaction!

[2022-11-16 17:50] pcuenca commented on #1315
Actually, that should no longer be necessary after the fix in #1317 was merged. Can anyone please confirm that it works again?

[2022-11-16 17:50] pcuenca commented on #1315
@plambe awesome, thanks a lot!

[2022-11-16 17:55] adhikjoshi commented on #1315
works well, that was fast, really appreciate it.

[2022-11-16 17:59] keturn commented on #1308
My reaction to this is more "afraid" than "excited"!

Yes, it's an example of creative problem-solving to get around an external constraint. We could make it work. But how much easier would it be to read and document and test if we _didn't_ have that constraint?

You own the API here, the project is still young, nothing is set in stone. I'll stick my neck out here and say it's much easier to desig

[2022-11-16 18:05] #1315 closed

[2022-11-16 18:47] dblunk88 commented on #1140
Any updates on this and/or any help needed?

[2022-11-16 19:31] WASasquatch opened #1320 "Non-Half Float Compatible Models"
### Describe the bug

Is there a way to check if a model is compatible before Diffuses yells at me that it can't be in half-float? It'd be cool to just skip any model provided that isn't able to be loaded in such a way.

The main culprit seems to be Dreambooth models, which seem to be non-half float compatible. Since they're loaded just like any official model there doesn't seem to be a way to det

[2022-11-16 20:28] #863 closed

[2022-11-16 20:32] patrickvonplaten commented on #841
@teticio could you open a first draft PR maybe to show the design? I'm not 100% sure exactly how the inheritance problem looks like at the moment.

[2022-11-16 20:37] patrickvonplaten commented on #1197
That would be great @LordReigns !

[2022-11-16 20:37] patrickvonplaten commented on #1197
Let me know if you need help :-)

[2022-11-16 20:47] patrickvonplaten commented on #1249
Gently pinging @anton-l here

[2022-11-16 20:48] patrickvonplaten commented on #1251
Interesting! We did some bigger changes for cycle diffusion on `"main"` - could you maybe try again?

[2022-11-16 20:48] patrickvonplaten commented on #1251
Also maybe cc @pcuenca

[2022-11-16 20:51] patrickvonplaten commented on #1146
Ok I see, I guess yes you could encrypt neural networks, but that's probably very costly if you have to decrypt the model for every forward pass

[2022-11-16 20:58] patrickvonplaten commented on #1253
Hey @WASasquatch,

Could you please copy-paste a code snippet we can run and compare to? Loading a cached pipeline should not take 30 seconds. What might help is to pass `local_files_only=True` so that it never checks whether the config has been updates only (see here: https://huggingface.co/docs/diffusers/api/diffusion_pipeline#diffusers.DiffusionPipeline.from_pretrained.local_files_only(bool, )

[2022-11-16 21:07] patrickvonplaten commented on #732
Gently ping here @patil-suraj

[2022-11-16 21:07] #811 closed

[2022-11-16 21:09] patrickvonplaten commented on #1267
Hey @buttercutter,

Note that both repaint and karras_ve are not compatible with stable diffusion.

Would these docs maybe help: https://huggingface.co/docs/diffusers/main/en/using-diffusers/schedulers ?

[2022-11-16 21:19] patrickvonplaten commented on #1264
That's a very good question - it's actually a bug! Thanks for spotting it :-)
Here the PR that should solve it: https://github.com/huggingface/diffusers/pull/1322

[2022-11-16 21:20] patrickvonplaten commented on #1263
Hey @The-Ramosian,

Thanks for the issue, could you link a copy of a google colab here?

[2022-11-16 21:21] patrickvonplaten commented on #1260
DPMSolver is currently only available on `"main"` I'm afraid

[2022-11-16 21:22] patrickvonplaten commented on #1257
fair point! Would be ok with just using `image=...` everywhere. What do you think @pcuenca , @patil-suraj @anton-l ?

[2022-11-16 21:23] patrickvonplaten commented on #1254
Interesting! Maybe this could work: https://github.com/huggingface/diffusers/issues/1305 -> we should have it somewhat soon :-)

[2022-11-16 21:27] keturn commented on #1308
But what we've learned is that a single _epsilon_-prediction is not the most accurate or compute-efficient way to determine that prev_sample. More inputs can lead to better results. This seems well-supported in the literature now, from [DEIS] to [EDM] to [DPM-Solver], and borne out in practice with the recent success of DPM-Solver++ in Stable Diffusion image synthesis applications.

[code]
not qui

[2022-11-16 21:37] keturn commented on #1308
...wait what? transformers and diffusers have both very heavily adopted a convention of pipelines and models and other things being `__call__`able. Things get passed around to be called as functions _all the time._

[2022-11-16 21:53] #968 closed

[2022-11-16 23:37] borisdayma opened #1323 "Flax models cannot be loaded if they don't contain dtype"
### Describe the bug

When creating a flax model, `dtype` needs to be defined as a required arg for the model definition.

It should be possible to define them without a `dtype`, for example if the model wraps 2 submodules that require a different `dtype` (or don't require any at all).

### Reproduction

The below code returns an error:

[code]

If I define a fake key with `dtype` then the model c

[2022-11-17 00:07] innat commented on #1254
Wow, you're right. Though the pose of the target object is fixed but this is pretty close.

https://arxiv.org/pdf/2211.07825.pdf

![image](https://user-images.githubusercontent.com/17668390/202321890-977a384f-9451-4780-a1f3-30959485d8d2.png)

[2022-11-17 01:59] LordReigns commented on #1197
Thank you @patrickvonplaten . Let me look in to the related projects and the evaluate the tasks and I'll give you an update. Hope that's okay 😃

[2022-11-17 03:12] cian0 commented on #1246
To add, I also tried reverting the diffusers version, I am using Shivam's repo which is a fork of diffusers, he merged the latest version of diffusers which caused issues.

When I revert back to 15 days ago commit (when he hasn't merged yet), and downgrade my diffusers via pip, everything works again. Pytorch version never changed (v1.13.0) I also thought it was pytorch, I was supposed to downgrad

[2022-11-17 03:54] dahifi commented on #752
I'm testing this as we speak and very interested.

I'm using Dreambooth on Colab, training my first model and trying to figure out how to add to it. Seems like might involve generating checkpoint files and using that as the initial model for the next pass?

Right now I'm just re-running my first two attempts in a single concepts list, but I'll definitely need to be able to refine the model later a

[2022-11-17 08:32] WASasquatch commented on #1253
Yeah I do know about `local_files_only` but this is sorta unintuitive as it's basically really just `offline_mode=True` as you then can't download ***any*** models. So you have to manually disable to download a new model.

And to test simple

Install joblib
`pip install joblib`

And then dump a pipe and load it in a new python session (windows), or migrate the pipe to another system (same error, p

[2022-11-17 09:44] pcuenca commented on #1257
I agree, it's a good point and I'd rather standardize on `image` rather than `init_image`. @fboulnois would you like to open a PR with that? It's totally cool if you don't have time though :)

[2022-11-17 09:45] patrickvonplaten commented on #1308
I just noticed that I wasn't super welcoming in my message above :sweat_smile: - sorry! I really value your opinion - you've already shaped the design of the library twice clearly to the better and I should be more listening :-)

Also, it's a very important topic & fundamental design decision of the library, so it's good to discuss this from all angles.
Thanks for linking the papers - those are al

[2022-11-17 10:22] jpiabrantes commented on #1246
I was using Shivam's repo as well with the fork of diffusers.

[2022-11-17 10:29] pcuenca commented on #1251
Hi @GaidamakUA, thanks for reporting this.

It doesn't work for me either, but it does not return black images. This is what I get on `mps` for the image and mask taken from [this example](https://huggingface.co/docs/diffusers/api/pipelines/repaint):

![repaint](https://user-images.githubusercontent.com/1177582/202421697-0e5e2054-efca-4bfa-b1d7-0bbab7225d4b.png)

For reference, this is the result

[2022-11-17 10:39] hafriedlander commented on #1308
Passing the unet into the Diffuser Scheduler solves the specific problem of DPM2 & Huen not working properly, but it leaves other problems.

I'm currently working on expanding my UnifiedPipeline (which has been based purely on Diffusers) to work with both Diffusers Schedulers and k-diffusion samplers.

There are a few differences between the two:
- k-diffusion samplers expect a unet that returns p

[2022-11-17 11:43] pcuenca commented on #1308
I do appreciate abstracting away the complexities of ODE/SDE solving, and wouldn't be surprised if that was not the only paradigm that existed. Things like cold diffusion show that mathematical beauty is nice and convenient, but we are allowed to think in broader terms.

I was going to raise the issue of `predict_epsilon` too. To me those are the two points of contact between models and schedulers

[2022-11-17 13:25] gadicc commented on #1246
Ok thanks @jpiabrantes.  I'm able to reproduce consistently in pure `diffusers`.  It's been excessively difficult to track down... I admit I'm quite new to Python but this all just seems crazy.  I'll mention my findings so far, and maybe @patrickvonplaten can share some insight from his experience.

It seems the minute we switch from the `0.7.0.dev0` label to `0.7.0` we have this issue (and only c

[2022-11-17 14:51] patrickvonplaten commented on #841
Loading custom pipeline should now be much easier - sorry for being so late here. https://github.com/huggingface/diffusers/pull/1327 should be merged today!

[2022-11-17 15:00] vvvm23 commented on #1141
Nice, I'll close once merged :)))

[2022-11-17 15:06] patrickvonplaten commented on #1271
Hey @DevonPeroutky there seems to be a problem with your `torch` install.
Can you try to just import Pytorch?

[code]

[2022-11-17 15:37] anton-l commented on #1249
Adding yet another numpy-> torch cast to support those schedulers: https://github.com/huggingface/diffusers/pull/1328

@echarlaix and I are planning to introduce [IO binding](http://www.xavierdupre.fr/app/onnxruntime/helpsphinx/api_summary.html#data-on-device) to the pipelines to avoid all of this copying and casting of the tensors, which will considerably speed up GPU inference as well :)

[2022-11-17 15:37] #1249 closed

[2022-11-17 15:45] patrickvonplaten commented on #1272
Hey @spuliz,

Could you please provide a reproducible code snippet or command that we can run?

Thank you!

[2022-11-17 15:45] patrickvonplaten commented on #1273
cc @patil-suraj - could you take a look please? :-)

[2022-11-17 15:48] patrickvonplaten commented on #1084
Good catch @WASasquatch - thanks :-) Here a PR to fix it: https://github.com/huggingface/diffusers/pull/1329

[2022-11-17 15:50] patrickvonplaten commented on #1228
@patil-suraj should we maybe also update the diffusers examples?

[2022-11-17 15:52] muellerzr commented on #1228
BTW, on the current dev version of Accelerate (so on version 0.15.0 onward once released) there will be an `accelerate config default` command which will write a default config based on your system through the cli (and only accepts very few parameters, including fp16)

[2022-11-17 16:02] patrickvonplaten commented on #1276
I think you're very right here! That's a great catch :-)
Thanks to you inpaint should now work for all schedulers :heart:

https://github.com/huggingface/diffusers/pull/1331

[2022-11-17 16:05] #783 closed

[2022-11-17 16:18] patrickvonplaten commented on #1297
cc @patil-suraj

[2022-11-17 17:12] anton-l opened #1333 "[Community Pipeline] RePaint + Stable Diffusion"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-11-17 17:14] anton-l commented on #1213
To expand on @Revist's answer a bit: the `RePaint` pipeline only works for image diffusion, as opposed to latent diffusion (as in Stable Diffision). Combining the two would be an awesome community pipeline project! Opened an issue for it here: https://github.com/huggingface/diffusers/issues/1333

[2022-11-17 17:14] #1213 closed

[2022-11-17 19:10] kamalasubha opened #1335 "TypeError: OnnxStableDiffusionPipeline.__init__() missing 1 required positional argument: 'vae_encoder'"
### Describe the bug

Hi,
I tried ONNX Runtime for inference.  The code is,
`from diffusers import StableDiffusionOnnxPipeline
pipe = StableDiffusionOnnxPipeline.from_pretrained(
    "CompVis/stable-diffusion-v1-4",
    revision="onnx",
    provider="CPUExecutionProvider",
    use_auth_token=True,
)
prompt = "a photo of an astronaut riding a horse on mars"
image = pipe(prompt).images[0]`

**Error

[2022-11-17 19:28] patrickvonplaten commented on #1308
Here a design for the Heun scheduler **without** changing anything in the pipeline: https://github.com/huggingface/diffusers/pull/1336

I honestly think it's not that bad and probably better then adding the loop inside a loop logic.
Very curious to hear feedback

[2022-11-17 19:44] averad commented on #1249
@anton-l tested #1328 and verified the reported issue is fixed. Thank you!

[2022-11-17 20:15] averad commented on #1260
@WASasquatch use `pip install git+https://github.com/huggingface/diffusers.git`

[2022-11-17 20:56] hafriedlander commented on #1308
Comments here in or in the PR @patrickvonplaten?

I'm pretty sure this specific implementation will break img2img pipeline and other pipelines that index into the timesteps list, because they assume len(timesteps) === num_inference_steps. Easy fix (use len(timesteps) instead of num_inference_steps to calculate start offset), but does mean "no changes to pipeline" isn't true.

I don't mind it perso

[2022-11-17 20:59] keturn commented on #1308
I spent yesterday afternoon experimenting with refactoring the NVlabs [implementation] of [EDM] to see what Python interfaces would fall out of it. It splits apart in to a number of pieces in a way that lends itself fairly well to being able to document the individual pieces -- e.g. "here's the Variance Exploding noise schedule, and here's the Variance Preserving version" --  but when it comes to

[2022-11-17 21:00] WASasquatch commented on #1260
I've tried this, uninstalling, and even `pip install --upgrae git+
https://github.com/huggingface/diffusers.git` to be sure. Something must
not be being removed right with pip on windows or something. I even forked
the repo, from main, and replaced the files. 💁

On Thu, Nov 17, 2022 at 12:15 PM averad ***@***.***> wrote:

--
Sincerely,
*Jordan S. C. Thompson *

[2022-11-17 22:51] averad commented on #1260
That is really strange, pulling the diffusers repo using git should result in the scheduler being available. Did you verify the diffusers version is showing as 0.8.0dev0 using `diffusers-cli env`

Example:
- `diffusers` version: 0.8.0.dev0
- Platform: Windows-10-10.0.22621-SP0
- Python version: 3.10.8
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Huggingface_hub version: 0.10.1
- Transformers ver

[2022-11-17 23:31] #1264 closed

[2022-11-17 23:42] opetliak commented on #920
@thedarkzeno what did you use for pretrained_model_name_or_path ("runwayml/stable-diffusion-inpainting"?).
I'm trying to launch the code, but it looks like it fails with "with_prior_preservation mode"

[2022-11-18 00:46] averad commented on #1316
I tested the reported issue and was unable to get an error where import_utils.py gave an error that directml was not avalible.

1. pip install [ort_nightly_directml](https://pypi.org/project/ort-nightly-directml/) will result in an old version (Mar 20, 2022) of ONNX Runtime being installed. This will result in errors when attempting to generate an image.
2. Installing from the current [repo ](http

[2022-11-18 01:10] averad commented on #1335
I use the Onnx pipeline with an AMD Card following the steps [here](https://gist.github.com/averad/256c507baa3dcc9464203dc14610d674)

I replaced `provider="DmlExecutionProvider"` with `provider="CPUExecutionProvider"` and was able to generate an image using my CPU.

Note: You will need to go to https://huggingface.co/CompVis/stable-diffusion-v1-4 and accept the model use terms before attempting to

[2022-11-18 01:32] keturn commented on #1308
After reading your HeunDiscreteScheduler with the benefit of having looked at another implementation of the same thing so recently, I think I've caught a few bugs in my understanding and am starting to come around.

### keturn's bad assumptions

- **_model(x, t)_ makes a prediction for _t_next_:** FALSE. Neither `t_next` or `t - t_next` are any part of that equation. This part of the process isn't

[2022-11-18 01:44] lionel3 commented on #1214
@chinoll  Same issue with you, I fixed this by upgrading transformers from 4.19.2 to 4.24.0 .

[2022-11-18 03:36] averad commented on #1320
Are you loading directly from a ckpt file or from a folder?

Try checking the  `/
text_encoder/config.json` file. It contains `"torch_dtype": "float32",` or `"torch_dtype": "float16",` depending on the model type.

[2022-11-18 03:40] The-Ramosian commented on #1263
sure, here https://colab.research.google.com/drive/1dYH64Jc9qgfZlyDRUnl96v15FE0KxK3o?usp=sharing

[2022-11-18 05:08] MCRusher commented on #1335
Yeah I had to give it explicitly with

`encoder = OnnxRuntimeModel.from_pretrained(model / "vae_encoder", provider=provider, sess_options=so)`

Not sure why it doesn't automatically pull it like it does the other ones.

[2022-11-18 05:30] averad commented on #1335
If you have time can you run `diffusers-cli env` and post the output

[2022-11-18 05:40] averad commented on #1320
Try checking the / text_encoder/config.json file. It contains "torch_dtype": "float32", or "torch_dtype": "float16", depending on the model type.

Examples:

[stable-diffusion-v1-5](https://huggingface.co/runwayml/stable-diffusion-v1-5) - ([fp32](https://huggingface.co/runwayml/stable-diffusion-v1-5/blob/main/text_encoder/config.json)) ([fp16](https://huggingface.co/runwayml/stable-diffusion-v1-5/

[2022-11-18 06:34] kamalasubha commented on #1335
Hi,
Please find the output
- `diffusers` version: 0.7.2
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.10.2
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Huggingface_hub version: 0.11.0
- Transformers version: 4.24.0
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

[2022-11-18 07:08] tenpha commented on #1188
How fix this?

[2022-11-18 07:31] averad commented on #1335
@kamalasubha I was unable to duplicate the reported issue. Here are the steps I completed to attempt to replicate the issue:

1. pip install virtualenv
2. python -m venv sd_env
3. sd_env\scripts\activate
4. python -m pip install --upgrade pip
5. pip install git+https://github.com/huggingface/diffusers.git
6. pip install transformers onnxruntime onnx torch ftfy spacy
7. pip install onnxruntime-dire

[2022-11-18 11:32] #1276 closed

[2022-11-18 11:34] pcuenca commented on #1295
Hi @G-force78, there are two small errors in your modified code:

- The first prompt is missing a comma in the array. Therefore `prompts` is not an array with 8 items as intended.
- When you prepare the inputs, you need to do it on your array:

[code]

Hope that helps!

[2022-11-18 11:34] #1295 closed

[2022-11-18 11:56] teticio commented on #841
Hi @patrickvonplaten, the PR is ready to go here https://github.com/huggingface/diffusers/pull/1334, for when you have a chance to look at it.

[2022-11-18 12:01] patrickvonplaten commented on #1288
Hey @0xdevalias,

Thanks a lot for opening the issue! Just to better understand, what benefits does https://github.com/NVIDIA/TransformerEngine give besides 8-bit quantizition that we don't currently have with xformers: https://github.com/facebookresearch/xformers or other optimization libraries? :-)

[2022-11-18 12:07] patrickvonplaten commented on #845
Hey,

Yeah this issue spiraled a bit out.
So it's already possible to disable the safety checker as shown here: https://github.com/huggingface/diffusers/pull/815

Meaning the "none" option is covered.

Now what could make sense is to add a config attribute to the safety checker config here that is called:

`safety_mode="blurred"/"blocked"`

This can be implemented here: https://github.com/huggingf

[2022-11-18 12:10] patrickvonplaten commented on #1265
Hey @G-force78,

You need to first convert the .ckpt to a PyTorch diffusers checkpointhttps://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py:  and then you can load it with:

[code]

[2022-11-18 12:11] patrickvonplaten commented on #1265
To go from PyTorch => Flax I think there is an open PR here: https://github.com/huggingface/diffusers/pull/1241

We need some functionality for this. I think I can help with the PR next week

[2022-11-18 12:14] patrickvonplaten commented on #1212
Hey @binmakeswell,

Should we jump on a call to discuss? :-) I think we've reached out via email

[2022-11-18 12:16] patrickvonplaten commented on #612
Hmm, I don't fully understand why we would need to provide a function such as `randn` if one can pass multiple generators directly to `diffusers`?

[2022-11-18 12:22] patrickvonplaten commented on #1301
Hey @keturn,

Would it then maybe not just better to directly use the hugging face hub for this e.g.:

[code]

See docs here: https://huggingface.co/docs/huggingface_hub/main/en/package_reference/file_download#huggingface_hub.snapshot_download

Not 100% sure if I understand your use case here perfectly - let me know if you were looking for another solution!

[2022-11-18 12:28] patrickvonplaten commented on #1062
Hey @Revist,

Note that the dreambooth script is just an example - we cannot make sure it works perfectly well for every use case. The purpose of this example script is to teach / show the community how to do fine-tune the model with dreambooth - it is up to you to decide on your hyper-parameters (which BTW also depend always on your use case). There is no way we can provide "universally correct"

[2022-11-18 12:29] patrickvonplaten commented on #1232
@patil-suraj is pretty busy at the moment, could you maybe help us here by providing a reproducible google colab or code snippet?

[2022-11-18 12:30] patrickvonplaten commented on #1304
Hey @StrugglingForBetter,

We haven't found time to add a image-to-image fine-tuning example. Feel free to give it a try yourself - we'd love to host a image-to-image fine-tuning example :-)

[2022-11-18 14:12] nokunato commented on #1188
Not sure, tried but getting this new error after trying to download the inpaint model

new error: "ValueError: The component <class 'transformers.models.clip.image_processing_clip.CLIPImageProcessor'> of <class 'diffusers_modules.git.text_inpainting.TextInpainting'> cannot be loaded as it does not seem to have any of the loading methods defined in {'ModelMixin': ['save_pretrained', 'from_pretraine

[2022-11-18 14:24] thedarkzeno commented on #920
Hey guys, I didn't tested it extensively, but I've got some interesting results, like this:
![toycat](https://user-images.githubusercontent.com/45200346/202726222-f144b2c1-8bab-4c8a-a9f4-7139b1dccfdf.png)
It isn't perfect yet, but I'll see what I can do to make it better
@opetliak Yes, I used the runwayml/stable-diffusion-inpainting, the prior preservation is broken, but I'll try to fix it

[2022-11-18 15:02] #866 closed

[2022-11-18 15:03] patrickvonplaten commented on #1314
Uff this looks like a bug with the xformers installation. We're working at the moment at making it easier to install xformers - see: https://github.com/facebookresearch/xformers/pull/523

cc @patil-suraj @NouamaneTazi

[2022-11-18 15:04] patrickvonplaten commented on #1318
Maybe cc @anton-l ?

[2022-11-18 15:24] eeyrw commented on #1314
I built xformers with NVCC and Visual C++ 2019. But I also tested on Linux with xformers built with NVCC and GCC. I met same error.

[2022-11-18 15:32] pcuenca commented on #779
I think this was resolved in #1120.

[2022-11-18 15:32] #779 closed

[2022-11-18 15:51] chinoll commented on #1214
good!Problem solved

[2022-11-18 15:52] #1214 closed

[2022-11-18 16:22] jsw-zorro commented on #1284
Thanks!

[2022-11-18 16:22] #1284 closed

[2022-11-18 17:43] WASasquatch commented on #845
Two thoughts

None for the safety_checker yields warnings which must also be disabled.
Something that is unintuitive for a static system someone must set a
specific way themselves for that functionality.

A config attribute looks nice in theory, but most people do not instantiate
the safety checker, so it seems all this would be added to the pipe
creation, and mean editing all the pipes.

It might

[2022-11-18 19:29] keturn commented on #1301
That, but there are a [bunch of additional lines](https://github.com/huggingface/diffusers/blob/30220905c4319e46e114cf7dc8047d94eca226f7/src/diffusers/pipeline_utils.py#L446) in `Pipeline.from_pretrained` to set up the `allow_patterns` and `ignore_patterns`, and maybe some additional stuff for Custom Pipelines. And that's just for Pipelines, idk if the other objects with the `from_pretrained` inte

[2022-11-18 20:28] thisislance98 opened #1339 "Same seed produces different results"
### Describe the bug

Basically is you set the scheduler to EulerAncestralDiscreteScheduler and the custom pipeline to lpw_stable_diffusion you will get different images when you generate

### Reproduction

Here is a colab to reproduce the results
https://colab.research.google.com/drive/1ypHAf2TBWnvxkLJf08cSMko3r48WYNYn?usp=sharing

### Logs

_No response_

### System Info

I'm using colab with st

[2022-11-18 21:00] GaidamakUA commented on #1251
Still black
- `diffusers` version: 0.8.0.dev0
- Platform: macOS-12.6-arm64-arm-64bit
- Python version: 3.9.12
- PyTorch version (GPU?): 1.13.0.dev20221002 (False)
- Huggingface_hub version: 0.10.0
- Transformers version: 4.24.0
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>
Input
![in](https://user-images.githubusercontent.com/2983027/202801071-52bbe

[2022-11-18 22:41] averad commented on #1339
@thisislance98 you have to convert the seed to latents and pass the information into the pipe

https://huggingface.co/docs/diffusers/main/en/api/pipelines/stable_diffusion#diffusers.StableDiffusionPipeline.__call__.latents

[2022-11-18 23:41] averad commented on #1339
@thisislance98 have you tried generating the latents from the seed and passing it to the pipe?

[Stable Diffusion with Repeatable Seeds](https://github.com/pcuenca/diffusers-examples/blob/main/notebooks/stable-diffusion-seeds.ipynb)

[2022-11-19 04:14] GreenLandisaLie commented on #1316
I uninstalled all onnx related packages I had then installed the latest ort nightly directml package which I grabbed from here:
[https://aiinfra.visualstudio.com/PublicPackages/_artifacts/feed/ORT-Nightly/PyPI/ort-nightly-directml/overview/1.14.0.dev20221114003](https://aiinfra.visualstudio.com/PublicPackages/_artifacts/feed/ORT-Nightly/PyPI/ort-nightly-directml/overview/1.14.0.dev20221114003)

Wa

[2022-11-19 04:16] isamu-isozaki commented on #1290
@Pie31415 Nice! I might implement it in my fork so you can check that if you want. The main changes for this work seems to be

1. Using negative prompts too to learn what the image is not at the same time as the regular tokens
2. Using a discriminator instead of the noise loss

[2022-11-19 04:40] WASasquatch commented on #1320
It is the config checking that is causing the error, I believe. It doesn't have a fallback/ignore, and just throws the error.

[code]

[2022-11-19 05:58] WASasquatch commented on #1260
[code]

[2022-11-19 06:21] loboere opened #1340 "multiple gpu parallel for train dreambooth without cuda out memory"
I have 2 gpus and I would like to use both to train dreambooth without cuda out memory

They say that I should use nn.DataParallel , but I don't know where to put it

[2022-11-19 06:42] Pie31415 commented on #1290
@isamu-isozaki Hey, sounds good. Thanks for the first 2 points. Also, do you mind if we work on the issue together? I've just started learning about diffusers so my knowledge is a little limited. Would you possibly be able to give me some guidance or resources to get started?

[2022-11-19 07:00] Pie31415 commented on #1290
Also, this maybe a dumb question, but I'm assuming we're implementing a new pipeline with the 2 previously mentioned changes instead of model?

[2022-11-19 07:28] nathanielherman commented on #1333
Ooh I actually implemented this today https://github.com/huggingface/diffusers/pull/1341/files!

[2022-11-19 07:57] Bayern4ever-dot opened #1342 "Offline training"
I would like to the train diffusion model offline, can I download the pre-training model from the website in advance?

[2022-11-19 12:20] pcuenca commented on #1342
Absolutely! The easiest way, I think, would be to follow these instructions: https://github.com/huggingface/diffusers/blob/main/README.md#running-the-model-locally

You can pass your local folder to any of the training scripts in our examples folder.