[2022-11-19 14:55] isamu-isozaki commented on #1290
@Pie31415 For sure! I guess for resources maybe the textual inversion paper but I was thinking that we can copy the code from the textual inversion, and just make slight changes to do this job.
We might do our custom pipeline but pipelines are mainly for inference and not training. So I'm thinking first we make the training script-> pipeline.

[2022-11-19 15:00] isamu-isozaki commented on #1290
I can try setting up some code by the end of the day on my repo

[2022-11-19 15:39] allo- commented on #799
bump

[2022-11-19 15:52] allo- commented on #799
I still think it's useful

[2022-11-19 16:02] chinoll opened #1343 "Enable xformers by default"
**Is your feature request related to a problem? Please describe.**
Diffusers are too slow to train in the default case.

**Describe the solution you'd like**
If xformers is installed in the environment, xformers is enabled by default.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2022-11-19 16:56] Marcophono2 commented on #952
Eureka! Finally I got it!! :-) Thank you again for your valuable input, @C43H66N12O12S2 ! I switched bacj to Ubuntu and was able to encode xFormers with the sm 89 cuda cores there. Now my 4090 is runnning with impressing 42 it/s! I cannot stop watching it! As I have two of them and a 3090 as a third card in my computer I have no understanding about the sorrows of others here in Germany facing a co

[2022-11-19 17:12] Marcophono2 opened #1344 "attention.py only supports one GPU"
### Model/Pipeline/Scheduler description

Hello!

In attention.py the lines

[code]
use always gpu 1 ("cuda:0"). That is fine if there is only one gpu. But if you have > 1 gpu all gpus use the vram of gpu 1. At the end the performance of gpu 1 is decreasing with every additional gpu parking its load in the gpu 1 vram.

I found a solution for my three gpus in form of three different conda environme

[2022-11-19 18:36] C43H66N12O12S2 commented on #952
Great work!

You should test both with replaced cuDNN (8.6.0), as it’ll improve performance even with the 3090 (to a lesser degree compared with the 4090.)

However, Lovelace is simply a better architecture, with significant upgrades to the entire core. (L2, Tensor cores, even the shader cores), so it wouldn’t surprise me to witness the 4090 punching above its weight.

[2022-11-19 19:04] patrickvonplaten commented on #1154
Hmmm, what scheduler are you using? PLMS?

[2022-11-19 19:19] averad commented on #1316
Please share your system info with us. You can run the command `diffusers-cli env` and copy-paste its output below.

[2022-11-19 19:25] averad commented on #1340
@loboere are you referring to this pytorch [documentation](https://pytorch.org/tutorials/beginner/blitz/data_parallel_tutorial.html)

[code]

[2022-11-19 19:31] averad commented on #1281
@patrickvonplaten I believe @himmetozcan is referring to [Dreambooth training](https://huggingface.co/docs/diffusers/training/dreambooth#dreambooth-finetuning-example)

[code]

[2022-11-19 19:35] Marcophono2 commented on #1339
I can confirm that I have the same problem if using torch.bfloat16. The results are similar but different is details. I.E. the same lady in the same position but sometimes smiling, sometimes not. Or one time looking to the left, another time to the right. If using torch.float16 same seeds = same results. Also I am using the Euler(A) scheduler.

[2022-11-19 19:53] Pie31415 commented on #1290
@isamu-isozaki Thanks a lot for the help. Would you like to move this conversation to discord? I think it'll be more convenient for communication.

[2022-11-19 19:56] averad commented on #1339
@Marcophono2 can you share the code you are using to generate the image?

[2022-11-19 20:17] isamu-isozaki commented on #1290
@Pie31415 yup sounds good. My name's Chad Kensington on discord. I'm in the Huggingface discord server.

[2022-11-19 20:30] spuliz commented on #1272
Hey @patrickvonplaten

This happens when I launch Dreambooth from Google Colab.

export MODEL_NAME="CompVis/stable-diffusion-v1-4"
export INSTANCE_DIR="path-to-instance-images"
export OUTPUT_DIR="path-to-save-model"

accelerate launch train_dreambooth.py \
  --pretrained_model_name_or_path=$MODEL_NAME  \
  --instance_data_dir=$INSTANCE_DIR \
  --output_dir=$OUTPUT_DIR \
  --instance_prompt="a phot

[2022-11-19 20:33] averad commented on #1344
Quick Link:
[attention.py](https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/attention.py)

Code Referenced:
[code]

[2022-11-19 20:43] averad commented on #1343
Are you referring to Dreambooth training?

[2022-11-19 22:06] camenduru commented on #1343
@chinoll good idea 🤩 I am doing like this with colab maybe helps
[code]

[2022-11-19 22:59] camenduru commented on #1340
I am also curious 🤔
@loboere please try https://github.com/huggingface/accelerate
[code]

[2022-11-19 23:07] camenduru commented on #1339
maybe second pipe missing `generator=generator`
[code]

[2022-11-19 23:44] camenduru commented on #1344
hi @Marcophono2 I am using `from threading import Thread` for each gpu pipe maybe helps

idea:
[code]

[2022-11-19 23:55] 0xdevalias commented on #599
While I don't know the deeper specifics, the dreambooth examples in this repo seem to make use of accelerate, so hopefully that means it does work for training multi models?

[2022-11-19 23:57] loboere opened #1345 "train dreambooth with runway inpainting model"
Does anyone know a way to train dream booth with runway inpainting?

[2022-11-20 00:15] Marcophono2 commented on #1344
Hi @camenduru ! I also use threading in the same way as you described. But in this case the same attention.py file from the SD folder is used. And there you can only set one cuda.
By the way: Meanwhile I am on a Ubuntu with GUI. When I wrote the code I rent regualary a computer instance with 2 or 4 RTX 3090. But that were Ubuntu server setups and I really had problems at the beginning to not simpl

[2022-11-20 02:33] thisislance98 commented on #1339
@averad  I tried just the same latents in to text2img and am still getting different results

https://colab.research.google.com/drive/1ypHAf2TBWnvxkLJf08cSMko3r48WYNYn?usp=sharing

feel free to update the colab if you can get it to work

[2022-11-20 03:39] rorepmezzz commented on #1154
Do you mean for interference? For stable diffusion, I used DDIM. For diffusers, I just use default setting.

Below is what I do for diffusers:
`from diffusers import StableDiffusionPipeline
pipe = StableDiffusionPipeline.from_pretrained(repo_path)
pipe = pipe.to(device)
images = pipe(prompts, guidance_scale=7.5, num_inference_steps=50, seed=283).images`

[2022-11-20 04:46] GreenLandisaLie commented on #1316
[code]

[2022-11-20 07:50] camenduru commented on #1339
@thisislance98  try `generator = torch.cuda.manual_seed_all(seed)` or `generator = torch.cuda.manual_seed(seed)`

[code]

[2022-11-20 08:29] Bayern4ever-dot commented on #1342
I got it,thanks~

[2022-11-20 12:52] himmetozcan commented on #1281
I am sorry for the confusion. That is right, I am referring to the `num_class_images` parameter in the training script.

[2022-11-20 15:02] #805 closed

[2022-11-20 15:23] #669 closed

[2022-11-20 16:11] Abhinay1997 commented on #877
Hey team. Sorry it took a while. But here's the colab [notebook](https://colab.research.google.com/drive/1C4kFnods2MwyLgWLmuWAoqqtjcUBFkK9?usp=sharing) with my code. Need your help in figuring out how to cut down on memory issues. Currently it crashes for the scenario in the notebook ( 12 GB RAM ) Will try it out on Kaggle ( 16 GB RAM ) and see if it's any better.

[2022-11-20 17:21] vanakema commented on #599
Accelerate does overall I believe, but the DeepSpeed wrapper implemented does not

https://github.com/huggingface/accelerate/issues/253#issuecomment-1253231210

[2022-11-20 17:52] #1342 closed

[2022-11-20 18:23] patrickvonplaten commented on #1323
Thanks for opening an issue here @borisdayma!

Would you be willing to open a PR to fix it? :-)

[2022-11-20 18:34] patrickvonplaten commented on #1246
@patil-suraj could you please take a look here?

[2022-11-20 18:36] patrickvonplaten commented on #1228
Cool @patil-suraj could you please integrate / update this?

[2022-11-20 19:25] patrickvonplaten commented on #1335
cc @anton-l

[2022-11-20 19:39] patrickvonplaten commented on #841
Very cool, just reviewed it :-)

[2022-11-20 19:43] patrickvonplaten commented on #1263
Hey @The-Ramosian,

Could you instead use the following code snippet to import the safety checker:
[code]

-> tested this and it should work

[2022-11-20 19:44] patrickvonplaten commented on #920
Very cool!

[2022-11-20 19:45] #702 closed

[2022-11-20 19:46] patrickvonplaten commented on #507
Another ping @patil-suraj

[2022-11-20 19:46] patrickvonplaten commented on #411
@patil-suraj

[2022-11-20 19:47] patrickvonplaten commented on #1314
Could you maybe open an issue on the xformers repo instead? https://github.com/facebookresearch/xformers/pull/523

[2022-11-20 19:49] thedarkzeno commented on #1345
I have a PR with the code, you can test it if you want: https://github.com/huggingface/diffusers/pull/1091

[2022-11-20 19:52] patrickvonplaten commented on #1301
I see,

Hmm I'm currently not sure if it's worth adding a new function for this as it would force us to make a difficult design decision now ... -> do you think for now it'd be possible to just copy those lines of code?

It's a bit of an edge case for me at the moment - also considering that we don't have that kind of functionality yet for the much more used `transformers` code base: https://githu

[2022-11-20 20:15] thedarkzeno opened #1348 "Help replicating imagen"
Hello, I'm trying to replicate imagen using the diffusers library, so far I've trained the 64x64 unet, next I have to train the 256x256 model.
My question is, what is the best parameters for the second unet?

I am currently using the following configuration, but not yet getting good results

    _class_name="UNet2DConditionModel",
      act_fn = "silu",
      attention_head_dim= 16,
      block_ou

[2022-11-20 21:27] patrickvonplaten commented on #1009
Repinging @patil-suraj

[2022-11-20 21:53] Marcophono2 commented on #1339
Sure, @averad .
I found out that it's the combination of EulerA + xformer which outputs different images under same conditions, including seed of course. The differences are only visible in details. The hairs are a bit different or else. Have a look to the four attached images. Initially I thought that two of that images are identical. But indeed they aren't.
![16689800240610](https://user-images.

[2022-11-20 22:11] Marcophono2 commented on #1339
I made some more tests and could take notice that the differences decrease with increasing number of steps. That is surprising. I would have awaited a multiplication of the differences with every step. The very noisy image after step 1 is identical. But starting from step 2 there are differences. But after 250 steps there is only a very, very small difference in general noising left. But only if y

[2022-11-20 23:42] keturn commented on #1301
I can do that as a stopgap. This isn't on the "must have" list for the initial InvokeAI integration. But obviously "copy and maintain some code that involves internal details of model distribution that are usually encapsulated away" is not something anyone wants to do long-term.

I didn't expect this to come with a difficult design decision! But I guess it _does_ involve settling on a new method n

[2022-11-21 01:27] eeyrw commented on #1314
Let me consult them. But simpler test case that can reproduce same bug is better.  Do you have any suggestion?

[2022-11-21 02:36] buttercutter commented on #1267
@patrickvonplaten these 2 schedulers are listed in the huggingface link you just sent above. So, why are they not supported in stable diffusion ? I am not confused here.

[2022-11-21 03:14] 345ishaan opened #1350 "DiffusionDet: Diffusion models for object detection"
### Model/Pipeline/Scheduler description

Recent work which leverages diffusion models for object detection task. https://arxiv.org/abs/2211.09788

Add capability to run it through HF diffusers pipeline and if possible also create benchmarks or comparison on datasets like nuScenes.

### Open source status

- [X] The model implementation is available
- [ ] The model weights are available (Only rele

[2022-11-21 03:47] Justanetizen commented on #1335
I have the same problem if I try to use [wd-v1-3-full.ckpt](https://huggingface.co/hakurei/waifu-diffusion-v1-3/blob/main/wd-v1-3-full.ckpt) converted to onnx with this script [Convert Original Stable Diffusion to Diffusers script](https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py)

If I use https://huggingface.co/runwayml/stable-diffusion

[2022-11-21 04:44] osanseviero commented on #875
This is done now! 🔥

[2022-11-21 04:44] #875 closed

[2022-11-21 06:48] binmakeswell commented on #1212
Sure. @patrickvonplaten I just emailed(ybl@hpcaitech.com) you our available hours. Looking forward to our meeting and cooperation :-)

[2022-11-21 09:12] patrickvonplaten commented on #1320
Hey @WASasquatch,

Could you please provide a code snippet that shows how to reproduce your error?

[2022-11-21 09:16] CarlosMFerr commented on #937
thanks for the comment @keturn !

The license does not require the licensor nor the licensee to set gated access/tokens as a compulsory mechanism to comply with it (that's a complementary tool on top of the license to ensure users will read it and/or accept it). The license works as an open source or CC license, by using/distributing the model you accept the license and the license applies to you.

[2022-11-21 09:16] Marcophono2 opened #1351 "Where to save the model locally?"
I cannot believe that I really ask this but after two hours of research I didn't find a working way. I did it very often a few months ago but with my new setup - I am lost.
The only things which are different now are that I am using model 1.5 (before 1.4) and that I installed SD now with git clone. (before I downloaded the zipped source and installed it). So when the SD code was to find in the con

[2022-11-21 09:39] Line290 commented on #1153
Mark it

[2022-11-21 09:55] patrickvonplaten commented on #952
Interesting! Also cc @pcuenca here FYI

[2022-11-21 09:56] patrickvonplaten commented on #1272
cc @patil-suraj here

[2022-11-21 09:58] patrickvonplaten commented on #1343
I'm actually not opposed to enabling it by default in case it is correctly installed. So ok for me to maybe wrap `enable_xformers_..` into a `try ... except` statement. cc @patil-suraj what do you think?

[2022-11-21 09:59] patrickvonplaten commented on #1340
I strongly advise against using `nn.DataParallel`, even PyTorch doesn't recommend it using anymore. Instead one should use https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel instead

[2022-11-21 10:01] patrickvonplaten commented on #1344
Interesting, just to better understand - what exactly is the use case?
To use stable diffusion on multiple GPUs in inference? Or Training? Also are we talking about data parallelism (split batch over multiple GPUs) or model parallelism (split model layers over multiple GPUs)

[2022-11-21 10:21] Marcophono2 commented on #1344
@patrickvonplaten: Inference only. So I cannot split the job of creating an image. I only can create images simultanously on 3 GPUs. Independing from each other.

[2022-11-21 10:26] patrickvonplaten commented on #1154
I see, ok in diffusers you currently use PLMS/PNDM so the difference might come from this.

Could you try the following:
- 1. Merge this PR: https://huggingface.co/ringhyacinth/nail-diffusion/discussions/1
- 2. Run:
[code]

(Note you should be on "main" branch for this to work)

[2022-11-21 10:26] patrickvonplaten commented on #1316
cc @anton-l (maybe cc @mfuntowicz as well)

[2022-11-21 10:29] patrickvonplaten commented on #1281
@patil-suraj probably knows :-)

[2022-11-21 10:35] patrickvonplaten commented on #666
Gently ping @patil-suraj

[2022-11-21 10:52] patrickvonplaten commented on #1348
Good question! To be honest, I don't really know - does someone from the community maybe know? Also maybe gently pinging @lucidrains here

[2022-11-21 10:55] patrickvonplaten commented on #1339
That's very interesting! @Marcophono2, are you running the code always on the same device, same hardware, etc...?

[2022-11-21 11:01] patrickvonplaten commented on #1301
Just to better understand why doesn't it make sense to use the whole `from_pretrained(...)` function here? Is it just so that weights are not unecessarily loaded into RAM or also other reasons?
I guess it's also because you don't want to be dependent on the `token` later down the road?

Could another approach be maybe to just do:

[code]

This way the model will be loaded once into CPU but then re

[2022-11-21 11:05] patrickvonplaten commented on #1350
Model weights seem to be available as well no? https://github.com/ShoufaChen/DiffusionDet#models

[2022-11-21 11:11] patrickvonplaten commented on #1267
@buttercutter neither `RePaintScheduler` nor `KarrasVeScheduler` is stated on the doc page: https://huggingface.co/docs/diffusers/main/en/using-diffusers/schedulers -> note that you can always check all compatible schedulers with:
[code]

as explained here:
https://huggingface.co/docs/diffusers/main/en/using-diffusers/schedulers#changing-the-scheduler

[2022-11-21 11:19] Marcophono2 commented on #1339
Yes, @patrickvonplaten.

[2022-11-21 12:03] panenyaun opened #1353 "how to combine train_unconditional.py with LDMPipline"
### Describe the bug

how to combine train_unconditional.py with LDMPipline

### Reproduction

_No response_

### Logs

_No response_

### System Info

diffuser=0.6.0
python=3.8.12
pycharm

[2022-11-21 12:18] thedarkzeno commented on #1348
I think that we need to specify the number of resnet in each block and also the number of attention heads rather than the attention dim. This means that we would have to change the unet code, right?

[2022-11-21 13:09] askerlee commented on #895
@0xdevalias I don't feel that the implementation was complete/correct. For image sampling, the text embedding should be the interpolation of an optimized embedding and the target prompt embedding.

[2022-11-21 13:38] askerlee commented on #895
@0xdevalias It seems there is some issue with the implementation? In train(), the text embedding is optimized first. But prior to that, unet and text_encoder are set to disable BP:

        self.unet.requires_grad_(False)
        self.text_encoder.requires_grad_(False)

Does this mean there won't be valid gradients back propagated from the loss to the text embedding?
I'm not very sure. Thanks.

[2022-11-21 13:59] gadicc commented on #1246
Ok I'm not sure what's up with my setup, but I had much better luck inside a docker container using `git checkout` directly.  My sanity has returned and I've bisected the issue to this commit:

:tada:

[2022-11-21 14:07] gadicc commented on #1246
And indeed, passing `fast_load=False` to the `unet` loader (and only the unet) is enough to get this working (with slower loads of course).

[2022-11-21 14:33] gadicc commented on #1246
Ok, so, even with `fast_load=False` on the unet, this breaks again in:

Setting `low_cpu_mem_usage=False` on the unet fixes this one too, all the way up to the most recent commit on `main`:

So basically, currently possible to work around this issue with:

[code]

Ok, that's it from me for the day... sorry for all the traffic.  But I think this will be very helpful for @patil-suraj :sweat_smile:

[2022-11-21 14:33] patil-suraj commented on #1246
Thanks for the detailed issue, taking a look now.

[2022-11-21 15:03] #838 closed

[2022-11-21 15:03] #836 closed

[2022-11-21 15:03] #745 closed

[2022-11-21 15:17] patil-suraj commented on #1246
Okay, think I know where the issue is coming from.

The issue is that we are using fp16 weights to do mixed-precision training. When we set `mixed_precision="fp16"`, accelerate uses `torch.cuda.amp.autocast` to do mixed precision training, **note that this is not full fp16 training**.

From `torch.cuda.amp.autocast` [docs](https://pytorch.org/docs/master/amp.html#autocasting)

[code]

So what's ha

[2022-11-21 15:43] gadicc commented on #1246
Ah brilliant, @patil-suraj, thanks so much!  All makes total sense (and I guess I should have read that second commit a bit more carefully :sweat_smile:, so thanks for clarifying).  I'll leave the final call on which training weights to use to my users, but I think it will boil down to memory / speed / xformers (I got an xformers internal error trying to train with fp32, haven't tried yet on fp16

[2022-11-21 16:01] patil-suraj commented on #1246
what was the error ? I've been using `xformers` a lot for training, and only with fp32 and it works perfectly in my setup.

[2022-11-21 16:26] patil-suraj commented on #1272
@spuliz The warning can be ignored safely. For ease of use, we pass that argument directly when initializing the `Accelerator` object. cf https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py#L334

The launch command gives that warning, because the default value is `no`, but we later override it, so this can be ignored.

[2022-11-21 16:28] patil-suraj commented on #1272
Also, the argument `--mixed_precision` should actually be passed to `accelerate launch` instead of the script, but we will have to keep the current way as lots of users are already using it. cc @patrickvonplaten

[2022-11-21 16:43] Narsil opened #1358 "Safetensors support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Provide a way to share and distribute files which are not unsafe (in the pickle sense with pytorch https://twitter.com/amli_art/status/1593312723898552320 )

It's also leading to faster load times.

**Describe the solution you'd like**

-

[2022-11-21 17:11] patil-suraj commented on #1153
Going to update the script soon, I am getting good results with script now, see for example the [emoji model](https://huggingface.co/valhalla/emoji-diffusion?)

[2022-11-21 17:42] patrickvonplaten commented on #1310
@keturn, actually I had some time to look into it today: https://github.com/huggingface/diffusers/pull/1360

Could you try this?

[2022-11-21 18:05] patrickvonplaten commented on #1308
Here another implementation from @pcuenca : #1356

Both #1356 and #1336 are now functional and should work.

Happy to discuss which design fits better (now & in near / mid-term future)

cc @patil-suraj @pcuenca @anton-l

(maybe also cc @keturn )

[2022-11-21 19:29] keturn commented on #1301
_Mostly_ this, yes. It's a lot of RAM.

And also when you try to load fp16 weights without a CUDA device, it spams a lot of verbose warnings (probably one for each sub-model with weights) that I haven't found a clean way to suppress.

That'd be great for other reasons we've discussed, but is only tangentially related here. We have a requirement to make a self-contained installation for offline mod

[2022-11-21 20:58] GreenLandisaLie commented on #1335
@Justanetizen
The first script simply converts an original SD checkpoint to be compatible with diffusers. Its still a pytorch model hence the need to use the onnx converter script as you mentioned.

I believe 'revision="onnx"' will only work on models with a onnx branch and many do not have it - last time I checked - so the recommended approach for onnx should be to use the convert script.
One thi

[2022-11-21 21:10] jenkspt commented on #1348
@thedarkzeno are you training a super-resolution model for the "256x256" model?

[2022-11-21 21:54] averad commented on #1335
@Justanetizen [Convert Original Stable Diffusion to Diffusers script](https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stable_diffusion_to_diffusers.py) doesn't convert ckpt files to Onnx.

To covert a ckpt file to onnx you have to run [Convert Original Stable Diffusion to Diffusers script](https://github.com/huggingface/diffusers/blob/main/scripts/convert_original_stabl

[2022-11-21 21:58] GreenLandisaLie commented on #1335
StableDiffusionOnnxPipeline is deprecated, you should use OnnxStableDiffusionPipeline instead.
Also I'm unable to replicate this issue using an updated version of diffusers. Maybe this has already been solved?
It might also be worth trying to delete the model cache stored in ...\{USER}\\.cache\huggingface\diffusers\models--CompVis--stable-diffusion-v1-4 and re run the script to grab the whole thin

[2022-11-21 22:17] keturn commented on #1308
I like the design in #1356. Having some of my ideas about the scheduler shaken up _(duplicate timestamps???)_ got me thinking: What _is_ returned by `Scheduler.step()`?

It returns the next arguments to be evaluated by the model.

That's it, nothing more. The "steps" don't have to going in a straight line. We don't have to overload it with any more meaning than that.

This return value:
[code]
Mak

[2022-11-21 22:48] 0xdevalias commented on #895
@askerlee I don't know anything about the implementation, nor really used it. I just noticed the PR and figured I'd link it here

[2022-11-21 22:56] jenkspt commented on #1348
I guess my question is, are you passing in the low res conditioning image? Because I don't see that as an option for `UNet2DConditionModel`. I would expect you would need a subclass like so:

[code]
(this is untested)
One of the problems with this however is the sample has shape (B, 3, H, W), but the in_channels attribute will be 6

[2022-11-21 23:51] azuritecoin opened #1363 "[ONNX] Long prompt weight community pipeline rasies error when using LMS discrete scheduler"
### Describe the bug

When using ONNX with the custom pipeline `lpw_stable_diffusion_onnx` it raises a "unsupported operand" error. It's the same error as this other bug #967

### Reproduction

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.8.0.dev0
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.10.8
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Huggingface_hub ver

[2022-11-22 01:35] thedarkzeno commented on #1348
That is exactly what I am doing, I am adding the streched low res image in the extra channels, this way I have 6 channels in the input and 3 in the output. My problem is with the params of the unet like channel size in the blocks, number of attention heads and number of resnets

[2022-11-22 02:54] 980202006 opened #1364 "[Community] Is there a code for pre-training stable diffusion?"
This project works great. Is there a code for pre-training stable diffusion?

[2022-11-22 06:52] Cyberes commented on #1358
People are making the pickle issue a much bigger deal than it needs to be.

[2022-11-22 08:02] vvvm23 commented on #1350
@patrickvonplaten mind if I give this a try? This would be my first time contributing a model, so I might need a hand occasionally.

[2022-11-22 08:19] Narsil commented on #1358
You're right, it's not that important. /s

Just because you haven't been affected (to your knowledge) doesn't mean it's not real.
We have been receiving reports of actual attacks though, so no, it is a real threat in the wild. One that is easily fixed too.

[2022-11-22 08:32] 345ishaan commented on #1350
Sorry I forgot to assign the issue to myself while opening but was actually planning to look into this.

[2022-11-22 11:16] vvvm23 commented on #1350
Go for it! 🤗

[2022-11-22 12:35] #1272 closed

[2022-11-22 17:36] GreenLandisaLie commented on #1316
So I removed "ort_nightly_directml" that I've added to import_utils.py to check if I would still get that error  - and I did, here is the full traceback:
[code]
Some clarification that might be useful: As mentioned, I did not have onnx, onnxruntime or any other onnx packages before I installed this wheel: `ort_nightly_directml-1.14.0.dev20221114003-cp310-cp310-win_amd64.whl` grabbed from the link

[2022-11-22 20:14] pcuenca opened #1367 "Can't save configuration of scheduler initialized with custom `trained_betas`"
### Describe the bug

`trained_betas` is a numpy array, and it cannot be serialized to JSON. This makes it currently impossible to save the configuration of a custom scheduler that does not follow one of the predefined scheduler.

### Reproduction

[code]

[code]

### Logs

_No response_

### System Info

- `diffusers` version: 0.8.0.dev0
- Platform: Linux-5.4.0-91-generic-x86_64-with-glibc2.31
-

[2022-11-22 22:04] jonasdoevenspeck opened #1368 "img2img results in noisy image with low num_inference_steps"
I'm trying to make a video with the `StableDiffusionImg2ImgPipeline` but am encountering some unexpected behavior.
I generate the first frame by using the `StableDiffusionPipeline` with relatively many steps (e.g. 100). This frame is then slightly warped (e.g. rotation, translation, zoom). Next I feed the frame to `StableDiffusionImg2ImgPipeline` to slightly refine the warped image. The translated

[2022-11-23 08:42] 345ishaan commented on #1350
I am happy to collaborate if you want :) I have done it in the past and given I will be only working outside office-hours, things can move faster that way.

[2022-11-23 09:30] alicranck opened #1371 "Adding DreamBooth paper super resolution fine tuning"
I'm currently experimenting with the dreambooth training script, and while the results are very impressive, I think it is missing the super resolution fine tuning phase?

In the dreambooth paper they fine tune a low resolution diffusion model to link a rare token with some instance images (with or without class loss), and then on top of it fine tune a super resoltuion model on the same instace ima

[2022-11-23 10:11] #1262 closed

[2022-11-23 10:17] patil-suraj commented on #1314
This indeed seems like a build issue. We've been using `xformers` extensively for training now and haven't seen this error, can't reproduce on my end.

[2022-11-23 11:38] PatrickSVM opened #1372 "Training Unconditional Model on Images with different number of channels (!=3)"
Hey!

I would like to ask if you have any hints on training an unconditional diffusion model on a different number of channels. For example training it on grayscale images or even on 5-channel images. I tried it out on the [repo](https://github.com/openai/improved-diffusion) connected to the paper by OpenAi with my own data loader and I changed the variable `in_channels=1` instead of `in_channels=

[2022-11-23 12:43] patil-suraj commented on #1314
I was able to reproduce the issue when using `bfloat16`, it seems `bf16` is not supported for backward. But it should work fine with `fp32` and `fp16`

[2022-11-23 13:18] PatrickSVM commented on #1372
Okay got it. Just had to adjust the output channel sizes too, should work now.

[2022-11-23 13:18] PatrickSVM commented on #1372
Okay got it. Just had to adjust the output channel sizes too, should work now.

[2022-11-23 13:18] #1372 closed

[2022-11-23 13:19] eeyrw commented on #1314
Thank for your reproducing. But no luck to me. I tried different datatype then get same error when switching to float16 and new error to float32....
[code]

For convenience of reproducing, I make a more concise test case:
[code]

[2022-11-23 14:28] vvvm23 commented on #1350
Ordinarily I would say yes, but I don't think I can dedicate any time towards it until Tuesday at the earliest. So probably best for you to make a start yourself and if you have anything you want to hand off to me, I can chip in a bit 😅

[2022-11-23 15:03] #854 closed

[2022-11-23 15:03] #548 closed

[2022-11-23 15:31] OrionFive opened #1375 "PR #1365 broke importing diffusers"
### Describe the bug

When I try to import diffusers, I get the error below. The file causing the error is from PR #1365, which was merged today.

### Reproduction

[code]

### Logs

[code]

### System Info

On a colab notebook.

[2022-11-23 18:56] ki-arie commented on #1375
Stopgap: `pip install diffusers==0.7.2`

[2022-11-23 18:58] BlackDeveloping opened #1377 "ImportError: cannot import name 'CLIPVisionModelWithProjection' from 'transformers' (/usr/local/lib/python3.9/dist-packages/transformers/__init__.py)"
### Describe the bug

ImportError: cannot import name 'CLIPVisionModelWithProjection' from 'transformers' (/usr/local/lib/python3.9/dist-packages/transformers/__init__.py)
1 hour ago it worked nice.

### Reproduction

_No response_

### Logs

_No response_

### System Info

last, all, all

[2022-11-23 19:43] aablsk commented on #1377
Seeing the same issue. I suspect it's related to the new 0.8.0 release?

[2022-11-23 19:49] Mistobaan commented on #1377
seeing this too. Installing the version of transformers from github seems to work but definitely diffusers will need a new release:

```pip install git+https://github.com/huggingface/transformers.git```

[2022-11-23 19:50] aablsk commented on #1377
Can confirm that downgrading to 0.7.2 fixes the issue as well.

[2022-11-23 20:19] federicotorrielli commented on #551
Hello @patrickvonplaten, thanks for the hard work for the community. I love diffusers! What about [this PR](https://github.com/huggingface/diffusers/pull/506) tho? I would love to have a full compatibility with diffusers-interpret in the latest version and the changes does not seem that huge.

[2022-11-23 21:01] OrionFive commented on #1375
I suppose pipeline_stable_diffusion_image_variation.py  should fail gracefully if an unreleased model it is depending on is not available.

[2022-11-23 21:08] pcuenca commented on #1377
Thanks for reporting this! We are working on it, meanwhile please install `transformers` from github as @Mistobaan suggested above.

`pip install git+https://github.com/huggingface/transformers.git`

[2022-11-23 21:19] jonasdoevenspeck commented on #1368
@pedrogengo yes.
I first generate the following image with `StableDiffusionPipeline` (prompt is something with 'chess')
![000001](https://user-images.githubusercontent.com/28825134/203647521-eedc936d-ecb5-462c-8c13-a36adf03e5f7.png)
This image is then slightly zoomed (5% only) and fed into the `StableDiffusionImg2ImgPipeline` with the same prompt used the generate the initial image, `num_inference

[2022-11-23 22:33] plambe commented on #1377
I have the same issue; installing transformers from git works for me too

[2022-11-23 22:40] patrickvonplaten commented on #1377
Sorry about this! We working on a fix asap - we'll do a patch release in 30min

[2022-11-23 22:57] Warvito opened #1379 "Repeated operation in Transformer2DModel"
It looks like Norm operation is repeated in the Transformer2DModel.forward method in lines:

https://github.com/huggingface/diffusers/blob/f07a16e09bb5b1cf4fa2306bfa4ea791f24fa968/src/diffusers/models/attention.py#L203

and

https://github.com/huggingface/diffusers/blob/f07a16e09bb5b1cf4fa2306bfa4ea791f24fa968/src/diffusers/models/attention.py#L210

[2022-11-23 23:19] Warvito commented on #1379
Fixed in #1381

[2022-11-23 23:19] #1379 closed

[2022-11-24 00:11] anton-l commented on #1377
Fixed in a patch release `0.8.1`: https://github.com/huggingface/diffusers/releases/tag/v0.8.1
:warning: Please upgrade with `pip install --upgrade diffusers` or `pip install diffusers==0.8.1`

[2022-11-24 00:11] #1377 closed

[2022-11-24 00:12] anton-l commented on #1375
Fixed in a patch release `0.8.1`: https://github.com/huggingface/diffusers/releases/tag/v0.8.1
:warning: Please upgrade with `pip install --upgrade diffusers` or `pip install diffusers==0.8.1`

[2022-11-24 00:12] #1375 closed

[2022-11-24 00:13] patrickvonplaten commented on #1375
@OrionFive, you are 100% right - we really messed up this release. This should have not happened! Very sorry about this.

It's the first time we are depending on a unreleased version of a soft dependency (`"transformers"`) and have for some reason completely forget that most people are not working with the main version of "transformers", but the latest "pip version". Also because it's a soft depen

[2022-11-24 00:32] Limbicnation opened #1384 "NameError: name 'pipe' is not defined"
I'm trying to run the script bellow:
[code]

However, I get the following error:

[code]

Please help.

[2022-11-24 03:58] koutilya-pnvr opened #1387 "Issue with tokenizer"
### Describe the bug

ValueError: Unable to create tensor, you should probably activate truncation and/or padding with 'padding=True' 'truncation=True' to have batched tensors with the same length. Perhaps your features (`input_ids` in this case) have excessive nesting (inputs type `list` where type `int` is expected)

I see **None** at the end of list output from the tokenization process of the t

[2022-11-24 04:00] piEsposito opened #1388 "Come on, come on, let's adapt the conversion script to SD 2.0"
**Is your feature request related to a problem? Please describe.**
It would be great if we could run SD 2 with cpu_offload, attention slicing, xformers, etc...

**Describe the solution you'd like**
Adapt the conversion script to SD 2.0

**Describe alternatives you've considered**
Stability AI's repo is not as flexible.

[2022-11-24 04:40] averad commented on #1388
Quick Link: [Stable Diffusion 2.0](https://github.com/Stability-AI/stablediffusion)

[2022-11-24 04:42] devilismyfriend commented on #1388
trying to but likely I won't be able to do it lol

[2022-11-24 04:45] 0xdevalias commented on #1388
**Semi-Related:**

- https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/5009 [dupe]
- https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/5011

[2022-11-24 04:52] devilismyfriend commented on #1388
after looking at it I'm not sure it has anything to do with the script, seems like the u2net on diffusers needs to have 4 dimensions on the tensor size.

[2022-11-24 04:54] AugmentedRealityCat commented on #1388
So I guess this will take _time_...

[2022-11-24 05:07] devilismyfriend commented on #1388
maybe not, I'm not that knowledgeable on the subject but I assume a unet2D needs to be 4D, or maybe you can just artificially add it idk

[2022-11-24 05:20] walteryoung commented on #1388
whoosh

[2022-11-24 05:54] Limbicnation commented on #1384
@pedrogengo Thank you that worked! :)

[2022-11-24 05:54] #1384 closed

[2022-11-24 06:29] nandwalritik commented on #1296
Hi @patrickvonplaten Can I take this up if no one is working on it?

[2022-11-24 06:43] 0xdevalias opened #1389 "Refactor StableDiffusion example scripts to use Optimum / BetterTransformer optimisations"
**Describe the solution you'd like**

StableDiffusion example scripts are updated to make use of the Optimum / BetterTransformer optimisations.

**Describe alternatives you've considered**

That the examples can't be integrated, or that it won't provide a speedup/benefits.

**Additional context**
- https://huggingface.co/docs/optimum/bettertransformer/overview
  - > `Optimum` provides an integrati

[2022-11-24 08:14] tralala87 opened #1391 "Multiple prompts"
### Model/Pipeline/Scheduler description

Hi.

How to use:
from diffusers import FlaxStableDiffusionPipeline

pipeline, params = FlaxStableDiffusionPipeline.from_pretrained(
    "runwayml/stable-diffusion-v1-5", revision="bf16", dtype=jax.numpy.bfloat16
)

to generate multiple prompts instead of single one (prompt = "a photo of an astronaut riding a horse on mars")?

### Open source status

- [ ]

[2022-11-24 08:52] vvvm23 opened #1392 "Stable Diffusion 2"
### Model/Pipeline/Scheduler description

Perhaps you already have something in the works for this, but I couldn't see an existing issue for this.

Stable Diffusion 2 [just got released](https://stability.ai/blog/stable-diffusion-v2-release) on a separate [repo](https://github.com/Stability-AI/stablediffusion). There are a few variations including the base, depth2img, and inpainting models. Though

[2022-11-24 08:53] hafriedlander commented on #1388
https://github.com/hafriedlander/diffusers/blob/stable_diffusion_2/scripts/convert_original_stable_diffusion_to_diffusers.py

Notes:
- Only tested on the two txt2img models, not inpaint / depth2img / upscaling
- You will need to change your text embedding to use the penultimate layer too
- It spits out a bunch of warnings about vision_model, but that's fine
- I have no idea if this is right or not

[2022-11-24 09:16] averad commented on #1392
#1388

[2022-11-24 09:18] hafriedlander commented on #1388
Here's an example of accessing the penultimate text embedding layer https://github.com/hafriedlander/stable-diffusion-grpcserver/blob/b34bb27cf30940f6a6a41f4b77c5b77bea11fd76/sdgrpcserver/pipeline/text_embedding/basic_text_embedding.py#L33

[2022-11-24 09:47] averad commented on #1391
Which of the following are you attempting to do?
1. Generate multiple images using different prompts.
    * Example: Image 1 - Prompt "Portrait of a Cat, field of flowers, golden hour" Image 2 - "Painting of a Warship, battle, wartime, desktop wallpaper"
2. Generate one image using multiple prompts.
    * Example: prompt = Portrait of a Cat, field of flowers, golden hour

[2022-11-24 09:53] misbahsy commented on #1188
Getting the same error as commented by @nokunato . Any fix @NielsRogge ?

[2022-11-24 09:54] NielsRogge commented on #1188
Have you installed Transformers from source?

[2022-11-24 09:54] #1188 closed

[2022-11-24 10:02] devilismyfriend commented on #1388
doesn't seem to work for me on the 768-v model using the v2 config for v

[2022-11-24 10:04] misbahsy commented on #1188
yes, I did. Tried pip install, as well as, git install -
git+https://github.com/huggingface/transformers.git

Let me know if I missed something. Thanks.

[2022-11-24 10:07] NielsRogge commented on #1188
For me it runs fine, see also the code in app.py of this Space: https://huggingface.co/spaces/nielsr/text-based-inpainting

[2022-11-24 10:19] CoffeeVampir3 commented on #1388
Appears I'm also having unexpected argument error, but of a different arg:

Command:
[code]
Result:

│   737 │   unet.load_state_dict(converted_unet_checkpoint)

I can't seem to find a resolution to this one.

[2022-11-24 10:20] hafriedlander commented on #1388
You need to use the absolute latest Diffusers and merge this PR (or use my branch which has it in it) https://github.com/huggingface/diffusers/pull/1386

[2022-11-24 10:21] hafriedlander commented on #1388
(My branch is at https://github.com/hafriedlander/diffusers/tree/stable_diffusion_2)

[2022-11-24 10:22] patrickvonplaten commented on #1388
Amazing to see the excitement here! We'll merge #1386 in a bit :-)

[2022-11-24 10:26] hafriedlander commented on #1388
@patrickvonplaten the problems I've run into so far:
- attention_slicing doesn't work when attention_head_dim is a list (maybe you have a more elegant solution than that)
- tokenizer.model_max_length is max_long when using my converter above, so I use text_encoder.config.max_position_embeddings instead

[2022-11-24 10:45] patrickvonplaten commented on #1388
That's super helpful @hafriedlander - thanks!

BTW, weights for the 512x512 are up:
- https://huggingface.co/stabilityai/stable-diffusion-2-base
- https://huggingface.co/stabilityai/stable-diffusion-2-inpainting

Looking into the 768x768 model now

[2022-11-24 10:52] 0xdevalias commented on #1392
**Semi-Related:**

- https://github.com/Stability-AI/stablediffusion/issues/4
- https://github.com/Stability-AI/stablediffusion/issues/9
- https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/5009 [dupe]
- https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/5011
- https://github.com/db0/AI-Horde/issues/86
- https://github.com/JoePenna/Dreambooth-Stable-Diffusion/issues/112
- h

[2022-11-24 10:54] hafriedlander commented on #1388
Nice. Do you have a solution in mind for how to flag to the pipeline to use the penultimate layer in the CLIP model? (I just pass it in as an option at the moment)

[2022-11-24 11:01] 0xdevalias commented on #1392
---

---

---

---

[2022-11-24 11:10] patrickvonplaten commented on #1388
Can you send me a link? Does the pipeline not work out of the box? cc @anton-l @patil-suraj

[2022-11-24 11:12] hafriedlander commented on #1388
It works but I don't think it's correct. The Stability configuration files explicitly say to use the penultimate CLIP layer https://github.com/Stability-AI/stablediffusion/blob/33910c386eaba78b7247ce84f313de0f2c314f61/configs/stable-diffusion/v2-inference-v.yaml#L68

[2022-11-24 11:13] hafriedlander commented on #1388
It's relatively easy to get access to the penultimate layer. I do it in my custom pipeline like this:

https://github.com/hafriedlander/stable-diffusion-grpcserver/blob/b34bb27cf30940f6a6a41f4b77c5b77bea11fd76/sdgrpcserver/pipeline/text_embedding/basic_text_embedding.py#L33

The problem is knowing when to do it and when not to.

[2022-11-24 11:18] patrickvonplaten commented on #1388
I see! Thanks for the links - so they do this for both the 512x512 SD 2 and 768x768 SD 2 model?

[2022-11-24 11:18] hafriedlander commented on #1388
Both

[2022-11-24 11:19] hafriedlander commented on #1388
It's a technique NovelAI discovered FYI (https://blog.novelai.net/novelai-improvements-on-stable-diffusion-e10d38db82ac)

[2022-11-24 11:26] patrickvonplaten commented on #1388
Actually @patil-suraj solved it pretty cleanly by just removing the last layer: https://huggingface.co/stabilityai/stable-diffusion-2-inpainting/blob/main/text_encoder/config.json#L19

So this works out of the box

[2022-11-24 11:27] patrickvonplaten commented on #1388
Notice the difference between: https://huggingface.co/stabilityai/stable-diffusion-2-inpainting/blob/main/text_encoder/config.json#L19 and https://huggingface.co/laion/CLIP-ViT-H-14-laion2B-s32B-b79K/blob/main/config.json#L54

[2022-11-24 11:28] hafriedlander commented on #1388
Ah, nice. Yeah, that's cleaner.

[2022-11-24 11:49] averad commented on #1388
768x768 weights released:
- https://huggingface.co/stabilityai/stable-diffusion-2/tree/main

[2022-11-24 11:56] averad commented on #1392
## News

* Weights for the 768x768 model is up!
    - https://huggingface.co/stabilityai/stable-diffusion-2

* #1386 - by [patil-suraj](https://github.com/patil-suraj) and [patrickvonplaten](https://github.com/patrickvonplaten) has been merged into [--main](https://github.com/huggingface/diffusers/commits/main) by [patil-suraj](https://github.com/patil-suraj)

* [Weights for the 512x512 models are

[2022-11-24 12:47] kamalasubha commented on #1335
@averad I am able to replicate the same steps and able to generate the image. Thanks
But, every time the model is getting downloaded.
In order to avoid it, I downloaded the model and convert to onnx type as per the comments given by you.
[code]
When I am running with the above code,
`pipe = OnnxStableDiffusionPipeline.from_pretrained("./model_onnx", revision="onnx", provider="CPUExecutionProvider"

[2022-11-24 13:40] bprabhakar commented on #1314
Yep, getting the same error
[code]
when trying to run the train_dreambooth script in FP32 mode.

[2022-11-24 13:53] bprabhakar commented on #1314
@patil-suraj Can you you share which commit did you build xformers from?

[2022-11-24 15:44] hamzafar commented on #1388
Yes, stable_diffusion2 is working now. And the few lines of code to get inference is in here:
https://colab.research.google.com/drive/1Na9x7w7RSbk2UFbcnrnuurg7kFGeqBsa?usp=sharing

[2022-11-24 15:49] FahimF opened #1398 "Stable Diffusion 2 and Apple Silicon/MPS"
### Describe the bug

The diffusers code will run under Apple Silicon/MPS for Stable Diffusion 2.0 but the result is always noise. No images are generated.

Additionally, if you specify `pipe.enable_attention_slicing()`, then you get the following error — this is with the latest, dev source from the site and is not using the stable release.

[code]

### Reproduction

This is the script used:

[cod

[2022-11-24 15:53] hadaev8 opened #1399 "VersatileDiffusion doesnnt work get_down_block() got an unexpected keyword argument 'use_linear_projection'"
### Describe the bug

VersatileDiffusion raise error on init

### Reproduction

Run this
https://colab.research.google.com/drive/1AnW_Sn_BNo6FpIbmiyqY3jPQib__V9bo?usp=sharing

### Logs

[code]

### System Info

Whatever colab have

[2022-11-24 17:27] federicotorrielli commented on #1398
The same error happens on collab, when calling `...StableDiffusionPipeline.from_pretrained(...`

[2022-11-24 17:36] tralala87 commented on #1391
Generate one image using multiple prompts.
Example: prompt = Portrait of a Cat, field of flowers, golden hour

[2022-11-24 17:41] GreenLandisaLie commented on #1335
@kamalasubha
Don't use revision="onnx" - you are already calling from an onnx pipeline! And also you might want to install ort nightly directml and use DmlExecutionProvider instead of CPUExecutionProvider - it works on my RX 560 4G although it uses RAM as shared memory (which slows things quite a bit) to compensate the lack of VRAM - still 5 times faster than my CPU. If your GPU has 4G or more the

[2022-11-24 18:06] vvvm23 commented on #1392
From @pcuenca on the HF discord:

[2022-11-24 18:12] regisss opened #1403 "StableDiffusionSafetyChecker's non-voided images are not the same as without safety checker"
### Describe the bug

For a given pipeline, the non-voided images returned by the safety checker are different from the images we get with the same pipeline without safety checker.

It seems to come from the initialization of the `CLIPVisionModel` inside the `__init__` of `StableDiffusionSafetyChecker`. More specifically, this line in Transformers with `torch.randn` seems to be the culprit: https:

[2022-11-24 18:15] regisss commented on #1403
Edited the first post with hints about what may cause this issue.

[2022-11-24 18:33] devilismyfriend commented on #1388
I assume the convert diffusers to SD ckpt will need an update as well?

[2022-11-24 18:54] dblunk88 opened #1404 "CLIP Guided StableDiffusion V2"
### Describe the bug

When trying to use the CLIP guided pipeline with Stable Diffusion V2, it errors out

### Reproduction

See above

### Logs

[code]

### System Info

Colab

[2022-11-24 19:10] rabidgremlin opened #1405 "pipe.enable_attention_slicing() broken on main"
### Describe the bug

pipe.enable_attention_slicing() appears to be broken on main. Discovered when attempting to run SD 2.0 example code.

### Reproduction

Setup:
[code]

Code:
[code]

### Logs

[code]
[code]

[2022-11-24 19:12] #973 closed

[2022-11-24 19:13] misbahsy commented on #1188
Thanks for the link! Got it working by following the spaces implementation.

[2022-11-24 19:18] TheLastBen commented on #1388
Nope

[2022-11-24 19:24] rabidgremlin commented on #1405
Related issue #1398

[2022-11-24 19:28] kashif commented on #1405
Thank you @rabidgremlin for the report. I believe PR  #1397 is the fix for this.

[2022-11-24 19:32] kashif commented on #1398
Fixed by #1397

[2022-11-24 19:52] averad commented on #1404
model_index.json
[code]

[2022-11-24 21:18] averad opened #1407 "😱 PR #1395 causes ValueError expected 'feature_extractor' in Onnx Pipeline with SD 2.0 Models"
### Describe the bug

@patrickvonplaten

#1395 optional "feature_extractor" is not so optional. Issue when loading SD 2.0 Models as they contain:

[code]

### Reproduction

Install [Diffusers ](https://github.com/huggingface/diffusers/tree/cbfed0c25606a70b5c4faf819575b46267434847) from PR #1395
Convert stable-diffusion-2-base to Onnx

[code]

### Logs

[code]

### System Info
- `diffusers` version

[2022-11-24 22:28] Limbicnation opened #1409 "IndexError: list index out of range"
Hello, I get the error:

`IndexError: list index out of range`

when I run inference.py

[code]

I want to generate 10 images.

Pleas help.

[2022-11-24 22:32] pcuenca commented on #1405
Fixed by #1397 as @kashif said.

[2022-11-24 22:41] pcuenca commented on #1399
Fixed by #1400

[2022-11-24 22:41] #1399 closed

[2022-11-24 22:46] pcuenca commented on #1391
Hi @tralala87, I'm not sure I'm following. If you want to use the JAX implementation of diffusers to generate multiple images at once (for different prompts), I'd recommend you follow the steps in [this section of our blog post](https://huggingface.co/blog/stable_diffusion_jax#using-different-prompts) and try it out in the [associated colab notebook](https://colab.research.google.com/github/huggin

[2022-11-24 22:54] pcuenca commented on #1409
Hi @Limbicnation!

There are 2 ways to indicate the pipeline that you want to generate 10 images.

* Provide multiple prompts instead of just one:

[code]

* Use the additional argument `num_images_per_prompt` to request the number of images you want:

[code]

Either way, the pipeline will return in `images` a list with all the results, so you can then iterate to do what you want with them:

[code

[2022-11-24 22:54] #1409 closed

[2022-11-24 22:54] #1405 closed

[2022-11-24 22:57] tralala87 commented on #1391
I want to use all 8 tpu machines to produce 100.000 different images from 100.000 prompts and 100.000 seeds, 1 picture per 1 prompt with 1 seed. And not to have images joined into one big image.
As I understand, in [this section of your blog post](https://huggingface.co/blog/stable_diffusion_jax#using-different-prompts), one can only make one picture per 1 tpu machine and then all the images are j

[2022-11-24 23:12] rabidgremlin commented on #1405
Great. Have tested (by doing a `pip install --upgrade --force-reinstall  git+https://github.com/huggingface/diffusers.git` and can confirm that it is now working! Thanks

[2022-11-24 23:26] pcuenca commented on #1391
The images are joined together in the `image_grid`, just to visualize them in the notebook. If you don't want that, then you need to remove that line and do something else. For example, to save them to disk you'd do something like this:

[code]

Or course, you need to make sure that you have enough disk space to save them all, and that the filenames you choose are unique so they don't get overwrit

[2022-11-24 23:42] tralala87 commented on #1391
Thank you very much! Will try that.
"Or course, you need to make sure that you have enough disk space to save them all" --> Do I just write `output_dir ? = <folder name>` ?

[2022-11-24 23:43] richard-schwab commented on #952
@Marcophono2 I'm having the same error:
` 597 |     bool is_sm8x = dprops->major == 8 && dprops->minor >= 0;`

But it's while trying to compile xformers for the Stable Diffusion v2. Where did you add the line?

`pipe.enable_xformers_memory_efficient_attention()`

Thanks for any help you can give.

[2022-11-24 23:47] Marcophono2 commented on #952
@richard-schwab Directly before the pipeline creates the image. I am now on the wrong computer. If needed, I will copy you the related part later.

[2022-11-25 00:49] Limbicnation commented on #1409
@pcuenca that worked, thank you!

[2022-11-25 02:44] hadaev8 commented on #955
This still would be nice to have

[2022-11-25 04:49] hafriedlander commented on #1388
@patrickvonplaten how sure are you that your conversion is correct? I'm trying to diagnose a difference I get between your 768 weights and my conversion script. There's a big difference, and in general I much prefer the results from my conversion. It seems specific to the unet - if I replace my unet with yours I get the same results.

[2022-11-25 05:18] hafriedlander commented on #1388
OK, differential diagnostic done, it's the Tokenizer. How did you create the Tokenizer at https://huggingface.co/stabilityai/stable-diffusion-2/tree/main/tokenizer? I just built a Tokenizer using `AutoTokenizer.from_pretrained("laion/CLIP-ViT-H-14-laion2B-s32B-b79K")` - it seems to give much better results.

[2022-11-25 06:19] 0xdevalias commented on #1392
**More related:**

- https://github.com/huggingface/diffusers/issues/1398
- https://github.com/huggingface/diffusers/issues/1404

[2022-11-25 06:29] 0xdevalias commented on #1388
@hamzafar In one of the last cells (that sets up `EulerDiscreteScheduler`) the following warning is shown. I wonder if things would work differently/better if `ftfy` or `spacy` was installed alongside the other requirements?

[code]

[2022-11-25 06:36] hafriedlander commented on #1388
I've put "my" version of the Tokenizer at https://huggingface.co/halffried/sd2-laion-clipH14-tokenizer/tree/main. You can just replace the tokenizer in any pipeline to test it if you're interested.

[2022-11-25 06:38] 0xdevalias commented on #1388
@hafriedlander Given that is the official stabilityai repo, presumably noone here in huggingface/diffusers made it, and that was just what was released with SDv2?

[2022-11-25 06:43] hafriedlander commented on #1388
@0xdevalias not sure. @patrickvonplaten said that the penultimate layer fix was invented by @patil-suraj, who's a HuggingFace person, not a Stability person. Anyway, I'm not saying mine is correct or anything, just that, in the limited testing I've done, I like the result way more, and that's weird.

[2022-11-25 06:59] Line290 commented on #1153
Hi @patil-suraj ，
I tried to load `unet_with_ema` in `EMAModel` and `unet_without_ema` for fine-tuning, but the result remains terrible. Could you help me fix it? Thanks.

Here are my code snippets:
`
class EMAModel:
    """
    Exponential Moving Average of models weights
    """

    def __init__(self, parameters: Iterable[torch.nn.Parameter], device, dtype, decay=0.9999):
        parameters = l

[2022-11-25 08:52] patil-suraj commented on #1388
Thanks, will take a look. Also, could you post some results here so we could see the differences ? I'm compare the results with original repo and they seemed to match, I'll take a look again.

[2022-11-25 09:24] hafriedlander commented on #1388
The whole model seems very sensitive to style shifts.

https://imgur.com/a/dUb93fD is three images with the standard tokenizer. The prompt for the first is

"A full portrait of a teenage smiling, beautiful post apocalyptic female princess, intricate, elegant, highly detailed, digital painting, artstation, smooth, sharp focus, illustration, art by krenz cushart and artem demura and alphonse mucha"

[2022-11-25 09:31] patil-suraj commented on #1388
Thank you! Will also compare using these prompts.

[2022-11-25 10:14] patil-suraj commented on #1388
I noticed one difference, the original open_clip tokenizer that is used to train SD2 uses 0 as `pad_token_id`, while the `AutoTokenizer` that you posted uses 49407. So the current tokenizer matches the original implementation, we can verify it using the code below.

[code]

cc @patrickvonplaten

[2022-11-25 10:28] pcuenca opened #1413 "Implement v-prediction in all schedulers"
This would be nice to guarantee scheduler interoperability in Stable Diffusion 2. DDIM, DDPM and EulerDiscrete already support v-prediction, the following ones remain (from the list of compatible stable diffusion schedulers):

- [ ] EulerAncestralDiscreteScheduler
- [ ] PNDMScheduler
- [ ] LMSDiscreteScheduler
- [ ] DPMSolverMultistepScheduler

[2022-11-25 11:42] patrickvonplaten commented on #1407
Thanks a lot for the ping @averad - @anton-l if you have a minute could you check?

[2022-11-25 11:53] patrickvonplaten commented on #1403
Hey @regisss,

Actually this is expected since the random generator is forwarded when loading / initializing the model. The function:
`enable_full_determinism` should always be run **after** `from_pretrained` -> then the outputs should match.

[2022-11-25 12:12] anton-l commented on #1407
Adapted and reverted some of the changes from the linked PR: #1416
Thank you for reporting @averad!

[2022-11-25 12:16] patrickvonplaten opened #1417 "CPU offloading currently done in a hacky way."
### Describe the bug

It seems like `accelerate` doesn't yet support cpu offloading of modules that have single parameters such as:
https://github.com/huggingface/diffusers/blob/29021090614641d2509155ca0021497896228999/src/diffusers/pipelines/stable_diffusion/safety_checker.py#L44

which forces one to do the following: https://github.com/huggingface/diffusers/blob/2c6bc0f13ba2ba609ac141022b4b56b67

[2022-11-25 13:18] pcuenca commented on #1398
Both attention slicing and mps should now be fixed in `main`. Thanks againg to @Birch-san and @kashif for their work in #1410 and #1411!

[2022-11-25 13:18] #1398 closed

[2022-11-25 13:27] regisss commented on #1403
Thanks for the explanation @patrickvonplaten, it indeed solves this issue :slightly_smiling_face:

[2022-11-25 13:27] #1403 closed

[2022-11-25 13:28] FahimF commented on #1398
@pcuenca I couldn't get the solution by @Birch-san to give me a valid image at my end but I thought maybe I was doing something wrong. But I just updated the main branch on my machine and tried to generate an image using the same code above and I still don't get a valid image ... Here's the result I get ...
![test](https://user-images.githubusercontent.com/181110/203995361-011dcbe8-0eb5-44bf-8687-

[2022-11-25 13:35] kashif commented on #1398
I tried on a fresh install:

[code]

where:

[code]

and get:

![astro](https://user-images.githubusercontent.com/8100/203996749-4023cf90-8c84-464c-adfd-d29208d72487.png)

[2022-11-25 13:41] FahimF commented on #1398
I'm not sure what might be wrong at my end then, but I've been doing stuff since 2:00am and so might be missing something basic 🙂 Will try again tomorrow and post here if it's still the same at my end since I'm not sure what to look for in order to figure out what is going wrong ...

[2022-11-25 13:43] kashif commented on #1398
Not a problem yes I feel you! BTW I am on:

[code]

[2022-11-25 13:46] FahimF commented on #1398
I'm on that torch nightly version as well, so it's not that 🙂 And the StabilityAI version of the code works fine here. Just can't get diffusers to work but we'll leave it be for now. Not sure I can think straight any longer today 😃

[2022-11-25 13:51] #1407 closed

[2022-11-25 14:12] pcuenca commented on #1404
Fixed in #1414.

[2022-11-25 14:12] #1404 closed

[2022-11-25 14:34] universewill commented on #1068
Still get the error after execute 'pip install -U diffusers'

[2022-11-25 14:40] universewill commented on #1014
Is your problem solved?

[2022-11-25 14:55] ScottishFold007 opened #1422 "When I use CLIPGuidedStableDiffusion based on stable-diffusion-2, the generated result is incredibly bad, all mosaic."
### Describe the bug

When I use CLIPGuidedStableDiffusion based on stable-diffusion-2, the generated result is incredibly bad, all mosaic.

![image](https://user-images.githubusercontent.com/36957508/204010426-e0397b75-492a-490f-b1ae-3ef843507ebe.png)

### Reproduction

from diffusers import DiffusionPipeline
from transformers import CLIPFeatureExtractor, CLIPModel
import torch

model_id = r"C:\U

[2022-11-25 15:03] young-chao commented on #989
你好，你的邮件已收到，谢谢！

[2022-11-25 15:03] #867 closed

[2022-11-25 17:20] anton-l commented on #1388
`diffusers==0.9.0` with Stable Diffusion 2 are live! https://github.com/huggingface/diffusers/releases/tag/v0.9.0

[2022-11-25 17:21] Marcophono2 commented on #1392
And available in 0.9.0! Damn fast job, guys!

[2022-11-25 18:07] hamzafar commented on #1388
@0xdevalias I have generated images with and without ftfy. I can't observe any difference in the results:
https://colab.research.google.com/drive/1Na9x7w7RSbk2UFbcnrnuurg7kFGeqBsa?usp=sharing

[2022-11-25 18:58] patrickvonplaten commented on #1388
Sorry the warning is misleading and coming from `transformers` - you can safely ignore it. I'll try to fix it in Transformers

[2022-11-25 20:38] lk-wq opened #1427 "FlaxStableDiffusionPipeline.from_pretrained() fails to load SD-2"
### Describe the bug

I am unable to load SD-2 with FlaxStableDiffusionPipeline.from_pretrained(). FlaxStableDiffusionPipeline is unable to load SD-2 because FlaxStableDiffusionPipeline.from_pretrained() looking for an integer value for 'attention_head_dim', while the new SD-2 model config has a list of values for 'attention_head_dim'.

After making hacky modifications to accomodate the list of 'a

[2022-11-25 21:41] devilismyfriend opened #1429 "Dreambooth example on SD2-768 model is producing weird results"
### Describe the bug

Hi,
This only happens on the 768 model, the base and 1.5/1.4 are not affected as far as I can tell.

Here are the samples produced while training, it does generate properly before training takes place.
![image](https://user-images.githubusercontent.com/87043616/204057660-c8d51390-4c18-46d7-8e28-e25cc1d25b1f.png)

Any help would be appreciated

### Reproduction

Use the exampl

[2022-11-25 21:43] A-Polyana commented on #1014
maybe not

[2022-11-26 04:30] Abhinay1997 commented on #877
Success ! Able to run on Kaggle. Uses around 13GB RAM for merging Stable Diffusion and Waifu diffusion. I'll make a PR over the weekend. I have made the notebook public if anyone's interested.

https://www.kaggle.com/abhinaydevarinti/checkpoint-merging-huggingface-diffusers

[2022-11-26 05:18] thepowerfuldeez commented on #1429
I had the same issue when SD2 only came out. I believe it has something with v_prediction of 768 model. I tried to modify sampler in dreambooth training script but no luck here yet.
I've seen people already fine-tuning 512x512 base model

[2022-11-26 05:32] FahimF commented on #1398
After testing today, I can confirm that this works on my Apple M1 🙂 Thank you!

[2022-11-26 05:36] devilismyfriend commented on #1429
Yeah I'm also leaning towards the v_prediction, but I tried manually passing that into the noise scheduler and the sample generator scheduler and even tried different ones but no luck

[2022-11-26 06:59] john1089 opened #1433 "AttributeError: 'OnnxRuntimeModel' object has no attribute 'config'"
when i am trying to run stable-diffusion with onnx,there is a problem.it is like this:
Traceback (most recent call last):
  File "\txt2img.py", line 8, in <module>
    pipe = OnnxStableDiffusionPipeline.from_pretrained("./libs/stable_diffusion_onnx", provider="CPUExecutionProvider", safety_checker=None)
  File "\venv\lib\site-packages\diffusers\pipeline_utils.py", line 677, in from_pretrained

[2022-11-26 07:02] john1089 commented on #1433
put txt2img.py down here:
[code]

[2022-11-26 09:22] jinwonkim93 commented on #1140
Hi @patrickvonplaten . Are you planning to implement only prompt-to-prompt or general method for modifying layer? I think https://github.com/cloneofsimo/paint-with-words-sd is also very cool feature and does not require much of modification.

[2022-11-26 10:23] universewill commented on #1068
Do your problem solved?

[2022-11-26 10:46] qunash opened #1434 "[OOM] Memory blows out when trying to upscale images larger than 128x128 using StableDiffusionUpscalePipeline"
### Describe the bug

When trying to upscale images larger than 128x128 the progress goes to 100% and then crashes with CUDA OOM.

With 512x512 images it's trying to allocate **256.00 GiB**!

### Reproduction

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.9.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- PyTorch version (GPU?): 1.12.1+

[2022-11-26 17:32] alexjc commented on #1308
I've been using `diffusers` to experiment with various forms of texture synthesis, in particular trying to render up-to 4K by porting the best techniques from non-diffuser technology (see https://github.com/texturedesign/texturize).  I like that in `diffusers` there's a bunch of blocks (models, schedulers) that I can reuse and play around with.  Now I'm resorting to writing my own pipeline because

[2022-11-26 20:41] carson-katri commented on #1434
I can reproduce this on MPS as well. It didn’t crash but created a ton of swap.

[2022-11-26 20:44] kashif commented on #1434
Thank you for reporting this. The reason this happens is that your initial image is `512x512` and thus the latent representations end up being `512 x 512 x 512` in the decoding attention block which gets reshaped into batch, seq = `512 x 512` and channel = 512 and that obviously will not work.

A solution for now in the above code is to downsize the initial image to e.g.:

[code]

[2022-11-26 21:02] carson-katri commented on #1434
Thank you for the explanation, I thoughts this may be the case. Resizing the image to 128x128 would produce a 512x512 image, correct?

[2022-11-26 21:03] kashif commented on #1434
@carson-katri  Yes correct!

[2022-11-26 22:00] monophthongal commented on #1434
Any way to adapt the attention code to support larger images? The most common use case for this model would be upscaling outputs from SD.

[2022-11-26 22:02] carson-katri commented on #1434
The model may support xformers and attention slicing, which could help I assume.

[2022-11-26 22:05] kashif commented on #1434
@carson-katri correct you can try

[code]

and that should reduce some memory in exchange for a small speed decrease and enable larger inputs

[2022-11-26 23:14] averad commented on #1433
Where did you download stable_diffusion_onnx from or what steps did you follow to download the stable_diffusion_onnx folder?

[2022-11-27 02:21] krahnikblis opened #1438 "training fails with torch.float16 dtype - weights are deleted in train loop"
### Describe the bug

i'm using the "textual inversion" training notebooks/scripts. could never get the TPU setup in Flax working, but i blame google for that one - they need to keep up their evil "yeah we got paying beta testers buahahaha" game

in the pytorch one, if using torch.float16 data type, on the second iteration of the training loop, the text_encoder's weights somehow get reset, thus ma

[2022-11-27 04:14] john1089 commented on #1433
i downloaded it from huggingface:
`git clone https://huggingface.co/runwayml/stable-diffusion-v1-5 --branch onnx --single-branch stable_diffusion_onnx`

[2022-11-27 04:43] TheOneTrueGuy opened #1439 "when using diffusers and transformer: module transformers has no attribute FeatureExtractionMixin"
### Describe the bug

I'm trying to use diffusers alongside another package, CLIP Interrogator. When I install the dependencies for CLIP Interrogator my diffuser code goes kerplooie! and throws this error: module transformers has no attribute FeatureExtractionMixin

### Reproduction

a notebook with the code to replicate this behavior is here: https://colab.research.google.com/drive/1W3NS1_dMhlZNY

[2022-11-27 04:59] averad commented on #1433
Are you using diffusers 0.9.0?

[2022-11-27 05:03] john1089 commented on #1433
yes

[2022-11-27 08:45] kashif commented on #1439
Thank you for the report! I believe it is the `BLIP` requirement of Clip Interrogator that pins transformers to an older version from last December and thus can you kindly try to upgrade transformers and try?

[2022-11-27 09:53] adhikjoshi opened #1440 "Delete Cached Model"
### Describe the bug

Hi have been using diffusers, it works fine. after 10-20 model loading using

`from_pretrained("CompVis/stable-diffusion-v1-4"`

`from_pretrained("hakurei/waifu-diffusion"`
.
and tens of more,

what i found is saved model cache is building up, how can i remove a specific pre-trained model from disk? or all of cached models?

### Reproduction

_No response_

### Logs

_No resp

[2022-11-27 13:52] LuChengTHU commented on #1308
Hi guys,

Hope you are doing well. Happy to know that you all approve my implementation for the multi-step DPM-Solver & DPM-Solver++. I'm also thinking about the implementation of single-step high-order schedulers (such as single-step DPM-Solver) these days ---- Actually, the difference between single-step and multi-step solvers is not that big, and I think **we can unify them**!

Theoretically sp

[2022-11-27 15:03] #915 closed

[2022-11-27 15:03] #913 closed

[2022-11-27 15:03] #901 closed

[2022-11-27 15:03] #812 closed

[2022-11-27 15:03] #807 closed

[2022-11-27 15:11] un1tz3r0 commented on #1434
I'm working on a tile-based solution that runs the upscale model on small, overlapping patches of a larger source image and then merges them back into the full sized result. Much of the code is borrowed from realesrgan upscaler which supports this. Will try and publish code as soon as it's working

[2022-11-27 16:02] kamalkraj commented on #489
Hi,
The onnx fp16 model is taking ~17s per image, and the PyTorch fp16 is ~9s on T4 GPU.

@anton-l @patrickvonplaten

[2022-11-27 16:44] LuChengTHU commented on #1308
Hi guys @keturn @hafriedlander @patrickvonplaten @hafriedlander ,

I've implemented a pytorch version of single-step DPM-Solver in this PR: https://github.com/huggingface/diffusers/pull/1442

Is it good for you? Looking forward to further discussions!

[2022-11-27 18:45] TheOneTrueGuy commented on #1439
I changed the transformer install to the most recent version and still get the same result.

[2022-11-27 19:07] TheOneTrueGuy commented on #1439
swapped the transformer install so it followed the BLIP install and that changed the error. Now it's doing this:
![errors2](https://user-images.githubusercontent.com/3240071/204154790-c70206d3-f4e5-45d4-b6ac-c3c666647edd.PNG)
I'll see if the maker of CLIP Interrogator responds this time...

[2022-11-27 20:21] samedii opened #1443 "Let prediction type be a property on unet instead of the sampler"
**What API design would you like to have changed or added to the library? Why?**

I think the prediction type is a property of the unet since it describes what it is outputting. It would be nice if it was part of the unet config rather than the sampler. I am loading the different parts of stable diffusion v2 separately and having the prediction type in the scheduler was unexpected for me.

**What

[2022-11-27 20:29] jdluzen commented on #1387
I also have this when trying to run `convert_stable_diffusion_checkpoint_to_onnx.py`.

[2022-11-27 20:58] 0xdevalias commented on #1429
Related:

- https://github.com/TheLastBen/fast-stable-diffusion/issues/663

[2022-11-28 00:32] enzokro commented on #1429
Maybe related: I tried plugging in the example as-in from the dreambooth blogpost.

The DDIM scheduler is created with "epsilon" prediction. I believe it has to be "v-prediction".

This may be part of a larger family of issues that is making `diffusers` break with anything that isn't Euler sampling, at least for the 768 model

[2022-11-28 00:43] john1089 commented on #1433
ok,it was fixed

[2022-11-28 00:43] #1433 closed

[2022-11-28 02:31] liu6381810 opened #1444 "ImportError: cannot import name 'StableDiffusionSafetyChecker'"
### Describe the bug

`ImportError: cannot import name 'StableDiffusionSafetyChecker' from 'diffusers.pipelines.stable_diffusion' (/home/tiger/anaconda3/lib/python3.9/site-packages/diffusers/pipelines/stable_diffusion/__init__.py)`

### Reproduction

_No response_

### Logs

_No response_

### System Info

diffusers=0.9.0 python=3.9

[2022-11-28 03:45] carson-katri commented on #1434
I implemented probably the most simplistic form of tiling possible here: https://github.com/carson-katri/dream-textures/blob/aa0132b42dd14ddbf9491c13a7a46a01da2c880a/generator_process/actions/upscale.py

I’m sure there are much better approaches that would limit seams. Perhaps just tiling the latent decoding process? Not entirely sure. Looking forward to seeing the improvements that will be made i

[2022-11-28 03:59] devilismyfriend commented on #1429
nuh I'm talking about after trying to train it, getting it to just render works fine, after training it a bit it only produces the above examples, I did try passing v_prediticion manually using a few samplers.

[2022-11-28 06:47] averad opened #1445 "🐛 AttributeError in OnnxStableDiffusionInpaintPipelineLegacy in 🤗 Diffusers 0.9.0"
### Describe the bug

## ⚠️ Error: 'OnnxRuntimeModel' object has no attribute 'config'

- Diffusers 0.9.0
- OnnxStableDiffusionInpaintPipelineLegacy throws an AttributeError when loading.

### Reproduction

[code]

###test.png
![test](https://user-images.githubusercontent.com/640619/204210684-0ed32672-6b7c-4d48-ac3e-ad536f6e1c96.png)

###mask.png
![mask](https://user-images.githubusercontent.com/6

[2022-11-28 08:33] articulite commented on #1429
![image](https://user-images.githubusercontent.com/6879392/204230565-d944b3f8-236f-405e-a10e-73f73f091739.png)
indeed

[2022-11-28 09:56] patrickvonplaten commented on #1445
Uff that's a big bug indeed - @anton-l could you have a look here? Any ideas how to best access the model's config? Guess we should do a patch release for this

[2022-11-28 10:30] patrickvonplaten commented on #1308
The PR is very nice!

[2022-11-28 11:02] patrickvonplaten commented on #1351
Hey @Marcophono2,

Sorry to be so late to reply here.

Note that if you pass `"./stable-diffusion-v1"` it means that you're loading the model locally. Could you make sure that your local folder `./stable-diffusion-v1` has the correct format?

[2022-11-28 11:05] patrickvonplaten opened #1447 "[Announcement] Stable Diffusion v1-4/v1-5 have lifted gated access! => No need to be logged into hf.co anymore!"
https://huggingface.co/CompVis/stable-diffusion-v1-4
https://huggingface.co/CompVis/stable-diffusion-v1-3
https://huggingface.co/CompVis/stable-diffusion-v1-2
https://huggingface.co/CompVis/stable-diffusion-v1-1

are all no longer gated!

This means you don't have to be logged in to download the model. Just doing:

[code]

Will now always download the `"CompVis/stable-diffusion-v1-4"` no matter if

[2022-11-28 11:11] patrickvonplaten commented on #1353
Hey @panenyaun,

Note that `train_unconditional.py` is a simple example how to train a diffusion model from scratch. The idea is not to create an all-encompassing example to train/fine-tune all diffusion models. However we would be happy to add a new example script for `train_unconditional_latent.py` if you're interested!

[2022-11-28 11:13] patrickvonplaten commented on #941
@pcuenca is this still relevant?

[2022-11-28 11:17] patrickvonplaten commented on #1246
Thanks a lot for the nice repo @patil-suraj ! Let's fix this indeed :-)

[2022-11-28 11:38] anton-l commented on #1445
Thank you @averad! Missed the legacy pipeline when fixing this in other onnx pipelines for 0.9, catching up with this PR: https://github.com/huggingface/diffusers/pull/1448

[2022-11-28 11:42] patrickvonplaten commented on #1246
Here a PR to fix it: https://github.com/huggingface/diffusers/pull/1449

[2022-11-28 11:42] volpeon commented on #1429
The problem with the training script is that the loss calculation isn't adjusted for SD 2.0's v-prediction. If you look at this patch from a repo with working finetuning, there's this line:

https://github.com/smirkingface/stable-diffusion/commit/38e28e978f58355b6c47a12936dce08a68ea90d8#diff-c412907a30683069bf476b05c2a723954768c6ca975b49b7dc753d8f4956d1e8R263

I adapted it to my custom training sc

[2022-11-28 12:18] patrickvonplaten commented on #1301
I see! This PR could help a bit: https://github.com/huggingface/diffusers/pull/1450

However it still forces one to load the model into RAM but doing something like:

[code]

would be a simple fix for now. In the future we could factor out the whole downloading function. But since this function is still very prone to change and I don't see the use case of 0-RAM downloading the models as very impor

[2022-11-28 12:23] dzlab opened #1451 "Not able to run FlaxStableDiffusionPipeline example of CompVis/stable-diffusion-v1-4"
### Describe the bug

I'm not able to run the Flax pipeline example of [CompVis/stable-diffusion-v1-4](https://huggingface.co/CompVis/stable-diffusion-v1-4) on Colab with GPU enabled. I get this error
[code]

### Reproduction

I simply run the Flax example from the model page [CompVis/stable-diffusion-v1-4](https://huggingface.co/CompVis/stable-diffusion-v1-4).

First, I install dependencies like

[2022-11-28 12:23] anton-l opened #1452 "[ONNX] PyTorch IO binding for faster GPU inference"
**Context**

Currently [`OnnxStableDiffusionPipeline`](https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_onnx_stable_diffusion.py#LL34C7-L34C34) perform unnecessary tensor casting between torch and numpy. The downsides of that are:
* The pipeline code is harder to maintain: we have to keep track of which tensors are numpy, when they have to be con

[2022-11-28 12:27] patrickvonplaten commented on #1364
Hey @980202006,

Thanks for the nice words, we currently don't have a pretraining script for stable diffusion. Currently I don't think we have the time to support such a new script, but we would welcome any contribution from the community.

Also cc'ing @patil-suraj here FYI.

[2022-11-28 12:29] anton-l commented on #489
@kamalkraj the current ONNX pipeline design hurts GPU latency, so for now its main use cases are CPU inference and supporting environments which torch doesn't support (e.g. some AMD GPUs).
Opened an issue here if you'd like to improve GPU support: https://github.com/huggingface/diffusers/issues/1452

Other cause could be that our conversion to ONNX is not taking advantage of all of the optimizatio

[2022-11-28 12:34] patrickvonplaten commented on #1316
Gentle ping @anton-l

[2022-11-28 12:56] alexjc commented on #1308
@patrickvonplaten Yes, go broader rather than deep.  Stay flexible more than specialized.

I noticed yesterday than `k-diffusion` has wrappers for many libraries but not `diffusers`.  If I was you I'd look at why that's the case and what could have made it easier to wrap for `diffusers`.

[2022-11-28 13:24] LuChengTHU commented on #1308
I think one of the reasons is that `k-diffusion` uses a clean and easy wrapper for the whole solver. Maybe we can also wrap the schedulers into **one** file by using the above abstraction?

[2022-11-28 14:53] anton-l commented on #1316
Hi @GreenLandisaLie! Seems that `onnxruntime` is still not visible in your environment after installing `ort_nightly_directml`. Could you confirm that by running the following two snippets?

[code]

[code]

[2022-11-28 15:00] patrickvonplaten commented on #1308
Thanks for all the feedback!

For now, we would like to continue the design we have by going with #1336 . #1356 is also a nice design but has similar problems than #1336 and doesn't offer enough advantages in our opinion to change all the pipeline code.

However, we'd really like to continue the discussion here and potentially go for a major re-design if we have a clearly better design idea than w

[2022-11-28 15:03] #894 closed

[2022-11-28 15:03] #835 closed

[2022-11-28 15:03] #799 closed

[2022-11-28 15:03] #639 closed

[2022-11-28 15:03] #438 closed

[2022-11-28 15:04] #282 closed

[2022-11-28 15:04] #33 closed

[2022-11-28 15:41] anton-l commented on #33
I think we have support for all shapes now, agreed with the stalebot :)

[2022-11-28 16:27] patrickvonplaten commented on #1308
@alexjc note that we have wrapped k-diffusion in diffusers here: https://github.com/huggingface/diffusers/blob/main/examples/community/sd_text2img_k_diffusion.py

So this is essentially how it would look.

To me it all still boils down to the question that @keturn asked above:

- Should we wrap the model call into a `model_fn` that is handed over to the sampler or not?

My answer would still be: h

[2022-11-28 16:47] anton-l commented on #1335
@kamalasubha this issue should be fixed in `diffusers>=0.8`. Try installing the latest version, then this will work:

[code]

[2022-11-28 16:53] brosand opened #1456 "create demo notebook"
Create a demo notebook

[2022-11-28 16:54] #1456 closed

[2022-11-28 17:31] GreenLandisaLie commented on #1316
Hello @anton-l
The first returned:
[code]
(onnx shows because I had to 'pip install onnx' to be able to run the convert script)
The second returns:
`1.14.0`

So it seems your snippets detects onnxruntime just fine. So I tried this one with code I just copied from import_utils.py:
[code]
The result:
[code]
But when I added `, "ort_nightly_directml"` to candidates:
[code]

[2022-11-28 18:06] GreenLandisaLie commented on #1316
Thank you for looking into this and sorry for wasting your time on something that so far it seems I've been the only one affected with. Feel free to close this issue whenever you want.

[2022-11-28 18:15] anton-l commented on #1205
Hi @harishprabhala! Due to a protobuf size limitation in ONNX, there's currently no way to export 2GB+ of weights into a single `.onnx` file. You can still load the UNet with `onnxruntime` just fine, just make sure to keep `model.onnx` and `weights.pb` in the same directory :)

[2022-11-28 18:35] 88stacks commented on #1246
ran into this also!

[2022-11-28 19:00] WASasquatch commented on #1046
And don't you think that may have been a short sight in "community" development and usage through the API? It seems more intuitive for custom pipelines to be modules to a stable Diffusion pipeline. Which ever you have active by name, eg `lpw_stable_diffusion` would have a "`step_extension`" that is hooked into a main step function, like a override. That way you don't have to share components or co

[2022-11-28 19:45] samedii opened #1460 "Autoencoder scale values in config"
**What API design would you like to have changed or added to the library? Why?**

Would be nice to have some way of getting the appropriate scale value for the VAE like saving it in the config. It is now hardcoded in the pipelines.

I am referring to these two:
[code]

**What use case would this enable or better enable? Can you give us a code example?**

We could avoid hard coding this piece of in

[2022-11-28 20:01] akirchmeyer commented on #1422
Maybe related: https://github.com/huggingface/diffusers/issues/1429#issuecomment-1328385498
I got similar "mosaic" images while training a dreambooth model on SD v2, and this solved it for me.

[2022-11-28 21:46] articulite commented on #1429
Is this wrong? (train_dreambooth.py)

![image](https://user-images.githubusercontent.com/6879392/204387604-67775f6b-0fe4-4eb0-a36d-5526f6689316.png)

train_dreambooth.py:688: UserWarning: Using a target size (torch.Size([2, 4, 96, 96])) that is different to the input size (torch.Size([1, 4, 96, 96])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same

[2022-11-28 21:49] patrickvonplaten commented on #1451
@pcuenca could you maybe take a look here? :-)

[2022-11-28 21:53] devilismyfriend commented on #1429
it's wrong, diffusers just got updated with support for the 768 model, trying it now myself.

[2022-11-28 21:58] articulite commented on #1429
Nice!

https://github.com/ShivamShrirao/diffusers/commit/6c56f05097f7d3c561f02dc1c27e3dd7e9f88ce1#diff-ca2edb3e3367d27c6d26e14da0c9121c7247f0efd166eae35e2a6166d7ee2147

[2022-11-28 22:34] d8ahazard commented on #931
Maybe you can answer a question that's been bugging me since this was introduced.

Well, two, actually.

One: In the current iteration, the extraction for EMA says it's using one or the other. But it's actually renaming the EMA keys and adding them to the dict, then grabbing all the non-ema keys and writing them to the dict. I don't know if this overwrites anything, but the warning string says it'

[2022-11-28 23:43] 88stacks commented on #1447
nice, was this broken partially today, all my code that was normally working all of a sudden died on not being able to download CompVis/stable-diffusion-v1-4

[2022-11-29 00:24] zxydi1992 opened #1462 "StableDiffusionInpaintPipeline - unassigned variable bug when inferencing with multiple images and masks"
### Describe the bug

The `StableDiffusionInpaintPipeline` seems to support `torch.Tensor` as inputs. However, the code contains a bug that made the inference fail.

The bug is located at line 654 and line 675 in [pipeline_stable_diffusion_inpaint.py](https://github.com/huggingface/diffusers/blob/v0.9.0/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py)

Error message:

[2022-11-29 02:36] devilismyfriend commented on #1429
Seems like it's working fine
![image](https://user-images.githubusercontent.com/87043616/204424803-4ed3b1b9-c5db-4991-aa93-42b12a9fec0f.png)

[2022-11-29 02:57] articulite commented on #1429
What is your LR?

On Mon, Nov 28, 2022, 6:36 PM devilismyfriend ***@***.***>
wrote:

[2022-11-29 03:02] tralala87 commented on #1391
Any ideas how to solve this?
Much appreciated.

[2022-11-29 04:41] krishnaadithya opened #1463 "from datasets import load_dataset ModuleNotFoundError: No module named 'datasets'"
Traceback (most recent call last):
  File "train_text_to_image.py", line 17, in <module>
    from datasets import load_dataset
ModuleNotFoundError: No module named 'datasets'
Traceback (most recent call last):
  File "/usr/local/bin/accelerate", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/accelerate/commands/accelerate_cli.py", line 45, in main
    args.

[2022-11-29 05:02] devilismyfriend commented on #1429
5e-6

[2022-11-29 06:18] averad commented on #1463
Are you referring to the following code?

https://huggingface.co/docs/diffusers/training/text2image#finetuning-example

[2022-11-29 06:30] krishnaadithya commented on #1463
Yes, pip install dataset fixed it, but why is it not part of the main instruction?

[2022-11-29 07:06] HZQ950419 opened #1464 "Is it possible to use VersatileDiffusion for Seq2Seq generation training?"
Hi,

Thanks for the amazing project for diffusion models! I'm interested in Seq2Seq generation with diffusion models. Thus is it possible to use VersatileDiffusion model for Seq2Seq generation training? Or are you planning to add text-to-text generation pipeline in Diffusers?

Thanks!

[2022-11-29 09:37] leopoldmaillard commented on #1318
I guess this problem will be further addressed in the upcoming unit 2 _Fine-Tuning and Guidance_ of the [HF Diffusion Course](https://github.com/huggingface/diffusion-models-class) !

Also, @lewtun mentioned "When dealing with higher-resolution inputs you may want to use more down and up-blocks, and keep the attention layers only at the lowest resolution (bottom) layers to reduce memory usage." in

[2022-11-29 09:39] Dragollla opened #1466 "Dreambooth example is not compatible with Windows or MacOS"
### Describe the bug

Dreambooth example uses multiprocess DataLoader (`num_workers=1`) and it causes error when pickling `collate_fn` because it is not top-level function.

#### Workaround
Training works if I disable multiprocessing by removing `num_workers` from call to `torch.utils.data.DataLoader`

### Reproduction

try Dreambooth example on MacOS

### Logs

[code]

### System Info

diffusers

[2022-11-29 10:56] patrickvonplaten commented on #1447
The Hub might have been down

[2022-11-29 11:02] patrickvonplaten commented on #1440
Good question!

1. By default the models are cached under:
`"./.cache/huggingface/hub/"`
There the models cache directories are called according to their repo ids e.g. "models--CompVis--stable-diffusion-v1-4"
=> so to delete one model cache you can just delete the whole directory:
[code]

2. You can also define the cache_dir yourself to have better control over it:
[code]

3. Finally, we're also w

[2022-11-29 11:37] patrickvonplaten commented on #1367
Looking into it!

[2022-11-29 12:21] patrickvonplaten commented on #1371
Hey @alicranck,

Yes that's very true. Note however that the super-resolution doesn't need to be strongly conditioned on the text inputs, it's usually a separate model that performs quite well even if not conditioned on text.

We are currently working on adding a nice latent super resolution model here: https://github.com/huggingface/diffusers/pull/1321
Once that's added we can look into potential

[2022-11-29 12:23] patrickvonplaten commented on #1350
Also more than happy to help if needed :-)

[2022-11-29 12:34] patrickvonplaten commented on #551
Hey @federicotorrielli,

Thanks for the nice words!
Regarding "changes does not seem that huge" I must disagree a bit. The intro of the PR is:

In general, for each of these points it'd be nice to open a separate issue/PR.

In more detail:
- 3. and 5. are solved by now.
- 1. is a big change, but we could discuss this in a "feature request" issue
- 2. This will probably soon be possible (we need th

[2022-11-29 12:46] patrickvonplaten commented on #1368
Can only second @pedrogengo here, the `strength` parameter is way too strong

[2022-11-29 12:47] patrickvonplaten commented on #1379
Thanks for the issue @Warvito !

[2022-11-29 12:54] patrickvonplaten commented on #1389
I think we would like to add support for stable diffusion directly into Optimum cc @echarlaix

[2022-11-29 13:00] #1316 closed

[2022-11-29 13:21] federicotorrielli commented on #551
@patrickvonplaten thanks for the explanation. How can I help? Is there a possibility that, opening a feature request for point i and iv, would be implemented?

[2022-11-29 14:53] GaidamakUA commented on #1251
@pcuenca any chances for a fix?

[2022-11-29 15:04] #380 closed

[2022-11-29 15:28] ScottishFold007 opened #1473 "Can some of you help me look at my code?"
### Describe the bug

clip guided generates a very poor result，

![image](https://user-images.githubusercontent.com/36957508/204570860-3aad5c67-234a-4748-9720-7024d8eb8b64.png)
![image](https://user-images.githubusercontent.com/36957508/204570908-3572269e-be5f-4aac-8421-40078c691b67.png)
![image](https://user-images.githubusercontent.com/36957508/204570946-22e9ceaf-cb3b-4bed-b2e9-b9958712ce48.png)

[2022-11-29 15:30] ScottishFold007 commented on #1422
I tried this solution, but found that the problem was not.Maybe：
`    @torch.enable_grad()
    def cond_fn(
        self,
        latents,
        timestep,
        index,
        text_embeddings,
        noise_pred_original,
        text_embeddings_clip,
        clip_guidance_scale,
        num_cutouts,
        use_cutouts=True,
    ):
        latents = latents.detach().requires_grad_()

[2022-11-29 18:52] WASasquatch commented on #1188
This pipeline needs a lot of work.

1) It should not change a input image filling it in with black to make it 1:1. If it needs to do that to obtain the masks, that's fine, but should be returned to input aspect ratio and size.
2) The entire image is being altered by diffusion, not just the mask areas, so faces, hands, scenery gets messed up and looks bad.
3) Masks are interpreted with blocks which

[2022-11-29 18:53] hamzafar opened #1475 "training sd with dreambooth/textual inversion with two different class of images"
### Describe the bug

Hi,

I am following stable diffusion training with the dreambooth example at local machine. Although the following link gives every details about training sd, however I am unable to identify utilizing this example when I have two or more different classes of images.:
https://github.com/huggingface/diffusers/tree/main/examples/dreambooth#training-on-a-16gb-gpu

 For example, I

[2022-11-29 19:27] victorchall commented on #931
Just to put a bug in the team's ear and add a +1 here, I'm working on more general case fine tuning projects (as opposed to dreambooth) and it would be appreciated to have the control over both weight sets in general as I experiment with diffusers and test different techniques.  Thanks!

[2022-11-29 19:47] pcuenca commented on #1451
Hi @dzlab!

Unfortunately there's an error in the model card you linked to – it assumes that there are 8 devices available (which is the case for Google TPU Colabs, but not for GPU-backed ones). I'll fix it immediately.

For your code example to work, you need to replace this line:

[code]

with this one:
[code]

`jax.device_count()` obviously returns the number of available jax devices, which in

[2022-11-29 19:47] #1451 closed

[2022-11-29 19:58] pcuenca commented on #1427
Hi @lk-wq, thanks for writing!

The changes in the flax branch have already been merged into `main`, and the weights have also been pushed to the Hub so you don't need to convert them on the fly. This is how you'd go about using Flax with Stable Diffusion 2

* Install diffusers from `github`:

[code]

* Create the pipeline as follows:

[code]

Please, let us know if that works :)

[2022-11-29 19:58] #1427 closed

[2022-11-29 20:02] pcuenca commented on #1391
Hi @tralala87, the number of prompts you supply must be a multiple of `8`. This is because that's the number of devices in a TPU computer, as you mentioned in one of your comments above. `shard` will distribute the prompts among all the available devices, but it won't know how to do it if they are not divisible by 8.

[2022-11-29 21:42] vvsotnikov commented on #1388
Hi, I'm using diffusers==0.9.0 and xformers==0.0.15.dev0+1515f77.d20221129, and for me, xformers makes SD 2.0 roughly x1.5 **slower** with xformers than without it (while it indeed saves some VRAM). At the same time, SD 1.5 runs about x1.5 faster with xformers, so it's unlikely that there's something wrong with my setup :) Is it a known issue? Here are some code samples to reproduce the issue:
[co

[2022-11-29 21:46] alfredcs opened #1477 "RuntimeError: CUDA error: CUBLAS_STATUS_INVALID_VALUE when calling `cublasGemmStridedBatchedExFix...`"
### Describe the bug

The error was thrown when executing the following codes on SD V2  inpainting . It works fine on  SD v1. My cuda and torch version are listed below.

[code]

### Reproduction

[code]

### Logs

[code]
[code]
$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Thu_Nov_18_09:45:30_PST_2021
Cuda compilation tools, release 11.

[2022-11-29 22:06] zookae opened #1478 "StableDiffusionUpscalePipeline cannot handle more than 1 image output"
### Describe the bug

Using the `StableDiffusionUpscalePipeline` when called to output more than one image will crash. This occurs when using the `num_images_per_prompt` parameter or providing lists with multiple elements for the `prompt` and `image` inputs. Looks like some part of the logic for preparing the image and latents is not properly using the input batch size.

### Reproduction

Using th

[2022-11-30 00:00] alfredplpl commented on #1388
Hi @hafriedlander ,
Your conversion script is really nice!

It is helpful for me to fine-tune the SD 2.0 model.
However, I find two weird things.
1. the max_length of tokenizer is too big such as 1000000000000000019884624838656. I fix it by hard coding temporally.
2. The output of the converted model and the one of the original model are very different.
Please tell me about these things if you are

[2022-11-30 01:35] reimager commented on #183
Maybe I'm misunderstanding, but I don't understand how #188 helps 'swap' a scheduler in an existing pipeline.
It appears just to allow the caller to specify a scheduler at the time the pipeline is created, but doesn't seem to provide any way to be swapped out later.

But my reading above is that the code in the original post:

`
scheduler = DDIMScheduler(...)
pipe.scheduler = scheduler
`

is OK an

[2022-11-30 01:42] #1440 closed

[2022-11-30 02:56] keturn opened #1479 "DummyObjects are impeding PyCharm"
I'm subclassing StableDiffusionPipeline (because it seems like that's the intended way to make a DiffusionPipeline that is still able to take advantage of StableDiffusionPipeline's methods to enable attention slicing, decode latents, etc.), and I've noticed a distinct lack of help from the IDE when it comes to attributes and arguments that I _know_ this class has.

I think that's because when I hi

[2022-11-30 03:19] keturn opened #1480 "`deprecate` should point to the usage of the deprecated thing"
This warning message:

does not tell me anything about where the offending usage of `from_config` is taking place.

It should probably be using the `stacklevel` argument to [`warn`](https://docs.python.org/3.9/library/warnings.html?highlight=stacklevel#warnings.warn) so it doesn't just point to a line in your `deprecate` function all the time.

[2022-11-30 03:38] keturn commented on #1479
It's actually worse than that, it seems PyCharm _assumes_ the one higher-up in the namespace is the right one, why _wouldn't_ it be? so it doesn't even give me the _option_ of picking the right one. I have to manually correct it.

[2022-11-30 04:07] 345ishaan commented on #1350
@patrickvonplaten Plan to run through their code this weekend in inference mode. Let me know if you have a task checklist in your mind which i should be following. Happy to split up if needed.

[2022-11-30 05:13] vvsotnikov commented on #1479
+1, this negatively affects my performance as well :( The workaround I'm currently using is to provide an implicit type hint upon an instantiation of a pipeline:
![image](https://user-images.githubusercontent.com/21967926/204712966-496d72ce-ef06-41cf-939a-c0150d77a8e2.png)

[2022-11-30 06:38] usuyama commented on #141
@patil-suraj

Thank you for the awesome fine-tuning example https://github.com/huggingface/diffusers/tree/main/examples/text_to_image

I tried the u-net fine-tuning on our dataset, but weirdly the training loss went up.

<img width="498" alt="CleanShot 2022-11-29 at 18 14 21@2x" src="https://user-images.githubusercontent.com/344133/204691204-f3423062-9d58-4e13-980b-cd7441c80771.png">

Do you have

[2022-11-30 08:10] cameronalonso2 opened #1481 "EulerDiscreteScheduler is not complete and sign of c_out is wrong"
### Describe the bug

Hi,
the implementation of EDM method here https://github.com/huggingface/diffusers/blob/main/src/diffusers/schedulers/scheduling_euler_discrete.py misses the second-order correction step implemented here in the original paper https://arxiv.org/pdf/2206.00364.pdf:
please see https://github.com/NVlabs/edm/blob/b2a26c921c5776cb52f7498248761d60649007a8/example.py#L65

[code]

wit

[2022-11-30 09:05] #1367 closed

[2022-11-30 09:37] UglyStupidHonest opened #1482 "Diffusers Stable Diffusion upscale pipeline"
### Describe the bug

I get this message when I try to upscale a image

(/tmp/pip-install-r2dsw42o/xformers_584b8336664f4e63bb32e09d7dcaeac6/third_party/flash-attention/csrc/flash_attn/src/fmha_fprop_fp16_kernel.sm80.cu:68): invalid argument

I can't find the culprit unfortunately, thank you!!

### Reproduction

_No response_

### Logs

[code]

### System Info

diffusers 0.9.0
Ubuntu 20.4 LTS

[2022-11-30 10:19] vvvm23 commented on #1392
Closing :)

[2022-11-30 10:19] #1392 closed

[2022-11-30 10:20] patrickvonplaten commented on #1482
Hey @UglyStupidHonest,

Could you please add a reproducible code snippet?

[2022-11-30 10:22] patrickvonplaten commented on #1481
Hey @cameronalonso2,

I think we should add a new scheduler "Euler2" for this. We should have finished this by the end of this week

[2022-11-30 10:22] patrickvonplaten commented on #1480
Yes, 100% agree. Thanks for the issue. Opening a PR

[2022-11-30 10:32] vvvm23 commented on #1413
@pcuenca would be interested in contributing, but not sure what v-prediction is. Could you give me a summary / resources?

[2022-11-30 10:50] alexjc commented on #1308
@patrickvonplaten Lots of things to think about, thanks for the thoughtful reply!

I'm going to try another prototype this week that pushes the limits in a different way, and see what comes out of it... I'll report back if I learn something new there.

[2022-11-30 11:04] KingStorm opened #1484 "fp16 does not work with euler_a scheduler"
### Describe the bug

fp16 does not work with euler_a scheduler: it displays nearly black image.

using checkpoint: stable-diffusion-v1.5

### Reproduction

- Input prompt: a boy.
- euler_a scheduler: default parameters.
- load stable-diffusion-v1.5 with fp16

### Logs

_No response_

### System Info

Ubuntu 18, 2080Ti

[2022-11-30 11:17] UglyStupidHonest commented on #1482
Sure ! Its pretty much the example for that model

`from diffusers import StableDiffusionPipeline, DDIMScheduler , EulerDiscreteScheduler,KarrasVeScheduler
from diffusers import StableDiffusionUpscalePipeline
import torch
import os
from realesrgan import RealESRGANer
import random
import requests
from PIL import Image
from io import BytesIO

import requests
from PIL import Image
from io import Byt

[2022-11-30 11:17] UglyStupidHonest commented on #1482
Hey sure its pretty much the example for that model

from diffusers import StableDiffusionPipeline, DDIMScheduler , EulerDiscreteScheduler,KarrasVeScheduler
from diffusers import StableDiffusionUpscalePipeline
import torch
import os
from realesrgan import RealESRGANer
import random
import requests
from PIL import Image
from io import BytesIO

import requests
from PIL import Image
from io import By

[2022-11-30 11:36] patrickvonplaten commented on #1314
@patil-suraj is this still relevant?

[2022-11-30 11:39] patrickvonplaten commented on #952
Maybe also @anton-l @pcuenca @NouamaneTazi  if you have any tips / hints here

[2022-11-30 11:41] patrickvonplaten commented on #955
Actually fine for to add this ! Would someone be interested in opening a PR for this? I won't find time anytime soon, but I'll keep this issue on my radar in case more people ask for it

[2022-11-30 11:43] patrickvonplaten commented on #990
Honestly don't think it's that important iPNDMScheduler is only used for dance diffusion which is not heavily used.

IMO the "for consistency" argument is a dangerous one that might slow us down too much.

[2022-11-30 11:43] dingjingzhen opened #1485 "The original model and the diffusers model do not give the same results"
When the original model and the diffusers model are run separately img2img produces different results with the same seed

[2022-11-30 11:46] kashif commented on #1413
thank you for your interest @vvvm23

So `v-prediction` refers to a type of loss objective in diffusion models. It is somewhat technical but perhaps check Section 4 of "Progressive Distillation for Fast Sampling of Diffusion Models" paper https://arxiv.org/pdf/2202.00512.pdf and let me know if you have further questions...

[2022-11-30 12:01] patrickvonplaten commented on #877
Thanks @Abhinay1997

[2022-11-30 12:03] patrickvonplaten commented on #1398
Cool!

[2022-11-30 12:03] patrickvonplaten commented on #1140
Yes in a first step the plan was to look into prompt-to-prompt. I'm a bit behind on this. Hoping to get to it by next week

[2022-11-30 12:04] patrickvonplaten commented on #1068
Gently ping again @patil-suraj here

[2022-11-30 12:04] patrickvonplaten commented on #1000
Think we can close this as the PR is merged

[2022-11-30 12:04] #1000 closed

[2022-11-30 12:06] patrickvonplaten commented on #902
Once the pipeline tests are fully updated we should also make a doc explaining the problem with reproducibility in general with diffusion models.

[2022-11-30 12:09] universewill commented on #1068
I think maybe its because the ram is not enough?

[2022-11-30 12:18] ClashSAN commented on #1485
this happens when converting models to a different format. .ckpt is different from diffusers format, where the whole model is a group of folders separated into their components.

[2022-11-30 12:18] #1205 closed

[2022-11-30 12:18] patrickvonplaten commented on #1439
Hey @TheOneTrueGuy,

Sorry could you give me access to the colab or even better just copy-paste your code snippet here?

[2022-11-30 12:19] patrickvonplaten commented on #1387
@patil-suraj could you take a look here?

[2022-11-30 12:21] dingjingzhen commented on #1485
I know that when I convert the original model to a diffusers model via the script provided by diffusers, the results stay consistent at txt2img, but not at img2img, and since my model is trained with the original code, but I want to use diffusers for inference, this issue is still important to me

[2022-11-30 12:22] patrickvonplaten commented on #1387
Also @koutilya-pnvr could you please attach a google colab that directly reproduces this error? We can not run the above command because we don't have a `My_pics_png/` folder

[2022-11-30 12:24] JianxinMa opened #1486 "Possible Bug in DDIMScheduler when prediction_type = 'sample'"
### Describe the bug

https://github.com/huggingface/diffusers/blob/v0.9.0/src/diffusers/schedulers/scheduling_ddim.py#L303
https://github.com/huggingface/diffusers/blob/v0.9.0/src/diffusers/schedulers/scheduling_ddim.py#L278

It seems that the ``model_output'' at L303 should be the predicted epsilon. However, it is actually the predicted original sample when prediction_type == "sample".

A workar

[2022-11-30 12:25] patrickvonplaten commented on #1444
Do you have `transformers` installed? Please attach a full list of your installed versions here.

The following works for me:

[code]

[2022-11-30 12:51] patrickvonplaten commented on #1434
This might be related / interesting: https://github.com/huggingface/diffusers/pull/1454

[2022-11-30 12:52] patrickvonplaten commented on #1056
Gently ping here @pcuenca

[2022-11-30 12:53] patrickvonplaten commented on #799
Hey @allo- ,

I think this might be a bit too much high-level customization for an example script of diffusers at the moment.

[2022-11-30 12:55] patrickvonplaten commented on #1452
cc @mfuntowicz @echarlaix here - it would be good to not replicate efforts of optimum here

[2022-11-30 13:01] patrickvonplaten commented on #1434
Did anybody try using `xformers`? E.g. see: https://huggingface.co/docs/diffusers/api/pipelines/stable_diffusion#diffusers.StableDiffusionUpscalePipeline.enable_xformers_memory_efficient_attention

[2022-11-30 13:03] kashif commented on #1434
I tried using it with xformers, i believe, and I think I got the same issue... i can re-run it...

[2022-11-30 13:18] anton-l commented on #1452
talked to @echarlaix and @JingyaHuang, we'll make this a part of Optimum integration (moving `diffusers.OnnxRuntimeModel` to something like `optimum.DiffusersModel`): https://github.com/huggingface/optimum/pull/447

[2022-11-30 13:35] #1099 closed

[2022-11-30 13:51] pcuenca commented on #1438
@patrickvonplaten actually, @krahnikblis is reporting a PyTorch error when training textual inversion using `float16`. Pinging @patil-suraj in case he knows what's going on, otherwise happy to debug it myself (assign it to me Suraj if you don't have time to investigate it right now).

[2022-11-30 13:57] pcuenca commented on #990
I agree, let's wait until we really need it. I just added this issue because a test failed, will remove the comment instead.

[2022-11-30 13:57] #990 closed

[2022-11-30 14:00] eeyrw commented on #1314
After using latest diffusers(0.9.0) and latest xformers, type float16 and bfloat16 are fine but float32 still do not work.

[2022-11-30 14:37] pcuenca commented on #952
Hi @Marcophono2! Interesting comments. My 3090 runs at about 20 it/s too (with xFormers efficient attention enabled). It gets a bit better as you increase the batch size, up to ~26 it/s for a large batch size of 24 images at once. I'm surprised that your 4090 is capable of performing inference twice as fast, I'd be really happy about it! I don't have a 4090, but we may able to test on one soon.

[2022-11-30 14:53] naoto0804 opened #1491 "question on set_timesteps"
Thank you for releasing a wonderful repository! Let me ask a newbie question.

**What API design would you like to have changed or added to the library? Why?**
`diffusers.DDPMScheduler.set_timesteps`

**What use case would this enable or better enable? Can you give us a code example?**
I guess `diffusers.DDPMScheduler.set_timesteps` is for faster sampling.
However, `diffusers.DDPMScheduler.step` s

[2022-11-30 15:34] pcuenca commented on #1075
Closing for now, feel free to reopen if needed.

[2022-11-30 15:34] #1075 closed

[2022-11-30 16:07] TheOneTrueGuy commented on #1439
No, sorry to you, Patrick. We got it fixed yesterday afternoon and I just didn't have time to report here. I restricted that version after I posted a version to my github account that works. Still a little dicey and I'd prefer a version that works with the later version of diffusers and CLIP but it works for now,. Please check it out, it makes some trippy animations: https://github.com/TheOneTrueG

[2022-11-30 16:07] #1439 closed

[2022-11-30 17:21] WakizashiYoshikawa commented on #807
I still cannot run it on Windows 10 22H2, so I presume the only way would be Windows 11 although reddit users on Windows 11 also have issues...

[2022-11-30 17:22] natolambert commented on #84
Initial progress on this is done in #1032.

The things that need to be done are:
* integration tests (there is a sketch in the PR)
* changing the API to index discrete sigmas rather than the list of sigmas (like SDE VE)
* make timesteps continuous (not 100% sure on this)
* showcase examples in a colab / another form to verify functionality.
*
Maybe @MinkaiXu -- expressed interest.

[2022-11-30 18:40] FogoVoar opened #1495 "Cannot import name 'init_git_repo' from 'diffusers.hub_utils'"
### Describe the bug

To be honest I'm not sure if this is a bug, but since it started happening all of a sudden in the last few hours I'm going to assume it is.
I'm using a Colab setup with Dreambooth to fine tune Stable Diffusion 1.4, the error happens when executing the cell that tries to import the 'init_git_repo' from 'diffusers.hub_utils'.

### Reproduction

The issue can be reproduced by ru

[2022-11-30 19:50] FogoVoar commented on #1495
For now I've been able to bypass the problem by commenting the highlighted line out (surprisingly).
But I'll leave the issue open in case someone else doesn't have the same luck.

[2022-11-30 20:02] jonasdoevenspeck commented on #1368
Thanks for the tips @pedrogengo and @patrickvonplaten. I tried your suggestion (but with `num_inference_steps = 100` and `strength = 0.1` and indeed it looks better for the first step now:
![000003](https://user-images.githubusercontent.com/28825134/204895851-58574b66-2a24-42b9-b0ad-d78d5421955a.png)

However when zooming in further, the image becomes blurry again:
![000009](https://user-images.gi

[2022-11-30 20:06] allo- commented on #799
It's too high-level for an example script, but somewhere should be a standard defined and it should be done before there are too many implementations.

That said ... I think the diffusers example script is one source and seems to be mainly used by sd-concepts-library (and that's the only large library I know of) and most other people use the automatic1111 UI that uses a more advanced format and ca

[2022-11-30 20:53] cameronalonso2 commented on #1481
Hi @patrickvonplaten
thank you. May I ask which method is the one implemented? and in which paper this is proposed?
When I was testing it, I was not able to get the generation to work with this sampler, and I wanted to check the details in your know the original paper.
thanks.

[2022-11-30 21:45] WASasquatch commented on #1072
No clue what colabs uses as CPUs, but with Pro acc it gives you 64gb RAM. No clue about storage either. It's about the same on my system though (besides the whole checking model files online), which is a  i9 13th 13900kf / 32GB RAM / 6200 RPM HDD

[2022-11-30 21:56] WASasquatch commented on #1495
Next time, run it from a throw-away cell `!diffusers-cli env`

[2022-11-30 22:12] zaqqwerty opened #1497 "None"
None

[2022-11-30 22:14] #1497 closed

[2022-11-30 22:33] krahnikblis opened #1498 "code-level documentation"
hi! while wrenching around in the internals, there are lots of places that make me scratch my head. often this kind of thing is newb ignorance, but i find (generally speaking, in my experience reading code) just as often that there are leftover artifacts from some early proof of concept, which just get wrapped up in the duct-tape-and-bailing-wire solution...

is there reasoning or commentary avail

[2022-11-30 23:13] lkaupp commented on #1398
any idea when this fix is also available in the inpainting repository?