[2022-10-08 11:14] MushroomFleet commented on #770
[code]

[2022-10-08 11:15] MushroomFleet commented on #770
You cannot Run the Colab without all of these dependencies. That was why i brought this to your attention.

[2022-10-08 11:36] pcuenca commented on #770
Hi @MushroomFleet! I believe those are just warnings, not errors. If you keep running the rest of the notebook it should work. If it doesn't, could you please let us know the cell where it fails and the error message that comes up?

Thanks a lot!

[2022-10-08 12:00] pcuenca opened #779 "Stable Diffusion: providing a list of positive prompts and a list of negative prompts does not work as expected"
### Describe the bug

See this forum post: https://discuss.huggingface.co/t/stable-diffusion-bs-1-uses-negative-as-prompt/24130.

In short:

[code]

Reaches this condition https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L247. As expected, `negative_prompt` is a list with the same cardinality of `prompt` (otherwise an exceptio

[2022-10-08 12:16] Marcophono2 commented on #720
Hi @Thomas-MMJ !
Just curious: What do you mean with "development version"?

Best regards
Marc

[2022-10-08 12:20] IT8055 commented on #736
I dont belive its a code issue. I was facing the same issue and was due to the notepadd++ being configured for windowsenod of line conversion and not unix so was adding hidden characters to the .sh file. Once changed Notepadd to Unix (Edit - EOL - Unix) and saved the file it worked.

[2022-10-08 13:35] MushroomFleet commented on #770
IsADirectoryError                         Traceback (most recent call last)
[<ipython-input-19-c6e3ce5f5a40>](https://localhost:8080/#) in <module>
      1 #@title Run training
      2 import accelerate
----> 3 accelerate.notebook_launcher(training_function, args=(text_encoder, vae, unet))
      4 with torch.no_grad():
      5     torch.cuda.empty_cache()

8 frames
[/usr/local/lib/python3.7/dist-p

[2022-10-08 16:14] allo- commented on #759
Does `repo.push_to_hub` push the full model or the embeddings only?

[2022-10-08 17:05] allo- opened #782 "Model download broken after removal of use_auth_token"
### Describe the bug

After updating my git checkout to a version that removed `use_auth_token` parameters, diffusers cannot download `CompVis/stable-diffusion-v1-4` anymore with an error 401.

I am logged in with the same auth token as before. Downloading another model that is not protected with an auth token using the same script works.

Another possibly related issue: Using the different model

[2022-10-08 17:35] ivaxsirc opened #783 "problem when training, The following values were not passed to `accelerate launch` and had defaults used instead:"
The following values were not passed to `accelerate launch` and had defaults used instead:
        `--num_cpu_threads_per_process` was set to `6` to improve out-of-box performance
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
Traceback (most recent call last):
  File "/home/ivaxsirc/github/diffusers/examples/dreambooth/train_dreambooth.py",

[2022-10-08 19:02] Thomas-MMJ commented on #720
It means when i checked out from head, vs using a pip install version it worked.  That said, it no longer works because now

I meant when i built from source code from head (the main development branch) it worked, but not on the version installed via pip install diffusers.

 That said, it no longer works because they are now using a frozendict which prevents substitution of the traced unet.

[2022-10-08 19:41] akash5474 commented on #621
Hello @pcuenca and @patrickvonplaten , I would like to try to take on this issue if that's alright.

[2022-10-08 21:21] allo- opened #784 "DeprecationWarning: BICUBIC is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.BICUBIC instead."
### Describe the bug

Textual inversion uses a deprecated import for the scaling methods in Pillow

    DeprecationWarning: BICUBIC is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.BICUBIC instead.

### Reproduction

Use the textual inversion script with a recent Pillow version

### Logs

[code]

### System Info

Python 3.10 with latest Pillow.

[2022-10-09 03:37] joey12300 opened #785 "PNDMScheduler has a considerable cost when running StableDiffusionPipeline in diffuser-0.4.1"
### Describe the bug

## Enviroment
GPU: A10, CUDA 11.6, cuDNN 8.4.0
Torch: 1.12.1
diffuser: 0.4.1

## Phenomenon
When I ran the StableDiffusionPipeline with fp16 precision, I found the time cost of PNDMScheduler increase a lot after I upgraded the diffuser to 0.4.1. It costs about **4.2 seconds** while unet costs **6.6 seconds**. The time cost of PNDMScheduler in diffuser-0.3.0 can be almost igno

[2022-10-09 11:03] brentleywilson opened #787 "DefaultCPUAllocator : not enough memory"
I have 16gb of RAM (12.9 usable) which i increased by making a pagefile but still receiving the above error while running save_onnx.py

[2022-10-09 11:03] #787 closed

[2022-10-09 13:26] LowinLi commented on #746
Thanks, I will try your method to inference other onnx pipeline.

[2022-10-09 13:26] #746 closed

[2022-10-09 16:26] patrickvonplaten commented on #785
Hey @joey12300,

I cannot really confirm this. I'm running the following script:

[code]

Note that in version 0.3.0 it was not yet possible to run fp16 without autocast.
I'm getting the following result for 0.3.0:
[code]
and for 0.4.1:
[code]

Showing that 0.4.1 is significantly faster. I'm using a A100 GPU.

[2022-10-09 16:28] patrickvonplaten commented on #782
Hey @allo-,

Just to confirm - did you login before with:

[code]

?

[2022-10-09 16:29] patrickvonplaten commented on #783
cc @patil-suraj regarding dreambooth

[2022-10-09 16:36] allo- commented on #782
Yes, I was logged in and I can still reproduce.

The textual_inversion script in the diffusers repo raises the exception. It seems that initializing CLIPTokenizer with `CLIPTokenizer.from_pretrained` doesn't work while `StableDiffusionPipeline.from_pretrained` works. When downloading the full pipeline with `StableDiffusionPipeline` and then using `local_files_only` for loading the CLIPTokenizer I

[2022-10-09 17:21] pcuenca commented on #782
Hi @allo- !

I think you may need to upgrade `transformers` too. Could you please give it a go?

[2022-10-09 17:34] allo- commented on #782
1) textual inversion has the same issue
2) textual inversion with local_files_only now throws ´No such file or directory: '~/.cache/huggingface/hub/models--CompVis--stable-diffusion-v1-4/refs/main`
3) Inference with local_files_only still works.
4) Inference without local_files_only has the same issue (now).

The token is stored in `.huggingface/token` as before.

[2022-10-09 17:37] allo- commented on #782
`huggingface-cli login` with the same token works, but doesn't change anything. The same token is stored in the file and I still get the same error. Logged into the website I can access the 401 URL and see the json.

[2022-10-09 17:39] allo- commented on #782
Installing diffusers stable and then reinstalling the git version pulled a new huggingface-hub version and now the downloads work. I guess I need to install the `requirements.txt` more often between git updates.

[2022-10-09 17:39] #782 closed

[2022-10-09 18:41] allo- commented on #773
You can extend the script using the method from this notebook: https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/stable_conceptualizer_inference.ipynb

Have a look at the "Load the newly learned embeddings into CLIP" section. `text_encoder` and `tokenizer` are properties of the `pipeline` object.

[2022-10-09 23:27] Thomas-MMJ opened #790 "lack of memory clear causes some GPU tests to fail in test_models_unet.py"
### Describe the bug

running pytest if I suppress test_attention_block_default, two additional unet tests pass

[code]

can test by either suppressing the test, or running unet tests with and without

test_attention_block_default

[code]
The tests it causes to fail are,

[code]

### Reproduction

run the following in the test directory

[code]

### Logs

[code]

### System Info

- `diffusers` ver

[2022-10-10 00:46] Thomas-MMJ commented on #784
I've submitted a pull request to fix this, hopefully will be reviewed and committed this coming week.

[2022-10-10 02:49] affableroots commented on #712
@patil-suraj I know you're slammed, (I see you on every support ticket on this repo!), but any chance you've had an opportunity to ask the Dreambooth authors about the catastrophic forgetting + overfitting we've been facing? My pet theory was it has to do with weight decay, but, whatever it is, I'm just curious! No rush of course, and thanks for all your hard work!

[2022-10-10 03:36] muhademan opened #791 "8007000E Not enough memory resources are available to complete this operation."
when I run the dml_onnx.py file in (amd_venv) C:\amd-stable-diffusion\difusers-dml\examples\inference>dml_onnx.py

I get an error like this:
(amd_venv) C:\amd-stable-diffusion\difusers-dml\examples\inference>dml_onnx.py
Fetching 19 files: 100%|███████████████████████████████████████████ | 19/19 [00:00<00:00, 1966.19it/s]
2022-10-10 10:05:28.0893026 [E:onnxruntime:, inference_session.cc:1484 onnxru

[2022-10-10 09:25] CrazyBoyM commented on #773
Thanks for help.I will take it a try.

[2022-10-10 09:33] CrazyBoyM commented on #31
does this method also support for txt2img pipe() to auto use multiple GPUs to have a faster speed? Such as a RTX2080 8g and a 3090 24g.

[2022-10-10 10:47] patil-suraj commented on #771
Hi! Thanks for the issue, I've opened a draft PR to address this #792. Also think this should issue should be filed in pytorch as the torch upsample op is not  supported in `bf16`. Minimal code to reproduce.

[code]

relevant stack-trace
[code]

[2022-10-10 10:57] patil-suraj commented on #31
@CrazyBoyM This is for training, but it's possible to use text2image pipelines with multiple GPUs for data parallel  inference.
@pcuenca should maybe write a doc for how to use the pipeline with multi-GPUs for inference, few other users have also asked this questions on different platforms.

[2022-10-10 11:02] anton-l commented on #762
Requested a dedicated M1 host for the CI runner, waiting for it to be provisioned (~2h) :hourglass_flowing_sand:

[2022-10-10 11:13] patil-suraj commented on #730
Glad you were able to resolve it.

[2022-10-10 12:02] patil-suraj commented on #696
Thanks a lot for the table @skirsten , this is very useful!
Also, with #735 `mixed_precision` should get decent speed-up and it should also allow you to use full adam with bigger BS on 3090!

[2022-10-10 12:16] tmabraham commented on #704
If you want, you can assign me this, I think I'll work on adding this during this week...

[2022-10-10 12:41] patrickvonplaten commented on #760
Thanks for the very in-detail benchmarking here @jncasey !
Seems like things are still a bit unstable both from the `diffusers` and native PyTorch side. I guess we have to opt always for the newest PyTorch nightly.

[2022-10-10 12:46] patrickvonplaten commented on #778
Any ideas how we should add it ? Guess we should try it out in a training run no? Maybe simple DDPM training? Also, I'm not sure if anybody has time soon to try this out. Is someone in the community interested in this maybe?

[2022-10-10 12:46] patrickvonplaten commented on #778
Also cc @borisdayma

[2022-10-10 12:49] patrickvonplaten commented on #702
Could you maybe updated the google colab to reflect this change (or even better), post the required code here so that we can dive into it / reproduce it ? :-)

Thanks a lot !

[2022-10-10 12:50] patrickvonplaten commented on #779
Any ideas on how we can solve it?

[2022-10-10 13:00] patrickvonplaten commented on #282
@patil-suraj could you take a look here?

[2022-10-10 13:01] #215 closed

[2022-10-10 13:01] #181 closed

[2022-10-10 13:05] patrickvonplaten commented on #621
Hey @akash5474,

This would be great!

[2022-10-10 13:08] neverix commented on #702
The code for this is in the Colab linked above

[2022-10-10 13:18] patrickvonplaten commented on #790
Hey @Thomas-MMJ,

Thanks for the issue - I cannot fully reproduce the issue. On current main, I'm getting:

[code]

meaning only the gradient checkpointing test fails

[2022-10-10 13:18] patrickvonplaten commented on #784
Looking at the PR now :-)

[2022-10-10 13:25] patrickvonplaten commented on #712
Gently pinging @patil-suraj here again :-)

[2022-10-10 13:26] patrickvonplaten commented on #791
@muhademan,

Could you please copy-paste a reproducible code snippet here? I currently have sadly no idea what code you ran that produced this error and therefore cannot really help :-/

[2022-10-10 13:31] patrickvonplaten commented on #776
+1

Thanks for the issue! Will open a PR now

[2022-10-10 14:35] borisdayma commented on #778
Maybe there could be something like a `prediction_type` or `objective` which defaults to `epsilon` (still probably the standard) but can also be set to `x` or `v`.

[2022-10-10 16:04] pcuenca opened #794 "Better error message for unsupported classes"
Case in point: attempting to load a pipeline that uses the k-LMS scheduler using `from_pretrained` without `scipy` installed fails [here](https://github.com/huggingface/diffusers/blob/v0.4.1/src/diffusers/pipeline_utils.py#L457) because `load_method_name` is `None`. The error the user sees is:

[code]

[2022-10-10 16:22] jslegers commented on #712
I did some testing regarding the impact of Dreambooth on different prompts, using the same seed.

Pretty much all of my tests produced results similar to this :

![afbeelding](https://user-images.githubusercontent.com/883647/194911616-d5e01a17-6a31-49d6-9ae3-5eb22318a85f.png)

[2022-10-10 16:51] jslegers commented on #712
Not yet. I'm planning to run some tests on Textual Inversion soon... both as a standalone approach, and using the script you provided.

I wanted to first complete my tests runs with Dreambooth alone, to see if I could find a way to reduce degradation by eg. increasing the number of class pics, reducing the prior loss weight or Adam weight decay, by using a different class (I tried "Jason Molina",

[2022-10-10 17:35] Suhail commented on #277
it would be useful to implement as many of the samplers that DreamStudio does: https://github.com/Stability-AI/stability-sdk

Users are becoming used to using them.

[2022-10-10 20:52] allo- opened #799 "Define a metadata format for textual inversion concepts"
**Is your feature request related to a problem? Please describe.**
The textual inversion script currently creates a dict with one term and its associated embedding. Usual scripts load one or more embeddings using the keys as token for prompt.

This format does not allow for metadata associated with the key(s). The longer the format exists, the more it will be used everywhere, so it would be good t

[2022-10-10 21:18] natolambert commented on #778
@borisdayma when I first saw the conversation that's the API I thought of.

[2022-10-10 21:57] tianleiwu commented on #489
@cprivitere, thanks for the feedback. To improve accuracy, onnx model need convert to mixed precision by adding some operators (like LayerNormalization, Gelu etc) to op_block_list in the script. The list could be tuned by some A/B testing (Comparing to fp32 results) using a test set.

[2022-10-10 22:08] Thomas-MMJ commented on #790
Updated to latest, but I still get the two fails if I run the one test first.

pytest ./tests/test_layers_utils.py::AttentionBlockTest ./tests/test_models_unet.py

================================================================================= short test summary info ==================================================================================
FAILED tests/test_models_unet.py::UNetLDMModelT

[2022-10-10 22:39] Thomas-MMJ commented on #790
Now this is bizarre, if I run test_attention_block_default then test_from_pretrained_accelerate immediately after each other, then test_from_pretrained_accelerate  passes; if I run all three, the first two pass, and the third fails.  If I run a test from in between them, then the first two pass, and these two fail.

pytest ./tests/test_layers_utils.py::AttentionBlockTests::test_attention_block_def

[2022-10-10 22:49] GreenLandisaLie commented on #791
Same thing happens to me often. I have a RX560 4G and 16G DDR3 and I can use the ONNX pipeline but every so often I get that error when initializing the script which I have by following this guide:
https://www.travelneil.com/stable-diffusion-windows-amd.html
This is the code:

It might be worth mentioning that if I place the last 2 lines inside a while loop and the first image successfully starts

[2022-10-10 23:29] Thomas-MMJ commented on #790
Changing the order changes the results also, here none fail.

pytest ./tests/test_layers_utils.py::AttentionBlockTests::test_attention_block_default ./tests/test_models_unet.py::UNetLDMModelTests::test_from_pretrained_accelerate_wont_change_results ./tests/test_models_unet.py::UNetLDMModelTests::test_from_pretrained_accelerate ./tests/test_models_unet.py::UNetLDMModelTests::test_from_pretrained_hu

[2022-10-10 23:39] Thomas-MMJ commented on #790
Note that it is reproducable in wsl linux ubuntu on this same device.  the ubuntu is using different pytorch, etc.

[2022-10-11 04:25] affableroots commented on #712
@jslegers Have you by chance tried the JoePenna repo? I'm still trying to pin down the difference, but, I think it works better, and I don't know why.

They're starting to look identical, so I don't know where the difference in perceptual quality lies. The code is semantically identical, I think:

* cond stage (text) [unfrozen](https://github.com/JoePenna/Dreambooth-Stable-Diffusion/blob/main/conf

[2022-10-11 04:59] rschristian opened #801 "In-painting & Img-to-Img seemingly do not abide `enable_attention_slicing()`"
### Describe the bug

I'm able to run (seemingly) all text-to-image examples without any sort of issue, including [the one in the ReadMe](https://github.com/huggingface/diffusers#text-to-image-generation-with-stable-diffusion). Memory gets a bit tight, but stays under my 8gb limit.

However, when I switch to trying out the in-painting example, I immediately hit an out of memory error. Reading the

[2022-10-11 05:11] Thomas-MMJ commented on #784
note has been discussed and there are changes I need to make before accepted.

[2022-10-11 09:07] javirandor commented on #476
Hi! We have just released a paper in which we analyse the filter implementation, reverse-engineer the unsafe concepts, and describe important limitations. You can read it [here](https://javirandor.github.io/assets/pdf/red2022rando.pdf).

After releasing it, someone pointed out (see [here](https://twitter.com/inthewaterwheel/status/1579523800437510145)) that the concepts were actually disclosed in

[2022-10-11 10:02] #771 closed

[2022-10-11 10:27] Nash2325138 commented on #476
@javirandor Wow it's quite an effort. Thank you for sharing this information! It will help when I need to design my own filters.

[2022-10-11 12:23] #501 closed

[2022-10-11 14:18] cprivitere commented on #489
I've had some time since my last post to actually install and set all this up on Linux, none of the speed increases here even come close to the speed of running the fp16 models on ROCm, sadly. On a 6750XT we're talking 4.5it/s using LMS on Linux fp16 ROCm models versus 1.4it/s using LMS with the broken fp16 onnx models.

[2022-10-11 17:18] NielsRogge commented on #692
PR linked above has been merged, will close this issue.

[2022-10-11 17:18] #692 closed

[2022-10-11 17:43] patrickvonplaten commented on #460
@anton-l is this solved now?

[2022-10-11 17:44] patrickvonplaten commented on #454
@allo- is this issue still relevant?

[2022-10-11 17:56] DanielKneipp commented on #541
I've made [this repo](https://github.com/DanielKneipp/aws-sagemaker-stable-diffusion) with everything needed to provision a sagemaker endpoint with API gateway (for public access) of a stable diffusion using hugging faces. I still need to prepare the readme with all the docs but the code is there

[2022-10-11 17:57] allo- commented on #454
I removed the workaround and cannot reproduce the issue. I guess I close here for now and if my scripts without the workarounds get the problem again I reopen or make a new issue.

[2022-10-11 17:57] #454 closed

[2022-10-11 17:59] patrickvonplaten commented on #277
@patil-suraj @anton-l - plans/ideas on how to move forward here?

[2022-10-11 18:08] patrickvonplaten commented on #791
cc @anton-l here in case you have a hunch of what might be going on

[2022-10-11 18:12] patrickvonplaten commented on #712
Very interesting! @patil-suraj let's try this one out :-)

[2022-10-11 18:17] GreenLandisaLie opened #805 "[ONNX] Loading textual inversion .bin/.pt embeddings"
I tried to follow this guide:
https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/stable_conceptualizer_inference.ipynb
But OnnxRuntimeModel does not have any of the necessary functions that CLIPTextModel has and since I'm no dev I couldn't figure out how to get this working.
If this is already possible then I guess this issue is just about the lack of documentation

[2022-10-11 18:22] patrickvonplaten commented on #801
Hey @rschristian,

Note that img2img and in-paint do require a bit more memory because we are dealing with both a random noise image input and a `init_image` input. It doesn't suprise me very much that img2img requires slightly more memory than standdard stable-diffusion.

In my tests `enable_attention_slicing()` works just fine. @rschristian when running:

[code]

vs.

[code]

You should see a di

[2022-10-11 18:30] #760 closed

[2022-10-11 18:32] patrickvonplaten commented on #476
BTW the concepts have also been published here: https://github.com/LAION-AI/CLIP-based-NSFW-Detector/blob/main/safety_settings.yml

Sorry we've been a bit late here with repyling. In general, we're open for any PRs to add more descriptions about the safety filter. We've added a description about the safety checker here: https://huggingface.co/CompVis/stable-diffusion-v1-4#safety-module - please op

[2022-10-11 18:32] rschristian commented on #801
Yep, makes perfect sense that it'll use more memory. I had assumed as much and have no issue with that.

From my (limited) view, there's no discernible difference. I run out of memory within instantly either way.

If `pipe.enable_attention_slicing()` is capping usage, but not below 8 GiB, then there's no way for me to tell whether it does anything at all at the moment.

[2022-10-11 18:33] patrickvonplaten commented on #790
Having a hard time to reproduce this bug in our testing suite. CC'ing @anton-l here though

[2022-10-11 19:27] merfi commented on #541
awsome! Thanks, @DanielKneipp, that's very helpful

[2022-10-11 20:27] Thomas-MMJ commented on #790
It was suggested that the memory wasn't being cleared, if I add

[code]
and run it at the end of the relevant test functions, then the tests pass

[2022-10-11 23:54] affableroots commented on #712
Hm, I'm not sure I understand DDPM well yet, that timestep thing may be a red herring.

Could it be a difference of the DDPMP beta schedule type: diffuser's ["scaled_linear"](https://github.com/huggingface/diffusers/blob/24b8b5cf5e44b585e8808c34616cfa20e8e39866/examples/dreambooth/train_dreambooth.py#L418) vs JP's ["linear"](https://github.com/JoePenna/Dreambooth-Stable-Diffusion/blob/5347a03a4882

[2022-10-12 00:33] devilismyfriend opened #807 "Dreambooth doesn't train on 8GB"
### Describe the bug

Per the example featured in the repo, it goes OOM when DeepSpeed is loading the optimizer, tested on a 3080 10GB + 64GB RAM in WSL2 and native Linux.

### Reproduction

Follow the pastebin for setup purposes (on WSL2), or just try it yourself https://pastebin.com/0NHA5YTP

### Logs

[code]

### System Info

3080 10GB + 64GB RAM, WSL2 and Linux

[2022-10-12 01:43] LiviaCavalcanti commented on #778
Hey! I am not sure if @natolambert or someone else will work on this one, but if not, I'd like to take it

[2022-10-12 01:45] rschristian commented on #801
While on a quest of trial and error, I decided to cut my images down from `960x960` to `480x480` and this had a profound impact while also confirming `pipe.enable_attention_slicing()` is in fact working.

I hit ~5.4 GiB with it enabled, ~7GiB without, using those much smaller images.

I suppose the overhead from img2img/in-paint was just much more than I had expected. Closing out as it's invalid.

[2022-10-12 01:45] #801 closed

[2022-10-12 01:54] 3PR commented on #593
I would guess this could be due to insufficient vram supposedly you need 4 gigs for a 512x512 image. if that's the case for 1024x1024 it would be 16 gigs. I am thinking when the ram runs out it just reuses what is already stored in ram. I could be wrong though. maybe as the process iterates it begins to "see" objects and as it progresses continues to resolve them.

[2022-10-12 05:42] #773 closed

[2022-10-12 06:38] johnowhitaker commented on #778
This is especially useful for things like progressive distillation (https://arxiv.org/abs/2202.00512) where they found predicting the noise (epsilon) had some issues, and instead recommend either:
- Predicting x directly
- Predicting both via separate channels and smoothly interpolating between them based on the noise level (I think equivalent to the c_skip trick that Karras et al do)
- Predicting

[2022-10-12 06:41] johnowhitaker commented on #778
There will have to be some additional logic in all of the samplers to handle models with different objectives, but given any one of the three listed you can derive the other two as long as you know the noise level.

[2022-10-12 08:23] apolinario commented on #712
@affableroots, besides the loss looking smoother, what were your actual perceptual impressions from this experiment?

[2022-10-12 08:35] anton-l commented on #454
Yes, the issue was caused by improper LMS timesteps initialization and should be fixed now :)

[2022-10-12 09:49] patil-suraj commented on #712
Thanks a lot @affableroots and sorry for being later here. Running some experiments today, also comparing against other codebases. Will post my findings here soon.

[2022-10-12 09:50] anton-l commented on #790
Interesting, we have the same issue when testing on MacOS: https://github.com/huggingface/diffusers/pull/796
Will follow up with an `empty_cache()` fix once we merge those tests, to see if it helps there too. Thanks for investigating @Thomas-MMJ!

[2022-10-12 10:08] anton-l commented on #805
Hi @GreenLandisaLie! Unfortunately there's no way to seamlessly support ONNX models for textual inversion examples, since they modify the model itself, and the onnx graph is fairly static in its current implementation.

I guess you could try loading the embeddings into a pytorch model first, save it, and then export it to ONNX with the default conversion script. But you'd have to do that for each

[2022-10-12 10:17] anton-l commented on #791
Windows+AMD GPUs is a very unfamiliar territory for me, but maybe @pingzing or @harishanand95 could check it out :)

[2022-10-12 10:20] anton-l commented on #460
Fixed in https://github.com/huggingface/diffusers/pull/440 :+1:

[2022-10-12 10:20] #460 closed

[2022-10-12 10:53] nerdyrodent commented on #712
I'm using Shivam's DB and I don't get that blotchy look unless I put the guidance scale above 30 during inference (or use too few steps on something like LMS). All the faces do start to tend towards my face though, which is nightmare fuel all of it's own! Tried with and without fp16 and varying amount of class images. I've also tried made up classes, such as §. It just seems to recognise a face as

[2022-10-12 11:00] #776 closed

[2022-10-12 12:41] #794 closed

[2022-10-12 12:46] ghpkishore opened #811 "Dreambooth Prior Preservation Loss Example"
**What API design would you like to have changed or added to the library? Why?**
What happens when a not safe for work image is generated by Stable Diffusion when I am trying to use it to create class images? It returns a black image. I want to know how does this Image affect the training process. Are the black images used for training purposes or are they discarded?
**What use case would this ena

[2022-10-12 12:54] arandomgoodguy opened #812 "Inpaint at full resolution"
**Is your feature request related to a problem? Please describe.**

It would be excellent if StableDiffusionInpaintPipeline has the option of inpainting at full resolution since most of the time,  if your initial image includes human face, and you want to keep human face unchanged, the output image of the face part is likely to be a lot blurry.

**Describe the solution you'd like**
The idea is to

[2022-10-12 13:50] GreenLandisaLie commented on #805
Thank you @anton-l for looking into this.
Its was silly of me to not have thought about taking advantage of the conversion scripts.
With that information I can probably get it working on my end. Still its something that needs to be considered in the future once ONNX gets past its experimental stage so I'll leave this issue open.

[2022-10-12 14:57] matteoserva commented on #712
The blotchy look disappears if I increase the timesteps at inference time to a high value, like 250

[2022-10-12 15:01] claforte commented on #791
Hi, I'm @harishanand95's manager. There are critical limitations with the ONNXRuntime currently that make this inference path very sub-optimal. We're working hard to find much faster and leaner alternative solutions, but it's complicated and it takes time and effort. Thank you for your patience and I'm sorry you're running into these issues.

[2022-10-12 15:09] tcapelle commented on #696
I am unable to make mixed precision work on dreambooth.
[code]
I think the problem is the casting to float [here](https://github.com/huggingface/diffusers/blob/db47b1e4d95badad2b1152807740a4a444b63dc9/examples/dreambooth/train_dreambooth.py#L550)

[2022-10-12 15:39] natolambert commented on #778
I will post here if / when I find the time to start it, but feel free to start @LiviaCavalcanti. I have a couple other things I need to finish first.

[2022-10-12 15:57] natolambert commented on #778
Are there any models on the hub that would make good examples for this? Or is it better if we train a small one in a colab to showcase the effects of different prediction modes?

[2022-10-12 16:56] nerdyrodent commented on #712
Been testing using my face all day with a variety of optimisers because reasons :) Things learnt so far -
* It for sure changes the whole model regardless of "class"
* The defaults seem good so far, with 800-1800 steps being OK for a face
* My face bleeds into all the other faces, though some (Abraham Lincoln, Donald Trump) are impacted less

[2022-10-12 17:07] tcapelle commented on #807
try with `python train....` instead of `accelerate launch`

[2022-10-12 17:25] tcapelle opened #817 "Mixed precision is not working on dreambooth example"
### Describe the bug

Whenever I run the code with the `mixed_precision="fp16"` flag it crashes.

- It appears that something with the Grad scaler in accelerate is not working
- It's weird for me calling `optimizer.zero_grad()` after the backwards, but maybe accelerate is doing some magic I am not aware.

[code]

### Reproduction

I am running the following:
[code]
GCP machine with A100 and diffus

[2022-10-12 17:50] #474 closed

[2022-10-12 17:56] Ttl commented on #817
Unfortunately I can't run the code without deepspeed on my GPU and it works with it for me. Does the version before #735 work?

[2022-10-12 18:20] neverix commented on #812
The [Blended Diffusion branch](https://github.com/huggingface/diffusers/pull/362) might be relevant?

[2022-10-12 18:39] Ttl commented on #807
It seems that it's failing at pinning the allocated CPU memory. I'm not sure what the issue is but this doesn't seem to be an issue that could be fixed in diffusers. Do you have multiple GPUs? That could limit the maximum pinned memory available: https://forums.developer.nvidia.com/t/max-amount-of-host-pinned-memory-available-for-allocation/56053/7

This pytorch code should do the same thing. It a

[2022-10-12 18:56] tcapelle commented on #817
No, same error on #735

[2022-10-12 19:55] Thomas-MMJ commented on #807
Check your WSL config file, it might have your max memory at a much lower value.

They are .wslconfig and wsl.conf

See docs here, https://learn.microsoft.com/en-us/windows/wsl/wsl-config

In powershell you can do

`notepad "$env:USERPROFILE/.wslconfig"
`
you can then check if memory is set, here is mine, but I've made some changes.
[code]

you can change the memory to allow whatever you want but

[2022-10-12 20:01] devilismyfriend commented on #807
Sorry forgot to mention I already edited the WSL config to allow 48GB of RAM, keep in mind this also didn't work on native linux.

[2022-10-12 20:07] Thomas-MMJ commented on #807
Yeah was editing my reply after I realized your logs suggested you had 48 GB available.

[2022-10-12 20:11] devilismyfriend commented on #807
Yep this also fails

[2022-10-12 20:13] Thomas-MMJ commented on #807
I'd try pinning various sizes, say in 1 GB increments.

[2022-10-12 20:22] devilismyfriend commented on #807
looks like it fails after 2.147481e9

[2022-10-12 20:23] Thomas-MMJ commented on #807
Ah here we go, it is a NVIDIA driver related limiation.

https://docs.nvidia.com/cuda/wsl-user-guide/index.html#known-limitations-for-linux-cuda-apps

[2022-10-12 20:24] devilismyfriend commented on #807
yes but unfortunately it happens under native linux as well (ubuntu)

[2022-10-12 20:27] Thomas-MMJ commented on #807
Could you try running it under native linux and give the debug output?  Perhaps there is a different error/cause for it failing there?

[2022-10-12 20:28] devilismyfriend commented on #807
I'll have to reinstall it and report back

[2022-10-12 20:30] Thomas-MMJ commented on #807
You could also try wsl --update

[2022-10-12 20:43] baldesco commented on #541
How are you able to use the `diffusers` library? I added it to `code/requirements.txt`, and I'm getting this error:
[code]

I'm running this in a Sagemaker notebook instance

[2022-10-13 00:18] DonStroganotti commented on #807
Having the exact same problem on a 2070 SUPER 8GB, 64GB RAM, 3950x, Windows 10 WSL2

[2022-10-13 01:11] Thomas-MMJ commented on #807
note you can pass a deepspeed config file and set pin memory to false, this will slow things down but might allow it to work.

See this config that uses NVME offload, you can just replace NVME with CPU.

https://github.com/microsoft/DeepSpeed/issues/1130

[2022-10-13 02:41] leszekhanusz commented on #807
For reference, I can report that with my RTX3080 10GB and 32GB of RAM it works correctly on Linux.
I tested on wsl on windows and I had the same problem reported here, with the [test code](https://github.com/huggingface/diffusers/issues/807#issuecomment-1276584125) by @Ttl failing.

Note:
 - you have to make sure to have 200 class images in the classes folder or it will complain about not enough V

[2022-10-13 02:57] LiviaCavalcanti commented on #778
@natolambert I will work on your showcase suggestion, so we have an idea what to do next, ok? I'm open to others suggestions

[2022-10-13 02:58] devilismyfriend commented on #807
I'll try it again later tonight; from my previous tests it had the same issues but we'll see.

[2022-10-13 03:09] natolambert commented on #778
Some of the schedulers need sigma's. We'll need a lot of tests.
The flax models will need a bit different implementation too to make it jit friendly. I was briefly studying these libraries.
* [v-diffusion-jax](https://github.com/crowsonkb/v-diffusion-jax)
* [v-diffusion-pytorch](https://github.com/crowsonkb/v-diffusion-pytorch)

@LiviaCavalcanti

[2022-10-13 03:40] Thomas-MMJ commented on #807
the config I linked earlier wasn't parsable by pythons json,

here is one that parses, don't know if it is set up correctly (most of you will want to change from "nvme" to "cpu" - and probably delete most of the other parameters).

note had to make .txt since .json isn't allowed for attachments.

[ds_config.txt](https://github.com/huggingface/diffusers/files/9770226/ds_config.txt)

[2022-10-13 04:26] A-Polyana commented on #807
this issue very interesting
i have too OOM(native ubuntu), RuntimeError: CUDA error: unknown error(WSL2)
with 5800X and 3070ti 8GB and 48GB Ram
maybe that error it happens when it exceeds 8 gigabytes

[2022-10-13 05:01] Thomas-MMJ commented on #807
Pretty sure it it the memory pinning is limited to 2 GB,

please do

[code]
and use the following config file (change the .txt to .json) with the file in the local directory

[ds_config.txt](https://github.com/huggingface/diffusers/files/9770918/ds_config.txt)

then run things in the standard way and I think you guys will be sorted out.

[2022-10-13 05:04] A-Polyana commented on #807
ty! i will test it if i go home

[2022-10-13 05:11] devilismyfriend commented on #807
`The following values were not passed to `accelerate launch` and had defaults used instead:
        `--num_cpu_threads_per_process` was set to `8` to improve out-of-box performance
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
[2022-10-12 22:09:39,350] [INFO] [comm.py:633:init_distributed] Initializing TorchBackend in DeepSpeed with backend

[2022-10-13 05:21] A-Polyana commented on #807
The following values were not passed to `accelerate launch` and had defaults used instead:
        `--num_cpu_threads_per_process` was set to `4` to improve out-of-box performance
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
/home/poly/anaconda3/envs/diffusers/lib/python3.9/site-packages/accelerate/utils/dataclasses.py:342: UserWarning: De

[2022-10-13 05:54] A-Polyana commented on #807
[code]

use code:
[code]
Did I make a mistake?

WSL2 Ubuntu, RTX 3070TI 8GB VRAM, 48GB RAM, CUDA Toolkin 11.7.1(WSL&WINDOWS both)

[2022-10-13 06:49] Thomas-MMJ commented on #807
also make sure you generate your 200 class images before you try and run accelerate

[2022-10-13 08:26] OrionFive opened #820 "New commit broke negative prompts for IMG2IMG pipeline"
### Describe the bug

The commit #793 broke negative prompts. By changing the type of prompt before changing the type of negPrompt, but comparing their types in between, it is now impossible to use single negative prompts.

Would be great if you could resolve this, @patrickvonplaten.

### Reproduction

Use a single str negative prompt with the img2img pipeline.

### Logs

[code]

### System Info

[2022-10-13 08:32] OrionFive commented on #820
Note that this can be worked around by wrapping prompt and negative prompt in [ ] when passing it to the pipeline.

[2022-10-13 09:28] patrickvonplaten commented on #820
Thanks a lot for you note here @OrionFive :heart:

[2022-10-13 09:28] patrickvonplaten commented on #820
Looking into it (hope to be able to do so in 2h :-))

[2022-10-13 09:36] patrickvonplaten commented on #817
cc @patil-suraj

[2022-10-13 09:42] A-Polyana commented on #807
My WSL not work to before make class image
I think there's something before we reach 8GB VRAM
But thanks helpful!

[2022-10-13 10:12] patrickvonplaten commented on #551
Hey @leszekhanusz , @keturn , @shirayu and everybody who is interested to review!

1.) -  I've made a first draft of a "One-for-all-tasks Stable Diffusion" pipeline here: https://github.com/huggingface/diffusers/pull/821 . I'd be very happy if you could review the PR and give feedback on the naming (think "mega" is not a great name, but couldn't think of anything better).

**Note**: This is orthog

[2022-10-13 10:39] Squolly commented on #807
I had exactly the same issue with my RTX 3070 and 32GB RAM, Ubuntu 22.04 running on WSL2 in Windows 11.

However I just solved it by updating to Windows 22H2 (I had 21H2 previously) and afterwards updating WSL with
`wsl --update`

Maybe it helps you too.

[2022-10-13 10:52] A-Polyana commented on #807
ok! let`s try this

[2022-10-13 11:11] compustar commented on #712
@nerdyrodent, have you tried 1e-6 for 2000 steps which is basically the JoePenna's default training parameters.

[2022-10-13 11:46] anton-l commented on #820
Fix incoming: https://github.com/huggingface/diffusers/pull/823

[2022-10-13 13:41] #817 closed

[2022-10-13 13:43] A-Polyana commented on #807
I upgrade my Windows 10 21H2 > Windows 11 22H2

Now after this Work OOM(With out ds_config)
`Generating class images:   0%|     `

Code
[code]

[2022-10-13 14:06] Squolly commented on #807
Appearently I had already generated class images on earlier tries. When I try to generate new ones I get the same problem as you.

If I generate the class images with some other stable diffusion instance and put them into the class folder everything works (as there are no more class images to be generated). Maybe this could be a workaround.

I currently haven't checked it any further.

[2022-10-13 14:18] pink-red commented on #807
To reduce VRAM usage while generating class images, try to use `--sample_batch_size=1` ([the default is 4](https://github.com/huggingface/diffusers/blob/e001fededf64ee010a3e874764a96da81c84ff5c/examples/dreambooth/train_dreambooth.py#L107)). Or generate them on the CPU by using `accelerate launch --cpu train_dreambooth.py ...`, then stop the script and restart the training on the GPU again.

[2022-10-13 14:35] jncasey commented on #760
Thanks, @pcuenca! FYI it looks like the other Stable Diffusion pipelines (e.g. Img2Img, inpaint) are still using `repeat_interleave`, so they may want your fix, too.

The change hasn't returned performance to what I'm getting with diffusers 0.3.0 and the torch nightly from September 11, but that seems to be on the pytorch side [based on this other report](https://github.com/pytorch/pytorch/issues/

[2022-10-13 20:19] WASasquatch opened #834 "[Community] CPU Under Utilized"
### Describe the bug

When using CPU as device, the CPU is very under utilized. I get about 50-66% utilization. The fans don't even need to turn on.  Should I be running a special version of PyTorch, or?

![image](https://user-images.githubusercontent.com/1151589/195700788-06c23c10-eb9b-4d18-b829-246fb7e8bb2f.png)

### Reproduction

[code]

### Logs

_No response_

### System Info

- `diffusers` v

[2022-10-13 21:33] A-Polyana commented on #807
Perfect! It`s Work Generating class images! with use 6GB VRAM and 11GB RAM TO Win11 WSL2

[2022-10-13 22:29] devilismyfriend commented on #807
what did you change exactly? I already have class images made and using the ds_config and it still won't work

[2022-10-13 22:33] devilismyfriend commented on #807
when you do wsl --update what kernel version does it say you have?
mine says  Kernel version: 5.10.102.1

[2022-10-13 23:04] pink-red commented on #807
Yes, it's okay. For me, it repeats about 10 times at the start and then it might rarely occur again later. I think that this message means that DeepSpeed is adjusting settings to fit the model into VRAM.

[2022-10-14 00:05] devilismyfriend commented on #807
OK I can confirm updating to the preview windows release (22H2) and doing wsl --update got me past the pinning, only the overflow msg keeps on popping

[2022-10-14 00:09] A-Polyana commented on #807
did use window10 21H2 wsl2?

[2022-10-14 02:38] keturn opened #835 "numpy_to_pil fails on flax pipeline output"
### Describe the bug

When I try to `numpy_to_pil` the output of FlaxStableDiffusionPipeline, it crashes with

(maybe possibly related to safety_checker=None)

### Reproduction

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.5.1
- Platform: Linux-5.15.0-50-generic-x86_64-with-glibc2.35
- Python version: 3.10.6
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Huggingface_hub ver

[2022-10-14 02:42] Thomas-MMJ commented on #807
Upadated to 22H2 and can now pin large amounts of memory as well.

[2022-10-14 02:58] keturn commented on #835
This works to get a PIL image:
[code]

[2022-10-14 03:41] clamp-7724 commented on #372
when I try to excute the code:
from torch import autocast
from diffusers import StableDiffusionPipeline

pipe = StableDiffusionPipeline.from_pretrained(
    "CompVis/stable-diffusion-v1-4",
	use_auth_token=True
).to("cuda")

prompt = "a photo of an astronaut riding a horse on mars"
with autocast("cuda"):
    image = pipe(prompt)["sample"][0]

image.save("astronaut_rides_horse.png")

It showed me t

[2022-10-14 04:47] Marcophono2 opened #836 "Congrats!"
Please allow me to say that the work and performance in this repository is really impressing! 👍
Unbelievable how many improvements are included in the last updates in that short time intervals. Brilliant! I cannot remember ever have seen a repository with comparable power.

(Yes, this "issue" can be closed if desired)

[2022-10-14 07:34] FahimF commented on #760
@jncasey Actually, the performance on the diffusers 0.4.0 branch became horrible way before the issues on the PyTorch side ... I filed a bug report about the 0.4.0 branch issues about a month ago:
https://github.com/huggingface/diffusers/issues/548

The issues on the PyTorch side started only around the end of September - I believe the 25th to be exact ... So this might be two separate issues. But

[2022-10-14 08:43] pcuenca commented on #835
@keturn Thanks for reporting this, I can reproduce in TPU hardware too.

[2022-10-14 08:50] EstudioAI commented on #712
**This "overcooked" look is actually the opposite, that happened to me after training for several steps (3000+) and trying to render using 50 inference steps or so.** If you look at this image, the early steps for some sampling methods look kinda similar to the bleeding we are talking about.

![2022101401](https://user-images.githubusercontent.com/115781692/195800829-21abdc50-eb6a-48b5-938a-b6c95a

[2022-10-14 09:11] pcuenca opened #838 "Flax pipeline: width and height are ignored"
### Describe the bug

`width` and `height` are passed to the generate function, and we do check that they are multiples of `8`, but then we always create the latents using the standard size.

### Reproduction

[code]

### Logs

_No response_

### System Info

Tested on TPU v3-8 with diffusers @ e48ca0f

[2022-10-14 09:14] paudom commented on #761
@nanlliu Could you please tell me which Pytorch version or setup did you finally used? Thanks!

[2022-10-14 09:43] patrickvonplaten commented on #835
IMO we should update the `numpy_to_pil` funciton here to make it work correctly.

I'm actually against returning PIL images directly from the pipeline as this won't be compatible with `pmap(...)` etc... IMO the output of pipe in Flax should for now always be `Union[np.ndarray, jnp.ndarray]`

[2022-10-14 10:30] keturn commented on #835
...hence #458

[2022-10-14 10:37] pcuenca commented on #835
Either way I think we should return the same type whether the safety checker is used or not.

[2022-10-14 11:20] patrickvonplaten opened #841 "[Community Pipelines] - How do they work?"
## Community Pipelines

As of `diffusers==0.4.0` you can make use of [Community Pipelines](https://huggingface.co/docs/diffusers/using-diffusers/custom_pipelines).

The goal with community pipelines is the following:

***A community driven offering of an exotic variety of features built on top of `diffusers` which is maintained by the community***

### Why community pipelines?

While the code of c

[2022-10-14 13:13] 9of9 opened #843 "Prompt Syntax Documentation"
**Is your feature request related to a problem? Please describe.**
I do not know what syntax I can use when typing a prompt in, e.g. weighting multiple prompts, negative weights etc.

**Describe the solution you'd like**
I would like documentation and/or tool-tips that explain what syntax is supported for modifying prompt strings.

**Describe alternatives you've considered**
These do not seem to b

[2022-10-14 13:17] #843 closed

[2022-10-14 13:17] 9of9 commented on #843
Posted on the wrong repo, doh!

[2022-10-14 14:39] CrazyBoyM commented on #725
Hi, friend.I see this PR https://github.com/huggingface/diffusers/pull/361
but when i try this:
[code]
i get a error with:
[code]
can you help me?

[2022-10-14 15:02] kosukekurimoto commented on #551
@leszekhanusz
I agree with you completely.
It looks like the pipeline is divided and organized, but when you actually use it, the UX is obviously bad.

[2022-10-14 15:02] CrazyBoyM commented on #725
Very Great !

[2022-10-14 15:27] Cyberes commented on #732
How are you doing this?

[2022-10-14 15:46] DominikDoom commented on #732
@Cyberes

Yes, the script takes `--pretrained_model_name_or_path` as an argument. Normally it just uses the SD Huggingface repo, but you can also point to any other pretrained diffusers model in the same way. So as long as you keep the original diffusers model created at the end with `save_pretrained`, you could use it as the input for the next training. I don't know how it affects the final quali

[2022-10-14 16:01] theahura opened #845 "Allow safety checker pipeline configuration that returns boolean array but does not black out images"
**Is your feature request related to a problem? Please describe.**
See this PR comment: https://github.com/huggingface/diffusers/pull/815#discussion_r994418216

TLDR: with recent changes in #815, developers have the ability to disable the safety checker. Currently, the only options available to devs is to either have the safety checker or not have it at all. While this is useful, many applications

[2022-10-14 16:11] Cyberes commented on #732
Ok cool. I wasn't sure if I could do that with `--pretrained_model_name_or_path`.

[2022-10-14 16:30] leszekhanusz opened #846 "Dreambooth class image generation fails if filename already exists"
### Describe the bug

When it generates class images, the `train_dreambooth.py` script does not check if the filename already exists.
So it might overwrite an existing image with the same name, and in consequence not enough images are present in the folder and the script breaks later.

### Reproduction

This can happen for example if:
 - you generate a few class images with the script
 - you notic

[2022-10-14 16:54] Pie31415 commented on #778
Hi, I'm interested in helping out. Is this task already taken? If not, could I work on this task?

[2022-10-14 17:27] piEsposito commented on #725
@CrazyBoy, what happens is that, for that feature to work, we need a version of `accelerate` with https://github.com/huggingface/accelerate/pull/747 merged. This PR was merged 4 days ago and the last release was 7 days ago.

Until they make the next release for accelerate, if you really want to use this feature I suggest you install accelerate from the master branch of the repository: `pip install

[2022-10-14 17:28] piEsposito commented on #725
Closed as per #772 and https://github.com/huggingface/accelerate/pull/747.

[2022-10-14 17:28] #725 closed

[2022-10-14 17:28] patrickvonplaten commented on #593
I think the way AUTOMATIC1111 currently processes high resolution images make a lot of sense (e.g. first doing low res and only at the final decoding steps upscaling the image and smoothing it with noise

[2022-10-14 17:29] piEsposito commented on #725
@CrazyBoyM, what happens is that, for that feature to work, we need a version of `accelerate` with https://github.com/huggingface/accelerate/pull/747 merged. This PR was merged 4 days ago and the last release was 7 days ago.

Until they make the next release for accelerate, if you really want to use this feature I suggest you install accelerate from the master branch of the repository: `pip instal

[2022-10-14 17:30] patrickvonplaten commented on #460
Thanks!

[2022-10-14 17:38] patrickvonplaten commented on #812
Hey,

Thanks for the issue! Note that the inpaint pipeline is still experimental because no official stable diffusion in-painting checkpoint has been released so far.

We wanted to take a closer look at in-painting as soon as a better checkpoint is released.

[2022-10-14 17:54] patrickvonplaten commented on #820
Thanks for the fast fix @anton-l

[2022-10-14 17:56] patrickvonplaten commented on #486
To not leave this issue unnoticed, @ari-holtzman do you have good libraries in mind for a watermark? Most libraries have too many dependencies and/or have watermark functionality that doesn't work well from what I've seen :-/

[2022-10-14 18:29] natolambert commented on #778
#818 is not complete. There are many things to do:
* test the implementation (preferably in a colab we can look at / contribute to too)
* tests in the library
* implementing this in other schedulers too

Feel free to open a PR on my PR if you get ahead, or keep discussing here!

[2022-10-14 18:52] patrickvonplaten commented on #807
cc ing @patil-suraj here for dreambooth

[2022-10-14 18:53] patrickvonplaten commented on #372
Is this still relevant (gently pinging @pcuenca )

[2022-10-14 18:56] patrickvonplaten commented on #760
Hey @FahimF,

Could you quantify "horrible" a bit with benchmark numbers?

Note that MPS is still not stable yet on PyTorch. We're in contact with the Pytorch team to make things more stable, but note that for now we will always make our code be compatible with the newest PyTorch versions. Also cc @pcuenca

[2022-10-14 18:57] patrickvonplaten commented on #548
Gently pinging @pcuenca here :-)

(sorry for the long wait @FahimF)

@pcuenca maybe we should post a longer "what's the current state" message in #760 ?

[2022-10-14 18:58] ghpkishore commented on #811
I get your point on not using the safety checker for training, but generation of images is part of the training process in dreambooth. So is this ( the safety checker being active) a bug in the right now? Will read on the mentioned issue as well.

[2022-10-14 19:03] patrickvonplaten commented on #835
I'd advocate to just return numpy images only in Flax no matter what -> it's different from PyTorch because we want to be able to compile the whole function end-to-end which is not possible with PIL

[2022-10-14 19:05] pcuenca commented on #548
Hi @FahimF my apologies for being so slow! I need to seriously test the latest pre-release versions of PyTorch and try to find what the problem might be. I hope to provide a better update on Monday. Thanks for your patience, and also for your help in reporting these problems, they are very helpful even if we are slow sometimes.

[2022-10-14 19:06] patrickvonplaten commented on #843
Hahah nooo :cry:  - Doc PRs are the best usually haha

[2022-10-14 19:09] patrickvonplaten commented on #551
@kosukekurimoto thanks for the feedback, could you share some more detail in what is bad? Happy to try to make it cleaner next week!

[2022-10-14 19:12] patrickvonplaten commented on #845
Hey @theahura,

Could you maybe try to add a community pipeline for this?
See: https://github.com/huggingface/diffusers/issues/841

[2022-10-14 19:13] patrickvonplaten commented on #732
Gently pinging @patil-suraj here

[2022-10-14 19:13] patrickvonplaten commented on #846
@patil-suraj could you take a look here?

[2022-10-14 20:25] nerdyrodent commented on #712
@compustar - just tried 2000 steps at 1e-6 and the results weren't as good as the default 800 steps at 5e-6.

[2022-10-14 20:25] Cyberes commented on #732
I'm getting an error when continuing from a dreambooth model immediately after training finishes during what I assume is the saving process.

[code]

[2022-10-14 20:50] crowsonkb commented on #277
k-diffusion's Euler and Euler Ancestral samplers are just the VE versions of DDIM and the original DDPM sampling method though, they should actually produce the same outputs as their VP counterparts if you convert a VP diffusion process to VE...

[2022-10-14 21:25] brodieferguson opened #851 "Found dtype Float but expected Half"
### Describe the bug

I am trying to use the "Training on a 8 GB GPU" Dreambooth instructions. I set up the accelerate config and everything else to the best of my knowledge. I have it running all the way to displaying the training steps screen, but then I get an error "Found dtype Float but expected Half." I would appreciate any help getting it running, as I've been able to get it past any ram/vr

[2022-10-14 23:54] FahimF commented on #760
@patrickvonplaten Not blaming you guys, just noting what was previously reported 😄 Please look at the bug report I filed about a month back (linked in the previous report) for numbers, which I did provide there.

The numbers might have changed since the 0.4.0 (and subsequent releases) but I have not done actual numbers since then. I do install the latest version every once in a while (on top of Py

[2022-10-15 00:02] FahimF commented on #548
@pcuenca Not blaming you guys, at all! Much appreciate what you are doing since I did try working with the Tensorflow version of Stable Diffusion (because it is much faster than PyTorch and Hugging Face Diffusers at the moment) and I must confess that I much prefer working with PyTorch and Hugging Face Diffusers if I can 😄

So, really appreciate what you guys are doing and am simply reporting issu

[2022-10-15 00:37] FahimF opened #852 "diffusers 0.5.1 crashs on MPS with unexpected keyword argument 'device_map' error"
### Describe the bug

Trying to run Stable Diffusion code with the default scheduler and it simply crashes out every single time with the following error:

[code]

### Reproduction

Just run the following code:

[code]

### Logs

_No response_

### System Info

macOS Monterey 12.6
Apple M1 Max 32GB
diffusers 0.5.1

[2022-10-15 00:39] FahimF commented on #548
@pcuenca Tried testing with 0.5.1 to see if there's a change with the speed issues but can't even get simple code to run using 0.5.1 with diffusers due to a persistent crash. Filed a separate bug report about that here: https://github.com/huggingface/diffusers/issues/852

[2022-10-15 02:20] A-Polyana opened #853 "if use 8gb vram train seting convert, Should ckpt conversion also be modified?"
hi there, Thanks to you, I finished my 8gb vram training well
but I have one problem that Web UI is can`t load My train Model ckpt

I use this ckpt convert py
`https://gist.github.com/jachiam/8a5c0b607e38fcc585168b90c686eb05`

if use my train model Web UI I'm sending out a log like this
[code]

if I can load ckpt Change diffusers Setting? or Use other diffuers to ckpt script?

My train setting wit

[2022-10-15 02:34] brodieferguson commented on #851
I noticed my train_dreambooth.py differed slightly from the newest version and somehow wasn't getting updated with the rest of the files.

[2022-10-15 02:34] #851 closed

[2022-10-15 03:18] WASasquatch commented on #845
Wouldn't it be far more beneficial to return Gaussian blurred images, like in the Discord beta? If the image is black, you don't know if this is something to refine in your prompt, or a prompt to scrap.

The way I have edited the safety checker is to simply return the image, regardless. Now it's up the the developer to make use of the `has_nsfw_concepts` and decide what to do with it. In my case,

[2022-10-15 04:28] CrazyBoyM commented on #672
Hi, have you slove the problem now?

[2022-10-15 04:29] CrazyBoyM commented on #672
@MistApproach , Hi, have you slove the problem now?

[2022-10-15 04:44] theahura commented on #845
@patrickvonplaten I strongly think this should be a maintained pipeline. I think it is an incredibly common and practical use case, and many people will end up with the same question.

If the maintainers don't budge on this, I'll inevitably build it in the community pipeline and try and push it up to main, but obviously that would be on a different timeframe

[2022-10-15 04:49] CrazyBoyM commented on #725
it works! very thakns.
but sames no more VRAM was saves, may be it because I have use some other trick as these:
[code]
on the T4, it cost about 4.2Gb VRAM.
I will test it on my 1660ti 6g.

[2022-10-15 06:05] vvsotnikov commented on #852
I have the same issue with diffusers 0.5.1 and pytorch 1.14.0.dev20221014.

[2022-10-15 11:25] MistApproach commented on #672
@CrazyBoyM, unfortunately, no. Because of this i have dropped the idea of using stable-diffusion-webui for my frontend. Wrote a simple app using gradio and diffusers StableDiffusionPipeline under the hood.

[2022-10-15 12:55] DonStroganotti commented on #853
This one works https://github.com/ratwithacompiler/diffusers_stablediff_conversion

[2022-10-15 13:12] 2feet6inches commented on #551
@patrickvonplaten
It uses extra memory if the classes are separated 😇

e.g.
[code]

[2022-10-15 13:12] klyuhang9 commented on #852
I meet the same issue with diffusers 0.5.1 ,pytorch 1.11.0

[2022-10-15 13:14] kosukekurimoto commented on #551
@patrickvonplaten
It uses extra memory if the classes are separated😇

e.g.
[code]

[2022-10-15 16:53] BurguerJohn opened #854 "Community pipeline to run Stable Diffusion with k-diffusion"
**Describe the solution you'd like**
I'm making a pipeline to use k-diffusion with Diffusers.
The code run from start to finish, but it's giving pretty bad outputs.
I did try to undestand both codes and I'm currently stuck in what could be possible wrong. Perhaps someone can shed some light  of what is wrong with my code? Once is ready, will make a pull request.

https://github.com/BurguerJohn/dif

[2022-10-15 18:16] skirsten opened #856 "JAX / Flax pipeline: "Ran out of memory in memory space hbm." on TPU v2-8"
### Describe the bug

I followed the blog post [here](https://huggingface.co/blog/stable_diffusion_jax) on `diffusers==0.5.1`. I am running inside a Colab TPU instance so I added [this snippet](https://github.com/google/jax#pip-installation-colab-tpu):

[code]

but now I get the following error during the first JIT compilation:

[code]

The authors of the blog clearly state that its possible on TP

[2022-10-15 19:21] neverix commented on #702
https://arxiv.org/abs/2210.05559 has since come out which names reverse sampling "DPM-Encoder"

[2022-10-15 19:31] keturn commented on #854
I think if you've got it far enough that it runs, you could open a PR with `[WIP]` in the title and in _Draft_ status. It'd be easier to comment on the code that way.

[2022-10-15 20:26] pcuenca commented on #856
Hi there!

I think you need to update the jax and jaxlib versions in Colab and use the latest version of the TPU driver. This won't be necessary after Google updates the environment to see all the latest versions as default, which should presumably happen next week. For now, you need to run something like this:

[code]

And then install the rest of dependencies:
[code]

Please, let us know if that

[2022-10-15 21:27] skirsten commented on #856
Works like a charm :tada:  Thank you very much!

[2022-10-15 21:27] #856 closed

[2022-10-15 22:31] A-Polyana commented on #853
ty! that can load on webui

[2022-10-15 23:25] NightMachinery commented on #838
Does the model work with a custom resolution? Isn't it only trained on 512x512?

How high can we go on Colab's TPUs?

[2022-10-15 23:54] BurguerJohn commented on #854
Alright, I'm not that used to git/github so was not sure how to proceed with this correctly.

[2022-10-16 04:13] jujpenabe commented on #743
I have the same problem, I can't convert a merged ckpt. Probably one of those was not an original model of stable diffusion?
I haven't touched anything, I use the script in colab and always clone the diffuser repository at every runtime.
Are there any other requirements to convert the ckpt? Maybe the size or a mandatory config.yaml?

[2022-10-16 05:05] LuisGalvezCarrasco commented on #597
Hi, I replaced **!pip install diffusers[training]=0.3.0** for **!pip install git+https://github.com/huggingface/diffusers.git**, but I'm getting the following error:

![Screenshot from 2022-10-16 01-40-28](https://user-images.githubusercontent.com/65005615/196018521-5d3acba9-0d7d-438a-b917-39324f3530ba.png)

It is the original notebook , I did not modify anything more than the line I mentioned.

I

[2022-10-16 06:59] LuisGalvezCarrasco commented on #597
I'm going to help myself :), after some thought I realized that omitting the second argument **tensor_format="pt"** works fine.

I was afraid something would go wrong but it works fine, the training was successful and the generated images are consistent.

[2022-10-16 09:30] klyuhang9 opened #858 "AttributeError: 'Parameter' object has no attribute 'named_children'"
### Describe the bug

Hi, friends, I meet a problem  I hope to get your help.

When I run the code as follow:

`from diffusers import StableDiffusionPipeline
import torch

pipe = StableDiffusionPipeline.from_pretrained("PATH_OF_MODEL/stable-diffusion",device_map="auto",torch_type=torch.float16, revision="fp16")
`
I save the  model in the path "PATH_OF_MODEL/stable-diffusion" from the https://huggi

[2022-10-16 09:49] klyuhang9 opened #859 "TypeError: __init__() got an unexpected keyword argument 'device_map'"
### Describe the bug

Hi, friends, I meet a problem I hope to get your help.

When I run the code as follow:

`from diffusers import StableDiffusionPipeline
import torch

pipe = StableDiffusionPipeline.from_pretrained("PATH_OF_MODEL/stable-diffusion",device_map="auto",torch_type=torch.float16, revision="fp16")
`

I save the model in the path "PATH_OF_MODEL/stable-diffusion" from the https://huggin

[2022-10-16 14:36] WASasquatch commented on #745
Thanks for the example. Is it safe to assume you can override the feature extractor and clip model of any pipe without having to reimplement your whole system for custom, and possibly unstable pipes?

Imo this isn't intuitive for most the community and leaves access to HF clip models to the code affluent. That sort of limited arbitrary access on the basis of experience is sad.

[2022-10-16 14:41] zcorley commented on #712
Great thread you started here @affableroots

I've been trying to run your [TI-Dreambooth-Tokenizer code](https://gist.github.com/affableroots/a36a74287c8eb2da438a459795b158d6). I am getting errors about accessing huggingface-cli that I am not getting when I run Shivam's version of the code. specifically:

OSError: CompVis/stable-diffusion-v1-4 is not a local folder and is not a valid model identif

[2022-10-16 17:35] d8ahazard commented on #712
You need to download the *diffusers* model, which is a repo with multiple directories and files. The .ckpt is for regular stable diffusion, etc.

[2022-10-16 19:14] bbecausereasonss commented on #672
Can you please explain how to use that original ckpt > diffusors script? I don't understand the run syntax.

[2022-10-16 20:34] karlmacklin commented on #807
Did anyone of you ever get it solved to work for Windows 10?

I can't pin large amounts of ram, and I have all windows updates applied and run `wsl --update`.

I'm reluctant to update to Windows 11 unless necessary so just curious if this is the current solution.

[2022-10-16 20:49] dkackman commented on #859
started happening spontaneously for me this morning. (diffusers 0.5.1)

[2022-10-16 20:51] dkackman commented on #852
Don't think it's specific to MPS. Getting the same on a Ryzan/NVIDIA combo

[2022-10-16 21:08] Thomas-MMJ commented on #807
It won't work on Windows 10, It didn't work on Windows 11 till a week ago with the latest update, and Windows 10 ceased getting any updates.  To work apparently required support in the OS to enable larger memory pinning in WSL.

[2022-10-16 21:43] anfeirr commented on #859
yes, I've got the same bug

[2022-10-16 22:35] patrickvonplaten commented on #859
Hey,

Could you try updating your `transformers` version to at least `4.20` ?
Big model inference was introduced in version `4.20.0` in Transformers see here: https://github.com/huggingface/transformers/releases/tag/v4.20.0

If you run:

[code]

I think it should work

[2022-10-16 22:40] patrickvonplaten commented on #858
Hey @klyuhang9,

Thanks a lot for the issue. This is a bug that we recently fixed in `accelerate` here: https://github.com/huggingface/accelerate/pull/747

I'm not exactly sure when a new `accelerate` version will come out - also cc @sgugger @muellerzr here (not sure if it's worth making a patch release for this)
Until then could you try the same command with the `"main"` version of `accelerate`:

[2022-10-16 22:42] patrickvonplaten commented on #852
Hey @FahimF,

Thanks a lot for the issue! Could you try updating your `transformers` version here?
Also see: https://github.com/huggingface/diffusers/issues/859

I'll now also open a PR to prevent this for lower transformers versions

[2022-10-16 22:52] #852 closed

[2022-10-16 22:52] #859 closed

[2022-10-16 23:00] patrickvonplaten commented on #845
Hey @theahura,

We simply cannot maintain all the possible different use cases. Note that pipelines should be seen more as examples/higest-level API" . For cases such as yours, it would be very simple to just do the following:

[code]

Note that especially for topics regarding the safety checker, there are many different ideas/opinions out there and we cannot try to find a solution that works for

[2022-10-17 00:07] A-Polyana commented on #807
I won`t upgrade My window10 like you, but I upgrade WIN11 22H2 for this Work
Maybe it's very different from Windows 10 WSL2

[2022-10-17 00:26] FahimF commented on #852
@patrickvonplaten Upgrading to the the latest transformers did the trick. Thanks!

[2022-10-17 00:37] xiaowang2017 opened #861 "Can't convert ckpt model to diffusers with convert_original_stable_diffusion_to_diffusers"
### Describe the bug

When I use the script convert_original_stable_diffusion_to_diffusers
with the command
 python Output.py --checkpoint_path model.ckpt --dump_path hq-full/ --original_config_file config.yaml
It shows me
Traceback (most recent call last):
  File "Output.py", line 643, in <module>
    checkpoint = torch.load(args.checkpoint_path)["state_dict"]
KeyError: 'state_dict'

### Reproduc

[2022-10-17 01:02] FahimF commented on #548
@pcuenca Tested with the latest diffusers (0.5.1) and the pre-slowdown version of PyTorch nightly (1.13.0.dev20220924) and it appears that diffusers is now almost as fast as it used to be. So there's some improvement over the initial 0.4.0 pre-release builds I last tested on but slightly slower than it used to be ...

But for anything other than 512 x 512 images, it's still extremely slow and that

[2022-10-17 01:53] WASasquatch commented on #841
So there is no init image support or mask support in `DiffusionPipeline()`? I don't see it referenced. What is the point of these community pipelines, exactly?

[2022-10-17 01:57] WASasquatch commented on #845
I think it should at least make sense... Right now, it returns a boolean for if an image is NSFW, and then also returns a black image. So from even a highest-level API viewers standpoint, the implementation just doesn't make sense. If you were going to have a boolean for a developer to implement something (a message, blurring the image, etc), you'd have something.

It's not usable in any API sense

[2022-10-17 04:32] theahura commented on #845
@patrickvonplaten thanks for the reply. I think that there's a lot of sensitivity around this particular avenue of feature requests, so I understand the hesitance to take on more maintenance here.

That said, though I disagree with the tone of WASasquatch, I think overall they make a good point -- there aren't many DEVELOPER use cases that play well with having a forced black out. I think this fea

[2022-10-17 05:25] 2feet6inches commented on #736
I had the same problem.
[code]

[code]

[2022-10-17 05:27] 2feet6inches commented on #736
There is no problem if you specify it directly.

[code]

[2022-10-17 05:53] wcarletsdrive opened #863 "Inference fix needed (ASAP)"
Has anyone done nerdy rodent's install? It works but I get this at the end and my shell is this as followed in his tutorial

export LD_LIBRARY_PATH=/usr/lib/wsl/lib:$LD_LIBRARY_PATH
export MODEL_NAME="CompVis/stable-diffusion-v1-4"
export INSTANCE_DIR="training"
export OUTPUT_DIR="classes"

accelerate launch train_dreambooth.py \
  --pretrained_model_name_or_path=$MODEL_NAME  \
  --instance_data_d

[2022-10-17 06:08] WASasquatch commented on #845
I don't think this library is to safely and easily enable many people to use SD. It's a API to allow developers to build servers, which then let many people utilize SD. In no way is installing python, dependencies, and copying and pasting/customizing a script "many people" and inherently a miniscule scope of them by the user bases of services like mine and others.

[2022-10-17 07:50] 345ishaan opened #865 "A Generalist Framework for Panoptic Segmentation of Images and Videos"
### Model/Pipeline/Scheduler description

This work (https://arxiv.org/pdf/2210.06366.pdf) presents how we can apply the advances of diffusion modelling to generate panoptic masks for images and videos conditioned on any image input. In most works related to diffusion modelling, the noise and output space is parametrized in continuous space, however to solve the panoptic task, they bring in the co

[2022-10-17 07:52] klae01 opened #866 "The behavior of safety_checker is ambiguous."
I need information about which embeddings the safety_checker's concept_embeds have.

The 3 vectors in concept_embeds feel like they're not enough to work as a filtering.
I think the current safety_checker isn't enough to isolate the brutal or gore images.
How about adding an explicit runtime computed embedding for these "bad_concepts"?
Closing these filtering algorithms as a black box doesn't help

[2022-10-17 07:55] alexisrolland opened #867 "Running Stable Diffusion in FastAPI Does Not Release GPU Memory"
### Describe the bug

I am running Stable Diffusionas as a web service using FastAPI. It runs fine, but after doing multiple inference calls, I noticed the memory of the GPU becomes full and the inference fails. It is as if the memory is not released right after doing the inference.

### Reproduction

**requirements.txt**

[code]

**main.py**

[code]

Command to run the FastAPI: `uvicorn main:app

[2022-10-17 08:06] alexisrolland commented on #867
Screenshot showing the memory stacking-up:

![image](https://i.stack.imgur.com/tkKgl.png)

[2022-10-17 09:15] patrickvonplaten commented on #845
Ok, I think we're intertwining multiple feature requests here:

- 1.) Allow an option to **not** black out an image, but return a boolean whether it's safe or not. As said above, personally I don't see the huge use case for this + it's weakening the safety of the model even more. cc'ing @patil-suraj @pcuenca @anton-l @natolambert here
- 2.) By @WASasquatch, to blurr the image instead of showing a

[2022-10-17 09:17] patrickvonplaten commented on #845
Also @WASasquatch, what do you mean by:

?

[2022-10-17 11:09] anton-l commented on #597
@LuisGalvezCarrasco indeed, `tensor_format` has been deprecated in the latest version :)
Updated the training notebook to `diffusers==0.5.1`: https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/training_example.ipynb

[2022-10-17 11:09] #597 closed

[2022-10-17 11:28] patrickvonplaten commented on #866
Hey @klae01,

Here an issue that should help regarding what concepts were used: https://github.com/huggingface/diffusers/issues/476

In short, it was the stability AI team chose these concepts. Yes, I think you should definitey be able to add new features to the safety checker - do you want to open a PR for this maybe?

[2022-10-17 11:29] patrickvonplaten commented on #863
cc @patil-suraj, but this seems like it depends on other libraries that just `diffusers`

[2022-10-17 11:36] patrickvonplaten commented on #841
Hey @WASasquatch,

Sorry I don't really understand your question here - what does `init_image` have to do with community pipelines? The point of community pipeline is explained under **Why community pipelines?** in the section above.

[2022-10-17 12:03] sgugger commented on #858
I can put it in a patch later today!

[2022-10-17 14:04] osanseviero opened #871 "[Community Pipeline] Speech to Image"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:17] osanseviero opened #872 "[Community Pipeline] Wildcards"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:21] osanseviero opened #873 "[Community Pipelines] SD v1-v4 compare"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:25] osanseviero opened #875 "[Community Pipeline] Seed resize"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:28] osanseviero opened #876 "[Community Pipeline] Composable Diffusion"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:31] osanseviero opened #877 "[Community Pipeline] Checkpoint merging"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 14:31] osanseviero commented on #877
@apolinario any resources you would suggest for this pipeline?

[2022-10-17 14:36] apolinario opened #878 "[Community Pipeline] Modified Cross-Attention - Structured Diffusion Guidance for Compositional T2I synthesis"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-17 15:06] patrickvonplaten commented on #867
Thanks a lot for the issue! I'll look into this

[2022-10-17 15:12] sgugger commented on #858
Patch is out on Pypi.

[2022-10-17 15:45] MikailINTech commented on #871
Hi, would be glad to work on it

[2022-10-17 16:02] osanseviero commented on #871
Awesome! Feel free to open a PR and if you have any questions just let us know :) (ideally in the parent issue unless it's very specific to this :pray: )

[2022-10-17 16:02] WASasquatch commented on #845
This just doesn't make sense. How is it weakening anything? It's just letting the class do what it's clearly intended to do, that was botched for some reason, which comes back to

It seems very obvious that the safety checker was botched, to produce only black images regardless of letting the developer using the API know it's NSFW, which makes letting them know via boolean useless. They will know,

[2022-10-17 16:03] patrickvonplaten commented on #867
I can reproduce this locally! Trying to find the source now

[2022-10-17 16:23] patrickvonplaten commented on #867
Hmmm, actually I have problems reproducing this error locally.
This could be one source of accidentally commulating GPU memory: https://github.com/huggingface/diffusers/pull/882 , but it shouldn't be the reason here IMO.

I don't really know what the issue could be here as we're not really accumulating tensors anywhere.

Also, we done some improvements to running stable diffusion on GPU when relea

[2022-10-17 16:29] 20RitikSingh commented on #878
I want to work on this.

[2022-10-17 16:30] 20RitikSingh commented on #876
I want to work on this.

[2022-10-17 16:30] 20RitikSingh commented on #872
I want to work on this.

[2022-10-17 17:09] patrickvonplaten commented on #551
Hey everybody,

We've now merged the "all-in-one" community pipeline which doesn't require any additional memory to run all pipelines. Please have a look at: https://github.com/huggingface/diffusers/tree/main/examples/community#stable-diffusion-mega

[2022-10-17 17:17] patrickvonplaten commented on #838
Haven't tested the max resolution that's possible yet - would also be interested in such numbers :-)

[2022-10-17 17:25] patrickvonplaten commented on #854
Hey @BurguerJohn,

That's a great idea! Generally, the `k-diffusion` and `diffusers` API is a bit different as `k-diffusion` expects the model to be passed to the sampler which is not really possible with our native API, but it should definitely be possible in a community pipeline!

It'd be super nice if you could open a WIP - also feel free to tag me and/or @anton-l so that we can help you.
Also

[2022-10-17 17:27] patrickvonplaten commented on #854
Ah PR is already here: https://github.com/huggingface/diffusers/pull/857 very cool!

[2022-10-17 17:31] patrickvonplaten commented on #743
Hey @Desm0nt or @jujpenabe,

Could you maybe upload the original `.ckpt` file somewhere to the Hugging Face Hub: huggingface.co so that I can reproduce the error locally?

[2022-10-17 17:33] patrickvonplaten commented on #745
Hey @WASasquatch,

It'd be really nice if you could propose how the code could look instead so that we can try to go from "sad" to "good" :slightly_smiling_face:

[2022-10-17 17:36] shyamsn97 commented on #872
Would love to take a look at this, if nobody else is working on it :smile:

[2022-10-17 17:37] patrickvonplaten commented on #438
@patil-suraj and/or @anton-l could you check this?

[2022-10-17 17:38] patrickvonplaten commented on #712
Think @patil-suraj will very soon release a nice update of dreambooth :-)

[2022-10-17 17:38] daspartho commented on #875
Hi @osanseviero
I'd like to take on this =)

[2022-10-17 17:49] patrickvonplaten commented on #807
@patil-suraj re-pinging you here - could you take a look? :-)

[2022-10-17 17:53] patrickvonplaten commented on #736
cc @patil-suraj here as well

[2022-10-17 17:54] patrickvonplaten commented on #865
Hey @345ishaan,

Thanks a lot for this new model description (adding a label now) . Do you know if the authors released the weights by any chance?

[2022-10-17 18:07] patrickvonplaten commented on #858
Thanks a lot! @klyuhang9 doing:

[code]

should make your code above run correctly

[2022-10-17 18:22] apolinario commented on #878
Awesome @20RitikSingh! Feel free to share your progress with us and let us know if you have any challenges

[2022-10-17 18:42] BurguerJohn commented on #854
Thanks for the feedback. As soon as I write the example code to call the pipeline and fix the style will see if they can give me some help with this =)

[2022-10-17 18:51] patrickvonplaten commented on #876
Great @20RitikSingh,

Feel free to open a PR :-) We're happy to help with anything if needed!

[2022-10-17 18:51] patrickvonplaten commented on #873
Feel free to open a PR @20RitikSingh

[2022-10-17 18:52] patrickvonplaten commented on #872
@20RitikSingh since you've already shown interest on a lot of other community pipelines, ok if we leave this one for @shyamsn97 ? :-)

[2022-10-17 18:52] patrickvonplaten commented on #872
In general, the philosophy is to open a PR that is already in a reasonable state to have this issue be assigned to you. Then we can all work on the same PR :-)

[2022-10-17 18:52] patrickvonplaten commented on #875
That's great! Feel free to open a PR @daspartho :-)

[2022-10-17 18:58] neverix commented on #702
For just DDIM this would work - but the code is pretty much the same between the forward and reverse process, so I think inheriting or adding it as a method for the DDIM scheduler would work better. I'll implement the rest of the paper in the notebook and write back

[2022-10-17 19:09] pcuenca commented on #372
Yes, unfortunately, still an issue with the RC of PyTorch 1.13 from the `test` wheel.

@Birch-san In my experience this is only required the first time you use the model. Is this negatively impacting your use case in a non-transient mode?

[2022-10-17 19:56] affableroots commented on #712
@patil-suraj Did you figure out what the issue was then? I've been curious.

[2022-10-17 20:25] WASasquatch commented on #745
I've been thinking for a long time that pipes [of a type] should be merged.

Stable Diffusion pipeline for example should have all it's basic pipelines as one Stable Diffusion pipeline

`StableDiffusionPipeline` (similar to how it is now for text2img) except from this method one can use a ID, or ENUM to define the *type* of pipe it is.

This means the new `StableDiffusionPipeline` able to dynamica

[2022-10-17 20:39] WASasquatch commented on #745
To add further, it's possible that the `StableDiffusionPipeline` may not even need an ID/Enum. It would be logical enough to assume it's `img2img` if a INIT is provided, and no MASK is provided. It's also safe to assume it's `inpaint` if a INIT and MASK is provided.  This is how I do my detection as is.

[2022-10-17 21:18] patrickvonplaten commented on #551
- Components PR to make it easier to save memory between pipelines: https://github.com/huggingface/diffusers/pull/889

Will try to tackle the main "factor out functions" PR tomorrow

[2022-10-17 21:39] dblunk88 commented on #745
I love that idea

[2022-10-17 21:40] Birch-san commented on #372
personally I run pytorch stable 1.12.1 (because it's faster than 1.13RC or the nightlies https://github.com/pytorch/pytorch/issues/85297, https://github.com/pytorch/pytorch/issues/87010), so I don't encounter the einsum reproducibility problem.

my use-case is almost always "launch txt2img just to generate 1 image" (i.e. transient), so if I were on an exposed version of pytorch: this issue would h

[2022-10-17 23:57] FahimF commented on #760
Apologies, didn't mean to indicate that you were offended — in fact, I was explaining to indicate that I wasn't offended/blaming you guys 😄

Regarding numbers and versions, I thought I did provide those but I do tend to be a bit verbose and so the way I provide the info might not be very clear. Please let me know what would make things clearer, or if perhaps I can provide more info and I'd be happ

[2022-10-18 01:27] daspartho commented on #875
According to my understanding, this should allow you to generate images from known seeds at different resolutions, without changing the image as the resolution changes.

We can specify the resolution of the original image, and then all subsequent images of varying resolutions should look similar to the original image.

Could you please give me some suggestions on how i should go about implementing

[2022-10-18 02:35] tasercake opened #892 "v0.4.0+ breaks compatibility with Nvidia Deep Learning Containers"
### Describe the bug

[Nvidia's deep learning containers](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch) are a popular way to run machine learning workloads on top of Docker.

With diffusers 0.4.0+, I'm unable to import `diffusers` inside of this container because `torch.backends.mps` doesn't exist.

Culprit appears to be [this line](https://github.com/huggingface/diffusers/blob/10

[2022-10-18 03:43] keturn commented on #892
Odd. Why would the pytorch api define a [`torch.backends.mps.is_built`](https://pytorch.org/docs/stable/backends.html#torch.backends.mps.is_built) function if `torch.backends.mps` wasn't supposed to be available even on non-mps builds?

#849 suggests diffusers is PyTorch 1.13 compatible, does it work if you use the newest version of the NGC container instead?

[2022-10-18 04:06] keturn commented on #878
This is a super interesting paper! Note that there _is_ a reference implementation included in the `.zip` of "supplementary material" on the paper submission. Also note that implementation is _not_ released under the Apache License, so I don't know if :hugs: can accept a PR that includes it. It might be safer to do a clean-room implementation from only the description in the text of the paper.

[I

[2022-10-18 04:30] WASasquatch commented on #841
Hey @patrickvonplaten ,

I'm just curious why the `DiffusionPipeline` method doesn't have init image or inpainting support or does it? So when something like CLIP Guided Stable Diffusion is released, as cool as it is, is limited to just txt2img?

From a "community examples" perspective, coming across this, I wonder; _"how do I make this work in a typical diffusers workflow?"_, using img2img and in

[2022-10-18 04:56] WASasquatch commented on #845
Alright, and I have a PR that I was working on. I just need to read up on PRs I guess. As I only really know how to do it via forking and merge request (where it just picks up the changes you made as the PR). I had to back up and delete a fork I already had with some experiments, though. I'm not sure why it wouldn't just let me rename and fork it or something.

Regarding censoring; agree 100% that

[2022-10-18 05:31] alexisrolland commented on #867
Hello @patrickvonplaten and thank you for answering so swiftly!
I have followed your suggestion:

* Upgraded the diffusers library, I actually upgraded straight to the latest release `diffusers=0.5.1`
* Removed `with torch.autocast('cuda'):`

It seems it did not change anything regarding the GPU memory usage. While running a bunch of requests one after another against the FastAPI, I can see the GP

[2022-10-18 06:17] ElliotQi commented on #146
How is it going? I'm also interested in this!

[2022-10-18 07:38] 345ishaan commented on #865
I am not able to find author's implementation yet. The code and model for pix2seq which is used as pretrained model is there though.

[2022-10-18 08:49] AI-Guru opened #894 "[Community] Training AutoencoderKL"
Hi!

I am working on latent diffusion for audio and music. It seems to me that Diffusers 🧨 is the place to be! There is a feature I would like to request: Training AutoencoderKL (Variational Autoencoder).

What I would love to do, is training AutoencoderKL on square and non-square images, either with one or more than one channels. I checked the implementation, and it seems to me that due to its fu

[2022-10-18 09:11] apolinario opened #895 "[Community Pipeline] Imagic: Text-Based Real Image Editing with Diffusion Models"
## Intro

Community Pipelines are introduced in `diffusers==0.4.0` with the idea of allowing the community to quickly add, integrate, and share their custom pipelines on top of `diffusers`.

You can find a guide about Community Pipelines [here](https://github.com/huggingface/diffusers/issues/841). You can also find all the community examples under [`examples/community/`](https://github.com/hugging

[2022-10-18 09:27] apolinario commented on #877
Yes, so checkpoint merging is an idea implemented in the [AUTOMATIC1111/stable-diffusion-webui](https://github.com/AUTOMATIC1111/stable-diffusion-webui) repo, it interpolates the weights of models (can be fine-tuned or different versions of models), potentially creating cool results:
![image](https://user-images.githubusercontent.com/788417/196391977-3227e5ed-f91d-4740-9c64-ba58d860d9f0.png)

[Thi

[2022-10-18 11:16] tasercake commented on #892
Odd indeed. Tested this on `nvcr.io/nvidia/pytorch:22.09-py3` which ships with PyTorch 1.13 and I'm able to import diffusers just fine since `torch.backends.mps` is present.

Interestingly, the [v1.12 docs for `torch.backends`](https://pytorch.org/docs/1.12/backends.html) don't mention `mps` in the header section (but the [1.13 docs](https://pytorch.org/docs/1.13/backends.html) do). Not sure if th

[2022-10-18 11:17] matteoserva commented on #712
It might be related to this PR: https://github.com/huggingface/diffusers/pull/883

[2022-10-18 11:31] pcuenca commented on #892
As far as I knew, the `mps` backend was added in PyTorch 1.12: https://pytorch.org/docs/1.12/notes/mps.html. This looks like this must be an issue with that container.

Feel free to open a PR to make it a bit more robust :)

[2022-10-18 11:43] tasercake commented on #892
Ran a few tests using the following commands:

[code]

My results:

| Nvidia container version         | PyTorch version  | Did it work? |
|----------------------------------|------------------|--------------|
| nvcr.io/nvidia/pytorch:22.09-py3 | 1.13.0a0+d0d6b1f | ✅            |
| nvcr.io/nvidia/pytorch:22.06-py3 | 1.13.0a0+340c412 | ✅            |
| nvcr.io/nvidia/pytorch:22.05-py3 | 1.12.0a0+8a

[2022-10-18 13:47] Alx-AI commented on #895
Would love to see this added, notebook implementation here for reference https://github.com/justinpinkney/stable-diffusion/blob/main/notebooks/imagic.ipynb

[2022-10-18 15:07] Abhinay1997 commented on #877
Would the following be a good start ?

    # STEP 1:
    # Verify that the checkpoints have the same dimensions/modules etc.
    # STEP 2:
    # Find the mergeable modules from both the checkpoints. ( vae, unet, safety checker etc.. )
    # STEP 3:
    # For each mergeable component,  use the interpolation technique on the component weights and update the weights
    # STEP 4:
    # Return a pipel

[2022-10-18 15:41] asofiaoliveira commented on #895
I would like to work on this

[2022-10-18 16:59] akashAD98 commented on #871
I’m very much interested for this,I’ll try this feature

[2022-10-18 17:18] #543 closed

[2022-10-18 18:05] ssusie opened #898 "[Community] Exception in device=TPU:0: Got unsupported ScalarType BFloat16"
### Describe the bug

Trying to train Stable Diffusion on TPU with configuring accelerator to use TPU and changing fp16 to bf16. Having the following issue:
[code]

### Reproduction

I ran `accelerate config` and chose TPU with 4 cores. I removed  `tensor_format` from here
https://github.com/huggingface/diffusers/blob/100e094cc9af523d3f71783bceda82b22b091af2/examples/text_to_image/train_text_to_im

[2022-10-18 18:06] pcuenca commented on #372
Thanks @Birch-san! Great work posting all those details in PyTorch's github, it looks like they are really helping!

I'll do some more testing about the non-determinism to try to isolate what ops are still affected.

[2022-10-18 18:09] pcuenca commented on #762
Closing thanks to @anton-l ! (I'm aware we still have a failing test, taking a closer look tomorrow).

[2022-10-18 18:23] meg-huggingface commented on #845
Thanks so much for this discussion, and just popping in to say I completely agree that Hugging Face should create, and maintain, code for post-processing generated content (not limited to blurring, but that's definitely one).
From my perspective, there just haven't been enough engineers around with "free time" to do it. We're creating a job description for this task (and others), but it's not appr

[2022-10-18 18:30] pcuenca commented on #548
Hi @FahimF that appears to be the case, absolutely!

I have of couple of not-yet-updates:

- Some of the workarounds we added for unsupported ops are no longer necessary with the combination of PyTorch 1.13 pre-RC and the latest macOS Ventura beta. I think most were solved by the PyTorch team, while Apple fixed part of the array size limitations that caused weird crashes and inconsistencies (some

[2022-10-18 19:27] patrickvonplaten commented on #745
We have a long issue regarding "merging" stable diffusion pipeline into one, could you please comment there: https://github.com/huggingface/diffusers/issues/551

It would be nice if this issue could focus on the topic of "CLIP model support for pipelines"

[2022-10-18 22:20] rmyj commented on #877
YouTuber [Aitrepreneur](https://www.youtube.com/c/Aitrepreneur) shows his results of checkpoint merging [in this video](https://www.youtube.com/watch?v=dfMLrytpfAU) and suggests an alternative solution: train the model with a mixed input of both style and subject. He uses 10 images of the subject, and 20 of the "Midjourney" style in his video.

[2022-10-18 23:18] WASasquatch commented on #745
Right. Sounds good, though I feel this is directly related, because the fact this isn't already a feature is why the CLIP Guided Diffusion pipeline is inherited from a basic text2image pipeline. It's the root cause of the issue that lead us here.

[2022-10-19 00:09] FahimF commented on #548
Hey @pcuenca, thanks for taking a look and for the detailed notes — much appreciated 😄

* Didn't even know that there was a 1.13 pre-RC for PyTorch. I did notice that the nightly dev versions changed to 1.14 and that there was no  1.13 released but didn't realize what it signified. Will hunt down the RC and test with it. I haven't switched to Ventura yet, but since it will release next week, it sh

[2022-10-19 00:23] WASasquatch commented on #872
I have something similar, which this seems to be based upon idea: https://github.com/WASasquatch/noodle-soup-prompts

[2022-10-19 00:39] shyamsn97 commented on #872
Nice! I have something based on this https://github.com/adieyal/sd-dynamic-prompting in the works. Will put out a pr soon. I think it makes sense to support different filetypes as well :)

[2022-10-19 00:57] WASasquatch commented on #872
Wouldn't it be best to make sure access to the wildcard is as easy as possible? Just do it like a noodle and use one underscore `_the-noodle_`.

`__wildcard__` is a bit excessive, and are we really trying to emulate the `___write_your_name_here___` digital form method where it's suppose to symbolize a underline on a printed paper where you'd write? :P

[2022-10-19 07:55] tonetechnician opened #901 "Is there a reference for the model/architecture used by diffusers anywhere? It doesn't seem to match to the original stable-diffusion repo"
**What API design would you like to have changed or added to the library? Why?**

Hey there!

I'm not sure if this is the right section to post this, but I have a request/question for a write up on the inference configuration used by diffusers. Similar to a config.yaml in other model repos.

Recently I have been digging in quite a bit to diffusers and comparing with other stable diffusion implemen

[2022-10-19 07:55] patil-suraj commented on #712
Hi everyone! Sorry to be so late here.

We ran a lot of experiments with the script to see if there's any issues or if it's broken.
Turns out, we need to carefully pick hyperparameters like LR and training steps to get good results with dreambooth.

Also, the main reason the results with this script were not as good as Compvis forks, is that the `text_encoder` is being trained in those forks, and

[2022-10-19 08:59] matteoserva commented on #712
I tried ShivamShirao's version and it trained correctly on a 12GB cpu. I don't know if it trained correctly the text encoder but I see that the weights of the text encoder have been updated.
For instance, I used the adam8bit optimizer with gradient checkpointing and prior preservation loss

[2022-10-19 09:45] pcuenca opened #902 "Potential regression in deterministic outputs"
### Describe the bug

I've started noticing different outputs ~~in the latest version of diffusers~~ starting from diffusers `0.4.0` when compared against `0.3.0`. This is my test code (extracted from a notebook):

[code]

The first prompt produces identical results. The second one, however, results in different outputs:

`0.3.0`
![labrador_0 3](https://user-images.githubusercontent.com/1177582/19

[2022-10-19 10:33] pcuenca commented on #902
Update regarding the `img2img` pipeline: there are small differences using DDIM, I didn't notice any with PNDM or k-LMS. All tests done in full precision for now.

`DDIM v0.3.0`
![i2i_ddim_0 3](https://user-images.githubusercontent.com/1177582/196667678-b53864c8-9019-4503-a9ba-852be46875c0.png)

`DDIM main`
![i2i_ddim_0 6](https://user-images.githubusercontent.com/1177582/196667690-d08c2c68-1ede-4

[2022-10-19 10:36] patrickvonplaten commented on #902
Thanks a lot @pcuenca !

Do you think we could try to narrow down even more when the differences started happening? E.g. I guess it's between 0.3.0 and 0.4.0 , but then it'd also be nice to find out exactly which PR is the origin :-)

Otherwise happy to look into it myself in ~2 days!

[2022-10-19 10:38] matteoserva commented on #712
I tested ShivamShirao's fork with a 12GB card and it trained without errors, I seems that the text_encoder's weight have been updated. I haven't had time to compare the results of the two forks.
My parameters: with 8bit_adam, without caching latents, with prior preservation, without mixed precision, with gradient checkpointing, with text encoder training.

[2022-10-19 12:11] d8ahazard commented on #712
I'll see if I can implement that one today.

On Wed, Oct 19, 2022, 5:38 AM matteo ***@***.***> wrote:

[2022-10-19 12:30] batrlatom opened #905 "[Community Pipeline] image2image inpainting?"
**Is your feature request related to a problem? Please describe.**
Imagine you have two images defined, a logo and a t-shirt. we want to apply the logo to the t-shirt in such a way that it matches the physical surface of the t-shirt and the logo deforms correctly.

**Describe the solution you'd like**
How it should look like can be viewed in the images:
https://ibb.co/HtGGsC2 +  https://ibb.co/6mF

[2022-10-19 13:27] #593 closed

[2022-10-19 15:11] zetyquickly opened #911 "Dreambooth started to return bad config"
### Describe the bug

Hello,

In current master whenever I train dreambooth it returns model's folder that cannot be seamlessly utilized by `StableDiffusionPipeline.from_pretrained`. Previous training worked good.

Now command on the pre-trained model folder results in
[code]

And it is actually like that, some keys are missing in the JSON file and the folders with binaries too.

Training was done

[2022-10-19 15:46] pcuenca commented on #911
Hi @zetyquickly thanks for reporting this!

Does the error happen when you load a model trained using Dreambooth, or when you run the training script?

[2022-10-19 16:13] WASasquatch commented on #841
Looking at all these pipelines. Things are quickly falling apart, imo. Pipelines doing one little thing, and then its own pipeline to manage, is horribly counter-productive. This is falling back to the fundamental issue with diffusers itself, and needing manage tons of pipes in code just to take on certain tasks (like img2img, inpainting), and now what about, clip guided diffusion (still limited t

[2022-10-19 16:48] patrickvonplaten opened #913 "Improve tests"
Our tests suite exploded and we need a new structure.

We should do the following:

[code]

Mosts tests should be covered in the `PipelineTesterMixin` class, but the slow tests should be copy-pasted to every file so that one can easily check how they work.

So every class should have **at least** two testing classes:

`PipelineTests` which are fast tests
`PipelineIntegrationTests` which are slow t

[2022-10-19 16:52] patrickvonplaten opened #914 "Improve the precision of our integration tests"
We currently have a rather low precision when testing our pipeline due to due reasons.
1. - Our reference is an image and not a numpy array. This means that when we created our reference image we lost float precision which is unnecessary
2. - We only test for `.max() < 1e-2` . IMO we should test for `.max() < 1e-4` with the numpy arrays. In my experiements across multiple devices I have **not** se

[2022-10-19 16:53] zetyquickly commented on #911
The error happens during initialization for inference

[code]

[2022-10-19 16:55] patrickvonplaten opened #915 "Improve docs"
There are still plenty of outdated, non-existing docs.
E.g.: - https://huggingface.co/docs/diffusers/using-diffusers/loading

[2022-10-19 17:09] zetyquickly commented on #911
Yes, the above caused an issue.
Dreambooth trained using original  `huggingface/diffusers` doesn't fail during inference

[2022-10-19 17:09] #911 closed

[2022-10-19 17:27] renhaa commented on #146
I am also very interested!

[2022-10-19 17:36] MikailINTech commented on #871
Hi @osanseviero, I opened a PR for this issue. For the moment, I have tested my pipeline for whisper and it works pretty well. I'm waiting for your suggestions (maybe making the pipeline more generic so that we can use other speech-recognition models ?)

[2022-10-20 03:02] pythoninoffice opened #917 "onnx inpainting error"
### Describe the bug

With the latest code, I was able to convert the SD1.4 checkpoint into onnx and run txt2img and img2img using the new onnx pipelines. However the onnx inpainting isn't working.

Thank you!

### Reproduction

[code]

### Logs

[code]

### System Info

diffuser version: 2a0c823527694058d410ed6f91b52e7dd9f94ebe

[2022-10-20 03:55] MarkRich opened #918 "--train-text-encoder in train_dreambooth.py yields type error"
### Describe the bug

specifying the --train_text_encoder flag in `train_dreambooth.py` yields an error:

[code]

Removing the --train_text_encoder flag prevents the issue, so seems related to that?

### Reproduction

accelerate launch train_dreambooth.py   --pretrained_model_name_or_path="CompVis/stable-diffusion-v1-4"    --train_text_encoder   --instance_data_dir="<instance dir>"   --class_data_

[2022-10-20 05:22] juno-hwang opened #920 "Separating legacy inpaint pipeline"
The new fine-tuned inpaint pipeline in 0.6.0 release is very good, but its UNet architecture is different from original pipeline.
I think the inpaint pipeline in 0.5.1 release has some advantage such as sharing the same model with txt2img on GPU or inheriting DreamBooth UNet trained on txt2img model.
I actually often use DreamBooth model for inpainting, and that's a pretty big advantage.
So, how a

[2022-10-20 07:09] pcuenca commented on #902
Yes, I'll investigate a bit :)

[2022-10-20 11:32] patil-suraj commented on #807
Thanks for the issue

Looks like some of you already got it working!

I'm not on expert of deepspeed, but it works fine for me  on linux machines. Last I had seen, `deepspeed` didn't have good
support for windows.

Also note that, when using prior preservation, you can also generate prior images beforehand or grab them from internet and just specify the path to that dir. This way, we won't have me

[2022-10-20 11:42] patil-suraj commented on #846
Thanks a lot for the issue and PR @leszekhanusz , just reviewed it :)

[2022-10-20 11:52] patil-suraj commented on #811
This is now fixed in #922

[2022-10-20 12:35] tcapelle commented on #696
it is!

[2022-10-20 12:54] Yogiraj587 commented on #894
@AI-Guru  Can you please assign this issue.....????

[2022-10-20 13:34] patil-suraj commented on #732
@DominikDoom Thanks a lot for the issue, working on adding intermidiate checkpoint saving.

@Cyberes It seems that the safety checker is not saved in the model that you are passing, that's what the error indicated, make sure they safety checker is also saved there. Feel free to open an issue if the error persists even after that.

[2022-10-20 14:06] pcuenca commented on #548
Hey @FahimF, small update. I tested diffusers 0.3.0 and this branch: https://github.com/huggingface/diffusers/pull/926, both on PyTorch "pre RC", which you can install like so:

[code]

(It uses `test` instead of `nightly` in the URL).

These are my results:

| Width | Diffusers     | Time   |
|-------|---------------|--------|
| 768   | 0.3.0         | 101.47 |
|       | m1-torch-1.13 | 83.02  |

[2022-10-20 14:08] ngaer opened #927 "[Community] Make safety model end-to-end compileable - Inference time of JAX / Flax pipeline"
I have a question about JAX / Flax pipeline. We run it on a v3-8 Cloud TPU VM and it works pretty great. The first inference as expected takes around a minute because of the compilation. And the next ones take around 5-6 seconds, which is really impressive. Either way, if we change one of the input parameters other than prompt (width, height, scale, steps), the inference takes again about a minute

[2022-10-20 14:12] leszekhanusz commented on #846
Fixed in #847

[2022-10-20 14:12] #846 closed

[2022-10-20 14:16] FahimF commented on #548
Hey @pcuenca, will do the testing either tonight or tomorrow morning using your script for all variations - without PyTorch 13 pre-RC, with it, and for the two different image sizes and let you know what the figures are 😄

[2022-10-20 14:37] pcuenca commented on #548
Awesome, thanks a lot! 😄

[2022-10-20 15:21] pcuenca commented on #927
Hi @ngaer! Yes, that is expected because all the other parameters are compiled using `pmap` as compile-time constants, so they get inlined as part of the compilation: https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion.py#L303

It's potentially possible to compile them as normal inputs by turning them into tensors, but we haven

[2022-10-20 16:10] patrickvonplaten commented on #895
Awesome @asofiaoliveira !

Feel free to open a PR and to attach it here

[2022-10-20 16:12] patrickvonplaten commented on #898
Hey @ssusie,

We sadly haven't tested our training examples on TPU yet and I'm not sure if any of the maintainers will find to so anytime soon. Let's maybe see if someone in the community figures out what's wrong here :-)

[2022-10-20 16:16] patrickvonplaten commented on #877
That seems sensible to me

[2022-10-20 16:31] patrickvonplaten commented on #901
Regarding, the architecture - it's one to one the same as the original architecture. We just renamed some keys to make the naming clearer and the overall architecture more general - so that we're able to add more model architectures than just stable diffusion in the future :-)

Apart from this there are two main differences:
- We use `nn.Linear` for the attention layers (see [here](https://github.

[2022-10-20 16:47] tonetechnician commented on #901
No worries!

Thanks for the detailed response. I'd be super keen to help however I can to figure it out. Will give a bit more info and code to compare the two implementations.

Currently I've just been testing using Automatic's + NMKD SD-GUI implementation vs a diffusers to compare.

[2022-10-20 16:47] patrickvonplaten commented on #905
Interesting! That's a cool feature request!

I think we could already solve this one with the inpainting checkpoint.
Currently it works as follows:

![Screenshot_20221020_183558](https://user-images.githubusercontent.com/23423619/197007415-bf92932b-f35a-44ed-8921-78275e40731a.png)

Now you could simply overlap your logo with the t-shirt and then mask out the corners of the logo and let stable diff

[2022-10-20 17:00] patrickvonplaten commented on #556
Could we make this a community pipeline maybe? :-)

[2022-10-20 17:04] patrickvonplaten commented on #871
It works very well ! Well done @MikailINTech :_)

[2022-10-20 17:06] camenduru commented on #556
is it possible for flax
maybe like this: https://flax.readthedocs.io/en/latest/api_reference/_autosummary/flax.linen.Conv.html?highlight=circular

[2022-10-20 17:17] patrickvonplaten commented on #918
cc @patil-suraj

[2022-10-20 17:20] patrickvonplaten commented on #920
Hey @juno-hwang,

We still support the old "inpaint" pipeline it's just moved to "Legacy" now: https://github.com/huggingface/diffusers/blob/8be48507a0ea4c9e6771fbfbac1333ee7bb90993/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint_legacy.py#L46

Happy to not deprecate it if you want :-)

[2022-10-20 17:23] #892 closed

[2022-10-20 17:24] #696 closed

[2022-10-20 17:25] patrickvonplaten commented on #894
Hey @AI-Guru,

Cool idea! I'm not sure how much time our training experts will have for this (cc'ing @patil-suraj and @anton-l) but this would indeed be a very useful addition.

Also opening this one up to the Community in case anybody is interested :-)

[2022-10-20 17:47] patrickvonplaten commented on #834
Hey @WASasquatch,

Sorry we haven't had the chance to test `diffusers` extensively on Windows yet and off the top of my head, I don't really know what's going on.

If someone from the community is interested in digging a bit deeper here that would be great, I don't think I'll find a free slot any time soon.

[2022-10-20 17:51] patrickvonplaten commented on #783
small ping here @patil-suraj - maybe this is already solved by now?

[2022-10-20 17:54] patrickvonplaten commented on #878
Also cc @patil-suraj here FYI

[2022-10-20 17:56] patrickvonplaten commented on #867
Hmmm,

Ok I'm wondering to what extent this might just be expected when using PyTorch.

@ydshieh didn't we have a similar problem in our pytest test suite?

Also cc @anton-l @NouamaneTazi in case you have a hunch of what could be going on here

[2022-10-20 18:08] patrickvonplaten commented on #845
Hey @WASasquatch,

I'm sorry if you get the feeling, I'm not listening - we really are listening. As said by @meg-huggingface, the requested feature here as said above is ok to implement, but I currently don't have the time to look into it. I'd be very happy to review a PR though!

[2022-10-20 18:10] patrickvonplaten commented on #845
BTW, the same thing holds true for documentation in general - we would really like to improve it (even opened an issue about this yesterday: https://github.com/huggingface/diffusers/issues/915), but we currently don't find the time to do so (it'll surely improve over time though).

Again, please feel free to open a PR to improve / add new docs :-)

[2022-10-20 18:14] patrickvonplaten commented on #845
@theahura, the Stable Diffusion model was trained and released by Stability AI/CompVis (see announcement here: https://stability.ai/blog/stable-diffusion-public-release <- there is no paper, that's more or less the equivalent of the paper). Stability along-side CompVis are in that regard the "authors" of stable diffusion which includes the safety checker.

[2022-10-20 18:18] nandwalritik commented on #320
Hi @patrickvonplaten I would like to take this up.

[2022-10-20 18:30] patrickvonplaten commented on #845
BTW @WASasquatch, if you want we can also jump on a quick 15min google hangout call to talk in person to smooth some things out?

-> maybe I can help with that when chatting face-to-face. GitHub communication can come across a bit too hostile I think

My email is patrick@huggingface.co , feel free to leave a message if you want to chat :-)

[2022-10-20 18:33] theahura commented on #845
Thanks for the response, but I don't think that's correct.

Paper: https://ommer-lab.com/research/latent-diffusion-models/

Which is linked clearly in the comp vis repo: https://github.com/CompVis/stable-diffusion

The actual research here was done by Runway ML and University of Munich. You'll notice that the model card is also made available by CompVis (aka Munich) not Stability AI; and that Stab

[2022-10-20 18:39] patrickvonplaten commented on #845
Actually I didn't about this paper - thanks for pointing it out here.
To be honest, I also don't the fine-print here exaclty - I do think though that stability AI has the IP rights for stable diffusion checkpoint as it was trained on their cluster and as far as I know at least one of the authors now works for Stability AI?!

Not really sure though, maybe @apolinario you know better here?

[2022-10-20 18:42] theahura commented on #845
AFAIK they explicitly do NOT have any ip rights to the model and I'm very concerned if they are pretending they are. Note that the license that this model is released under is explicitly a commercial license, among other things; and the license is made out to Robn (Munich) and Patrick Easier

[2022-10-20 19:35] ydshieh commented on #867
There is something similar

https://github.com/huggingface/accelerate/issues/614#issuecomment-1224213502
(I tried locally, that issue author using Flask)

As this issue author already find a solution using `torch.cuda.empty_cache()` similar to what I have done above, and also an extra
`torch.cuda.ipc_collect()` (I should look this, thanks), I think everything is fine.

Here are some comments:
- (I

[2022-10-20 19:38] ydshieh commented on #867
In our pytest, something similar occurs, but it is the TF tests (running after the PT tests) failed due to GPU OOM, as the 'PT tests didn't empty the cache.

[2022-10-20 19:41] ydshieh commented on #867
I am just guessing: even if they use different processes, it's unlikely each inference will launch an new process. There might be multiple processes running. Potentially, after some period of time, they will replace those processes by new launched ones.

[2022-10-20 21:29] FahimF commented on #548
@pcuenca here are the results:

macOS version is **12.6**

RAM on device: **32GB**

The height is **512** for all the following tests and the Python version is **3.9.13** and the warm up run always did 512 x 512 images but for 10 steps.

PyTorch versions used are **1.13.0.dev20220924** (before PyTorch image generation slowed down) and PyTorch **1.13.0** (pre RC).

Installed 1.13.0.dev20220924 usin

[2022-10-20 22:47] vinsis opened #929 "Why is the square root in attention block calculated twice?"
[This is the line of code in question](https://github.com/huggingface/diffusers/blob/32bf4fdc4386809c870528cb261028baae012d27/src/diffusers/models/attention.py#L87).

Is it just a bug or is there a reason to do so? As far as I understand, it should be:

[code]

[2022-10-21 00:07] redwraith2 opened #931 "Conversion Script: Update to Stable Diffusion 1.5 (EMA and non-EMA)"
Since stable diffusion 1.5 was out, I was hoping to use it with the imagic colab. Could you upgrade diffusers to use the new model instead of the old one?

[2022-10-21 01:28] LiviaCavalcanti commented on #778
Hey @natolambert! Sorry for the delay I had many setbacks last week.
I have a sketch of the solution. I wish you could comment on that but i don't know how since there's so much work left to open a PR.

[2022-10-21 02:38] natolambert commented on #778
@LiviaCavalcanti best bet is to open a standalone PR or open a PR against my PR #818 , thats the only way for us to give feedback in public :). Link it to this issue too if you can.

[2022-10-21 03:59] pcuenca commented on #548
Thanks a lot @FahimF, really appreciated! I'll try to get a M1 machine with macOS 12.6 to see what impact the OS has.

[2022-10-21 04:01] FahimF commented on #548
You're welcome, @pcuenca 🙂 If it would help, I can upgrade to Ventura and test again. Let me know. But since I've only got the one machine (or at least, the one machine with an M1 chip), I'd like to be in a position where I'd be most useful for you for testing. So let me know what works better. I mean if further testing/timing would be useful ...

[2022-10-21 05:17] theahura commented on #845
I am pretty sure they DONT have any IP rights at all. Note that the license on the compvis repo is made out to Robin Rombach (Munich) and Patrick Esser (RunwayML): https://github.com/CompVis/stable-diffusion/blob/main/LICENSE#L1

In light of the recent controversy between Stability and the creators of Stable Diffusion (see: https://news.ycombinator.com/item?id=33283712 and https://news.ycombinator

[2022-10-21 08:34] samedii commented on #931
It's supported. Switch the model id to `runwayml/stable-diffusion-v1-5`

[2022-10-21 09:17] patrickvonplaten commented on #931
Hey @redwraith2, it should work out of the box :-)

[2022-10-21 09:32] ngaer commented on #927
Hi @pcuenca, thanks for the details. But I'm afraid that I lack any knowledge in JAX and it would really take a while to do it myself. We're ok to wait for the official implementation of these things, and I believe it would be really useful for other users as well.

Anyway, thanks for a great job, you guys doing out there.

[2022-10-21 10:36] patil-suraj commented on #783
Hi @ivaxsirc, that warning can be safely ignored. Also if you want to pass that you could do it using
[code]

Regardless, the example should work fine. If not, please post a the stacktrace of the error so we could take a look. Thank you :)

[2022-10-21 10:44] MartiGrau commented on #920
Hello @patrickvonplaten ,

I suppose you're refering to use the StableDiffusionInpaintPipelineLegacy class with the old weights (CompVis/stable-diffusion-v1-4) because if you want to test the new Inpaint pipeline (0.6.0 release) with the new weights (runwayml/stable-diffusion-inpainting) you get the following error:

`RuntimeError: Given groups=1, weight of size [320, 9, 3, 3], expected input[2, 4

[2022-10-21 11:12] patil-suraj commented on #918
Hi thanks for the issue!

Seems like you are using `deepspeed` in the example. Note that `deepspeed` support is somewhat experimental and not well tested. At the moment the example doesn't seem to work with `deepspeed` when `--train_text_encoder` is `True`,  but should work fine without it, here's the command I used

[code]

`--train_text_encoder` should work fine without deepspeed.

[2022-10-21 11:35] anton-l commented on #917
Hi @pythoninoffice! With the release of  https://huggingface.co/spaces/runwayml/stable-diffusion-inpainting we've decided to make the onnx inpainting pipeline work with finetuned checkpoints only (as the non-finetuned SD1.4 checkpoint wasn't nearly as good in terms of inpainting quality).

The way to load those weights is:
[code]
The pytorch-to-onnx conversion script also supports finetuned checkp

[2022-10-21 11:57] anton-l commented on #553
Unfortunately I coundn't reproduce the improvement that you saw with `use_clipped_model_output` @sgrigory. The batched comparison still suffers too (max difference at around 0.37). Could you confirm if it works with the latest versions of the schedulers? Curious if we had a brief moment when the schedulers really were compatible

[2022-10-21 12:58] allo- commented on #799
Automatic1111 already uses an own format [here](https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/modules/textual_inversion/textual_inversion.py) even when it still is able to load the plain textual inversion files generated by the example script in this repo.

[2022-10-21 13:24] juancopi81 commented on #841
Hey @patrickvonplaten,

Sorry if it already exists. I did not find it. I was wondering: How would you like a pipeline with multilingual support? Something like:

1. Receives a prompt text in any (supported?) language.
2. Detects language of prompt.
3. If not English, translates to English
4. Generates image using (translated) prompt

[2022-10-21 15:06] patrickvonplaten opened #937 "[Community] Testing Stable Diffusion is hard 🥵"
It's really difficult to test stable diffusion due to the following:

- 1. **Continous output**: Diffusion models take float values as input and output float values. This is different from NLP models which tend to take int64 as inputs and int64 as outputs.
- 2. **Output dimensions are huge**. If an image has a output size of `(1, 512, 512, 3)` this means that there are 512 * 512 * 3 ~ 800,000 valu

[2022-10-21 15:12] pythoninoffice commented on #917
Hi @anton-l appreciate your response! I can confirm the onnx inpainting pipeline works with the runwayml/stable-diffusion-inpainting checkpoints which seem to be SD v1.2 model based on the Model card/description.

I also downloaded https://huggingface.co/runwayml/stable-diffusion-v1-5 unfortunately it doesn't work with the new pipeline either. So it seems like SD1.2 is the only version compatible

[2022-10-21 15:13] patrickvonplaten commented on #937
Some ideas for improvement:

1. At the moment, we're not comparing against numpy float outputs but against the generated images: https://github.com/huggingface/diffusers/blob/31af4d17e81308887ff63080d49fba644e6c3963/tests/pipelines/stable_diffusion/test_stable_diffusion_inpaint.py#L282 => here we automatically loose precision of our reference image. We should instead compare directly to numpy matr

[2022-10-21 15:29] anton-l commented on #937
Unit-testing individual parts of the pipeline + nightly CPU integration tests seems like a solid path to me at the moment.
For now we can check how spotty our line coverage is when disabling the slow integration tests: lots of room for improvement there.

[2022-10-21 15:36] patrickvonplaten commented on #875
gently ping for @osanseviero @apolinario here

[2022-10-21 15:41] cccntu commented on #902
I tried it on `0.3.0` and some `0.5.0` fork I have. And in both version the dog looks like the second one.

[2022-10-21 15:47] patrickvonplaten commented on #320
Hey @nandwalritik,

I think @kashif and @ArthurZucker are already working on it here: https://github.com/huggingface/diffusers/pull/544 :-)

But if you would like to help, you could review the PR a bit or you @kashif and @nandwalritik maybe you could chat a bit

[2022-10-21 15:48] patrickvonplaten commented on #867
Thanks a lot for the very in-detail answers @ydshieh !

[2022-10-21 16:37] neverix commented on #702
#885's functionality now works. Will work on the style, any suggestions for the functionality?

[2022-10-21 16:49] clementapa opened #938 "Human Motion Diffusion Model (Text-to-Motion)"
### Model/Pipeline/Scheduler description

This work (https://arxiv.org/abs/2209.14916) presents a method based on diffusion model to synthesize human motions from a text. Their method achieves state-of-the-art results on leading benchmarks for text-to-motion and action-to-motion. I think that It would be great to have a such model in the Diffusers library 🧨.

### Open source status

- [X] The mode

[2022-10-21 16:53] kashif commented on #320
awesome @nandwalritik please send me an email kashif.rasul@gmail.com and I can show you what i did till now! Happy to pair up then!

[2022-10-21 16:56] nandwalritik commented on #320
Yeah sure.

[2022-10-21 17:06] pcuenca commented on #548
Hi @FahimF, I got a Mac mini M1 with 16 GB running macOS 12.6 from a cloud service, and it certainly looks like memory has something to do with it! The PyTorch and diffusers versions are important too, and macOS itself might be a factor too. These are some of my measures on this machine (only for the warmup phase):

|                    |               | Warmup              | +attention_slicing |

[2022-10-21 17:27] GuyTevet commented on #938
Thanks @clementapa ! I do agree:) This is on the planning and expected during November.

[2022-10-21 17:29] CrazyBoyM opened #939 "use multiple community pipes in a list"
**Is your feature request related to a problem? Please describe.**

I find some very great community pipes, such as CLIP Guided Stable Diffusion and Long Prompt Weighting Stable Diffusion.
But I don't know how to use them both.

**Describe the solution you'd like**
some code likes:
[code]
simpely change the
[code]
to
[code]

**Describe alternatives you've considered**
a list for custom pipelines

[2022-10-21 17:31] ydshieh commented on #937
Regarding 2), I see in `transformers`, we tests just a slice of the outputs, something like
[code]
- Question: in `diffusers`, is it possible to test against smaller input images (i.e. creating smaller models that accept smaller image inputs)?

- Regarding different GPUs: I think we can focus on one type of GPU at this moment. In `transformers`, we only run on `T4` so far. Once the testing become

[2022-10-21 17:59] ydshieh commented on #937
Not looking into #902 myself, but if the pipeline used in that issue is tested in `diffusers`, it's probably a good idea to run that related test in the 2 mentioned `diffusers` versions and see if both pass. If so, we can try to figure out what the testing lacks to detect the regression in #902.

[2022-10-21 18:37] pcuenca commented on #902
That's interesting. I haven't tried docker, but all the tests were done in the same system just updating the version of `diffusers`.

[2022-10-21 21:49] affableroots commented on #712
Thanks for the review @patil-suraj! It sounds like the difference was all in unfreezing the text embeddings. It sounds like lr+nsteps makes a small target to hit, and your experiment helps us aim better.

[2022-10-21 21:49] #712 closed

[2022-10-21 22:02] kheyer commented on #779
Running into the same issue. Seems the batchwise aspect is added in two places, causing the issue.

The code expects the negative prompt list to be the same length as the positive prompt list, ie

[code]

throws an error

[code]

but if you instead run

[code]

Then the following section repeats along the batch dimension unnecessarily, messing with the sizes during the view

[code]

When I run thi

[2022-10-21 22:46] InB4DevOps commented on #931
I tried to convert v1-5-pruned.ckpt (the 7gb version) to a diffuser model folder using `scripts/convert_original_stable_diffusion_to_diffusers.py` but the resulting model only has 4GB. The script also downloaded something which was only 4GB. Does the script need an update maybe?

[2022-10-21 22:49] jtkelm2 commented on #872
As the author of the original script, I chose double underscores instead of single just to be absolutely sure it wouldn't conflict with ordinary prompts. Some online artists might plausibly have single underscores in their name, or maybe you've trained custom models/embeddings with underscores because you're a hard-boiled programmer. Or perhaps your text file names simply use underscores. This was

[2022-10-21 23:46] FahimF commented on #548
Hey @pcuenca, I almost did that yesterday since I was converting the FastAI course notebook you guys did for use on macOS — I mean enable attention slicing 🙂  I believe there was a cell which had attention slicing but it was commented out and I noticed that you'd mentioned attention slicing several times on the forum. But I ran into some other issue right at that point and forgot to check that!

W

[2022-10-22 01:10] FahimF commented on #548
@pcuenca Enabling attention slicing makes a huge difference! I'm putting up all the details again below both for historical purposes and for easier comparison but the all the generation times for any combination of size + torch + diffusers are now at much more acceptable levels after enabling attention slicing 🙂 I must admit that I didn't expect such a dramatic change in performance with that one

[2022-10-22 05:23] FahimF opened #940 "MPS crash when using LMSDiscreteScheduler"
### Describe the bug

If you run the following code using `LMSDiscreteScheduler` a crash occurs under Apple Silicon/MPS:

[code]

The crash is as follows:
[code]

### Reproduction

Code is provided above

### Logs

[code]

### System Info

Python 3.9.13
diffusers                         0.6.0
torch                             1.14.0.dev20221021
macOS 12.6
Apple M1 Max 32GB

[2022-10-22 07:00] FahimF opened #941 "For MPS using num_images_per_prompt with StableDiffusionImg2ImgPipeline results in noise"
### Describe the bug

If you try to generate multiple images with StableDiffusionImg2ImgPipeline by using the num_images_per_prompt parameter, under MPS all you get is noise/brown images.

![CleanShot 2022-10-22 at 10 52 36@2x](https://user-images.githubusercontent.com/181110/197325040-4b6f09c6-b69b-4c0b-a082-2e43ffa20e78.jpg)

### Reproduction

The following code should show the issue:

[code]

#

[2022-10-22 08:16] chenguolin opened #943 "Frist parameter in downsamplers should be 'out_channels', instead of 'in_channels'"
https://github.com/huggingface/diffusers/blob/9bca40296e3f00fb26597a0f4cfe2fdfd2ad2fd2/src/diffusers/models/unet_blocks.py#L619

All the frist parameters of Downsample2D-like classes in `self.downsamplers` are `in_channels`.

However,  the inputs of these `self.downsamplers` are the outputs of Resnets, whose number of channels should be `out_channels`.

Though these wrong parameters do not affect

[2022-10-22 10:49] pcuenca commented on #941
Hi @FahimF! This issue is still depending on https://github.com/pytorch/pytorch/issues/84039#issuecomment-1281125012 to be fully resolved.

[2022-10-22 10:54] FahimF commented on #941
Hey @pcuenca, I had a vague recollection that this was possibly at the PyTorch end but was juggling a bunch of things today and so went ahead and created the bug report instead of doing further searches. Apologies 🙂

[2022-10-22 10:55] thomasw21 commented on #937
Maybe I'm naive, but in theory everything in discretized to bits. So if you can guarantee determinism (probably a bunch of flags in pytorch + blacklisting some operations), output can be compared bitwise, ie have perfect equality. That does mean that your test become somewhat setup specific (torch version, type of hardware etc ...) We have things like that on some unit tests in Megatron-DeepSpeed:

[2022-10-22 11:42] ydshieh commented on #902
@pcuenca Could you provide the system info? GPU type, python/torch/torchvision versions, CUDA/CUDNN versions?

[2022-10-22 13:07] ydshieh commented on #902
I can't reproduce with T4 GPU on GCP. Both commits give the second dog image.

[2022-10-22 13:25] Yanislar opened #945 "Can't add a custom checkpoint model to convert to ONNX"
### Describe the bug

I'm using one of the models used here: https://rentry.co/sdmodels

I get hit with an error **It looks like the config file at 'C:\amd_img2img\model.ckpt' is not a valid JSON file.**

### Full error message
[code]

### Reproduction

I placed the checkpoint file just outside the directory of /diffusers/ and ran
[code]

### Logs

[code]

### System Info

- `diffusers` version: 0

[2022-10-22 13:49] rexroth0619 opened #946 "NameError: name 'str2optimizer8bit_blockwise' is not defined"
### Describe the bug

Trying to run migrate colab scripts to runpod, followed along then ran into this error (at Run Training section)

### Reproduction

Running colab ipynb scripts on Jupyter Lab. First it says num_processes undefined, I specified num_processes=1 in Run Training section, then it returns this error

### Logs

[code]

### System Info

ubuntu 20.04 on runpod docker

[2022-10-22 16:21] #861 closed

[2022-10-22 17:53] karlmacklin commented on #807
Windows 10 22H2 update has been released (yesterday I think).

However this sadly does not solve the issue for memory pinning past 2GB in WSL2. I guess Windows 11 is the only way to go for this to work.

[2022-10-22 18:24] MarkRich commented on #918
Ah, thank you @patil-suraj, that works!

[2022-10-22 22:55] msaroufim commented on #937
My 2c on this, ideally you can have some fast unit tests that will cover some baseline correctness issues but for the vast majority of issues you're highlighting you need time-consuming runs so there's 2 things that help dramatically in my experience.

You can make benchmarks triggerable on some keyword in a PR if the PR's focus is performance improvements https://github.com/pytorch/data/pull/740

[2022-10-23 00:20] MarkRich commented on #876
Took a crack at this in https://github.com/huggingface/diffusers/pull/951. Looking forward to any comments!

[2022-10-23 01:04] Marcophono2 opened #952 "Performance Issue with RTX 4090 and all SD/Diffusers versions"
### Describe the bug

Hello!

Since 10 days, nearly round the clock, I try to bring my brand new and proudly owned Geforce RTX 4090 graphic cards to work appropriate with Stable Diffusion. But finally, 10 days later at least,  it is still around 50% below its options.

In that 240 hours I changed from Ubuntu to Manjaro (and from Manjaro back to Ubuntu, via Pop OS back again to Ubuntu and to Manjar

[2022-10-23 01:33] MatthewWaller opened #953 "Any guidance on creating smaller images? 256x256 or 384x384?"
**Is your feature request related to a problem? Please describe.**
I’m looking for ways to speed the process and save memory

**Describe the solution you'd like**
I wondered if it is possible to create smaller images.

**Describe alternatives you've considered**
I tried setting the images size with poor results out of the box. Thoughts?

[2022-10-23 02:34] DSLituiev opened #954 "Not able to load after a successful login"
### Describe the bug

I am trying to load diffusers either from a remote. Remote  huggingface diffusers is not accessible after a successful login

### Reproduction
[code]

[code]
error:

<details>

[code]

</details>

[code]

### System Info

- `diffusers` version: 0.6.0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.10.4
- PyTorch version (GPU?): 1.13.0.dev20220904 (False)
- Huggi

[2022-10-23 02:41] DSLituiev commented on #954
upd: the local loading issue was due to a typo. Remote issue may be huggingface-wide

[2022-10-23 03:25] zhShen-oc commented on #556
hello, i follow your advice , add this snippet before loading the pipeline, but there is an error when loading pipeline:
`TypeError: __init__() got multiple values for keyword argument 'padding_mode'`
can you tell me why?

[2022-10-23 04:05] Lewington-pitsos commented on #954
it looks like you can probably use the "use_auth_token" keyword argument, e.g.

[code]

If this works, it probably means that huggingface is having trouble picking up the session state/login information you should have cached locally after logging in. If it doesn't work then there may be something more serious at play.

[2022-10-23 05:57] Lewington-pitsos commented on #953
I spent like 60 minutes googling this yesterday, I checked a bunch of different forums and the consensus seems to be that due to the fact that SD was trained on 512x512 resolution, lower resolutions will not work.

To achieve this I think you would have to re-train or at least read the code and work out something that's not very obvious. I can confirm that there are no guides on doing this at pres

[2022-10-23 08:57] ydshieh commented on #902
For dog prompt with DDIM: running from commit `3f55d13` to `9bca402`, there are 4 commits where image difference occurs

074-a9fdb3d  => 075-6bd005e:  0.09812037150065105
099-3b747de =>100-bd8df2d:   0.0812060038248698
116-a7058f4  => 117-9ebaea5:   0.22810236612955728
132-1070e1a  =>133-f1484b8:    0.17296854654947916

The last number is the ratio of equal values over the total number of values i

[2022-10-23 09:01] pcuenca commented on #941
Sure @FahimF, no problem at all! I thought there was an old issue about this but couldn't find it either, so we'll use this one to have it tracked :)

[2022-10-23 09:48] ydshieh commented on #902
![dog](https://user-images.githubusercontent.com/2521628/197385414-eb52951d-4e17-47dc-bc1f-611580d91b55.png)

[2022-10-23 11:41] davidfant commented on #752
@patil-suraj possible to give pointers on how to add multiple concepts? I've been using https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py so far

[2022-10-23 11:52] arandomgoodguy commented on #812
Hi, thanks for your response!

It seems that runwayML had pre-trained an inpainting model, and also uploaded the checkpoint to huggingface.

See [](https://huggingface.co/runwayml/stable-diffusion-inpainting)

[2022-10-23 15:27] SkyTNT commented on #945
You need to convert the ckpt to diffusers first, then use this script to convert the diffusers model to onnx

[2022-10-23 17:33] #918 closed

[2022-10-23 18:04] hadaev8 opened #955 "[Feature Request][Community] Ability to pass text_embeddings/uncond_embeddings as arguments in pipe call"
**Is your feature request related to a problem? Please describe.**
Im experimenting with aesthetic gradients and need to overwrite pip call to pass text_embeddings/uncond_embeddings.
Also it might save a bit of time with making a lot of images with same promt.

**Describe the solution you'd like**
Ability to pass text_embeddings/uncond_embeddings to pipe call.

**Describe alternatives you've consi

[2022-10-23 20:30] AlexWortega commented on #946
Problem is in  ```
if accelerator.sync_gradients:
    135                     accelerator.clip_grad_norm_(unet.parameters(), args.max_grad_norm)
[code]

[2022-10-23 22:26] jslegers commented on #712
Why is this issue closed?

I tried it out after the updates yesterday, with various different settings, but I barely noticed a difference.

Especially the overcooking of Johnny Depp keeps persisting, unless I lower the number of training steps low enouh the result for the trained subject no longer looks like me.

IMO the issue is far from fixed!

[2022-10-24 02:43] Lewington-pitsos commented on #914
I'm going to start work on this right now

[2022-10-24 02:47] MarkRich commented on #895
tried my hand at this here: https://github.com/huggingface/diffusers/pull/958 please let me know if there's any comments!

[2022-10-24 02:59] Lewington-pitsos commented on #915
Another E.g.: from `CONTRIBUTING.md`: [https://huggingface.co/docs/diffusers/testing](https://huggingface.co/docs/diffusers/testing)

[2022-10-24 03:37] Lewington-pitsos commented on #914
ok so at this stage I am going to try and improve the loading function so that is uses a more precise image loader than PIL. This should allow us to load the existing images at the current URLs with greater precision, allowing for a more precise comparison at the end. Will update as I go.

[2022-10-24 08:27] dingjingzhen opened #960 "What's the difference between PNDM and plms"
What's the difference between PNDM and plms，plms for CompVis/stable-diffusion-v1-4-origin

[2022-10-24 09:04] pcuenca commented on #902
Hi @ydshieh, thanks a lot for looking into this! I've done a few more experiments and these are my results:

<details>
<summary>My workstation</summary>

[code]

`0.3.0 fp32`
![0 3-fp32-3090](https://user-images.githubusercontent.com/1177582/197487849-dc34f4ec-ae77-4b49-a009-191dce7fcf44.png)

`0.6.0 fp16` (Note different ear)
![0 6-fp16-3090](https://user-images.githubusercontent.com/1177582/1974

[2022-10-24 10:35] Lewington-pitsos commented on #914
@patrickvonplaten after some research I think I understand the issue.

The images are currently stored in a low-precision format (e.g. png) which prevents us from testing with any greater precision than `1e-2`. Even if we convert the image into a numpy array this will not help since the image itself is missing precision.

What we need to do is store a numpy representation of the image, say somewhe

[2022-10-24 10:55] #945 closed

[2022-10-24 11:06] CrazyBoyM opened #962 "The new inpaint pipelines sames not support other size than 512*512"
### Describe the bug

When I try the 512*512 image and mask, it works well.
But when I test other size, the new inpaint pipe tip a error:
[code]

### Reproduction

[code]

### Logs

[code]
[code]

[2022-10-24 11:07] CrazyBoyM commented on #962
![image](https://user-images.githubusercontent.com/35400185/197512401-1546a9e0-c5ba-4b30-86d0-0fa3acb57f95.png)
![mask](https://user-images.githubusercontent.com/35400185/197512414-83cb43ea-0ef1-440e-91d6-9e8f09059cd9.png)

here is the image and mask for test.

[2022-10-24 13:42] ydshieh commented on #902
@pcuenca No useful insight from my side (at least so far).

In general, I am not very sure if it really makes sense to ensure reproducibility across different GPUs.

Regarding the difference across versions, I think we can take a look at the 4 commits I mentioned above. Notice that `diffusers` have (a lot of?) optimizations, which are probably the causes of the difference.

IMO, we should try to e

[2022-10-24 13:49] seann999 opened #964 "Inpainting example not working"
### Describe the bug

[code]

### Reproduction

Copy-paste the inpainting code in the readme or tutorial

### Logs

_No response_

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-5.15.0-46-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.14.0.dev20221021+cu117 (True)
- Huggingface_hub version: 0.10.0
- Transformers version: 4.19.2
- Using GPU in sc

[2022-10-24 14:22] seann999 commented on #964
Installing a different version fixed it

[2022-10-24 14:22] #964 closed

[2022-10-24 15:24] camenduru commented on #807
[code]
Thanks everyone 🎉

[2022-10-24 16:20] vinsis commented on #929
Thank you Patrick!

[2022-10-24 16:20] #929 closed

[2022-10-24 18:27] vict0rsch opened #966 "`UNet2DConditionModel` inheritance issue"
### Describe the bug

Running the Stable Diffusion in-painting example, I got an inheritance error

### Reproduction

Code

[code]

Env:

[code]

### Logs

[code]

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-5.4.0-125-generic-x86_64-with-glibc2.31
- Python version: 3.9.13
- PyTorch version (GPU?): 1.7.1 (True)
- Huggingface_hub version: 0.10.1
- Transformers version: 4.23.1
- U

[2022-10-24 18:28] Tnifey opened #967 "Schedulers not compatible with OnnxStableDiffusionPipeline: TypeError: unsupported operand"
### Describe the bug

Hi,
I tried to use different schedulers with OnnxStableDiffusionPipeline, but it throw errors.
Schedulers are not compatible with numpy used in onnx pipeline.

Onnx checkpoints converted with: [convert_stable_diffusion_checkpoint_to_onnx.py](https://raw.githubusercontent.com/huggingface/diffusers/main/scripts/convert_stable_diffusion_checkpoint_to_onnx.py)

I have found a sol

[2022-10-24 18:55] vict0rsch commented on #966
Running the exact same code actually yields no error...

[2022-10-24 20:34] Feniksss opened #968 "Model loading is slow / Time before generating"
### Describe the bug

I have used a simple realization on T4 (Google Cloud)
[code]

And generating can take 10-15 sec per image - it's good result.
But we have a problem with time before start of generating. Pre-loading models and files can take ~ 30 sec.
For example:
![20221024-penj-42kb](https://user-images.githubusercontent.com/7080230/197623318-0b0bfa75-54bf-40af-8ce6-7e22549f3839.jpg)

How we

[2022-10-24 20:42] patrickvonplaten commented on #599
BTW, I think we should not "natively" implement DeepSpeed to `diffusers`, but rather make sure `diffusers` + `deepspeed` + `accelerate` works. This means we should rather help `accelerate` to have an easy deepspeed integration that can be used with `diffusers`.

[2022-10-24 20:43] #592 closed

[2022-10-24 20:43] #604 closed

[2022-10-24 20:45] patrickvonplaten commented on #841
Great idea! We could/should definitely add such a pipeline :-)

[2022-10-24 20:51] patrickvonplaten commented on #920
Hey @MartiGrau,

Currently we don't have enough time to do the PR ourselves, but if you think it makes sense to add a strength parameter, I'm more than happy to review a PR :-)

[2022-10-24 20:54] patrickvonplaten commented on #927
If anybody of the community would be interested in giving this issue a try, I'd be more than happy to help!

In short, the issue is about "Making JAX stable diffusion end-to-end compilable"

[2022-10-24 20:57] juancopi81 commented on #841
@patrickvonplaten, great! I could give it a try if it is ok...

[2022-10-24 21:21] antoche opened #969 "Accelerate tests fail on 0.6.0 with more than 1 cuda devices"
### Describe the bug

Running the tests from the 0.6.0 tag, the accelerate tests fail with the following stack trace:

[code]

Similar error for `test_from_pretrained_accelerate`. All other run tests are passing.

My machine has two GPUs in it. I'm guessing `accelerate` is trying to take advantage of both somehow, but the code expects all inputs on the same device.

### Reproduction

Simply run th

[2022-10-24 22:51] WASasquatch commented on #872
I guess a way around that is to simply ignore the key if it doesn't exist as a physical file list.

I don't have this issue with NSP since it's a loaded JSON dictionary, and I check if any of the sections in the dict exist with `key = f'_{section}_'` sorta deal. So unless a section was literally named as a artist that uses underscores at the beginning and end, it wouldn't be an issue.

[2022-10-25 01:38] Lewington-pitsos opened #970 "Integration tests are not passing"
### Describe the bug

when I run integration tests, e.g. with `pytest -k test_stable_diffusion_inpaint_pipeline_fp16 tests\pipelines\stable_diffusion\test_stable_diffusion_inpaint.py` the tests fail as the output is not close enough to the expected output

### Reproduction

1. you have a windows 10 machine with python 3.10 and CUDA `11.3`
2. pull the repo as of 2fb8fafa4b761f6fc144cf75a6f6f0ea6af3

[2022-10-25 05:21] vvvm23 commented on #877
Hey @Abhinay1997, are you still working on this? If not, @patrickvonplaten may I please give this a shot? :slightly_smiling_face:

[2022-10-25 05:26] Abhinay1997 commented on #877
Hi @vvvm23, Currently working on a solution. Give me 24 hrs to make a PR. I'll let you know if my approach fails and maybe you can pick it up ?

[2022-10-25 05:31] vvvm23 commented on #877
No worries! Please take your time!

[2022-10-25 05:38] vvvm23 commented on #905
@patrickvonplaten is there anyone working on this? If not, I would like to give it a go.

[2022-10-25 07:13] Sanster commented on #962
You need to pass `height` and `width` when calling the pipeline: https://huggingface.co/docs/diffusers/api/pipelines/stable_diffusion#diffusers.StableDiffusionInpaintPipeline.__call__.height

[2022-10-25 08:41] patrickvonplaten commented on #702
Cool will review the PR :-)

[2022-10-25 08:57] patrickvonplaten commented on #938
We currently are working on pushing `diffusers` into multi-modality so this would be a really nice addition!

[2022-10-25 08:57] patrickvonplaten commented on #938
Happy to help with a PR :-)

[2022-10-25 08:58] patrickvonplaten commented on #939
Hey @CrazyBoyM,

Note that community pipelines are not always compatible with each other so I'm not sure it's possible to load them into one class. How did you image the design of a "multi-community-pipeline" to look like? :-)

[2022-10-25 09:24] Sanster opened #973 "[ Feature request] Stable Diffusion 1.5 inpainting without prompt"
Use stable-diffusion 1.5 inpainting model without prompt to do regular inpainting. Example image come from [latent-diffusion](https://github.com/CompVis/latent-diffusion).

![image](https://user-images.githubusercontent.com/3998421/197736137-a7baa323-f27e-408c-89e3-8360550b297b.png)

[2022-10-25 09:37] patrickvonplaten commented on #931
Hey @InB4DevOps,

The reason it only has 4GB is because we only extract the "non-ema" (not exponentially mean averaged) weights of the unet from the checkpoint and leave the "ema" weights - see: https://github.com/huggingface/diffusers/blob/2fb8fafa4b761f6fc144cf75a6f6f0ea6af3a1c1/scripts/convert_original_stable_diffusion_to_diffusers.py#L295 . But I agree that this is a bit badly documented at th

[2022-10-25 09:43] patrickvonplaten commented on #943
Hey @chenguolin,

I agree that the naming is not ideal here, I've never managed to find time to clean up the naming. Do you have good ideas for how we should change the naming? Would you like to open a PR maybe? :-)

[2022-10-25 09:44] patrickvonplaten commented on #524
@patil-suraj - re-pinging you here

[2022-10-25 09:45] patrickvonplaten commented on #507
re-pinging @patil-suraj here :-)

[2022-10-25 09:45] patrickvonplaten commented on #411
Ping @patil-suraj here again :-)

[2022-10-25 09:49] patrickvonplaten commented on #937
Thanks for the great feedback here!

[2022-10-25 11:30] patrickvonplaten commented on #876
Great work @MarkRich - merged it :-)

[2022-10-25 11:31] patrickvonplaten commented on #952
Uff I don't really know the details of GPU hardware enough here sadly @NouamaneTazi do you have a hunch maybe? :-)

[2022-10-25 11:32] chenguolin commented on #943
OK. I'll pull a request to clean up the naming in these classes later.

[2022-10-25 11:32] #943 closed

[2022-10-25 11:36] patrickvonplaten commented on #954
It should work by just doing:

[code]

If you're logged in and use `huggingface_hub >= 0.10.1` which @DSLituiev seems to do here.

To better find the error could we try the following steps and see at which step we're getting an error:

1.

[code]

2.

[code]

[code]

3.

[code]

[code]

[2022-10-25 11:39] patrickvonplaten commented on #953
As suggested by @patil-suraj, the v1-1 might work better for 256x256 as it was trained on it: https://huggingface.co/CompVis/stable-diffusion-v1-1

[2022-10-25 11:43] fffiloni commented on #871
📌 gradio demo is available here: https://huggingface.co/spaces/fffiloni/speech-to-image

[2022-10-25 13:50] osanseviero commented on #871
This is amazing @fffiloni! Great work!

[2022-10-25 13:50] osanseviero commented on #871
Closing this issue as this is now done 🔥 amazing work everyone!

[2022-10-25 13:50] #871 closed

[2022-10-25 14:16] patil-suraj commented on #736
I couldn't reproduce this, providing model name as env variable works fine for me.

[2022-10-25 14:23] isamu-isozaki commented on #524
@patrickvonplaten @patil-suraj hullo. I made a pr and I think it already got merged.

[2022-10-25 14:26] patil-suraj commented on #438
Hi! Outpainting can be implemented using the new `StableDiffusionInpaintingPipeline` and the inpainting model https://huggingface.co/runwayml/stable-diffusion-inpainting. We don't have an example in diffusers at the moment but you can checkout the code for the stable diffusion infinity space which does outpainting https://huggingface.co/spaces/lnyan/stablediffusion-infinity/blob/main/app.py

[2022-10-25 15:26] vanakema commented on #599
Yeah sorry I guess I completely left that out. I made this ticket after realizing that for the HF accelerate deepspeed wrapper, you can only provide 1 model at a time, and the wrapper model object won't be picked up at all, so there's nothing to call "backward" on (unfortunately I'm going off memory. I can take a look at my notes later and clarify if this doesn't make sense)

I commented on an iss

[2022-10-25 17:58] patrickvonplaten opened #982 "Dance Diffusion in FP16"
At the moment dance diffusion in FP16 seems to perform relatively bad even though it was trained in FP16 with AMP autocast -> the reason might just be because the layernorms and/or attention scores have to be done in fp32.

[2022-10-25 18:04] apolinario commented on #875
Hey @daspartho, yes that is what seed resize should do! You can check how AUTOMATIC1111 does it, I think they generate the noise on the 512x512 resolution and then resize it, which helps with keeping the seed for generating other sizes, you check their implementation [here](https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/6cbb04f7a5e675cf1f6dfc247aa9c9e8df7dc5ce/modules/processing.py#L

[2022-10-25 21:41] NouamaneTazi opened #984 "`F.interpolate(hidden_states, scale_factor=2.0, mode="nearest")` breaks for large bsz"
### Describe the bug

Thanks to the amazing work done in the [memory efficient PR](https://github.com/huggingface/diffusers/pull/532), I can now run Stable Diffusion in fp16, on TITAN RTX (24Go VRAM) until a batch size of 31 with no issue.
[code]
When I try a batch size of 32, I get the following error:
[code]
Is there a way to fix this issue?
@patrickvonplaten @patil-suraj

### System Info

- `di

[2022-10-26 00:26] john-sungjin opened #985 "Possibly incorrect image normalization step in examples/dreambooth/train_dreambooth.py"
### Describe the bug

I was studying the `train_dreambooth.py` script ([link](https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py)) and noticed that the `DreamBoothDataset` performs an image normalization step as one of the transforms (line 260), setting mean to 0.5 and standard deviation to 0.5:

[code]

However, this seems to differ from the original Stable

[2022-10-26 00:46] #985 closed

[2022-10-26 00:47] john-sungjin commented on #985
Realized I was doing the math wrong; the normalizations are definitely the same! My mistake.

[2022-10-26 03:05] svjack opened #986 "Why not call train method in "Training a diffusers model" demo of butterfly ?"
in [Training a diffusers model](https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/training_example.ipynb) demo it provide a demo of train a UNet2DModel in notebook, in the function train_loop not call model.train() before train loop. But in many demos of projects always call model.train() before train loop.
Can you tell me the difference.

the default from pertaine

[2022-10-26 03:07] #986 closed

[2022-10-26 03:57] darwinharianto commented on #871
I tried the sample from https://github.com/huggingface/diffusers/tree/main/examples/community#speech-to-image
it gives me,
![aa](https://user-images.githubusercontent.com/44696192/197931086-0ef3fdaa-9d98-47cd-8172-ec919d646f6b.png)

Is there anything wrong with the code?

[2022-10-26 04:52] darwinharianto opened #987 "Speech to image pipeline, Unexpected output, green image"
### Describe the bug

Resuting image is greenish

### Reproduction

[code]

the results seems to be misaligned image
![aa](https://user-images.githubusercontent.com/44696192/197937671-66285c88-f59b-4666-9112-8a18eb73c3f3.png)

### Logs

_No response_

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-4.15.0-142-generic-x86_64-with-glibc2.23
- Python version: 3.9.13
- PyTorch version

[2022-10-26 05:57] shrinath-suresh opened #988 "Training diffusers examples using torch FSDP"
### Describe the bug

I am able to run the current diffuser examples as specified in the readme steps

https://github.com/huggingface/diffusers/tree/main/examples/text_to_image

https://github.com/huggingface/diffusers/tree/main/examples/unconditional_image_generation

Would like to know if the examples can be trained with torch fsdp.

### Reproduction

`accelerate config`

provides an option to e

[2022-10-26 08:29] pcuenca commented on #523
I think this has been already addressed in #527.

[2022-10-26 08:29] #523 closed

[2022-10-26 08:35] young-chao opened #989 "RuntimeError: 'weight' must be 2-D"
### Describe the bug

When I run the example of text_to_image.py, I got the problem shown in logs. I'm pretty sure I have it configured and running as the reademe.md requires.

### Reproduction

https://github.com/huggingface/diffusers/tree/main/examples/text_to_image/train_text_to_image.py

export MODEL_NAME="CompVis/stable-diffusion-v1-4"
export dataset_name="lambdalabs/pokemon-blip-captions"

a

[2022-10-26 09:17] pcuenca opened #990 "Implement `add_noise` in iPNDMScheduler"
This method is missing from the recently-added IPNDMScheduler. It's not required for inference, but I think we should add it for consistency with all the others.

TODO:
- [ ] revert 56210ad when this is done.

[2022-10-26 10:07] patil-suraj commented on #984
Interesting, didn't this limitation exists. If BS > 32, maybe we could split batches, in the upsampling/down module.
But I think it would make sense to  open a issue in PyTorch to see why this limitation exists and if there's any other alternative to this.

[2022-10-26 10:09] asofiaoliveira commented on #895
I guess I'll leave it to @MarkRich then 😅

[2022-10-26 10:31] patrickvonplaten commented on #931
```python scripts/convert_original_stable_diffusion_to_diffusers.py --checkpoint_path ../stable_diffusion_checkpoints/stable-diffusion-v1-5/v1-5-pruned.ckpt --dump_path ../ --scheduler_type lms --extract_ema```

should now work with https://github.com/huggingface/diffusers/pull/991

[2022-10-26 10:31] patrickvonplaten commented on #931
If you don't want the EMA weights you can just run:

[code]

[2022-10-26 10:39] patrickvonplaten commented on #812
Yes exactly, we've updating the official inpaint pipeline to match this checkpoint :-) You can find the docs [here: StableDiffusionInpaintPipeline](https://huggingface.co/docs/diffusers/api/pipelines/stable_diffusion#diffusers.StableDiffusionInpaintPipeline)

[2022-10-26 10:41] patrickvonplaten commented on #955
Hey @hadaev8,

Do you think we could use a community pipeline for this?
If there is a big use case, it'd also be ok for me to add it to the native stable diffusion pipelines (wdyt @patil-suraj @anton-l @pcuenca ?)

[2022-10-26 10:44] patrickvonplaten commented on #946
Hey @rexroth0619,

Could you please copy-paste a reproducible code snippet and also the full environment info?
I assume you're trying to train stable diffusion dreambooth using the bitsandbytes optimizer?

[2022-10-26 10:44] patrickvonplaten commented on #946
cc @patil-suraj here

[2022-10-26 11:03] mrgomdev opened #992 "Strength argument for StableDiffusionInpaintPipeline.__call__() in diffusers==0.6.0"
In previous inpainting pipeline(now StableDiffusionInpaintPipelineLegacy ) has the `strength` argument for set an offset, an independant argument from `num_inference_steps` . Is there any reason to remove that feature? Intuitively it could be different, small num_inference_steps vs large num_inference_steps x low strength, including noise from the starting timestep.

I've just thought, is it relat

[2022-10-26 12:15] ParadoxZW opened #993 "Data type mismatch when using stable diffusion in fp16"
### Describe the bug

When run following code to try stable diffusion v1.5,
[code]
I got the error
[code]

### Reproduction

_No response_

### Logs

_No response_

### System Info

- `diffusers` version: 0.6.0
- Platform: Linux-4.4.0-31-generic-x86_64-with-glibc2.27
- Python version: 3.9.11
- PyTorch version (GPU?): 1.12.0 (True)
- Huggingface_hub version: 0.10.1
- Transformers version: 4.20.1
-

[2022-10-26 12:17] patrickvonplaten commented on #955
Also see: https://github.com/huggingface/diffusers/pull/958 -> in general ok for me this request - curious to hear other opinions though!

[2022-10-26 12:25] patrickvonplaten commented on #960
Good question!

The short answer:

The long answer:

Now practically the CompVis PLMS sampler is identical to the `diffusers` PNDM scheduler if you set `config.skip_prk_steps=True` which is done in the original `diffusers` CompVis/stable-diffusion-v1-4 repo: https://huggingface.co/CompVis/stable-diffusion-v1-4/blob/main/scheduler/scheduler_config.json#L8

[2022-10-26 12:28] patrickvonplaten commented on #945
Thanks @SkyTNT !

[2022-10-26 12:50] KevinGoodman opened #994 "Question about CLIP-guided SD"
In cond_fn of examples/community/clip_guided_stable_diffusion.py, we have
[code]
I am confused that why not use *pred_original_sample* to get the image for CLIP guidance. Why do we need this extra conversion to get *sample*?

[2022-10-26 12:55] patrickvonplaten commented on #967
@anton-l could you take a look here?

[2022-10-26 12:56] patrickvonplaten commented on #966
Hmm weird, I sadly couldn't reproduce it either

[2022-10-26 12:59] patrickvonplaten commented on #968
Hey @Feniksss,

That's a good question, this should be solved when using:

[code]

instead of:

[code]

Could you try this?

[2022-10-26 13:00] patrickvonplaten commented on #968
Hey @Feniksss,

That's a good question, this should be solved when using:

[code]

instead of:

[code]

Could you try this?

[2022-10-26 13:12] patrickvonplaten commented on #968
In my tests, the time goes down from 22 seconds to 3 seconds. Will open a PR to improve the docs here.

[2022-10-26 13:13] patrickvonplaten commented on #969
Interesting! I'll try to find time soon to debug this

[2022-10-26 13:18] patrickvonplaten commented on #970
Thanks for the note @Lewington-pitsos,

The should pass now - we did a patch fix with @anton-l . However, as stated here: https://github.com/huggingface/diffusers/issues/937 we still don't have a perfect solution for the slow tests -> we'll do a bigger refactor soon :-)

[2022-10-26 13:18] patrickvonplaten commented on #905
Please feel free to give it a go @vvvm23 :-)

[2022-10-26 13:28] patrickvonplaten commented on #962
@CrazyBoyM, did you try setting the height and width parameter? I'm not sure 100% whether this works correctly - happy to fix it if it doesn't

[2022-10-26 13:29] patrickvonplaten commented on #973
Did you try if this works by just passing `""` as a prompt?

[2022-10-26 13:33] #524 closed

[2022-10-26 13:34] leopoldmaillard commented on #175
Hello @patrickvonplaten ! It seems that `torch.manual_seed(0)` is still called to set the generator in the unconditional training script.

I noticed this when tweaking the script to be able to resume a training process from a checkpoint. My shuffled `Dataloader` produced the same mini batches in the same order from one training to another.

[2022-10-26 13:37] hadaev8 commented on #955
Since aesthetic gradients modify text encoder output it works with every pipe. Didnt tested with new inpainting, but why not.
So i think separate pipe is not a good way.

Also, if it is acceptable in this repo, i would like to contribute example notebook or something showing how it work with all default pipes.

[2022-10-26 13:42] dblunk88 commented on #955
@hadaev8
I'd be interested to see that, do you have a colab available?

[2022-10-26 13:44] patrickvonplaten commented on #438
This space is also quite fun: https://huggingface.co/spaces/huggingface-projects/stable-diffusion-multiplayer

[2022-10-26 13:45] patil-suraj commented on #955
Hey @hadaev8 ! Could you point us to an example of aesthetic gradients ? Hearing it for the first time :)

If it's a really big use case I would also be in favor of it. For now I see  two things which could benifit from this
- imagic #958 -> I'm not sure if we can modify the pipeline for this, as the trained checkpoints are not really re-usable and are specific to the prompt and image being edited

[2022-10-26 13:45] InB4DevOps commented on #931
Thank you @patrickvonplaten
Will give this a try later!

[2022-10-26 13:46] dblunk88 commented on #955
I've seen the results of it, definitely worth taking a look. The end results are amazing

[2022-10-26 13:48] leszekhanusz commented on #438
It returns 404

[2022-10-26 13:57] anton-l commented on #970
BTW this test is not guaranteed to pass even after the patch on your particular setup @Lewington-pitsos (as noted in https://github.com/huggingface/diffusers/issues/937), so feel free to skip it until we improve the tests :)

[2022-10-26 14:03] ulmewennberg commented on #920
Hey @patrickvonplaten 👋

Are there currently any plans to also support Dreambooth training with the new inpainting pipeline?

https://github.com/huggingface/diffusers/blob/main/examples/dreambooth/train_dreambooth.py
https://huggingface.co/runwayml/stable-diffusion-inpainting

If not, I would be happy to try to implement this if this makes sense.

[2022-10-26 14:04] Sanster commented on #973
I just tried it and some part of the results are very good

|Original| Result|
|-------|---------|
|![dog](https://user-images.githubusercontent.com/3998421/198046705-3e4a80c4-9883-4f06-a883-007bb553cca8.jpg)|![image](https://user-images.githubusercontent.com/3998421/198046907-12ab13af-ed95-4d0f-95e1-ee7e588af576.png)|

[2022-10-26 14:04] hadaev8 commented on #955
@patil-suraj
This repo
https://github.com/vicgalle/stable-diffusion-aesthetic-gradients

Basically it change weights of text encoder to match clip image representations.

Almost all possible to do outside of pipe, but because of such tuning catastrophic forgetting kicks in, so i think (and author do it too) its better to pass unchanged uncond embeddings from original text model.

In my notebooks i

[2022-10-26 14:04] patrickvonplaten commented on #985
No worries :-)

[2022-10-26 14:24] hadaev8 commented on #955
@dblunk88
https://colab.research.google.com/drive/1RXolb8ozC4qSCZfnfO-PdVSC25Aj1dTZ?usp=sharing
Have fun

[2022-10-26 14:48] FahimF commented on #940
@pcuenca I've pulled the latest code from the main branch, verified at least one of the changes from the pull request which was merged is there in my locally installed package and then ran the above code (from the bug report) and it still crashes. So there might be something which was missed?

Here's the new crash:
[code]
Just as a note, do note that the line number for the crash has now changed b

[2022-10-26 14:56] patil-suraj commented on #946
Thanks for the issue , could you please post your command, or the trainig argument you used, so I could reproduce  this  ?

[2022-10-26 15:00] patil-suraj commented on #380
@patrickvonplaten Yes, those were added for BDDM which we don't have now, so I think it's fine to remove them now.

[2022-10-26 15:04] patil-suraj commented on #894
Nice idea,

But note that, training the `AutoencoderKL` is bit complicated and outside the scope of diffusers. It's complicated because the VAE in SD is trained with GAN objective and has multiple losses like lpips, discriminator loss which requires implementing extra modules. For training VAE I think the best resource is the `taming-transformers` repo, it's the repo which is uses to train the VAE

[2022-10-26 15:04] pcuenca commented on #940
You are right, it still fails. Sorry, I'm not sure how that happened.

[2022-10-26 15:13] Abhinay1997 commented on #877
@patrickvonplaten, @apolinario

I ran into the following issue and wanted your thoughts:-

When building a custom pipeline inheriting from DiffusionPipeline, for checkpoint merging I have to do it this way:-
[code]
The problem here is that the custom_pipeline is loaded via the `from_pretrained` method of DiffusionPipeline. If we have to ensure that any kind of checkpoints are mergeable, we need to

[2022-10-26 15:16] juno-hwang opened #995 "Inpainting pipeline with larger resolution?"
Hello,
Rescent inpainting pipeline with explicit mask input is amazing, but it has some incompatible point with the original pipeline.
I think the most important part is resolution, that it only support 512 size.
In my opinion, theoretically new inpainting pipeline can be extended to larger resolution just like the original.
But somewhy it is impossible to feed the image which is not in 512 size.

[2022-10-26 15:22] patil-suraj commented on #282
Hey @krrishdholakia , sorry to come to this only now. The pipeline should work on CPU, I suspect that you are setting the `torch_dtype=torch.float16` , which won't  on CPU as it does as fp16 is not supported on CPU, please pass `torch_dtype=torch.float32` to make sure it works on CPU.

[2022-10-26 15:36] patil-suraj commented on #878
Interesting!

 @20RitikSingh , let us know you need any help or have any questions, happy to help :)

[2022-10-26 15:41] patil-suraj commented on #146
Will test out the model, and comment here, thanks a lot for sharing this!

Also, if anyone is interested feel free to open a PR to add this, more than happy to help.

[2022-10-26 15:53] CrazyBoyM commented on #962
thanks!!!

[2022-10-26 15:54] patrickvonplaten commented on #988
I don't think we will be able to support FSDP any time soon (cc @sgugger just FYI)

[2022-10-26 15:55] CrazyBoyM commented on #962
sorry for that when i test the demo code in the readme, i forget to pass the height and width parameters.it works fine now. Thanks for reply!!

[2022-10-26 15:55] #962 closed

[2022-10-26 15:55] patrickvonplaten commented on #989
cc @patil-suraj can you take a look here?

[2022-10-26 16:05] CrazyBoyM commented on #939
sorry for that i don't have a good idea for it's compatibility now

[2022-10-26 16:08] patil-suraj commented on #989
Thanks a lot for reporting, will take try this and let you know.

[2022-10-26 16:08] irgolic commented on #374
Bump to unstale.

I believe this is a very important feature; surely we're one step closer to solving this now that pipeline callbacks are here. On that topic, does interrupting the pipeline with a callback at each step incur any slowdown?

[2022-10-26 16:21] patil-suraj commented on #989
I just tried your command and it works fine for me, couldn't reproduce it. Could you maybe try again and let us no if the issue persists.

[2022-10-26 16:22] patil-suraj commented on #955
Awesome, thanks @hadaev8 !

[2022-10-26 16:30] patrickvonplaten commented on #984
Same, I think however this is more a PyTorch bug than a diffusers bug

[2022-10-26 16:34] patrickvonplaten commented on #992
Hey @mrgomdev,

`strength` is not really removed -> the previous experimental pipeline was just moved to: https://github.com/huggingface/diffusers/blob/8332c1a6d956748db288d8edb7797ca38a5ea60e/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint_legacy.py#L152

In the official inpainting pipeline this is however not needed because only the mask is ever filled and not the rest

[2022-10-26 16:36] patrickvonplaten commented on #993
Hey @ParadoxZW,

Could you try to install `diffusers` from master:

[code]

=> I cannot reprodure this error from master

[2022-10-26 16:37] patrickvonplaten commented on #994
Gently pinging @patil-suraj here

[2022-10-26 16:39] patrickvonplaten commented on #438
Ah sorry - I think it's still in development :sweat_smile: It'll be public very soon!

[2022-10-26 16:40] patrickvonplaten commented on #920
Think this could definitely make sense @patil-suraj what do you think? :-)

[2022-10-26 16:41] patrickvonplaten commented on #973
Hmm, I'm not 100% sure how to best set the default here - @patil-suraj do you have a hunch maybe?

[2022-10-26 16:41] MikailINTech commented on #987
I'll have a look at it, thanks for tagging me

[2022-10-26 16:48] patrickvonplaten commented on #877
Really up to you as it's a community pipeline :-) In general we cannot assume to be able to merge weights at a low level, so I'm also not 100% sure of the usefulness here - @apolinario do you have a good idea?

[2022-10-26 16:50] patrickvonplaten commented on #995
That's a good point - did you try passing the `width` and `height` parameter here: https://github.com/huggingface/diffusers/blob/d3d22ce5a894becb951eec03e663951b28d45135/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py#L146 ?

Does it fail?

[2022-10-26 16:55] patrickvonplaten commented on #374
Hey @irgolic and @keturn,

I'm not sure if we want to support that much logic in the "native" pipelines - could we maybe try to make this feature a community pipeline, see: https://github.com/huggingface/diffusers/issues/841 and if it pans out nicely we could in a next step merge it to the native pipelines?

[2022-10-26 16:58] patil-suraj commented on #973
The stable-diffusion inpainting checkpoint is trained to replace masked objects with objects based on the prompt, so I'm not sure if this will work with existing checkpoint.

But maybe this could achieved by doing some prompt engineering and playing around a bit with negative prompts, For example this is what I got by using the prompt `an empty bench`. So maybe play around a bit with different pro

[2022-10-26 17:17] vict0rsch opened #1000 "`StableDiffusionInpaintPipeline` should handle batches"
I'd like to batch inferences with `StableDiffusionInpaintPipeline`. Most of the code in `pipeline_stable_diffusion_inpaint.py` can do it **except** for `prepare_mask_and_masked_image(image, mask)` which **requires** a `PIL.Image`.

**Describe the solution you'd like**
A simple fix would be to just let `tensors` alone and assume the end user has done their job:

[code]

We could have additional che

[2022-10-26 17:21] patil-suraj commented on #994
Hi, I adapted this example from the clip guided GLIDE example by @crowsonkb
https://github.com/crowsonkb/glide-text2im/blob/main/glide_text2im/gaussian_diffusion.py#L293,
I don't have good intuition about this, maybe @crowsonkb could share more :)

[2022-10-26 17:28] patil-suraj commented on #920
Hey @ulmewennberg that would be awesome, feel free to work on the PR and let us know if you any questions, happy to help :)

@MartiGrau , the `strength` argument is not really needed here. It's used in the legacy inpainting pipeline as it's based on the image2image example, where we provide an initial  image and the strength argument decides how much noise to add to the image (which also control t

[2022-10-26 17:42] MikailINTech commented on #987
Hi @darwinharianto, I tried the code with your exact configuration and it gives me this output
![image](https://user-images.githubusercontent.com/45072645/198097763-51de23b1-2ae6-49a5-937a-7c8801a1c3b9.png)

Did you try Stable Diffusion with another pipeline? Did you get a similar issue or is it only for this speech-to-image pipeline?

[2022-10-26 18:51] juno-hwang commented on #995
Oh I'm really sorry, I didn't realize it because the legacy inpainting pipeline didn't required such parameters. Thanks!

[2022-10-26 18:51] #995 closed

[2022-10-26 22:22] bglick13 commented on #841
I recently developed a community pipeline and found it a bit awkward to develop and test before it gets pulled into main.

I think the issue is with how `from_pretrained` fetches the pipeline file.

If you provide just the pipeline file name, like the documentation suggests, behind the scenes it seems to look for that file on githubcontent on the main branch, which won't work during development.

[2022-10-26 22:46] NouamaneTazi commented on #984
Seems like @pcuenca has already come across this issue, and has already raised the issue on Pytorch AND has suggested a fix, which is to make the tensors contiguous before the interpolation: https://github.com/pytorch/pytorch/issues/81665 👏👏

[2022-10-26 23:08] mihail911 opened #1005 "num_inference_timesteps can't exceed num_train_timesteps?"
### Describe the bug

Hey all,

I recently trained an unconditional image generation DDPM pipeline on a custom dataset using the `train_unconditional.py` script. The scheduler specified during training had `num_train_timesteps=1000` as follows:
[code]

Once I have trained the model and I am running inference, I try setting `num_inference_steps > 1000` in the DDPM pipeline as follows:
[code]

Howev

[2022-10-27 00:10] darwinharianto commented on #987
@MikailINTech I tried `interpolate_stable_diffusion`, the result seems to be looking fine.

[2022-10-27 00:57] scoutsaachi opened #1009 "Weight decay bug in textual_inversion.py"
### Describe the bug

I think there's a bug in the [textual_inversion.py ](https://github.com/huggingface/diffusers/blob/main/examples/textual_inversion/textual_inversion.py)script. Specifically, the word embeddings of all the tokens except the newly added token are supposed to be frozen. The way the script does this is by zeroing out the gradients for everything except the last token.

However, t

[2022-10-27 01:38] MarkRich commented on #875
Took a crack at it here: https://github.com/huggingface/diffusers/pull/1011

[2022-10-27 02:42] darwinharianto commented on #987
I tried the `long prompt`, but I cannot run it because it need torch >1.8, eventhough this library uses torch >1.4.
I will try to update my cuda and ubuntu version and see if it fixes this

[2022-10-27 03:12] young-chao commented on #989
I also created a new container to build the environment from scratch to download the code and install dependencies, but I still encountered this error in the end:
RuntimeError: 'weight' must be 2-D

[2022-10-27 03:13] young-chao commented on #989
root@7fc50ceb0af6:/workspace/workfile/Projects/diffusers/examples/text_to_image# accelerate config
In which compute environment are you running? ([0] This machine, [1] AWS (Amazon SageMaker)): 0
Which type of machine are you using? ([0] No distributed training, [1] multi-CPU, [2] multi-GPU, [3] TPU [4] MPS): 2
How many different machines will you use (use more than 1 for multi-node training)? [1]:

[2022-10-27 03:37] mrgomdev commented on #992
I understood that I can use StableDiffusionInpaintPipelineLegacy with strength, or StableDiffusionInpaintPipeline with just num_inference_steps. Thanks!
I need to check out more detail of the recent official inapinting pipeline with the new model.

[2022-10-27 03:37] #992 closed

[2022-10-27 04:16] adhikjoshi opened #1013 "'StableDiffusionMegaPipeline' not working Diffusers 6.0"
### Describe the bug

[code]

I am getting error as below, @patrickvonplaten

TypeError: 'StableDiffusionMegaPipeline' object is not callable

### Reproduction

Copied same code as

https://github.com/huggingface/diffusers/tree/main/examples/community#stable-diffusion-mega

only addition was "use_auth_token=hf_token" to get model from huggingface.

### Logs

_No response_

### System Info

pytorch

[2022-10-27 04:33] #970 closed

[2022-10-27 04:38] daspartho commented on #875
So I guess I'll leave it to @MarkRich then. Good work on the pipeline!

[2022-10-27 05:44] #1013 closed

[2022-10-27 06:30] vvvm23 commented on #905
@patrickvonplaten I feel the simplest way to do this would just be to copy `diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py`, add the image overlapping, and then add checks to make sure `inner_image` fits inside `mask_image`. Would you agree?

Secondly, how would you go about checking if `inner_image` fits inside the white area of `mask_image`? If the mask was a solid reg

[2022-10-27 06:39] darwinharianto commented on #987
Sorry, I found it
I wasn't supposed to
`plt.imsave('aa.png',output.images[0])` but `output.images[0].save('bb.png')`

[2022-10-27 06:39] #987 closed

[2022-10-27 06:42] #853 closed

[2022-10-27 06:55] A-Polyana opened #1014 "have a small problem after upgrade diffusers and others"
hello!
I upgrade my diffuers and use dreamtbooth but It doesn't work like this code

[code]

I Use this .sh(like README 8GB Train guide) with WSL2 Ubuntu WIN11 22H2, RTX3070 TI, 48GB RAM, DeepSpeed
[code]
Can you help me with what I have to do to get it back to work?

[2022-10-27 07:56] vvvm23 commented on #877
Just my random thoughts, but why make this a pipeline instead of something functional? For example, a function with args `module`, `ckpt1`, `ckpt2`, `alpha`?

[2022-10-27 07:58] vvvm23 commented on #905
Some in-progress results:
![output](https://user-images.githubusercontent.com/44398246/198225264-e86fb824-89e2-45a9-a440-5ca8623de6fe.png)
...yes that is a long long leg.

[2022-10-27 08:22] pcuenca commented on #940
Should be fixed now.

[2022-10-27 08:22] #940 closed

[2022-10-27 08:28] #29 closed

[2022-10-27 08:30] patrickvonplaten commented on #666
Also related to https://github.com/huggingface/diffusers/issues/732

@patil-suraj any updates here?

[2022-10-27 08:35] patrickvonplaten commented on #33
@anton-l as you've re-opened the issue -> are you planning on doing something with it?

[2022-10-27 08:36] patrickvonplaten commented on #81
@anton-l this is still not changed: https://github.com/huggingface/diffusers/blob/1d04e1b4deb1bdebabd9a94163ea5567e54c6ada/examples/unconditional_image_generation/train_unconditional.py#L12

Could you please take 5min to change it as discussed?

[2022-10-27 08:37] patrickvonplaten commented on #141
Pinging @patil-suraj here - do we have good docs for the fine-tuning example?

[2022-10-27 08:38] patrickvonplaten commented on #277
@anton-l any updates here?

[2022-10-27 08:38] patrickvonplaten commented on #339
@anton-l any updates here?

[2022-10-27 08:39] patrickvonplaten commented on #380
@anton-l could you take a look?

[2022-10-27 08:39] patrickvonplaten commented on #488
@anton-l any updates here?

[2022-10-27 08:40] patrickvonplaten commented on #489
Any updates here @anton-l ?

[2022-10-27 08:40] patrickvonplaten commented on #714
Any updates here @anton-l ?

[2022-10-27 08:40] patrickvonplaten commented on #790
Can we close this @anton-l ?

[2022-10-27 08:41] patrickvonplaten commented on #917
Gently ping @anton-l

[2022-10-27 08:44] patil-suraj commented on #989
Oh you are `deepspeed`, I tried without deepspeed. Please make sure to post the detailed command when opening issues so we could reproduce fast :)

I haven't tried this with Zero-stage-3 but it should work with `stage2`, stage3 is not really required for stable diffusion, it should work fine with stage2 as it's not a huge model so it does not need the parameter partitioning that stage3 offers,

Al

[2022-10-27 08:45] patrickvonplaten commented on #606
@pcuenca should we open this up to the community? I don't think any of us will have time to work on it soon no?

[2022-10-27 08:46] patrickvonplaten commented on #669
@pcuenca do you have any general ideas how to handle Apple Neural Engine?

[2022-10-27 08:47] patrickvonplaten commented on #669
Should we only focus on MPS for now?

[2022-10-27 08:52] #743 closed

[2022-10-27 09:06] vanewu commented on #993
I had the same problem with version 0.6.x.

![image](https://user-images.githubusercontent.com/27672489/198242228-320118d5-8aaa-41ed-9577-ff77afa85158.png)

[2022-10-27 09:10] FahimF commented on #940
Thanks @pcuenca 🙂 I can confirm that it works correctly now.

[2022-10-27 09:10] pcuenca commented on #478
I think this can be closed, @patil-suraj feel free to reopen if I'm missing anything.

[2022-10-27 09:12] pcuenca commented on #475
I think this should be complete now, please @patil-suraj @patrickvonplaten feel free to reopen otherwise.

[2022-10-27 09:13] pcuenca commented on #835
Assigning to myself to take a look soon.

[2022-10-27 09:15] pcuenca opened #1015 "JAX / Flax: avoid recompilation on params change: guidance scale, size, number of steps"
This is required to improve the demo(s), we currently have the sliders disabled.

Some users are also requesting it in discord and the forums. Our demo notebook is very fast on TPU hardware but users can't quickly explore different parameters.

[2022-10-27 09:32] patil-suraj commented on #277
There's a PR open here #944 should be merged soon with Euler and Euler A scheduler

[2022-10-27 09:46] hervenivon commented on #761
@paudom, I faced the same issue in a conda environment created with `pytorch==1.10.2` and `cudatoolkit=11.3.1`. I solved my issue by running it inside a docker container.

[2022-10-27 10:04] patil-suraj commented on #761
That's interesting, thanks for sharing @hervenivon

[2022-10-27 10:40] patil-suraj commented on #141
We have a working fine-tuning exampe here https://github.com/huggingface/diffusers/tree/main/examples/text_to_image#stable-diffusion-text-to-image-fine-tuning
which shows how to fine-tune text conditioned models. The readme has command which shows how to run the example but it's not very detailed.

I would be happy to write a detailed post/doc  if there's a interest in it :)
Also if  anyone is int

[2022-10-27 11:26] anton-l commented on #84
@natolambert would you like to implement it, if still relevant to GeoDiff?

[2022-10-27 11:53] Lewington-pitsos commented on #914
Hey, yes I am currently working on this in fact!

[2022-10-27 12:10] anton-l opened #1021 "(Re)implement model cards for the training examples"
#748 didn't account for `diffusers.hub_utils.create_model_card()` (called by `hub_utils.push_to_hub()` which was replaced by `repo.push_to_hub()`) that was responsible for creating model cards like https://huggingface.co/anton-l/ddpm-ema-flowers-64 , so now they come out empty.

But since the model card generation logic is now available in `huggingface_hub`, we can start implementing it across all

[2022-10-27 12:25] Lewington-pitsos commented on #914
@patrickvonplaten I made a PR adding the files: https://huggingface.co/datasets/hf-internal-testing/diffusers-images/discussions/2

[2022-10-27 12:27] anton-l commented on #380
Not sure about removing `trained_betas`, because they are functioning as designed, and someone might be using them already.
Gently deprecating them is an option, but only if we don't have plans for pipelines that need them. @patil-suraj is BDDM on our roadmap?

[2022-10-27 12:32] anton-l commented on #463
@patil-suraj IIRC you had plans for an SR example too? I might not have bandwidth in the next few weeks, but can work on SR after, if it's not high on your list.

[2022-10-27 12:38] anton-l commented on #81
Addressed in https://github.com/huggingface/diffusers/pull/1022

[2022-10-27 12:46] anton-l commented on #488
Thanks for reporting @st-howard, sorry for the late reply!
Fixed it in #1025

[2022-10-27 12:49] anton-l commented on #489
FP16 models are now supported when tracing on GPU, thanks to @SkyTNT: https://github.com/huggingface/diffusers/pull/932
AFAIK @tianleiwu is working on a working CPU-only conversion script :)

[2022-10-27 12:57] anton-l commented on #790
Yes, the issue doesn't come up anymore in our tests with the 1.13 RC pytorch release (`torch.cuda.empty_cache()` shouldn't affect the `mps` device)

[2022-10-27 12:57] #790 closed

[2022-10-27 13:16] patil-suraj commented on #463
Yes, that's on my todo list. But if anyone is interested feel free to open a PR, happy to help :)

[2022-10-27 13:17] #81 closed

[2022-10-27 13:31] anton-l commented on #714
Thanks for the feedback @Flova! Added the parameter in https://github.com/huggingface/diffusers/pull/1027

[2022-10-27 13:37] anton-l commented on #917
@pythoninoffice in the current release only `runwayml/stable-diffusion-inpainting` is compatible with onnx inpainting, since it needs a finetuned model.
As for models that are not finetuned for inpainting, both `runwayml/stable-diffusion-v1-5` and  the `CompVis/stable-diffusion-v1-N` checkpoints are compatible with the pytorch pipeline `StableDiffusionInpaintPipelineLegacy`, but it doesn't have an

[2022-10-27 13:55] #714 closed

[2022-10-27 14:54] pcuenca commented on #463
I'm interested in this too, and it's becoming relevant for the on-going fast.ai course. I might have some time to start working on this in a few days and/or help @anton-l and @patil-suraj when they do :)

[2022-10-27 15:52] daspartho opened #1029 "[Community Pipeline] Mix Prompting pipeline?"
## Idea
I've been playing with this concept of mixed embeddings. The premise is simple: the pipeline takes a list of prompts and generates images based on a mix of embeddings of the prompts. It produces some interesting mixed-up outcomes.

## Example
Prompt 1: `a mountain, cinematic angle, studio Ghibli, cinematic lighting, detailed oil painting, hyperrealistic, 8k`
Prompt 2: `A long and winding b

[2022-10-27 16:06] piEsposito commented on #968
@patrickvonplaten nice! This was a sife effect I didn't think of when I was implementing it.

[2022-10-27 17:32] natolambert commented on #84
Okay, found some pointers. This seems like it would be one of the simplest Schedulers.

* Seems like the NSCN paper was the one to popularize [this](https://github.com/ermongroup/ncsn/blob/7f27f4a16471d20a0af3be8b8b4c2ec57c8a0bc1/runners/anneal_runner.py#L203).
* The implementation in GeoDiff is [here](https://github.com/MinkaiXu/GeoDiff/blob/c6f26dc250308bff8923a19884e601e0bb0f975a/models/epsnet/

[2022-10-27 18:01] natolambert commented on #380
What's BDDM?

[2022-10-27 18:03] kashif commented on #380
https://github.com/tencent-ailab/bddm speech model

[2022-10-27 18:15] Marcophono2 commented on #952
@NouamaneTazi , do you have a hunch? :)

[2022-10-27 18:25] piEsposito commented on #540
Closed by #850

[2022-10-27 18:25] #540 closed

[2022-10-27 19:06] adhikjoshi opened #1033 "IndexError: list index out of range, stable_diffusion_mega"
### Describe the bug

I am using custom_pipeline="stable_diffusion_mega" pipeline, and getting "IndexError: list index out of range" error

Here is traceback of error,

**Stable Diffusion Pipeline**

[code]

I am calling text2img function of "stable_diffusion_mega"  @patrickvonplaten
`self.pipe.text2img("a cat sitting on a bench")`

### Reproduction

self.pipe.text2img("a cat sitting on a bench")

[2022-10-27 19:22] cprivitere commented on #489
Just a note for folks that this fp16  conversion of the ONNX models does NOT support AMD GPUs. It only works on NVIDIA.

[2022-10-27 19:33] wareya commented on #489
The one I posted works on AMD GPUs, at least.

[2022-10-27 20:44] #488 closed

[2022-10-27 21:20] stromal opened #1036 "CLIP_Guided_Stable_diffusion_with_diffusers.ipynb BUG"
### Describe the bug

# FROM

https://github.com/huggingface/diffusers/tree/main/examples/community#clip-guided-stable-diffusion

Example | Description | Code Example | Colab | Author
-- | -- | -- | -- | --
CLIP Guided Stable Diffusion | Doing CLIP guidance for text to image generation with Stable Diffusion | CLIP Guided Stable Diffusion |   | Suraj Patil

Example	Description	Code Example	Colab	Au

[2022-10-27 21:23] NouamaneTazi commented on #952
I never worked with Pytorch 1.13 nor CUDA 11.8 before. Does the 3 benchmarks use the same environment @Marcophono2?

[2022-10-27 21:38] MarkRich opened #1037 "Add Stable Diffusion Telephone to community pipelines"
Context: https://twitter.com/jayelmnop/status/1585695941788856320

**Is your feature request related to a problem? Please describe.**
The problem is that we don't have this awesome little pipeline!

**Describe the solution you'd like**
We add it to community pipelines per https://github.com/huggingface/diffusers/issues/841

I'd love to take a crack at this! Can probably work on it starting Sunday

[2022-10-27 21:51] Marcophono2 commented on #952
Yes, they did, @NouamaneTazi . Meanwhile I found out that the RP https://github.com/AUTOMATIC1111/stable-diffusion-webui offers a technical support for the 4090. I can produce a 640x640px image with 22it/s. I used this unusual size because with 512x512 my GPU utilization is only 60%. There is no other bottleneck. So I could enlarge the size until the utilization is nearly 100% without losing speed

[2022-10-27 22:11] NouamaneTazi commented on #952
I'm afraid I can't help much myself as I don't have access to any Lovelace GPU. It seems that updating cudnn should help speed up inference. I would recommend you follow the following threads: https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/2449 and https://github.com/AUTOMATIC1111/stable-diffusion-webui/discussions/2537. The same should apply to `diffusers`

[2022-10-27 22:46] Marcophono2 commented on #952
@NouamaneTazi , yes, I know that threads and followed every detail. But finally it was not able to build it in the same, or in a similar way, for Linux.
Oh, no problem that you don't have access to a Lovelace GPU. Feel free to use my vasti account and book a 4090 instance there. Right at this moment I am using one. My billing account there is good feeded, so you can use a 4090 instance round the c

[2022-10-27 22:50] Marcophono2 commented on #952
@NouamaneTazi I lost so much time to find a solution that it would be a big pleasure for me to pay you for your work if you are successful. (but I need it latest on monday, sorry :-)

[2022-10-28 00:29] camenduru commented on #1015
Please make a script that can convert original stable diffusion to flax 🚀

[2022-10-28 00:33] camenduru commented on #1015
and please make an auto-converter if someone publishes it like this  https://huggingface.co/nitrosocke/modern-disney-diffusion it will automatically convert to all different models 🤖🧨

[2022-10-28 02:28] dblunk88 commented on #993
I don't know if that is still the case, but fp16 used to have to be run in autocast

[2022-10-28 02:29] dblunk88 commented on #1036
It's a 403. Make sure to accept the TOS on the huggingface page for 1.4

[2022-10-28 02:30] dblunk88 commented on #1036
devs, I would recommend adding a custom error message whenever TOS wasn't accepted

[2022-10-28 04:03] A-Polyana commented on #1014
I Try re-install hugingface/diffuers git and transformers
but still saw error message like this
[code]

[2022-10-28 04:20] vanewu commented on #993
Yes, I added `autocast` and computed in this scope . The problem was solved.

[2022-10-28 05:46] adhikjoshi commented on #1033
Tried on different GPUs, with different settings, without custom_pipeline="stable_diffusion_mega" works well,
but with custom_pipeline="stable_diffusion_mega", throws error

[2022-10-28 06:23] toyxyz commented on #931
I have a similar problem. After the diffusers update, I converted SD v1.5 and then converted it back to cktp, but the file size became smaller. 7gb->4gb. And when converting ckpt files of different sizes with the convert_original_stable_diffusion_to_diffusers.py script, all results are the same size. is there something i am missing?

`python convert_original_stable_diffusion_to_diffusers.py --chec

[2022-10-28 08:12] juno-hwang commented on #920
Hey @patil-suraj, as you said `strength` is not necessary, but I think introducing `strength` could allow us to re-paint the given region while keeping some consistency just like legacy inpainting pipeline.
![KakaoTalk_20220710_223619816](https://user-images.githubusercontent.com/52326857/198536401-663066a7-5a85-4ef5-a0e8-9794749b0eef.png)
Also I found an intereting phenomena on img2img pipeline :

[2022-10-28 09:25] #984 closed

[2022-10-28 09:32] patil-suraj commented on #920
I see, thanks for reporting, will take a look at this.

Also, as I said above, we don't use `init_image` in inpainting, as we don't add any noise to the image and mask we pass for in-painting, because of this it's not possible to add `strength` here.

However, to keep consistency, what I could suggest is:
get the in-painted image from the `pipeline` and then replace the non-masked parts of the ima

[2022-10-28 09:34] patil-suraj commented on #1037
Hey @MarkRich , this would be a very cool addition, feel free to work on it, happy to help :)

[2022-10-28 10:19] goktug7913 commented on #593
this has nothing to do with what the OP describes, and this is not how neural networks work, it's simply that the training data was 512x512 and the model fills the extra area with repetition of patterns which it knows. If you don't have the required VRAM, the program just won't work.

[2022-10-28 11:24] adhikjoshi commented on #1033
Able to make it work by removing "pipe.safety_checker"

[2022-10-28 11:24] #1033 closed

[2022-10-28 13:06] jamestiotio commented on #374
@irgolic As for the current callback implementation, strictly and technically speaking, in terms of the number of sequential CPU instructions being executed, yes. At the very least, even with an empty callback function that does nothing, some Python bytecode will still be generated and executed.

For example, as of Python 3.10, let's say we have the following code:

[code]

It would be compiled to

[2022-10-28 16:59] WASasquatch opened #1046 "custom pipelines and from_pretrained"
**What API design would you like to have changed or added to the library? Why?**

custom pipelines is available through the master `from_pretrained()` method, but do not work for other pipelines. It would be beneficial if you could load custom features into any pipeline, such as the much needed and missing functionality of img2img and inpainting for custom pipelines.

**What use case would this en

[2022-10-28 17:03] WASasquatch commented on #1037
This is pretty cool, but I would think the CLIP Interrogator isn't powerful enough, or optimized enough. It often trips out, and provides rubbish prompts for real images, let alone diffusions. I have it as part of Easy Diffusion, and I really just stopped using it cause of the frequency of error.

[2022-10-28 17:13] WASasquatch commented on #1046
I have been trying to get clip guidance into img2img and inpaint for weeks now, to no avail, and it's getting super frustrating.

[2022-10-28 18:07] dblunk88 opened #1047 "cpu_offload"
### Describe the bug

I tried CPU offloading and found a few issues:
1. if safety is set to None, it will error out. An if-else in the enable_sequential_cpu_offload should fix that
2. multi-GPU use (I think) is not supported since it just offloads to cuda. Could add in an optional device passthrough to tell it where to load off
3. I generator is set via cuda, it will give a runtime error that it e