[2022-06-09 16:28] patrickvonplaten opened #8 "Schedulers - what code should go into a "Scheduler" class?"
At the moment, the scheduler class has very little logic -> see: https://github.com/huggingface/diffusers/blob/2852c80540ed9a9a435bb8b2ce9e393811af519c/src/diffusers/schedulers/gaussian_ddpm.py#L26

where as the example of the unrolled denoising process is getting quite complicated (copied from the README):

[code]

As noted by @patil-suraj , I also start to think that we should put more logic int

[2022-06-12 22:18] #8 closed, assigned to nobody

[2022-06-15 10:21] LysandreJik opened #10 "Missing `transformers` requirement"
Dependencies don't mention `transformers`

https://github.com/huggingface/diffusers/blob/850d43450f2154d586c1cb226ca17ec53765e2a2/setup.py#L78-L91

However, importing from the quickstart fails without `transformers` installed:

[code]

Is the end goal to have `transformers` as a hard or soft dependency?

[2022-06-15 10:21] LysandreJik opened #11 "Pros and cons of the configuration setup"
Could you mention the reasons why you opted for a configuration setup that is different from transformers'?

From a previous conversation I remember it was in order to not repeat twice the arguments, however when looking at schedulers it seems like it is still the case:

https://github.com/huggingface/diffusers/blob/850d43450f2154d586c1cb226ca17ec53765e2a2/src/diffusers/schedulers/scheduling_ddpm.

[2022-06-15 10:21] LysandreJik opened #12 "Collection of nitpicks"
See below for a small collection of nitpicks; I suppose those will be adressed before the first release, but wanted to write them down somewhere:
- Documentation seems to be in a different format so will need to be refactored to work with the `doc-builder`
- The `logging` class still has mentions to `🤗 Transformers`
- You have some `tqdm` instances in schedulers, but they're not using the utility

[2022-06-15 10:21] LysandreJik opened #13 "Common API"
How much of a common API do you expect there to be across different objects? For example, the `unet.py` file contains a `Trainer`, while other models seem to only rely on their `forward` method, but they have different APIs and signatures.

Same with pipelines, for example with the `BDDM` pipeline having the following arguments for it's `__call__` method: `mel_spectrogram, generator, torch_device=

[2022-06-15 15:01] kashif commented on #13
One thing that is sometimes missing with the `models`'s `forward` is the notion of a `context` or `conditioning`... typically for the image gen. there is no conditioning, however for other modalities conditioning might be needed so if we can also add that in the  `forward` and by default make it none, it will be helpful!

[2022-06-15 15:07] patil-suraj commented on #13
Thanks @kashif . I think this is exactly what @anton-l  proposed with task/modality specific sub-classes.

[2022-06-15 17:02] patrickvonplaten commented on #13
@anton-l RE:

Haven't looked too much into the models yet, but do we really need them to be modality specific? E.g. couldn't a vision unet also work on a spectrogram image? Think I'd be at the moment more in favor of naming the modules in `src/diffusers/models` after their input / output format and model type - e.g. unet_2d.py, unet_3d.py. In the case of glide, could that maybe mean that we have a

[2022-06-15 17:03] patrickvonplaten commented on #13
Not super excited about early-on introducing a pipeline config, but happy to brainstorm about it (don't know much about majestic yet :-))

[2022-06-15 18:47] mrm8488 opened #14 "Create Colab Notebook for training script"
I have seen in the TO-DO list that you think to create a Colab to train the DM in examples folder.
I can do it!

[2022-06-16 10:02] vvvm23 commented on #12
Made a small pull request to fix the logging class issues.
Not a huge contribution, just wanted to get my feet wet with contributing 🙂

[2022-06-16 12:23] patrickvonplaten commented on #12
Super nice of you @vvvm23 - thanks a lot :-)

We want to clean up the code and add appropriate licensing / links to original code early next week and we'll soon release a list of todo's for contributions as well if you're interested in contributing more in the coming weeks

[2022-06-16 12:32] vvvm23 commented on #12
Hi yes, would be interested, feel free to tag me when that happens~ I don't have much experience with continuous diffusion and contributing to big projects, but fairly good at pytorch in general.

[2022-06-17 08:20] anton-l commented on #14
That would be awesome, @mrm8488!
Feel free to open a draft PR in https://github.com/huggingface/notebooks (under a new directory `/diffusers/`) and ping me in the collab channel on Slack if you have any questions :)

[2022-06-17 19:51] shyamsn97 opened #23 "Adding Diffusion Planning Model from "Planning with Diffusion for Flexible Behavior Synthesis""
Hi! First off, thanks for creating this awesome library, excited to see where it goes!

I did see in the README that there's a TODO for adding the RL model from https://github.com/jannerm/diffuser, and I recently saw https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_rl.py. Is this actively being worked on? If not, I can take a stab at it, as I've been messing around with

[2022-06-18 19:29] osanseviero opened #24 "Friction log from new user"
Hey all! I'm writing a friction log as a new user and someone with 0 experience with diffusion models. I hope this is useful.

Overall, I **loved** that the README had a definition section, it was very quick to get things going and I was able to have some result with existing pipelines very quickly. As a first step I just went through the README, I'll kick off some training tomorrow. Awesome work

[2022-06-19 12:00] osanseviero commented on #24
As a second step I trained a model with a new dataset based on the example script. It was very straightforward :fire: and everything worked together very nicely, except for my GPU not allowing larger models, so I had to decrease resolution. I would have loved a `push_to_hub`  method to upload it

[2022-06-19 15:10] patil-suraj commented on #24
Thanks a lot for the feedback !

I1. (first code example):
- Yes, `diffusers` tag would be awesome.
- Yes, we could definitely add code snippet once the API is finalised.

I2 (first code example):
The example is failing because of renaming. `GaussianDDPMScheduler` is now `DDPMScheduler`. These will be fixed once we settle on names. Fixed this example for now :)

We are aiming for two APIs here:
-

[2022-06-19 16:22] osanseviero commented on #24
I1
- Happy to help with setting up the code snippet + tag once the API is finalised.

I2
- Thanks!

I3
- Cool, then this is analogous to `*Model` classes and `pipeline` in `transformers`. Sounds exciting!

For push to Hub, feel free me to tag me in the PR once opened, it would be cool to have metrics and other metadata out-of-the-box

[2022-06-20 05:05] #23 closed

[2022-06-20 05:31] jaketae opened #25 "Support batches in noise scheduler"
Firstly, kudos to the HF team for building this awesome library!

I would like to propose some modifications to the DDPM noise scheduler (and potentially other schedulers) to support batching. Based on [`training_ddpm.py`](https://github.com/huggingface/diffusers/blob/main/examples/train_ddpm.py), it appears that the DDPM noise scheduler does not batch forward diffusion steps:

https://github.com/

[2022-06-21 20:47] krrishdholakia opened #28 "Support for imagen-pytorch?"
Hi,

Curious if I could use this alongside the imagen-pytorch opensource model - https://github.com/lucidrains/imagen-pytorch

Any help with this would be great!

[2022-06-21 21:03] natolambert opened #29 "In which config (or in None) should the `predict_epsilon` config be saved?"
We're discussing where certain properties should be saved in this repository. For example, [this `predict_epsilon`](https://github.com/huggingface/diffusers/blob/320506c75ad7d40c7d9fc6db5a45955906c5f729/src/diffusers/schedulers/scheduling_ddpm.py#L125) property is used to distinguish if a model is trained to directly reconstruct the original sample or the noise associated with it.

(used in this [

[2022-06-21 22:57] patrickvonplaten commented on #29
@patil-suraj @anton-l what do you think?

[2022-06-22 05:46] richardrl opened #30 "example script doesn't work with pip install"
The pip package doesn't include any of these:

from diffusers.modeling_utils import unwrap_model
from diffusers.optimization import get_scheduler
from diffusers.utils import logging

so "train_unconditional.py" fails:

`python3 train_unconditional.py  --dataset="cifar10"  --resolution=64  --output_path="cifar10-ddpm"  --batch_size=16  --num_epochs=100 --gradient_accumulation_steps=1 --lr=1e-4  --w

[2022-06-22 09:19] patrickvonplaten commented on #28
Hey @krrishdholakia,

Great question! We're still very much in the early phases of developing the library, but the goal is to have a library that can be used as a toolbox to quickly try out new architectures, sampling methods and so forth. So in the case of imagen-pytorch, the idea would be that you can soon use this library to try out different sampling methods as well as different model architec

[2022-06-22 09:20] patrickvonplaten commented on #25
Very much agree! @anton-l is working on this right now I think :-)

[2022-06-22 09:21] patrickvonplaten commented on #30
Hey @richardrl,

We're still in the early stages of developping this library so especially the example code changes quite rapidly. To be able to run the example could you try to install the library from source?

[code]

[2022-06-22 11:39] anton-l commented on #25
Yep, much cleaner now :) https://github.com/huggingface/diffusers/commit/848c86ca0a2e321cda294c3cd3e8a3572281c2f3

[2022-06-22 11:39] #25 closed

[2022-06-22 11:48] anton-l commented on #10
Using dummy imports now instead of hard dependencies and try-catch blocks, thanks to Patrick https://github.com/huggingface/diffusers/commit/ff885b0e26cbc12b1de6e14494418fa1a1e8e849

[2022-06-22 11:48] #10 closed

[2022-06-22 20:48] richardrl opened #31 "How to use multiple GPUs?"
The example script shows how to use torch distributed to launch across multiple machines.

What about using multiple GPUs? Does huggingface automatically use up all GPUs on the current machine? How do we control how much it uses?

[2022-06-22 22:38] richardrl commented on #31
This command failed:

[code]

`    model, optimizer, train_dataloader, lr_scheduler                                                                                                                                                                                                                                                  [191/481]
  File "/usr/local/lib/python3.6/dist-packages/accelerate/acceler

[2022-06-23 09:00] patil-suraj commented on #31
Hi @richardrl,

The command should work for multiple GPUs. To control the number of GPUs used, modify the `--nproc_per_node` argument. This needs to be less or equal to the number of GPUs you have.

[2022-06-23 18:50] richardrl commented on #31
@patil-suraj I found the problem, need to set CUDA_VISIBLE_DEVICES to restrict to free memory GPUs

[2022-06-23 18:50] #31 closed

[2022-06-23 18:52] richardrl opened #32 "cifar10 quality much worse than DDPM paper"
Here are my cifar10 32x32 results, with 7x NVIDIA GeForce RTX 2080 Ti with 11GB VRAM trained for ~10 hours with:

` python3 -m torch.distributed.run --nproc_per_node 7 train_unconditional.py  --dataset="cifar10"  --resolution=32  --output_dir="cifar10-ddpm-"  --batch_size=16  --num_epochs=100 --gradient_accumulation_steps=1 --lr=1e-4  --warmup_steps=500
`

[cifar10-ddpm.zip](https://github.com/hug

[2022-06-23 20:17] patrickvonplaten commented on #32
Thanks a lot for trying out the training @richardrl! That's super useful - do you happen to have some training logs by any chance as well?

[2022-06-24 04:48] richardrl opened #33 "New modalities"
One of the stated design decisions from the readme was to support arbitrary modalities, not just images.

I'm in the process of trying to adapt the code for 1D vectors (not H x W x C images).

this line:

`                noisy_images = noise_scheduler.training_step(clean_inputs, noise_samples, timesteps)
`

adapted from train_unconditional.py, takes in a (16, 198) clean_inputs tensor and returns

[2022-06-24 09:31] patil-suraj commented on #33
Thanks for reporting @richardrl !
Indeed the plan is to support multiple modalities, but we haven't yet tested the schedulers with 1D data.

cc @patrickvonplaten @anton-l

[2022-06-24 12:09] patrickvonplaten commented on #33
@anton-l - we need to make sure that `training_step` is both framework agnostic and shape agnostic

[2022-06-24 12:14] patrickvonplaten commented on #33
Taking a look at the function as is:

[code]

Note that the input can be both `torch` and `numpy` tensors -> this should be changed.

Also there shouldn't be any `.to(device)` statements, nor framework and modality spefific `.reshape(...)` operation.

I'd be in favor of implementing framework specific (one for PT one for TF) functions called

```def extract(....)``` in `SchedulerMixin` that have `

[2022-06-24 13:02] patrickvonplaten commented on #33
BTW, it's super nice to get all your feedback here @richardrl - thanks a lot!

[2022-06-27 15:15] anton-l commented on #33
Now we use `match_shape(timestaps, original_samples)` for everything, which is framework- and shape-agnostic: https://github.com/huggingface/diffusers/blob/main/src/diffusers/schedulers/scheduling_ddpm.py#L146

[2022-06-28 06:33] UdonDa opened #36 "Implementation for TensorRT"
Hi,

I guess that a reverse diffusion process can be performed fastly if an UNet implementation in this library can infer with [TensorRT](https://github.com/pytorch/TensorRT).
Would you have the plan to implement for TensorRT?

[2022-06-28 08:04] richardrl commented on #33
@anton-l @patrickvonplaten Thanks for your input thus far.

I took the latest commit (as of this moment) and made a minimum reproduction of a 1D MLP model and training.

I had to make an additional modification to `pipeline_ddpm.py` to support noise samples of the right shape.

[bimodal_testt.zip](https://github.com/huggingface/diffusers/files/8998893/bimodal_testt.zip)

`python3 train_uncondition

[2022-06-28 10:52] patrickvonplaten commented on #36
Hey @UdonDa,

That's a good question! I'm sadly not too familiar with `TensorRT` but diffusion processes indeed suffer from slow inference often. I'd be happy to allow integrations with `TensorRT`, do you have an idea of how to do so? Also cc @anton-l

[2022-06-28 11:31] UdonDa commented on #36
Hi, @patrickvonplaten, @anton-l!

Actually, it is easy to implement it using this library https://github.com/pytorch/TensorRT#python.
The library provides a compiler so that we just compile our network instance.

However, I have two concerns.
(1) I do not know if the compiled network can estimate an accurate score function.
(2) It's necessary to re-write an unet implementation to compile, which is

[2022-06-30 00:56] xinmiaolin opened #47 "Glide pipeline generates wrong image dimensions"
Hi,

Thank you very much for this amazing repository.

I was running the inference code for the glide pipeline, but the output is not of good dimension
![Screen Shot 2022-06-29 at 5 54 34 PM](https://user-images.githubusercontent.com/43487018/176570020-fca00fad-409c-4523-b506-9f6026ba621e.png)

This is the error:

![Screen Shot 2022-06-29 at 5 55 21 PM](https://user-images.githubusercontent.com/43

[2022-06-30 08:01] creatorrr opened #49 "Missing schema: Invalid URL"
Throwing `MissingSchema: Invalid URL` on trying to load a sample `DiffusionPipeline` from the huggingface hub. It does download the model files but fails right after. Maybe it's a problem with the model?

I tried to run:

[code]

Error:
[code]

Environment:
- `python`: `3.10.5`
- `os`: `ubuntu22.04`
- `diffusers`: `0.0.4`

[2022-06-30 08:09] creatorrr opened #50 "No attribute 'LatentDiffusionPipeline'"
**Error**: ` AttributeError: module 'diffusers' has no attribute 'LatentDiffusionPipeline'`

**On:**
[code]

This happened after the model files got successfully downloaded.

**Environment**:
- `python`: `3.10.5`
- `os`: `ubuntu22.04`
- `diffusers`: `0.0.4`

**Traceback**:
[code]

[2022-06-30 08:14] creatorrr commented on #30
@patrickvonplaten had some trouble installing from  source using `poetry`. Running `poetry add git+https://github.com/huggingface/diffusers.git` threw an error:

[code]

[2022-06-30 09:25] patil-suraj commented on #50
Hi @creatorrr !

This should work if you install `diffusers` from source. To install from source clone the repo and run `pip install -e .` from the root of the repo.
We are changing things fast and the model won't load with `0.0.4` install.

[2022-06-30 22:22] natolambert commented on #47
Hi @xinmiaolin, thanks for speaking up. Can you copy the text of your error into the issue so I can try to help a little more precisely? It's hard to read and search.

[2022-06-30 23:14] xinmiaolin commented on #47
Hi the problem is solved, just the output image if of the correct dimension already.

[2022-06-30 23:14] #47 closed

[2022-06-30 23:24] xinmiaolin opened #58 "glide training generates weird images"
Hi,

Thanks for this amazing repository! I am currently training Glide using the script `train_glide_text_to_image.py`. However, the generated images do not make sense and no matter the text prompt, the generated images are all similar to each other.

Below, for the text "a woman walks her dog on the beach"
![Screen Shot 2022-06-30 at 4 21 59 PM](https://user-images.githubusercontent.com/43487018/

[2022-07-01 04:27] creatorrr commented on #50
Ah gotcha. Yes, I tried that and it worked. Thanks @patil-suraj , closing this for now. Please feel free to re-open it if relevant.

[2022-07-01 04:27] #50 closed

[2022-07-01 04:30] creatorrr commented on #49
Installing from source `master@abedfb0` gives a different error:
`AttributeError: module 'diffusers' has no attribute 'GLIDE'`

[2022-07-01 12:16] anton-l commented on #58
Hi @xinmiaolin! We haven't done enough testing with Glide so far, so the script is not working as intended just yet. But we will publish a separate non-Glide text2img training script soon!

[2022-07-01 16:58] xinmiaolin commented on #58
Hi, are you also going to publish a working Glide training script soon?

Also, is the fusing/glide-base model trained using the huggingface/diffusers code or other repository? The reason that I asked this is to know whether the Glide implementation of huggingface/diffusers is correct so that we can continue working using it even though the training script is not working right now.

Thank you!

[2022-07-03 20:33] patrickvonplaten opened #69 "1D Upsampler / Downsample"
We should also write tests for 1D Upsampler and 1D downsampler layers (for `unet_rl.py`)

Once all layers are nicely consolidated and we have finished the first round of refactoring, up- and downsampling layers should probably be split into layers that have learnable parameters and those that don't.

cc @patil-suraj - let's discuss offline if not clear

[2022-07-06 13:08] osanseviero opened #81 "Usage of init_git_repo is not very clear"
init_git_repo expects some arguments which are not very clear (e.g. you need to pass `local_rank` which is not very obvious when the functions is creating a git repo).

cc @anton-l

[2022-07-06 15:56] milyiyo opened #82 "latent_diffusion not found"
Hi :)

I was trying to recreate the example of [text-to-image](https://github.com/milyiyo/diffusers/tree/main#text-to-image-generation-with-latent-diffusion) in Colab, but I am getting the following error:

`OSError: file /root/.cache/huggingface/hub/models--fusing--latent-diffusion-text2im-large/snapshots/d5eab56148ae55791834277fe9ee6d095066f607/latent_diffusion not found`

The content of the fol

[2022-07-12 21:37] natolambert opened #84 "[Feature] Add Langevin Dynamics Sampler"
The score-based generative models sometimes us a Langevin Dynamics step to de-noise samples; see [NCSN](https://arxiv.org/abs/2006.09011). In the diffusion model for generating molecule conformations, [GeoDiff](https://github.com/MinkaiXu/GeoDiff), this step function had the best results (even though it is simpler than the score-based schedulers currently in the repo).

It could be worth adding to

[2022-07-13 15:55] #82 closed

[2022-07-15 20:52] natolambert opened #93 "Some tests fail on CPU / M1"
For example, in debugging the test `test_modeling_utils.py::PipelineTesterMixin::test_score_sde_ve_pipeline`, we added a specific value for CPU, but the values on m1 are different slightly again. Here are the values from m1:

[code]

This happens because some of the models are very large. Will need to add a best practice for tests & contributing.

[2022-07-20 09:48] apolinario opened #107 "[Feature request] Tensor to Image post-processing integrated with the library"
For the image diffusers, the outputs are tensors that need to be pre-processed to become useful as images. Different models and schedulers may require different post-processing for the images that the user may not be aware about.

For that, the API for pipelines could have a `output_type` option that the user could choose between the output formats such as `pil`, `numpy`, `tensor`, [analogous to t

[2022-07-20 19:15] anton-l commented on #107
Added in https://github.com/huggingface/diffusers/pull/111

[2022-07-20 19:15] #107 closed

[2022-07-20 21:19] osanseviero opened #114 "Higher level pipeline"
Just as in `transformers`, I was wondering if we have any plans for a general `pipeline` function that could use the different pipelines under the hood.

[2022-07-21 15:47] Lyn-Qiu opened #122 "raise the problem No module named 'exceptions' When train the model"
Traceback (most recent call last):
  File "scripts/train.py", line 1, in <module>
    import diffuser.utils as utils
  File "/mnt/d/RL/UCSC/diffuser/diffuser/utils/__init__.py", line 4, in <module>
    from .setup import *
  File "/mnt/d/RL/UCSC/diffuser/diffuser/utils/setup.py", line 6, in <module>
    from tap import Tap
  File "/home/lyn/anaconda3/envs/diffuser/lib/python3.8/site-packages/tap.p

[2022-07-21 15:48] Lyn-Qiu commented on #122
can't solve by pip install python-docs

[2022-07-21 15:51] feconroses opened #123 "Add an "About" to the repo"
It would be nice to add an about section to this repo:
![Screen Shot 2022-07-21 at 12 50 12 PM](https://user-images.githubusercontent.com/10597153/180258092-e8a06766-63db-4fec-9f06-f8ef4adb365d.png)

[2022-07-21 16:10] osanseviero commented on #123
WDYT about

?

[2022-07-21 17:33] feconroses commented on #123
LGTM!

[2022-07-21 17:36] patrickvonplaten commented on #123
Good point - added a description!

[2022-07-21 17:36] #123 closed

[2022-07-21 17:37] patrickvonplaten commented on #114
We already have `DiffusionPipeline` - you should be able to load all models via this class, *e.g.*:

[code]

[2022-07-21 18:14] StoneCypher opened #124 "[Documentation request] How to create a dataset for training"
You do say [how to train a new model from a dataset](https://github.com/huggingface/diffusers/tree/main/examples).  You don't say how to create a dataset.

Is it just a directory of images?  Do they need to be sized somehow?  Is there a subdirectory tree?  Are there text files containing metadata?

[2022-07-21 18:54] patrickvonplaten commented on #11
Closing this issue for now as it was discussed quite extensively offline

[2022-07-21 18:54] patrickvonplaten commented on #12
Think we applied most of the nitpicks!

[2022-07-21 18:54] #12 closed

[2022-07-21 18:55] patrickvonplaten commented on #13
Also closing as the API is now finalized and explain on the main README: https://github.com/huggingface/diffusers

[2022-07-21 18:55] patrickvonplaten commented on #14
We now have two notebooks here: https://github.com/huggingface/notebooks/tree/main/diffusers

[2022-07-21 18:56] patrickvonplaten commented on #24
Thanks for the feedback here @osanseviero - think we applied almost all of it now :-)

[2022-07-21 18:56] #24 closed

[2022-07-21 19:02] #13 closed

[2022-07-21 19:02] patrickvonplaten commented on #14
We'd be more than happy for more colabs :-)

[2022-07-21 19:02] #14 closed

[2022-07-21 19:03] patrickvonplaten commented on #28
Hey @krrishdholakia,

Imagen-PyTorch is actually conceptually quite simple as it's just a cascade of diffusion models and a T5 Text-Encoder. The difficulty is that no pre-trained weights are available yet.

If weights are available you could use any of the available schedulers that we provide:
- https://github.com/huggingface/diffusers/tree/main/src/diffusers/schedulers
and then you could wrap thi

[2022-07-21 19:03] patrickvonplaten commented on #28
Closing for now, feel free to open again if you have more questions. In general, we as Hugging Face would be more than happy to support efforts to replicate Imagen for the OS community

[2022-07-21 19:03] #28 closed

[2022-07-21 19:04] patrickvonplaten commented on #32
Closing for now

[2022-07-21 19:04] #32 closed

[2022-07-21 19:05] patrickvonplaten commented on #49
Hey @creatorrr,

I think you can now download all official available models: https://huggingface.co/models?library=diffusers

Could you maybe open a new issue if something doesn't work?
Note that we don't have GLIDE added yet.

[2022-07-21 19:05] #49 closed

[2022-07-21 19:05] #69 closed

[2022-07-21 19:06] patrickvonplaten commented on #81
@anton-l - what do you think here?

[2022-07-21 19:06] patrickvonplaten commented on #93
Yeah we need to figure this out soon!

[2022-07-21 19:07] radames opened #125 "Launch training with accelerate launch arg error"
Launching training with `accelerate launch` raise argument errors

[code]

However, you can still start the training by calling the script with python

[code]

[2022-07-21 19:07] patrickvonplaten commented on #122
Hey @Lyn-Qiu,

How exactly did you install `diffusers` and what command did you use exactly to train the model? It would be great if we could somehow reproduce the error. Also cc @anton-l as it seems related to training

[2022-07-21 19:08] #11 closed

[2022-07-21 19:08] sugatoray opened #126 "Add a `conda` install option for `diffusers`"
It will be helpful to have `diffusers` added `conda-forge` channel and install with conda.

:point_right: I have started the work on it already.

- https://github.com/conda-forge/staged-recipes/pull/19751

Once the PR is merged, the library can be installed as:

[code]

[2022-07-21 19:08] patrickvonplaten commented on #125
@anton-l could you take a look here?

[2022-07-21 19:18] mrm8488 commented on #14
I will open a PR with another notebook

[2022-07-21 19:20] patrickvonplaten commented on #124
Hey @StoneCypher,

That's a very good question and quite important indeed! I'll do my best to answer it here, but @anton-l might have a better answer.

So in short the google colab shows you how to train a simple unconditional diffusion model on any image datasets. All you need are actually images and that's it!

The training script is written in a way that expects you to use the [Datasets library

[2022-07-21 19:21] patrickvonplaten commented on #124
@anton-l we should also try to make the training colab / script a bit easier to adapt to other datasets (with clear comments on how to do so)

[2022-07-21 19:32] patrickvonplaten commented on #124
Let's maybe take the Transformers notebook as an example here: https://github.com/huggingface/transformers/blob/main/examples/pytorch/text-classification/run_glue_no_trainer.py#L53

[2022-07-21 19:43] patrickvonplaten commented on #124
@StoneCypher Let me know if you have more in-detail questions! Happy to help

[2022-07-21 19:44] StoneCypher commented on #124
@patrickvonplaten - Thank you.

[PR to obviate](https://github.com/huggingface/diffusers/pull/127).

[2022-07-21 19:45] #124 closed

[2022-07-22 01:22] Johnson-yue opened #128 "how to conditional diffusion with two classes label"

[2022-07-22 02:52] sugatoray commented on #126
It is available on conda-forge now!

[![Conda Version](https://img.shields.io/conda/vn/conda-forge/diffusers.svg)](https://anaconda.org/conda-forge/diffusers)

[code]

[2022-07-22 11:04] sugatoray commented on #126
Here's the LinkedIn announcement.

- https://www.linkedin.com/posts/sugatoray_conda-python-huggingface-activity-6956191329655672832-6LLp?utm_source=linkedin_share&utm_medium=member_desktop_web

![install_diffusion](https://user-images.githubusercontent.com/10201242/180426383-c8725021-ba41-49f8-b056-bda742bd2515.png)

[2022-07-22 11:11] anton-l commented on #81
@osanseviero very much agree with you here, this is mostly a legacy of transformers code. @patrickvonplaten I've now added default values for these args, so that our training notebook doesn't rely on them, but the code needs a major cleanup still.

I see a couple of ways we can improve it:
* add a `TrainingArguments` class of our own, with default values for hub-related variables.
* try to rewrite

[2022-07-22 11:40] anton-l commented on #122
Hi @Lyn-Qiu! Judging by the stack trace, you're using something other than [`diffusers`](https://pypi.org/project/diffusers/) to run your training script, could this be a typo during installation? :slightly_smiling_face:

[2022-07-22 11:49] anton-l commented on #125
Hi @radames! You need to run `accelerate config` before launching the scripts for the first time, I've added that step to the training README now: https://github.com/huggingface/diffusers/tree/main/examples#installing-the-dependencies
Thanks for reporting!

[2022-07-22 11:49] #125 closed

[2022-07-22 12:08] anton-l commented on #128
Hi @Johnson-yue,
We don't have any examples for class-conditional diffusion just yet, but you already can train your on model for that!

`UNet2DConditionModel`'s `forward()` function exposes an `encoder_hidden_states` parameter:   https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_2d_condition.py#L118
So you can encode the class labels in your preferred way (for example,

[2022-07-22 12:08] #128 closed

[2022-07-22 14:59] radames commented on #125
Thanks @anton-l

[2022-07-24 14:02] osanseviero opened #135 "The model_card_template is not included in the library"
Running the training colab fails when pushing to the Hub with

[code]

Doing
[code]
gives

[code]

~~Iirc, if you want a markdown file to be included you need to have `include_package_data=True` in the `setup.py` file.~~ Actually I see this is actually done :thinking:

cc @anton-l @nateraw

[2022-07-24 14:14] anton-l commented on #135
This wasn't the case with a pip install from git, so something might be missing in our pypi pipeline (maybe `MANIFEST.in` isn't getting picked up?). We'll need @patrickvonplaten to check that

[2022-07-24 14:15] osanseviero commented on #135
I opened a PR :) https://github.com/huggingface/diffusers/pull/136

[2022-07-24 14:22] anton-l commented on #135
@patrickvonplaten could you please check that the file is getting packaged when doing a release?

[2022-07-24 16:57] patrickvonplaten commented on #135
Why do we work here with `MANIFEST.in` in general? Can't we just use a Python file to handle all model card specific logic like we do in `transformers`: https://github.com/huggingface/transformers/blob/main/src/transformers/modelcard.py .

IMO it would be easier for the comunity to just work with a simple Python file. What's the advantage of using the https://github.com/huggingface/diffusers/blob/

[2022-07-25 12:31] anton-l commented on #135
@patrickvonplaten for context: @nateraw is already adding `modelcards` to `hf_hub`, so this was a POC for that integration: https://github.com/huggingface/huggingface_hub/pull/940

[2022-07-25 12:37] osanseviero commented on #135
Note that in `hugginface_hub` jinja will be an optional dependency, not a required install

[2022-07-25 12:46] patrickvonplaten commented on #135
Answered in the thread internally - if we decide to go ahead with `jinja` and the huggingface_hub then happy to keep the same logic here until it's fully available in the hub

[2022-07-26 11:07] skuma307 opened #138 "ImportError: LDMTextToImagePipeline requires the transformers library but it was not found in your environment."
Hi, Thanks for a fantastic model but when I am installing it on Colab, It throws the below error.

`ImportError:
LDMTextToImagePipeline requires the transformers library but it was not found in your environment. You can install it with pip.`

I have installed it via `!pip install diffusers transformers` and I am able to import both the libraries successfully.

Can anyone help me fix the issue?

[2022-07-26 11:37] anton-l commented on #138
Hi @skuma307! Could you try hitting "Restart runtime" in the colab, and re-running `!pip install diffusers transformers` before any imports?

[2022-07-26 18:59] Quasimondo opened #139 "Shouldn't PNDMScheduler have an add_noise() method, too?"
Maybe a naive question, but I was following the tutorial notebooks and was testing to exchange schedulers and noticed that it was missing there but is present in both DDIM and DDPM.

[2022-07-27 13:51] osanseviero commented on #81
Just suggestions from an outsider of the codebase (cc @LysandreJik as well on this)

* To add a `TrainngArguments` class to define how the Hub-behaviour should be 👍
* `push_to_hub` should not accept `args` as a first argument tbh. Essential args such as `hub_model_id`, `dataset`, etc should be passed as explicit params instead. I find it strange that the `Repository` is passed to `push_to_hub`. A

[2022-07-27 15:38] natolambert commented on #139
Hi Quasimondo, I think this is down to the differences between the algorithms. Here are the papers for [DDPM](https://proceedings.neurips.cc/paper/2020/file/4c5bcfec8584af0d967f1ab10179ca4b-Paper.pdf) and [PNDM](https://arxiv.org/pdf/2202.09778.pdf) (you can also find the corresponding code in the top of our files).

I think the TLDR is that DDPM is sampling from a distribution of epsilons, while

[2022-07-27 15:38] #139 closed

[2022-07-27 17:24] Quasimondo opened #141 "Wishlist: example/documentation for fine-tuning or continuing training of a model"
This is more of a newby issue, but I would find it helpful if there was an example showing how to continue training from an existing checkpoint and/or start training a new model from an existing pre-trained model. I guess it is straightforward by loading the state dict of the old model, but maybe there are certain tricks or techniques that involve the scheduler settings or other issues to watch ou

[2022-07-28 08:34] jfdelgad opened #143 "Running difussers with GPU"
Running the example codes i see that the CPU and not the GPU is used, is there a way to use GPU instead

[2022-07-28 14:43] will-rice opened #144 "TensorFlow and Flax/Jax"
Will this library be similar to transformers and include TensorFlow and Flax implementations at some point?

[2022-07-28 14:44] natolambert commented on #143
Can you be more specific? This was not the intent.

Are you looking at this [file](https://github.com/huggingface/diffusers/blob/main/examples/train_unconditional.py) or something different?

[2022-07-28 14:46] natolambert commented on #144
Yes that is on the longer-term road map. Moderate term we want to make the schedulers interface well with `numpy` (which then lets one use their own non-torch models), but making the models all independent is more substantial of an undertaking.

We would happily provide feedback if you want to open a PR!

[2022-07-29 06:09] NeethanShetty opened #145 "Kindly simply training own data"
Hello,
Please try to simplify training dataset of our own. It is taking lot of Time and it is difficult to train using current setup.

[2022-07-29 06:31] jfdelgad commented on #143
Thanks for your reply. I just installed the repo and run the example in the read me. This was ran using the CPU although there is a cuda card present. Is there a documentation page for the repo?

[code]

[2022-07-29 06:52] Quasimondo opened #146 "Wishlist: example for training a superresolution pipeline"

[2022-07-31 07:45] krrishdholakia opened #147 "Image inpainting"
Hi,

2 quick questions around this:

- Is there any colab / guiding doc around leveraging this model for image inpainting?
- Given a source person + t-shirt image, how can i use a guided text prompt (i.e. "show person wearing this t-shirt") to generate an image of the same?

[2022-07-31 08:47] krrishdholakia commented on #147
Did some further research:
- so if i have the cloth mask, cloth image, human image, human image parsed, human pose --> what is a way i can concatenate these together to present the input image to the diffuser model, and have it generate an output and then match that against the expected output?

- ideally, i could just concatenate the cloth image + human image and check output against the expected

[2022-08-01 02:20] taki0112 opened #148 "what's the paper of conditional unet ?"
Hello.

Can you tell me the paper name in [condional_unet architecture](https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_2d_condition.py) ?

I wonder what paper this model structure is based on.
What paper is this model used in?

[2022-08-01 07:53] taki0112 opened #149 "Is this correct ?"
Hello

[L312](https://github.com/huggingface/diffusers/blob/cde0ed162a127b17f1b4d4b16ff7f736cf04e690/src/diffusers/models/resnet.py#L312) in `use_conv=False` is it correct ?

if correct, then this line is same to [`fir=='sde_vp'`](https://github.com/huggingface/diffusers/blob/cde0ed162a127b17f1b4d4b16ff7f736cf04e690/src/diffusers/models/resnet.py#L310).

I think `use_conv=True` is correct..
Also,

[2022-08-02 19:08] prp-e opened #150 "Reading model from a local file"
Greetings.

Consider I have a `model.ckpt` file, and it's trained and saved on my local computer. It's not hosted on huggingface and let's consider it's a little bit confidential and cannot be hosted anywhere. How can I feed it into `from_pretrained()` function?

[2022-08-02 21:12] richardrl opened #151 "Asychronous multiple GPU multiple model training with shared replay buffer"
Let's say we have multiple diffusion models, as in the Cascading diffusion model paper.

Is there an easy way to setup training such that each conditional model is trained simultaneously on different GPUs? What about with a shared replay buffer, that each conditional model can access?

[2022-08-03 10:49] anton-l commented on #93
After a couple of weeks, testing image slices instead of sum+mean has worked well so far, so let's stick to that :slightly_smiling_face:

[2022-08-03 10:49] #93 closed

[2022-08-03 10:50] #114 closed

[2022-08-03 11:04] anton-l commented on #143
Hi @jfdelgad! You can set the pipeline's `torch_device` explicitly like so:
[code]

The docs for `diffusers` are still in progress, but they will be out in the next couple of weeks :)

[2022-08-03 11:10] anton-l commented on #58
Hi @xinmiaolin! We've had to postpone the release of our Glide port to focus on making the library's API more robust, but it will be released in the next major version :)

[2022-08-03 13:28] anton-l commented on #145
Hi @NeethanShetty, thanks for bringing it up!
Now it's possible to use a local image folder to train the model by passing `--train_data_dir <path-to-train-directory>` instead of `--dataset`/`--dataset_name`

Also added a section about using your own data to the README: https://github.com/huggingface/diffusers/tree/main/examples#using-your-own-data

[2022-08-03 13:31] anton-l commented on #149
Hi @taki0112! Pinging @patil-suraj to check, but it's probably a bit of logic that was left for compatibility with future models :)

[2022-08-03 14:07] anton-l commented on #141
Hi @Quasimondo! You're right, simply loading the model as `model.from_pretrained("path")` is enough to start, but we're also working on a fine-tuning tutorial for the new Latent Diffusion models in the next release :)

[2022-08-03 14:20] anton-l commented on #148
Hi @taki0112! Our UNet is based on several implementations listed in the [Credits](https://github.com/huggingface/diffusers#credits). It's highly configurable in order to reproduce and port all kinds of previously published UNets from that list to a single codebase.

[2022-08-03 14:23] anton-l commented on #150
Hi @prp-e! You can load a local model using `from_pretrained("local/path")` if it was previously saved there with `model.save_pretrained("local/path")`.

[2022-08-03 14:29] anton-l commented on #151
Hi @richardrl! For now the easiest way to train a multi-stage pipeline is to run different training scripts for each stage (e.g. train a super-resolution diffusion model just on a dataset of LR-HR images), similar to Glide, Imagen, etc. The augmentations mentioned in the Cascaded Diffusion paper should give a nice boost too.

[2022-08-03 14:46] #126 closed

[2022-08-04 02:02] taki0112 commented on #148
@anton-l Thank you for the comments!

[2022-08-04 02:02] #148 closed

[2022-08-04 04:12] NeethanShetty commented on #145
@anton-l  Thanks for your Response. This idea will definitely help.

[2022-08-04 04:13] NeethanShetty commented on #145
But the time taking for training is very large. Please suggest a better option for it

[2022-08-04 08:56] prp-e commented on #150
Great. I was curious if it is possible to use [multimodalart/majesty-diffusion](https://github.com/multimodalart/majesty-diffusion) with diffusers. I guess it's not possible yet.

[2022-08-04 11:27] anton-l commented on #150
Not yet, but community model contributions are very much welcome! 🤗  cc @apolinario

[2022-08-08 05:23] sameeravithana commented on #141
Hi @anton-l, does the next release contain example training scripts for text-to-image and image-to-text similar to unconditional image generation one?

[2022-08-10 14:20] ethancohen123 opened #163 "Latent diffusion model"
Hi,
Is there a way to make the latent diffusion model able to get the context from any modality (that would be user defined) with a training script associated to this ? (modality as features, text or basically encoder that outpus some latent vector of an other modality )
Let me know if its not clear :)
Thank you !

[2022-08-11 08:22] patil-suraj commented on #163
I haven't played with this myself yet, but I think it should be possible by taking a embeddings form new modality, mapping it to the existing embeddings space with a `head` module and then fine-tune the model using that. There is some relevent work here https://github.com/PITI-Synthesis/PITI which fine-tunes GLIDE to do image-2-image tasks. The same could be applied to latent-diffusion.

Also cc @

[2022-08-11 17:51] vvvm23 opened #166 "Frozen parameters in GaussianFourierProjection"
Hi, just a beginner with diffusion models and have been using your implementations as reference. I have a question about [this class](https://github.com/huggingface/diffusers/blob/3a32b8c916beced18f721f1c95f9cbd6c4c4aacb/src/diffusers/models/embeddings.py#L94)

Why is `requires_grad` set to false in the weight parameter? Won't this mean, during training, the noise level embeddings won't be updated

[2022-08-12 15:00] patil-suraj commented on #166
cc @patrickvonplaten

[2022-08-13 01:33] krrishdholakia commented on #147
hi @anton-l,

just wanted to circle back to this. I'm not sure how i could concat the 2 images and pass that + output through the diffusion model. Curious if you might have any ideas for how to approach this?

cc: @patrickvonplaten, @patil-suraj

[2022-08-13 06:32] RyanCaesarRamos opened #170 "Stable Diffusion v1-3 crashes with TypeError: step() got an unexpected keyword argument 'eta'"
### Describe the bug

When attempting text-to-image synthesis, Stable Diffusion v1-3 crashes with `TypeError: step() got an unexpected keyword argument 'eta'`

EDIT: I didn't realize someone started a [thread](https://huggingface.co/CompVis/stable-diffusion-v1-3-diffusers/discussions/1) about this same bug in the Community tab of the model's HuggingFace page, though there's no discussion there yet

[2022-08-13 07:07] patil-suraj commented on #170
Thanks for reporting, updating `main`  should fix this this. `pip install -U git+https://github.com/huggingface/diffusers.git`

[2022-08-13 07:13] anton-l commented on #147
Hi @krrishdholakia! By setting `in_channels` and `out_channels` in the [UNet configuration](https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_2d.py#L17) you can adapt it to concatenated input and outputs, e.g. in_channels=6 for two concatenated input images.

[2022-08-13 07:53] RyanCaesarRamos commented on #170
Thanks! It worked

[2022-08-13 08:16] hysts opened #172 "Add options to disable/hide progress bar"
**Is your feature request related to a problem? Please describe.**

This is a minor thing, but I find the progress bar annoying when I run inference with pipeline successively.

See this screenshot for example.
<img width="754" src="https://user-images.githubusercontent.com/25161192/184474554-a20cd389-9d11-4a64-bb2a-e03aa0e885a7.png">
In this case, I generated 10 images using DDIMPipeline and used

[2022-08-13 08:54] patil-suraj commented on #172
Thank you for opening the issue. I think it makes sense, the progress bars can be annoying when doing multiple generations.
Think we can allow disabling progress bars. cc @anton-l @patrickvonplaten

[2022-08-13 09:17] #170 closed

[2022-08-13 17:20] LinxiFan opened #173 "[Stable Diffusion] Longer prompt and rectangular image"
Thanks for open-sourcing this great repo! I have been using this code with stable diffusion checkpoints. There are 2 key features that https://github.com/CompVis/stable-diffusion supports, but seem to be missing here:

* Generate rectangular images, which people showcase a lot on the internet.
* Currently the max token length is 77, any way we can make this much longer?

Thanks again!

[2022-08-14 01:04] sam598 opened #174 "Trying to train images from a local folder fails"
### Describe the bug

Following this section of the diffuser's training example:
[code]

Fails with repeated errors while trying to load the dataset:
[code]

The custom imagefolder dataset is 2000 pngs of 128x128 pixels.

Loading and training the `smithsonian_butterflies_subset` works fine. It's when trying to use the imagefolder that things fail.

I've tried going into the advanced system setting

[2022-08-14 01:51] hysts opened #175 "Is the use of `torch.manual_seed` in example training code correct?"
### Describe the bug

https://github.com/huggingface/diffusers/blob/92b6dbba1a25ed27b0bae38b089715132c7e6bcc/examples/train_unconditional.py#L168

This is a minor thing, but I think this should be `torch.Generator().manual_seed(0)`. In my understanding, if `torch.manual_seed` is called, it sets the seed globally and could cause unexpected side effect. I think it's better not to change the global s

[2022-08-14 05:46] jfdelgad opened #176 "Glide pipeline missing"
### Describe the bug

The readme file in pipelines describes glide but the link is broken as glide folder does not exist, was it removed?

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-14 06:16] hysts opened #177 "Add documentation for `subfolder` argument to `ModelMixin.from_pretrained`"
**Is your feature request related to a problem? Please describe.**

The `ModelMixin.from_pretrained` has a keyword argument `subfolder`, but it's not documented in its docstring and it's hard for newcomers to know how to load models from HF Model Hub in case the model is saved with pipeline.

For example, when a DDPM model is trained with using pipeline, the weight will be saved in `<output_dir>/u

[2022-08-14 06:22] krrishdholakia commented on #147
@anton-l How would you calculate loss at the interim stages for this? since you want it to generate a target image different (i.e. person wearing the clothing) from the concatenated images (clothing item + source person image)

[2022-08-14 12:05] patrickvonplaten commented on #177
Thanks a lot for the issue @hysts!

We're actively working on getting the documentation ready - it's indeed an important component that is missing at the moment!
I fully agree that everything regarding `ModelMixin` and `ConfigMixin` has to be better documented :-)

[2022-08-14 12:07] patrickvonplaten commented on #175
Hey @hysts,

In my experience it's fine to do `generator = torch.manual_seed(0)`.

You are correct that this sets the seed globally but the current generator state is kept in `generator`. In `diffusers` we always make sure to allow the user to pass `generator` into any random function which is then advanced when used - I think this behavior is good/fine. Could you give an example where it would be

[2022-08-14 12:08] patrickvonplaten commented on #176
Hey @jfdelgad,

Very True! It should be quite easy to add back into it and would also be a nice occasion to define the super resolution class (cc @anton-l )

I'll change the label to feature request if ok for you :-)

[2022-08-14 12:10] patrickvonplaten commented on #174
@sam598 - is there any way you could use Linux instead? I'm not sure that we can at this stage of the library already support everything in Windows sadly :-/ It's definitely on our long-term roadmap, but we probably won't have the time to test everything on Windows at the moment.

We'd be more than happy about some help from the community though in case you're interested :-)

What do you think @an

[2022-08-14 12:45] patrickvonplaten commented on #173
Hey @LinxiFan,

By

Do you just mean functionality to display the images?
Note that it's pretty trivial to do this with the just merged `StableDiffusionPipeline` (available on master, but we'll make a release tomorrow). You could do the following to display an image (either locally and save it or in a google colab directly):

[code]

Does that answer the first question?

Regarding the second quest

[2022-08-14 12:46] patrickvonplaten commented on #173
Please let me know if this didn't fully answer your questions @LinxiFan !

[2022-08-14 12:58] patil-suraj commented on #173
Note: 77 was not a random number, CLIP has `max_position_embeddings=77`, don't think it can handle more, since it uses absolute pos embeddings.

[2022-08-14 13:02] patrickvonplaten commented on #173
Sorry, @patil-suraj is 100% correct, I was a bit thrown off by a rather unusual (not power of 2) number, like 77 -> but it's indeed the maximum length and it's not possible with the current model to input larger prompts sadly @LinxiFan

Here the proof: https://huggingface.co/openai/clip-vit-base-patch16/blob/main/config.json#L45

[2022-08-14 13:09] sam598 commented on #174
Everything else in the library seems to run fine. `smithsonian_butterflies_subset` downloads and caches without issue, and I am able to train and infer using the diffusers library.

Is there something different about the way the hosted datasets are loaded and prepared compared a local image folder? It appears to try and cache the local image in the same temporary location as the hosted dataset, bu

[2022-08-14 14:13] hysts commented on #175
Hi, @patrickvonplaten Thanks for the reply.

In the training loop, `noise` and `timesteps` are sampled with global seed.
https://github.com/huggingface/diffusers/blob/92b6dbba1a25ed27b0bae38b089715132c7e6bcc/examples/train_unconditional.py#L125-L130
So every time this condition
https://github.com/huggingface/diffusers/blob/92b6dbba1a25ed27b0bae38b089715132c7e6bcc/examples/train_unconditional.py#L1

[2022-08-14 15:37] hysts commented on #175
Let me add a concrete toy example.

1. In the case without val:
[code]
Output:
[code]

2. When using `torch.Generator().manual_seed` in val:
[code]
Output:
[code]
Here, you can see the val tensors are fixed and the train tensors are the same as the no val case.

3. When using `torch.manual_seed` in val:
[code]
Output:
[code]
Here, the val tensors are fixed, but train tensors are different from the

[2022-08-14 16:57] pcuenca opened #180 "`AutoencoderKL.encode` returns diagonal Gaussian instead of hidden states"
This is mostly a question.

I find it a little weird that the output of `encode` in `AutoencoderKL` is the diagonal Gaussian distribution from which the hidden states are obtained, instead of the hidden states themselves: https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/vae.py#L436. Instead, the hidden states are retrieved during the `forward` call.

This breaks the assumpti

[2022-08-14 20:27] LinxiFan commented on #173
Hi, thanks for getting back to me!

Regarding rectangular image: no, it isn't about display. The original compvis repo (https://github.com/CompVis/stable-diffusion) script can take `H` and `W` as generation parameters, so the algorithm can produce a non-square image (such as https://www.reddit.com/r/StableDiffusion/comments/wo3wm3/jazz_robots/).

Regarding the prompt length - the above compvis rep

[2022-08-14 20:53] patrickvonplaten commented on #173
Hey @LinxiFan,

It seems like the original CompVis repo simply truncates longer inputs lengths to the max length which is 77 (check [here](https://github.com/CompVis/stable-diffusion/blob/3fbbf28a8a66d6f0ffcaca43a76521b6d9b5bfb3/ldm/modules/encoders/modules.py#L153)), this is the same we've now implemented in the stable diffusion pipeline, see [here](https://github.com/huggingface/diffusers/blob/c

[2022-08-14 20:54] patrickvonplaten commented on #173
Regarding the rectangular image - sorry I misunderstood! This is indeed a functionality we have not yet implemented in the `StableDiffusionPipeline`!

@anton-l @patil-suraj - let's implement it as well? (see: https://github.com/CompVis/stable-diffusion/blob/3fbbf28a8a66d6f0ffcaca43a76521b6d9b5bfb3/scripts/txt2img.py#L221)

[2022-08-14 20:55] patrickvonplaten commented on #173
Already on it seems :heart_eyes: https://github.com/huggingface/diffusers/pull/179

[2022-08-15 06:33] patil-suraj commented on #173
#179 is merged, you can now pass the `height` and `width` options to `StableDiffusionPipeline`.

[code]

[2022-08-15 14:07] sam598 opened #181 "train_unconditional.py fails on writing image"
### Describe the bug

After the first epoch `train_unconditional.py` attempts to write an image and fails.
[code]

Here is an example of the command used:
`accelerate launch ./diffusers/examples/train_unconditional.py --train_data_dir="./CustomImages" --resolution=128 --output_dir="CustomDiffusion" --train_batch_size=4 --num_epochs=120 --gradient_accumulation_steps=1 --learning_rate=1e-4 --lr_warm

[2022-08-15 15:52] anton-l commented on #181
Hi @sam598! Do you have `tensorboard` installed? Check with `python -c 'import tensorboard as tb; print(tb.__version__)'`
If not, running `pip install diffusers[training]` should install the necessary dependencies and hopefully resolve your issue :slightly_smiling_face:

[2022-08-15 17:27] jfdelgad commented on #143
The issue seems to have been on my machine, it works well now.

[2022-08-15 17:27] #143 closed

[2022-08-15 17:44] jfdelgad commented on #173
This code throws an error in line:

`pipe = StableDiffusionPipeline.from_pretrained("CompVis/stable-diffusion-v1-1-diffusers", use_auth_token=True)`  # make sure you're logged in with `huggingface-cli login`

I am guessing is related to the autorization to access to `CompVis/stable-diffusion-v1-1-diffusers` what do you mean by
 "make sure you're logged in with `huggingface-cli login"

[2022-08-16 08:15] patrickvonplaten commented on #175
Hey @hysts,

Thanks a lot for the great write-up! This makes sense to me and I think we should change it - @anton-l could you take a look here?

[2022-08-16 08:16] patrickvonplaten commented on #175
Additionally, we can also better set the device using:

[code]

[2022-08-16 08:16] patrickvonplaten commented on #175
Let's maybe fix this everywhere

[2022-08-16 08:41] sean-halpin commented on #128
@anton-l Even though it is possible to provide the `encoder_hidden_states` while training, the `DDPMPipeline` has no mechanism to provide `encoder_hidden_states` during inference.

[2022-08-16 09:13] patrickvonplaten opened #183 "Allow non-default schedulers to be easily swapped into `DiffusionPipeline` classes"
**Is your feature request related to a problem? Please describe.**

By default the stable diffusion pipeline uses the PNDM scheduler, but one could easily use other schedulers (we only need to overwrite the `self.scheduler`) attribute.

This can be done with the following code-snippet:

[code]

Now, that's a bit hacky and not the way we want users to do it ideally!

**Describe the solution you'd l

[2022-08-16 09:14] patrickvonplaten commented on #183
Anybody keen on taking this one? Should be rather easy

[2022-08-16 09:16] patrickvonplaten opened #184 "Split `tests_modeling_utils`"
The function https://github.com/huggingface/diffusers/blob/main/tests/test_modeling_utils.py becomes too long which makes it a bit cumbersome to only test part of the code.

We should at least move all the pipeline tests into a new class and probably also also move the individual model testing classes, such as https://github.com/huggingface/diffusers/blob/051b34635fda2fc310898a6a602c89be8663b77f/t

[2022-08-16 11:25] mariosasko commented on #174
Hi! Could you please paste the entire error stack trace? This looks like a `torch`-related issue even though we don't use `torch` in the `imagefolder` loader.

[2022-08-16 13:02] patil-suraj commented on #183
I like this solution, much cleaner! But I have one concern, this solution doesn't really swap the scheduler if I understand it correctly. It rather initilizes the whole pipeline again, which is a bit slow. By swapping I would expect to just swap the scheduler while keeping everything else in-place.

Should we maybe add some method called `pipeline.set_scheduler`, which will only swap the scheduler

[2022-08-16 13:24] patrickvonplaten commented on #183
@patil-suraj nono it shouldn't init the pipeline again - if implemented correctly there is no need to re-initialize anything.
I'm not in favor of a `set_scheduler` method as this opens the door for many problems (e.g. we would adapt the `model_index` config after init which is not a good idea IMO

[2022-08-16 13:30] patil-suraj commented on #183
Thanks for clarifying, if we don't need to  re-initialize anything then let's go with it !

[2022-08-16 14:46] atarashansky opened #189 "Question about PR #185"
Is it possible to use the K-LMS scheduler using the stable diffusion snapshot loaded with `from_pretrained`?

Thanks~

[2022-08-16 15:24] patrickvonplaten commented on #189
yes :-) We're cooking up a release now and will show exactly this use case in the release notes

[2022-08-16 15:26] atarashansky commented on #189
Ah, for those who can't wait to try this out, I just saw this in the test function that was added (Just need to overwrite the scheduler used in the snapshot):
[code]

[2022-08-16 15:26] #189 closed

[2022-08-16 15:29] atarashansky commented on #189
Alternatively, from the WIP README:

[code]

[2022-08-16 19:20] pcuenca commented on #183
I think @patil-suraj might be referring to a specialized use case where someone would want to experiment with different schedulers in the same session. So they'd create a pipeline with the default scheduler, and then they'd need to create a new pipeline with a different scheduler. Is this something worthwhile doing, especially given the can of worms @patrickvonplaten mentioned?

[2022-08-17 05:43] taki0112 commented on #173
<img width="1601" alt="image" src="https://user-images.githubusercontent.com/26713992/185043404-3cf3ed62-1458-4dae-9cda-06abe887b51b.png">
I got this error.. how to solve it ?

[2022-08-17 07:04] Jpbonino commented on #183
good morning friends, sorryx my ignorance, but I am getting an error in the HF pipeline route and I honestly don't know what commands I should write in colab, thank you very much.

[2022-08-17 07:34] patil-suraj commented on #183
Hi @Jpbonino , could you open a different issue and post the code-snippet and the error that you are having ?

[2022-08-17 07:44] Jpbonino opened #193 "Pipeline error"
### Describe the bug

I am copying some code from Patrick but I keep getting errors, here I copy

[code]
**Error**:
[code]

THANKS !
jp

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-17 07:58] Jpbonino commented on #183
done @patil-suraj https://github.com/huggingface/diffusers/issues/193

[2022-08-17 08:13] patil-suraj commented on #193
Hi @Jpbonino ! Do you have access to the weights ? The weights are not fully public yet and are only available to researchers upon request. You need feel [this form](https://stability.ai/academia-access-form) to request access. If you don't have access to the weights, then just wait few more days the models will be made public soon.

If you already have access then make sure you login to the hub u

[2022-08-17 08:13] pcuenca opened #195 "Implement `pipeline.to(device)`"
Currently, pipeline modules are moved to the preferred compute device during `__call__`. This is reasonable, as they stay there as long as the user keeps passing the same `torch_device` across calls.

However, in multi-GPU model-serving scenarios, it could be useful to move each pipeline to a dedicated device during or immediately after instantiation. This would make it possible to create, say, 8

[2022-08-17 08:21] patrickvonplaten commented on #195
Sounds good to me! +1 to add such a `.to(...)` function to the `DiffusionPipeline` class.

What do you think @anton-l @patil-suraj ?

[2022-08-17 08:23] anton-l commented on #195
Works for me, nice and intuitive :)

[2022-08-17 08:42] patil-suraj commented on #195
+1, let's go for it!

[2022-08-17 09:20] patil-suraj commented on #195
@pcuenca do you wanna take a stab at it ? Otherwise happy to work on it, if you are busy :)

[2022-08-17 09:31] patrickvonplaten opened #197 "Resnet - Delete dead code"
There is a lot of dead
code in the file: https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/resnet.py which should be cleaned up, namely:

- Pretty much all code after: https://github.com/huggingface/diffusers/blob/80e0c8ba9ebd7b3ddd82f3e443715d4e7f08f2bb/src/diffusers/models/resnet.py#L389
- All `set_weights` functions

Someone keen on taking this? @anton-l maybe?

[2022-08-17 09:34] patrickvonplaten opened #198 "Rename variables from single letter to better naming"
Pretty much all code in https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/resnet.py still corresponds to the copy-pasted version from the beginning.

While weight names shouldn't be renamed, we should rename all single letter variables to more explicit variable naming. E.g. `h` -> `hidden_states`.

Single letter variables are hard to deal with as search and replace doesn't wo

[2022-08-17 09:38] patrickvonplaten commented on #198
Also maybe @anton-l ?

[2022-08-17 09:43] patrickvonplaten opened #199 "Attention - Delete dead code"
The attention file: https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/attention.py also contains still quite some dead code that we should clean up.

This class is never used and should be deleted
https://github.com/huggingface/diffusers/blob/80e0c8ba9ebd7b3ddd82f3e443715d4e7f08f2bb/src/diffusers/models/attention.py#L304

The `AttentionBlockNew` class should probs be renamed

[2022-08-17 09:46] patrickvonplaten opened #200 "[Test] Test the resnet class"
We should write tests for the resnet class: https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/resnet.py

[2022-08-17 09:47] patrickvonplaten opened #201 "[Tests] Test attention class"
Test attention class: https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/attention.py

We should test this class well

[2022-08-17 09:48] patrickvonplaten opened #202 "[Test] Add tests for unet_blocks file"
https://github.com/huggingface/diffusers/blob/main/src/diffusers/models/unet_blocks.py needs tests

[2022-08-17 11:10] pcuenca commented on #195
@patil-suraj happy to take it! I'll do it after making some progress on the backend, unless it's urgent. I think I'd be ready to work on this later today or tomorrow, would that be ok?

[2022-08-17 12:31] anton-l commented on #173
Hi @jfdelgad and @taki0112! To log in from a colab notebook, it's enough to simply run `!huggingface-cli login` and paste your API token from https://huggingface.co/settings/tokens into the field that appears below:
![image](https://user-images.githubusercontent.com/26864830/185118589-ef49908f-0221-4cda-b7ba-db1b10395414.png)

A more notebook-friendly login interface is also supported:
[code]

The

[2022-08-17 16:25] patrickvonplaten opened #205 "Add noise interpolation and text intertpolation scripts to examples"
Noise and text embedding interpolation scripts like @karpathy's [stable-diffusion-walk](https://gist.github.com/karpathy/00103b0037c5aaea32fe1da1af553355) are very nice to make artistic designs / videos and are relatively easy to add. We could add them under https://github.com/huggingface/diffusers/tree/main/examples to make it more available to the community

[2022-08-18 10:08] pcuenca opened #208 "Pipeline: obtain per-image reproducibility seeds when generating multiple images"
People are interested in the following workflow: generate a few images from a prompt, select the one you like and tweak the prompt to steer it towards your goal. There are many examples in Twitter and the Discord bot, see context section below.

I managed to replicate this workflow in a demo Space generating one image at a time, and manually setting the seed before each generation. This is sub-opt

[2022-08-18 10:27] antival3nt commented on #198
Hi there.
I'll probably have a look at this and #199 too :)

[2022-08-18 13:03] anton-l commented on #208
This would be a cool feature indeed!
Since `torch.Generator()` operates with `ByteTensor` `get_state()` and `set_state()`, for this we might need to replace the `pipe(generator)` argument with just an integer seed, like we've discussed earlier with @patil-suraj @patrickvonplaten

[2022-08-18 13:07] pcuenca opened #211 "Exception raised in `LDMTextToImagePipeline`"
### Describe the bug

Invoking a LDMTextToImagePipeline loaded from model `CompVis/ldm-text2im-large-256` results in an exception, in the current `main` branch.

I haven't checked the code yet, maybe I'm using the wrong model.

### Reproduction

[code]

### Logs

[code]

### System Info

[code]

[2022-08-18 14:21] anton-l commented on #211
@pcuenca good catch! Running `pipe(prompt_str)` instead of `pipe([prompt_str])` is a recent feature and our tests didn't have coverage of that, I'll push a fix asap :)
cc @patil-suraj

[2022-08-18 15:07] pcuenca commented on #211
Ah, makes sense!

[2022-08-18 15:14] spychiatrist commented on #208
Coming here from the HuggingFace comments.  I've implemented a simple workaround for the non-determinism: sequential seeding (for n_iter) now with sub-seed offset (for n_samples).  One new parameter `--seed_offset` allows you to deterministically shift which sample-subseed is selected.

Here's an example of deterministically shifting down and right in the matrix (previously impossible):

|  | `--n

[2022-08-18 15:55] #211 closed

[2022-08-18 18:12] ydshieh commented on #200
@patrickvonplaten Do you have any thought on what the test should look like. It contains building blocks, unlike what we have in `transformers` (where we test the tope level **models**).

I guess we can test what have been imported in other model files that are used as models in diffusion process.

[2022-08-18 18:31] ydshieh commented on #197
I can take it as a first step, but wondering where do these `set_weight` come from? Copied from the official implementation?

[2022-08-19 01:55] kennethgoodman opened #215 ""Killed" without error during "from_pretrained""
### Describe the bug

While running:
[code]

No error at all just "Killed" gets outputted and then python is exited

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-19 02:00] atarashansky opened #216 "Porting `img2img.py` from SD into the diffusers library"
The [image-to-image script](https://github.com/CompVis/stable-diffusion/blob/main/scripts/img2img.py) in stable-diffusion is a very nice tool for modifying images.

Their implementation seems relatively straightforward, though they have only implemented it for the DDIM scheduler. I took a crack at porting it over into the diffusers library but have not quite been able to replicate the behavior (lo

[2022-08-19 02:02] atarashansky commented on #208
@spychiatrist Not a hugging-face dev, but would love to see a PR for this in the base repo.

[2022-08-19 07:50] ydshieh commented on #215
This generally means the memory is not enough. Could you try with a VM with larger amount of RAM?
(I don't know how much is required by this model though)

[2022-08-19 09:18] patrickvonplaten commented on #208
That's a smart idea with `seed_offset` @spychiatrist !
I see the need and the problem, also in favor of finding a good solution here!

To narrow down the problem here a bit more:

1.
If I take a seed=0 (or a generator state, IMO it doesn't really matter) and I generate gaussian noise of size (4,3), then there is IMO no way to generate gaussian noise of size (1,3) afterwards that corresponds to the

[2022-08-19 09:37] patrickvonplaten commented on #197
the `set_weight` come purely from me - I used it to convert checkpoitns on the fly, but we don't need them anymore at all

[2022-08-19 09:38] patrickvonplaten commented on #200
IMO, lots of shape tests and some hardcoded integration tests with random weights for the different configurations.

Maybe @anton-l and @patil-suraj have some nice ideas here as well :-)

[2022-08-19 09:39] patrickvonplaten commented on #198
That would be great @antival3nt :heart_eyes:

[2022-08-19 14:30] anton-l commented on #216
Thank you for exploring @atarashansky! We'll try to implement an img2img pipeline in the next couple of days, happy to compare notes!

[2022-08-19 16:39] #195 closed

[2022-08-20 02:56] atarashansky commented on #216
**Does the diffusers library currently support "forward" diffusion?**

I started from scratch and got image-to-image translation to work in the following test case:
 - Imagine I wanted to use a stable diffusion output as the initial image. The output was generated from `prompt=A`
 - The target image has `prompt=B`
 - Let `strength` be in the range `[0,num_inference_steps]`. `strength=0` means the

[2022-08-20 05:01] dblunk88 opened #221 "Add safety check usage in the readme"
It seems like a safety check is now required for stable diffusion. Could update the readme with a proper example on how to establish the pipeline? The current example is now outdated

[2022-08-20 10:05] anton-l commented on #221
Hi @dblunk88! The current `main` branch is not compatible with the checkpoint yet, as the final safety weights will only be released in a couple of days. Please install the latest PyPi release instead until then:
`pip install diffusers transformers`

[2022-08-20 16:15] unography commented on #216
@anton-l is a training pipeline planned as well for img2img? And apart from stable diffusion, is it possible to add img2img training for current ddpm models? like the superresolution examples in the original repo?

[2022-08-20 17:35] AI-Guru opened #222 "Training not working because of RuntimeError"
### Describe the bug

Hi,

unfortunately, I could not run the training due to an error in the scheduler.

Below you will find the error log.

Best,
Tristan

### Reproduction

[code]

### Logs

[code]
[code]

[2022-08-20 18:30] pcuenca commented on #222
Hi Tristan!

Unfortunately I'm unable to replicate this problem. Do you remember if you installed `diffusers` using pip, or if you downloaded a specific version from github? If you don't and wouldn't mind sharing the output from `pip freeze`, that would be helpful too. Also, can you try to launch training without `accelerate`, just to see if it's a factor? You need to use the same command you past

[2022-08-20 18:51] AI-Guru commented on #222
Thanks! Thanks for your time!

Looking at the error message, I get the impression that it could be a cuda vs cpu issue.

I ran the script with python. The error is the same.

I deinstalled diffusers and reinstalled it like this:

[code]

This did not help.

Here is the pip freeze:

[code]

[2022-08-20 19:42] pcuenca commented on #222
Hi Tristan,

It looks like you are using a nightly version of PyTorch, instead of a release one. I installed one in my system and got the same error as you. However, uninstalling it and reinstalling the stable version worked fine for me. Unless you need some new features of the nightly version, I recommend you do the same.

You can get the install command for your system from https://pytorch.org/g

[2022-08-21 07:02] AI-Guru commented on #222
Thanks a lot! That really did the trick! You are the best!

[2022-08-21 07:03] #222 closed

[2022-08-22 09:07] leszekhanusz opened #228 "stable-diffusion-v1-4 link in release v0.2.3 is broken"
### Describe the bug

@anton-l  the link (https://huggingface.co/CompVis/stable-diffusion-v1-4) in the [release v0.2.3](https://github.com/huggingface/diffusers/releases/tag/v0.2.3) returns a 404.

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-22 09:25] leszekhanusz commented on #228
It seems the repo is still private:

[code]

[2022-08-22 09:53] rolux opened #229 ""Safety Module" will be used to *create* NSFW images"
### Describe the bug

You have added a "Safety Module" that returns black images for NSFW content.

https://github.com/huggingface/diffusers/commit/65ea7d6b628d9b4c0fedf59bb59e7e57c88a44ff

It is obvious that this classifier will be used for a different purpose. It is trivial to change the module so that Stable Diffusion *only* outputs NSFW images.

Unless you're sure this is a good idea, I would

[2022-08-22 10:01] anton-l commented on #228
@leszekhanusz we're slightly ahead of schedule, the model repositories will be made public later today :)

[2022-08-22 10:08] TingTingin commented on #228
do you have a scheduled time?

[2022-08-22 10:11] loopyd commented on #228
Looking forward to it.  Thanks so much everyone for doing this!  This is going to change the way the world creates once more!!! -- saber7ooth#7527  💖

[2022-08-22 10:44] hlky commented on #228
good morning ser

please redeem model now :)

[2022-08-22 11:49] m-hammad-khan commented on #228
Any update on when will you guys release the model?

[2022-08-22 15:32] furmanlukasz commented on #228
Does the same apply to license acceptance? Many people get 404 even though they are logged in on both github and hugginface. Is there a special procedure for linking both accounts?

[2022-08-22 15:53] rolux commented on #229
@atarashansky: Yes, I am aware of how the safety checker works. And I agree, people are able to make their own judgements about what is NSFW and what is not. This safety module, however, can trivially be altered to intake large amounts of SD generated images and output only the NSFW ones, without human intervention.

[2022-08-22 19:21] natolambert commented on #228
Should all be visible now. Feel free to re-open if not the case.

[2022-08-22 19:21] #228 closed

[2022-08-22 19:23] leszekhanusz commented on #228
:fire: :fire: :rocket: :rocket: IT'S NOW AVAILABLE :fire: :fire: :rocket: :rocket:

Thank you!

Code used to test:

[code]

[2022-08-22 20:09] anton-l commented on #221
The latest release and checkpoints are fully in sync now! 🎉

[2022-08-22 20:09] #221 closed

[2022-08-22 20:44] leszekhanusz opened #232 "Working offline once the models have been downloaded"
I thought that once the models had been downloaded once, they would be cached and it would be possible to use it offline.

Using  [this code](https://github.com/huggingface/diffusers/issues/228#issuecomment-1222813519), you need to have internet working at the beginning of the program.

Once it runs, internet is no more needed and you can generate images locally.

If you're not online at the start

[2022-08-22 20:48] Dufftwt commented on #228
Hey! I'm looking to get the ckpt file, since I don't want to use the diffusers library. Anyone has got it? I thought the weights were open.

[2022-08-22 20:49] m-hammad-khan commented on #228
-original versions repos have ckpt files IIRC.

[2022-08-22 20:53] Dufftwt commented on #228
@m-hammad-khan Thanks a lot!! It was not clear to me. Really, thanks.

[2022-08-22 21:13] meson800 commented on #232
Due to the HPC that I"m using, I want to do the same thing. `snapshot_download` will [properly download into a cache folder](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/_snapshot_download.py#L20) and [returns that folder](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/_snapshot_download.py#L157). It looks like we should be able to pass

[2022-08-22 21:26] leszekhanusz commented on #232
@meson800 Thanks, it works without internet with `local_files_only = True`

[2022-08-22 21:26] #232 closed

[2022-08-22 23:04] gordicaleksa opened #233 "How do you verify that integration is equivalent to original Stable Diffusion?"
Hi there HF folks!

Potentially silly question, but I went through the [commit history](https://github.com/huggingface/diffusers/commits/71ba8aec55b52a7ba5a1ff1db1265ffdd3c65ea2/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py) behind the stable diffusion integration and I'm wondering: how do you make sure that you keep the equivalence with the original code?

Obviously the we

[2022-08-23 00:01] singularperturbation opened #234 "Stable Diffusion pipeline doesn't run with half-precision"
### Describe the bug

As of the 0.2.4 release, the StableDiffusion pipeline doesn't seem to work with the half-precision "fp16" weights and `torch_dtype=torch.float16`.   I think it's due to [this line](https://github.com/huggingface/diffusers/blob/051b34635fda2fc310898a6a602c89be8663b77f/src/diffusers/models/embeddings.py#L35) in `get_timestep_embedding`, but trying to fix this locally kind of op

[2022-08-23 00:44] RedTachyon commented on #234
That seems odd, since there's the official colab which uses f16 and definitely does work. Maybe you have some issue with your local setup?

[2022-08-23 00:52] singularperturbation commented on #234
I've tested locally and on colab with the min reprex ^^^ :thinking:

I'll test with the official notebook

One difference I notice is that they're using the "autocast" context manager:
[code]

[2022-08-23 01:06] RedTachyon commented on #234
Right, so autocast is probably your answer

[2022-08-23 01:28] TheOneTrueGuy opened #235 "trouble with cuda when porting colab script to standalone python"
### Describe the bug

I'm trying to write a minimal standalone python script based from the colab code.
After correctly installing all packages and setting up my huggingface token it fails upon run time. Pretty sure I haven't left anything out and the exact same code verbatim runs in colab concurrently.

### Reproduction

script: https://github.com/TheOneTrueGuy/StableDiffTry/blob/main/try.py
![tr

[2022-08-23 03:08] singularperturbation commented on #234
Yes, I tested on colab and it works as long as using that context manager!  I get a CUDA error when using that locally, but that's using CUDA 11.7 so I think an error with my setup.

[2022-08-23 03:08] #234 closed

[2022-08-23 05:10] mallorbc commented on #229
How does the filter even work?

We have the clip model and a linear projection layer here to project onto
[code]
We have two matrices defined here filled with ones
[code]
We then take the ClipFeature embeddings from the generated image and put them through the ClipVisionModel and then linear project them.

[code]
The rest of the algorithm relies on the values calculated with cosine similarity with

[2022-08-23 06:38] #197 closed

[2022-08-23 08:06] patil-suraj commented on #233
Hey @gordicaleksa !

To test the equivalence, we first tested the individual models like the unet and vae to see if the forward pass of both the version match upto a certain tolerance (1e-3 or 1e-4).

To test the pipelines, we run the original `text2img.py` script and then also run the `StableDiffusionPipeline` with the same inputs and compare if the results match. We have added integration tests

[2022-08-23 08:29] patrickvonplaten commented on #233
@gordicaleksa If you run the code of #182 you can see that output images are identical for both PNDM (PLMS) and DDIM

[2022-08-23 08:29] gordicaleksa commented on #233
Hi @patil-suraj!

Thanks for the quick reply, I see, makes sense, cool!

Maybe a small nit: I see you're testing the v1 version but v4 is what most people will end up using.
Could potentially matter. :)

[2022-08-23 08:29] gordicaleksa commented on #233
Thanks @patrickvonplaten!

[2022-08-23 08:32] patrickvonplaten commented on #233
We've tested the `v1-3` version :-) But there is no reason that v1-4 would give different results given that it's 1-to-1 the same model architecture

[2022-08-23 08:34] gordicaleksa commented on #233
Hm, I saw v1 in the integration tests [here](https://github.com/huggingface/diffusers/blob/main/tests/test_modeling_utils.py#L869).

Yup yup makes sense :)

[2022-08-23 12:28] patrickvonplaten commented on #172
Yes agree! I'd be in favor of adding a function for this I think (`dis/enable_progress_bar(...)`)

[2022-08-23 12:32] patrickvonplaten commented on #172
@hysts would you like to try to make a PR for it? Think we could just just change:
[code]

with:

[code]

and then have a function in general Pipelines that does:

[code]

And then we just need a enable and disable function :-)

[2022-08-23 12:32] patrickvonplaten commented on #172
Also cc @pcuenca @ydshieh in case you would be interested in taking a look here :-)

[2022-08-23 12:34] patrickvonplaten commented on #166
Hey @vvvm23,

It's set to False because we don't want to train those parameters. I followed the implementaton of the original model here: https://github.com/yang-song/score_sde_pytorch/blob/1618ddea340f3e4a2ed7852a0694a809775cf8d0/models/layerspp.py#L37

Does this make sense?

[2022-08-23 12:35] patrickvonplaten commented on #81
Agree with @osanseviero here mostly

[2022-08-23 12:36] patrickvonplaten commented on #122
Hey @Lyn-Qiu,

Sorry we need better error messages here to understand what's going on - is this related to `diffusers`?
Sorry I'm not really following the problem here

[2022-08-23 12:37] patrickvonplaten commented on #173
I think we can close this issue no since #179 is merged

[2022-08-23 12:37] #173 closed

[2022-08-23 12:38] patrickvonplaten commented on #208
@anton-l @patil-suraj what do you think here? IMO, let's just add `latents` as an argument to the pipeline no?

[2022-08-23 12:44] patrickvonplaten commented on #235
Hey @TheOneTrueGuy,

This looks like a PyTorch/CUDA error see: https://stackoverflow.com/questions/61473330/cuda-error-cublas-status-alloc-failed-when-calling-cublascreatehandle

I'd suggest to do the following:

1. Verify that the code works on CPU by running:
[code]

Once that works, can you please try again running it on GPU? Also if you have a link to the google colab that fails that would be

[2022-08-23 13:07] pcuenca commented on #208
I'm exploring something else in a custom pipeline: pass an array of seeds that defaults to `None`. I can submit a PR for discussion.

[2022-08-23 14:28] andydhancock opened #239 "indices should be either on cpu or on the same device as the indexed tensor (cpu)"
### Describe the bug

image_to_image.py line 92 throws the error above.

      `  init_latents = self.scheduler.add_noise(init_latents, noise, timesteps)`

I've tried adding .to(self.device) to the 3 parameters.
Device should be 'cuda' though.

### Reproduction

[code]

### Logs

_No response_

### System Info

[code]

[2022-08-23 15:16] patrickvonplaten commented on #36
Hey,

Hmm if it requires major code additions, it might be a bit too early to add to the library at this stage. Happy to help if you're interested in adding some code though!

[2022-08-23 15:41] ydshieh commented on #172
I can take this as an exercise for using `tqdm`, unless @hysts would like to make a PR.

[2022-08-23 20:03] NielsRogge commented on #216
This seems available now here: https://github.com/huggingface/diffusers/tree/main/examples/inference#image-to-image-text-guided-generation-with-stable-diffusion

cc @patil-suraj

[2022-08-23 20:04] NielsRogge commented on #216
This seems now available here: https://github.com/huggingface/diffusers/tree/main/examples/inference#image-to-image-text-guided-generation-with-stable-diffusion

cc @patil-suraj

[2022-08-23 20:56] leszekhanusz commented on #208
So, using the same seed using either diffusers or directly the stable-diffusion library will generate different pictures?

[2022-08-23 22:48] hysts commented on #172
Sure. I'll look into it and make a PR.

[2022-08-24 06:31] patrickvonplaten commented on #239
@patil-suraj could you take a look here?

[2022-08-24 06:39] rolux commented on #229
Given that Stable Diffusion struggles with human anatomy, and the "safety module" flags mostly false positives anyway, it's probably not such a big concern.

[2022-08-24 06:39] #229 closed

[2022-08-24 11:27] #184 closed

[2022-08-24 11:39] anton-l commented on #216
Correct, the `img2img` pipeline is now available via `examples`!
https://github.com/huggingface/diffusers/tree/main/examples/inference#image-to-image-text-guided-generation-with-stable-diffusion

[2022-08-24 11:39] #216 closed

[2022-08-24 13:01] hysts opened #244 "Add information for contributors on how to apply code formatter"
**Is your feature request related to a problem? Please describe.**

I don't know how we are supposed to apply code formatters. I found settings for `black`, `isort` and `flake8` in `pyproject.toml` and `setup.cfg`, but it doesn't seem to be used. When I apply `isort` to the `main` branch, it changes codes. I think code formatters are not applied properly.

**Describe the solution you'd like**

It'

[2022-08-24 13:13] anton-l commented on #244
Hi @hysts, we're working on a `CONTRIBUTING.md` guide at the moment, but until then you can apply the style changes by running `make style` from the repo's root, and `make quality` for other checks.

[2022-08-24 13:34] hysts commented on #244
Hi, @anton-l
I see. Thanks.
BTW, I just noticed that the `scripts` directory is not included in `check_dirs`, but is this intended? I'm wondering why it's excluded.
https://github.com/huggingface/diffusers/blob/47893164ab569ff5f6bd142896195051f9ffb200/Makefile#L6

[2022-08-24 17:53] patrickvonplaten commented on #163
Sounds like a cool idea @ethancohen123! @anton-l if we have a text2image fine-tuning / training script it would be quite trivial to experiment with such ideas in `diffusers`

[2022-08-24 21:51] loretoparisi opened #246 "AttributeError: module transformers has no attribute FeatureExtractionMixin"
### Describe the bug

Getting the error

[code]

when running the example script provided for StableDiffusio v1.3:
https://huggingface.co/CompVis/stable-diffusion-v1-3

### Reproduction

[code]

requirements.txt:
[code]

### Logs

[code]

### System Info

[code]

[2022-08-24 22:43] hysts commented on #246
Hi, @loretoparisi I think installing `transformers>=4.17.0` would solve the problem.

[2022-08-25 09:25] andydhancock commented on #239
Solved:
Maybe I should listen to the error message sometime.. it should all be cpu
`init_latents = self.scheduler.add_noise(init_latents, noise, timesteps)`
becomes
`init_latents = self.scheduler.add_noise(init_latents, noise, timesteps.cpu())`
and all is well.

[2022-08-25 10:06] loretoparisi commented on #239
Is `.to(device)` not supported for `timesteps` then?

[2022-08-25 10:16] blefaudeux opened #248 "fix off by one in the mask pyramids"

[2022-08-25 10:16] #248 closed

[2022-08-25 10:43] anton-l commented on #244
@hysts the `scripts` folder was intended for quick experiments and debugging scripts at first, but I think we can add it too at this point. I'll open a quick PR for that :)

[2022-08-25 10:51] andydhancock commented on #239
I think it was supported but 'device' was cuda, and it's trying to do something with numpy which uses cpu

[2022-08-25 13:14] anton-l commented on #246
Indeed, `FeatureExtractionMixin` is implemented in `transformers>=4.17.0`, installing a newer version should fix the issue.
@loretoparisi feel free to reopen if it doesn't help :)

[2022-08-25 13:14] #246 closed

[2022-08-25 14:42] rseger opened #251 "Extreme fragility in latents distribution (solid color image results)"
### Describe the bug

To reproduce, one can replace lines 102-106 of [stable diffusers pipeline](https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py) with a tensor of non-noise data.

More succinctly, this works as expected (hard coding the defaults)
`latents = torch.randn((1, 4, 64, 64)).to(device="cuda")`

But this fails to a s

[2022-08-25 15:33] pcuenca commented on #208
Fixed in #247.

[2022-08-25 15:33] #208 closed

[2022-08-25 15:54] anton-l commented on #199
Resolved in https://github.com/huggingface/diffusers/pull/245

[2022-08-26 09:17] vvvm23 commented on #166
Hi @patrickvonplaten

I somewhat misphrased my original question, I'm aware setting `requires_grad` to `False` prevents that particular parameter from accumulating gradients, essentially stopping the training of those parameters.

But why would we not want to train the noise level embeddings? Or is this just a simple, fixed (albeit randomly initialised) projection from a per-batch noise value to a

[2022-08-26 10:29] patil-suraj commented on #251
Hey @rseger , I'm not sure what exactly are you trying to do and it's hard to guess without looking at the code-snippet and stack-trace.  Would be awesome if you could provide that.

If you want to feed an image as the initial latent we have image2image example that could be of interest. https://github.com/huggingface/diffusers/tree/main/examples/inference#image-to-image-text-guided-generation-wit

[2022-08-26 10:40] SebOchs opened #255 "[StableDiffusionPipeline] Image height and width both divisible by 8, throws error in unet_blocks"
### Describe the bug

Dear diffusers team,

I encountered a bug where the image width and height are both divisible by 8, but the prompt results in the following runtime error:
RuntimeError: Sizes of tensors must match except in dimension 1. Expected size 18 but got size 17 for tensor number 1 in the list.

This doesn't happen when the image width and height are divisible by 64 instead (at least f

[2022-08-26 10:43] patil-suraj commented on #239
Hi @andydhancock

This is working fine for me. Here's the code snippet I tried

[code]

[2022-08-26 12:05] andydhancock commented on #239
Strange it wouldn't on mine then! I got it to work with the timesteps.cpu() thing anyways so not a problem anymore.

[2022-08-26 15:54] neverix opened #259 "Fix progress bar in Stable Diffusion pipeline"
### Describe the bug

Generating images with StableDiffusionPipeline does not display the total number of iterations because of `tqdm` and `enumerate` being swapped in the [code](https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L136).

This is a well-known issue that has at least two PRs proposed to fix it (#236, #242).

### R

[2022-08-26 16:02] loretoparisi commented on #239
@andydhancock thanks! On Apple M1 it worked in cpu  removing FP16 and `autocast`:
🥇

[code]

A question, the default value `guidance_scale` was 0.75 not 7.5 as above, right? And same for `strength` I assume.
Thank you.

[2022-08-26 21:42] leszekhanusz opened #261 "Inpainting example is using data from the masked parts with strength 1"
### Describe the bug

It is my understanding that if we provide `strength=1` to the inpainting pipeline, that the model would try to fill the missing parts without taking into account what was in the image before (where the mask is).

It does not appear to be the case and is really apparent when trying to zoomout of a picture.
In that case, the prediction will very often fill this area with white.

[2022-08-26 22:32] nagolinc commented on #261
@leszekhanusz Interesting.

I added a hack here (https://github.com/huggingface/diffusers/compare/main...nagolinc:diffusers:inpainting-fix) that fixes this.  But I wish I understood better why it was happening in the first place.

[2022-08-26 23:20] leszekhanusz commented on #261
Thanks for the quick answer!
But it seems like we are still missing something, you can clearly see where the mask is on the pictures and that should not be the case.
I tried to print the latents to see what they look like along the iterations and I got something like this:
![latents_grid_compressed](https://user-images.githubusercontent.com/4641499/187001823-69385f49-bf13-44f9-b066-7436b915bd59.pn

[2022-08-26 23:30] nagolinc commented on #261
@leszekhanusz Adding the un-noised latents was what I originally tried, but @jackloomen pointed out here (https://github.com/huggingface/diffusers/pull/241#issuecomment-1226283542) that was causing the final inpainted image to be blurry.

Worth noting that @eteriaai has apparently figured out a much better method (https://twitter.com/EteriaAI/status/1563018093055553539), so hopefully we'll find ou

[2022-08-27 00:45] jackloomen commented on #261
The NN that denoises expects to have noised latents at some step tn. If you use clean latents behavior will be undefined - and therefore blurry or with artifacts.

The version I use doesn't even have strength tbh, it has no value for inpainting.

also be careful to make sure the mask tensor scalars are 0.0 or 1.0 and nothing in between.

[2022-08-27 20:07] gordicaleksa opened #262 "Add support for external latent specification"
https://colab.research.google.com/github/pcuenca/diffusers-examples/blob/main/notebooks/stable-diffusion-seeds.ipynb <- this notebook (linked in the README) makes it seem as if we can specify the latent externally, but looking at the code that doesn't seem to work.

Here is a [proposed tweak](https://gist.github.com/karpathy/00103b0037c5aaea32fe1da1af553355?permalink_comment_id=4281835#gistcomment

[2022-08-27 22:28] pcuenca commented on #262
Hi Aleksa, thanks for writing!

That notebook relies on PR #247, which was recently merged. It should work with the `main` branch of diffusers, but not yet with the latest PyPi version (0.2.4). Could you please try with `main` instead? If it still doesn't work, please do let us know! :)

Thanks again!

[2022-08-28 00:53] krrishdholakia commented on #147
hey @anton-l just wanted to follow up on this

cc: @patil-suraj @patrickvonplaten

[2022-08-28 08:20] gordicaleksa commented on #262
Hi Pedro!

Thanks for the quick reply!

Ah, ok, I'm on the older version apparently recommended for stable diffusion (`0.2.4`) so I missed this one! LGTM!

[2022-08-28 08:20] #262 closed

[2022-08-28 09:23] samedii opened #263 "`DDIMScheduler` does not work unless `set_timesteps` is used"
### Describe the bug

Need to set number of inference steps since "None" is default. Expected to have a default value.

Adding a very simple PR.

### Reproduction

[code]

### Logs

[code]

### System Info

[code]

[2022-08-29 01:29] LucasSilvaFerreira opened #267 "Non-squared Image shape"
Is it possible to use diffusers on non-squared images?
That would be a very interesting feature!

[2022-08-29 04:35] maito1201 commented on #141
I think so too.
[exaple](https://github.com/huggingface/diffusers/tree/main/examples/training) is for unconditional model(UNet2DModel)
UNet2DModel doesn't seem to have a channel to receive text encoder input

I want to build pretrained UNet2DConditionModel or entire StableDiffusionPipeline.
(I think text encoder is perfect, I want to control the taste of the output, For example, output an image sp

[2022-08-29 08:39] pcuenca commented on #263
Sorry, I responding to your PR before I saw this issue. @anton-l what do you think?

[2022-08-29 10:25] anton-l commented on #267
Hi @LucasSilvaFerreira! The `StableDiffusionPipeline` and `LDMTextToImagePipeline` currently support `height` and `width` parameters during inference:
[code]

For best results use larger dimensions than the defaults, e.g. `height>=512`, `width>=512` for Stable Diffusion.

[2022-08-29 13:58] LucasSilvaFerreira commented on #267
Hi @anton-l ,
Thanks for answering.
But I'm really interested on training it with rectangular shapes. Probably it will need to add additional parameters on the Unet model allowing reshape it.

[2022-08-29 15:18] natolambert commented on #263
If I recall correctly all of the schedulers are not designed to run without calling `set_timesteps()` because of the heavy dependence of inference on `num_inference_timesteps` and how the timesteps match with the inference loop.

[2022-08-29 15:23] anton-l commented on #267
@LucasSilvaFerreira actually the `unet.sample_size` parameter is just a reference shape for pipelines!
The model itself can work with inputs of any shape at train time, as long as the other size-dependent parameters (like the number of downsampling blocks) are adjusted to be compatible with it :slightly_smiling_face:

[2022-08-29 15:51] anton-l commented on #141
@sameeravithana @maito1201 the conditional scripts are still on our TODO, but feel free to contribute a PR if you've started working on it!

[2022-08-29 15:56] anton-l commented on #147
@krrishdholakia the idea would be to feed the concatenated clothing + person images (6 channels), and have 6 channels as output as well (since the number of channels needs to match to compute the residuals). Then the first (or last) 3 channels of the output would be your predicted clothed person, and the other 3 channels can be discarded (not used for the loss calculation). This is similar to how

[2022-08-29 16:09] patil-suraj commented on #147
Hey @krrishdholakia not quite what you're looking for, but we now have an in-painting example with stable diffusion here https://github.com/huggingface/diffusers/tree/main/examples/inference#in-painting-using-stable-diffusion

[2022-08-29 20:08] patrickvonplaten commented on #263
@samedii, actually quick question: How to do you exactly get the above error?
The stable diffusion pipeline should always correctly set the number of timesteps, see: https://github.com/huggingface/diffusers/blob/efa773afd2a99f6041043298d9f3e8bcdaa325c7/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L121

How exactly do you get the error:
[code]

If you do:

[code]

it should

[2022-08-29 20:38] samedii commented on #263
Sorry I answered in the PR. I built my own pipeline using your components.

[2022-08-29 20:41] dblunk88 opened #271 "Samplers & Documentation"
I am confused about how to properly implement the various samplers with the StableDiffusionPipeline. The default values output garbage. The only preset I could find is for LMS. It would be helpful to have documentation on-hand with how to properly implement them.

Additionally, more options would also be nice, specifically the ones used by k-diffusion: https://github.com/crowsonkb/k-diffusion/blob

[2022-08-29 23:56] maito1201 commented on #141
@anton-l thank you for the advice.
Unfortunately I don't understand all the things TODO to train.
If you welcome a broken code snippet with FIXME comment, I will create a pull request.

[2022-08-30 05:01] Inkorak opened #272 "Support K-LMS for inpainting"
You have added K-LMS support to [image_to_image.py](https://github.com/huggingface/diffusers/blob/main/examples/inference/image_to_image.py), can you add it to [inpainting.py](https://github.com/huggingface/diffusers/blob/main/examples/inference/inpainting.py)?

[2022-08-30 10:30] #259 closed

[2022-08-30 13:38] patrickvonplaten commented on #272
cc @anton-l here :-)

[2022-08-30 13:40] patrickvonplaten commented on #271
That's great feedback @dblunk88 !
We're working on docs and should have that ready in ~2 weeks. Regarding the various samplers we should indeed write this down a bit better - opening a PR for this :-)

[2022-08-30 13:49] patrickvonplaten commented on #166
Hey @vvvm23,

sinusoidal position features like `GaussianFourierProjection` don't need training because every embedding already has a distinctly different vector that the model can use a "cue" to know what time position has been passed to it.

If one wants to train position embedding vectors (or time embedding vectors here), one can just randomly initialize such a vector and let the model learn it

[2022-08-30 13:59] dblunk88 commented on #271
Much appreciated! If it helps: DDIM seems to work only if clip_sample=False

[2022-08-30 14:20] patrickvonplaten commented on #271
Here a summary of how to use the different samplers:

## Examples:

### Text-to-Image with default PLMS scheduler

[code]

### Text-to-Image with DDIM scheduler

[code]

### Text-to-Image with K-LMS scheduler

[code]

[2022-08-30 14:21] patrickvonplaten commented on #271
@dblunk88 what other schedulers/samplers from the k-diffusion GitHub were you thinking of?

[2022-08-30 14:28] BIGJUN777 opened #275 "About the performance of the safety checker?"
This is an issue coming from https://github.com/huggingface/diffusers/pull/213#issuecomment-1228277919
![image](https://user-images.githubusercontent.com/35102882/187458228-c82da286-f099-4097-8a01-be28776529b2.png)

My code referred to [stable diffusion](https://github.com/CompVis/stable-diffusion/blob/69ae4b35e0a0f6ee1af8bb9a5d0016ccb27e36dc/scripts/txt2img.py#L87) . Please check it in your free

[2022-08-30 14:40] dblunk88 commented on #271
If I had to single out one, I'd say Euler would be nice to have.

Realistically speaking though, it would be nice to have the entire library of https://github.com/crowsonkb/k-diffusion/blob/master/k_diffusion/sampling.py . It's just more options since each sampler has it's up & downsides.

[2022-08-30 17:18] dblunk88 opened #277 "More Samplers/Schedulers, e.g. Euler"
Thank you guys for throwing in the documentation. Segregating this from the other Issue.

Is there any possibility to include more of the k-diffusion samplers? https://github.com/crowsonkb/k-diffusion/blob/master/k_diffusion/sampling.py

Heuler for example would be nice

[2022-08-30 18:00] ElleSimpsonEdin commented on #277
Seconded!

[2022-08-30 19:53] patrickvonplaten opened #280 "Add Deis scheduler"
**Is your feature request related to a problem? Please describe.**

State of the art scheduler is missing.

**Describe the solution you'd like**

DEIS scheduler should be integrated: https://github.com/qsh-zh/deis

[2022-08-30 21:07] dblunk88 commented on #271
Segregated this into #277

[2022-08-30 21:07] #271 closed

[2022-08-30 21:32] piEsposito opened #281 "Optimize model loading by natively using Accelerate, please."
**Is your feature request related to a problem? Please describe.**
Loading pretrained models, for example `UNet2DConditionModel` peaks at 8GB when loading a pretrained one, while it takes a lot less memory when it is fully loaded to the GPU. That is happens likely because there are some redundancies between loaded weights and the model.

When we start it with empty weights and load them using acce

[2022-08-30 23:01] krrishdholakia opened #282 "inpainting doesn't work with CPU"
### Describe the bug

<img width="895" alt="Screen Shot 2022-08-30 at 3 59 50 PM" src="https://user-images.githubusercontent.com/17561003/187558163-fe0198c5-a09f-44b2-ba5c-182d5c66131e.png">
Using the inpainting example but trying to run it on the cpu instead of gpu (since i'm trying to push to hf space).

Hitting this runtime error:
RuntimeError: Input type (torch.FloatTensor) and weight type (to

[2022-08-30 23:01] krrishdholakia commented on #282
cc: @patil-suraj

[2022-08-30 23:01] krrishdholakia commented on #282
https://colab.research.google.com/github/patil-suraj/Notebooks/blob/master/in_painting_with_stable_diffusion_using_diffusers.ipynb

[2022-08-31 01:00] krrishdholakia commented on #282
tried using the updated pipeline - `StableDiffusionInpaintPipeline`
<img width="1539" alt="Screen Shot 2022-08-30 at 5 59 48 PM" src="https://user-images.githubusercontent.com/17561003/187569943-5fe40268-e325-451f-bb11-241efefbaa85.png">

but it doesn't seem to have been uploaded yet

[2022-08-31 02:38] paciox opened #283 "Missing easy way to set various renderers/samplers"
### Describe the bug

(https://www.reddit.com/r/StableDiffusion/comments/wwm2at/sampler_vs_steps_comparison_low_to_mid_step_counts/?utm_medium=android_app&utm_source=share)

Check here, now

[code]

NOw what if I want to set the others?

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-31 03:36] harishanand95 opened #284 "ONNX compatibility issues"
Thanks for the great library!

I'm looking into generating ONNX version of the stable diffusion models.

I had to make few changes to `unet_2d_condition.py` to get it to work. You can find some of the changes here.. https://github.com/harishanand95/diffusers/commit/8dd4e822f87e1b4259755a2181218797ceecc410
Let me know if you prefer a PR for this and if there exist any implementations for return non

[2022-08-31 07:16] aweinmann commented on #175
related to this issue, pipelines do not pass the generator to the step function (see: https://github.com/huggingface/diffusers/blob/bfe37f31592a8fa4780833bf4e7fbe18fa9f866c/src/diffusers/pipelines/ddpm/pipeline_ddpm.py#L61) resulting in different evaluation outputs when not resetting the default generator. while the initial noise will use the passed in generator subsequent added noise in the step

[2022-08-31 08:10] vvvm23 commented on #166
Okay thank you @patrickvonplaten ! That explanation makes a lot of sense~

[2022-08-31 08:10] #166 closed

[2022-08-31 08:35] patrickvonplaten commented on #183
Issue has been solved with #188

[2022-08-31 08:35] #183 closed

[2022-08-31 08:52] patrickvonplaten opened #287 "[Community effort] Type Hints"
**Is your feature request related to a problem? Please describe.**

Many important functions and classes are missing type hints

**Describe the solution you'd like**

It would be great if the following functions could have better type hints to understand what input is expected.

## Models

1. - [x] https://github.com/huggingface/diffusers/blob/7e1b202d5ebf36475a8b7031ce3035af12883003/src/diffusers

[2022-08-31 08:54] patrickvonplaten commented on #287
Lots of beginner good first issues here for a first contribution. The way it works is easy! Pick some numbers by posting them here as a message here, open a PR to add type hints, ping @anton-l @patil-suraj @pcuenca or @patrickvonplaten on the PR to merge it and we'll tick your numbers of :-)

Example:

I'm taking numbers **39.** and **40.** and will attach a PR below

[2022-08-31 09:54] henrydylan opened #290 "Training examples missing"
Hello, in the Readme file you mentioned that the training examples can be found in `examples/training` directory, but it seems that it is not there. Maybe because it is under developing but I am really looking forward to see it. Big hug to this love community! :)

[2022-08-31 10:38] pcuenca commented on #284
Regarding the first point, @hollance suggested to use `torch.tile`; I'm not sure if that's preferable to multiplying by ones or if it doesn't matter. In my opinion `tile` is more concise, especially if we want to keep the broadcasted `dtype` as an int for symmetry with the previous version.

Regarding the second point, @anton-l and @patil-suraj suggested to adopt the transformer's style to select

[2022-08-31 10:55] pcuenca opened #292 "Add inference support for `mps` device (Apple Silicon)"
There is a lot of community interest in running diffusers on Apple Silicon. A first step could be to introduce support for the `mps` device, which currently requires PyTorch nightly builds. Another step down the line could be to convert to Core ML and optimize to make sure that the use of the ANE (Neural Engine) is maximized.

This PR deals with the first approach.

**Describe the solution you'd l

[2022-08-31 11:36] patrickvonplaten commented on #175
Great point @aweinmann - should be fixed in this PR: https://github.com/huggingface/diffusers/pull/289/files#r959478073 :-)

[2022-08-31 12:33] leszekhanusz commented on #287
Maybe that would also be a good idea to make a GitHub action to check that `mypy` is happy in all the PRs.

[2022-08-31 12:34] patrickvonplaten opened #293 "[Docs] Doc Sprint on Wednesday Sep 7"
** There is still more TODO, to see open options, see [this comment](https://github.com/huggingface/diffusers/issues/293#issuecomment-1239822401)**
----
Let's add them docs.

- Create a minimum toctree with mostly blank pages to get it working
- Merge: https://github.com/huggingface/moon-landing/pull/3415
- Do a doc sprint right after

cc @anton-l

[2022-08-31 12:35] patrickvonplaten commented on #287
Usually we're happy with just `black`, `isort` and `flake8` - are there any advantages of `mypy` over `flake8` ? `mypy` is a bit too restrictive to me personally

[2022-08-31 15:19] AhmedUZaki opened #295 "Having "ImportError:""
I got this error
'''
ImportError: cannot import name 'PROTOCOL_TLS' from 'urllib3.util.ssl_'
'''
after installing diffusers, PyTorch, and transformers.

[2022-08-31 16:19] anton-l commented on #295
Hey @AhmedUZaki! This looks like a broken environment issue due to either pip, conda or both.

Try reinstalling everything in a clean environment:
[code]

[2022-08-31 16:27] patrickvonplaten commented on #284
Happy to use `torch.tile`! @harishanand95 or @pcuenca would you like to open a PR? :-)

Regrading the second point, yes I think we should adopt the `return_dict=True/False` strategy of `Transformers` (defaulting it to `True` and allow one to return tuples)

[2022-08-31 16:31] patrickvonplaten commented on #287
What do you think here @anton-l @patil-suraj @pcuenca - note that we don't have it in Transformers and might require some more setting up . Not sure if it's worth it from my point of view, but happy to go for it if others think it's a good idea.

Also cc @LysandreJik @sgugger would love to hear your opinion on mypy: http://www.mypy-lang.org/

[2022-08-31 16:32] patrickvonplaten commented on #290
Thanks for the ping - updating the README as this folder doesn't exist anymore :sweat_smile:

[2022-08-31 16:34] patrickvonplaten commented on #290
Should be solved here: https://github.com/huggingface/diffusers/blob/main/README.md :slightly_smiling_face:

[2022-08-31 16:34] #290 closed

[2022-08-31 16:41] anton-l commented on #281
Hey @piEsposito, happy to look into that in the coming week! If you have a code snippet that works for you, feel free to include it here as a reference :hugs:

@muellerzr @patrickvonplaten wdyt? We can either do this, or bring the low-RAM loading code from transformers

[2022-08-31 16:48] anton-l commented on #283
Hi @paciox! There are a couple of ways to set a custom/alternative sampler for a pipeline:

1. Initialize another scheduler from scratch and pass it to the pipeline loader:
[code]

2. Load the scheduler's hyperparameters from another scheduler's config. Here we're loading the default scheduler's (PNDM's) params like `beta_start, beta_end` into LMS:
[code]
The second only works for compatible sched

[2022-08-31 17:06] muellerzr commented on #281
cc @sgugger so it's on your radar since next week I'll be out for a bit :)

[2022-08-31 17:11] dblunk88 opened #298 "PNDM bug"
### Describe the bug

A PNDM bug got introduced in commit b64c5227595f5eed10f6ff3ac7953de0bb07ab2d. I get IndexErrors and a highly increased step count

### Reproduction

pipe.scheduler = PNDMScheduler(beta_start=0.00085, beta_end=0.012, beta_schedule="scaled_linear", num_train_timesteps=1000)

### Logs

_No response_

### System Info

[code]

[2022-08-31 17:14] WASasquatch commented on #298
Confirmed on my own fork.

[2022-08-31 17:15] anton-l commented on #298
Confirmed locally, @patrickvonplaten is working a fix right now! 🙌

[2022-08-31 17:17] patrickvonplaten commented on #298
Sorry about this - should be fixed in 10min :pray:

[2022-08-31 17:27] #298 closed

[2022-08-31 17:28] patrickvonplaten commented on #298
Thanks a mille for reporting @dblunk88 !

[2022-08-31 18:06] sgugger commented on #287
I do have some opinions on mypy ;-) It usually ends up requiring the maintainer to write some horrible type hints that no one reading it will understand.

IMO you should focus on having type hints which make your code better documented and are readable and understandable, but enabling `mypy` is a step ahead as it will send errors if you use one function with a type that doesn't strictly match the

[2022-08-31 18:43] pawamoy opened #300 "F401 quality warnings"
Hello, I noticed your comment in the top `__init__.py` module:

module, but to preserve other warnings. So, don't check this module at all.

There is a way: it's to add the objects you want to export to the `__all__` variable. Flake8 won't complain about objects that are declared in such a way.

`make quality` passes with this:

[code]

(Note the two noqas on wildcard imports, these one would need

[2022-08-31 19:30] WASasquatch opened #304 "Failed to import transformers.models.clip.feature_extraction_clip"
### Describe the bug

On a fresh install (after deleting Stable_Diffusion from my gdrive, and disconnecting and reconnecting for a fresh environment) I get the following error:

[code]

Stack:
[code]

### Reproduction

Install a fresh copy via `res = subprocess.run(['pip', 'install', '-U', 'git+https://github.com/huggingface/diffusers.git'], stdout=subprocess.PIPE).stdout.decode('utf-8')`

and imp

[2022-09-01 01:49] harishanand95 commented on #284
I'm not sure if the tile is onnx compatible either.. Feel free to check this on your side to confirm (I hope it's not my torch version causing troubles, currently on 1.13.0.dev20220819+cpu ).. Thanks!

[code]

[2022-09-01 04:30] xABSTRACTORx opened #305 "ImportError from 'diffusers'"
[<ipython-input-4-20ae85d6bfb8>](https://localhost:8080/#)  <module>
      6 import PIL
      7
----> 8 from diffusers import StableDiffusionInpaintPipeline
      9
     10 def download_image(url):

ImportError: cannot import name 'StableDiffusionInpaintPipeline' from 'diffusers' (/usr/local/lib/python3.7/dist-packages/diffusers/__init__.py)

[2022-09-01 05:58] krrishdholakia commented on #305
+1

[2022-09-01 07:11] python273 opened #307 "Merge Stable Diffusion pipelines into one"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to use text2img & img2img & inpaint with the same instanced pipeline

**Describe the solution you'd like**
`pipe.generate(...)`
`pipe.image_to_image(...)`
`pipe.inpaint(...)`

**Describe alternatives you've considered**
It's possible to call `StableDiffusionInpaintPipeline.__call__(pipe, ...)`, but it mi

[2022-09-01 07:19] mja commented on #305
The `StableDiffusionInpaintPipeline` is not part of the library yet. You can pull in the class from the example script with:

[code]

[code]

[2022-09-01 07:45] pcuenca commented on #284
You are right, @harishanand95, `tile` does not work with ONNX. I'll open a PR with your approach then. Thanks a lot!

[2022-09-01 08:06] pcuenca commented on #305
Hi there!

I think that requires the `main` branch. Can you try installing using the following instead?

[code]

[2022-09-01 08:34] patrickvonplaten commented on #307
Hey @python273,

According to our philosophy here: https://github.com/huggingface/diffusers/blob/main/src/diffusers/pipelines/README.md#contribution
(see one purpose only) - I don't think it's a good idea to make all the classes into one.

However, the community might very well be interested in such a pipeline, so it would be a great addition for the [community examples](https://github.com/hugging

[2022-09-01 08:40] patrickvonplaten opened #311 "[Community Discussion] Scheduler design"
[This](https://github.com/patil-suraj/stable-diffusion-jax/pull/8) is a very nice PR by @pcuenca showing what changes need to be done to the PNDM/PMLS scheduler to make it work with JAX/XLA - it's actually more then anticipated and shows that the scheduler now substantially differs from the original implementation that we use for PyTorch.

In the coming days we will integrate these changes into ma

[2022-09-01 08:59] python273 commented on #307
hmm, isn't it about examples?

I'm using generation + inpainting at the same time, and as I understand if I instance `StableDiffusionPipeline` and `StableDiffusionInpaintPipeline`, it will consume 2x GPU memory. So wondering if there's some way to use uploaded weights in separate pipelines

Another option might be to use a separate class for the model like:
[code]

[2022-09-01 09:10] leszekhanusz commented on #307
I think that merging the pipelines into a single one in `src/diffusers/pipelines/stable_diffusion` is making perfect sense.

* A fix to the pipeline shoud be applied only in one place, this is the basic `DRY` principle.

* as @python273 said, an unified pipeline is actually needed if you want to have a single pipeline in your GPU memory for an interface for stable-diffusion doing txt to image, ima

[2022-09-01 09:11] patil-suraj commented on #311
I agree with your points, creating a generic scheduler here, will complicate a the overall design. In JAX we need to take special care of state, keeping everything scheduler as jnp arrays, avoid device to host communication etc. So I'm also in favor of option b. B is good for both readability and maintainability.

[2022-09-01 10:20] apolinario commented on #292
If it is of any help with this issue, here are some community-implemented or contributed Silicon compatibility with Stable Diffusion:

Using `diffusers`
PR to this repo: https://github.com/huggingface/diffusers/pull/278/
Guide by wandb: https://wandb.ai/morgan/stable-diffusion/reports/Running-Stable-Diffusion-on-an-Apple-M1-Mac-with-Hugging-Face-Diffusers--VmlldzoyNTU2ODc2

Using the CompVis Stabl

[2022-09-01 11:47] python273 commented on #307
oh, this works, thanks

Made a helper function to create kwargs
[code]

[2022-09-01 11:47] #307 closed

[2022-09-01 11:48] patrickvonplaten opened #313 "Push to Hub Design"
It would be nice to discuss a bit the push to hub design of the library.

IMO we have two different use cases for `push_to_hub`.

1. The complement of `from_pretrained(...)`. Every model, scheduler, and diffusion pipeline should eventually have a `push_to_hub(...)` method that allows one to push the class to the Hub.
 IMO this method can mirror 1-to-1 the API we have for Transformers: https://hugg

[2022-09-01 12:23] anton-l commented on #313
2. Something to consider here is also where we should put the model card generator (with training hypermarameters, per-epoch metric logs, etc.). But otherwise I'm very eager to remove the git-related complexity from the examples, especially with the upcoming [git-less `push_to_hub`](https://github.com/huggingface/huggingface_hub/pull/847) in `huggingface_hub==1.0`

[2022-09-01 12:39] Inkorak commented on #307
@python273 You can also write something like this. But I haven't tried it myself yet.

[code]

[2022-09-01 12:44] anton-l commented on #300
Hey @pawamoy, thanks a lot for the tip! Actually, turns out that this issue has been long solved since the last time I've worked on it, so now it's just a matter of a single config line: https://github.com/huggingface/diffusers/pull/317
So to avoid maintaining and/or autogenerating `__all__`, we'll probably just do that :)

[2022-09-01 12:53] patrickvonplaten opened #318 "Grad-TTS"
### Model/Pipeline/Scheduler description

Grad TTS model: https://github.com/huawei-noah/Speech-Backbones/blob/main/Grad-TTS/README.md

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if addition is not a scheduler).

### Provide useful links for the implementation

@patrickvonplaten has already added the model in a past vers

[2022-09-01 12:55] patrickvonplaten opened #319 "VQ-Diffusion"
### Model/Pipeline/Scheduler description

VQ-Diffusion is based on a VQ-VAE whose latent space is modeled by a conditional variant of the recently developed Denoising Diffusion Probabilistic Model (DDPM). It produces significantly better text-to-image generation results when compared with Autoregressive models with similar numbers of parameters. Compared with previous GAN-based methods, VQ-Diffusi

[2022-09-01 12:56] #300 closed

[2022-09-01 12:57] patrickvonplaten opened #320 "Notes2Audio"
### Model/Pipeline/Scheduler description

https://github.com/magenta/music-spectrogram-diffusion

Very cool model that can transform notes to music.
**Note**: Requires translating the code from Flax to PyTorch.

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if addition is not a scheduler).

### Provide useful links for the

[2022-09-01 12:58] patrickvonplaten opened #321 "Blended Diffusion"
### Model/Pipeline/Scheduler description

https://github.com/omriav/blended-diffusion

Cool model for in-painting

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if addition is not a scheduler).

### Provide useful links for the implementation

Think @ydshieh is already working on it :rocket:

[2022-09-01 13:03] patrickvonplaten opened #322 "V-Diffusion from Katherine"
### Model/Pipeline/Scheduler description

Katherine's trained models in v-diffusion are very powerful especially if used with CLIP-guidance.
Would be great to have them included here as well!

https://github.com/crowsonkb/v-diffusion-pytorch

### Open source status

- [X] The model implementation is available
- [X] The model weights are available (Only relevant if addition is not a scheduler).

##

[2022-09-01 13:27] ydshieh commented on #321
Yes, I am on it, although somehow slow.

[2022-09-01 13:27] apolinario commented on #322
I would suggest that additionally to the models pre-trained by Katherine that are on the original repo, that when models are adapted to diffusers, to also add [nshepperd's original `guided-diffusion` 512x512 unconditional model fine-tuned on openimages](https://set.zlkj.in/models/diffusion/512x512_diffusion_uncond_openimages_epoch28_withfilter.pt) which produces very good image quality when guided

[2022-09-01 14:11] rashmimarganiatgithub commented on #280
@patrickvonplaten  I can take up this issue , can you please assign it to me?

[2022-09-01 14:40] jackloomen commented on #321
is this method not obvious and already implemented in SD inpainting available here?

[2022-09-01 14:55] santiviquez commented on #287
Hey, if there is no problem. I'm taking numbers **37.** and **38.** and will attach a PR below.

[2022-09-01 15:13] rashmimarganiatgithub commented on #201
@patrickvonplaten , And this also please assign to me?

[2022-09-01 16:22] harishanand95 commented on #284
Thanks!

[2022-09-01 20:50] daspartho commented on #287
I'll be taking numbers 35. and 36. and will attach a PR below.

[2022-09-01 22:48] vishnu-anirudh commented on #293
Hello Patrick,
I am interested to work on this.
The above MR link doesn't seem to work for me. Would you know how I can access it?

[2022-09-01 22:53] leszekhanusz commented on #321
The inpainting model currently implemented here is not really working correctly.
Here is a example result using their test input (steps:50, strength:0.8, guidance_scale: 7.5, prompt:"meat"):
![4](https://user-images.githubusercontent.com/4641499/188025421-73526ea1-c4c8-4f32-b0a3-92269b76aec6.png)

In addition of not providing a good result in the masked part, the rest of the image which should be

[2022-09-01 23:06] jackloomen commented on #321
To obtain good results with current inpainting the prompt should be detailed and include what is outside the inpainting region, ideally it's a variation of the original prompt that generated the original image.

Also, using a noised version is the correct way to do it. But there is a bug, it should be t-1 instead of t.

[2022-09-01 23:10] vishnu-anirudh commented on #311
Hello
I hope it is okay for me to pitch in my two cents.
I prefer `option b` as well. It is very difficult to achieve a generic scheduler now. Given that this is an evolving field, it is easier to dedicated for every framework.
However, from interface perspective, it would be better if each of the scheduler implements an `Abstract Base Class`. This gives a good template on how the scheduler can be

[2022-09-01 23:19] leszekhanusz commented on #321
Tried with "Cheetah on a dirt road, meat is on the floor in front of him", using also `t-1` instead of `t` but I still don't get good results:
![5](https://user-images.githubusercontent.com/4641499/188028325-082f6ef9-f6b7-48c4-8419-70ba10532237.png)

[2022-09-01 23:43] jackloomen commented on #321
Try this PR:
https://github.com/huggingface/diffusers/pull/328

There is also something wrong with this cat, for testing I would use some generated photo of a dog with a nice prompt. then once that works move to other things.

[2022-09-02 00:10] jackloomen commented on #321
Also be very careful with strength, it's img2img for the inpainted region. Should be 1.0 unless you actually desire img2img.

[2022-09-02 06:23] mja commented on #277
Looking at the code and the equations referenced, [`sample_euler` in k_diffusion](https://github.com/crowsonkb/k-diffusion/blob/4567328deec0f90a549dde53c1858cf7ed0140dd/k_diffusion/sampling.py#L51) is the same or very similar to [`KarrasVeScheduler` in diffusers](https://github.com/huggingface/diffusers/blob/5164c9faa9d40f55fcc4ff1940f1171a5d43b9e0/src/diffusers/schedulers/scheduling_karras_ve.py#

[2022-09-02 08:37] mja commented on #292
Here's everything I've learned from the above linked resources in a Jupyter notebook that can be run in VSCode on MacOS: [StableDiffusion-MPS.ipynb](https://gist.github.com/mja/4cf7957cd6505820717c45b32dacd2ed).

When running the pipeline I've confirmed using Activity Monitor that the Python process is using the GPU.

[2022-09-02 09:06] Inkorak opened #329 "Support K-LMS for inpainting and img2img for stable diffusion"
When it was in reference, it supported img2img, but now it doesn't.

[2022-09-02 09:11] sidthekidder commented on #287
Hi! I'll take numbers 1 and 2, attaching a PR below.

[2022-09-02 12:23] pcuenca commented on #313
I agree with both points: I think it's very useful that all objects have a simple `push_to_hub` functionality, and that during training users should be able to configure how they want to proceed. Very intrigued about the git-less approach pointed out by @anton-l, it would be cool to adopt it soon.

[2022-09-02 14:12] luohao123 opened #332 "how to export stable fusion to onnx?"
how to export stable fusion to onnx?

[2022-09-02 14:40] chengyjonathan commented on #305
+1 Cant import any of these.

When I look in the __init__ file, only the default pipe is available. So the others like img2img didn't make it in.

[2022-09-02 14:42] patrickvonplaten commented on #332
We are working on it - see: https://github.com/huggingface/diffusers/issues/284

Closing this as a duplicate if ok for you :-)

[2022-09-02 14:42] #332 closed

[2022-09-02 14:52] patrickvonplaten commented on #321
Thanks a mille for the comments here @jackloomen and @leszekhanusz - that's super useful! @patil-suraj @anton-l could you here if you find time?

[2022-09-02 15:35] ydshieh commented on #321
@jackloomen @leszekhanusz My quick understating from the above discussions - you are testing `pipeline_stable_diffusion_inpaint` using a test input image from `blended-diffusion`, right?

[2022-09-02 16:08] patrickvonplaten commented on #280
Sure! Count my message here as assigning the issue to you ;-) Let me know if you need any help!
A couple of pointers from my side as I think this might be a tougher issue/PR:

I would suggest the following approach to add DEIS to `diffusers`:
- 1. Get this code snippet working in PyTorch: https://github.com/qsh-zh/deis#if-diffusion-models-are-trained-with-continuous-time where as you can use a mod

[2022-09-02 16:11] patrickvonplaten commented on #281
Happy to include `accelerate`! Maybe we can follow the same logic we have in `transformers` with `device_map="auto"` :-) And definitely +1 to make use of torch's meta device to half the peak required memory usage!

[2022-09-02 16:12] patrickvonplaten commented on #275
Hey @BIGJUN777,

Sorry I don't fully understand the question here - how is this related to the safety checker?

[2022-09-02 16:13] patrickvonplaten commented on #321
I think this is totally unrelated to Blended diffusion @ydshieh (actually we should have moved the discussion here) Sorry for the confusion

[2022-09-02 16:15] patrickvonplaten commented on #311
Cool let's go for separate schedulers then!

[2022-09-02 16:55] BIGJUN777 commented on #275
Hey @patrickvonplaten ,

In this comment https://github.com/huggingface/diffusers/pull/213#issuecomment-1231693379, you asked me to open a new issue and provide reproducible code.
![image](https://user-images.githubusercontent.com/35102882/188200523-76c9dde7-abe4-44d2-800e-da3f35c213d4.png)

In a word, my problem is I couldn't get excepted results when taking some normal images as input to the saf

[2022-09-02 17:39] patrickvonplaten commented on #198
Feel free to take it @rashmimarganiatgithub - all yours! Generally as soon as someone opens a PR for an issue, we try to work together on this PR

[2022-09-02 17:39] patrickvonplaten commented on #201
Sure :-) Feel free to open a PR for it and others that are interested can directly jump in

[2022-09-02 17:44] krrishdholakia commented on #305
cc: @anton-l @patrickvonplaten

[2022-09-02 18:09] patrickvonplaten commented on #275
Sorry for asking so many questions!

Ah I see so for the above images the model classified them as "not safe" and returned black images?
Even though as everybody can see the images are indeed safe?

This can happen as the safety checker is far from perfect - in this case I'd suggest to either circumvent the safety checker or try a different seed. For now, that's sadly the best option we have.

[2022-09-02 18:18] patrickvonplaten commented on #239
Doesn't this work for you @cherrerajobs:

[code]

It should work now on master

[2022-09-02 18:19] BenjaminIrwin commented on #305
+1 Also having this issue with StableDiffusionImg2ImgPipeline

[2022-09-02 18:21] patrickvonplaten commented on #307
Hey @Inkorak,

Feel free to add such a pipeline to our community examples https://github.com/huggingface/diffusers/tree/main/examples/community :slightly_smiling_face:

[2022-09-02 18:23] patrickvonplaten commented on #305
Hey everybody,

Could you please install diffusers as stated by @pcuenca to solve this problem:

[code]
?

We will probably make a new diffusers version by the end of next week to include `StableDiffusionImg2ImgPipeline` in main

[2022-09-02 18:23] fffiloni commented on #305
For huggingface space, you need to import diffusers through github pip install, as i did in a requirements.txt file ;)

![39E6A9CA-83CF-470F-A962-BA5DE06F9BE3](https://user-images.githubusercontent.com/7447007/188214747-e6b8475f-51bc-49c2-bfe1-48923245ab99.jpeg)

[2022-09-02 18:27] piEsposito commented on #281
Now this is great news, you just made my life a lot easier. Anyway I can help?

[2022-09-02 21:16] vishnu-anirudh commented on #311
Just out of curiosity, can I ask how you design the software architectures for the libraries? Do you do that internally or are there sprints where the community gets involved?

[2022-09-02 21:35] PierreChambon commented on #141
Hi @anton-l @maito1201, happy to help too if there are any FIXME, on my side I would like to further train on a custom dataset !

[2022-09-02 22:14] daspartho commented on #287
I'll work on numbers 24, 25, and 26. and will attach a PR below.

[2022-09-03 00:36] FahimF commented on #239
Using the code from main branch and the following code, it fails on Apple Silicon devices:

[code]

The error is as follows:

[code]
It appears that `self.alphas` is on cpu while `timesteps` is on mps in scheduling_pndm.py on line 268? (I know it says 270 but I made some changes to the code there to check something ...)

If I change references to `timesteps` to `timesteps.cpu()` in that method, th

[2022-09-03 03:15] jiamings commented on #280
Hi! Glad to help, although I am only an author on the DDIM paper, not the DEIS one.

I think a big problem with the DEIS codebase is that it depends on jax to compute the coefficients-- installing jax cpu would work as we only need the weights, but I am not sure if is desired for HuggingFace repos.

I tried to implement this with pytorch, but it is very hard as functorch is not nearly as well-deve

[2022-09-03 05:52] keturn opened #336 "scheduler leaky abstractions in pipelines"
Excited by the opportunities that Stable Diffusion has made for use with consumer hardware, I've started working with the code. I was looking to get an idea of what I'd need to do for something like #277 and studying the StableDiffusionPipeline class.

I'm concerned by the use of ` isinstance(self.scheduler, LMSDiscreteScheduler)`. If you can't implement a new Scheduler without meddling with the i

[2022-09-03 08:17] KevinGoodman opened #337 "Problem with img2img & text guided inpainting"
### Describe the bug

When I try img2img & text guided inpainting，I got the same problems as follows. The text to image code works perfectly in the same environment.

### Reproduction
I git clone this repo and run the image_to_image.py as follows:
[code]

### Logs

[code]

### System Info
I am using pytorch 1.12.1 with cuda 11.3 on RTX 3090
src/diffusers/pipelines/stable_diffusion/pipeline_stable_

[2022-09-03 08:37] KevinGoodman commented on #337
#305

[2022-09-03 08:39] #337 closed

[2022-09-03 09:24] patrickvonplaten opened #338 "[Tests] Add tests for LMS Discrete"
Similar to other tests we should add tests for the LMS Discrete Scheduler in https://github.com/huggingface/diffusers/blob/main/tests/test_scheduler.py

[2022-09-03 09:24] patrickvonplaten commented on #338
cc @anton-l

[2022-09-03 09:25] patrickvonplaten opened #339 "[Tests] Add Tests for Karras VE"
Similar to other tests we should add tests for the Karras VE Scheduler in https://github.com/huggingface/diffusers/blob/main/tests/test_scheduler.py

[2022-09-03 10:08] AhmedUZaki commented on #295
Thansk

[2022-09-03 10:08] #295 closed

[2022-09-03 10:19] patrickvonplaten commented on #329
Sorry this was my fault! Re-adding @anton-l's functionality in #340.
Thanks a lot for the ping here @Inkorak :heart:

The following snippet should now work as expected!

[code]

[2022-09-03 10:20] #329 closed

[2022-09-03 10:24] patrickvonplaten opened #341 "K-LMS scheduler for in-paint"
**Is your feature request related to a problem? Please describe.**

The K-LMS scheduler currently doesn't work for Stable Diffusion In-painting.

It would be nice to make it work as also asked for in #329

cc @anton-l

**Additional context**
Add any other context or screenshots about the feature request here.

There seem to be a couple of issues currently with in-paintinig -> @patil-suraj @anton-l

[2022-09-03 10:24] patrickvonplaten commented on #329
@Inkorak, I think it would indeed be very nice to support K-LMS for in-painting! Opening a new issue for this: #341

[2022-09-03 10:26] patrickvonplaten commented on #311
What exactly do you mean by software architectures? Like the whole library here? Usually we start a library internally but try to include the community in design decisions as quickly as possible :-)

[2022-09-03 10:29] patrickvonplaten commented on #281
@piEsposito - if you want you could give it a try to add `accelerate` and `torch`'s `meta` device logic to: https://github.com/huggingface/diffusers/blob/9b704f768880c732503fe46800986c6998ca205d/src/diffusers/modeling_utils.py#L203 more or less in the same spirit as it's done in `transformers`: https://github.com/huggingface/transformers/blob/65fb71bc762c46bb067306c1fd083b1cba87a095/src/transforme

[2022-09-03 10:30] patrickvonplaten commented on #239
Interesting! I don't have a mac computer - @patil-suraj @pcuenca do you have one? Could you give it a try maybe? :-)

[2022-09-03 10:36] FahimF commented on #239
@patrickvonplaten Thanks for looking into this. I'm able to get around this currently by simply modifying code to do the following instead of the existing code at line 268 in scheduling_pndm.py:
[code]
Then I usee `arr` instead of `self.alphas_cumprod` in the rest of the method. Just wasn't sure if that was the best way to go ... I'm a developer, but not a Python developer 😄 So if there's anything

[2022-09-03 11:36] webbigdata-jp commented on #305
for example, If you are installing diffusers from a clone of ``CompVis/stable-diffusion``, you will get this error.

The file that exists on github is newer than the file that can be installed with pip, but it is the same version 0.2.4, so it cannot be upgraded using pip.

If you have installed the older version using pip, you will need to uninstall it once.

[code]
then
[code]

[2022-09-03 12:30] mlajtos commented on #292
Regarding the alternative, i.e. converting the model to CoreML:

@madebyollin made [gist](https://gist.github.com/madebyollin/86b9596ffa4ab0fa7674a16ca2aeab3d) that can convert the U-net to a CoreML model, which can be injected into the pipeline, or used as a standalone model in a native app. However, it is not a complete model as this library (`diffusers`) is doing an extra work around the model.

[2022-09-03 12:42] pcuenca commented on #292
From what I've seen so far this task entails the following:

- [ ] Make the pipeline compatible when using classifier-free guidance. This is the `contiguous()` patch mentioned by `mja` in his notebook and addressed in #278. Interestingly, the `unet` works fine when not using CFG (i.e., input tensors are not concatenated).
- [ ] Reproducibility. We need a workaround for seeds / generators not worki

[2022-09-03 14:27] Vaibhavs10 commented on #318
Hey @patrickvonplaten - I'd like to take this up.

I'm currently working through the Grad-TTS codebase to understand inference fully. I'll start a PR to take the discussion further.

[2022-09-03 14:59] maito1201 commented on #141
@PierreChambon thanks for your comment.

I've wrote it.
https://github.com/huggingface/diffusers/pull/342

[2022-09-03 16:02] santiviquez commented on #287
I'll take **12**, **13** and **14** and will attach a PR below

[2022-09-03 18:51] daspartho commented on #287
I'll work on 3, 4, 7, 10, and 11 and will attach a PR below

[2022-09-04 00:28] sidthekidder commented on #287
I'll pick up 30, 31 and 32, attaching a PR below

[2022-09-04 01:12] shepherd1530 commented on #287
Hello,

I will be taking 5, 6. Will attach a PR.

[2022-09-04 02:35] qsh-zh commented on #280
Hi! Gad to help.

There are three 4 new algorithms in DEIS paper, `tAB-DEIS`, `$\rho$AB-DEIS`, `$\rho$RK-DEIS`, and improved PNDM.

1. `$\rho$ AB-DEIS` and `$\rho$RK-DEIS` should be straightforward to integrate as it only requires two changes of variables then using standard RK and multistep solvers. Here is the impl for two transformations in VPSDE [t2rho](https://github.com/qsh-zh/deis/blob/6f31

[2022-09-04 02:42] rashmimarganiatgithub opened #347 "Unable to find a version that satisfies the requirement huggingface-hub to install diffusers"
### Describe the bug

while trying to setup development environment by using  command(pip install -e ".[dev]") within diffusers cloned repro folder
I am getting ERROR: Could not find a version that satisfies the requirement huggingface-hub<1.0,>=0.8.1

I have tried downgrading default huggingface_hub = 0.4.1 to 0.0.19 to 0.1.0
but no use, I am not able to install the diffusers . what is the correc

[2022-09-04 03:02] rashmimarganiatgithub commented on #347
@patrickvonplaten , what is correct version of huggingface_hub for installing diffusers while setting up development environment with command: pip install -e ".[dev]"

[2022-09-04 04:17] John-Poulos commented on #202
Hello, I am a comp sci student and would like to assist, can you give me more information about what tests you are looking for? The link for the testing documentation in the contributing.md is returning a 404 error: https://huggingface.co/docs/diffusers/testing
Thanks in advance!

[2022-09-04 07:48] patrickvonplaten commented on #347
Hey @rashmimarganiatgithub,

Could you try again with: https://github.com/huggingface/diffusers/pull/348 :-) The newest version of `huggingface_hub` (`huggingface_hub==0.9.1`: https://github.com/huggingface/huggingface_hub/releases/tag/v0.9.1) is the correct one :-)

[2022-09-04 08:31] rashmimarganiatgithub commented on #347
Hey @patrickvonplaten ,

 Tried with 0.9.1 version, but still same issue.
python -m pip install huggingface_hub==0.9.1
ERROR: Could not find a version that satisfies the requirement huggingface_hub==0.9.1 (from versions: 0.0.1, 0.0.2, 0.0.3rc1, 0.0.3rc2, 0.0.5, 0.0.6, 0.0.7, 0.0.8, 0.0.9, 0.0.10, 0.0.11, 0.0.12, 0.0.13, 0.0.14, 0.0.15, 0.0.16, 0.0.17, 0.0.18, 0.0.19, 0.1.0, 0.1.1, 0.1.2, 0.2.0, 0.

[2022-09-04 08:33] daspartho commented on #287
I'll work on 15, 16, and 17 and will attach a PR below.

[2022-09-04 09:35] ovshake opened #350 "Typical CUDA Memory usage for `UNet2DConditionModel`"
Hi,
Thanks for this wonderful and easy-to-use repository. I would like to know the typical VRAM usage of `UNet2DConditionModel` if I use the default parameters for one forward and backward pass. I am using a batch size of 1 with mixed precision but I am still getting
[code]
I have 24GB of VRAM available. This is my model definition
[code]
I am wondering if there is any bug in my code, which is res

[2022-09-04 10:19] bubbleshark commented on #347
Hi @rashmimarganiatgithub ,
huggingface_hub 3.9.1 requires: Python >=3.7.0. Please checkout the python version that you are using is upper than 3.7.0 or not. Thanks

[2022-09-04 11:09] Mustapha-AJEGHRIR opened #351 "The model is not loaded directly into `CUDA`"
### Describe the bug

In the [Getting started with Diffusers] https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/diffusers_intro.ipynb) notebook available in the README. The model is not automatically loaded into `CUDA` with :
[code]
Thes next cell `image_pipe()["sample"]` takes 2 hours instead of 2 minutes.
I have solved this with :
[code]

### Reproduction

Open t

[2022-09-04 12:25] mja commented on #292
On an M1 Mac Mini I'm getting 188s on MPS and 343s on CPU for 50 steps.

[2022-09-04 14:21] patrickvonplaten commented on #351
Thanks a lot for the issue :heart:  I will fix this asap :-)

[2022-09-04 15:09] patrickvonplaten commented on #351
Fixed! Thanks a lot for spotting this

[2022-09-04 15:09] #351 closed

[2022-09-04 15:55] patrickvonplaten commented on #347
Hey @rashmimarganiatgithub,

It seems like @bubbleshark is on the correct path here! Could you update your Python version and try again? :-)

[2022-09-04 15:56] patrickvonplaten commented on #280
@rashmimarganiatgithub note that this is quite a difficult contribution - so feel free to ask for help from the community!

[2022-09-04 15:58] patrickvonplaten commented on #318
Very cool!

[2022-09-04 16:00] patrickvonplaten commented on #350
With 24GB you should definitely be able to get your model running (e.g. I just tried it on my 24GB GPU and it works).

From the error message above it seems like some other code is already taking 16GB of your GPU.

Could you copy-paste a full code snippet below that we I could run on GPU to see if I can reproduce your error? :-)

[code]

consumes way less than 24GB VRAM for me

[2022-09-04 17:13] ovshake commented on #350
Thanks for the reply. I have made a [gist](https://gist.github.com/ovshake/362591dcb38bd7471df2de55f715cf6e). You can run this by simply `python main.py`. I have attached two files. You can place `06528_00.jpg` in `/path/of/your/choice/cloth/06528_00.jpg` and `06528_00.np.gz` in `/path/of/your/choice/clip_txt_embeddings/06528_00.np.gz
`. In the gist, replace [Line 80](https://gist.github.com/ovsha

[2022-09-05 06:02] shraddhafalane commented on #339
Would like to work on it.

[2022-09-05 06:32] BIGJUN777 commented on #275
Got it. Thanks.

[2022-09-05 09:42] FahimF opened #358 "Apple MPS error in unet_2d_condition.py"
### Describe the bug

When you use an LMSDiscreteScheduler on an Apple Silicon machine, you'll get the following error:
Cannot convert a MPS Tensor to float64 dtype as the MPS framework doesn't support float64. Please use float32 instead

The offending line is 134 in unet_2d_condition.py.

The current code is:
timesteps = timesteps[None].to(sample.device)

Changing that to the following stops the

[2022-09-05 12:04] anton-l commented on #358
Hi @FahimF! There's ongoing work to support `mps` for schedulers, feel free to check in on the progress at  https://github.com/huggingface/diffusers/pull/355
cc @pcuenca

[2022-09-05 12:49] #284 closed

[2022-09-05 13:07] patrickvonplaten commented on #239
Think @pcuenca is currently working on a fix in #355 :slightly_smiling_face:

[2022-09-05 14:08] patrickvonplaten commented on #336
Hey @keturn, that's indeed a somewhat messy API - we've already talked a bit about it with @anton-l and @patil-suraj. We would also like to change/adapt it, but it's actually quite tricky to bring all the schedulers into one design.

 Thanks for bringing this to everybody's attention here. Would love to openly discuss how we can improve the design!

[2022-09-05 14:10] patrickvonplaten commented on #336
100% agree on that we somewhat badly entangle `sigmas` and `timesteps` here - we should definitely change this!
Maybe `sigmas` shouldn't be accessible at all if some function hasn't been called yet

[2022-09-05 14:16] santiviquez commented on #287
I'll take 21, 22 and 23 and will attach a PR below

[2022-09-05 14:39] rashmimarganiatgithub commented on #347
@bubbleshark , issue resolved. thanks.

[2022-09-05 14:39] #347 closed

[2022-09-05 14:45] rashmimarganiatgithub commented on #280
@patrickvonplaten , will reach to community once I start working on this issue, but before let me close other easily issues in all possible way. I am working on it.

[2022-09-05 14:54] patrickvonplaten commented on #336
Also like the idea of passing the `**kwargs` through to `scheduler.step(...)`!

[2022-09-05 15:13] patrickvonplaten commented on #202
Ah yeah we don't have testing docs yet :-/ In short we would just need some test similar to what we've done here: https://github.com/huggingface/diffusers/blob/main/tests/test_layers_utils.py but for all unet blocks. I think in a first step we should:

- Create a general `UNetBlockTesterMixin` in its own file, called `test_unet_blocks.py`
- Test just for shape and output correctness, so maybe you

[2022-09-05 15:18] pcuenca commented on #239
@FahimF Thanks for reporting this!

By all means, do report any other issues you've found. If you are sure they are related with the mps device, feel free to say so in the title :)

[2022-09-05 15:21] FahimF commented on #239
@pcuenca Thanks, will do 🙂 And yes, both are `mps` device issues though I don't know if they are in the Hugging Face code or upstream in Pytorch. Just that the behaviour is distinctly different than on a non-`mps` device. But will open new issues for those rather than discussing here ... unless there is already an existing issue. Haven't checked yet ...

[2022-09-05 15:28] jcmc00 commented on #287
I'll take 28, 29 and 30 and will attach a PR

[2022-09-05 15:37] FahimF opened #363 "Possible Apple MPS issue - prompts array fails to generate any images"
### Describe the bug

If you pass an array of prompts (a list of strings) rather than single prompt (a single string) to the pipeline, under Apple `mps` you never get an actual image. You get a lot of NSFW warnings and some images with noise but that's it.

If you run the image generator multiple times in a loop instead, it works.

### Reproduction

Try the following code for image generation unde

[2022-09-05 16:15] anton-l commented on #363
Linking this to https://github.com/huggingface/diffusers/pull/355 to check once it's merged :)

[2022-09-05 16:49] daspartho commented on #287
I'll take on 8 and will attach a PR

[2022-09-05 18:35] patrickvonplaten commented on #293
Docs are now live :tada:

Thanks to @natolambert we have a rough template of diffusers docs: https://huggingface.co/docs/diffusers/index

In two days, we want to kick-start a doc-sprint where we add as many doc-strings as possible.
Here the rough draft: https://docs.google.com/document/d/1TwqMlQrjWXi5a0y-C-Wbzx70R4ZQP8f8mq-ARSqB5fI/edit?usp=sharing

Tomorrow we will share more details on what exac

[2022-09-05 21:50] vishnu-anirudh commented on #311
Yes meant the whole library. Okay makes sense. Thank you.

[2022-09-05 23:31] exo-pla-net opened #367 "Make a Hugging Face "optimized" pipeline example"
Currently, using Stable Diffusion with huggingface/diffusers often fails due to VRAM shortage, even when using a 16GB GPU, and even when trying to make fairly humble generations, like an image with a 16:9 aspect ratio (which is important for making videos).

[Basujinal's fork](https://github.com/basujindal/stable-diffusion) uses drastically less VRAM, allowing larger images to be generated.

Howev

[2022-09-06 06:28] pcuenca commented on #363
Hi @FahimF!

I'm not getting corrupted images in this case, but a hard failure instead (my program aborts):

[code]

This appears to be a manifestation of [this issue](https://github.com/pytorch/pytorch/issues/84039). I'm not sure if there's anything we can do to prevent this problem. For now, I'll document it as a known issue until we can find a solution.

I'm curious as to why it doesn't behave

[2022-09-06 06:34] FahimF commented on #363
Hi @pcuenca 😄 Ah yes, I forgot to mention that side-effect. Sorry! Been writing about these issues for the past few days and I guess I'm not able to keep up with where I wrote what. Basically, (at least in my testing) if I tried to do `[prompt] * 2` I'd get the error you got. But if I do `[prompt] * 3` I do get the images but they are either full of noise or black and I do get a NSFW warning.

I w

[2022-09-06 06:43] FahimF commented on #363
@pcuenca Just tested again quickly, and it appears that the crash is only for batches of 2. Batches of 3, 4, and 5 work fine ... At least with my particular set up. If you need further information, please let me know and I'd be happy to do additional testing and or provide more info 😄

[2022-09-06 06:48] pcuenca commented on #363
Awesome @FahimF, thanks a lot! I'll take a look and test a bit more.

[2022-09-06 06:53] Inkorak commented on #367
I was able to upgrade the pipeline quite easily to implement efficient attention from [this repository.](https://github.com/Doggettx/stable-diffusion/commits/main/ldm/modules/attention.py)

[code]

[2022-09-06 07:18] sidthekidder commented on #201
I started a PR for this issue. Hope @rashmimarganiatgithub doesn't mind me jumping in, I was looking for an easier testing issue!

[2022-09-06 08:37] sradc commented on #367
Thanks @Inkorak. Looking at `watch -n1 nvidia-smi`, this looked like it saved about ~500mb, for a 512x512 image, on an 8gb card (though not sure how accurate that estimate is).

To avoid OOM, I made the change:

[code]

And to get the image, with diffusers '0.2.4', :

[code]

[2022-09-06 08:56] Luvata opened #369 "Represent learnt concept in textual inversion with more than one token"
### Describe the bug

As we discuss in #266

For the current implementation, if we just extend the learned vocab and CLIP token embedding then it would use only one vector for it.

What could be the best way to support this? cc @patil-suraj

### Reproduction

_No response_

### Logs

_No response_

### System Info

diffusers v0.2.4

[2022-09-06 09:37] anton-l commented on #367
Update: the VRAM optimizations are planned for this week's release, feel free to comment on this PR: https://github.com/huggingface/diffusers/pull/366 🤗

[2022-09-06 09:45] Inkorak commented on #367
@sradc This implementation looks at how much VRAM is free and adapts accordingly. In terms of memory consumption, it becomes more and more efficient if there is not enough VRAM, at the expense of speed. Try increasing the resolution beyond what your graphics card can handle with a regular pipeline.

[2022-09-06 10:11] Inkorak opened #370 "Lack of functionality in stable diffusion inpainting"
The img2img can handle init_image as FloatTensor and PIL image with
[code]
But inpainting cannot work like this with init_image and mask_image. It's only working with FloatTensor. Although the typing states that it can work with both.
[code]
It is desirable to have uniformity.
Also, preprocess function in img2img and preprocess_image function in inpainting are the same, they differ only in the nam

[2022-09-06 11:31] gradjitta commented on #322
Hi @patrickvonplaten I can take this up and also any pointers to help me get started are most appreciated.

[2022-09-06 12:11] patrickvonplaten commented on #281
Thanks a lot for opening the PR! Think @patil-suraj wanted to guide you here a bit :-)

[2022-09-06 12:27] piEsposito commented on #281
@patrickvonplaten it is just a draft to see if the direction is right. It will of course be improved to production level code with guidance from you folks. Thanks :D

[2022-09-06 12:44] pcuenca opened #372 "MPS: models require an initial pass for reproducibility"
I have no idea what's causing this, I suspect something related to RNGs, as we know they don't work properly in `mps` yet.

This is a pending task from our initial `mps` support (#355) that we need to investigate. For now, we have adopted two workarounds:
- Perform an extra pass as appropriate so tests pass.
- Recommend users that care about reproducibility / accuracy to do the same.

[2022-09-06 12:44] patil-suraj commented on #281
Hey @piEsposito ! Looking through the PR and will get back to you soon about this.

[2022-09-06 13:06] piEsposito commented on #281
@patil-suraj I saw that when we pass the `low_cpu_mem_usage` and `device_map` to the Pipeline abstraction, it will break on stable diffusion when loading the Safety Checker. Should we add an exception for that and let safety checker be loaded in full?

[2022-09-06 15:56] ovshake commented on #350
Hi @patrickvonplaten, sorry to bug, did you get a chance to look at this?

[2022-09-06 16:08] patrickvonplaten commented on #367
Here we have a very optimized stable diffusion example:

[code]

=> 3.3 GB VRAM only

You can now find this example on the main readme: https://github.com/huggingface/diffusers/blob/main/README.md#text-to-image-generation-with-stable-diffusion

[2022-09-06 16:20] keturn opened #374 "[Community] cancelable and asynchronous pipelines"
In [#developers-corner](https://discord.com/channels/1002292111942635562/1011228667659178055/1016173296930271282) we have a request for cancellation support in the pipeline API.

That could also be something to consider in the context of a more asynchronous API in general; some applications want to avoid blocking the thread if all the slow parts are on a GPU device and the CPU is available to do o

[2022-09-06 16:27] patrickvonplaten commented on #293
The general doc structure (which is defined [here](https://github.com/huggingface/diffusers/blob/main/docs/source/_toctree.yml))
should look more or less as follows:

**"1. Get started"**
I think the following subsections for "1. Get started" would be nice:
"1.1" Diffusers (as is there already), but needs to be adapted
"1.2" Quicktour (as is there already), but needs to be adapted
“1.3” Installati

[2022-09-06 16:51] patrickvonplaten commented on #293
For section 5.

We need to adapt both the code files, e.g. add nice doc-strings to each public function and class as well as add some `.mdx` files for the main API classes.

In general section 5 will look as follows:

[code]

[2022-09-06 17:06] patrickvonplaten commented on #293
Communication tomorrow will happen over a discord and we'll also hold a call at 9h30am Paris time.
Please make sure to join discord to join the call and to participate :-)

**To join:**
Follow this link https://discord.gg/bYA2G9yJtP, then click on the 🎨 emoji to get access to the diffusers group. There you'll find the "core-contributions" channel where we'll post all the important info!

[2022-09-06 21:39] natolambert commented on #293
Working on scheduler updates in #376.

[2022-09-06 22:35] patrickvonplaten commented on #293
For anybody who wants to join - ideally we start with 5. API docs for pipelines. Just pick one of the following pipelines and follow the PR: https://github.com/huggingface/diffusers/pull/377/files

- You should add a pipeline card, *e.g.* `latent_diffusion.mdx`
- add the file to the `_toctree.yml`: https://github.com/huggingface/diffusers/blob/main/docs/source/_toctree.yml
- Complete all pipeline

[2022-09-06 22:35] patrickvonplaten commented on #293
Taking latent diffusion in this PR: https://github.com/huggingface/diffusers/pull/377/files

[2022-09-07 00:11] parlance-zz commented on #374
I agree this would be helpful.

[2022-09-07 00:13] AmanKishore opened #378 "Textual Inversion DiagonalGaussianDistribution"
### Describe the bug

When running `accelerate launch textual_inversion.py`
getting the following error:
[code]

### Reproduction

Running the following command in
https://github.com/huggingface/diffusers/tree/main/examples/textual_inversion
[code]

### Logs

[code]
[code]

[2022-09-07 01:34] natolambert opened #380 "Unused parameters in scheduler `init`'s"
**What API design would you like to have changed or added to the library? Why?**

I see some of the [schedulers](https://github.com/huggingface/diffusers/blob/7bd50cabafc60bf45ebbe1957b125d3f4c758ba8/src/diffusers/schedulers/scheduling_lms_discrete.py#L34) had these parameters added to init
[code]
I'm guessing the first is an option to directly pass betas when creating the scheduler, but what is `

[2022-09-07 02:47] mallorbc commented on #378
This is due to pip not having a new enough diffusers install.

To fix for now until an update:

[code]

[2022-09-07 05:08] rashmimarganiatgithub commented on #201
@sidthekidder , Please go ahead. I will take other issues.

[2022-09-07 06:10] pcuenca commented on #293
I can take stable diffusion if that's ok.

[2022-09-07 06:34] pootow opened #381 "Error in section `3. How to write your own inference pipeline with diffusers` of the notebook `diffusers/stable_diffusion.ipynb`"
### Describe the bug

Just open the notebook in colab, and you will get:
[code]

### Reproduction

Just open the notebook in colab and run.

### Logs

_No response_

### System Info

colab

[2022-09-07 07:30] pootow commented on #381
I've found how to fix this. Just a line blow the creation of `scheduler`

[code]

[2022-09-07 08:01] pcuenca commented on #381
Hi @pootow, thanks for reporting this!

However, I'm unable to reproduce the problem, the notebook is working fine for me. Note that PyTorch format `"pt"` is the default: https://github.com/huggingface/diffusers/blob/main/src/diffusers/schedulers/scheduling_lms_discrete.py#L36.

Would it be possible that you have some local changes in the notebook, or that you are using a version of diffusers diff

[2022-09-07 08:14] kashif commented on #293
I can take 2 ddpm

[2022-09-07 08:15] satpalsr commented on #293
I'd like to take latent_diffusion_uncond.

[2022-09-07 08:46] sidthekidder commented on #338
Btw, the cmd: `pytest tests/test_scheduler.py` fails on my system (macOS 11.2.3, Python 3.8.2, Apple clang version 12.0.5) with the error:

[code]

[2022-09-07 09:18] mishig25 opened #383 "Question about: `ConfigMixin` vs `XYZConfig class`"
I see that [ConfigMixin](https://github.com/huggingface/diffusers/blob/d799084a9a7d5196ae708da72b46dd8e84604194/src/diffusers/configuration_utils.py#L38) & [@register_to_config](https://github.com/huggingface/diffusers/blob/d799084a9a7d5196ae708da72b46dd8e84604194/src/diffusers/configuration_utils.py#L300) are used to handle model configs:
[code]

comparing it to transformers (for example [here](h

[2022-09-07 09:19] UglyStupidHonest opened #384 "AttributeError: 'DiagonalGaussianDistribution' object has no attribute 'latent_dist'"
### Describe the bug

Hey I get this error for inverting images

AttributeError: 'DiagonalGaussianDistribution' object has no attribute 'latent_dist'

### Reproduction

accelerate launch textual_inversion.py --pretrained_model_name_or_path=$MODEL_NAME --use_auth_token --train_data_dir=$DATA_DIR --learnable_property="person" --placeholder_token="<otto>" --initializer_token="person" --resolution=512

[2022-09-07 09:28] #384 closed

[2022-09-07 09:29] patrickvonplaten commented on #293
Template is ready: https://github.com/huggingface/diffusers/pull/385

=> We can start filling it out :-) (Note that I copy-pasted `quicktour.mdx` to all doc pages and `models.mdx` to all API pages to be faster. Make sure to delete / overwrite those :-)

[2022-09-07 09:45] patrickvonplaten commented on #350
Hey @ovshake,

Sorry for being so late here! I see you were training a model. Yeah at the moment we're getting indeed also some OOMs here because memory usage increases a lot!

Two things:
- Could you try enabling attention slicing? This should significantly reduce memory usage: https://twitter.com/PatrickPlaten/status/1567185296453779456 . You would need to add this line right after instantiating

[2022-09-07 09:47] patrickvonplaten commented on #370
Ah yeah good point @Inkorak ! @patil-suraj @pcuenca - should we add two `if` statements here as well just like we have in image-2-image? Wdyt?

[2022-09-07 09:50] patrickvonplaten commented on #374
Cool idea @keturn indeed! I think we had similar ideas for `transformers` pipelines. @Narsil do you have some ideas here maybe? :-)

Also cc @anton-l @patil-suraj

[2022-09-07 09:54] patrickvonplaten commented on #383
Good question! Think you can find most of the answers here:
https://github.com/huggingface/diffusers/issues/11

For me the big thing is the following:

By forcing the init to be `==` the configuration of the model class, we have a safety mechanism to not add parameters to model configs that shouldn't be there because the don't contribute to "instantiating" the model. E.g. in `transformers` we erro

[2022-09-07 10:03] mishig25 commented on #383
oh I see 😊
closing the issue as it was previously discussed https://github.com/huggingface/diffusers/issues/11

[2022-09-07 10:03] #383 closed

[2022-09-07 10:56] patrickvonplaten commented on #293
First example you can copy from: https://github.com/huggingface/diffusers/pull/377#pullrequestreview-1098963887

[2022-09-07 11:22] AndreyRub opened #389 "Code in readme seems to be broken"
### Describe the bug

Several sample code units provided in README.md are broken:

**1. Example of image generation**
This line does not work:
`image = pipe(prompt).images[0]`
Instead I used:
`image = pipe(prompt)["sample"][0] ` after reading the [blog](https://huggingface.co/blog/stable_diffusion)

**2.  Example of image generation from initial image:**
`from diffusers import StableDiffusionImg2I

[2022-09-07 13:15] kashif commented on #293
i can do ddim and score_sde_ve next

[2022-09-07 13:37] BoazKG93 opened #398 "Sampler change"
I'm trying to control the sampler, but can't find a way to do it. How can I change the sampler?

[2022-09-07 13:42] rashmimarganiatgithub commented on #339
@sidthekidder, this is similar to [Tests] Add tests for LMS Discrete #338. I hope you don't mind testing both the issue at the same and merging them into one PR?

[2022-09-07 13:43] rashmimarganiatgithub commented on #280
Working on it

[2022-09-07 15:25] pootow commented on #381
Sorry, I can't reproduce it either.

[2022-09-07 15:25] #381 closed

[2022-09-07 16:12] AmanKishore commented on #378
Ah thank you!

[2022-09-07 16:12] #378 closed

[2022-09-07 18:40] exo-pla-net commented on #367
This problem is largely solved, so I'm closing this issue.

However, Inkorak's dynamic VRAM+attention adjustment is interesting and would be useful. If I'm understanding it correctly, it would allow us to make arbitrarily large images or batches. If we decide we want to implement such a feature, we should open a new issue.

There's some more discussion [here](https://github.com/huggingface/diffuse

[2022-09-07 18:40] #367 closed

[2022-09-07 18:45] emmajane1313 opened #405 "single file or url is not supported for this tokenizer error"
### Describe the bug

Getting this error when running "setting up the model" cell: Calling CLIPTokenizer.from_pretrained() with the path to a single file or url is not supported for this tokenizer. Use a model identifier or the path to a directory instead

### Reproduction

#@title Load the tokenizer and add the placeholder token as a additional special token.
#@markdown Please read and if you agr

[2022-09-07 20:10] natolambert commented on #293
Okay, seems like there is some interest from North America timezone folks! Here's a list of pages that could use some contributions by category. These are a little more open-ended than the Pipelines which focus on one system.

You can see the latest docs [here](https://huggingface.co/docs/diffusers/main/en/index) where one can easily find blank pages.

Additionally, doc strings are very important!

[2022-09-07 20:27] natolambert commented on #293
`_toctree` had a typo that made the `API` heading undefined.

Fix here #406 .

[2022-09-07 20:36] patrickvonplaten commented on #293
Thanks!

[2022-09-07 21:01] patrickvonplaten commented on #389
Hey @AndreyRub,

Thanks for the message. Colud you try doing:

[code]

? We'll do a release tomorrow - but until then you need to use master for this :-)
The `0.2.4` version doesn't have this API yet ;-)

[2022-09-07 22:04] natolambert commented on #293
Large schedulers push done here in #376, ready for review.

[2022-09-07 22:15] natolambert commented on #293
Did a quick scan for typos in #408

[2022-09-07 23:43] kritonpc opened #409 "AttributeError: 'StableDiffusionPipeline' object has no attribute 'enable_attention_slicing'"
### Describe the bug

I'm getting the error ```AttributeError: 'StableDiffusionPipeline' object has no attribute 'enable_attention_slicing'``` Without it I can use stable diffusion properly, but I'm trying to save space, as it uses all 10gb off my 3080

### Reproduction

[code]

### Logs

[code]

### System Info

I actually get the error
[code]
when calling diffusers-cli env
I am on windows 10 wit

[2022-09-08 00:04] ezhang7423 opened #410 "Unet model only supports internal block channel sizes in multiples of 32"
**What API design would you like to have changed or added to the library? Why?**

I see that the current unet model breaks if `block_out_channels` is set to something other than a multiple of 32. I am just curious if this was on purpose? I would actually like to use a size smaller than 32. I tested this by changing the first element in the tuple on [line 54 ](https://github.com/huggingface/diffuse

[2022-09-08 00:15] minimaxir opened #411 "Textual Inversion training notebook only takes in remote images"
The [Textual Inversion training notebook](https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/sd_textual_inversion_training.ipynb) in Google Colab only takes in remote images, instead of also being able to take in local images either uploaded from the desktop or linked from Google Drive, both of which are more common workflows.

[code]

The inputs to the image cell s

[2022-09-08 00:52] danielpatrickhug commented on #205
Hi @patrickvonplaten, I've been working and modifying a copy of this script every day for the past 3 weeks. I would be happy to help add it! would you like a colab notebook with added video creation from generated frames? "Dream Seam" or as the exact .py file from Karpathy's repo?

[2022-09-08 02:40] exo-pla-net commented on #277
TLDR: Now that we have optimized VRAM usage, I'd argue that the next feature to expand is samplers. Devs are attached to certain samplers, and their absence here is tempting devs to develop outside of huggingface. Given that a lot of devs are attached to **k_euler_a** in particular, I think adding it to Hugging Face should be a high priority.

---

Below is my overview of where we are with sampler

[2022-09-08 02:48] exo-pla-net commented on #398
A sampler is also called a scheduler.

There is an example of changing schedulers on the [main readme](https://github.com/huggingface/diffusers):

`
from diffusers import LMSDiscreteScheduler

lms = LMSDiscreteScheduler(
    beta_start=0.00085,
    beta_end=0.012,
    beta_schedule="scaled_linear"
)

pipe = StableDiffusionPipeline.from_pretrained(
    "CompVis/stable-diffusion-v1-4",
    revision=

[2022-09-08 04:32] sidthekidder commented on #339
@rashmimarganiatgithub I'm starting LMS discrete first, since that one could take a while both at the same time might be tough! Let me see how it goes.

[2022-09-08 05:12] deepdiffuser commented on #409
This feature hasn't been released yet. In the mean time, you can install the latest main thru pip:

`pip install git+https://github.com/huggingface/diffusers.git@main`

[2022-09-08 06:15] ovshake commented on #350
No worries, thanks for the response. Let me try the things that you mentioned. I am closing the issue now.

[2022-09-08 06:15] #350 closed

[2022-09-08 07:20] patrickvonplaten commented on #287
Amazing work everyone here - we can close this issue :partying_face: Our IDEs should be happy now

[2022-09-08 07:20] #287 closed

[2022-09-08 08:02] pcuenca commented on #358
This will fixed by 12f6670 when the branch is merged. Thanks again for your help @FahimF!

[2022-09-08 08:05] FahimF commented on #358
@pcuenca Thank you for the fixes! Much obliged! Will wait for the merge eagerly 😄

[2022-09-08 08:48] satpalsr commented on #293
@patrickvonplaten Can you check if #413 and #414 look good?

[2022-09-08 10:25] AndreyRub commented on #389
Thank you, that works.
Maybe need to keep the `master` branch as previous release? Or maybe a branch per release?

[2022-09-08 10:58] QIN2DIM opened #419 "[Question] Maybe the sample code in Readme is outdated?"
## Desc

Maybe the sample code in Readme is outdated? (🤦‍♂️Or my operation is faulty. I copied and ran multiple examples directly, all with similar errors`AttributeError: 'dict' object has no attribute 'images'`.

## Env

**python** v3.10
**diffusers** v0.2.4
**huggingface-hub** v0.9.1
**transformers** v4.21.3
**torch** v1.12.1+cu116
**scipy** v1.9.1

## Screenshot
![image](https://user-images.git

[2022-09-08 11:11] QIN2DIM commented on #419
Maybe it's another situation ...
- https://github.com/huggingface/diffusers/blob/e54206d095b62f35b8e13cd9a4d86c016ae7c3d9/README.md

[2022-09-08 11:37] #292 closed

[2022-09-08 14:47] minimaxir commented on #419
The README examples assume you are installing from GitHub `main` instead of PyPI.

[2022-09-08 16:43] minimaxir commented on #419
`0.3.0` will likely be pushed soon. https://github.com/huggingface/diffusers/commit/3f55d1359fb7b93070d87c2afe9c453668249d45

[2022-09-08 18:16] nunezmatias opened #431 "AttributeError: 'AutoencoderKLOutput' object has no attribute 'sample'"
### Describe the bug

running notebook https://colab.research.google.com/github/patil-suraj/Notebooks/blob/master/image_2_image_using_diffusers.ipynb

when running this cell (after previously run all the preceding cell )

generator = torch.Generator(device=device).manual_seed(1024)
with autocast("cuda"):
    images = pipe(prompt=prompt, init_image=init_image, generator=generator)["sample"]
!    im

[2022-09-08 18:23] WASasquatch commented on #431
I'm assuming you're using the old image 2 image script, like I was doing on Easy Diffusion. This is no longer needed. You can just import the image 2 image pipeline.

[code]

[2022-09-08 18:53] patrickvonplaten commented on #431
Thanks for the message @nunezmatias - I'll update all the notebooks now :-)

[2022-09-08 19:07] patrickvonplaten commented on #431
Here the updated notebook: https://github.com/huggingface/notebooks/blob/main/diffusers/image_2_image_using_diffusers.ipynb
(much fewer lines as well :-))

[2022-09-08 19:29] #431 closed

[2022-09-08 19:52] nunezmatias commented on #431
indeed that was it. thanks!

[2022-09-08 19:53] nunezmatias commented on #431
thanks a lot. amazing work!

[2022-09-08 20:56] patrickvonplaten opened #434 "Training notebook does not seem to work with 0.3.0"
### Describe the bug

The training notebook doesn't seem to work with 0.3.0

### Reproduction

Running this google colab: https://colab.research.google.com/drive/1wAOAo9LCjWukVp6QBwpw6EwoVhsdyuNj?usp=sharing

### Logs

[code]

### System Info

!pip install diffusers[training]==0.3.0

https://colab.research.google.com/drive/1wAOAo9LCjWukVp6QBwpw6EwoVhsdyuNj#scrollTo=r5PM6vOQPISl

[2022-09-08 21:03] crypticsymmetry opened #435 "Textual inversion training notebook, 'AutoencoderKLOutput' object has no attribute 'sample'"
### Describe the bug

Been getting this error ![error_Textual_Inv](https://user-images.githubusercontent.com/29524706/189225161-3b6a846f-6996-4906-b3e8-dd41104d82e0.PNG) was working last night... I've tried restarting/refreshing/New notebook, etc no luck. How do I fix this? thanks!

### Reproduction

_No response_

### Logs

[code]

### System Info

colab notebook

[2022-09-08 21:03] patrickvonplaten commented on #409
Now also:

[code]

which should give you `0.3.0` which has `enable_attention_slicing` :-)

[2022-09-08 21:05] patrickvonplaten commented on #405
Hey @emmajane1313,

Sorry could you give us a link to the official google colab you're using? Is it the text-inversion one? cc @patil-suraj maybe

[2022-09-08 21:05] patrickvonplaten commented on #411
+1 - think this feature would make a lot of sense. cc @patil-suraj :-)

[2022-09-08 21:06] patrickvonplaten commented on #410
Agree! Happy to adapt the code to make it work for numbers different to `32`!

Could you maybe copy-post a short reproducible code snippet that you would like to have functioning? :-)
This would really help to better understand your use case.

[2022-09-08 21:07] patrickvonplaten commented on #389
Now it should also work with:

[code]

which should give you `0.3.0` :-)

[2022-09-08 21:09] patrickvonplaten commented on #435
Could point!

We need to update this notebook for `diffusers==0.3.0`!

For now could you replace:

[code]

with

[code]

[2022-09-08 21:15] crypticsymmetry commented on #435
ah gotcha. That works. thank you

[2022-09-08 21:47] patrickvonplaten commented on #435
Official notebooks are now updated as well :-)

[2022-09-08 21:47] brurpo opened #436 "Init Image strenght issue"
Hi there!
From the pipeline:
`strength (`float`, *optional*, defaults to 0.8):
                Conceptually, indicates how much to transform the reference `init_image`. Must be between 0 and 1.
                `init_image` will be used as a starting point, adding more noise to it the larger the `strength`. The
                number of denoising steps depends on the amount of noise initially added

[2022-09-08 22:10] daspartho commented on #198
Hi @patrickvonplaten
I'd be happy to work on any other variable names that need to be renamed.

[2022-09-08 23:30] QIN2DIM commented on #419
yeah~ Thank you for your reply

[2022-09-08 23:30] #419 closed

[2022-09-09 01:21] garrett361 opened #437 "Explanation of the 0.18215 factor in textual_inversion?"
https://github.com/huggingface/diffusers/blob/b2b3b1a8ab83b020ecaf32f45de3ef23644331cf/examples/textual_inversion/textual_inversion.py#L501

Hi, just a small question about the quoted script above which is bothering me: where does this `0.18215` number come from?  What computation is being done? Is it from some paper?  I have seen the same factor elsewhere, too, without explanation. Any guidance w

[2022-09-09 03:43] emmajane1313 commented on #405
hey yeah it was... it was actually just something with my auth messing
around .. so all fixed now!

On Thu, Sep 8, 2022 at 5:05 PM Patrick von Platen ***@***.***>
wrote:

[2022-09-09 04:59] wodsoe opened #438 "Out painting"
Is there outpainting example?

[2022-09-09 06:02] patil-suraj commented on #405
Glad it's fixed!

[2022-09-09 06:04] patil-suraj commented on #411
Makes sense! Will update the notebooks

[2022-09-09 06:16] patil-suraj commented on #370
good point, will fix this!

[2022-09-09 06:43] patil-suraj commented on #198
Hey @daspartho ! Awesome, there are some single letter variables in `attention.py` file, feel free to work on those if you want. I'm listing the places that needs change below.

https://github.com/huggingface/diffusers/blob/b2b3b1a8ab83b020ecaf32f45de3ef23644331cf/src/diffusers/models/attention.py#L140
https://github.com/huggingface/diffusers/blob/b2b3b1a8ab83b020ecaf32f45de3ef23644331cf/src/diffu

[2022-09-09 07:41] FahimF commented on #239
This issue appears to have cropped up again in the 0.3.0 release in `scheduling_lms_discrete.py` at line 187. I believe the fix might have been made in `scheduling_pndm.py` only perhaps?

[2022-09-09 07:49] FahimF commented on #358
Unfortunately, with the 0.3.0 release installed, this issue crops up on line 95 in `scheduling_utils.py`. Sorry 😢

[2022-09-09 08:18] CodeExplode commented on #437
That's the exact same value used in the original textual inversion code for the 'learning rate' setting. https://github.com/rinongal/textual_inversion/blob/main/configs/stable-diffusion/v1-finetune.yaml

Going by wikipedia, it seems to be how much a weight value can shift on each batch iteration (I suspect the weights are 0 to 1 or -1 to 1), or something along those lines.

[2022-09-09 09:02] patil-suraj commented on #437
Hey @garrett361

That comes from the original stable diffusion training.cf https://github.com/CompVis/stable-diffusion/blob/main/configs/stable-diffusion/v1-inference.yaml#L17

This is `scale_factor` which is used to scale the `latents` produced by the autoencoder before they are fed to the unet. Maybe @rromb can comment on why the scaling is necessary.

[2022-09-09 09:11] daspartho commented on #198
Hi @patil-suraj
Thank you for pointing out the necessary changes; I'll work on it.
I'm just not sure what the exact variable name for x should be. Can you help me?
Thanks :)

[2022-09-09 09:19] 1blackbar opened #441 "How is running locally requiring your tokenized access to ckpt file ? Is that really local ? How is that local ?"
### Describe the bug

this crap
https://discuss.huggingface.co/t/how-to-login-to-huggingface-hub-with-access-token/22498/5

So... just let us use our own path to our folders and ckpt file ok ? Like a local thing you know ?

### Reproduction

try it on miniconda, good luck !!!

### Logs

[code]

### System Info

win10 miniconda ldm env

[2022-09-09 09:25] patil-suraj commented on #436
Hey @brurpo !

That's a good point! But as stated in the philosophy here https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines#contribution
`pipelines` are intended to be "One-purpose-only" and stay as close as possible to the official implem. The goal with these pipelines is to present simple , readable implementation that users can tweak according to their needs, rather than

[2022-09-09 09:58] pcuenca commented on #358
Hi @FahimF! Works for me. Would you mind sharing a code snippet so I can try to reproduce? Also, some information about your setup could be useful. Thanks a lot!

[2022-09-09 10:14] FahimF commented on #358
@pcuenca Thank you for taking a look. Let me try to remove the fix I put in the code and come up with something simple to demonstrate the issue. I know at least one of those was while using the `StableDiffusionImg2ImgPipeline` but I don't know if that was requisite ... I was in a rush and so simply fixed the code and moved on. Should have kept better records. Sorry.

Here's what I have in my conso

[2022-09-09 10:14] rashmimarganiatgithub commented on #280
Hi @qsh-zh,

After going through your [code](https://github.com/qsh-zh/deis/blob/main/tests/test_tab_deis.py), I was able to modify the above-mentioned eps_fn()  without eps_model() with some dummy data as follows,

data_shape = (3, 13)
noise = th.ones(data_shape)

def th_eps_fn(x, t):
    del t
    return th.ones_like(x)

# mappings between t and alpha in VPSDE
# we provide popular linear and cos

[2022-09-09 10:18] Inkorak commented on #441
You're can.

[code]

[2022-09-09 10:29] ethancohen123 commented on #163
Yep if there is a training script for text2image that would be great !

[2022-09-09 10:54] patrickvonplaten opened #443 "[CoreML] Make diffusers work natively with Mac CoreML"
Required changes to make diffusers work out of the book with CoreML: https://gist.github.com/madebyollin/86b9596ffa4ab0fa7674a16ca2aeab3d?permalink_comment_id=4295017

[2022-09-09 10:55] patrickvonplaten commented on #443
cc @pcuenca @anton-l @patil-suraj

[2022-09-09 10:56] pcuenca commented on #443
/cc @hollance too.

I can do some testing here.

[2022-09-09 10:59] pcuenca commented on #358
Thanks a lot, @FahimF, I'll test the image to image pipeline and report back.

[2022-09-09 11:00] rromb commented on #437
Hi @garrett361 @patil-suraj @CodeExplode

We introduced the scale factor in the [latent diffusion paper](https://arxiv.org/abs/2112.10752). The goal was to handle different latent spaces (from different autoencoders, which can be scaled quite differently than images) with similar noise schedules. The `scale_factor` ensures that the initial latent space on which the diffusion model is operating has

[2022-09-09 11:00] sausix opened #444 "IndexError on num_inference_steps values: 3, 9, 27, ...?"
### Describe the bug

Some `num_inference_steps` values seem to be "problematic" and throw an IndexError.

Also the iteration status output does not end on that value in any relation. If it's on purpose, it's still confusing:

num_inference_steps: **5**
**6**it [00:49,  8.27s/it]

num_inference_steps: **6**
**8**it [01:02,  7.87s/it]

num_inference_steps: **7**
**9**it [01:10,  7.88s/it]

num_infe

[2022-09-09 11:04] patil-suraj commented on #398
thanks a lot for the answer @exo-pla-net ! We can always pass different schedulers when loading the pipeline.

Note: it's hacky and not recommneded but one can also set `pipe.scheduler` on already loaded pipeline.

[2022-09-09 11:34] rashmimarganiatgithub commented on #438
unfortunately, there is no outpainting for now. But can be expected very soon.

[2022-09-09 11:46] rashmimarganiatgithub commented on #198
@daspartho ,**q, k, v** can be replaced with **query,key,value**. **b, c, h, w** can be replaced with **batch,channel,height,weight** .

[2022-09-09 12:14] Inkorak commented on #277
Yeah, k_euler_a has some popularity. It is really worth implementing, at least as a selling point.

[2022-09-09 12:18] shirayu opened #447 "Prompt truncation detection and return of tokenized prompts"
**Is your feature request related to a problem? Please describe.**

There are examples of long prompts on the web, but many people are unaware that long strings are truncated.
However, there is no way to know wheter `StableDifusionPipelineOutputprompt` truncated long `prompt` or not.

Long prompts are truncated [here](https://github.com/huggingface/diffusers/blob/f6fb3282b18f44f14bcb95a34a16203906

[2022-09-09 12:35] leszekhanusz opened #448 "I made a web GUI using diffusers in the backend for Stable Diffusion"
It's using a unified pipeline which allows to do either text-to-image, image-to-image or inpainting using the same backend.

Including doing image-to-image inside an inpainting region!

![Cute bunny](https://github.com/leszekhanusz/diffusion-ui/raw/main/doc/cute_bunny.gif)

I made a short video to demo the process:
https://www.youtube.com/watch?v=AFZvW5qURes

GitHub repo: https://github.com/leszek

[2022-09-09 12:38] jonatanklosko commented on #444
I believe this is the issue well summarized in [this comment](https://github.com/CompVis/stable-diffusion/issues/111#issuecomment-1229483511).

The original bug comes from the `DDIMScheduler`:

[code]

Note how the number of steps is not `3` as we specify.

The same off-by-1 issue is present in `PNDMScheduler`:

[code]

The expected number of steps is 4, and not 5. Sidenote: it is a bit confusing

[2022-09-09 12:39] jonatanklosko commented on #444
A loosely related question: why do we need the `offset` option? As far as I can see, the original implementation doesn't have a configurable offset and it is assumed to be 1. Also, in the stable diffusion pipeline it is always set to 1:

https://github.com/huggingface/diffusers/blob/5adb0a7bf7fee1732f307dfda9013bf2cf7b0ff9/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L220-

[2022-09-09 13:07] garrett361 commented on #437
Perfect @rromb, yes, I was looking for the principle which led to one number versus another. (Sec. 4.3.2 and Appendices D.1 and G, for anyone looking.)

To make sure I'm understanding, it sounds like you arrived at `scale_factor = 0.18215` by averaging over a bunch of examples generated by the vae, in order to ensure they have unit variance with the variance taken over all dimensions simultaneousl

[2022-09-09 13:07] #437 closed

[2022-09-09 13:10] allo- commented on #438
At least using the inpating or img2img pipelines it doesn't seem to work without at least sketching what you want to have in the outpainted parts (and you often still have hard lines on the boundary of the original image).

[2022-09-09 13:25] sausix commented on #444
I am sorry for opening duplicate report. Did not see that. I made a search for "num_inference_steps", not for "ddim_steps". But searching now for "num_inference_steps" also does not show this thread.

[2022-09-09 13:26] jonatanklosko commented on #444
@sausix the issue I referenced is in another repository, so it's all good :)

[2022-09-09 13:29] leszekhanusz commented on #438
@allo-

It's because of this bug: #261 and is fixed by applying the recommended fix.

[2022-09-09 15:18] patrickvonplaten commented on #339
Usually it's good to make one PR per issue! We try our PRs to be laser-focused for an issue only, so I think it would be good to keep the PRs separated to begin with :-)

[2022-09-09 15:23] patrickvonplaten commented on #338
Yes for us as well @sidthekidder - we're looking into fixing this one in https://github.com/huggingface/diffusers/pull/268

[2022-09-09 15:29] patrickvonplaten commented on #322
That sounds great @gradjitta!

To begin with I think you should try to get inference working with the original codebase (ideally in a google colab) and then we can start porting the code over to `diffusers`. Would you like to setup a google colab we could work on together maybe? :-)

[2022-09-09 15:31] daspartho commented on #198
Thank you for clarifying, @rashmimarganiatgithub. I'll start a PR soon.

[2022-09-09 15:50] patil-suraj commented on #410
Hey @ezhang7423 !Thank you for opening the issue.

It needs to be multiple of 32 because the `norm_num_groups` is set to 32. Opened a PR to fix this.
Also note that the `block_out_channels` values needs to be multiple of `norm_num_groups`.

[2022-09-09 15:54] patil-suraj commented on #443
Fix is here #445, #446

[2022-09-09 15:58] patil-suraj commented on #319
Hey @unography awesome! Happy to help here if you have any questions.

[2022-09-09 16:02] patil-suraj commented on #163
Coming soon #356

[2022-09-09 16:07] daspartho commented on #198
I've opened a PR for the issue :) #449

[2022-09-09 17:14] pcuenca commented on #372
In the second part of [this comment](https://github.com/pytorch/pytorch/issues/84039#issuecomment-1241973904) I documented a similar behaviour using `einsum` vs `matmul`. I used @patil-suraj's branch to run the tests without the warmup pass, but they still failed. So there must be other ops that have a similar behaviour.

[2022-09-09 19:15] pcuenca opened #452 "Performance degradation in `mps` after `einsum` replacement"
Before #445 was merged I was getting ~31s inference time in `mps`. After the change, time goes up to 42s. I verified again in `main` @ `b2b3b1a`, and time is again 31s.

I haven't checked other platforms yet.

Any ideas, @patil-suraj?

[2022-09-09 20:36] utsavnandi commented on #293
Hi, there is a minor mistake in https://github.com/huggingface/diffusers/blob/main/docs/source/installation.mdx #402

`git clone https://github.com/huggingface/diffusers.git
cd transformers
pip install -e .`

The user should cd to diffusers not transformers ! Don't know where to report this, so mentioning this here.

[2022-09-09 20:48] allo- opened #454 "The first image generated with LMSScheduler is completely green"
### Describe the bug

The first image generated with LMSScheduler is just a green image.

### Reproduction

Run with:

    lms = LMSDiscreteScheduler(beta_start=0.00085, beta_end=0.012, beta_schedule="scaled_linear"
    pipe = StableDiffusionPipeline.from_pretrained(..., scheduler=lms)

instead of using the default scheduler. Then the first image is completely green. The workaround I am using is t

[2022-09-09 20:49] daspartho commented on #293
@utsavnandi Thank you for pointing it out; I've created a PR to address it :)

[2022-09-09 21:08] fabianmax opened #455 "`NotImplementedError` for `aten::index.Tensor` when using `mps`"
### Describe the bug

I tried to use `StableDiffusionPipeline` with the lately added support for M1 (`mps`) as described in this [tweet](https://twitter.com/pcuenq/status/1567927480253808647).

Despite having installed the latest (preview) nighly PyTorch Build via
`pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu`, I ran into an `NotImp

[2022-09-09 21:33] abesmon opened #457 "Strange blue artifacts when running on MPS"
### Describe the bug

When running SD on mps, pictures appears with strange blue artifacts.

They appear on any count of inference steps. I tried on 50 and on 100. Blue noise everywhere

![astronaut_rides_horse](https://user-images.githubusercontent.com/16459467/189448686-5ddafd8a-8182-4b1d-b6c0-68adb5b7e34d.png)
![robotic artist drawing on apple macbook_1](https://user-images.githubusercontent.co

[2022-09-09 21:39] fabianmax commented on #455
PyTorch 1.13.x is not available as pre-built binary, correct? So installing from source is the only option I guess?

[2022-09-09 21:48] abesmon commented on #455
You can get it from nightly builds:

`pip3 install --upgrade --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu`

[2022-09-09 22:04] abesmon commented on #457
it seems that it was caused by PyTorch version. I've upgraded to `1.13.0.dev20220909` and now everything's fine:

![robotic artist drawing on apple macbook_2](https://user-images.githubusercontent.com/16459467/189451944-2b661bfa-034d-4e37-bffc-f34f29580d3e.png)
![robotic artist drawing on apple macbook_3](https://user-images.githubusercontent.com/16459467/189451954-83e4c796-fd23-4e50-b413-64a8ade0

[2022-09-09 22:04] #457 closed

[2022-09-09 22:06] abesmon commented on #457
strange thing: new PyTorch version dramatically slows everything down.

previously (1.13.0.dev20220604) inference step took ~ 2s
now (1.13.0.dev20220909) it takes ~7-8s

[2022-09-09 22:17] abesmon commented on #452
I'm not sure if its related, but I found another performance degradation and it seems related to PyTorch version:

previously (1.13.0.dev20220604) inference step took ~ 2s
now (1.13.0.dev20220909) it takes ~7-8s

(found while working with #457)

[2022-09-10 00:14] keturn opened #458 "API: move pipeline's `output_type` to its Output object"
Now that Pipelines return a well-defined PipelineOutput object, I suggest something along the lines of
[code]

That retains the functionality of having PIL Image support built-in to diffusers while also making the return types unambiguous.

[2022-09-10 05:54] deepdiffuser opened #459 "Incremental Diffusion"
**Is your feature request related to a problem? Please describe.**

An interesting feature for consumers of the `diffusers` API may be *incremental diffusion*, that is, the ability to parse diffusion results at every `n` steps during the pipeline run.

**Describe the solution you'd like**
One way of implementing this is through a callback as an optional kwarg to the diffusion pipeline, as here (ht

[2022-09-10 05:55] patil-suraj commented on #452
@pcuenca I tried this on v100, and didn't see any `degradation`. Also pinging @patrickvonplaten @anton-l

[2022-09-10 05:56] patil-suraj commented on #457
cc @pcuenca

[2022-09-10 07:34] Vijayabhaskar96 opened #460 "Stable Diffusion ONNX requires cpu `onnxruntime` even if CUDA version is installed"
### Describe the bug

The ONNX support doesn't work with `CUDAExecutionProvider` I installed `onnxruntime-gpu`
Running
`import onnxruntime as ort
ort.get_device()`
results
`GPU`
and
`ort.get_available_providers()`
results
`['CPUExecutionProvider', 'TensorrtExecutionProvider', 'CUDAExecutionProvider']`
but diffusers complains onnxruntime not installed and wants me to install the cpu version(pip ins

[2022-09-10 08:17] fabianmax commented on #455
yes thanks, now it's working on `mps`.

[2022-09-10 08:17] #455 closed

[2022-09-10 09:15] FahimF opened #462 "StableDiffusionImg2ImgPipeline broken in 0.3.0 release for Apple MPS"
### Describe the bug

Using StableDiffusionImg2ImgPipeline before the 0.3.0 release used to generate images correctly on Apple Silicon devices. Now, if you use StableDiffusionImg2ImgPipeline, all you get is a brown image.

I've copied and pasted the sample code from the docs (with a few minor modifications) and tried on both an Apple Silicon device and on Google Colab and the it works on Google Co

[2022-09-10 15:01] rashmimarganiatgithub commented on #176
Hi,
@patrickvonplaten if none are working on this bug, I can take this up. Can you help me to know what needs to be done here?.

[2022-09-10 18:24] dvIdol opened #463 "Super Resolution Diffusion Model"
Hello.

I am very interested in the unconditional image generation pipelines. Like in this example here:
https://github.com/huggingface/diffusers/tree/main/examples/unconditional_image_generation

I have trained a network that is 128x128 and it gives very good results for what I need. However the resolution is very low.

The main diffusers readme mentions a super resolution diffusion model that co

[2022-09-10 18:50] qsh-zh commented on #280
@rashmimarganiatgithub  here is [one demo](https://github.com/qsh-zh/deis/blob/main/demo/discrete_celeba/runner/runner.py#L185-L214) in celeba based on PNDM codebase.

`eps_fn` is for predicting noise added to noised data. For example, the loss function of continuous DDPM follows, where the first argument of epsilon model is noise data `x_t`
![image](https://user-images.githubusercontent.com/28699

[2022-09-10 20:13] pcuenca commented on #460
Works for me. Could you please paste the exact error messages you get when you run the example? Thanks!

[2022-09-10 20:17] pcuenca commented on #452
@patil-suraj There's no degradation in 3090 either, or in CPU (Linux). So this appears to only affect the `mps` device.

[2022-09-10 20:52] natolambert commented on #444
Thanks for all the details on this, I'm going to take a look.

[2022-09-10 20:53] natolambert commented on #444
@jonatanklosko I wrote the scheduler docs and saw the offset parameter in multiple schedulers. When I worked on them more it wasn't there, so I need to do more reading before writing accurate docs, so I'll look at this too (maybe we should make another issue for it, depending on how fast all these can be solved).

[2022-09-10 21:40] natolambert commented on #444
Okay, I've tracked down what `offset` is for, seems like it's used to make the final timestep of inference in stable diffusion `1` rather than zero.

You can see where it is used in diffusers with [this search](https://github.com/huggingface/diffusers/search?q=offset) (the stable diffusion pipelines). This is matching the stable diffusion implementation [here](https://github.com/CompVis/stable-dif

[2022-09-10 22:06] jonatanklosko commented on #444
@natolambert yeah, my confusion was mostly that in the original implementation it is set to 1 and same in the stable diffusion pipeline, so I wondered if `offset=0` is ever used. Now I looked for [set_timesteps](https://github.com/huggingface/diffusers/search?q=set_timesteps) and looks like in most cases offset is not specified.

Interestingly in CompVis/latent-diffusion they also use offset of 1

[2022-09-10 22:07] natolambert commented on #444
Yeah I just realized the 1 vs `int` difference. I'm not sure, if you want more on that open another issue.

[2022-09-10 22:10] natolambert commented on #444
@patrickvonplaten @patil-suraj, I'm not sure about the discrepancy @jonatanklosko brings up above with the indexing and offset.

I vaguely remember there being some of the PNDM tests failing a while back confusing people. Maybe it was because this change was introduced? I'll keep looking a bit.

[2022-09-10 22:14] natolambert commented on #444
@jonatanklosko I can tell you that the `PNDMScheduler` and `DDIMScheduler` have indexed the alpha's differently for a while. Before introducing offset, `PNDMScheduler` had

[code]

Though I'm not sure why `DDIMScheduler` isn't shifted by the offset.

[2022-09-10 22:15] natolambert commented on #444
@jonatanklosko Can you make new issues for these? I don't love straying away from the original subject. Makes it harder for us to keep track of everything 🤗

[2022-09-10 22:18] jonatanklosko commented on #444
@natolambert sure I will!

I'm also looking through https://github.com/openai/glide-text2im and I'm almost sure they don't use the 1 offset there, so maybe that's the reason for making it configurable.

[2022-09-10 22:21] natolambert opened #465 "Discrepancy in scheduler `offset` usage"
**What API design would you like to have changed or added to the library? Why?**

@jonatanklosko brought up an issue with some confusing code (why are `alphas` indexed differently across `PNDMScheduler` and `DDIMScheduler`), and some inconsistency in the offset usage.

Two questions:
1. Why does only one shift by offset?
2. Can `offset` be changed from an arbitrary `int` to a `bool` setting that s

[2022-09-10 22:22] natolambert commented on #444
I opened #465 to keep this on track about the indexing error.

[2022-09-10 22:24] natolambert commented on #465
Additional info from @jonatanklosko :

[2022-09-10 22:24] jonatanklosko commented on #444
@natolambert perfect, thank you!

[2022-09-10 22:58] jonatanklosko commented on #465
Looking specifically at

[code]

I think it doesn't work as expected. The last timestamp is always `0 + offset`, so this means for that timestamp we will always get `alpha[1]`, no matter what the timestamp actually is (same goes for other timesteps actually). This means that unless `offset=1`, we will use wrong a alpha.

[2022-09-10 23:17] jonatanklosko commented on #465
As far as I understand in CompVis/stable-diffusion the offset is 1, so the last timestep is `1` and they use timestep `0` for the previous alpha. In openai/glide-text2im on the other hand, the offset is 0 and for timestamp `0` the previous alpha is fixed to the value of 1.

Currently `DDIMScheduler` has the `set_alpha_to_one` option, so both of the approaches can be replicated with `offset=1, set_